<!-- START REGISTRATION FORM -->
<section class="registrationForm employerInnerSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="registrationFormOuter">
               <h2 class="pageTitle">Post a Free Job</h2>
               <div class="prevDropdown">
                  <h6>Previously Free Posted Job</h6>
                  <div class="input-field">
                     <span class="icon jobIcon"></span>
                     <select (change)="jobOnChange($event.target.value)">
                        <option selected="selected" disabled="disabled">Previously Free Posted Job</option>
                        <option [value]="1">Create New Free Posted Job</option>
                        <option [value]="free_posted_job._id" *ngFor="let free_posted_job of free_posted_jobs; index as i;">{{free_posted_job.job_title}}</option>
                     </select>
                  </div>
               </div>
               <form [formGroup]="jobPostForm">
                  <div class="registrationFormInner">
                     <div class="part-sec">
                        <div class="field-container">
                           <div class="input-field required">
                              <span class="icon jobIcon"></span>
                              <input id="jobTitle" type="text" class="validate" autocomplete="off" formControlName="job_title" (keyup)="searchAutoComplete($event.target.value)">
                              <label for="jobTitle" [ngClass]="{'active':jobPostForm.get('job_title').value}">Job Title</label>
                              <div class="state-container-dropdown" *ngIf="show_jb_title_srh">
                               <ng-container *ngFor="let data of job_titles">
                                 <div class="state" (click)="autoCompleteSearch(data)">
                                    <span>{{data.job_title}}</span>
                                 </div>
                               </ng-container>
                             </div> 
                           </div>
                           <span *ngIf="(isSubmit && jobPostForm.get('job_title').errors) || ((jobPostForm.get('job_title').touched || jobPostForm.get('job_title').dirty)
                              && jobPostForm.get('job_title').errors)">
                           <span *ngIf="jobPostForm.get('job_title').errors.required "
                              class="form-error">Please enter job title</span>
                           <span *ngIf=" jobPostForm.get('job_title').errors.maxlength" 
                          class="form-error">Job title can't be morethan 50 characters</span>
                           </span>
                        </div>
                        <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field required">
                                    <span class="icon locationIcon"></span>
                                    <select formControlName="country_id" class="validate">
                                       <option value="" selected>Job Location - Country</option>
                                       <option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
                                    </select>
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('country_id').errors) || ((jobPostForm.get('country_id').touched || jobPostForm.get('country_id').dirty)
                                    && jobPostForm.get('country_id').errors)">
                                 <span *ngIf="jobPostForm.get('country_id').errors.required "
                                    class="form-error">Please select country</span>
                                 </span> 
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field required">
                                    <span class="icon locationIcon"></span>
                                    <select formControlName="city_id">
                                       <option value="" selected>Job Location - City</option>
                                       <option value="{{city._id}}" *ngFor="let city of coutryWiseCity">{{city.name}}</option>
                                    </select>
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('city_id').errors) || ((jobPostForm.get('city_id').touched || jobPostForm.get('city_id').dirty)
                                    && jobPostForm.get('city_id').errors)">
                                 <span *ngIf="jobPostForm.get('city_id').errors.required "
                                    class="form-error">Please select city</span>
                                 </span> 
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field required">
                                    <!-- <span class="icon jobDesIcon"></span> -->
                                    <div formControlName="about_this_job" [ngxSummernote]="aboutconfig"></div>
                                    <!-- <textarea rows="4" class="form-control" placeholder="About This Job" formControlName="about_this_job"></textarea> -->
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('about_this_job').errors) || ((jobPostForm.get('about_this_job').touched || jobPostForm.get('about_this_job').dirty)
                                    && jobPostForm.get('about_this_job').errors)">
                                 <span *ngIf="jobPostForm.get('about_this_job').errors.required"
                                    class="form-error">Please enter about this job</span>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field required">
                                    <div class="multiselectdropdownOuter">
                                       <div class="input-field">
                                          <span class="icon industryIcon"></span>
                                             <div class="input_text">
                                                <ng-container *ngFor="let industry of storeMultiSelect.industries_name; index as i;">
                                                   <span class="selected-span">{{industry.length > 10 ? industry.slice(0,10)+ '...': industry}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'industry')"></i></span></span>
                                                </ng-container>
                                               <span class="dropdown-search">  
                                                <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="industries" placeholder="Select Industry" (click)="getOnchangeEvent('industries')" maxlength="15">
                                                <app-multi-select *ngIf="industriesDiv" 
                                                [mainDataArray]="industries"
                                                [storedValue]="storeMultiSelect.industries_value"
                                                [storedName]="storeMultiSelect.industries_name"  
                                                [field_name] ="'industries'"
                                                (sendDataEvent)="getChange($event)"
                                                [maxLength]="2" 
                                                (checkOutsideEvent)="checkmultiselect($event)" 
                                                (multidataSelect)="multiselectAll($event)">                                 
                                                </app-multi-select>
                                               </span>
                                             </div>
                                       </div>
                                    </div>
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('industry_id').errors) || ((jobPostForm.get('industry_id').touched || jobPostForm.get('industry_id').dirty)
                                    && jobPostForm.get('industry_id').errors)">
                                 <span *ngIf="jobPostForm.get('industry_id').errors.required "
                                    class="form-error">Please select industry</span>
                                 </span> 
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field required">
                                    <span class="icon employeeIcon"></span>
                                    <select formControlName="employement_for">
                                       <option value="" selected>Employment for</option>
                                       <!-- <option>International Candidate</option>
                                          <option>Domestic/International Candidate</option>
                                          <option>Domestic Candidate</option> -->
                                       <option value="{{empFor._id}}" *ngFor="let empFor of emplymentFor">{{empFor.name}}</option>
                                    </select>
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('employement_for').errors) || ((jobPostForm.get('employement_for').touched || jobPostForm.get('employement_for').dirty)
                                    && jobPostForm.get('employement_for').errors)">
                                 <span *ngIf="jobPostForm.get('employement_for').errors.required "
                                    class="form-error">Please select Employment for</span>
                                 </span> 
                              </div>
                           </div>
                           
                        </div>
                        <!-- <div class="row">

                           <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field required">
                                    <div class="multiselectdropdownOuter">
                                       <div class="input-field">
                                          <span class="icon industryIcon"></span>
                                          <div class="input_text">
                                                <ng-container *ngFor="let department of storeMultiSelect.department_name; index as i;">
                                                   <span class="selected-span">{{department.length > 10 ? department.slice(0,10)+ '...': department}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'department')"></i></span></span>
                                                </ng-container>
                                               <span class="dropdown-search">  
                                                <input type="text" readonly="true" style="width: 300px !important;" class="degree multiselect-text-input"  autocomplete="off" name="departments" placeholder="Current Department / Functional area" (click)="getOnchangeEvent('department')">
                                                   <app-multi-select *ngIf="departmentDiv" 
                                                   [mainDataArray]="departments" 
                                                   [storedValue]="storeMultiSelect.department_value"
                                                   [storedName]="storeMultiSelect.department_name" 
                                                   [field_name] ="'departments'"
                                                   (sendDataEvent)="getChange($event)" 
                                                   (checkOutsideEvent)="checkmultiselect($event)" 
                                                   (multidataSelect)="multiselectAll($event)">                                 
                                                   </app-multi-select>
                                               </span>
                                             </div>                                          
                                       </div>
                                    </div>
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('department_id').errors) || ((jobPostForm.get('department_id').touched || jobPostForm.get('department_id').dirty)
                                    && jobPostForm.get('department_id').errors)">
                                 <span *ngIf="jobPostForm.get('department_id').errors.required "
                                    class="form-error">Please select department</span>
                                 </span> 
                              </div>
                           </div>
                           
                        </div> -->

                        <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field required">
                                    <div class="chips-placeholder">
                                          <div class="chips">
                                              <tag-input [(ngModel)]='skill_key'  [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Add skills" placeholder="+ skill" addOnBlur="addOnBlur">
                                                 <tag-input-dropdown [autocompleteObservable]='requestAutocompleteSkill'>
                                                 </tag-input-dropdown>
                                              </tag-input>
                                          </div>
                                    </div> 
                                    <span class="icon jobIcon"></span>
                                 </div>
                                 <!-- <textarea rows="4" class="form-control" placeholder="Skill required" formControlName="required_skill"></textarea> -->
                                 <span *ngIf="(isSubmit && jobPostForm.get('required_skill').errors) || ((jobPostForm.get('required_skill').touched || jobPostForm.get('required_skill').dirty)
                                    && jobPostForm.get('required_skill').errors)">
                                 <span *ngIf="jobPostForm.get('required_skill').errors.required"
                                    class="form-error">Please enter required skill</span>
                                 </span>                
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field">
                                    <!-- <span class="icon benefitIcon"></span>
                                    <textarea rows="4" class="form-control" placeholder="Benefit" formControlName="benefits"></textarea> -->
                                    <div formControlName="benefits" [ngxSummernote]="benefitsconfig"></div>
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('benefits').errors) || ((jobPostForm.get('benefits').touched || jobPostForm.get('benefits').dirty)
                                    && jobPostForm.get('benefits').errors)">
                                 <span *ngIf="jobPostForm.get('benefits').errors.required"
                                    class="form-error">Please enter benefits</span>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field required">
                                    <span class="icon experienceIcon"></span>
                                    <select formControlName="min_experiance">
                                       <option value="" selected>Minimum Experience</option>
                                       <option value="{{expr._id}}" *ngFor="let expr of experiance">{{expr.name}} Years</option>
                                    </select>
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('min_experiance').errors) || ((jobPostForm.get('min_experiance').touched || jobPostForm.get('min_experiance').dirty)
                                    && jobPostForm.get('min_experiance').errors)">
                                 <span *ngIf="jobPostForm.get('min_experiance').errors.required "
                                    class="form-error">Please select min experiance</span>
                                 </span>
                              </div>
                           </div>
                           <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field required">
                                    <span class="icon experienceIcon"></span>
                                    <select formControlName="max_experiance">
                                       <option value="" selected>Maximum Experience</option>
                                       <option value="{{expr._id}}" *ngFor="let expr of experiance">{{expr.name}} Years</option>
                                    </select>
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('max_experiance').errors) || ((jobPostForm.get('max_experiance').touched || jobPostForm.get('max_experiance').dirty)
                                    && jobPostForm.get('max_experiance').errors)">
                                 <span *ngIf="jobPostForm.get('max_experiance').errors.required"
                                    class="form-error">Please select max experiance</span>
                                 <span *ngIf="jobPostForm.get('max_experiance').errors.error_min_max_exp"
                                    class="form-error">Max experiance canot be less than min experiance</span>
                                 </span>
                              </div>
                           </div>
                           <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field">
                                    <span class="icon employeeIcon"></span>
                                    <select formControlName="candidate_type">
                                       <option value="" selected>Select Candidate Type</option>
                                       <option value="1">Male & Female both</option>
                                       <option value="2">Only for Male</option>
                                       <option value="3">Only for Female</option>
                                    </select>
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('candidate_type').errors) || ((jobPostForm.get('candidate_type').touched || jobPostForm.get('candidate_type').dirty)
                                    && jobPostForm.get('candidate_type').errors)">
                                 <span *ngIf="jobPostForm.get('candidate_type').errors.required"
                                    class="form-error">Please select candidate type</span>
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="part-sec">
                        <h3>Education Details</h3>
                        <div class="part-content">
                           <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                 <div class="field-container">
                                    <div class="multiselectdropdownOuter">
                                       <label>Education Qualifications</label>
                                       <div class="input-field">
                                          <span class="icon employeeIcon"></span>
                                           <div class="input_text">
                                                <ng-container *ngFor="let undergraduate of storeMultiSelect.undergraduate_name; index as i;">
                                                   <span class="selected-span" *ngIf="getSubData(undergraduate,'under-graduate')== ''">{{undergraduate.length > 10 ? undergraduate.slice(0,10)+ '...': undergraduate}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'undergraduate')"></i></span></span>

                                                   <span class="selected-span" (mouseenter)="show_sub_under[i]= true;" (mouseleave)="show_sub_under[i]= false;" *ngIf="getSubData(undergraduate,'under-graduate')!= ''">{{undergraduate}} <span class="sub_selection" *ngIf="!show_sub_under[i]">{{getSubData(undergraduate,'under-graduate')}}</span><span class="cross_icon" *ngIf="show_sub_under[i]"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'undergraduate')"></i></span></span>

                                                   
                                                </ng-container>
                                               <span class="dropdown-search">  
                                               <input type="text" class="degree multiselect-text-input" name="min_qualification" autocomplete="off" placeholder="Choose Degree" (click)="getOnchangeEvent('undergraduate')">
                                                   <app-multi-select *ngIf="underGraduateDiv" 
                                                   [mainDataArray]="under_graduates"
                                                   [storedValue]="storeMultiSelect.undergradute_value"
                                                   [storedName]="storeMultiSelect.undergraduate_name" 
                                                   [field_name] ="'min_qualification'"
                                                   (sendDataEvent)="getChange($event)" 
                                                   (sendSubDataEvent)="getSubChange($event)"
                                                   (checkOutsideEvent)="checkmultiselect($event)" 
                                                   (multidataSelect)="multiselectAll($event)">                                 
                                                   </app-multi-select>
                                               </span>
                                             </div> 
                                             <span *ngIf="(isSubmit && jobPostForm.get('min_qualification').errors) || ((jobPostForm.get('min_qualification').touched || jobPostForm.get('min_qualification').dirty)
                                       && jobPostForm.get('min_qualification').errors)">
                                    <span *ngIf="jobPostForm.get('min_qualification').errors.required "
                                       class="form-error">Please select qualification</span>
                                    </span>                                          
                                       </div>
                                    </div>
                                    
                                 </div>
                                 <!-- <div class="field-container">
                                    <div class="radioOuter radioOuterSec">
                                       <label>
                                       <input name="graduate_and_or_post_graduate" type="radio" value="1" formControlName="graduate_and_or_post_graduate">
                                       <span>And</span>
                                       </label>
                                       <label>
                                       <input name="graduate_and_or_post_graduate" type="radio" value="2" formControlName="graduate_and_or_post_graduate">
                                       <span>Or</span>
                                       </label>
                                    </div>
                                 </div>
                                 <div class="field-container">
                                    <div class="multiselectdropdownOuter">
                                       <label>Post Graduate and Doctorate</label>
                                       <div class="input-field">
                                          <span class="icon employeeIcon"></span>
                                           <div class="input_text">
                                                <ng-container *ngFor="let postgraduate of storeMultiSelect.postgraduate_name; index as i;">
                                                  <span class="selected-span" *ngIf="getSubData(postgraduate,'post-graduate')== ''">{{postgraduate.length > 10 ? postgraduate.slice(0,10)+ '...': postgraduate}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'postgraduate')"></i></span></span>

                                                   <span class="selected-span" (mouseenter)="show_sub[i]= true;" (mouseleave)="show_sub[i]= false;" *ngIf="getSubData(postgraduate,'post-graduate')!= ''">{{postgraduate}} <span class="sub_selection" *ngIf="!show_sub[i]">{{getSubData(postgraduate,'post-graduate')}}</span><span class="cross_icon" *ngIf="show_sub[i]"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'postgraduate')"></i></span></span>

                                                </ng-container>
                                               <span class="dropdown-search">  
                                                <input type="text" class="degree multiselect-text-input" name="max_qualification" placeholder="Choose Degree" (click)="getOnchangeEvent('postgraduate')" autocomplete="off">
                                                <app-multi-sub-select *ngIf="postGraduateDiv" 
                                                [mainDataArray]="post_graduates"
                                                [storedValue]="storeMultiSelect.postgraduate_value"
                                                [storedName]="storeMultiSelect.postgraduate_name" 
                                                [storedSubValue]="storeMultiSelect.postgraduate_sub_value"
                                                [field_name] ="'max_qualification'"
                                                (multidataSelect)="multiselectAll($event)"                                 
                                                (sendDataEvent)="getChange($event)" 
                                                (sendSubDataEvent)="getSubChange($event)"
                                                (checkOutsideEvent)="checkmultiselect($event)">                                 
                                                </app-multi-sub-select>
                                               </span>
                                             </div>  
                                       </div>
                                    </div>
                                 </div> -->
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="part-sec">
                        <div class="field-container">
                           <div class="input-field">
                              <!-- <span class="icon jobIcon"></span>
                              <textarea rows="4" class="form-control" placeholder="Primary Responsibility" formControlName="primary_responsibility"></textarea> -->
                              <div formControlName="primary_responsibility" [ngxSummernote]="responsconfig"></div>
                           </div>
                           <span *ngIf="(isSubmit && jobPostForm.get('primary_responsibility').errors) || ((jobPostForm.get('primary_responsibility').touched || jobPostForm.get('primary_responsibility').dirty)
                              && jobPostForm.get('primary_responsibility').errors)">
                           <span *ngIf="jobPostForm.get('primary_responsibility').errors.required "
                              class="form-error">Please enter primary responsibility</span>
                           </span>
                        </div>
                        <div class="row">
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field required">
                                    <span class="icon employeeIcon"></span>
                                    <select formControlName="employment_type">
                                       <option value="" selected>Employment Type</option>
                                       <option value="{{type._id}}" *ngFor="let type of empType">{{type.name}}</option>
                                    </select>
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('employment_type').errors) || ((jobPostForm.get('employment_type').touched || jobPostForm.get('employment_type').dirty)
                                    && jobPostForm.get('employment_type').errors)">
                                 <span *ngIf="jobPostForm.get('employment_type').errors.required "
                                    class="form-error">Please select employment type</span>
                                 </span>
                              </div>
                           </div>
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field required">
                                    <span class="icon vacancyIcon"></span>
                                    <!--<select formControlName="number_of_vacancies">
                                       <option value="" selected>No. of Vacancy</option>
                                       <option value="{{vacancies.id}}" *ngFor="let vacancies of noOfVacancies">{{vacancies.name}}</option>
                                    </select>-->
                                    <input id="num_vacanci" type="text" class="validate" formControlName="number_of_vacancies">
                                    <label for="num_vacanci" [ngClass]="{'active':jobPostForm.get('number_of_vacancies').value}">No. of Vacancy</label>
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('number_of_vacancies').errors) || ((jobPostForm.get('number_of_vacancies').touched || jobPostForm.get('number_of_vacancies').dirty)
                                    && jobPostForm.get('number_of_vacancies').errors)">
                                 <span *ngIf="jobPostForm.get('number_of_vacancies').errors.required "
                                    class="form-error">Please select number of vacancies</span>
                                 </span>
                              </div>
                           </div>
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="multiselectdropdownOuter">
                                    <div class="input-field">
                                       <span class="icon langIcon"></span>
                                           <div class="input_text">
                                                <ng-container *ngFor="let lang of noSearchSelect.lang_name; index as i;">
                                                   <span class="selected-span">{{lang.length > 10 ? lang.slice(0,10)+ '...': lang }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'language')"></i></span></span>
                                                </ng-container>
                                               <span class="dropdown-search">  
                                                   <input type="text" class="degree multiselect-text-input" name="select_multiple_field" placeholder="Language Preference" (click)="getOnchangeEvent('language')" autocomplete="off">
                                                   <app-multiselect-nosearch *ngIf="laguageDiv" 
                                                   [hasSearch]="1"
                                                   [mainDataArray]="languages" 
                                                   [storedValue]="noSearchSelect.lang_value"
                                                   (sendDataEvent)="noSearchGetchange($event)" 
                                                   (checkOutsideEvent)="checknoSearchmultiSelect($event)">   
                                                   </app-multiselect-nosearch> 
                                               </span>
                                             </div>                                       
                              <span *ngIf="(isSubmit && jobPostForm.get('language_pref').errors) || ((jobPostForm.get('language_pref').touched || jobPostForm.get('language_pref').dirty)
                                       && jobPostForm.get('language_pref').errors)">
                                    <span *ngIf="jobPostForm.get('language_pref').errors.required "
                                       class="form-error">Please select language preference</span>
                                    </span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="part-sec">
                        <h3>Salary</h3>
                        <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="radioOuterSec">
                            <label>
                              <input name="salary_type" formControlName="salary_type" type="radio" value="hourly"/>
                              <span>Hourly</span>
                            </label>
                            <label>
                              <input name="salary_type" formControlName="salary_type" type="radio" value="weekly"/>
                              <span>Weekly</span>
                            </label>
                            <label>
                              <input name="salary_type" formControlName="salary_type" type="radio" value="monthly"/>
                              <span>Monthly</span>
                            </label>
                            <span *ngIf="(isSubmit && jobPostForm.get('salary_type').errors) || ((jobPostForm.get('salary_type').touched || jobPostForm.get('salary_type').dirty) && jobPostForm.get('salary_type').errors)">
                        <span *ngIf="jobPostForm.get('salary_type').errors.required " class="form-error">Please select salary</span></span>
                          </div>
                           </div>
                           <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field required">
                                    <span class="icon experienceIcon"></span>
                                    <select formControlName="currency">
                                       <option value="" selected>Select Currency</option>
                                       <!-- <option value="{{currency_val._id}}" *ngFor="let currency_val of all_currency">{{currency_val.currency}}</option> -->
                                       <option value="{{currency.value[0]._id}}" *ngFor="let currency of all_currency | keyvalue">{{currency.key}} ({{currency.value[0].currency_code}})</option>
                                    </select>
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('currency').errors) || ((jobPostForm.get('currency').touched || jobPostForm.get('currency').dirty)
                                    && jobPostForm.get('currency').errors)">
                                 <span *ngIf="jobPostForm.get('currency').errors.required"
                                    class="form-error">Please select currency</span>
                                 </span>
                              </div>
                           </div>
                           <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field required" [ngClass]="{'error':(isSubmit && jobPostForm.get('min_monthly_salary').errors) || (jobPostForm.get('min_monthly_salary').touched && jobPostForm.get('min_monthly_salary').errors)}">
                                    <span class="icon salaryIcon"></span>
                                    <input id="min_monthly_salary" type="number" class="validate" formControlName="min_monthly_salary" min="1">
                                    <label for="min_monthly_salary" [ngClass]="{'active':jobPostForm.get('min_monthly_salary').value}">Min Salary</label>
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('min_monthly_salary').errors) || ((jobPostForm.get('min_monthly_salary').touched || jobPostForm.get('min_monthly_salary').dirty)
                                    && jobPostForm.get('min_monthly_salary').errors)">
                                 <span *ngIf="jobPostForm.get('min_monthly_salary').errors.required "
                                    class="form-error">Please enter min salary</span>
                                 </span>
                              </div>
                              
                           </div>
                           <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field required" [ngClass]="{'error':(isSubmit && jobPostForm.get('max_monthly_salary').errors) || (jobPostForm.get('max_monthly_salary').touched && jobPostForm.get('max_monthly_salary').errors)}">
                                    <span class="icon salaryIcon"></span>
                                   <input id="max_monthly_salary" type="number" class="validate" formControlName="max_monthly_salary" min="1">
                                    <label for="max_monthly_salary" [ngClass]="{'active':jobPostForm.get('max_monthly_salary').value}">Max Salary</label>
                                 </div>
                                 <span *ngIf="(isSubmit && jobPostForm.get('max_monthly_salary').errors) || ((jobPostForm.get('max_monthly_salary').touched || jobPostForm.get('max_monthly_salary').dirty)
                                    && jobPostForm.get('max_monthly_salary').errors)">
                                 <span *ngIf="jobPostForm.get('max_monthly_salary').errors.required "
                                    class="form-error">Please enter max salary</span>
                                 <span *ngIf="jobPostForm.get('max_monthly_salary').errors && jobPostForm.get('max_monthly_salary').errors.error_min_max" class="form-error">Max salary cannot be less than Min salary</span>
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                           <div class="field-container">
                              <div class="input-field" [ngClass]="{'error':(isSubmit && jobPostForm.get('special_notes').errors) || (jobPostForm.get('special_notes').touched && jobPostForm.get('special_notes').errors)}">
                                 <!-- <span class="icon benefitIcon"></span>
                                 <textarea rows="4" class="form-control" placeholder="Special Notes" formControlName="special_notes"></textarea> -->
                                 <div formControlName="special_notes" [ngxSummernote]="noteconfig"></div>
                              </div>
                              <span *ngIf="(isSubmit && jobPostForm.get('special_notes').errors) || ((jobPostForm.get('special_notes').touched || jobPostForm.get('special_notes').dirty)
                                 && jobPostForm.get('special_notes').errors)">
                              <span *ngIf="jobPostForm.get('special_notes').errors.required "
                                 class="form-error">Please enter special notes</span>
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="submitOuter">
                        <button type="submit" class="blueBtn" (click)="jobPreview()">Preview</button>
                        <button type="submit" class="blueBtn" (click)="clearForm()">Reset</button>                      
                        <!-- <button type="submit" (click)="submitPost()" *ngIf="!job_id">Submit </button> -->
                        <!-- <button type="submit" (click)="updateForm()" *ngIf="job_id">Update </button> -->
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
 <div class="mouseTrail">
<h6 style="color:#db241a;font-size: 14px;"><strong>Do not write,<br> your email id,Phone, WhatsApp no<br> or company website on job post.</strong></h6>
</div>  
</section>
<!-- END REGISTRATION FORM -->
