<section class="registrationForm employerInnerSection otherInnerSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <ng-container>
          <div class="registrationFormOuter" *ngIf="!isEdit">
            <h2 class="pageTitle">Profile Details</h2>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="profileInfoOuter">
                  <div class="row">
                    <!-- <div class="col-lg-2 col-md-4 col-sm-12 col-12">
                      <div class="profilePic">
                        <img [src]="(user && user.user_detail && user.user_detail.profile_image_url)?user.user_detail.profile_image_url: 'assets/images/profilePic.png'">
                        <div class="profilePicInner">
                          <input type="file" name="" id="dp" (change)="updateImage($event)">
                          <label for="dp"><img src="assets/images/changeIcon.png"> Update</label>
                        </div>
                      </div>
                    </div> -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="row">
                        <div class="col-lg-10 col-md-6 col-sm-12 col-12">
                          <div class="profileInfoInner">
                            <h3>{{(user && user.user_detail)? user.user_detail.name : ''}}</h3>
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <p>Website : {{(user && user.user_detail)? user.user_detail.website : ''}}</p>
                                <p>Country : {{(user && user.user_detail && user.user_detail.country)? user.user_detail.country.name : ''}}</p>
                                <p>City: {{(user && user.user_detail && user.user_detail.city)? user.user_detail.city.name : ''}}</p>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <p>Total No of Students : {{(user && user.user_detail)? user.user_detail.total_student: ''}}</p>
                                <p>Placement per year : {{(user && user.user_detail)? user.user_detail.total_student_place_per_year: ''}}</p>
                                <p>Courses Offered : {{(user && user.user_detail && user.user_detail.courses_name)? user.user_detail.courses_name: ''}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                          <div class="profileInfoInner">
                          	<h5>Contact Person</h5>
                            <p><span>Name :</span> 40 yr</p>
                            <p>Email : 8 years</p>
                            <p><span>Phone No :</span> Kolkata</p>
                            <p>Designation : Phd</p>
                          </div>
                          </div> -->
                        <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                          <div class="profileEditOuter">
                            <a href="javascript:void(0)" (click)="isEdit=true;"><img src="assets/images/pencilIcon.png" alt="pencilIcon"> Edit </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="profileInfoInner">
                    <h5>Attach Resume </h5>
                    <div class="resumeholder">
                      <span class="img"><img src="assets/images/resume1.png" alt="resume"></span>
                      <span class="text">No CV Uploaded</span>
                    </div>
                    </div>  -->                  
                  <div class="profileInfoInner">                  	
                    <h5>Postal Address</h5>
                    <p>{{(user && user.user_detail)? user.user_detail.address : ''}}</p>
                  </div>
                  <div class="profileInfoInner">
                    <h5>About College/ University/ Institution</h5>
                    <!-- <p>{{(user && user.user_detail)? user.user_detail.about_college : ''}}</p> -->
                    <div class="editorview" innerHtml="{{(user && user.user_detail)? user.user_detail.about_college : ''}}"></div>
                  </div>
                  <div class="profileInfoInner">
                    <h5>Special Note for Employer</h5>
                    <!-- <p>{{(user && user.user_detail)? user.user_detail.special_note_employer : ''}}</p> -->
                    <div class="editorview" innerHtml="{{(user && user.user_detail)? user.user_detail.special_note_employer : ''}}"></div>
                  </div>
                  <div class="profileInfoInner">
                    <h5>College Logo</h5>
                    <div class="logoOuter">
                      <img [src]="(user && user.user_detail)? user.user_detail.logo_url : ''">
                    </div>
                  </div>
                 
                  <div class="profileInfoInner">
                    <h5>Company Gallery Images</h5>
                    <ng-container *ngIf="gallerie.previews.length">
                      <div class="uploadedImg" *ngFor="let image of gallerie.previews; index as i;">
                        <img src="{{image}}">
                      </div>
                    </ng-container>
                        
                   </div>
                   <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="profileInfoInner">
                        <h5>Contact Person</h5>
                        <p>Name: {{(user && user.user_detail)? user.user_detail.contact_person_name + ' ' + user.user_detail.contact_person_lastname : ''}}</p>
                        <p>Designation: {{(user && user.user_detail)? user.user_detail.contact_person_designation : ''}}</p>
                        <p>Email: {{(user && user.user_detail)? user.user_detail.contact_person_email : ''}}</p>
                        <p>Phone: {{(user && user.user_detail)? user.user_detail.contact_person_phone : ''}}</p>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="user.user_detail.registry_certificate_url">
                            <h4>Registration Certificate</h4>
                            <img [src]="user.user_detail ? user.user_detail.registry_certificate_url:''">
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="user.user_detail.govt_id_url">
                            <h4>Govt. Id</h4>
                            <img [src]="user.user_detail ? user.user_detail.govt_id_url:''">
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="profileInfoInner">
                        <h5>Bank Details</h5>
                        <p>Account Holder Name: {{(user && user.user_detail)? user.user_detail.name_account_holder : ''}}</p>
                        <p>Bank Name: {{(user && user.user_detail)? user.user_detail.bank_name : ''}}</p>
                        <p>Account No: {{(user && user.user_detail)? user.user_detail.account_no : ''}}</p>
                        <p>Swift Code: {{(user && user.user_detail)? user.user_detail.swift_code : ''}}</p>
                        <p>IFSC Code: {{(user && user.user_detail)? user.user_detail.ifsc_code : ''}}</p>
                        <p>Address: {{(user && user.user_detail)? user.user_detail.bank_portal_address : ''}}</p>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isEdit">
          <div class="registrationFormOuter">
            <form [formGroup]="collegeUpdateForm">
            	<div class="profileEditOuter">
                <a (click)="isEdit=false;" href="javascript:void(0)"><img src="assets/images/backIcon.png" alt="pencilIcon"> Back </a>
              </div>
            <h2 class="pageTitle">College/ University/ Institution Details</h2>
            <div class="registrationFormInner">
              <div class="part-sec">
                <h3>College/ University/ Institution</h3>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon companyIcon"></span>
                      <input id="namecol" type="text" class="validate" formControlName="name">
                      <label for="namecol" [ngClass]="{'active':collegeUpdateForm.get('name').value}"> Name</label>
                      <p *ngIf="validation_error && validation_error.name" class="form-error">{{validation_error.name[0]}}</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon websiteIcon"></span>
                      <input id="webcol" type="text" class="validate" formControlName="website">
                      <label for="webcol" [ngClass]="{'active':collegeUpdateForm.get('website').value}"> Website</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <select formControlName="country_id">
                        <option value="" selected>Select country</option>
                        <option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
                      </select>
                      <p *ngIf="validation_error && validation_error.country_id" class="form-error">{{validation_error.country_id[0]}}</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <select formControlName="city_id">
                        <option value="" selected>Select city</option>
                        <option value="{{city._id}}" *ngFor="let city of coutryWiseCity">{{city.name}}</option>
                      </select>
                      <p *ngIf="validation_error && validation_error.city_id" class="form-error">{{validation_error.city_id[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="checkboxOuter">
                    <label>
                    <input type="checkbox" class="filled-in" [(ngModel)]="password_checked !=password_checked" [ngModelOptions]="{standalone: true}">
                    <span>Do you want to change your password?</span>
                    </label>
                  </div>
                  <div class="row" *ngIf="password_checked">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon passwordIcon"></span>
                        <input id="pass" type="password" class="validate" formControlName="password">
                        <label for="pass">Password</label>
                        <p *ngIf="validation_error && validation_error.password" class="form-error">{{validation_error.password[0]}}</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon passwordIcon"></span>
                        <input id="password_confirmation" type="password" class="validate" formControlName="password_confirmation">
                        <label for="password_confirmation">Confirm Password</label>
                      </div>
                    </div>
                  </div>
                <div class="input-field">
                  <span class="icon addressIcon"></span>
                  <textarea rows="4" class="form-control" placeholder="Postal Address" formControlName="address"></textarea>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon imageIcon"></span>
                      <input type="file" name="" id="galleryImg1" (change)="logoUpload($event)">
                      <label for="galleryImg1">
                      <span class="placeholderTxt">{{logoImage ?logoImage:'College Logo' }}</span>
                      <span class="browse">Browse</span>
                      </label>
                      <div class="uploadedImg" *ngIf="collegeUpdateForm.get('logo').value">
                            <a href="javascript:void(0)" (click)="removePicture('logo')"><img src="assets/images/cancel.png"></a>
                          <img src="{{logoUploadImage ? logoUploadImage: collegeUpdateForm.get('logo').value}}">
                          </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="multiselectdropdownOuter">
                      <div class="input-field">
                        <span class="icon elementIcon"></span>
                        <input type="text" readonly="true" class="degree" name="select_multiple_field" placeholder="Select Courses Offered" (click)="courseDiv =true" formControlName="courses" autocomplete="off">
                        <app-multiselect-nosearch *ngIf="courseDiv" 
                        [mainDataArray]="coursesData"
                        [storedValue]="noSearchSelect.course_value"
                        (sendDataEvent)="noSearchGetchange($event)" 
                        (checkOutsideEvent)="checknoSearchmultiSelect($event)">   
                        </app-multiselect-nosearch>      
                        <p *ngIf="validation_error && validation_error.courses" class="form-error">{{validation_error.courses[0]}}</p>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="multiselectdropdownOuter">
                        <div class="input-field">
                          <span class="icon elementIcon"></span>
                          <div class="input_text">
                             <ng-container *ngFor="let course of noSearchSelect.course_name; index as i;">
                                  <span class="selected-span">{{course.length > 10 ? course.slice(0,10)+ '...': course}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'course')"></i></span></span>
                                  </ng-container>

                          <span class="dropdown-search">
                          <input type="text" readonly="true" class="degree" name="courses" placeholder="Select Courses Offered" (click)="getOnchangeEvent()" autocomplete="off">
                          <app-multi-select *ngIf="courseDiv" 
                            [mainDataArray]="coursesData"
                            [storedValue]="noSearchSelect.course_value"
                            [storedName]="noSearchSelect.course_name"  
                            [field_name] ="'courses'"
                            (sendDataEvent)="noSearchGetchange($event)" 
                            (checkOutsideEvent)="checkmultiselect($event)" 
                            (multidataSelect)="multiselectAll($event)">                                 
                          </app-multi-select>      
                          </span>
                        </div> 
                          <p *ngIf="validation_error && validation_error.courses" class="form-error">{{validation_error.courses[0]}}</p>
                        </div>
                      </div>
                    </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon imageIcon"></span>
                      <input type="file" name="" id="galleryImg2" (change)="galleryUpload($event)">
                      <label for="galleryImg2">
                        <span class="placeholderTxt">College Gallery Images</span>
                        <span class="browse">Browse</span>
                        <!-- <span class="uploadedfileName">img1.png</span> -->
                      </label>
                      <ng-container *ngIf="gallerie.previews.length">
                        <div class="uploadedImg" *ngFor="let image of gallerie.previews; index as i;">
                          <a href="javascript:void(0)" (click)="removeGalleryImage(i)"><img src="assets/images/cancel.png"></a>
                          <img src="{{image}}">
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon nameIocn"></span>
                      <input id="stuNo" type="number" min='0' class="validate" formControlName="total_student">
                      <label for="stuNo" [ngClass]="{'active':collegeUpdateForm.get('total_student').value}">Total No of Students</label>
                      <p *ngIf="validation_error && validation_error.total_student" class="form-error">{{validation_error.total_student[0]}}</p>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon nameIocn"></span>
                      <input id="stuNo1" type="number" min='0' class="validate" formControlName="total_student_place_per_year">
                      <label for="stuNo1" [ngClass]="{'active':collegeUpdateForm.get('total_student_place_per_year').value}">Total No of Students want to placement per year</label>
                      <p *ngIf="validation_error && validation_error.total_student_place_per_year" class="form-error">{{validation_error.total_student_place_per_year[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="input-field">
                  <span class="icon jobDesIcon"></span>
                  <!-- <textarea rows="4" class="form-control" placeholder="Few Words About your College/ University/ Institution" formControlName="about_college"></textarea> -->
                  <div formControlName="about_college" [ngxSummernote]="aboutconfig"></div>
                </div>
                <div class="input-field">
                  <span class="icon jobDesIcon"></span>
                  <!-- <textarea rows="4" class="form-control" placeholder="Special Note for Employer" formControlName="special_note_employer"></textarea> -->
                  <div formControlName="special_note_employer" [ngxSummernote]="specialconfig"></div>
                </div>
              </div>
              <div class="part-sec">
                <h3>Contact Person</h3>
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon nameIocn"></span>
                      <input id="namecp" type="text" class="validate" formControlName="contact_person_name">
                      <label for="namecp" [ngClass]="{'active':collegeUpdateForm.get('contact_person_name').value}">Your First Name</label>
                      <p *ngIf="validation_error && validation_error.contact_person_name" class="form-error">{{validation_error.contact_person_name[0]}}</p>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon nameIocn"></span>
                      <input id="namelast" type="text" class="validate" formControlName="contact_person_lastname">
                      <label for="namelast" [ngClass]="{'active':collegeUpdateForm.get('contact_person_lastname').value}">Your Last Name</label>
                      <p *ngIf="validation_error && validation_error.contact_person_lastname" class="form-error">{{validation_error.contact_person_lastname[0]}}</p>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon employeeIcon"></span>
                      <input id="degcp" type="text" class="validate" formControlName="contact_person_designation">
                      <label for="degcp" [ngClass]="{'active':collegeUpdateForm.get('contact_person_designation').value}">Your Designation</label>
                      <p *ngIf="validation_error && validation_error.contact_person_designation" class="form-error">{{validation_error.contact_person_designation[0]}}</p>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon emailIcon"></span>
                      <input id="emailcp" type="email" class="validate" formControlName="contact_person_email">
                      <label for="emailcp" [ngClass]="{'active':collegeUpdateForm.get('contact_person_email').value}">Your Email</label>
                      <p *ngIf="validation_error && validation_error.contact_person_email" class="form-error">{{validation_error.contact_person_email[0]}}</p>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon phoneIcon"></span>
                      <input id="phonecp" type="text" class="validate" formControlName="contact_person_phone">
                      <label for="phonecp" [ngClass]="{'active':collegeUpdateForm.get('contact_person_phone').value}">Your Phone</label>
                      <p *ngIf="validation_error && validation_error.contact_person_phone" class="form-error">{{validation_error.contact_person_phone[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                  <span class="emp_date_sapn">Date of Birth</span>
                                </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="input-field">
                                  <span class="icon calIcon"></span>
                                    <select formControlName="dob_date">
                                      <option value="">Select Date</option>
                                      <option value="{{date.id}}" *ngFor="let date of dates">{{date.id}}</option>
                                    </select>
                                     <p *ngIf="validation_error && validation_error.dob_date" class="form-error">{{validation_error.dob_date[0]}}</p>  
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="input-field">
                                  <span class="icon calIcon"></span>
                                    <select formControlName="dob_month">
                                      <option value="">Select Month</option>
                                      <option value="{{month.id}}" *ngFor="let month of months">{{month.value}}</option>
                                    </select>
                                     <p *ngIf="validation_error && validation_error.dob_month" class="form-error">{{validation_error.dob_month[0]}}</p>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="input-field">
                                  <span class="icon calIcon"></span>
                                    <select formControlName="dob_year">
                                      <option value="">Select Year</option>
                                      <option value="{{year.id}}" *ngFor="let year of years">{{year.id}}</option>
                                    </select>
                                     <p *ngIf="validation_error && validation_error.dob_year" class="form-error">{{validation_error.dob_year[0]}}</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6 col-sm-12">
                             <div class="row emp_dateWraap gndr-reslv">
                              <div class="col-md-12 col-sm-12 col-12">
                                <span class="emp_date_sapn gndr-spn">Gender</span>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="input-field ">
                                  <label>
                                    <input type="radio" formControlName="gender" value="female">
                                    <span>Female</span>
                                  </label>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="input-field ">
                                  <label>
                                    <input type="radio" formControlName="gender" value="male">
                                    <span>Male</span>
                                  </label>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="input-field ">
                                  <label>
                                    <input type="radio" formControlName="gender" value="custom">
                                    <span>Custom</span>
                                  </label>
                                </div> 
                              </div>
                              <p *ngIf="validation_error && validation_error.gender" class="form-error" style="margin:45px 15px;">{{validation_error.gender[0]}}</p>
                             </div>
                          </div>
                        </div>
              </div>
              <!-- <div class="part-sec">
                <h3>Bank Details</h3>
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="nameacc" type="text" class="validate" formControlName="name_account_holder">
                      <label for="nameacc" [ngClass]="{'active':collegeUpdateForm.get('name_account_holder').value}">  Name of Account Holder</label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="bankname" type="text" class="validate" formControlName="bank_name">
                      <label for="bankname" [ngClass]="{'active':collegeUpdateForm.get('bank_name').value}"> Bank Name</label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="noacc" type="text" class="validate" formControlName="account_no">
                      <label for="noacc" [ngClass]="{'active':collegeUpdateForm.get('account_no').value}"> Account Number </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="swiftcode" type="text" class="validate" formControlName="swift_code">
                      <label for="swiftcode" [ngClass]="{'active':collegeUpdateForm.get('swift_code').value}">  SWIFT CODE</label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="ifscCode" type="text" class="validate" formControlName="ifsc_code">
                      <label for="ifscCode" [ngClass]="{'active':collegeUpdateForm.get('ifsc_code').value}"> IFSC CODE </label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="bankadd" type="text" class="validate" formControlName="bank_postal_address">
                      <label for="bankadd" [ngClass]="{'active':collegeUpdateForm.get('bank_postal_address').value}"> Bank Postal address  </label>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="submitOuter">
                <button type="submit" (click)="updateForm()">Update</button>
              </div>
            </div>
          </form>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>