<!-- <form [formGroup]="forgetPasswordForm">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="input-field" [ngClass]="{'has-error': (isSubmit && forgetPasswordForm.get('email').errors) || (forgetPasswordForm.get('email').touched || forgetPasswordForm.get('email').dirty) && !forgetPasswordForm.get('email').valid }">
	            <input id="email2" type="text" formControlName="email">
		        <label for="email2" [ngClass]="{'active':forgetPasswordForm.get('email').value}">Email Address</label>
        <span *ngIf="(isSubmit && forgetPasswordForm.get('email').errors) || ((forgetPasswordForm.get('email').touched || forgetPasswordForm.get('email').dirty) && forgetPasswordForm.get('email').errors)">
            <span *ngIf="forgetPasswordForm.get('email').errors.required" class="form-error">Please enter email</span>
             <span *ngIf="forgetPasswordForm.get('email').value && !forgetPasswordForm.get('email').valid" class="form-error">Please enter valid email</span>
        </span>
        	</div>
    	</div>
    	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	        <div class="submitOuter">
	        	<button mat-raised-button color="primary" (click)="send()"  class="blueBtn">Submit <i class="fa fa-spinner fa-spin spiner-class" *ngIf="showloader"></i></button>
	        </div>                    
    	</div>
    	<div class="col-md-12 col-sm-12 col-xs-12">
        	<p class="">Back to <a href="javascript:void(0)" (click)="showLogin()" class="bckloginBtn">Login</a></p>
    	</div>
    </div>

</form> -->

      <div class="modalbody"> 
        <div class="modalform">
          <h3>Forgot Your Password</h3> 
          <form [formGroup]="forgetPasswordForm">
          <div class="form-group">
            <input type="text" class="email" placeholder="Email Address" formControlName="email"/>
            <span *ngIf="(isSubmit && forgetPasswordForm.get('email').errors) || ((forgetPasswordForm.get('email').touched || forgetPasswordForm.get('email').dirty) && forgetPasswordForm.get('email').errors)">
                <span *ngIf="forgetPasswordForm.get('email').errors.required" class="form-error">Please enter email</span>
                 <span *ngIf="forgetPasswordForm.get('email').value && !forgetPasswordForm.get('email').valid" class="form-error">Please enter valid email</span>
            </span>
          </div> 
          <div class="form-group">
            <button type="submit" (click)="send()" [disabled]="showloader"><img src="assets/images/lock.png" alt="calender"/> Submit <i class="fa fa-refresh fa-spin" style="font-size:24px" *ngIf="showloader"></i></button>
          </div>
          </form>
          <div class="mbtnholder"> <a class="" href="javascript:void(0)" (click)="showLogin()">Back To Login</a>
          </div>
        </div>
      </div>

      <!-- <div class="modalbody">  
        
        <div class="modalbodyleft">
          <form [formGroup]="forgetPasswordForm">
          <div class="form-group">
            <label>Email</label>
            <input type="text" name="" placeholder="Email Address" formControlName="email"/>
            <span *ngIf="(isSubmit && forgetPasswordForm.get('email').errors) || ((forgetPasswordForm.get('email').touched || forgetPasswordForm.get('email').dirty) && forgetPasswordForm.get('email').errors)">
                <span *ngIf="forgetPasswordForm.get('email').errors.required" class="form-error">Please enter email</span>
                 <span *ngIf="forgetPasswordForm.get('email').value && !forgetPasswordForm.get('email').valid" class="form-error">Please enter valid email</span>
            </span>
          </div>

          <div class="form-group">
            <div class="submitOuter">
                <button mat-raised-button color="primary" (click)="send()"  class="blueBtn">Submit <i class="fa fa-spinner fa-spin spiner-class" *ngIf="showloader"></i></button>
            </div> 
          </div>
          <div class="mbtnholder">
            <a class="logout" href="javascript:void(0)" (click)="showLogin()">Login</a>
          </div>
           </form>
        </div>
       
        <div class="modalbodyright">
          <img src="assets/images/modalImg1.png" alt=""/>
        </div>
      </div> -->
