<section class="registrationForm employerInnerSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="registrationFormOuter">
          <div *ngIf="package_id">
            <h2 class="pageTitle">Payment Details</h2>
            <form [formGroup]="paymentForm">
            <div class="registrationFormInner">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                    <span class="icon payDtlDateIcon"></span>
                    <input id="payDtlDate" type="text" class="" formControlName="payment_date" readonly>
                    <label for="payDtlDate" class="active">Payment Date</label>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                 <div class="input-field">
                    <span class="icon payDtlAmtIcon"></span>
                    <input id="payDtlAmt" type="text" class="" formControlName="ammount" readonly>
                    <label for="payDtlAmt" class="active">Amount (USD)</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="input-field">
                    <span class="icon payDtlRemarksIcon"></span>
                    <textarea rows="4" class="form-control" placeholder="Remarks" formControlName="remarks"></textarea>
                  </div>
                </div>
              </div>
              <input type="hidden" formControlName="id">
              <div class="submitOuter">
                <button type="submit" (click)="submitPay()">Pay</button>
              </div>
            </div>
          </form>
        </div>
            <h2 class="pageTitle">Payment History</h2>
            <div class="paymentTable table-responsive">
              <table class="table ">
                <tr>
                  <th>Service Name</th>
                  <th>Payment Date</th>
                  <th>Amount</th>
                  <th>Remarks</th>
                </tr>
                <tr *ngFor="let history of payment_history">
                  <td>{{history.service_details.service_name}}</td>
                  <td>{{history.payment_made_on}}</td>
                  <td>${{history.payment_amount}}.00</td>
                  <td>{{history.remarks}}</td>
                </tr>
                <tr *ngIf="payment_history && payment_history.length ==0">
                  <td colspan="4" style="text-align: center;">No Data Available</td>
                </tr>
                
              </table>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</section>