.error{
	color: red;
}
.searchOuter input[type=submit]{
	background: #3c8dbc;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    border: none;
    padding: 5px 20px;
    text-transform: capitalize;
    border-radius: 5px;
}
.searchOuter input[type=submit]:hover{
	background: #1e6188;
}
.searchOuter input[type=submit]:focus{
	outline: none;
	border: none;
	box-shadow: none;
}
.uploadedImg {
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    display: inline-block;
    margin-right: 30px;
}
.uploadedImg a {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #d4d3d3;
    padding: 3px 8px 5px 8px;
    border-radius: 50%;
    display: inline-block;
}
.uploadedImg img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.uploadedImg a img {
    width: auto;
    height: auto;
}

input[type=file].hideMe {
    display: none;
}

.form-wrpr{padding:10px;  font-size: 18px;
    box-shadow: 0 6px 7px -10px rgba(1,11,27);}
.form-wrpr label{margin:0; padding: 2px 8px;}

.form-wrpr span.logo-img-wrapr{}
.form-wrpr span.glry-img-wrapr{width: 100px;
                                height: 100px;
                                overflow: hidden;
                                display: inline-block;}

.form-wrpr span.glry-img-wrapr img,
.form-wrpr span.logo-img-wrapr img{
    width: 100%; 
    height: 100%; 
    /*object-fit: cover;*/
    object-position: center;}     
.form-wrpr label.cmpny-glry{display: block; padding-bottom: 8px;}    
.form-wrpr .logo-lbl{display: block; padding-bottom: 8px;}  
.form-wrpr span.logo-img-wrapr {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: block;
    background: #ddd;
}         


/*START EMPLOYEE DETAILS DIV*/
.employee-dtls-wrp{border: 1px solid #acb6df;
    background: #fff;
    margin: 0 0 30px 0;}

h4.emdtls-hding{font-size: 18px;
                line-height: 24px;
                color: #052195;
                margin: 0px 0 0px 0;
                font-weight: 600;
                background: aliceblue;
                padding: 10px 15px;
                background: #d3d3d3;} 

.employee-cntnt-holder:nth-child(even){background:aliceblue;}  
.employee-cntnt1,.employee-cntnt2{display: inline-block; width: 49%;}              
.employee-cntnt-holder span{padding: 12px 15px; font-size: 16px;
                            line-height: 22px;
                            color: #414141;
                            font-family: Roboto;
                            font-weight: 400;
                            margin: 0; display: inline-block;
                            color: #000;
                            vertical-align: top;}

.emplyr-img-holder{width: 200px; display: inline-block;
                    height: 200px; overflow: hidden;
                    margin-left: 10px;
                    border:1px solid #bfbfbf;
                    }                            
.emplyr-img-holder img{width: 100%; height: 100%; 
                      object-position:center;
                      object-fit: cover;}
 .employee-dtls2-wrapper,
 .employee-dtls2-wrapper2{width: 38%; display: inline-block; 
                        vertical-align: top;
                        margin:0;}    

.employee-dtls2-holder span{padding: 12px 15px;
    font-size: 16px;
    line-height: 22px;
    font-family: Roboto;
    font-weight: 400;
    margin: 0;
    display: inline-block;
    color: #000;
    vertical-align: top;}
.employee-dtls2-wrap{width: 79%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 14px;}
.employee-dtls2-wrap:nth-child(even){background: aliceblue;} 
.employee-dtls-wrp2 h4{margin-bottom: 10px;
}
.table-holder{overflow: auto;
}
.reset{
    margin-left: 6px;
    background: #5d5d5d;
    color: #fff;
    padding: 6px 16px 8px 16px;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
}
.field_wrapper input{
    width: 90%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 15px 0;
}
.field_wrapper a.add_button,
.field_wrapper a.remove_button{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    float: right;
}
.field_wrapper a.add_button i,
.field_wrapper a.remove_button i{
    font-size: 30px;
}
.field_wrapper a.add_button i{
    color: #056f04;
}
.field_wrapper a.remove_button i{
    color: #d20000;
}
.govtIdName{
    list-style: none;
    padding: 20px 0 0 0;
    margin: 0;
}
.govtIdName li{
    display: inline-block;
    padding: 0 10px;
    position: relative;
}
.govtIdName li:first-child{
    padding-left: 0;
}
.govtIdName li a.remove{
    position: absolute;
    top: -10px;
    right: 0px;
    font-size: 20px;
    color: #d20000;
}
.govtIdName li p{
    font-size: 16px;
    line-height: 22px;
    border:1px solid #ddd;
    padding: 5px 8px;
}
/*END EMPLOYEE DETAILS DIV*/