.filterAccordion .card-body{
	    height: 200px;
    overflow-y: scroll;
}

.filterAccordion .card-body-auto{
	height: auto;
    overflow-y: scroll;
    padding: 15px;
    max-height: 200px;
}

.sortbyOuter p a {
    margin: 0 4px;
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 0px 4px 3px 4px;
}
.sortbyOuter p a.disabled{
	background: #d2d2d2;
	cursor: auto;
}
.sortbyOuter p a.disabled img{
	opacity: 0.4;
}