<ngx-loading-bar></ngx-loading-bar>

<app-header *ngIf="showheader && isLoaded"></app-header>

<router-outlet></router-outlet>

<app-footer *ngIf="showheader && isLoaded && openFooter"></app-footer>

<!-- <ngx-ui-loader></ngx-ui-loader> -->
