<section class="registrationForm employerInnerSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="registrationFormOuter">
               <h2 class="pageTitle">We offer training</h2>
               <div class="trainingOuter">
                  <h4>Training for getting job </h4>
                  <div class="QuestionDiv">
                     <h4>Do you know the reason for not getting a suitable job?</h4>
                     <p>We have solution for you… Take industry expert interview training to improve your communication skills.</p>
                  </div>
                  <h3>Benefits of Interview Training</h3>
                  <ul>
                     <li>Mock interview with industryexpert in your industry on Skype, see what a real interview is like and become confident. Identify your weaknesses.</li>
                     <li>Coaching from industryexpert on how to do better,45 -minute session withindustry expert. Customized lesson based on mock interview performance. Learn advanced interview techniques to stand out.</li>
                     <li>Report to help prepare for future interviews, Details on how to fix your weaknesses. Additional information to further improve your skills. An easy reference guide for job interview best practices</li>
                  </ul>
               </div>
               <div class="registrationFormInner ">
                  <h6>You need industry expert from</h6>
                  <form>
                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                           <div class="input-field">
                              <span class="icon locationIcon"></span>
                              <select [(ngModel)]="searchData.countryModel" [ngModelOptions]="{standalone: true}">
                                 <option value="">Choose Country</option>
                                 <option *ngFor="let country of countries" value="{{country._id}}">{{country.name}}</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                           <div class="input-field">
                              <span class="icon industryIcon"></span>
                              <select [(ngModel)]="searchData.indsutryModel" [ngModelOptions]="{standalone: true}">
                                 <option value="">Choose Industry</option>
                                 <option *ngFor="let industry of industries" value="{{industry._id}}">{{industry.name}}</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                           <div class="submitOuter">
                              <input type="submit" value="search" (click)="searchByTrainer($event)"> 
                           </div>
                        </div>
                     </div>
                  </form>
               </div>

               <div class="diffsecSlot normdiff" *ngIf="isClickSearch && !showslot">
                  <ng-container *ngFor="let trainer of trainers">
                    <div class="cvsearchList">
                       <div class="cvseachInner">                          
                          <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                              <div class="cvseachClear">
                                 <div class="cvsearchLeft">
                                    <span><img src="{{trainer?.user_detail?.profile_image_url ? trainer?.user_detail?.profile_image_url:'assets/images/profilePic.png'}}" alt="profilePic"></span>
                                 </div>
                                 <div class="cvsearchRight">
                                    <h3><a href="JavaScript:void(0)"> </a> {{trainer?.user_detail?.name}}</h3>
                                    <h5>{{trainer?.user_detail?.current_designation}}</h5>
                                 </div>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <ul class="deatilscvListing">
                                   <li><strong>Education:</strong> {{trainer.user_detail?.education?.name}}</li>
                                   <li><strong>Experience:</strong> {{trainer.user_detail.expreiance.name}}</li>
                                   <li><strong>Skills:</strong> {{trainer.user_detail.skills}}</li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <ul class="deatilscvListing">
                                   <li><strong>Location:</strong> {{trainer?.user_detail?.country?.name}},{{trainer?.user_detail?.city?.name}}</li>
                                </ul>
                            </div>
                          </div>
                          <h5>About Profile : </h5>
                          <p [innerHTML]="trainer?.user_detail?.about_profile"></p>
                          <a class="slot" href="JavaScript:void(0)" (click)="openSlot(trainer)">book your training slot</a>
                       </div>
                    </div>
                  </ng-container>
                  <div *ngIf="trainers.length == 0">No data found</div>
               </div>

              <div class="diffsecSlot slotdiff" *ngIf="showslot" @slideInOut>
                  <a href="JavaScript:Void(0)" class="slotcross" (click)="showslot=false;">x</a>
                  <div class="dateRange">
                    <ul>
                      <li>
                        <a href="javascript:void(0)" class="prevCal" (click)="previousMonth(currentMonth)" *ngIf="currentMonth !=0"></a>
                          <span>{{monthNames[this.currentMonth]}}</span>
                        <a href="javascript:void(0)" class="nxtCal" (click)="nextMonth(currentMonth)" *ngIf="currentMonth !=11"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="datepanel">
                    <ul>
                      <!-- <li class="active">
                        <a href="#">
                          <span class="date">12</span>
                          <span class="day">sun</span>
                        </a>
                      </li> -->
                      <ng-container *ngFor="let schedule of schedules; index as i;">
                      <li [ngClass]="{'active': i==activeSchedule}">
                        <a href="javascript:void(0)" (click)="changeSchedule(i)">
                          <span class="date">{{schedule[0]}}</span>
                          <span class="day">{{getdayName(schedule[0])}}</span>
                        </a>
                      </li>
                      </ng-container>
                    </ul>
                  </div>
                  <div class="slotpanel clear">
                    <ul class="slotlist">
                      <!-- <li><span class="time">09:00am</span></li>
                      <li class="booked"><span class="time">09:00am</span></li> -->
                      <ng-container *ngFor="let slot of slots; index as i;">
                      <li [ngStyle]="{'background':i==activeSlotIndex?'aqua':''}" [ngClass]="{'booked':(slot.booked_schedule.length)}"><span class="time" (click)="selectSlot(slot);activeSlotIndex=i">{{slot.from_time}} - {{slot.to_time}}</span></li>
                      </ng-container> 
                    </ul>
                  </div>
                  <div class="previewOuter" *ngIf="selectdSlot">
                    <button type="button" data-toggle="modal" data-target="#previewModal" class="blueBtn">Preview</button>
                  </div>
              </div>

            </div>
         </div>
      </div>
   </div>

       <!-- Preview Modal -->
    <div class="modal generalModal" id="previewModal" >
      <!-- <div class="modal-dialog bd-example-modal-sm" role="document"> -->
        <div class="modal-content">
          <div class="modal-header">
            <h4>Preview Your Booking</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <p><strong>Trainer Name:</strong> {{(selectedTrainer && selectedTrainer.user_detail)?  selectedTrainer.user_detail.name:''}}</p>
              <p *ngIf="selectdSlot"><strong>Booking Time Slot:</strong> {{selectdSlot.training_date+' '+monthNames[selectdSlot.training_month]+ ' '+getdayName(selectdSlot.training_date)}} {{selectdSlot.from_time+'-'+ selectdSlot.to_time}}</p>
              <p><strong>Training Cost:</strong> $200</p>
              <div class="shareOuter">
                <button type="submit" class="blueBtn" (click)="bookSlot(selectdSlot._id)">Make Payment</button>
              </div>
            </form>
          </div>          
        </div>
      <!-- </div> -->
    </div>
</section>