<section class="registrationForm employerInnerSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="pageTitle">Application Status</h2>
            <div class="postedjobOuter appst">
               <ng-container *ngFor="let appliedJob of appliedJobs">
               <div class="postedjobInner">
                  <h5><img src="assets/images/globeIcon.png" alt="globeIcon"> {{appliedJob?.job?.job_title}}</h5>
                  <span class="company">{{appliedJob?.job?.employeer?.user_detail?.company_name}}</span> 
                  <div class="editorview" innerHtml="{{appliedJob?.job?.about_this_job}}"></div>
                  <div class="row savejobOuter">
                     <div class="col-lg-6 col-md-12 col-sm-12 col-12"> 
                        <span class="status">{{appliedJob?.applied_status?.phase_name}}</span>
                     </div>
                     <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <h6 class="postDate">Applied {{appliedJob.day_diff ==0?'On Today':appliedJob.day_diff + ' days ago'}} </h6>
                     </div>
                  </div>
               </div>
               </ng-container>
            </div>
         </div>
      </div>
   </div>
</section>