
<section class="registrationForm employerInnerSection" *ngIf="isLoaded">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 class="pageTitle">Edit Application Received</h2>
        <div class="profileEditOuter">
          <a href="javascript:void(0)" [routerLink]="['/employer/application-recieved']" ><img src="assets/images/backIcon.png" alt="pencilIcon"> Back </a>
        </div>
        <form [formGroup]="jobApplicationEditForm" *ngIf="job_type == 'job'">
	        <div class="registrationFormInner">
	          <div class="row">
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon jobIcon"></span>
	                <input id="appid" type="text" class="" formControlName="application_id" readonly>
	                <label for="appid" [ngClass]="{'active':jobApplicationEditForm.get('application_id').value}">Application Id</label>
	              </div>
	            </div>
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon jobIcon"></span>
	                <input id="jobid" type="text" class="" formControlName="job_id" readonly>
	                <label for="jobid" [ngClass]="{'active':jobApplicationEditForm.get('job_id').value}">Job Id</label>
	              </div>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon nameIocn"></span>
	                <input id="empName" type="text" class="" formControlName="employee_name" readonly>
	                <label for="empName" [ngClass]="{'active':jobApplicationEditForm.get('employee_name').value}">Name</label>
	              </div>
	            </div>
	            <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon jobDesIcon"></span>
	                <input id="cvlink" type="text" class="validate">
	                <label for="cvlink">CV Link</label>
	              </div>
	            </div> -->
	          </div>
	          <div class="row">
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon employeeIcon"></span>
	                <select formControlName="application_status">
                    <option value="" selected>Choose Status</option>
                    <option value="{{phase._id}}" *ngFor="let phase of application_phases">{{phase.phase_name}}</option>
                  </select>
                  <span *ngIf="(isSubmit && jobApplicationEditForm.get('application_status').errors) || ((jobApplicationEditForm.get('application_status').touched || jobApplicationEditForm.get('application_status').dirty)
                              && jobApplicationEditForm.get('application_status').errors)">
                   <span *ngIf="jobApplicationEditForm.get('application_status').errors.required "
                      class="form-error">Please Select Status</span>
                   </span>
	              </div>
	            </div>
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon emailIcon"></span>
	                <input id="cvlink" type="email" class="" formControlName="employee_email" readonly>
	                <label for="cvlink" [ngClass]="{'active':jobApplicationEditForm.get('employee_email').value}">Email</label>
	              </div>
	            </div>
	          </div>
	          <div class="input-field activeIcon">
	            <span class="icon benefitIcon"></span>
	            <textarea rows="4" class="form-control" placeholder="Special Notes" formControlName="special_note"></textarea>
	            <span *ngIf="(isSubmit && jobApplicationEditForm.get('special_note').errors) || ((jobApplicationEditForm.get('special_note').touched || jobApplicationEditForm.get('special_note').dirty)
                              && jobApplicationEditForm.get('special_note').errors)">
							<span *ngIf="jobApplicationEditForm.get('special_note').errors.required "
							  class="form-error">Please enter special note</span>
							</span>
	          </div>
	          <div class="submitOuter">
	            <button type="submit" (click)="updateForm()">Update</button>
	          </div>
	        </div>
      	</form>
      	<form [formGroup]="internationalJobEditForm" *ngIf="job_type == 'international-job'">
	        <div class="registrationFormInner">
	          <div class="row">
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon jobIcon"></span>
	                <input id="appid" type="text" class="" formControlName="application_id" readonly>
	                <label for="appid" [ngClass]="{'active':internationalJobEditForm.get('application_id').value}">Application Id</label>
	              </div>
	            </div>
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon jobIcon"></span>
	                <input id="jobid" type="text" class="" formControlName="job_id" readonly>
	                <label for="jobid" [ngClass]="{'active':internationalJobEditForm.get('job_id').value}">Job Id</label>
	              </div>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon nameIocn"></span>
	                <input id="empName" type="text" class="" formControlName="employee_name" readonly>
	                <label for="empName" [ngClass]="{'active':internationalJobEditForm.get('employee_name').value}">Name</label>
	              </div>
	            </div>
	            <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon jobDesIcon"></span>
	                <input id="cvlink" type="text" class="validate">
	                <label for="cvlink">CV Link</label>
	              </div>
	            </div> -->
	          </div>
	          <div class="row">
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon employeeIcon"></span>
	                <select formControlName="application_status">
                    <option value="" selected>Choose Status</option>
                    <option value="{{phase._id}}" *ngFor="let phase of application_phases">{{phase.phase_name}}</option>
                  </select>
                  <span *ngIf="(isSubmit && internationalJobEditForm.get('application_status').errors) || ((internationalJobEditForm.get('application_status').touched || internationalJobEditForm.get('application_status').dirty)
                              && internationalJobEditForm.get('application_status').errors)">
                   <span *ngIf="internationalJobEditForm.get('application_status').errors.required "
                      class="form-error">Please Select Status</span>
                   </span>
	              </div>
	            </div>
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon emailIcon"></span>
	                <input id="cvlink" type="email" class="" formControlName="employee_email" readonly>
	                <label for="cvlink" [ngClass]="{'active':internationalJobEditForm.get('employee_email').value}">Email</label>
	              </div>
	            </div>
	          </div>
	          <div class="input-field activeIcon">
	            <span class="icon benefitIcon"></span>
	            <textarea rows="4" class="form-control" placeholder="Special Notes" formControlName="special_note"></textarea>
	            <span *ngIf="(isSubmit && internationalJobEditForm.get('special_note').errors) || ((internationalJobEditForm.get('special_note').touched || internationalJobEditForm.get('special_note').dirty)
                              && internationalJobEditForm.get('special_note').errors)">
							<span *ngIf="internationalJobEditForm.get('special_note').errors.required "
							  class="form-error">Please enter special note</span>
							</span>
	          </div>
	          <div class="submitOuter">
	            <button type="submit" (click)="updateInternationalForm()">Update</button>
	          </div>
	        </div>
      	</form>
      	<form [formGroup]="walkinApplicationEditForm" *ngIf="job_type == 'walk-in'">
	        <div class="registrationFormInner">
	          <div class="row">
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon jobIcon"></span>
	                <input id="appid" type="text" class="" formControlName="application_id" readonly>
	                <label for="appid" [ngClass]="{'active':walkinApplicationEditForm.get('application_id').value}">Application Id</label>
	              </div>
	            </div>
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon jobIcon"></span>
	                <input id="jobid" type="text" class="" formControlName="walk_in_id" readonly>
	                <label for="jobid" [ngClass]="{'active':walkinApplicationEditForm.get('walk_in_id').value}">Walk-in Id</label>
	              </div>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon nameIocn"></span>
	                <input id="empName" type="text" class="" formControlName="employee_name" readonly>
	                <label for="empName" [ngClass]="{'active':walkinApplicationEditForm.get('employee_name').value}">Name</label>
	              </div>
	            </div>
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon emailIcon"></span>
	                <input id="cvlink" type="email" class="" formControlName="employee_email" readonly>
	                <label for="cvlink" [ngClass]="{'active':walkinApplicationEditForm.get('employee_email').value}">Email</label>
	              </div>
	            </div>
	            <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon jobDesIcon"></span>
	                <input id="cvlink" type="text" class="validate">
	                <label for="cvlink">CV Link</label>
	              </div>
	            </div> -->
	          </div>
	          <div class="row">
	          	<div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon emailIcon"></span>
	                <input id="booked_date" type="text" class="" formControlName="booked_date" readonly>
	                <label for="booked_date" [ngClass]="{'active':walkinApplicationEditForm.get('booked_date').value}">Booking Date</label>
	              </div>
	            </div>
	            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon emailIcon"></span>
	                <input id="booked_time" type="text" class="" formControlName="booked_time" readonly>
	                <label for="booked_time" [ngClass]="{'active':walkinApplicationEditForm.get('booked_time').value}">Booking Time</label>
	              </div>
	            </div>
	          </div>
	          <div class="row">
	            <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
	              <div class="input-field">
	                <span class="icon employeeIcon"></span>
	                <select formControlName="application_status">
                    <option value="" selected>Choose Status</option>
                    <option value="{{phase._id}}" *ngFor="let phase of application_phases">{{phase.phase_name}}</option>
                  </select>
                  <span *ngIf="(isSubmit && walkinApplicationEditForm.get('application_status').errors) || ((walkinApplicationEditForm.get('application_status').touched || walkinApplicationEditForm.get('application_status').dirty)
                              && walkinApplicationEditForm.get('application_status').errors)">
                   <span *ngIf="walkinApplicationEditForm.get('application_status').errors.required "
                      class="form-error">Please Select Status</span>
                   </span>
	              </div>
	            </div> -->
	            
	          </div>
	          <div class="input-field activeIcon">
	            <span class="icon benefitIcon"></span>
	            <textarea rows="4" class="form-control" placeholder="Special Notes" formControlName="special_note"></textarea>
	            <span *ngIf="(isSubmit && walkinApplicationEditForm.get('special_note').errors) || ((walkinApplicationEditForm.get('special_note').touched || walkinApplicationEditForm.get('special_note').dirty)
                              && walkinApplicationEditForm.get('special_note').errors)">
							<span *ngIf="walkinApplicationEditForm.get('special_note').errors.required "
							  class="form-error">Please enter special note</span>
							</span>
	          </div>
	          <div class="submitOuter">
	            <button type="submit">Update</button>
	          </div>
	        </div>
      	</form>
      </div>
    </div>
  </div>
</section>
