.publicArea {
    padding-top: 115px;
    border-top: none;
}
.submitOuter {
    margin-top: 20px;
    text-align: center;
}
.submitOuter button {
    display: inline-block;
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    background: #1b2d8f;
    padding: 8px 20px;
    border-radius: 3px;
    background-image: linear-gradient(#e21f26, #ab1318);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
    height: auto !important;
    border: none;
    width: auto !important;
    margin: 0 6px 10px 0;
}
.submitOuter button:hover {
	background-size: 100% 100%;
}
.publicArea a.apply{
	margin: 0 4px 10px 0;
}

@media (max-width: 991px){
    .mapOuter{
        margin-bottom: 10px;
    }
    .desktopNone{
        margin-top: 10px;
    }
    .publicArea{
        padding-top: 45px;
    }
}