<section class="registrationForm employerInnerSection" [ngClass]="{'cycleon':showPhase}">
   <div class="container" [ngClass]="{'cycleon':showPhase}">
      <div class="row" [ngClass]="{'cycleon':showPhase}">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12" [ngClass]="{'cycleon':showPhase}">
            <h2 class="pageTitle">{{title}}</h2>
            <!-- <div class="postedjobOuter appst" [ngClass]="{'cycleon':showPhase}">
               <ng-container *ngFor="let appliedJob of appliedJobs; index as i;">
               <div class="postedjobInner appliedjobInner" [ngClass]="{'cycleon':showPhase && showPhaseIndex ==i}">
                  <div class="appliedjobInnertop" [ngClass]="{'cycleon':showPhase && showPhaseIndex ==i}"> 
                     <a href="javascript:void(0)" [routerLink]="['/applied-job-details',appliedJob.job_id]" target="_blank">
                        <h5><img src="assets/images/globeIcon.png" alt="globeIcon"> {{appliedJob?.job?.job_title}}</h5>
                     </a>
                     <div class="editorview" innerHtml="{{appliedJob?.job?.about_this_job}}"></div>
                     
                     <p><strong>Keyskills :</strong> {{appliedJob?.job?.required_skill}}</p>
                     <ul>
                        <li><img src="assets/images/brifecaseIcon.png"> Experience  -  {{appliedJob?.job?.min_experiance?.name}}-{{appliedJob?.job?.max_experiance?.name}}</li>
                        <li><img src="assets/images/locationIcon.png"> Location  -  {{appliedJob?.job?.city?.name}}</li>
                     </ul>
                     <p><strong>Applied On :</strong> {{appliedJob?.applied_date | date:'d MMM y'}}</p>
                     <p><strong>Status:</strong> {{appliedJob?.applied_status?.phase_name}}</p>
                     <div class="appStatusOuter" [ngClass]="{'cycleon':showPhase && showPhaseIndex ==i}">
                        <a href="javascript:void(0)" class="cycleico" (click)="setPhase(i)">View Appliaction Status</a>
                     </div>
                  </div>
                  <div class="life-cycle">
                     <ul class="cyclelist">
                        <ng-container *ngFor="let applicationPhase of applicationPhases">
                        <li [ngClass]="{'completed': appliedJob.application_phase_complete.indexOf(applicationPhase._id) != -1}">
                           <span class="dot"></span>
                           <span class="text">{{applicationPhase?.phase_name}} </span>
                        </li>
                        </ng-container>
                     </ul>
                  </div>
               </div>
               </ng-container>
               <div class="postedjobInner appliedjobInner" *ngIf="!appliedJobs.length">
                  <h5 style="text-align: center;">No Data Available</h5>
               </div>
            </div> -->

            <div class="row">
               <div class="col-lg-6 col-md-12 col-sm-12 col-12 ng-star-inserted" *ngFor="let appliedJob of appliedJobs; index as i;">
                  <div  class="countryInner countryInnerSec">
                     <a href="javascript:void(0)">
                        <div  class="countryImg"></div>
                        <div  class="countryInnerInfo">
                           <img  alt="aloftLogo" src="{{appliedJob.job?.employer_logo}}">
                           <a href="javascript:void(0)" [routerLink]="['/job-details','job-post',appliedJob.job._id]" [queryParams]="{backUrl:'applied-jobs'}">
                           <ul  class="jobInfo">
                              <li><span><img  alt="employee" src="assets/images/employee1.png"></span><p>{{appliedJob.job?.job_title.length > 35 ? appliedJob.job?.job_title.slice(0,35) + '...': appliedJob.job?.job_title}}</p></li>
                              <li><span><img  alt="money" src="assets/images/money1.png"></span><p>Min {{appliedJob.job.min_monthly_salary}} - Max {{appliedJob.job.max_monthly_salary}} {{appliedJob.job?.currency_name?.currency_code}}/{{appliedJob.job.salary_type}}</p></li>
                              <li><span><img  alt="money" src="assets/images//money1.png"></span><p>Years of Experience {{appliedJob.job?.min_experiance?.name}} - {{appliedJob.job?.max_experiance?.name}} Years</p></li>
                              <li><span><img  alt="factory" src="assets/images/factory1.png"></span><p>{{(appliedJob.job.industry_name).toString()}}</p></li>
                              <li><span><img  alt="employee" src="assets/images/employee1.png"></span><p> {{appliedJob.job.employement_for?appliedJob.job.employement_for.name:''}}</p></li>
                              <li><span><img  alt="employee" src="assets/images/employee1.png"></span><p>{{appliedJob.job.employment_type?appliedJob.job.employment_type.name:''}}</p></li>
                              <li><span><img  alt="employee" src="assets/images/locationIcon1.png"></span><p>{{appliedJob.job?.country_name}}, {{appliedJob.job?.city_name}}</p></li>
                               <li><span><img  alt="employee" src="assets/images/employee1.png"></span><p><strong>Applied On :</strong> {{appliedJob?.applied_date | date:'d MMM y'}}</p></li>
                                <li><span><img  alt="employee" src="assets/images/employee1.png"></span><p><strong>Status:</strong> {{appliedJob?.applied_status?.phase_name}}</p></li>
                           </ul>
                           </a>
                           <div class="intrvw-status-show">
                              <a href="javascript:void(0)" class="cycleico" (click)="setPhase($event,i)">View Appliaction Status</a>
                           </div>
                        </div>
                     </a>

                     <div  class="countryInnerFoot life-cycl-footer" *ngIf='showPhase && showPhaseIndex ==i'>

                        <div class="life-cycle">
                           <ul class="cyclelist">
                              <ng-container *ngFor="let applicationPhase of applicationPhases">
                              <li [ngClass]="{'completed': appliedJob.application_phase_complete.indexOf(applicationPhase._id) != -1}">
                                 <span class="dot"></span>
                                 <span class="text">{{applicationPhase?.phase_name}} </span>
                              </li>
                              </ng-container>
                             
                            
                           </ul>
                        </div>
                        
                     </div>
                  </div>
               </div>


            </div>
               <div class="postedjobInner" *ngIf="appliedJobs.length == 0">
                  <h5 style="text-align: center;">No Data Available</h5>
               </div>

         <div class="row" *ngIf="current_page < total_pages">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="loadmoreOuter">
                <a href="javascript:void(0)" (click)="loadMore()">
                  <img src="assets/images/downArrow-double.png">
                  <span>Load More</span>
                </a>
              </div>
            </div>
          </div>

         </div>
      </div>
   </div>
</section>
