<!-- START BANNER SECTION -->
<section class="bannerSection innerBanner">
  <!-- <img src="assets/images/agencyBanner1.png" alt="registrationBanner"> -->
  <img src="assets/images/registrationBanner.png" alt="registrationBanner">
  <h2>Registration</h2>
</section>
<!-- END BANNER SECTION -->
<!-- START BREADCRUMB SECTION -->
<section class="breadcrumbSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-md-12 col-12">
        <ul>
          <li><a href="javascript:void(0)" [routerLink]="['/']">Home</a></li>
          <li class="current"><span>Franchise Registration</span></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-md-12 col-12">
        <div class="regPageLog">
          <a href="javascript:void(0)" class="blueBtn" [routerLink]="['/franchise/login']">Login</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END BREADCRUMB SECTION -->
<!-- START REGISTRATION FORM -->
<section class="registrationForm registrationFormSec">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="registrationFormOuter">
          <form [formGroup]="registrationForm">
            <h2 class="pageTitle">Franchise Details</h2>
            <div class="registrationFormInner">
              <div class="part-sec">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon companyIcon"></span>
                      <input id="namecom" type="text" class="validate" formControlName="comp_name">
                      <label for="namecom"> Name Of Company</label>
                      <p *ngIf="validation_error && validation_error.comp_name" class="form-error">{{validation_error.comp_name[0]}}</p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <select formControlName="country_id">
                        <option value="" selected>Job Location - Country</option>
                        <option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
                      </select>
                      <p *ngIf="validation_error && validation_error.country_id" class="form-error">{{validation_error.country_id[0]}}</p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <select formControlName="city_id">
                        <option value="" selected>Job Location - City</option>
                        <option value="{{city._id}}" *ngFor="let city of coutryWiseCity">{{city.name}}</option>
                      </select>
                      <p *ngIf="validation_error && validation_error.city_id" class="form-error">{{validation_error.city_id[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="input-field">
                  <span class="icon addressIcon"></span>
                  <textarea rows="4" class="form-control" placeholder="Postal Address Of Company" formControlName="address"></textarea>
                  <p *ngIf="validation_error && validation_error.address" class="form-error">{{validation_error.address[0]}}</p>
                </div>
              </div>
              <div class="part-sec">
                <h3>Contact Person</h3>
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon nameIocn"></span>
                      <input id="namecp" type="text" class="validate" formControlName="contact_person_name">
                      <label for="namecp">Your First Name</label>
                      <p *ngIf="validation_error && validation_error.contact_person_name" class="form-error">{{validation_error.contact_person_name[0]}}</p>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon nameIocn"></span>
                      <input id="namelast" type="text" class="validate" formControlName="contact_person_lastname">
                      <label for="namelast">Your Last Name</label>
                      <p *ngIf="validation_error && validation_error.contact_person_lastname" class="form-error">{{validation_error.contact_person_lastname[0]}}</p>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon employeeIcon"></span>
                      <input id="degcp" type="text" class="validate" formControlName="contact_person_designation">
                      <label for="degcp">Your Designation</label>
                      <p *ngIf="validation_error && validation_error.contact_person_designation" class="form-error">{{validation_error.contact_person_designation[0]}}</p>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon emailIcon"></span>
                      <input id="emailcp" type="email" class="validate" formControlName="contact_person_email">
                      <label for="emailcp">Your Email</label>
                      <p *ngIf="validation_error && validation_error.contact_person_email" class="form-error">{{validation_error.contact_person_email[0]}}</p>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon phoneIcon"></span>
                      <input id="phonecp" type="text" class="validate" formControlName="contact_person_phone">
                      <label for="phonecp">Your Phone</label>
                      <p *ngIf="validation_error && validation_error.contact_person_phone" class="form-error">{{validation_error.contact_person_phone[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <span class="emp_date_sapn">Date of Birth</span>
                        </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="input-field">
                          <span class="icon calIcon"></span>
                            <select formControlName="dob_date">
                              <option value="">Select Date</option>
                              <option value="{{date.id}}" *ngFor="let date of dates">{{date.id}}</option>
                            </select>
                             <p *ngIf="validation_error && validation_error.dob_date" class="form-error">{{validation_error.dob_date[0]}}</p>  
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="input-field">
                          <span class="icon calIcon"></span>
                            <select formControlName="dob_month">
                              <option value="">Select Month</option>
                              <option value="{{month.id}}" *ngFor="let month of months">{{month.value}}</option>
                            </select>
                             <p *ngIf="validation_error && validation_error.dob_month" class="form-error">{{validation_error.dob_month[0]}}</p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="input-field">
                          <span class="icon calIcon"></span>
                            <select formControlName="dob_year">
                              <option value="">Select Year</option>
                              <option value="{{year.id}}" *ngFor="let year of years">{{year.id}}</option>
                            </select>
                             <p *ngIf="validation_error && validation_error.dob_year" class="form-error">{{validation_error.dob_year[0]}}</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-12">
                     <div class="row emp_dateWraap gndr-reslv">
                      <div class="col-md-12 col-sm-12 col-12">
                        <span class="emp_date_sapn gndr-spn">Gender</span>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="input-field ">
                          <label>
                            <input type="radio" formControlName="gender" value="female">
                            <span>Female</span>
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="input-field ">
                          <label>
                            <input type="radio" formControlName="gender" value="male">
                            <span>Male</span>
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="input-field ">
                          <label>
                            <input type="radio" formControlName="gender" value="custom">
                            <span>Custom</span>
                          </label>
                        </div> 
                      </div>
                      <p *ngIf="validation_error && validation_error.gender" class="form-error" style="margin:45px 15px;">{{validation_error.gender[0]}}</p>
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field mt10">
                      <span class="icon jobDesIcon"></span>
                      <input type="file" name="" id="lcertificate" (change)="localCertificateUpload($event)">
                      <label for="lcertificate">
                        <span class="placeholderTxt">Company Certificate</span>
                        <span class="browse">Browse</span>
                        <!-- <span class="uploadedfileName">img1.png</span> -->
                      </label>
                      <p *ngIf="validation_error && validation_error.registration_certificate" class="form-error">{{validation_error.registration_certificate[0]}}</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon jobDesIcon"></span>
                      <input type="file" name="" id="govcertificate" (change)="govtCertificateUpload($event)">
                      <label for="govcertificate">
                        <span class="placeholderTxt">Contact Person Gov. Id</span>
                        <span class="browse">Browse</span>
                        <!-- <span class="uploadedfileName">img1.png</span> -->
                      </label>
                       <p *ngIf="validation_error && validation_error.govt_id" class="form-error">{{validation_error.govt_id[0]}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="part-sec">
                <h3>Bank Details</h3>
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="nameacc" type="text" class="validate" formControlName="name_account_holder">
                      <label for="nameacc">  Name of Account Holder</label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="bankname" type="text" class="validate" formControlName="bank_name">
                      <label for="bankname"> Bank Name</label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="noacc" type="text" class="validate" formControlName="account_no">
                      <label for="noacc"> Account Number </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="swiftcode" type="text" class="validate" formControlName="swift_code">
                      <label for="swiftcode">  SWIFT CODE</label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="ifscCode" type="text" class="validate" formControlName="ifsc_code">
                      <label for="ifscCode"> IFSC CODE </label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="bankadd" type="text" class="validate" formControlName="bank_portal_address">
                      <label for="bankadd"> Bank Postal address  </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="checkboxOuter" style="margin: 0 5px;">
                <label class="declaration_check">
                <input type="checkbox" class="filled-in" formControlName="declaration_user">
                <span><b>Declaration by the user</b> (I hereby declare that the information given in this application is true and correct to the best of my knowledge and belief of the company. In case any information given in this application proves to be false or incorrect, I shall be responsible for the consequences.)</span>
                </label>
                <p *ngIf="validation_error && validation_error.declaration_user" class="form-error">{{validation_error.declaration_user[0]}}</p>
              </div>
              <p class="pp">By clicking Agree & Join, you agree to the bsbstaffing <a href="javascript:void(0);" routerLink="legal/user-agreement" target="_blank">User Agreement</a>, <a href="javascript:void(0);" routerLink="legal/privacy-policy" target="_blank">Privacy Policy</a>, <a href="javascript:void(0);" routerLink="legal/terms-conditions" target="_blank">Terms And Conditions</a> and <a href="javascript:void(0);" routerLink="legal/cookie-policy" target="_blank">Cookie Policy</a>.</p>
              <div class="submitOuter">
                <button type="submit" (click)="submitForm()">Agree & Join</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>