<section class="registrationForm employerInnerSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="pageTitle">Saved Jobs</h2>


            <!-- <div class="postedjobOuter">
               <ng-container *ngFor="let savedJob of savedJobs; index as i;">
               <div class="postedjobInner"><a href="javascript:void(0)" [routerLink]="['/single-job-details',savedJob.job._id]" target="_blank">
                  <h5><img src="assets/images/globeIcon.png" alt="globeIcon"> {{savedJob.job.job_title}}</h5>
               </a>
                  <div class="editorview" innerHtml="{{savedJob.job.about_this_job}}"></div>
                  
                  <p><strong>Keyskills :</strong> {{savedJob.job.required_skill}}</p>
                  <ul>
                     <li><img src="assets/images/brifecaseIcon.png"> Experience  -  {{savedJob.job.min_experiance.name}}-{{savedJob.job.max_experiance.name}}</li>
                     <li><img src="assets/images/locationIcon.png"> Location  -  {{savedJob.job.city.name}}</li>
                  </ul>
                  <div class="row savejobOuter">
                     <div class="col-lg-6 col-md-12 col-sm-12 col-12"> 
                         <a href="javascript:void(0)" (click)="removeSaveJob(savedJob.job._id,savedJob._id)" class="savejobLink"><i class="fa fa-star" style="font-size:22px"></i> Saved </a>
                        <a href="javascript:void(0)" (click)="appliedJob(savedJob.job._id, savedJob._id)" class="blueBtn">Apply</a>
                     </div>
                     <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <h6 class="postDate">Saved On {{savedJob.day_diff ==0 ? 'Today': savedJob.day_diff + ' days ago'}} </h6>
                     </div>
                  </div>
               </div>
               </ng-container>
               <div class="postedjobInner appliedjobInner" *ngIf="!savedJobs.length">
                  <h5 style="text-align: center;">No Data Available</h5>
               </div>
            </div> -->

            <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-12 col-12 ng-star-inserted" *ngFor="let savedJob of savedJobs; index as i;">
                  <div  class="countryInner countryInnerSec">
                     <a href="javascript:void(0)"  [routerLink]="['/job-details','job-post',savedJob.job._id]" [queryParams]="{backUrl:'saved-jobs'}">
                        <div  class="countryImg"></div>
                        <div  class="countryInnerInfo">
                           <img  alt="aloftLogo" src="{{savedJob.job?.employer_logo}}">
                           <ul  class="jobInfo">
                              <li><span><img  alt="employee" src="assets/images/employee1.png"></span><p>{{savedJob.job?.job_title.length > 35 ? savedJob.job?.job_title.slice(0,35) + '...': savedJob.job?.job_title}}</p></li>
                              <li><span><img  alt="money" src="assets/images/money1.png"></span><p>Min {{savedJob.job.min_monthly_salary}} - Max {{savedJob.job.max_monthly_salary}} {{savedJob.job?.currency_name?.currency_code}}/{{savedJob.job.salary_type}}</p></li>
                              <li><span><img  alt="money" src="assets/images//money1.png"></span><p>Years of Experience {{savedJob.job?.min_experiance?.name}} - {{savedJob.job?.max_experiance?.name}} Years</p></li>
                              <li><span><img  alt="factory" src="assets/images/factory1.png"></span><p>{{(savedJob.job.industry_name).toString()}}</p></li>
                              <li><span><img  alt="employee" src="assets/images/employee1.png"></span><p> {{savedJob.job.employement_for?savedJob.job.employement_for.name:''}}</p></li>
                              <li><span><img  alt="employee" src="assets/images/employee1.png"></span><p>{{savedJob.job.employment_type?savedJob.job.employment_type.name:''}}</p></li>
                              <li><span><img  alt="employee" src="assets/images/locationIcon1.png"></span><p>{{savedJob.job?.country_name}}, {{savedJob.job?.city_name}}</p></li>
                           </ul>
                        </div>
                     </a>
                     <div  class="countryInnerFoot">
                        <div class="countryInnerFootLeft job-alrt-footr-hlder">
                           <h6>Posted {{savedJob.job.day_diff ==0 ? 'Today': savedJob.job.day_diff + ' days ago'}}</h6>
                        </div>
                        <div  class="countryInnerFootRight job-alrt-btn-hldr">
                          <!--  <a class="apply" href="javascript:void(0)" (click)="saveJob(savedJob.job._id,'exact_job',i)">Save This Job</a>  -->
                           <a class="apply" href="javascript:void(0)" (click)="appliedJob(savedJob.job._id,savedJob._id, savedJob.job)">Apply</a>
                        </div>
                     </div>
                  </div>
               </div>


            </div>
               <div class="postedjobInner" *ngIf="savedJobs.length == 0">
                  <h5 style="text-align: center;">No Data Available</h5>
               </div>

         </div>
      </div>
   </div>

   <a href="JavaScript:void(0);" id="question_modal_open" data-toggle="modal" data-target="#question_modal" style="display:none;"></a>
    <div class="modal profilepageModal question_anwer_modal question_modal" tabindex="-1" role="dialog" id="question_modal" [ngClass]="selected_job?.conditions?.questions.length == 1?'questionmodal_small':'questionmodal_large'">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="text-align: center;">Please answer below question very carefully, before applying the job</h5>
                <button type="button" class="close" id="question_modal_close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="registrationFormInner">
                    <form>
                        <ng-container *ngFor="let question of selected_job?.conditions?.questions; index as i">
                            <div class="form-group">
                                <label class="qstn"><strong>Q. <span [innerHtml]="checkQuestionMark(question.question_name)"></span></strong></label>
                                <textarea class="form-control" [ngxSummernote]="benefitsconfig" [(ngModel)]="questionAnswers[i +'_'+question.question_name]" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </ng-container>
                        <div class="submithold">
                            <button type="submit" class="blueBtn" (click)="applyQuestionCondWise(selected_job._id)">Apply Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>