.referal-add{
    position: relative;
    box-shadow: 3px 1px 10px #afafaf;
    background-color: #fff;
    padding: 10px;
    margin: 0 0 20px 0;
}
.referal-add h5{
    display: inline-block;
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 4px 10px;
    background: #252a99;
    margin: 0;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    border-radius: 50%;
}
.referal-add i{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #9a0f31;
    z-index: 10;
}
.announce-msg-body{
  box-shadow: -1px 1px 5px #8591b8;
  border: 1px solid #8591b8;
  padding: 10px 14px;
  background: #fff;
}