<section class="registrationForm employerInnerSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="registrationFormOuter">
               <h2 class="pageTitle">Referal List</h2>

               <div class="employeeList referalList" *ngIf="referalList.length">
                  <div class="employeeListOuter employeeListHead">
                     <div class="employeeListInner">
                        <p>Sl No.</p>
                     </div>
                     <div class="employeeListInner">
                        <p>Referal Name</p>
                     </div>
                     <div class="employeeListInner">
                        <p>Referal Email</p>
                     </div>
                     <div class="employeeListInner">
                        <p>Referal Designation</p>
                     </div>
                     <div class="employeeListInner">
                        <p>Referal Company Name</p>
                     </div>
                     <div class="employeeListInner">
                        <p>Referal Company Website</p>
                     </div>
                  </div>
                  <ng-container *ngFor="let referal of referalList; let i = index">
                  <div class="employeeListOuter employeeListBody">
                     <div class="employeeListInner">
                        <p>{{i+1}}</p>
                     </div>
                     <div class="employeeListInner">
                        <p>{{referal.referal_name}}</p>
                     </div>
                     <div class="employeeListInner">
                        <p>{{referal.referal_email}}</p>
                     </div>
                     <div class="employeeListInner">
                        <p>{{referal.referal_designation}}</p>
                     </div>
                     <div class="employeeListInner">
                        <p>{{referal.referal_company}}</p>
                     </div>
                     <div class="employeeListInner">
                        <p>{{referal.referal_company_website}}</p>
                     </div>
                  </div>
                  </ng-container>

               </div>

               <div class="registrationFormInner">
                  <form [formGroup]="referalForm">
                     <div formArrayName="referrals" *ngFor="let referal of formData;let i = index;">
                        <div [formGroupName]="i" class="referal-add"><a href="javascript:void(0)" (click)="deleteReferalArray(i)" title="Delete" *ngIf="i!==0"><i class="material-icons">delete</i></a>
                           <h5>{{i+1}}</h5>
                           <div class="row">
                              <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                 <div class="input-field">
                                    <span class="icon nameIocn"></span>
                                    <input id="refName{{i}}" type="text" class="validate" formControlName="referal_name">
                                    <label for="refName{{i}}" [ngClass]="{'active': referalForm.controls.referrals.controls[i].controls.referal_name.value}">Referal Name</label>
                                    <span *ngIf="(is_submitted && referalForm.controls.referrals.controls[i].controls.referal_name.errors) || ((referalForm.controls.referrals.controls[i].controls.referal_name.touched || referalForm.controls.referrals.controls[i].controls.referal_name.dirty)
                              && referalForm.controls.referrals.controls[i].controls.referal_name.errors)">
                                    <span *ngIf="referalForm.controls.referrals.controls[i].controls.referal_name.errors.required "
                                       class="form-error">This field is required</span>
                                    </span>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                 <div class="input-field">
                                    <span class="icon emailIcon"></span>
                                   <div class="chips-placeholder">
                                     <div class="chips">
                                    <tag-input id="refEmail{{i}}" [(ngModel)]='emailData[i]'  [ngModelOptions]="{standalone: true}" (ngModelChange)="entervalue($event, i)" secondaryPlaceholder="Referal Email" placeholder="Referal Email" [maxItems]='1' addOnBlur="addOnBlur"></tag-input>
                                  </div>
                                    <span *ngIf="is_submitted && (emailData[i] == undefined || emailData[i] =='')"
                                       class="form-error">Please enter referal email </span>

                                  </div>
                                    <!-- <span class="icon emailIcon"></span>
                                    <input id="refEmail{{i}}" type="text" class="validate" formControlName="referal_email">
                                    <label for="refEmail{{i}}" [ngClass]="{'active': referalForm.controls.referrals.controls[i].controls.referal_email.value}">Referal Email</label>
                                    <span *ngIf="(is_submitted && referalForm.controls.referrals.controls[i].controls.referal_email.errors) || ((referalForm.controls.referrals.controls[i].controls.referal_email.touched || referalForm.controls.referrals.controls[i].controls.referal_email.dirty)
                              && referalForm.controls.referrals.controls[i].controls.referal_email.errors)">       
                              <span *ngIf="referalForm.controls.referrals.controls[i].controls.referal_email.errors.email "
                                       class="form-error">This is not email format</span>                             
                                    <span *ngIf="referalForm.controls.referrals.controls[i].controls.referal_email.errors.required "
                                       class="form-error">This field is required</span>
                                    </span> -->
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                 <div class="input-field">
                                    <span class="icon employeeIcon"></span>
                                    <input id="refdesig{{i}}" type="text" class="validate" formControlName="referal_designation">
                                    <label for="refdesig{{i}}" [ngClass]="{'active': referalForm.controls.referrals.controls[i].controls.referal_designation.value}">Referal Designation</label>
                                    <span *ngIf="(is_submitted && referalForm.controls.referrals.controls[i].controls.referal_designation.errors) || ((referalForm.controls.referrals.controls[i].controls.referal_designation.touched || referalForm.controls.referrals.controls[i].controls.referal_designation.dirty)
                              && referalForm.controls.referrals.controls[i].controls.referal_designation.errors)">
                                    <span *ngIf="referalForm.controls.referrals.controls[i].controls.referal_designation.errors.required "
                                       class="form-error">This field is required</span>
                                    </span>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                 <div class="input-field">
                                    <span class="icon companyIcon"></span>
                                    <input id="refCompany{{i}}" type="text" class="validate" formControlName="referal_company">
                                    <label for="refCompany{{i}}" [ngClass]="{'active': referalForm.controls.referrals.controls[i].controls.referal_company.value}">Referal Company</label>
                                    <span *ngIf="(is_submitted && referalForm.controls.referrals.controls[i].controls.referal_company.errors) || ((referalForm.controls.referrals.controls[i].controls.referal_company.touched || referalForm.controls.referrals.controls[i].controls.referal_company.dirty)
                              && referalForm.controls.referrals.controls[i].controls.referal_company.errors)">
                                    <span *ngIf="referalForm.controls.referrals.controls[i].controls.referal_company.errors.required "
                                       class="form-error">This field is required</span>
                                    </span>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                 <div class="input-field">
                                    <span class="icon websiteIcon"></span>
                                    <input id="refCompanyWeb{{i}}" type="text" class="validate" formControlName="referal_company_website">
                                    <label for="refCompanyWeb{{i}}" [ngClass]="{'active': referalForm.controls.referrals.controls[i].controls.referal_company_website.value}">Referal Company Website</label>
                                 </div>
                              </div>
                           </div> 
                        </div>
                     </div>
                  </form>
                  <div class="submitOuter">
                     <button type="submit" (click)="submitForm()">Save</button>
                  </div>
               </div>

               <div class="addMore">
                  <a href="javascript:void(0)" (click)="addReferalArray()"><img src="assets/images/add.png" alt=""> Add More</a>
               </div>

               <div class="registrationFormInner">
                  <form [formGroup]="messageForm">
                     <div class="input-field">
                        <span class="icon jobDesIcon"></span>
                        <select formControlName="subject_id">
                           <option value="">Please Select Subject</option>
                           <option *ngFor="let template of templates;" value="{{template._id}}">{{template.temp_name}}</option>
                        </select>
                        <span *ngIf="(isSubmit && messageForm.get('subject_id').errors) || ((messageForm.get('subject_id').touched || messageForm.get('subject_id').dirty)
                              && messageForm.get('subject_id').errors)">
                           <span *ngIf="messageForm.get('subject_id').errors.required "
                              class="form-error">Please select subject</span>
                       </span>
                     </div>
                     <div class="input-field">
                        <!-- <span class="icon jobDesIcon"></span> -->
                        <!-- <textarea rows="4" class="form-control" placeholder="Write a Message" formControlName="message"></textarea> -->
                        <input type="hidden" formControlName="message">
                        <div class="announce-msg-body" [innerHtml]="selectedBody" *ngIf="selectedBody"></div>
                        <span *ngIf="(isSubmit && messageForm.get('message').errors) || ((messageForm.get('message').touched || messageForm.get('message').dirty)
                              && messageForm.get('message').errors)">
                           <span *ngIf="messageForm.get('message').errors.required "
                              class="form-error">Please enter message</span>
                       </span>
                     </div>
                     <div class="input-field">
                           <span class="icon jobDesIcon"></span>
                           <textarea rows="4" class="form-control" placeholder="Add Your Signature" formControlName="signature"></textarea>
                        </div>
                     <div class="checkboxOuter">
                        <label>
                        <input type="checkbox" formControlName="agree">
                        <span>I agreed, <a href="#" data-toggle="modal" data-target="#conditionModal">Terms &amp; Conditions</a></span>
                        </label>
                     </div>
                     <div class="submitOuter">
                        <button type="submit" (click)="sendMesage()">Send Message</button>
                     </div>
                  </form>
               </div>

            </div>
         </div>
      </div>
   </div>
</section>
<!-- Terms and condition -->
<div class="modal generalModal" id="conditionModal" >
   <!-- <div class="modal-dialog bd-example-modal-sm" role="document"> -->
      <div class="modal-content">
         <div class="modal-header">
            <h4>Terms and Conditions</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
         </div>

         <div class="modal-body">
            <p>Offer will be valid after 5 HR recruiter or 5 Employer job post on our Portal Refer by you</p>
            <p>Offer will be valid after 10 HR recruiter or 10 Employer job post on our PortalRefer by you</p>
            <p>Offer will be valid after 10 HR recruiter or 10 Employer job post on our Portal Refer by you</p>
         </div>
      </div>
   <!-- </div> -->
</div>