<section class="registrationForm employerInnerSection employeeProfileSection" *ngIf="!isLoading">
        <div class="employeeProfileHead">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <h2>Profile Details</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="registrationFormOuter">
                
                  <div class="row">             
                    <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                      <div class="employeeProfileQuickedit">
                        <div class="row">
                          <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="profilePic">
                              <img src="{{employee_details?.user_detail?.profile_picture_image ? employee_details?.user_detail?.profile_picture_image : 'assets/images/profilePic.png'}}">
                              
                            </div>
                            <h3>{{employee_details?.user_detail?.name?employee_details?.user_detail?.name :''}}</h3>
                          </div>
                          <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                            <div class="employeeQuickInfo profileInfoOuter">
                              <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">                              
                                  <h5>{{employee_details?.user_detail?.profile_title}}</h5>
                                </div>
                              </div>
                              <div class="profileInfoInner noraml">
                                <ul>
                                  <li><img src="assets/images/placeholder-blue.png">Location: <strong> {{employee_details?.user_detail?.city ? employee_details?.user_detail?.city?.name :''}},{{employee_details?.user_detail?.country ? employee_details?.user_detail?.country?.name : ''}}</strong></li>                              
                                  <li><img src="assets/images/email-blue.png">Email: <strong><span class="imgIxt">{{employee_details?.email}}</span> <img src="assets/images/checked.png"></strong></li>
                                  <li><img src="assets/images/skype-blue.png">Skype: <strong><span class="imgIxt">{{employee_details?.user_detail?.skype_id}}</span></strong></li>
                                  <li><img src="assets/images/telephone-blue.png">Phone: <strong>{{employee_details?.phone_no}} </strong></li>
                                </ul>
                              </div>
                               
                              <div class="empLykOuter">                                
                                <h6><a href="javascript:void(0)" (click)="likeProfile(employee_details.id)" title="Like My Profile"><img src="assets/images/employeelyk.png" alt="employeelyk"></a> | Like my Profile</h6>
                              </div>                        
                            </div> 
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12"> 
                          <div class="employeeProfileWrap">                       
                            <div class="communitystrength">
                              <h4>Profile Strength</h4>
                              <div class="strengthOuter">
                                <div class="strengthInner" [style.width.%]=employee_details?.user_detail?.profile_strength>
                                  <span class="strengthTxt">{{employee_details?.user_detail?.profile_strength}}%</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="employeeProfileWrap" id="photo-videodiv">
                        <div class="wrapHead">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                              <h4>View Photos/Videos</h4>
                            </div>
                           
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 ">
                            <div class="tabpanel"> 
                              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-photo-tab" data-toggle="tab" href="#nav-photo" role="tab" aria-controls="nav-photo" aria-selected="true">Photos</a>
                                <a class="nav-item nav-link" id="nav-video-tab" data-toggle="tab" href="#nav-video" role="tab" aria-controls="nav-video" aria-selected="false">Video Resume</a>  
                              </div> 
                              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                              <div class="tab-pane show active" id="nav-photo" role="tabpanel" aria-labelledby="nav-home-tab">
                                 <div class="tabgallery tabphotogallery slick">
                                <owl-carousel
                                    [options]="userPhotoOptions"
                                    [carouselClasses]="['owl-theme', 'sliding']"
                                    >
                                    <ng-container *ngFor="let image of employee_photos;index as i">
                                    <div class="item">
                                       <div class="imageholder">
                                          <a class="image-link1" href="{{image.photo_image}}" data-fancybox="images" data-caption="Award Wining Ceremony" >
                                          <img class="card-img-top" [src]="image.photo_image" alt="Working Time">
                                          <span class="overlay">
                                          <span class="search" > 
                                          <img src="assets/images/search1.png" title="Zoom"
                                             alt="zoom" />
                                          </span>
                                          </span>
                                          <span class="caption"> 
                                          <span class="cp">{{image.description}}</span>
                                          </span>
                                          </a>
                                       </div>
                                    </div>
                                    </ng-container>
                                 </owl-carousel>
                                 </div>
                              </div>
                              <div class="tab-pane" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab">
                                 <ul  class="videolist">
                                    <ng-container *ngFor="let employeeVideo of employeeVideos">
                                      <li>
                                        <a href="https://www.youtube.com/watch?v=VHNhZw4D3N8" target="_blank">
                                         <iframe [src]="employeeVideo.video_link" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
                                        </a>
                                      </li>
                                    </ng-container>
                                 </ul>
                              </div>
                           </div>
                            </div> 
                          </div>
                        </div>
                      </div>
                      <div class="employee_details_sec">
                        <div class="row">

                          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="employeeProfileWrap experiencediv" id="experienceid">
                              <div class="wrapHead">
                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                    <h4>Summery of Your Profile</h4>
                                  </div>
                                </div>
                              </div>
                              <div class="profileInfoInner noraml infoWrapInner">
                                <div class="profileInfoData">
                                  <h5><span class="dataTitle">Job Title</span> <span class="datavalue">{{employee_details?.user_detail?.profile_title}}</span></h5>
                                </div>
                                <div class="profileInfoData">
                                  <h5><span class="dataTitle">Total Experience</span> <span class="datavalue">{{(employee_details && employee_details?.user_detail?.total_experience_yr)? employee_details?.user_detail?.total_experience_yr.name + 'Yr' :''}} {{(employee_details && employee_details?.user_detail?.total_experience_mn)? employee_details?.user_detail?.total_experience_mn.name :''}}</span></h5>
                                </div>
                                <div class="profileInfoData">
                                  <h5><span class="dataTitle">Current / Latest Annual Salary</span> <span class="datavalue" *ngIf="employee_details?.user_detail?.current_salary">{{employee_details?.user_detail?.current_salary_currency?.currency_code}} {{(employee_details?.user_detail)? employee_details?.user_detail?.current_salary :''}} /{{employee_details?.user_detail?.current_salary_type}}</span></h5>
                                </div>
                                <div class="profileInfoData">
                                  <h5><span class="dataTitle">Notice Period</span> <span class="datavalue">{{ employee_details?.user_detail?.notice_period_data}}</span></h5>
                                </div>
                                <div class="profileInfoData">
                                  <h5><span class="dataTitle">Profile Summary</span> <span class="datavalue"><div class="editorview" [innerHtml]="employee_details?.user_detail?.summary"></div></span></h5>
                                </div>
                              </div>  
                            </div> 
                            <div class="employeeProfileWrap jobdetailsdiv" id="jbdtlid">
                              <div class="wrapHead">
                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                    <h4>Desired Job Details</h4>
                                  </div>
                                </div>
                              </div>
                              <div class="profileInfoInner noraml infoWrapInner">
                                <div class="joblocation profileInfoData">
                                  <h5><span class="dataTitle">Preferred Country </span><span class="datavalue"> {{employee_details?.desired_job?.country_name}}</span></h5>
                                </div>
                                <div class="joblocation profileInfoData">
                                  <h5><span class="dataTitle">Preferred City </span><span class="datavalue"> {{employee_details?.desired_job?.cities_name}}</span></h5>
                                </div> 
                                <div class="industry profileInfoData">
                                  <h5><span class="dataTitle">Industry </span><span class="datavalue"> {{employee_details?.desired_job?.industries_name}}</span></h5>
                                </div>
                                <div class="jobdept profileInfoData">
                                  <h5><span class="dataTitle">Department </span><span class="datavalue"> {{employee_details?.desired_job?.department_name}}</span></h5>
                                </div> 
                                <div class="joblocation profileInfoData">
                                  <h5><span class="dataTitle">Designation</span> <span class="datavalue"> {{employee_details?.desired_job?.designation}}</span></h5>
                                </div>
                                <div class="jobtype profileInfoData">
                                  <h5><span class="dataTitle">Job Type </span><span class="datavalue"> {{employee_details?.desired_job?.job_type_text}}</span></h5>
                                </div>
                                <div class="shifttype profileInfoData">
                                  <h5><span class="dataTitle">Shift Type </span><span class="datavalue"> {{employee_details?.desired_job?.shifts_name}}</span></h5>
                                </div>
                                <div class="salary profileInfoData">
                                  <h5><span class="dataTitle">Expected Salary </span><span class="datavalue"> {{employee_details?.desired_job?.min_salary}} - {{employee_details?.desired_job?.max_salary}} {{employee_details?.desired_job?.currency_details?.currency_code}}/{{employee_details?.desired_job?.salary_type}}</span></h5>
                                </div> 
                              </div>     
                            </div>  
                            <div class="employeeProfileWrap" id="piid">
                              <div class="wrapHead">
                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                    <h4>Personal Information</h4>
                                  </div>
                                </div>   
                              </div>
                              <div class="profileInfoInner noraml infoWrapInner">
                                <div class="pad profileInfoData">
                                  <h5><span class="dataTitle">Permanent Address </span><span class="datavalue">  {{employee_details?.user_detail?.permanent_address}}</span></h5>
                                </div> 
                                <div class="prad profileInfoData">
                                  <h5><span class="dataTitle">Present Address </span><span class="datavalue"> {{employee_details?.user_detail?.present_address}}</span></h5>
                                </div> 
                                <div class="dob profileInfoData">
                                  <h5><span class="dataTitle">Date of Birth </span><span class="datavalue"> {{employee_details?.user_detail?.date_of_birth}}</span></h5>
                                </div>
                                <div class="nat profileInfoData">
                                  <h5><span class="dataTitle">Nationality </span><span class="datavalue"> {{employee_details?.user_detail?.nationality}}</span></h5>
                                </div> 
                                <div class="town profileInfoData">
                                  <h5><span class="dataTitle">Hometown </span><span class="datavalue"> {{employee_details?.user_detail?.home_town}}</span></h5>
                                </div>
                                <div class="country profileInfoData">
                                  <h5><span class="dataTitle">Living Country </span><span class="datavalue"> {{employee_details?.user_detail?.country?.name}}</span></h5>
                                </div>
                                <div class="city profileInfoData">
                                  <h5><span class="dataTitle">Living City </span><span class="datavalue"> {{employee_details?.user_detail?.city?.name}}</span></h5>
                                </div>
                                <div class="mst profileInfoData">
                                  <h5><span class="dataTitle">Marital Status </span><span class="datavalue">  {{employee_details?.user_detail?.married_status}}</span></h5>
                                </div> 
                                <div class="mst profileInfoData">
                                  <h5><span class="dataTitle">Gender </span><span class="datavalue">  {{employee_details?.user_detail?.gender_text}}</span></h5>
                                </div> 
                              </div>     
                            </div>
                            <div class="educationSec" id="employmentid">
                              <div class="employementHead">
                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                    <h4>Employment History</h4>
                                  </div>
                                </div> 
                              </div>                              
                              <ng-container *ngFor="let history of employment_history;index as i;">
                                <div class="employeeProfileWrap">
                                   <div [ngStyle]="{'display': (is_emp_history && (i== emp_his_ind) ? 'none':'')}">
                                   <div class="profileInfoInner noraml infoWrapInner infoWrapInnerSec">
                                      <div class="row">
                                         <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                            <div class="companyLogo companyLogoSec">
                                               <span> <img [src]="history?.company_logo_image ? history?.company_logo_image : 'assets/images/no-image.jpg'" alt=""/></span>
                                            </div>
                                         </div>
                                         <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                                            <div class="joblocation profileInfoData profileInfoDataSec">
                                               <h5><span class="dataTitle">Job Title </span><span class="datavalue"> {{history.job_title}} </span></h5>
                                            </div>
                                            <div class="industry profileInfoData profileInfoDataSec">
                                               <h5><span class="dataTitle">Company Name </span><span class="datavalue"> {{history.company_name}}</span></h5>
                                            </div>
                                            <div class="jobtype profileInfoData profileInfoDataSec">
                                               <h5><span class="dataTitle">Company Website </span><span class="datavalue emailDisplay"> {{history.company_website}}</span></h5>
                                            </div>
                                            <div class="shifttype profileInfoData profileInfoDataSec">
                                               <h5><span class="dataTitle">Industry of the company </span><span class="datavalue"> {{history.industry_name}}</span></h5>
                                            </div>
                                            <div class="salary profileInfoData profileInfoDataSec">
                                               <h5><span class="dataTitle">Department </span><span class="datavalue"> {{history.department_name}}</span></h5>
                                            </div>
                                            <div class="salary profileInfoData profileInfoDataSec">
                                               <h5><span class="dataTitle">Duration</span><span class="datavalue"> {{history.from_date}} <b>To</b> {{history.is_present_company =='1' ? 'till now': history.to_date}}</span></h5>
                                            </div>
                                            <div class="salary profileInfoData profileInfoDataSec">
                                               <h5><span class="dataTitle">About Job Profile</span><span class="datavalue"><div class="editorview" innerHtml="{{history?.about_job_profile.length > 200? history?.about_job_profile.slice(0,200) + '...':history?.about_job_profile}}"></div><a href="javascript:void(0)" (click)="readMore(history?.about_job_profile)" *ngIf="history?.about_job_profile.length > 200">Read More</a></span>
                                               </h5>
                                               <a href="javascript:void(0)" data-toggle="modal" data-target="#readMoreModal" id="read_more_model" style="display: none;"></a>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                   
                                    </div>
                                   
                                </div>
                              </ng-container>
                              
                              <a href="javascript:void(0)" class="educationMore" *ngIf="!show_all_his && (emp_his_data?.length >2)">
                              <img src="assets/images/downArrow6.png" alt="downArrow6" (click)="showAllEmployeementHis()">
                              </a>
                            </div>
                            <div class="commProfileBlock employementHead" id="educationid">
                              <div class="row">
                                  <div class="col-lg-8 col-md-8 col-sm-6 col-6">
                                      <h4>Education</h4>
                                  </div>
                              </div>
                              <div class="owl-carousel owl-loaded experienceSlider" [ngClass]="{'showCarouselNav': (!employee_education?.length || employee_education?.length <= 3)}">
                     <owl-carousel
                              [options]="userPhotoOptions"
                              [carouselClasses]="['owl-theme','sliding']"
                              >
                        <ng-container *ngFor="let emp_edu of employee_education">
                        <div class="item">
                           <div class="experienceInner">
                              <span class="fileddata"> <img [src]="(emp_edu?.institute_logo_image ? emp_edu?.institute_logo_image:'assets/images/no-image.jpg')" alt=""></span>
                              <h3>{{emp_edu.course_title}}</h3>
                              <h4>{{emp_edu.degree_name}}</h4>
                              <p>{{emp_edu.name_of_institute}}</p>
                              <p>{{emp_edu.institute_website}}</p>
                              <p>Coures Type - {{emp_edu.course_type_text}}</p>
                              <p>Passout Year {{emp_edu.passout_year}}</p>
                           </div>
                        </div>
                     </ng-container>
                     </owl-carousel>
                  </div>
                            </div>

                            <div class="employeeProfileWrap keyskilldiv" id="keyskillid">
                              <div class="keyskilldivInner">
                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                    <h4>Key Skills</h4>
                                  </div>
                                </div> 
                              </div>
                              <div class="profileInfoInner noraml">
                                <ul class="skillist">
                                  <li *ngFor="let emp_skill of employee_skill"><span>{{emp_skill.title}}</span></li>
                               </ul>
                              </div> 
                              
                            </div> 

                            <div class="commProfileBlock employementHead" id="certfictaionid">
                              <div class="row">
                                  <div class="col-lg-8 col-md-8 col-sm-6 col-6">
                                      <h4>Certification</h4>
                                  </div>
                              </div>
                              <div class="owl-carousel owl-loaded experienceSlider" [ngClass]="{'showCarouselNav': (!employee_certification.length || employee_certification.length <= 3)}" *ngIf="employee_certification && employee_certification.length">
                     <owl-carousel
                              [options]="userPhotoOptions"
                              [carouselClasses]="['owl-theme', 'sliding']"
                              >   
                     <ng-container *ngFor="let emp_certificate of  employee_certification">         
                     <div class="item">
                        <div class="experienceInner">
                           
                           <img src="{{emp_certificate?.institute_logo_url ? emp_certificate?.institute_logo_url: 'assets/images/no-image.jpg'}}" alt="clientLogo">
                           <h3>{{emp_certificate?.institute_name}}</h3>
                           <h4>{{emp_certificate?.course_name}}</h4>
                           <p>{{emp_certificate.details}}</p>
                           <p>Year of Certification - {{ emp_certificate.certification_date ? (emp_certificate.certification_date) :''}}</p>
                           <p>{{emp_certificate.about_certification ? emp_certificate.about_certification.substring(0,15) +'...':'' }} <a href="javascript:void(0)" (click)="readMore(emp_certificate?.about_certification)" *ngIf="emp_certificate?.about_certification.length > 15">More</a></p>
                        </div>
                     </div>
                     </ng-container>

                    </owl-carousel>
                  </div>
                            </div>

                            <div class="employeeProfileWrap" id="langid">
                              <div class="wrapHead wrapHeadSec">
                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                    <h4>Language</h4>
                                  </div>
                                </div>
                              </div>
                              <div class="profileInfoInner noraml">
                                <div class="languageTable ">
                                  <div class="languageRow languageHead">
                                    <div class="languageCol">
                                      <p>Language </p>
                                    </div>
                                    <div class="languageCol">
                                      <p>Proficiency</p>
                                    </div>
                                  </div>
                                 
                                <ng-container *ngFor="let emp_lang of employee_language">
                                  <div class="languageRow">
                                     <div class="languageCol">
                                        <p>{{emp_lang.language_name}} </p>
                                     </div>
                                     <div class="languageCol">
                                        <p>{{emp_lang.proficiency_text}}</p>
                                     </div>
                                     
                                    </div>
                                  </ng-container>
                                </div>
                              </div>  
                            </div>
                             
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                      <div class="dwnOuter">
                        <a target="_blank" href="{{cvLink}}"><i aria-hidden="true" class="fa fa-download"></i> Download Resume</a>
                      </div>
                      <div class="similarProfileOuter" >
                        <div class="wrapHead">
                          <h4>Similar Profile</h4>
                        </div>
                        <div class="similarProfileInner">
                          <ng-container *ngFor="let similar_prof of similar_profiles">
                            <div class="similarList">
                              <h5><a href="javascript:void(0)"  [routerLink]="['/employer/profile-view', similar_prof.id]" target="_blank">{{similar_prof?.user_detail?.name}}</a></h5>
                              <p>{{similar_prof?.user_detail?.profile_title}}</p>
                              <ul>
                                <li>Exp: {{similar_prof.user_detail.total_experience_yr ? similar_prof.user_detail.total_experience_yr.name:''}}</li>
                                <li>{{similar_prof.user_detail.city ?similar_prof.user_detail.city.name:''}}</li>
                                <li><a href="{{similar_prof.cv}}" download="true"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                              </ul>
                              <div>{{similar_prof.user_detail.total_experience}}</div>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>            
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>

       <!-- Read more  -->
    <div class="modal generalModal" id="readMoreModal">
      <!-- <div class="modal-dialog"> -->
        <div class="modal-content"> 
          <div class="modal-header">
            <h4 class="modal-title">Read More</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div> 
          
          <div class="modal-body"> 
            <div class="editorview" innerHtml="{{read_more_value}}"></div> 
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn blueBtn" data-dismiss="modal">ok</button>
            <a href="javascript:void(0)" id="close_reported_candidate_modal" data-dismiss="modal" aria-hidden="true" style="display: none;"></a>
          </div> 
         
        </div>
      <!-- </div> -->
    </div>
