.similarProfileOuter{
	border:1px solid #acb6df;
	padding: 0px 0 0 0;
}
.similarProfileOuter h4{
    font-size: 18px;
    line-height: 24px;
    color: #052195;
    margin: 0px 0 0px 0;
    font-weight: 600;
}
.dwnOuter {
	margin: 20px 0;
}
.dwnOuter a{
	display: block;
    border: 1px solid #acb6df;
    background: #d3d3d3;
    padding: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #202195;
    text-align: center;
}
.dwnOuter a:hover{
	background: #acb6df;
}
.similarProfileInner{
	
}
.similarList{
    border-bottom: 1px solid #acb6df;
    margin: 0 10px;
    padding: 10px;
}
.similarList:last-child{
	border-bottom: none;
}
.similarList h5{
	margin: 0 0 1px 0;
}
.similarList h5 a{
	font-size: 18px;
    line-height: 24px;
    color: #2a379e;
}
.similarList h5 a:hover{
	color: #000;
}
.similarList p{
	font-size: 15px;
	line-height: 22px;
	color: #666;
	margin: 0 0 2px 0;
}
.similarList ul {
	margin: 0 0 10px 0;
}
.similarList ul li{
	font-size: 15px;
    line-height: 22px;
    color: #666;
    margin: 0 0 0px 0;
    display: inline-block;
    padding: 0 10px 0 0;
    width: 40%;
}
.similarList ul li:last-child{
	width: 18%;
	text-align: right;
}
.similarList ul li a{
	color: #000;
}