 <!-- START REGISTRATION FORM -->
  <section class="registrationForm employerInnerSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="registrationFormOuter" *ngIf="!isLoading">
            <form>
              <h2 class="pageTitle">Profile Details</h2>
              <div class="profileInfoOuter profileInfoOuterSec">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                    <div class="profilePic">
                      <img src="{{employee_details.user_detail.profile_picture_image ? employee_details.user_detail.profile_picture_image : 'assets/images/profilePic.png'}}">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="profileInfoOuter profileInfoOuterinn">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <h3>{{employee_details.user_detail.name?employee_details.user_detail.name :''}}</h3>
                          <h5>{{employee_details.user_detail.profile_title}}</h5>
                        </div>
                      </div>
                      <div class="profileInfoInner noraml">
                        <ul>
                          <li><img src="assets/images/placeholder.png"> {{employee_details.user_detail.city ? employee_details.user_detail.city.name :''}},{{employee_details.user_detail.country ? employee_details.user_detail.country.name : ''}}</li>
                          <!--<li><img src="assets/images/suitcase.png"> 3 year(s) 7 month(s)</li>
                          <li><img src="assets/images/wallet.png"> INR 2 lakh(s) 40 thousand</li> -->
                          <li><img src="assets/images/telephone.png"> {{employee_details.phone_no}} <img src="assets/images/checked.png"> </li>
                          <li><img src="assets/images/email1.png"> {{employee_details.email}} <img src="assets/images/checked.png"> </li>
                          <li *ngIf="employee_details.user_detail.skype_id"><img src="assets/images/skype.png"> {{employee_details.user_detail.skype_id}}</li>
                        </ul>
                      </div>
                    </div>  
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="myprofileLikeOuter">
                      <a href="javascript:void(0)" (click)="likeProfile(employee_details.id)"><img src="assets/images/like.png"> Like My Profile</a>
                      <!-- <p>20 Employer Like Your Profile</p> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <h4>Summery of Your Profile</h4>
                    <h5 class="subject">{{employee_details.user_detail.profile_title}}</h5>
                    <!-- <span class="place">APLL</span>
                    <span class="year">2015 </span>
                    <div class="inwebsite p5">
                      <h6>Institute Website </h6><span>http://www.apcraypolytechnic.in/</span>
                    </div> -->
                    <p class="crdetails"> {{employee_details.user_detail.summary}}</p>                        
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <h4>Key Skill</h4>
                    <p>{{(employee_details.skill).toString()}}</p>
                    <!-- <h4>IT Skills</h4>
                    <p>Responsive Design(2 years), HTML5(2 years), CSS3, Jquery</p> -->
                  </div>
                </div>

              </div>
              <!-- <div class="profileInfoOuter profileInfoOuterSec" >
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <h3>Photos/Videos</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 ">
                    <div class="tabpanel"> 
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-photo-tab" data-toggle="tab" href="#nav-photo" role="tab" aria-controls="nav-photo" aria-selected="true">Photos</a>
                          <a class="nav-item nav-link" id="nav-album-tab" data-toggle="tab" href="#nav-album" role="tab" aria-controls="nav-profile" aria-selected="false">Albums</a>
                          <a class="nav-item nav-link" id="nav-video-tab" data-toggle="tab" href="#nav-video" role="tab" aria-controls="nav-video" aria-selected="false">Videos</a>  
                        </div> 
                      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane show active" id="nav-photo" role="tabpanel" aria-labelledby="nav-home-tab">  
                                <div class="tabgallery tabphotogallery">
                                  <owl-carousel
                                    [options]="userPhotoOptions"
                                    [carouselClasses]="['owl-theme', 'sliding']"
                                    >
                                    <div class="item" *ngFor="let image of userPhotos;index as i">
                                      <div class="imageholder">
                                        <a class="image-link1" href="assets/images/fg1.jpg" data-fancybox="images" data-caption="Award Wining Ceremony" >
                                          <img class="card-img-top" src="assets/images/fg1.jpg" alt="Working Time">
                                          <span class="overlay">
                                            <span class="search" > 
                                              <img src="assets/images/search1.png" title="Zoom"
                                              alt="zoom" />
                                            </span>
                                          </span>
                                          <span class="caption"> 
                                            <span class="cp">Award Wining Ceremony</span>
                                          </span>
                                        </a>
                                        <span class="edit">
                                          <a href="#"  title="Edit" class="edtdiv" data-toggle="modal" data-target="#photoModal">
                                            <img src="assets/images/pencilIcon.png" alt="zoom" />
                                          </a>
                                          <a href="#"  title="Remove" class="dltdiv">
                                            <img src="assets/images/delete1.png" title="Remove" alt="zoom" />
                                          </a>
                                        </span>
                                      </div>
                                    </div>
                                  </owl-carousel> 
                                </div>
                            </div>
                        <div class="tab-pane" id="nav-album" role="tabpanel" aria-labelledby="nav-album-tab">  
                            <div class="tabgallery tabvideogallery owl-carousel">
                              <div class="item">
                                <div class="imageholder">
                                  <a class="image-link1" href="assets/images/fg1.jpg" data-fancybox="images" data-caption="Award Wining Ceremony" >
                                    <img class="card-img-top" src="assets/images/fg1.jpg" alt="Working Time">
                                    <span class="overlay">
                                      <span class="search" > 
                                        <img src="assets/images/search1.png" title="Zoom"
                                        alt="zoom" />
                                      </span>
                                    </span>
                                    <span class="caption">
                                      <span class="dt">14th March,2018</span>
                                      <span class="cp">Award Wining Ceremony</span>
                                    </span>
                                  </a>
                                </div>
                              </div>  
                              <div class="item">
                                <div class="imageholder">
                                  <a class="image-link1" href="assets/images/fg2.jpg" data-fancybox="images" data-caption="In Office Party">
                                    <img class="card-img-top" src="assets/images/fg2.jpg" alt="">
                                    <span class="overlay">
                                      <span class="search" > 
                                        <img src="assets/images/search1.png" title="Zoom"
                                        alt="zoom" />
                                      </span>
                                    </span>
                                    <span class="caption">
                                      <span class="dt">16th March,2018</span>
                                      <span class="cp">In Office Party</span>
                                    </span>
                                  </a>
                                </div>
                              </div>  
                              <div class="item">
                                <div class="imageholder">
                                  <a class="image-link1" href="assets/images/fg3.jpg" data-fancybox="images" data-caption="Cultural programe in Office">
                                    <img class="card-img-top" src="assets/images/fg3.jpg" alt="">
                                    <span class="overlay">
                                      <span class="search" > 
                                        <img src="assets/images/search1.png" title="Zoom"
                                        alt="zoom" />
                                      </span>
                                    </span>
                                    <span class="caption">
                                      <span class="dt">17th March,2018</span>
                                      <span class="cp">Cultural programe in Office</span>
                                    </span>
                                  </a>
                                </div>
                              </div>  
                              <div class="item">
                                <div class="imageholder">
                                  <a class="image-link1" href="assets/images/fg4.jpg" data-fancybox="images" data-caption="Interview Time">
                                    <img class="card-img-top" src="assets/images/fg4.jpg" alt="">
                                    <span class="overlay">
                                      <span class="search" > 
                                        <img src="assets/images/search1.png" title="Zoom"
                                        alt="zoom" />
                                      </span>
                                    </span>
                                    <span class="caption">
                                      <span class="dt">20th March,2018</span>
                                      <span class="cp">Interview Time</span>
                                    </span>
                                  </a>
                                </div>
                              </div>  
                              <div class="item">
                                <div class="imageholder">
                                  <a class="image-link1" href="assets/images/fg5.jpg" data-fancybox="images" data-caption="This is Style">
                                    <img class="card-img-top" src="assets/images/fg5.jpg" alt="">
                                    <span class="overlay">
                                      <span class="search" > 
                                        <img src="assets/images/search1.png" title="Zoom"
                                        alt="zoom" />
                                      </span>
                                    </span>
                                    <span class="caption">
                                      <span class="dt">25th March,2018</span>
                                      <span class="cp">This is Style</span>
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div>
                        </div> 
                        <div class="tab-pane" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab">  
                             <ul  class="videolist">
                               <li>
                                 <a href="https://www.youtube.com/watch?v=VHNhZw4D3N8" target="_blank">
                                  <iframe src="https://www.youtube.com/embed/VHNhZw4D3N8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                 </a>
                               </li>
                                <li>
                                 <a href="https://www.youtube.com/watch?v=VHNhZw4D3N8" target="_blank">
                                  <iframe src="https://www.youtube.com/embed/VHNhZw4D3N8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                 </a>
                               </li>
                             </ul>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
              </div> -->

              <div class="employee_details_sec">
                <div class="row">
                  <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                    <div class="profileInfoOuter profileInfoOuterSec">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <h4>Personal Information</h4>
                        </div>
                      </div>   
                      <div class="profileInfoInner">
                        <div class="pad p5">
                          <h6>Permanent Address </h6><span>  {{employee_details.user_detail.permanent_address}}</span>
                        </div> 
                        <div class="prad p5">
                          <h6>Present Address </h6><span>  {{employee_details.user_detail.present_address}}</span>
                        </div> 
                        <div class="dob p5">
                          <h6>Date of Birth </h6><span> {{employee_details.user_detail.date_of_birth}}</span>
                        </div>
                        <div class="nat p5">
                          <h6>Nationality </h6><span> {{employee_details.user_detail.nationality}}</span>
                        </div> 
                        <div class="town p5">
                          <h6>Hometown </h6><span> {{employee_details.user_detail.home_town}}</span>
                        </div>
                        <!-- <div class="country p5">
                          <h6>Living Country </h6><span> Kolkata</span>
                        </div>
                        <div class="city p5">
                          <h6>Living City </h6><span> Kolkata</span>
                        </div> -->
                        <div class="mst p5">
                          <h6>Marital Status </h6><span>  {{employee_details.user_detail.married_status}}</span>
                        </div>                             
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <h4>Desired Job Details</h4>
                        </div>
                      </div>
                      <div class="profileInfoInner">
                        <!-- <div class="joblocation p5">
                          <h6>Job Location </h6><span> Saltlake</span>
                        </div> -->
                        <div class="joblocation p5">
                          <h6>Preferred Country </h6><span> {{employee_details.desired_job ? employee_details.desired_job.country_name:''}}</span>
                        </div>
                        <div class="joblocation p5">
                          <h6>Preferred City </h6><span> {{employee_details.desired_job ? employee_details.desired_job.cities_name:''}}</span>
                        </div> 
                        <div class="industry p5">
                          <h6>Industry </h6><span> {{employee_details.desired_job ? employee_details.desired_job.industries_name:''}}</span>
                        </div>
                        <div class="jobdept p5">
                          <h6>Department </h6><span> {{employee_details.desired_job ? employee_details.desired_job.department_name:''}}</span>
                        </div> 
                        <div class="jobtype p5">
                          <h6>Job Type </h6><span> {{employee_details.desired_job ? employee_details.desired_job.job_type_text:''}}</span>
                        </div>
                        <div class="shifttype p5">
                          <h6>Shift Type </h6><span> {{employee_details.desired_job ? employee_details.desired_job.shifts_name:''}}</span>
                        </div>
                        <div class="salary p5">
                          <h6>Salary </h6>
                          <!-- <span> Rs {{employee_details.desired_job.min_salary}} - 4.0 Lakh / Yr</span> -->
                          <span> {{employee_details?.desired_job ? employee_details?.desired_job?.min_salary:''}} - {{employee_details?.desired_job ? employee_details?.desired_job?.max_salary:''}} {{employee_details?.desired_job ? employee_details?.desired_job?.currency_details?.currency:''}} / {{employee_details?.desired_job ? employee_details?.desired_job?.salary_type:''}} </span>
                        </div> 
                      </div>
                      <div class="profileInfoInner">

                        <div class="profileviewOuter">
                          <h4>Employment History</h4>
                          <ng-container *ngFor="let history of employee_details.employment_history">
	                          <div class="profileviewInner">
	                            <div class="profileviewInnerLeft">
	                              <img src="{{history.company_logo_image}}" alt=""/>
	                            </div>
	                            <div class="profileviewInnerRight">
	                              <h5>{{history.job_title}}</h5>
	                              <h6>{{history.company_name}}</h6>
	                              <p>{{history.from_date}} - {{history.to_date}}</p>
	                              <p>{{history.company_website}}</p>
	                            </div>
	                          </div>
                        	</ng-container>
                          <!-- <div class="profileviewInner">
                            <div class="profileviewInnerLeft">
                              <img src="assets/images/pixellogo.png" alt=""/>
                            </div>
                            <div class="profileviewInnerRight">
                              <h5>Senior Web Designer</h5>
                              <h6>PIXEL SOLUTIONZ</h6>
                              <p>2015 - 2019</p>
                              <p>https://www.pixelsolutionz.com/</p>
                            </div>
                          </div> -->
                        </div> 
                      </div>
                      <div class="profileInfoInner">
                        <div class="profileviewOuter">
                          <h4>Education</h4>
                          <ng-container *ngFor="let emp_edu of employee_details.employee_education">
	                          <div class="profileviewInner">
	                            <div class="profileviewInnerLeft" *ngIf="emp_edu.institute_logo">
	                              <img src="{{emp_edu.institute_logo_image}}" alt="">
	                            </div>
	                            <div class="profileviewInnerRight">
	                              <h5>{{emp_edu.name_of_institute}}</h5>
	                              <h6>{{emp_edu.degree_name}}</h6>
	                              <p>{{emp_edu.passout_year}}, {{emp_edu.course_type_text}}</p>
	                              <p>{{emp_edu.institute_website}}</p>
	                            </div>
	                          </div>
                        	</ng-container>
                          <!-- <div class="profileviewInner">
                            <div class="profileviewInnerLeft">
                              <img src="assets/images/apc.jpg" alt="">
                            </div>
                            <div class="profileviewInnerRight">
                              <h5>A.P.C.RAY POLYTECHNIC</h5>
                              <h6>Diploma in Electronics & Instrumentation</h6>
                              <p>2015-1029, Full Time</p>
                              <p>http://www.apcraypolytechnic.in/</p>
                            </div>
                          </div> -->
                        </div>
                      </div>
                      <div class="profileInfoInner">
                        <div class="profileviewOuter">
                          <h4>Certification</h4>
                          <ng-container *ngFor="let emp_certificate of employee_details.employee_certification">
	                          <div class="profileviewInner">
	                            <!-- <div class="profileviewInnerLeft">
	                              <img src="assets/images/apc.jpg" alt="">
	                            </div> -->
	                            <div class="profileviewInnerRight">
	                              <h5>{{emp_certificate.institute_name}}</h5>
	                              <h6>{{emp_certificate.course_name}}</h6>
	                              <p>{{ emp_certificate.certification_date ? (emp_certificate.certification_date) :''}}</p>
	                              <!-- <p>http://www.apcraypolytechnic.in/</p> -->
	                              <p>{{emp_certificate.about_certification}}</p>
	                            </div>
	                          </div>
                        	</ng-container>
                          <!-- <div class="profileviewInner">
                            <div class="profileviewInnerLeft">
                              <img src="assets/images/apc.jpg" alt="">
                            </div>
                            <div class="profileviewInnerRight">
                              <h5>NIIT</h5>
                              <h6>Web Designing</h6>
                              <p>2015-1029</p>
                              <p>http://www.apcraypolytechnic.in/</p>
                              <p>India's leading concern providing education in high-end 3D animation, VFX and Gaming and multimedia</p>
                            </div>
                          </div> -->
                        </div>
                      </div>
                      <div class="profileInfoInner">
                        <h4>Language</h4>
                        <p>{{(employee_details.employment_language).toString()}}</p>
                        <!-- <div class="profileviewOuter">
                          <p>English(Expert), Bengali(Beginner), Hindi</p>
                        </div> -->
                      </div>
                    </div>
                    <div class="profileInfoOuter profileInfoOuterSec">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="downloadOuter">
                            <h4>Resume <a href="javascript:void(0)" (click)="downloadResume()">Download Resume</a></h4>
                          </div>
                        </div>
                      </div>
                      <div class="resumeOuter">
                      	<!-- <pdf-viewer [src]="cvLink" 
						              [original-size]="false"
						              style="display: block;"
												></pdf-viewer> -->
                        <ngx-doc-viewer [url]="cvLink" viewer="google"></ngx-doc-viewer>

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="profileInfoOuter profileInfoOuterSec" >
                      <h4>Similar Profile</h4>
                      <ng-container *ngFor="let similar_prof of similar_profiles">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="similarList">
                            <h5><a href="javascript:void(0)" [routerLink]="['/employer/profile-view', similar_prof.id]" target="_blank">{{similar_prof.user_detail.name}}</a></h5>
                            <p>{{similar_prof.user_detail.profile_title}}</p>
                            <ul>
                              <li>Exp: {{similar_prof.user_detail.total_experience_yr ? similar_prof.user_detail.total_experience_yr.name:''}}</li>
                              <li>{{similar_prof.user_detail.city ?similar_prof.user_detail.city.name:''}}</li>
                              <li><a href="{{similar_prof.cv}}" download="true"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                            </ul>
                            <div>{{similar_prof.user_detail.total_experience}}</div>
                          </div>
                        </div>
                      </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- END REGISTRATION FORM -->