<div class="col-lg-3 col-md-3 col-sm-12 col-12">
  <div class="leftMenu">
    <ul>
      <li><a href="employer-profile.html" class="active"><span class="profileIcon"></span> Profile</a></li>
      <li><a href="payment.html"><span class="payIcon"></span> Payment</a></li>
      <li><a href="application-received.html"><span class="receivedIcon"></span> Application Received</a></li>
      <li><a href="postedjob.html"><span class="postedIcon"></span> Posted Jobs</a></li>
      <li><a href="cv-access.html"><span class="cvIcon"></span> Cv Access</a></li>
      <li><a href="conduct-hiring-post.html"><span class="postedIcon"></span> Post Conduct Hiring</a></li>
    </ul>
  </div>
</div>