
	<div class="modalholder recruiterstep1">
		<div class="modalheader"> <a class="cross" href="javascript:void(0)" (click)="handleClose()"><i class="fa fa-times" aria-hidden="true"></i></a> </div>
		<div class="modalbody">
			<div class="modalform">
				<h3>College/ University/ Instituion Details</h3>
				<form [formGroup]="registrationForm">
					<div class="form-inline">
						<div class="form-group">
							<input type="text" class="company" name="" placeholder="College Name" formControlName="name"> <span *ngIf="validation_error && validation_error.name" class="form-error">{{validation_error.name[0]}}</span> </div>
						<div class="form-group">
							<input type="text" class="web" name="" placeholder="Website" formControlName="website" /> </div>
					</div>
					<div class="form-inline">
						<div class="form-group">

		                  <div class="input-field address degree-hlder" [ngClass]="{'multiselect_remove_place':storeMultiSelectRegistration.country_name.length}">
		                     <span class="icon locationIcon"></span>
		                     <div class="input_text">
		                        <span class="dropdown-search"> 
		                           <div class="add-slect-wrp">
		                        <ng-container *ngFor="let country of storeMultiSelectRegistration.country_name; index as i;">
		                           <span class="selected-span">{{country.length > 10 ? country.slice(0,10)+ '...': country }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelectSign2(i, 'country')"></i></span></span>
		                        </ng-container>
		                        </div>
		                        <input type="text" readonly="true" class="degree  multiselect-text-input" [style.display]="storeMultiSelectRegistration.country_name.length ?'none':''"  autocomplete="off" name="country" placeholder="Select Country" (click)="getOnchangeEventSign2('country')">
		                        <app-multi-select *ngIf="countryDivSign2" 
		                        [maxLength] ="1"
		                        [mainDataArray]="countryArray"
		                        [storedValue]="storeMultiSelectRegistration.country_value"
		                        [storedName]="storeMultiSelectRegistration.country_name"  
		                        [field_name] ="'country'"
		                        (sendDataEvent)="getChangeSign2($event)" 
		                        (checkOutsideEvent)="checkmultiselectSign2($event)" 
		                        (multidataSelect)="multiselectAllSearch($event)">
		                        </app-multi-select>
		                        </span>
		                     </div>
		                  </div>
							<span *ngIf="validation_error && validation_error.country_id" class="form-error">{{validation_error.country_id[0]}}</span> </div>
						<div class="form-group">
							<div class="input-field address degree-hlder" [ngClass]="{'multiselect_remove_place':storeMultiSelectRegistration.city_name.length}">
	                           <span class="icon locationIcon"></span>
	                           <div class="input_text">
	                              <span class="dropdown-search"> 
	                                 <div class="add-slect-wrp">
	                              <ng-container *ngFor="let city of storeMultiSelectRegistration.city_name; index as i;">
	                                 <span class="selected-span">{{city.length > 10 ? city.slice(0,10)+ '...': city }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelectSign2(i, 'city')"></i></span></span>
	                              </ng-container>
	                              </div>
	                              <input type="text" readonly="true" class="degree  multiselect-text-input"  autocomplete="off" name="city" placeholder="Select City" [style.display]="storeMultiSelectRegistration.city_name.length ?'none':''" (click)="getOnchangeEventSign2('city')">
	                              <app-multi-select *ngIf="cityDivSign2" 
	                              [mainDataArray]="coutryWiseCity"
	                              [storedValue]="storeMultiSelectRegistration.city_value"
	                              [storedName]="storeMultiSelectRegistration.city_name"  
	                              [field_name] ="'city'"
	                              [maxLength] ="1"
	                              (sendDataEvent)="getChangeSign2($event)" 
	                              (checkOutsideEvent)="checkmultiselectSign2($event)" 
	                              (multidataSelect)="multiselectAllSearch($event)">
	                              </app-multi-select>
	                           </span>
	                           </div>
	                        </div>

							<span *ngIf="validation_error && validation_error.city_id" class="form-error">{{validation_error.city_id[0]}}</span> </div>
					</div>
					<div class="form-group">
						<input type="text" class="address" placeholder="Postal Address" (blur)="handleAddres($event)" formControlName="address"> <span *ngIf="validation_error && validation_error.address" class="form-error">{{validation_error.address[0]}}</span> </div>
					<div class="form-inline">
						<div class="form-group">
							<input type="file" class="upload" id="uploaadcv" name="" placeholder="" (change)="logoUpload($event)"> <span class="filecustom">{{logoImage ?logoImage:'College Logo' }} <label for="uploaadcv">Browse</label></span>
							<div class="uploadedImg" *ngIf="registrationForm.get('logo').value">
								<a href="javascript:void(0)"><img src="assets/images/cancel.png" (click)="removelogo()"></a> <img src="{{ collegeUploadLogoImage}}"> </div>
						</div>
						<div class="form-group">
								<div class="input-field value degree-hlder"> 
									<span class="icon experienceIcon"></span>
									<div class="input_text">
									 <span class="dropdown-search">
									 	<div class="add-slect-wrp">
										<ng-container *ngFor="let course of noSearchSelect.course_name; index as i;"> <span class="selected-span">{{course}}<i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'course')"></i></span> </ng-container>
										</div>
                        <input type="text" readonly="true" class="degree multiselect-text-input" name="courses" placeholder="Select Courses Offered" (click)="getOnchangeEvent()" autocomplete="off">
                        <app-multi-select *ngIf="courseDiv" 
                          [mainDataArray]="coursesData"
                          [storedValue]="noSearchSelect.course_value"
                          [storedName]="noSearchSelect.course_name"  
                          [field_name] ="'courses'"
                          (sendDataEvent)="noSearchGetchange($event)" 
                          (checkOutsideEvent)="checkmultiselect($event)" 
                          (multidataSelect)="multiselectAll($event)">                                 
                        </app-multi-select>     
                        </span> </div> <span *ngIf="validation_error && validation_error.courses" class="form-error">{{validation_error.courses[0]}}</span> </div>
							
						</div>
					</div>
					<div class="form-inline">
						<div class="form-group">
							<input type="file" class="upload" id="galleryImg2" name="" placeholder="" (change)="galleryUpload($event)"> <span class="filecustom">College Gallery Images <label for="galleryImg2">Browse</label></span>
							<ng-container *ngIf="gallerie.previews.length">
								<div class="uploadedImg" *ngFor="let image of gallerie.previews; index as i;">
									<a href="javascript:void(0)" (click)="removeGalleryImage(i)"><img src="assets/images/cancel.png"></a> <img src="{{image}}"> </div>
							</ng-container>
						</div>
						<div class="form-group">
							<input type="text" class="ytb" name="" placeholder="Institute Campus Video(Youtube Link)" formControlName="institute_video"> </div>
					</div>
					<div class="form-inline">
						<div class="form-group">
							<input type="number" class="student" name="" placeholder="Total no of Students" formControlName="total_student"> <span *ngIf="validation_error && validation_error.total_student" class="form-error">{{validation_error.total_student[0]}}</span> </div>
						<div class="form-group">
							<input type="number" class="vacancy" name="" placeholder="Vacancy of placement per Year" formControlName="total_student_place_per_year"> <span *ngIf="validation_error && validation_error.total_student_place_per_year" class="form-error">{{validation_error.total_student_place_per_year[0]}}</span> </div>
					</div>
					<div class="form-group">
						<textarea placeholder="About your College/University/Instituion (max 1000 character)" formControlName="about_college" [ngxSummernote]="aboutconfig"></textarea>
						<span *ngIf="validation_error && validation_error.about_college" class="form-error">{{validation_error.about_college[0]}}</span>
					</div>
					<div class="form-group">
						<textarea placeholder="Mission (max 1000 character)" formControlName="mission" [ngxSummernote]="missionconfig"></textarea>
						<span *ngIf="validation_error && validation_error.mission" class="form-error">{{validation_error.mission[0]}}</span>
					</div>
					<div class="form-group">
						<textarea placeholder="Vision (max 1000 character)" formControlName="vision" [ngxSummernote]="visionconfig"></textarea>
						<span *ngIf="validation_error && validation_error.vision" class="form-error">{{validation_error.vision[0]}}</span>
					</div>
					<div class="form-group">
						<textarea placeholder="Special note for Employer (max 1000 character)" formControlName="special_note_employer" [ngxSummernote]="specialconfig"></textarea>
						<span *ngIf="validation_error && validation_error.special_note_employer" class="form-error">{{validation_error.special_note_employer[0]}}</span>
					</div>
					<h4>Contact Person</h4>
					<div class="form-inline">
						<div class="form-group">
							<input type="text" class="name" name="" placeholder="First Name" formControlName="contact_person_name"> <span *ngIf="validation_error && validation_error.contact_person_name" class="form-error">{{validation_error.contact_person_name[0]}}</span> </div>
						<div class="form-group">
							<input type="text" class="name" name="" placeholder="Last Name" formControlName="contact_person_lastname"> <span *ngIf="validation_error && validation_error.contact_person_lastname" class="form-error">{{validation_error.contact_person_lastname[0]}}</span> </div>
					</div>
					<div class="form-inline">
						<div class="form-group">
							<input type="text" class="name" name="" placeholder="Your Designation" formControlName="contact_person_designation"> <span *ngIf="validation_error && validation_error.contact_person_designation" class="form-error">{{validation_error.contact_person_designation[0]}}</span> </div>
						<div class="form-group">
							<input type="text" class="email" name="" placeholder="Email address" formControlName="contact_person_email"> <span *ngIf="validation_error && validation_error.contact_person_email" class="form-error">{{validation_error.contact_person_email[0]}}</span> </div>
					</div>
					<div class="form-inline">
						<div class="form-group">
							<input type="text" class="mobile" name="" placeholder="Your Phone" formControlName="contact_person_phone"> <span *ngIf="validation_error && validation_error.contact_person_phone" class="form-error">{{validation_error.contact_person_phone[0]}}</span> </div>
						<div class="form-group">
							<input type="date" class="date" name="" placeholder="Date of Birth" dateInput format="d/m/Y" mode="single" maxdate={{prevEighteenYearDate}} formControlName="date_of_birth"> <span *ngIf="validation_error && validation_error.date_of_birth" class="form-error">{{validation_error.date_of_birth[0]}}</span> </div>
					</div>
					<div class="form-inline3">
						<div class="form-group">
							<input type="radio" id="Male" name="gender" formControlName="gender" value="male" />
							<label for="Male">Male</label>
						</div>
						<div class="form-group">
							<input type="radio" id="Female" name="gender" formControlName="gender" value="female" />
							<label for="Female">Female</label>
						</div>
						<div class="form-group">
							<input type="radio" id="Custom" name="gender" formControlName="gender" value="custom" />
							<label for="Custom">Custom</label>
						</div>
					</div> <span *ngIf="validation_error && validation_error.gender" class="form-error gnder-error">{{validation_error.gender[0]}}</span>
					<div class="form-group flx-frm-group">
						<input class="declareCheck" type="checkbox" name="" formControlName="declaration_user">
						<label><span>Declaration by the user</span> (I hereby declare that the information given in this application is true and correct to the best of my knowledge and belief of the company. In case any information given in this application proves to be false or incorrect, I shall be responsible for the consequences.)</label>
						<p *ngIf="validation_error && validation_error.declaration_user" class="form-error">{{validation_error.declaration_user[0]}}</p>
					</div>
					<div class="form-group">
						 <p>By clicking Agree & Join, you agree to the bsbstaffing <a href="legal/user-agreement" target="_blank">User Agreement </a>, <a href="legal/privacy-policy" target="_blank">Privacy Policy</a>, <a href="legal/terms-conditions" target="_blank">Terms And Conditions</a> and <a href="legal/cookie-policy" target="_blank">Cookie Policy</a>.</p>
					</div>
					<div class="form-group">
						<button type="submit" (click)="submitForm()" [disabled]="showloader"><img src="assets/images/calender.png" alt="calender" /> Agree & Join <i class="fa fa-refresh fa-spin" style="font-size:24px" *ngIf="showloader"></i></button>
					</div>
					<div class="mbtnholder"> Already member? <a class="logout" href="javascript:void(0)" (click)="handleLogin()">login NOW</a> </div>
				</form>
			</div>
		</div>
	</div>