<!-- START REGISTRATION FORM -->
      <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="registrationFormOuter">
                <ul class="searchList">
                  <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/search-history']">Recent Search</a></li>
                  <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/search-history']" [queryParams]="{search_type:'saved'}">Save Search</a></li>
                  <!-- <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/search-history']">New Search</a></li> -->
                </ul>
                <h2 class="pageTitle">Candidate Simple Search</h2>
                <div class="row">
                  <div class="col-lg-6 col-md-8 col-sm-12 col-12">                    
                    <div class="searchTypeOuter searchTypeOuterSec">
                      <ul>
                        <li><a routerLink="/employer/advance-search" ><img src="assets/images/add_search.png"> Advance Search</a></li>
                        <li><a routerLink="/employer/people-search"><img src="assets/images/people_search.png"> People Search</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <form [formGroup]="simpleSearchForm">
                  <div class="registrationFormInner">
                    <div class="part-sec">
                      <div class="input-field">
                         <div class="chips-placeholder">
                                 <div class="chips">
                                     <tag-input [(ngModel)]='skill_key'  [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Keyword, skills etc." placeholder="Keyword, skills etc." addOnBlur="addOnBlur">
                                        <!--<tag-input-dropdown [autocompleteItems]="skillsData">
                                        </tag-input-dropdown>-->
                                        <tag-input-dropdown [autocompleteObservable]='requestAutocompleteSkill'>
                                        </tag-input-dropdown>
                                     </tag-input>
                                 </div>
                           </div>
                        <span class="icon jobIcon"></span>
                      </div>
                       
                          <div class="input-field">
                            <div class="multiselectdropdownOuter">
                              <div class="input-field">
                                <span class="icon industryIcon"></span>
                                <div class="input_text">
                                  <ng-container *ngFor="let industry of storeMultiSelect.industries_name; index as i;">
                                    <span class="selected-span">{{industry.length > 10 ? industry.slice(0,10)+ '...': industry}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'industry')"></i></span></span>
                                  </ng-container>
                                  <span class="dropdown-search">  
                                    <input readonly autocomplete="off" type="text" class="degree multiselect-text-input" name="industries" placeholder="Select Industry" (click)="getOnchangeEvent('industries')">
                                    <app-multi-select *ngIf="industriesDiv" 
                                    [mainDataArray]="industries"
                                    [storedValue]="storeMultiSelect.industries_value"
                                    [storedName]="storeMultiSelect.industries_name"  
                                    [field_name] ="'industries'"
                                    (sendDataEvent)="getChange($event)" 
                                    (checkOutsideEvent)="checkmultiselect($event)" 
                                    (multidataSelect)="multiselectAll($event)">                                 
                                    </app-multi-select>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="multiselectdropdownOuter">
                          <div class="input-field">
                            <span class="icon locationIcon"></span>
                            <div class="input_text">
                              <ng-container *ngFor="let country of storeMultiSelect.country_name; index as i;">
                                <span class="selected-span">{{country.length > 10 ? country.slice(0,10)+ '...': country}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'country')"></i></span></span>
                              </ng-container>
                              <span class="dropdown-search">  
                                <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="country" placeholder="Select Country" (click)="getOnchangeEvent('country')">
                                <app-multi-select *ngIf="countryDiv" 
                                  [mainDataArray]="countryArray"
                                  [storedValue]="storeMultiSelect.country_value"
                                  [storedName]="storeMultiSelect.country_name"  
                                  [field_name] ="'country'"
                                  (sendDataEvent)="getChange($event)" 
                                  (checkOutsideEvent)="checkmultiselect($event)" 
                                  (multidataSelect)="multiselectAll($event)">
                                </app-multi-select>
                              </span>
                            </div>
                          </div>
                        </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="multiselectdropdownOuter">
                          <div class="input-field">
                            <span class="icon locationIcon"></span>
                            <div class="input_text">
                              <ng-container *ngFor="let city of storeMultiSelect.city_name; index as i;">
                                 <span class="selected-span">{{city.length > 10 ? city.slice(0,10)+ '...': city }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'city')"></i></span></span>
                              </ng-container>
                              <span class="dropdown-search">
                                <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="city" placeholder="Select City" (click)="getOnchangeEvent('city')">
                                  <app-multi-select *ngIf="cityDiv" 
                                    [mainDataArray]="cityArray"
                                    [storedValue]="storeMultiSelect.city_value"
                                    [storedName]="storeMultiSelect.city_name"  
                                    [field_name] ="'city'"
                                    (sendDataEvent)="getChange($event)" 
                                    (checkOutsideEvent)="checkmultiselect($event)" 
                                    (multidataSelect)="multiselectAll($event)">
                                  </app-multi-select>
                                </span>
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">                      
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="input-field activeIcon">
                            <span class="icon experienceIcon"></span>
                            <select formControlName="min_experiance">
                              <option value="" selected>Minimum Experience</option>
                              <option value="{{expr.value}}" *ngFor="let expr of experiance">{{expr.name}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon experienceIcon"></span>
                            <select formControlName="max_experiance">
                              <option value="" selected>Maximum Experience</option>
                              <option value="{{expr.value}}" *ngFor="let expr of experiance">{{expr.name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="part-sec">
                      <div class="checkboxgrp">
                        <div class="checkboxOuter">
                          <label>
                            <input type="checkbox" class="filled-in">
                            <span>Also include candidates with similar skills</span>
                          </label>
                        </div>
                        <div class="checkboxOuter">
                          <label>
                            <input type="checkbox" class="filled-in" formControlName="premium">
                            <span>Premium candidates only</span>
                          </label>
                        </div>
                        <div class="checkboxOuter">
                          <label>
                            <input type="checkbox" class="filled-in" formControlName="women_only">
                            <span>Women candidates only</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="submitOuter">
                      <button type="submit" (click)="searchCv()">Search</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END REGISTRATION FORM -->