
   <div class="modalholder jobseekerstep1 login">
      <div class="modalheader"> 
         <a class="cross" href="javascript:void(0)" (click)="handleClose()"><i class="fa fa-times" aria-hidden="true"></i></a>
      </div>
      <div class="modalbody">
         <div class="modalform">
            <h3>Forgot Your Password</h3>
            <form [formGroup]="forgetPasswordForm">
               <div class="form-group">
                  <input type="text" class="email" placeholder="Email Address" formControlName="email"/>
                  <span *ngIf="(isSubmit && forgetPasswordForm.get('email').errors) || ((forgetPasswordForm.get('email').touched || forgetPasswordForm.get('email').dirty) && forgetPasswordForm.get('email').errors)">
                  <span *ngIf="forgetPasswordForm.get('email').errors.required" class="form-error">Please enter email</span>
                  <span *ngIf="forgetPasswordForm.get('email').value && !forgetPasswordForm.get('email').valid" class="form-error">Please enter valid email</span>
                  </span>
               </div>
               <div class="form-group">
                  <button type="submit" [disabled]="showloader" (click)="submitForm()"><img src="assets/images/lock.png" alt="calender"/> Submit <i class="fa fa-refresh fa-spin" style="font-size:24px" *ngIf="showloader"></i></button>
               </div>
            </form>
            <div class="mbtnholder"> <a class="" href="javascript:void(0)" (click)="handleLogin()">Back To Login</a>
            </div>
         </div>
      </div>
   </div>
