<div class="multiselectdropdown">
   <input type="search" class="mssearch" [(ngModel)]="searchData" [ngModelOptions]="{standalone: true}" name="" placeholder="Search here" />
   <div class="msdiv">
      <ng-container *ngFor="let data of dataArray | search : searchData; index as i;">
         <div class="msgroup">
            <h4>{{data[0]}}</h4>
            <div class="formholder">
               <!-- <div class="form-group">
                  <input type="checkbox" [(ngModel)]="selectAllModel[i]" [ngModelOptions]="{standalone: true}" name="chk12" value="chk1" (ngModelChange)="setCheckedAllModel($event, i)">
                  <label for="chk1">All</label>
               </div> -->
               <ng-container *ngFor="let checkedValue of data[1] | search : searchData;  index as j;">
                  <div class="checkboxOuter">
                        <label>
                        <input type="checkbox" [(ngModel)]="checkedValue.select" [disabled]="checkedValue.isDisabled" [ngModelOptions]="{standalone: true}" name="{{checkedValue.name}}" value="{{checkedValue._id}}" (ngModelChange)="getChange($event,checkedValue._id,checkedValue.name)">
                        <span>{{checkedValue.name}}</span>
                        </label>
                     </div>
                  <!-- <div class="form-group">
                     <input type="checkbox" id="chk2" [(ngModel)]="checkedValue.select" [ngModelOptions]="{standalone: true}" name="{{checkedValue.name}}" value="{{checkedValue._id}}" (ngModelChange)="getChange($event,checkedValue._id,checkedValue.name)">
                     <label for="chk2">{{checkedValue.name}}</label>
                  </div> -->
               </ng-container>
            </div>
         </div>
      </ng-container>
   </div>
</div>