<!-- START BANNER SECTION -->
<section class="bannerSection innerBanner">
   <img src="assets/images/registrationBanner.png" alt="registrationBanner">
   <h2>Login</h2>
</section>
<!-- END BANNER SECTION -->
<!-- START BREADCRUMB SECTION -->
<!-- <section class="breadcrumbSection breadcrumbSectionSec">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-md-12 col-12">
            <ul>
               <li><a href="#">Home</a></li>
               <li class="current"><span>Login</span></li>
            </ul>
         </div>
      </div>
   </div>
</section> -->
<!-- END BREADCRUMB SECTION -->
<!-- START REGISTRATION FORM -->
<section class="registrationForm registrationFormSec">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="registrationFormOuter">
               <h2 class="pageTitle">Login</h2>
               <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                     <form [formGroup]="loginForm">
                        <div class="loginInner">
                           <div class="input-field">
                              <span class="icon nameIocn"></span>
                              <input id="usernamecl" type="text" class="validate" formControlName="email">
                              <label for="usernamecl">Email Id</label>
                                 <span *ngIf="(isSubmit && loginForm.get('email').errors) || ((loginForm.get('email').touched || loginForm.get('email').dirty) && loginForm.get('email').errors)">
                                 <span *ngIf="loginForm.get('email').errors.required" class="form-error">Please enter email</span>
                                  <span *ngIf="loginForm.get('email').value && !loginForm.get('email').valid" class="form-error">Please enter valid email</span>
                             </span>
                           </div>
                           <div class="input-field">
                              <span class="icon passwordIcon"></span>
                              <input id="passwaodcl" type="{{showPassword?'text':'password'}}" class="validate" formControlName="password">
                              <label for="passwaodcl">Password</label>
                                 <span *ngIf="(isSubmit && loginForm.get('password').errors) || ((loginForm.get('password').touched || loginForm.get('password').dirty) && loginForm.get('password').errors)">
                                    <span *ngIf="loginForm.get('password').errors.required || loginForm.get('password').errors.whitespace" class="form-error">Please enter password</span>

                                </span>
                                <i class="fa fa-eye pss-eye" aria-hidden="true" (click)="showPassword = !showPassword"></i>
                           </div>
                           <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                 <div class="submitOuter">
                                    <button type="submit" class="blueBtn" (click)="submitForm()">Login</button>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                 <div class="forgotOuter">
                                    <a href="javascript:void(0)" [routerLink]="['/'+otherUserType+'/forgot-password']">Forgot Password?</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                     <div class="notRegistration">
                        <h4>Not a Member? Please Register Here</h4>
                        <a href="javascript:void(0)" (click)="changeRoute()" class="blueBtn">Register</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>