      <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="registrationFormOuter">
                <h2 class="pageTitle">Announcement Benefit</h2>    
                <div class="registrationFormInner">       
                  <form [formGroup]="announceForm">   
                   
                        <div class="input-field">
                          <span class="icon emailIcon"></span>
                          <div class="input_text" *ngIf="showSummary">
                            <span class="fixed-text_data">{{emailData.length ? showEmails :''}}</span>                           
                            <span class="selected-span">{{remainingCount - emailData.length}} remaining</span>
                            <span class="dropdown-search">  
                              <input type="text" class="multiselect-text-input" name="show_summary" minlength="10">
                            </span>
                          </div>

                          <div class="chips-placeholder" *ngIf="!showSummary">
                            <div class="chips">                              
                           <tag-input [(ngModel)]='emailData' name="add_email"  [ngModelOptions]="{standalone: true}" (ngModelChange)="entervalue($event)" secondaryPlaceholder="Add emails" placeholder="+ email"  addOnBlur="addOnBlur"></tag-input>
                         </div>
                           <span *ngIf="isSubmit && (emailData == undefined || emailData =='')"
                              class="form-error">Please enter emails </span>                             
                         </div>
                         <span *ngIf='existEmailError'
                              class="form-error">{{existEmailError}} </span> 
                      </div>
                   
                    <div class="input-field">
                          <span class="icon jobDesIcon"></span>
                          <select formControlName="subject_id">
                            <option value="">Select Your Subject</option>
                            <option *ngFor="let template of templates;" value="{{template._id}}">{{template.temp_name}}</option>
                          </select>
                          <span *ngIf="(isSubmit && announceForm.get('subject_id').errors) || ((announceForm.get('subject_id').touched || announceForm.get('subject_id').dirty)
                              && announceForm.get('subject_id').errors)">
                           <span *ngIf="announceForm.get('subject_id').errors.required "
                              class="form-error">Please select subject</span>
                           </span>
                        </div>
                    <div class="input-field">
                      <!-- <span class="icon jobDesIcon"></span> -->
                      <input type="hidden" formControlName="message">
                      <!-- <textarea rows="4" class="form-control" placeholder="Write a Message" formControlName="message" readonly="true" ></textarea> -->
                      <div class="announce-msg-body" [innerHtml]="selectedBody" *ngIf="selectedBody"></div>
                      <span *ngIf="(isSubmit && announceForm.get('message').errors) || ((announceForm.get('message').touched || announceForm.get('message').dirty)
                              && announceForm.get('message').errors)">
                           <span *ngIf="announceForm.get('message').errors.required "
                              class="form-error">Please enter message</span>
                       </span>
                    </div>
                    <div class="input-field">
                      <span class="icon jobDesIcon"></span>
                      <textarea rows="4" class="form-control" placeholder="Add Your Signature" formControlName="signature"></textarea>
                      <span *ngIf="(isSubmit && announceForm.get('signature').errors) || ((announceForm.get('signature').touched || announceForm.get('signature').dirty)
                              && announceForm.get('signature').errors)">
                           <span *ngIf="announceForm.get('signature').errors.required "
                              class="form-error">Please enter signature</span>
                       </span>
                    </div>
                    <div class="checkboxOuter">
                        <label>
                        <input type="checkbox" formControlName="agree">
                        <span>I agreed, <a href="#" data-toggle="modal" data-target="#conditionModal">Terms &amp; Conditions</a></span>
                        </label>
                     </div>
                      <span *ngIf="(isSubmit && announceForm.get('agree').errors) || ((announceForm.get('agree').touched || announceForm.get('agree').dirty))">
                           <span *ngIf="(announceForm.get('agree').errors && announceForm.get('agree').errors.required) || !termCondAgree "
                              class="form-error">Please checked agreed</span>
                       </span>
                    <div class="submitOuter">
                      <button type="submit" (click)="submitForm()">Send</button>
                    </div>
                  </form>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Terms and condition -->
<div class="modal generalModal" id="conditionModal" >
   <!-- <div class="modal-dialog bd-example-modal-sm" role="document"> -->
      <div class="modal-content">
         <div class="modal-header">
            <h4>Terms and Conditions</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
         </div>

         <div class="modal-body">
            <p>Offer will be valid after 5 HR recruiter or 5 Employer job post on our Portal Refer by you</p>
            <p>Offer will be valid after 10 HR recruiter or 10 Employer job post on our PortalRefer by you</p>
            <p>Offer will be valid after 10 HR recruiter or 10 Employer job post on our Portal Refer by you</p>
         </div>
      </div>
   <!-- </div> -->
</div>