.input_text{
  width: 100%;
 /* padding: 12px 20px;
  margin: 8px 0;*/
  box-sizing: border-box;
  /*border: 1px solid #555;*/
  border-bottom: 1px solid #5f6b94;
  outline: none;
}
.dropdown-search {
    display: inline-block;
}

.selected-span{
	padding: 4px 4px 4px 4px;
    position: relative;
    background: #abb3b3;
    border-radius: 50px;
}

.del{
	cursor: pointer;
    margin: 5px;
}

.multiselect-text-input{
	border-bottom: none !important; 
}

.fixed-text_data{
  margin-left: 30px;
  padding: 10px;
}
.announce-msg-body{
  box-shadow: -1px 1px 5px #8591b8;
  border: 1px solid #8591b8;
  padding: 10px 14px;
  background: #fff;
}
