 <!-- START JOB BY COUNTRY SECTION -->
      <section class="jobByCountrySection employerInnerSection" *ngIf="!isloading">
        <div class="container">
          <h2 class="pageTitle">{{job_type}} Walk-In Interview</h2>
          <div class="publicArea">
            <div class="row">
              <div class="col-lg-8 col-md-6 col-sm-12 col-12">
                <h3>{{job_details?.job_title}}</h3>
                <h5>posted {{job_details?.created_at}}</h5>
                <ul class="btnListing">
                  <li *ngIf="applied == false"><a href="javascript:void(0)" (click)="checkSlotBooked(job_details._id)" class="applyJob"><img src="assets/images/applyIcon.png" alt="applyIcon"> Apply Now</a></li>
                  <li *ngIf="applied"><span class="applied">Already Applied</span></li>
                  <!-- <li><a href="javascript:void(0)" (click)="checkSlotBooked(job_details._id)" class="saveJob"><img src="assets/images/jobIcon1.png" alt="jobIcon1"> Book Your Interview Slot</a></li> -->
                 	<a href="javascript:void(0)" data-toggle="modal" data-target="#bookedTimeSlotModel" id="booked_time_slot" style="display: none;"></a>
                  <!-- <li><a href="javascript:void(0)" (click)="applyJob(job_details._id, 'saved-job',job_type)" class="saveJob"><img src="assets/images/jobIcon1.png" alt="jobIcon1"> Save Job</a></li> -->
                  <li id="btnListing1"><a href="javascript:void(0)" class="shareJob"><img src="assets/images/shareIcon1.png" alt="jobIcon1"> Share This</a>
                    <ul class="share" id="share1">
                        <li><a class="button tweet" href="javascript:void(0)" data-sharer="twitter" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-twitter" aria-hidden="true"></i></span><span><span class="sc_name">twitter</span></span></a></li>
                         <li><a class="button in sharebtn" href="javascript:void(0)" data-sharer="linkedin" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-linkedin" aria-hidden="true"></i></span><span><span class="sc_name">linkedin</span></span></a></li>
                        <li><a class="button wapp" href="javascript:void(0)" data-sharer="whatsapp" data-title="Search for Job Vacancies across the World at bsbstaffing.com, Global Job Portal. Search and Discover Jobs across Top Companies. Apply Now!" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-whatsapp" aria-hidden="true"></i></span><span><span class="sc_name">whatsapp</span></span></a></li>
                        <li><a class="button tel" href="javascript:void(0)" data-sharer="telegram" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-telegram" aria-hidden="true"></i></span><span><span class="sc_name">Telegram</span></span></a></li>
                        <li><a class="button skype" href="javascript:void(0)" data-sharer="skype" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-skype" aria-hidden="true"></i></span><span><span class="sc_name">Skype</span></span></a></li>
                        <li><a class="button viber" href="javascript:void(0)" data-sharer="viber" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-phone-square" aria-hidden="true"></i></span><span><span class="sc_name">Viber</span></span></a></li>
                        <li><a class="button pinterest" href="javascript:void(0)" data-sharer="pinterest" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-pinterest" aria-hidden="true"></i></span><span><span class="sc_name">Pinterest</span></span></a></li>
                        <li><a class="button weibo" href="javascript:void(0)" data-sharer="weibo" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-weibo" aria-hidden="true"></i></span><span><span class="sc_name">Weibo</span></span></a></li>
                        <li><a class="button line" href="javascript:void(0)" data-sharer="line" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-comment" aria-hidden="true"></i></span><span><span class="sc_name">Line Me</span></span></a></li>
                        <li><a class="button reddit" href="javascript:void(0)" data-sharer="reddit" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-reddit" aria-hidden="true"></i></span><span><span class="sc_name">Reddit</span></span></a></li>
                        <li><a class="button vk" href="javascript:void(0)" data-sharer="vk" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-vk" aria-hidden="true"></i></span><span><span class="sc_name">Vk</span></span></a></li>
                        <li><a class="button renren" href="javascript:void(0)" data-sharer="renren" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-renren" aria-hidden="true"></i></span><span><span class="sc_name">Renren</span></span></a></li>
                        <li><a class="button xing" href="javascript:void(0)" data-sharer="xing" data-title="Sharer.js is the ultimate sharer js lib" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-xing" aria-hidden="true"></i></span><span><span class="sc_name">Xing</span></span></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              
              <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="hotelShortdes">
                  <div class="shortDesImg">
                    <img src="{{job_details?.employer_logo}}" alt="aloftLogo">
                  </div>  
                  <p><span>{{job_details?.employer_company_tagline}}</span></p>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </section>

      <section class="descriptionSection" *ngIf="!isloading">
        <div class="container">

          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-12">
              <div class="descriptionOuter">
                <div class="descriptionInner">
                  <h3>About This Job</h3>
                  <div class="editorview" innerHtml="{{job_details? job_details.about_this_job:''}}"></div>
                  <!-- <p>{{job_details? job_details.about_this_job:''}}</p> -->
                </div>
                <div class="descriptionInner">
                  <p><strong>Employment Type :</strong> {{(job_details && job_details.employment_type) ? job_details.employment_type.name:''}}</p>
                  <p><strong>No of Vacancy :</strong> {{job_details?.number_of_vacancies}}</p>
                  <p><strong>Salary :</strong> Min {{job_details?.min_monthly_salary}} - Max {{job_details?.max_monthly_salary}} {{job_details?.currency_name?.currency_code}}/{{job_details?.salary_type}}</p>
                  <p><strong>Years of Experience :</strong> {{(job_details && job_details?.min_experiance) ? job_details?.min_experiance?.name:''}} - {{(job_details && job_details?.max_experiance) ? job_details.max_experiance.name:''}} years</p>
                  <p><strong>Employment For :</strong> {{(job_details && job_details?.employement_for) ? job_details?.employement_for?.name:''}}</p>
                  <p><strong>Language Preference :</strong> {{job_details?.language_pref_name.toString()}}</p>
                  <p *ngIf="job_details?.required_skill"><strong>Key Skills :</strong> {{job_details?.required_skill}}</p>
                  <p *ngIf="job_type =='job-post'"><strong>Location :</strong> {{job_details?.country?.name}},{{job_details?.city?.name}}</p>
                  <p *ngIf="job_type !='job-post'"><strong>Job Location :</strong> {{job_details?.job_country_name ? job_details?.job_country_name : job_details?.employeer?.user_detail?.country?.name }},{{job_details?.job_city_name}}</p>
                </div>
                <div class="descriptionInner" *ngIf="job_details?.primary_responsibility">
                  <h3>Primary Responsibilities</h3>
                  <div class="editorview" innerHtml="{{job_details?.primary_responsibility}}"></div>
                  <!-- <ul>
                    <li> {{job_details.primary_responsibility}}</li>
                  </ul> -->
                </div>
                <div class="descriptionInner" *ngIf="job_details?.min_qualification_name?.length > 0">
                  <h3>Qualification</h3>
                  <ul>
                    <li>{{(job_details && job_details.min_qualification_name)?job_details.min_qualification_name.toString():''}}</li>
                     <li>{{(job_details && job_details.max_qualification_name)?job_details.max_qualification_name.toString():''}}</li>
                  </ul>
                </div> 
                <div class="descriptionInner" *ngIf="job_type !='job-post'">
                  <h3>Interview Details</h3>
                  <p><strong>Interview Type :</strong> {{job_details?.interview_type?.name}}</p>
                  <p><strong>Interview Date :</strong> {{job_details?.interview_date}} </p>
                  <p><strong>Interview Time :</strong> {{job_details?.interview_start_time}} to {{job_details?.interview_end_time}}</p>
                  <p><strong>Interview Venue :</strong> {{job_details?.interview_vanue_name}}</p>
                  <p><strong>Address :</strong> {{job_details?.interview_venue_address}} </p>
                  <p><strong>Location :</strong> {{job_details?.interview_location_country_name?.name}},{{job_details?.interview_location_city?.name}}</p>
                </div> 
                <div class="descriptionInner" *ngIf="job_details?.benefits">
                  <h3>Benefits</h3>
                  <div class="editorview" innerHtml="{{job_details?job_details?.benefits:''}}"></div>
                  <!-- <ul>
                    {{job_details?job_details.benefits:''}}
                  </ul> -->
                </div>                     
                <div class="descriptionInner">
                  <h3>Special note for employees</h3>
                  <div class="editorview" innerHtml="{{(job_details && job_details.special_notes)?job_details.special_notes:''}}"></div>
                  
                  <ul class="btnListing">
                    <li *ngIf="applied == false"><a href="javascript:void(0)" (click)="checkSlotBooked(job_details._id)" class="applyJob"><img src="assets/images/applyIcon.png" alt="applyIcon"> Apply Now</a></li>
                  <li *ngIf="applied"><span class="applied">Already Applied</span></li>
                    <li id="btnListing2"><a href="javascript:void(0)" class="shareJob" ><img src="assets/images/shareIcon1.png" alt="jobIcon1"> Share This</a>
                      <ul class="share" id="share2">
                                                <li><a class="button tweet" href="javascript:void(0)" data-sharer="twitter" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-twitter" aria-hidden="true"></i></span><span><span class="sc_name">twitter</span></span></a></li>
                         <li><a class="button in sharebtn" href="javascript:void(0)" data-sharer="linkedin" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-linkedin" aria-hidden="true"></i></span><span><span class="sc_name">linkedin</span></span></a></li>
                        <li><a class="button wapp" href="javascript:void(0)" data-sharer="whatsapp" data-title="Search for Job Vacancies across the World at bsbstaffing.com, Global Job Portal. Search and Discover Jobs across Top Companies. Apply Now!" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-whatsapp" aria-hidden="true"></i></span><span><span class="sc_name">whatsapp</span></span></a></li>
                        <li><a class="button tel" href="javascript:void(0)" data-sharer="telegram" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-telegram" aria-hidden="true"></i></span><span><span class="sc_name">Telegram</span></span></a></li>
                        <li><a class="button skype" href="javascript:void(0)" data-sharer="skype" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-skype" aria-hidden="true"></i></span><span><span class="sc_name">Skype</span></span></a></li>
                        <li><a class="button viber" href="javascript:void(0)" data-sharer="viber" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-phone-square" aria-hidden="true"></i></span><span><span class="sc_name">Viber</span></span></a></li>
                        <li><a class="button pinterest" href="javascript:void(0)" data-sharer="pinterest" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-pinterest" aria-hidden="true"></i></span><span><span class="sc_name">Pinterest</span></span></a></li>
                        <li><a class="button weibo" href="javascript:void(0)" data-sharer="weibo" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-weibo" aria-hidden="true"></i></span><span><span class="sc_name">Weibo</span></span></a></li>
                        <li><a class="button line" href="javascript:void(0)" data-sharer="line" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-comment" aria-hidden="true"></i></span><span><span class="sc_name">Line Me</span></span></a></li>
                        <li><a class="button reddit" href="javascript:void(0)" data-sharer="reddit" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-reddit" aria-hidden="true"></i></span><span><span class="sc_name">Reddit</span></span></a></li>
                        <li><a class="button vk" href="javascript:void(0)" data-sharer="vk" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-vk" aria-hidden="true"></i></span><span><span class="sc_name">Vk</span></span></a></li>
                        <li><a class="button renren" href="javascript:void(0)" data-sharer="renren" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-renren" aria-hidden="true"></i></span><span><span class="sc_name">Renren</span></span></a></li>
                        <li><a class="button xing" href="javascript:void(0)" data-sharer="xing" data-title="Sharer.js is the ultimate sharer js lib" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-xing" aria-hidden="true"></i></span><span><span class="sc_name">Xing</span></span></a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
              <div class="descriptionInner">
                <h3>About This Employer</h3>
                <h5>{{job_details?.employer_company_name}}</h5>
                
                <p>{{job_details?.employer_city}}, 
               {{job_details?.employer_country}}</p>
                <p><strong>Industry</strong> {{job_details?.employer_industry}}</p>
                <p><strong>Company size</strong> {{job_details?.employer_compsize}}</p> 
              </div>
              <div class="descriptionInner">
                <h3>Company Overview</h3>
                <!-- <p>{{job_details.employeer.user_detail ? job_details.employeer.user_detail.company_short_desc: ''}}</p> -->
                <div class="editorview" innerHtml="{{job_details?.employer_comp_sortdesc}}"></div>
              </div>

              <!-- <div class="mapOuter">
                <agm-map [latitude]="lat" [longitude]="lng">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
              </div> -->
              <div class="descriptionImg">
                <div class="gallerySlider">
                  <owl-carousel
                    [options]="{items: 1, dots: true, nav: false, autoplay:true, loop:true, animateOut: 'fadeOut', margin:0}"
                    [items]="job_details?.employeer?.gallery_images"
                    [carouselClasses]="['owl-theme', 'sliding']"
                    >
                    <div class="item" *ngFor="let image of job_details?.employeer?.gallery_images;index as i">
                        <div class="">
                          <a class="image-link"  href="{{global.imageUrl}}employer/gallery_images/{{image.name}}" data-fancybox="images" title="{{global.imageUrl}}employer/gallery_assets/images/{{image.name}}">
                            <img src="{{global.imageUrl}}employer/gallery_images/{{image.name}}"/>
                          </a>
                        </div>
                    </div>
                  </owl-carousel>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="desktopNone">
                <div class="descriptionInner">
                    
                    <ul class="btnListing" id="btnListing3">
                        <li *ngIf="applied == false"><a href="javascript:void(0)" (click)="checkSlotBooked(job_details._id)" class="applyJob"><img src="assets/images/applyIcon.png" alt="applyIcon"> Apply Now</a></li>
                  			<li *ngIf="applied"><span class="applied">Already Applied</span></li>
                        <li><a href="javascript:void(0)" class="shareJob"><img src="assets/images/shareIcon1.png" alt="jobIcon1"> Share This</a>
                          <ul class="share" id="share3">
                                                  <li><a class="button tweet" href="javascript:void(0)" data-sharer="twitter" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-twitter" aria-hidden="true"></i></span><span><span class="sc_name">twitter</span></span></a></li>
                         <li><a class="button in sharebtn" href="javascript:void(0)" data-sharer="linkedin" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-linkedin" aria-hidden="true"></i></span><span><span class="sc_name">linkedin</span></span></a></li>
                        <li><a class="button wapp" href="javascript:void(0)" data-sharer="whatsapp" data-title="Search for Job Vacancies across the World at bsbstaffing.com, Global Job Portal. Search and Discover Jobs across Top Companies. Apply Now!" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-whatsapp" aria-hidden="true"></i></span><span><span class="sc_name">whatsapp</span></span></a></li>
                        <li><a class="button tel" href="javascript:void(0)" data-sharer="telegram" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-telegram" aria-hidden="true"></i></span><span><span class="sc_name">Telegram</span></span></a></li>
                        <li><a class="button skype" href="javascript:void(0)" data-sharer="skype" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-skype" aria-hidden="true"></i></span><span><span class="sc_name">Skype</span></span></a></li>
                        <li><a class="button viber" href="javascript:void(0)" data-sharer="viber" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-phone-square" aria-hidden="true"></i></span><span><span class="sc_name">Viber</span></span></a></li>
                        <li><a class="button pinterest" href="javascript:void(0)" data-sharer="pinterest" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-pinterest" aria-hidden="true"></i></span><span><span class="sc_name">Pinterest</span></span></a></li>
                        <li><a class="button weibo" href="javascript:void(0)" data-sharer="weibo" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-weibo" aria-hidden="true"></i></span><span><span class="sc_name">Weibo</span></span></a></li>
                        <li><a class="button line" href="javascript:void(0)" data-sharer="line" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-comment" aria-hidden="true"></i></span><span><span class="sc_name">Line Me</span></span></a></li>
                        <li><a class="button reddit" href="javascript:void(0)" data-sharer="reddit" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-reddit" aria-hidden="true"></i></span><span><span class="sc_name">Reddit</span></span></a></li>
                        <li><a class="button vk" href="javascript:void(0)" data-sharer="vk" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-vk" aria-hidden="true"></i></span><span><span class="sc_name">Vk</span></span></a></li>
                        <li><a class="button renren" href="javascript:void(0)" data-sharer="renren" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-renren" aria-hidden="true"></i></span><span><span class="sc_name">Renren</span></span></a></li>
                        <li><a class="button xing" href="javascript:void(0)" data-sharer="xing" data-title="Sharer.js is the ultimate sharer js lib" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-xing" aria-hidden="true"></i></span><span><span class="sc_name">Xing</span></span></a></li>
                          </ul>
                        </li>
                      </ul>
                </div>
               
              </div>
            </div>
          </div>
          
        </div>
      </section> 

      <a href="JavaScript:void(0);" id="question_modal_open" data-toggle="modal" data-target="#question_modal" style="display:none;"></a>
<div class="modal profilepageModal question_anwer_modal question_modal" tabindex="-1" role="dialog" id="question_modal" [ngClass]="job_details?.conditions?.questions.length == 1?'questionmodal_small':'questionmodal_large'">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" style="text-align: center;">Please answer below question very carefully, before applying the job</h5>
            <button type="button" class="close" id="question_modal_close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="registrationFormInner">
                <form>
                    <ng-container *ngFor="let question of job_details?.conditions?.questions; index as i">
                        <div class="form-group">
                            <label class="qstn"><strong>Q. <span [innerHtml]="checkQuestionMark(question.question_name)"></span></strong></label>
                            <textarea class="form-control" [ngxSummernote]="benefitsconfig" [(ngModel)]="questionAnswers[i +'_'+question.question_name]" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                    </ng-container>
                    <div class="submithold">
                        <button type="submit" class="blueBtn" (click)="applyQuestionCondWise(job_details._id)">Apply Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


    <!-- Report candidate Modal  -->
    <div class="modal generalModal" id="bookedTimeSlotModel">
      <!-- <div class="modal-dialog"> -->
        <div class="modal-content"> 
          <div class="modal-header">
            <h4 class="modal-title">Book Your Interview Slot</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div> 
          <!-- Booking time show -->
							<div class="diffsec slotdiff">
							   <!-- <a href="Javascript:void(0)" (click)="bookedDateActive=0;activetimeSlot='';" class="slotcross">x</a> -->
							   <div class="datepanel">
							      <ul>
							         <ng-container *ngFor="let date of job_details?.interview_date.split(','); index as j;">
							            <li [ngClass]="{'active':j==bookedDateActive}">
							               <a href="javascript:void(0)" (click)="changeSlotBooked(job_details._id, date); bookedDateActive=j;">
							                  <span class="date">{{date}}</span>
							                  
							               </a>
							            </li>
							         </ng-container>
							      </ul>
							   </div>
							   <div class="slotpanel clear">
							      <h3>{{job_details?.interview_location_city?.name}}</h3>
							      <ul class="slotlist">
							         <ng-container *ngFor="let time of job_details?.time_slots; index as y;">
							            <li [ngClass]="{'booked':dateBookedSlot.indexOf(time) != -1}">
							               <span class="time" *ngIf="dateBookedSlot.indexOf(time) != -1">{{time}}</span>
							               <a href="javascript:void(0)" (click)="setSlotBook(job_details._id, time); selected_slot_time=time" *ngIf="dateBookedSlot.indexOf(time) == -1"><span class="time" [ngClass]="{'slot_select':(selected_slot_time ==time )}">{{time}}</span></a>
							            </li>
							         </ng-container>
							      </ul>
							   </div>
							</div>
							<!-- End booking time show -->
          <div class="modal-footer">
            <button type="button" class="btn blueBtn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn blueBtn" (click)="submitSelectedSlot(job_details._id)">Apply Job</button>
            <a href="javascript:void(0)" id="close_booked_time_slot_model" data-dismiss="modal" aria-hidden="true" style="display: none;"></a>
          </div> 
         
        </div>
      <!-- </div> -->
    </div>


