.employerInnerSection {
    min-height: 0px;
}
.applied {
	font-size: 14px;
    line-height: 20px;
    padding: 6px 0px;
    color: #f00;
}
#bookedTimeSlotModel{
	border-radius: 5px;
}
#bookedTimeSlotModel h4{
	margin: 0 auto;
}
#bookedTimeSlotModel .modal-footer button{
	margin: 6px 5px;
}
#bookedTimeSlotModel .diffsec{
	box-shadow: none;
}