      <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="registrationFormOuter">
                <h2 class="pageTitle">Search By {{categoryType}}</h2>
                <input type="text" name="" [(ngModel)]="searchInput" (ngModelChange)="searchData($event)" placeholder="Please Search Here"><br/><br/>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    
                  <ul class="alphabet">
                    <ng-container *ngFor="let alphaChar of alphaArr">
                   <li><a href="javascript:void(0)" (click)="dataShowByAlpha(alphaChar)">{{alphaChar}}</a></li>
                   </ng-container>
                  </ul>
                  
                </div>
                <div class="searchListOuter">
                  <ul class="{{categoryType}}">
                  	<ng-container *ngIf="category !='role'">
                  		 <li *ngFor="let result of resultList; index as i" id="{{getAlphaid(result.name,i)}}">
                         <a href="javascript:void(0)" (click)="goToSearchJobList(category,result)"> {{result.name}} ({{result.total_count}})</a>
                        </li>
                  	</ng-container>
                  	<ng-container *ngIf="category =='role'">
                  		 <li *ngFor="let result of resultList; index as i" id="{{getAlphaid(result.name,i)}}"><a href="javascript:void(0)" (click)="goToSearchJobList(category,result)"> {{result.role_name}}({{result.total_count}})</a></li>
                  	</ng-container>
                  </ul>
                  <!-- <ul>
                      <ng-container *ngIf="category !='role'">
                         <li *ngFor="let result of resultList | searchCategory: searchInput"><a href="javascript:void(0)" [routerLink]="['/search-job-detail']" [queryParams]="{ cat: category, cat_id:result._id}"> {{result.name}}</a></li>
                      </ng-container>
                      <ng-container *ngIf="category =='role'">
                         <li *ngFor="let result of resultList | searchCategory: searchInput"><a href="javascript:void(0)" [routerLink]="['/search-job-detail']" [queryParams]="{ cat: category, cat_id:result._id}"> {{result.role_name}}</a></li>
                      </ng-container>
                    </ul> -->
                </div>
                <div id="add_moreDiv">
            
                  </div>
              </div>
            </div>
          </div>
          <a class="scrolltotop" href="javascript:void(0)" (click)="scroleToTop()"></a>
        </div>
      </section>
