      <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <!-- <ul class="searchList">
                <li><a href="#" class="blutBtn">Recent Search</a></li>
                <li><a href="#" class="blutBtn">Save Search</a></li>
                <li><a href="#" class="blutBtn">New Search</a></li>
              </ul> -->
              <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-12">                  
                  <div class="filterSectionSec">
                    <h3>'{{total_cv_count}}' Candidate's' available</h3>
                    <div class="filterLeftOuter">
                      <h4><img src="assets/images/filterIcon1.png"> Filter</h4>
                      <!-- <div class="filterSearch">
                        <input type="text" name="">
                        <button type="button"><img src="assets/images/search.png" alt=""></button>
                      </div> -->
                    </div>
                    <div class="filterContent">
                      <div class="mobilefilterTobar">
                        <h4>Filter</h4>
                      </div>
                      <div class="filterAccordion" id="accordion">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5>
                              <button class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Country</button>
                            </h5>
                          </div>
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                               <input type="text" [(ngModel)]="countrySerach" name="" class="mssearch" placeholder="Search here" *ngIf="countries && countries.length >0">
                              <ng-container *ngFor="let country of countries | searchCategory:countrySerach; index as i;">
                             <div class="checkboxWrap">
                                <label>
                                <input type="checkbox" [(ngModel)]="countryModel[country._id]" value="{{country._id}}" (ngModelChange)="setsearchValue($event, 'country')">
                                <span>{{country.name}} ({{country.job_count}})</span>
                                </label>
                             </div>
                             </ng-container>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h5>
                              <button class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">City</button>
                            </h5>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                              <div class="checkboxWrap">
                                <!-- <label>
                                  <input type="checkbox" name="" (change)="toggleAllSelect($event,'city')">
                                  <span>All</span>
                                </label> -->
                              </div>
                              <input type="text" [(ngModel)]="citySearch" name="" class="mssearch" placeholder="Search here" *ngIf="cities && cities.length >0">
                              <ng-container *ngFor="let city of cities | searchCategory:citySearch">
                               <div class="checkboxWrap">
                                  <label>
                                  <input type="checkbox" [(ngModel)]="cityModel[city._id]" value="{{city._id}}" (ngModelChange)="setsearchValue($event, 'city')">
                                  <span>{{city.name}} ({{city.job_count}})</span>
                                  </label>
                               </div>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h5>
                              <button class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Courses Offered</button>
                            </h5>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                              <input type="text" [(ngModel)]="courseOffer" name="" class="mssearch" placeholder="Search here" *ngIf="courses && courses.length >0">
                              <ng-container *ngFor="let course of courses | searchCategory:courseOffer">
                               <div class="checkboxWrap">
                                  <label>
                                  <input type="checkbox" [(ngModel)]="courseModel[course._id]" value="{{course._id}}" (ngModelChange)="setsearchValue($event, 'course')">
                                  <span>{{course.name}}</span>
                                  </label>
                               </div>
                              </ng-container>

                            </div>
                          </div>
                        </div>
                        <!-- <div class="card">
                          <div class="card-header" id="headingFive">
                            <h5>
                              <button class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">By Institute Name</button>
                            </h5>
                          </div>
                          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                              <div class="checkboxWrap">
                                <label>
                                  <input type="checkbox" name="" >
                                  <span>Finance / Accounts / Investment Banking</span>
                                </label>
                              </div>
                              <div class="checkboxWrap">
                                <label>
                                  <input type="checkbox" name="" >
                                  <span>Customer Service / Back Office Operations</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                  <div class="moreOptionOuter moreDownloadOuter">
                    <ul>
                      <li>
                        <label>
                          <input type="checkbox" class="filled-in" [(ngModel)]="selectedAll" (change)="selectAll();"/>
                          <span></span>
                        </label>
                      </li>
                      <li><a href="javascript:void(0)" (click)="sendMail();">Send Mail</a></li>
                      <li><a href="javascript:void(0)" (click)="saveToFolder();">Save to Folder</a></li>
                      <li><a href="javascript:void(0)">Download Excel</a></li>
                      <li><a href="javascript:void(0)" (click)="downloadResume();">Download Resume</a></li>
                    </ul>
                  </div>
                  <div class="sortbyOuter">
                    <div class="row">
                      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                          <label>Active In</label>
                        <select [(ngModel)]="searchForm.candidate_active" (ngModelChange)="setsearchValue($event, 'candidate_active')">
                           <option value="">Candidates active in</option>
                                <option value="">- Any -</option>
                                <option value="3">3 Days</option>
                                <option value="7">7 Days</option>
                                <option value="15">15 Days</option>
                                <option value="30">1 Month</option>
                                <option value="60">2 Months</option>
                                <option value="90">3 Months</option>
                                <option value="180">6 Months</option>
                                <option value="270">9 Months</option>
                                <option value="360">12 Months</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Show</label>
                          <select [(ngModel)]="searchForm.show_profile" (ngModelChange)="setsearchValue($event, 'show_profile')">
                            <option value="">All Profiles</option>
                            <option value="new_profile">New Profiles</option>
                          </select>
                        </div>
                        <!-- <div class="form-group">
                          <label>Sort By</label>
                          <select>
                            <option>Relevance</option>
                            <option>Freshness</option>
                          </select>
                        </div> -->
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <p>
                          <span>1 of 100</span>
                          <a href="#"><img src="assets/images/leftArrow3.png"></a>
                          <a href="#"><img src="assets/images/rightArrow6.png"></a>
                        </p>
                        <div class="form-groupSec">
                          <label>Go to</label>
                          <input type="text" name="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <ng-container *ngFor="let cvDetails of searchcvResult; index as i">
                  <div class="cvsearchList">
                    <label>
                      <input type="checkbox" class="filled-in" value="{{cvDetails._id}}" [(ngModel)]="cvDetails.selected" (change)="checkIfAllSelected();"/>
                      <span></span>
                    </label>
                    <!-- <span class="premiumHightlight">Premium</span> -->
                    <div class="cvseachInner">
                      <div class="cvseachClear">
                        <div class="cvsearchLeft">
                          <span><img src="{{cvDetails.user_detail.profile_picture_image ? cvDetails.user_detail.profile_picture_image : 'assets/images/profilePic.png'}}" alt="profilePic"></span>
                        </div>
                        <div class="cvsearchRight">
                          <h3><a href="#"><i class="fa fa-star-o"></i></a> {{cvDetails.user_detail.name}} <a href="javascript:void(0)" (click)="viewProfile(cvDetails.id);" class="profileView">View Profile</a></h3>  
                          <h5>{{cvDetails.user_detail.profile_title? cvDetails.user_detail.profile_title:""}}</h5>
                          <ul class="verifiedList">
                            <li><span title="Resume Available"><img src="assets/images/resume.png"></span><img src="assets/images/checked.png"></li>
                            <li><span title="Social Profile Available"><img src="assets/images/social-profile.png"></span><img src="assets/images/checked.png"></li>
                            <li><span title="Mobile No Verified"><img src="assets/images/mobileIcon.png"></span><img src="assets/images/checked.png"></li>
                            <li><span title="Email Verified"><img src="assets/images/mail.png"></span><img src="assets/images/checked.png"></li>
                          </ul>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <ul class="deatilscvListing">
                           <li><strong>Education:</strong> 
                                {{cvDetails.employee_degrees ?cvDetails.employee_degrees.toString():''}} </li>
                              <li><strong>Experience:</strong> {{cvDetails.user_detail.total_experience_data}} Years</li>
                              <li><strong>Skills:</strong> {{(cvDetails.skill).toString()}}</li>
                          </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <ul class="deatilscvListing">                            
                              <li><strong>Desired Location:</strong> {{cvDetails.desired_job ? cvDetails.desired_job.city_name : ''}}</li>
                              <li><strong>CTC:</strong> Rs. {{cvDetails.user_detail.current_salary_data}}</li>
                            </ul>
                        </div>
                      </div>
                      <ul class="addLinkList">
                        <li *ngIf="!cvDetails.note"><a href="javascript:void(0)" data-toggle="modal" data-target="#noteModal" (click)='set_employee_id=cvDetails.id;'>Add Note </a></li>
                          <li *ngIf="cvDetails.note"><a href="javascript:void(0)" data-toggle="modal" data-target="#noteModal" (click)='set_employee_id=cvDetails.id; setCvDetail(cvDetails.id)'>View Note</a></li>
                          <li *ngIf="!showphonwArr[i]"><a href="javascript:void(0)" (click)="showMobile(cvDetails.id,i)">View Mobile No</a></li>
                          <li *ngIf="showphonwArr[i]"><span>{{cvDetails.phone_no}}</span></li>
                          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#historyModal" (click)='viewHistory(cvDetails.id)'>View History</a></li>
                          <li><a href="javascript:void(0)">View Similar Profiles</a></li>
                          <!-- <li><a href="javascript:void(0)" data-toggle="modal" data-target="#reportCandidateModal" >Report Candidate</a></li> -->
                          <li><a href="javascript:void(0)" (click)="reportCandidate(cvDetails.id)">Report Candidate</a></li>
                          <a href="javascript:void(0)" data-toggle="modal" data-target="#reportCandidateModal" id="report_candidate_model" style="display: none;"></a>
                      </ul>
                    </div>
                    <div class="cvsearchFoot">
                      <ul>
                        <li>Active: {{cvDetails.last_login}}</li>
                        <li>Updated: {{cvDetails.updated_at}}</li>
                      </ul>
                    </div>
                  </div>
                  </ng-container>
                  <!-- <ul class="pagination">
                    <li class="current">1</li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                  </ul> -->
                  <!-- <div class="sortbyOuter">
                    <div class="row">
                      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                        <ul class="pagination">
                          <li class="current">1</li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                        </ul>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <p>
                          <span>1 of 100</span>
                          <a href="#"><img src="assets/images/leftArrow3.png"></a>
                          <a href="#"><img src="assets/images/rightArrow6.png"></a>
                        </p>
                        <div class="form-groupSec">
                          <label>Go to</label>
                          <input type="text" name="">
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 	


          <!-- Note Modal -->
    <div class="modal cmnsocialmodal" id="noteModal">
      <div class="modal-dialog">
        <div class="modal-content"> 
          <div class="modal-header">
            <h4 class="modal-title">Note</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="set_employee_id=''">&times;</button>
          </div> 
          <div class="modal-body">
            <form [formGroup]="noteSaveForm">
             <div class="toppanel">
                <div class="form-group">
                  <textarea rows="3" placeholder="Note" formControlName="note">
                  </textarea>
                </div>
             </div>
             
              <div class="bottompanel">
                <div>
                  <span *ngIf="(isSubmit && noteSaveForm.get('note').errors) || ((noteSaveForm.get('note').touched || noteSaveForm.get('note').dirty)
                              && noteSaveForm.get('note').errors)">
                  <span *ngIf="noteSaveForm.get('note').errors.required "
                    class="form-error">Please enter note</span>
                  </span>
                </div>
                <div class="form-group">
                  <!-- <input type="submit" value="submit" data-dismiss="modal" (click)="submitNote()"/> -->
                </div>
              </div>
            </form>
          </div> 
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="set_employee_id=''">Close</button>
          </div> 
        </div>
      </div>
    </div>

    <!-- CV History Modal -->
    <div class="modal cmnsocialmodal" id="historyModal">
      <div class="modal-dialog">
        <div class="modal-content"> 
          <div class="modal-header">
            <h4 class="modal-title">View History</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="set_employee_id=''">&times;</button>
          </div> 
          <div class="modal-body">
            <div>
              <ul class="recentactivity">
                <ng-container *ngIf="employee_view_history.length">
                  <ng-container *ngFor="let history of employee_view_history">
                    <li class="activity">
                        {{history.remarks}} on {{history.created_at}}
                    </li>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="!employee_view_history.length">
                  No History available for this candidate.
                </ng-container>
              </ul>
            </div>
          </div> 
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div> 
        </div>
      </div>
    </div>
    <!-- Cv save Folder Modal  -->
    <!-- <div class="modal generalModal" id="saveFolderModal">
      <div class="modal-dialog">
        <div class="modal-content"> 
          <div class="modal-header">
            <h4 class="modal-title">Save To Folder</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div> 
          <form [formGroup]="saveToFolderForm">
          <div class="modal-body">  
            <div class="radioOuter">          
              <label>
                 <input type="radio" formControlName="folder_save" value="existing_folder" (change)="folderOption($event)">
                 <span> Save to Existing Folder</span>
              </label>
              <label>
                 <input type="radio" formControlName ="folder_save" value="create_new_folder" (change)="folderOption($event)">
                 <span>  Create new folder</span>
               </label>
            </div>
              <div class="input-field" *ngIf="createFolderDiv">
                <input id="jobTyp" type="text" class="" formControlName="folder_name">
                <label for="jobTyp">Type your folder name</label>
                <span *ngIf="(isSubmit && saveToFolderForm.get('folder_name').errors) || ((saveToFolderForm.get('folder_name').touched || saveToFolderForm.get('folder_name').dirty)
                              && saveToFolderForm.get('folder_name').errors)">
                  <span *ngIf="saveToFolderForm.get('folder_name').errors.required "
                    class="form-error">Please enter folder name</span>
                  </span>
              </div>
              <div class="input-field" *ngIf="selectFolderDiv">
                <select formControlName="folder_id">
                  <option *ngFor="let folder of employer_folders" value="{{folder._id}}">{{folder.folder_name}}</option>
                  
                </select>
                <span *ngIf="(isSubmit && saveToFolderForm.get('folder_id').errors) || ((saveToFolderForm.get('folder_id').touched || saveToFolderForm.get('folder_id').dirty)
                              && saveToFolderForm.get('folder_id').errors)">
                  <span *ngIf="saveToFolderForm.get('folder_id').errors.required "
                    class="form-error">Please select folder name</span>
                  </span>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn blueBtn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn blueBtn" (click)="cvSaveFolder()">Save</button>
            <a href="javascript:void(0)" id="close_folder_save_modal" data-dismiss="modal" aria-hidden="true" style="display: none;"></a>
          </div> 
          </form>
        </div>
      </div>
    </div> -->

    <!-- Report candidate Modal  -->
    <!-- <div class="modal generalModal" id="reportCandidateModal">
      <div class="modal-dialog">
        <div class="modal-content"> 
          <div class="modal-header">
            <h4 class="modal-title">Report candidate</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div> 
          <form [formGroup]="reportCandidateForm">
          <div class="modal-body">  
            <div class="radioOuter">          
              <label>
                 <input type="radio" formControlName="report_candidate_option" value="delete_everywhere" (change)="reportOption($event)">
                 <span> <strong>Delete Everywhere</strong> (This candidate will not be visible to you for the next 6 months.)</span>
              </label>
              <label>
                 <input type="radio" formControlName ="report_candidate_option" value="report_abuse" (change)="reportOption($event)">
                 <span>  <strong>Report Abuse </strong>(Please let us know why you want to report this candidate.)</span>
               </label>
            </div>
            <div *ngIf="reportAbuseOptionDiv" class="reportabuOuter">
              <div class="checkboxOuter">
                <label>
                  <input class="filled-in" type="checkbox" formControlName="incorrect_email_id" value="incorrect_email_id">
                  <span>Incorrect Email Id</span>
                </label>
              </div>
              <div class="checkboxOuter">
                <label>
                  <input class="filled-in" type="checkbox" formControlName="incorrect_mobile_no" value="incorrect_mobile_no">
                  <span>Incorrect Mobile Number</span>
                </label>
              </div>
              <div class="checkboxOuter">
                <label>
                  <input class="filled-in" type="checkbox" formControlName="mobile_not_reachable" value="mobile_not_reachable">
                  <span>Mobile Not Reachable</span>
                </label>
              </div>
              <div class="checkboxOuter">
                <label>
                  <input class="filled-in" type="checkbox" formControlName="incorrect_profile_or_resume" value="incorrect_profile_or_resume">
                  <span>Incorrect Profile / Resume</span>
                </label>
              </div>
              <div class="checkboxOuter">
                <label>
                  <input class="filled-in" type="checkbox" formControlName="profile_not_updated" value="profile_not_updated">
                  <span>Profile Not Updated</span>
                </label>
              </div>
            </div>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn blueBtn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn blueBtn" (click)="candidateReportSave()">Report</button>
            <a href="javascript:void(0)" id="close_reported_candidate_modal" data-dismiss="modal" aria-hidden="true" style="display: none;"></a>
          </div> 
          </form>
        </div>
      </div>
    </div> -->