.state-container-dropdown{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: auto;
	max-height: 300px;
	background: #F6F6F6;
	overflow-y: auto;
	/*border: 1px solid #000;*/
	z-index: 10;
}

.state{
	padding: 3px 10px;
	font-family: sans-serif;
	color: #1c1c8e;
}
.state a:hover{
	color: #1c1c8e;
}

.state:hover{
	background: #C2C2C2;
	cursor: pointer;
}


.input_text{
  width: 100%;
 /* padding: 12px 20px;
  margin: 8px 0;*/
  box-sizing: border-box;
  /*border: 1px solid #555;*/
  border-bottom: 1px solid #5f6b94;
  outline: none;
}
.dropdown-search {
    display: inline-block;
}

.selected-span{
	padding: 5px 25px 7px 7px;
    position: relative;
    background: #abb3b3;
    border-radius: 50px;
    display: inline-block;
    margin: 0 4px 4px 0;
}

.del{
	cursor: pointer;
    margin: 5px;
}

.multiselect-text-input{
	border-bottom: none !important; 
}

.sub_selection{
    position: absolute;
    right: 0;
    top: 0;
    /* float: right; */
    margin: 0;
    border-radius: 0 50px 50px 0px;
    display: inline-block;
    padding: 6px;
    background: gray;
}

.cross_icon{
    position: absolute;
    right: 0;
    top: 0;
    /* float: right; */
    margin: 0;
    border-radius: 0 50px 50px 0px;
    display: inline-block;
    padding: 4px 0px 5px 0px;
    background: gray;
}

