 <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="headingOuter">
            <div class="row">
              
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hospitalityOuter">
                  <!-- <h4>Find World's Leading Jobs</h4> -->
                  <h4>Get the Right Jobs Anywhere in the World</h4>
                  <div class="bannerForm">
                    <div class="bannerInner">
                      <div style="position: relative;"> 
                        <input type="text" name="" [(ngModel)]="job_title_model" id="job_title_search" class="form-control auto_comp_search" value="{{search_job_title}}" placeholder="Job Title, Keywords" (keyup)="searchAutoComplete('JB_TITLE_WISE',$event)" autocomplete="off">
                        <div class="state-container-dropdown" *ngIf="show_jb_title_srh">
                            <div class="state" *ngFor="let data of title_job_data" (click)="autoCompleteSearch(data.id, 'JB_TITLE_WISE')">
                               <span>{{data.name}}</span>
                            </div>
                        </div>

                        <span class="icon"><img src="assets/images/searchIcon.png" alt="searchIcon"></span>
                      </div>
                    </div>
                  <div class="bannerInner">
                    <div style="position: relative;">  
                      <input type="text" name="" [(ngModel)]="insudtry_model" id="industry_search" class="form-control auto_comp_search" placeholder="Industry" value="{{search_industry}}" (keyup)="searchAutoComplete('INDUSTRY_WISE',$event)"  autocomplete="off">
                      <div class="state-container-dropdown" *ngIf="show_industry_srh">
                          <div class="state" *ngFor="let data of industrty_data"  (click)="autoCompleteSearch(data.id, 'INDUSTRY_WISE')">
                             <span>{{data.name}}</span>
                          </div>
                      </div>
                      <span class="icon"><img src="assets/images/factory.png" alt="locationIcon"></span>
                    </div>
                  </div>
                  <!-- <div class="bannerInner">
                    <div style="position: relative;"> 
                      <input type="text" name="" [(ngModel)]="department_model" id="department_search" class="form-control auto_comp_search" placeholder="Department" value="" (keyup)="searchAutoComplete('DEPARTMENT_WISE',$event)"  autocomplete="off">
                      <div class="state-container-dropdown" *ngIf="show_department_srh">
                          <div class="state" *ngFor="let data of department_data"  (click)="autoCompleteSearch(data.id, 'DEPARTMENT_WISE')">
                             <span>{{data.name}}</span>
                          </div>
                      </div>
                      <span class="icon"><img src="assets/images/searchIcon.png" alt="searchIcon"></span>
                    </div>
                  </div> -->
                  <div class="bannerInner">
                    <div style="position: relative;"> 
                      <input type="text" name="" [(ngModel)]="country_loc_model" id="country_search" class="form-control auto_comp_search"  value="{{search_location}}" placeholder="Country, City, Location" (keyup)="searchAutoComplete('COUNTRY_WISE',$event)"  autocomplete="off">
                      <div class="state-container-dropdown" *ngIf="show_city_comp_srh">
                          <div class="state" *ngFor="let data of city_country_data" (click)="autoCompleteSearch(data.id, 'COUNTRY_WISE')">
                             <span>{{data.name}}</span>
                          </div>
                      </div>
                      <span class="icon"><img src="assets/images/locationIcon.png" alt="locationIcon"></span>
                    </div>
                  </div>
                    
                    <div class="bannerInner">
                      <input type="submit" name="" value="Search Jobs" (click)="searchFilter()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-12">
                <div class="moreOptionOuter">
                  <a href="#!" class="moreOptionBtn" data-toggle="modal" data-target="#advModal">Advance Search <img src="assets/images/downArrow2.png" alt="downArrow2"></a>
                </div>
              </div>
            </div>
          </div>
           
        </div>
      </section>

      <!-- MOdal -->
    <div class="modal modal-fixed-footer" id="advModal">
      
        <div class="modal-content">
         
          <h2>Advance Search</h2>
          <form [formGroup]="advSearchForm">
          <div class="modal-body registrationFormInner">
            
              <div class="part-sec">
                <div class="row">                      
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon jobIcon"></span>
                      <!-- <input id="jobTitle" type="text" class="validate" formControlName="job_title" > -->
                      <input id="jobTitle" type="text" class="validate auto_comp_search" formControlName="job_title" (keyup)="advancedSearchAutoComplete('JB_TITLE_WISE',$event)" autocomplete="off">
                        <div class="state-container-dropdown" *ngIf="adv_show_jb_title_srh">
                            <div class="state" *ngFor="let data of title_job_data" (click)="advancedAutoCompleteSearch(data.id, 'JB_TITLE_WISE')">
                               <span>{{data.name}}</span>
                            </div>
                        </div>
                      <label for="jobTitle">Job Title</label>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon employeeIcon"></span>
                      <select formControlName="employement_for">
                        <option value="" selected>Employment for</option>
                        <option value="{{empFor._id}}" *ngFor="let empFor of emplymentFor">{{empFor.name}} {{'Candidate'}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">                      
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <div class="input_text">
                        <ng-container *ngFor="let country of storeMultiSelect.country_name; index as i;">
                          <span class="selected-span">{{country.length > 10 ? country.slice(0,10)+ '...': country }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'country')"></i></span></span>
                        </ng-container>
                        <span class="dropdown-search">  
                         <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="country" placeholder="Select Country" (click)="getOnchangeEvent('country')">
                         <app-multi-select *ngIf="countryDiv" 
                                [mainDataArray]="countryArray"
                                [storedValue]="storeMultiSelect.country_value"
                                [storedName]="storeMultiSelect.country_name"  
                                [field_name] ="'country'"
                                (sendDataEvent)="getChange($event)" 
                                (checkOutsideEvent)="checkmultiselect($event)" 
                                (multidataSelect)="multiselectAll($event)">
                        </app-multi-select>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                       <div class="input_text">
                        <ng-container *ngFor="let city of storeMultiSelect.city_name; index as i;">
                        <span class="selected-span">{{city.length > 10 ? city.slice(0,10)+ '...': city }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'city')"></i></span></span>
                        </ng-container>
                        <span class="dropdown-search">
                         <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="city" placeholder="Select City" (click)="getOnchangeEvent('city')">
                            <app-multi-select *ngIf="cityDiv" 
                                  [mainDataArray]="cityArray"
                                  [storedValue]="storeMultiSelect.city_value"
                                  [storedName]="storeMultiSelect.city_name"  
                                  [field_name] ="'city'"
                                  (sendDataEvent)="getChange($event)" 
                                  (checkOutsideEvent)="checkmultiselect($event)" 
                                  (multidataSelect)="multiselectAll($event)">
                                </app-multi-select>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">                      
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="input-field">
                       <div class="multiselectdropdownOuter">
                          <div class="input-field">
                             <span class="icon industryIcon"></span>
                             <div class="input_text">
                              <ng-container *ngFor="let industry of storeMultiSelect.industries_name; index as i;">
                                <span class="selected-span">{{industry.length > 10 ? industry.slice(0,10)+ '...': industry}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'industry')"></i></span></span>
                              </ng-container>
                                <span class="dropdown-search">
                                 <input type="text" class="degree multiselect-text-input"  autocomplete="off" name="industries" placeholder="Select Industry" (click)="getOnchangeEvent('industries')">
                                 <app-multi-select *ngIf="industriesDiv" 
                                 [maxLength]="5"
                                 [mainDataArray]="industries"
                                 [storedValue]="storeMultiSelect.industries_value"
                                 [storedName]="storeMultiSelect.industries_name"  
                                 [field_name] ="'industries'"
                                 (sendDataEvent)="getChange($event)" 
                                 (checkOutsideEvent)="checkmultiselect($event)" 
                                 (multidataSelect)="multiselectAll($event)">                                 
                                 </app-multi-select>
                               </span>
                             </div>
                          </div>
                       </div>
                    </div>
                  </div>                     
                  <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <div class="multiselectdropdownOuter">
                          <div class="input-field">
                            <span class="icon industryIcon"></span>
                              <div class="input_text">
                                <ng-container *ngFor="let department of storeMultiSelect.department_name; index as i;">
                                  <span class="selected-span">{{department.length > 10 ? department.slice(0,10)+ '...': department}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'departments')"></i></span></span>
                                </ng-container>
                                <span class="dropdown-search">  
                                  <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="departments" placeholder="Current Department / Functional area" (click)="getOnchangeEvent('departments')">
                                    <app-multi-select *ngIf="departmentDiv" 
                                                   [maxLength]="5"
                                                   [mainDataArray]="departmentData" 
                                                   [storedValue]="storeMultiSelect.department_value"
                                                   [storedName]="storeMultiSelect.department_name" 
                                                   [field_name] ="'departments'"
                                                   (sendDataEvent)="getChange($event)" 
                                                   (checkOutsideEvent)="checkmultiselect($event)" 
                                                   (multidataSelect)="multiselectAll($event)">                                 
                                    </app-multi-select>
                                  </span>
                                </div>  
                          </div>
                        </div>
                    </div>
                  </div> -->
                </div>
              </div>
              <div class="part-sec">
                <h3>Work Experience</h3>
                <div class="row">                      
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon experienceIcon"></span>
                      <select formControlName="min_experiance">
                        <option value="" selected >Minimum Experience</option>
                        <option value="{{expr._id}}" *ngFor="let expr of experiance">{{expr.name}} Years</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon experienceIcon"></span>
                      <select formControlName="max_experiance">
                        <option value="" selected >Maximum Experience</option>
                        <option value="{{expr._id}}" *ngFor="let expr of experiance">{{expr.name}} Years</option>
                      </select>
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="part-sec">
                  <h3>Expected Salary</h3>
                  <div class="row"> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="radioOuterSec">
                         <label>
                           <input name="salary_type" formControlName="salary_type" type="radio" value="hourly" />
                           <span>Hourly</span>
                         </label>
                         <label>
                           <input name="salary_type" formControlName="salary_type" type="radio" value="weekly"/>
                           <span>Weekly</span>
                         </label>
                         <label>
                           <input name="salary_type" formControlName="salary_type" type="radio" value="monthly"/>
                           <span>Monthly</span>
                         </label>
                      </div>
                    </div> 
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon payDtlAmtIcon"></span>
                        <select formControlName="currency">
                          <option value="" selected>Select Currency</option>
                          <option value="{{currency.value[0]._id}}" *ngFor="let currency of all_currency | keyvalue">{{currency.key}} ({{currency.value[0].currency_code}})</option>
                        </select>
                      </div>
                    </div>                    
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon salaryIcon"></span>
                        <input id="min_monthly_salary" type="number" class="validate" formControlName="min_monthly_salary" min="1">
                        <label for="min_monthly_salary">Min Salary</label>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon salaryIcon"></span>
                        <input id="max_monthly_salary" type="number" class="validate" formControlName="max_monthly_salary" min="1">
                        <label for="max_monthly_salary">Max Salary</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="submitOuter">
                  <button (click)="searchJobs()" data-dismiss="modal" type="submit">Search</button>
                </div>
          </div>   
          </form>       
        </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
