.reginmodalOuter .loginmodalLeft .regSection .datebirthwrap .input-field{
	width: 33%;
	margin: 0 10px 0 0;
	display: block;
}
.datebirthwrap .input-field:last-child{
	margin-right: 0;
}
.datebirthwrap .input-field select{
	border: 1px solid #9e9e9e;
	padding: 10px;
}
.datebirthwrap{
	margin: 0 0 5px 0;
}
.datebirthwrapInner .input-field{
	margin: 8px; margin-bottom: 8px;
}
.genderErr{top: 5px; position: relative;}
.genderErr .form-error{padding-top: 5px; display: inline-block;}
.datebirthwrap label,
.datebirthwrap h6{
	display: block;
	position: relative;
	font-size: 13px;
	line-height: 20px;
}
.datebirthwrap h6{
	color: #9e9e9e;
	margin: 0;
}
.toltipBtn{
	cursor: pointer;
}
.toltipBtn img{
	width: 13px;
}
.datebirthwrapInner{
	display: flex;
}
.toltipcustom{
	position: absolute;
    top: 0;
    left: 90px;
    background: #fff;
    width: 200px;
    z-index: 10;
    box-shadow: 0px 0px 10px #ccc;
    font-size: 12px;
    line-height: 20px;
    display: none;
    padding: 0px 10px;
}
.toltipcustom:after{
	content: '';
	position: absolute;
	left: -8px;
	top: 2px;
	border-right: 8px solid #fff;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	z-index: 1;
}
.toltipcustom:before{
	content: '';
	position: absolute;
	left: -9px;
	top: 1px;
	border-right: 9px solid #ccc;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	z-index: -1;
}
.reginmodalOuter .loginmodalLeft .toltipcustom p{
    padding: 10px;
    text-align: left;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
}
.toptipCloseOuter {
	padding: 10px;
	border-top: 1px solid #d0d0d0;
	text-align: right;
}
.toptipCloseOuter a{
	padding: 5px 10px;
	font-size: 14px;
	line-height: 20px;
	background: #1b2d8f;
	color: #fff;
	border-radius: 5px;
}
.genderWrap label{
	border: 1px solid #d0d0d0;
	padding: 5px 10px;
}
.genderWrap label span{
	padding-left: 0px !important;
    display: block !important;
}
.genderWrap label span:before,
.genderWrap label span:after{
	left: auto;
	right: 0;
}
.genderWrap label{
	margin: 0;
}

.multiselect_remove_place_regis{
	padding: 0px !important;
}

.modalform.areyoujbskrmodall h3 span {
    background: #f33647;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
}