<form [formGroup]="registerForm" autocomplete="off">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="isEmployer ==2">
      <div class="input-field" [ngClass]="{'has-error': (isSubmit && registerForm.get('first_name').errors) || (registerForm.get('first_name').touched || registerForm.get('first_name').dirty) && !registerForm.get('first_name').valid }">
        <input id="fname" type="text" formControlName="first_name" autocomplete="off" autocomplete="chrome-off">
        <label for="fname" [ngClass]="{'active':registerForm.get('first_name').value}">First Name</label>
        <span *ngIf="(isSubmit && registerForm.get('first_name').errors) || ((registerForm.get('first_name').touched || registerForm.get('first_name').dirty) && registerForm.get('first_name').errors)">
            <span *ngIf="registerForm.get('first_name').errors.required || registerForm.get('first_name').errors.whitespace" class="form-error">Please enter first name</span>
        </span>
        <span *ngIf="serverError && serverError.first_name" class="form-error">{{serverError.first_name[0]}}</span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('last_name').errors) || (registerForm.get('last_name').touched || registerForm.get('last_name').dirty) && !registerForm.get('last_name').valid }">
        <input id="lname" type="text" formControlName="last_name" autocomplete="off" autocomplete="chrome-off">
        <label for="lname" [ngClass]="{'active':registerForm.get('last_name').value}">Last Name</label>
        <span *ngIf="(isSubmit && registerForm.get('last_name').errors) || ((registerForm.get('last_name').touched || registerForm.get('last_name').dirty) && registerForm.get('last_name').errors)">
            <span *ngIf="registerForm.get('last_name').errors.required || registerForm.get('last_name').errors.whitespace" class="form-error">Please enter last name</span>
        </span>
         <span *ngIf="serverError && serverError.last_name" class="form-error">{{serverError.last_name[0]}}</span>
      </div>
      <div class="input-field" [ngClass]="{'has-error': (isSubmit && registerForm.get('country_id').errors) || (registerForm.get('country_id').touched || registerForm.get('country_id').dirty) && !registerForm.get('country_id').valid }">
        <select formControlName="country_id" class="validate">
           <option value="" selected>Country</option>
           <option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
        </select>
        <span *ngIf="(isSubmit && registerForm.get('country_id').errors) || ((registerForm.get('country_id').touched || registerForm.get('country_id').dirty) && registerForm.get('country_id').errors)">
            <span *ngIf="registerForm.get('country_id').errors.required " class="form-error">Please select country</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('city_id').errors) || (registerForm.get('city_id').touched || registerForm.get('city_id').dirty) && !registerForm.get('city_id').valid }">
        <select formControlName="city_id">
           <option value="" selected>City</option>
           <option value="{{city._id}}" *ngFor="let city of coutryWiseCity">{{city.name}}</option>
        </select>
        <span *ngIf="(isSubmit && registerForm.get('city_id').errors) || ((registerForm.get('city_id').touched || registerForm.get('city_id').dirty) && registerForm.get('city_id').errors)">
          <span *ngIf="registerForm.get('city_id').errors.required " class="form-error">Please select city</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('designation').errors) || (registerForm.get('designation').touched || registerForm.get('designation').dirty) && !registerForm.get('designation').valid }">
        <input id="desig" type="text" formControlName="designation">
        <label for="desig" [ngClass]="{'active':registerForm.get('designation').value}">Your Designation</label>
        <span *ngIf="(isSubmit && registerForm.get('designation').errors) || ((registerForm.get('designation').touched || registerForm.get('designation').dirty) && registerForm.get('designation').errors)">
          <span *ngIf="registerForm.get('designation').errors.required || registerForm.get('designation').errors.whitespace" class="form-error">Please enter designation</span>
        </span>
         <span *ngIf="registerForm.get('designation').errors?.maxlength" class="form-error">Designation should not be more than 50 character!</span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('industry_id').errors) || (registerForm.get('industry_id').touched || registerForm.get('industry_id').dirty) && !registerForm.get('industry_id').valid }">
        <select formControlName="industry_id">
          <option value="" selected>Industry</option>
          <option value="{{industry._id}}" *ngFor="let industry of industries">{{industry.name}}</option>
        </select>
        <span *ngIf="(isSubmit && registerForm.get('industry_id').errors) || ((registerForm.get('industry_id').touched || registerForm.get('industry_id').dirty) && registerForm.get('industry_id').errors)">
          <span *ngIf="registerForm.get('industry_id').errors.required " class="form-error">Please select industry</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('email').errors) || (registerForm.get('email').touched || registerForm.get('email').dirty) && !registerForm.get('email').valid }">
        <input id="email" type="text" formControlName="email" autocomplete="off" autocomplete="chrome-off">
        <label for="email" [ngClass]="{'active':registerForm.get('email').value}">Email Address</label>
        <span *ngIf="(isSubmit && registerForm.get('email').errors) || ((registerForm.get('email').touched || registerForm.get('email').dirty) && registerForm.get('email').errors)">
          <span *ngIf="registerForm.get('email').errors.required " class="form-error">Please enter email</span>
          <span *ngIf="registerForm.get('email').errors.pattern " class="form-error">Please enter valid email</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('mobile').errors) || (registerForm.get('mobile').touched || registerForm.get('mobile').dirty) && !registerForm.get('mobile').valid }">
        <input id="mobile" type="text" formControlName="mobile">
        <label for="mobile" [ngClass]="{'active':registerForm.get('mobile').value}">Mobile</label>
        <span *ngIf="(isSubmit && registerForm.get('mobile').errors) || ((registerForm.get('mobile').touched || registerForm.get('mobile').dirty) && registerForm.get('mobile').errors)">
          <span *ngIf="registerForm.get('mobile').errors.required " class="form-error">Please enter mobile</span>
          <span *ngIf="registerForm.get('mobile').errors.pattern || registerForm.get('mobile').errors.minlength || registerForm.get('mobile').errors.maxlength" class="form-error">Please enter valid mobile</span>
        </span>
        <span *ngIf="serverError && serverError.mobile" class="form-error">{{serverError.mobile[0]}}</span>
      </div>

      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('user_unique_code').errors) || (registerForm.get('user_unique_code').touched || registerForm.get('user_unique_code').dirty) && !registerForm.get('user_unique_code').valid }">
          <input id="user_unique_code" type="text" formControlName="user_unique_code" autocomplete="off" autocomplete="chrome-off">
          <label for="user_unique_code" [ngClass]="{'active':registerForm.get('user_unique_code').value}">Referral Code (if you have)</label>
          <span *ngIf="userUniqueValidErr" class="form-error">{{userUniqueValidErr}}</span>
      </div>

      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('upload_cv').errors) || (registerForm.get('upload_cv').touched || registerForm.get('upload_cv').dirty) && !registerForm.get('upload_cv').valid }">
          <input id="regfile" type="file" #resume (change)="uploadCv(resume)">
          <label for="regfile"><span class="fieldvalue">{{uploaded_file_name?uploaded_file_name:'Upload CV/Resume'}}</span> <span class="lblName">Browse</span></label>
          <span *ngIf="(isSubmit && registerForm.get('upload_cv').errors) || ((registerForm.get('upload_cv').touched || registerForm.get('upload_cv').dirty) && registerForm.get('upload_cv').errors)">
          <span *ngIf="registerForm.get('upload_cv').errors.required " class="form-error">Please upload cv</span>
        </span>
      </div>

      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('password').errors) || (registerForm.get('password').touched || registerForm.get('password').dirty) && !registerForm.get('password').valid }">
          <input id="password_reg" type="password" formControlName="password" autocomplete="new-password" autocomplete="chrome-off">
          <label for="password_reg" [ngClass]="{'active':registerForm.get('password').value}">Password</label>
          <span *ngIf="(isSubmit && registerForm.get('password').errors) || ((registerForm.get('password').touched || registerForm.get('password').dirty) && registerForm.get('password').errors)">
            <span *ngIf="registerForm.get('password').errors.required " class="form-error">Please enter password</span>
          </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('confirmPassword').errors) || (registerForm.get('confirmPassword').touched || registerForm.get('confirmPassword').dirty) && !registerForm.get('confirmPassword').valid }"> 
          <input id="confirmPassword" type="password" formControlName="confirmPassword" autocomplete="conf-password" autocomplete="chrome-off">
          <label for="confirmPassword" [ngClass]="{'active':registerForm.get('confirmPassword').value}">Confirm Password</label>
          <span *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.error" class="form-error">Confirmation password does not matched</span>
      </div>
      <div class="datebirthwrap">
        <label>Date of Birth</label>
        <div class="datebirthwrapInner">
          <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('dob_date').errors) || (registerForm.get('dob_date').touched || registerForm.get('dob_date').dirty) && !registerForm.get('dob_date').valid }">
              <select formControlName="dob_date">
                <option>Select Date</option>
                <option value="{{date.id}}" *ngFor="let date of dates">{{date.id}}</option>
              </select>
              <span *ngIf="(isSubmit && registerForm.get('dob_date').errors) || ((registerForm.get('dob_date').touched || registerForm.get('dob_date').dirty) && registerForm.get('dob_date').errors)">
                <span *ngIf="registerForm.get('dob_date').errors.required " class="form-error">Please Select date</span>
              </span>
          </div>
          <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('dob_month').errors) || (registerForm.get('dob_month').touched || registerForm.get('dob_month').dirty) && !registerForm.get('dob_month').valid }">
              <select formControlName="dob_month">
                <option>Select Month</option>
                <option value="{{month.id}}" *ngFor="let month of months">{{month.value}}</option>
              </select>
              <span *ngIf="(isSubmit && registerForm.get('dob_month').errors) || ((registerForm.get('dob_month').touched || registerForm.get('dob_month').dirty) && registerForm.get('dob_month').errors)">
                <span *ngIf="registerForm.get('dob_month').errors.required " class="form-error">Please Select month</span>
              </span>
          </div>
          <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('dob_year').errors) || (registerForm.get('dob_year').touched || registerForm.get('dob_year').dirty) && !registerForm.get('dob_year').valid }">
              <select formControlName="dob_year">
                <option value="">Select Year</option>
                <option value="{{year.id}}" *ngFor="let year of years">{{year.id}}</option>
              </select>
              <span *ngIf="(isSubmit && registerForm.get('dob_year').errors) || ((registerForm.get('dob_year').touched || registerForm.get('dob_year').dirty) && registerForm.get('dob_year').errors)">
                <span *ngIf="registerForm.get('dob_year').errors.required " class="form-error">Please Select year</span>
              </span>
          </div>
        </div>
      </div>
      <div class="datebirthwrap ">
        <h6>Gender
        </h6>
        <div class="datebirthwrapInner genderWrap">
          <div class="input-field ">
            <label>
              <input type="radio" formControlName="gender" value="female">
              <span>Female</span>
            </label>
          </div>
          <div class="input-field ">
            <label>
              <input type="radio" formControlName="gender" value="male">
              <span>Male</span>
            </label>
          </div>
          <div class="input-field ">
            <label>
              <input type="radio" formControlName="gender" value="custom">
              <span>Custom</span>
            </label>
          </div>
        </div>
        <span class="genderErr" *ngIf="(isSubmit && registerForm.get('gender').errors) || ((registerForm.get('gender').touched || registerForm.get('gender').dirty) && registerForm.get('gender').errors)">
            <span *ngIf="registerForm.get('gender').errors.required " class="form-error">Please select gender</span>
        </span>
      </div>

      <p class="pp">By clicking Agree & Join, you agree to the bsbstaffing <a href="javascript:void(0);" routerLink="legal/user-agreement" target="_blank">User Agreement</a>, <a href="javascript:void(0);" routerLink="legal/privacy-policy" target="_blank">Privacy Policy</a>, <a href="javascript:void(0);" routerLink="legal/terms-conditions" target="_blank">Terms And Conditions</a> and <a href="javascript:void(0);" routerLink="legal/cookie-policy" target="_blank">Cookie Policy</a>.</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="isEmployer ==1">
      <div class="input-field" [ngClass]="{'has-error': (isSubmit && registerForm.get('company_name').errors) || (registerForm.get('company_name').touched || registerForm.get('company_name').dirty) && !registerForm.get('company_name').valid }">
        <input id="cname" type="text" class="validate" formControlName="company_name" autocomplete="off" autocomplete="chrome-off">
        <label for="cname" [ngClass]="{'active':registerForm.get('company_name').value}">Company Legal Name</label>
        <span *ngIf="(isSubmit && registerForm.get('company_name').errors) || ((registerForm.get('company_name').touched || registerForm.get('company_name').dirty) && registerForm.get('company_name').errors)">
            <span *ngIf="registerForm.get('company_name').errors.required || registerForm.get('company_name').errors.whitespace" class="form-error">Please enter company name</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error': (isSubmit && registerForm.get('office_address').errors) || (registerForm.get('office_address').touched || registerForm.get('office_address').dirty) && !registerForm.get('office_address').valid }">
        <input id="oficadds" type="text" formControlName='office_address' class="validate">
        <label for="oficadds" [ngClass]="{'active':registerForm.get('office_address').value}">Office Postal address</label>
        <span *ngIf="(isSubmit && registerForm.get('office_address').errors) || ((registerForm.get('office_address').touched || registerForm.get('office_address').dirty) && registerForm.get('office_address').errors)">
            <span *ngIf="registerForm.get('office_address').errors.required || registerForm.get('office_address').errors.whitespace" class="form-error">Please enter office address</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error': (isSubmit && registerForm.get('country_id').errors) || (registerForm.get('country_id').touched || registerForm.get('country_id').dirty) && !registerForm.get('country_id').valid }">
        <select formControlName="country_id" class="validate">
           <option value="" selected>Country</option>
           <option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
        </select>
        <span *ngIf="(isSubmit && registerForm.get('country_id').errors) || ((registerForm.get('country_id').touched || registerForm.get('country_id').dirty) && registerForm.get('country_id').errors)">
            <span *ngIf="registerForm.get('country_id').errors.required " class="form-error">Please select country</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('city_id').errors) || (registerForm.get('city_id').touched || registerForm.get('city_id').dirty) && !registerForm.get('city_id').valid }">
        <select formControlName="city_id">
           <option value="" selected>City</option>
           <option value="{{city._id}}" *ngFor="let city of coutryWiseCity">{{city.name}}</option>
        </select>
        <span *ngIf="(isSubmit && registerForm.get('city_id').errors) || ((registerForm.get('city_id').touched || registerForm.get('city_id').dirty) && registerForm.get('city_id').errors)">
            <span *ngIf="registerForm.get('city_id').errors.required " class="form-error">Please select city</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('industry_id').errors) || (registerForm.get('industry_id').touched || registerForm.get('industry_id').dirty) && !registerForm.get('industry_id').valid }">
        <select formControlName="industry_id">
          <option value="" selected>Industry</option>
          <option value="{{industry._id}}" *ngFor="let industry of industries">{{industry.name}}</option>
        </select>
        <span *ngIf="(isSubmit && registerForm.get('industry_id').errors) || ((registerForm.get('industry_id').touched || registerForm.get('industry_id').dirty) && registerForm.get('industry_id').errors)">
            <span *ngIf="registerForm.get('industry_id').errors.required " class="form-error">Please select industry</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('company_size').errors) || (registerForm.get('company_size').touched || registerForm.get('company_size').dirty) && !registerForm.get('company_size').valid }">
         <select formControlName="company_size">
          <option value="">Company Size</option>
          <option value="{{companySize._id}}" *ngFor="let companySize of companySizes">{{companySize.company_size}}</option>
        </select>
        <span *ngIf="(isSubmit && registerForm.get('company_size').errors) || ((registerForm.get('company_size').touched || registerForm.get('company_size').dirty) && registerForm.get('company_size').errors)">
            <span *ngIf="registerForm.get('company_size').errors.required " class="form-error">Please select company size</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('company_type').errors) || (registerForm.get('company_type').touched || registerForm.get('company_type').dirty) && !registerForm.get('company_type').valid }">
         <select formControlName="company_type">
          <option value="">Company Type</option>
          <option value="{{companyType._id}}" *ngFor="let companyType of companyTypes">{{companyType.company_type}}</option>
        </select>
        <span *ngIf="(isSubmit && registerForm.get('company_type').errors) || ((registerForm.get('company_type').touched || registerForm.get('company_type').dirty) && registerForm.get('company_type').errors)">
            <span *ngIf="registerForm.get('company_type').errors.required " class="form-error">Please select company type</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('designation').errors) || (registerForm.get('designation').touched || registerForm.get('designation').dirty) && !registerForm.get('designation').valid }">
        <input id="desig" type="text" formControlName="designation">
        <label for="desig" [ngClass]="{'active':registerForm.get('designation').value}">Your Designation</label>
        <span *ngIf="(isSubmit && registerForm.get('designation').errors) || ((registerForm.get('designation').touched || registerForm.get('designation').dirty) && registerForm.get('designation').errors)">
            <span *ngIf="registerForm.get('designation').errors.required || registerForm.get('designation').errors.whitespace" class="form-error">Please enter designation</span>
             <span *ngIf="registerForm.get('designation').errors?.maxlength" class="form-error">Designation should not be more than 50 character!</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error': (isSubmit && registerForm.get('first_name').errors) || (registerForm.get('first_name').touched || registerForm.get('first_name').dirty) && !registerForm.get('first_name').valid }">
        <input id="fname" type="text" formControlName="first_name" autocomplete="off" autocomplete="chrome-off">
        <label for="fname" [ngClass]="{'active':registerForm.get('first_name').value}">Your First Name</label>
        <span *ngIf="(isSubmit && registerForm.get('first_name').errors) || ((registerForm.get('first_name').touched || registerForm.get('first_name').dirty) && registerForm.get('first_name').errors)">
            <span *ngIf="registerForm.get('first_name').errors.required || registerForm.get('first_name').errors.whitespace" class="form-error">Please enter first name</span>
        </span>
        <span *ngIf="serverError && serverError.first_name" class="form-error">{{serverError.first_name[0]}}</span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('last_name').errors) || (registerForm.get('last_name').touched || registerForm.get('last_name').dirty) && !registerForm.get('last_name').valid }">
        <input id="lname" type="text" formControlName="last_name" autocomplete="off" autocomplete="chrome-off">
        <label for="lname" [ngClass]="{'active':registerForm.get('last_name').value}">Your Last Name</label>
        <span *ngIf="(isSubmit && registerForm.get('last_name').errors) || ((registerForm.get('last_name').touched || registerForm.get('last_name').dirty) && registerForm.get('last_name').errors)">
            <span *ngIf="registerForm.get('last_name').errors.required || registerForm.get('last_name').errors.whitespace" class="form-error">Please enter last name</span>
        </span>
        <span *ngIf="serverError && serverError.first_name" class="form-error">{{serverError.last_name[0]}}</span>
      </div> 
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('email').errors) || (registerForm.get('email').touched || registerForm.get('email').dirty) && !registerForm.get('email').valid }">
        <input id="email" type="text" formControlName="email" autocomplete="off" autocomplete="chrome-off">
        <label for="email" [ngClass]="{'active':registerForm.get('email').value}">Email Address</label>
        <span *ngIf="(isSubmit && registerForm.get('email').errors) || ((registerForm.get('email').touched || registerForm.get('email').dirty) && registerForm.get('email').errors)">
            <span *ngIf="registerForm.get('email').errors.required " class="form-error">Please enter email</span>
            <span *ngIf="registerForm.get('email').errors.pattern" class="form-error">Please enter valid email</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('mobile').errors) || (registerForm.get('mobile').touched || registerForm.get('mobile').dirty) && !registerForm.get('mobile').valid }">
        <input id="mobile" type="text" formControlName="mobile">
        <label for="mobile" [ngClass]="{'active':registerForm.get('mobile').value}">Mobile</label>
        <span *ngIf="(isSubmit && registerForm.get('mobile').errors) || ((registerForm.get('mobile').touched || registerForm.get('mobile').dirty) && registerForm.get('mobile').errors)">
            <span *ngIf="registerForm.get('mobile').errors.required " class="form-error">Please enter mobile</span>
            <span *ngIf="registerForm.get('mobile').errors.pattern || registerForm.get('mobile').errors.minlength || registerForm.get('mobile').errors.maxlength" class="form-error">Please enter valid mobile</span>
        </span>
      </div>

      <!-- <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('user_unique_code').errors) || (registerForm.get('user_unique_code').touched || registerForm.get('user_unique_code').dirty) && !registerForm.get('user_unique_code').valid }">
          <input id="user_unique_code" type="text" formControlName="user_unique_code">
          <label for="user_unique_code" [ngClass]="{'active':registerForm.get('user_unique_code').value}">Referral Code (if you have)</label>
          <span *ngIf="userUniqueValidErr" class="form-error">{{userUniqueValidErr}}</span>
      </div> -->
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('password').errors) || (registerForm.get('password').touched || registerForm.get('password').dirty) && !registerForm.get('password').valid }">
          <input id="password_reg" type="password" formControlName="password" autocomplete="off" autocomplete="chrome-off">
          <label for="password_reg" [ngClass]="{'active':registerForm.get('password').value}">Password</label>
          <span *ngIf="(isSubmit && registerForm.get('password').errors) || ((registerForm.get('password').touched || registerForm.get('password').dirty) && registerForm.get('password').errors)">
            <span *ngIf="registerForm.get('password').errors.required " class="form-error">Please enter password</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('confirmPassword').errors) || (registerForm.get('confirmPassword').touched || registerForm.get('confirmPassword').dirty) && !registerForm.get('confirmPassword').valid }">
          <input id="confirmPassword" type="password" formControlName="confirmPassword" autocomplete="off" autocomplete="chrome-off">
          <label for="confirmPassword" [ngClass]="{'active':registerForm.get('confirmPassword').value}">Confirm Password</label>
          <span *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.error" class="form-error">Confirmation password does not matched</span>
      </div>
      <div class="datebirthwrap">
        <label>Date of Birth</label>
        <div class="datebirthwrapInner">
          <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('dob_date').errors) || (registerForm.get('dob_date').touched || registerForm.get('dob_date').dirty) && !registerForm.get('dob_date').valid }">
              <select formControlName="dob_date">
                <option>Select Date</option>
                <option value="{{date.id}}" *ngFor="let date of dates">{{date.id}}</option>
              </select>
              <span *ngIf="(isSubmit && registerForm.get('dob_date').errors) || ((registerForm.get('dob_date').touched || registerForm.get('dob_date').dirty) && registerForm.get('dob_date').errors)">
                <span *ngIf="registerForm.get('dob_date').errors.required " class="form-error">Please Select date</span>
              </span>
          </div>
          <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('dob_month').errors) || (registerForm.get('dob_month').touched || registerForm.get('dob_month').dirty) && !registerForm.get('dob_month').valid }">
              <select formControlName="dob_month">
                <option>Select Month</option>
                <option value="{{month.id}}" *ngFor="let month of months">{{month.value}}</option>
              </select>
              <span *ngIf="(isSubmit && registerForm.get('dob_month').errors) || ((registerForm.get('dob_month').touched || registerForm.get('dob_month').dirty) && registerForm.get('dob_month').errors)">
                <span *ngIf="registerForm.get('dob_month').errors.required " class="form-error">Please Select month</span>
              </span>
          </div>
          <div class="input-field" [ngClass]="{'has-error':(isSubmit && registerForm.get('dob_year').errors) || (registerForm.get('dob_year').touched || registerForm.get('dob_year').dirty) && !registerForm.get('dob_year').valid }">
              <select formControlName="dob_year">
                <option value="">Select Year</option>
                <option value="{{year.id}}" *ngFor="let year of years">{{year.id}}</option>
              </select>
              <span *ngIf="(isSubmit && registerForm.get('dob_year').errors) || ((registerForm.get('dob_year').touched || registerForm.get('dob_year').dirty) && registerForm.get('dob_year').errors)">
                <span *ngIf="registerForm.get('dob_year').errors.required " class="form-error">Please Select year</span>
              </span>
          </div>
        </div>
      </div>
      <div class="datebirthwrap ">
        <h6>Gender
        </h6>
        <div class="datebirthwrapInner genderWrap">
          <div class="input-field ">
            <label>
              <input type="radio" formControlName="gender" value="female">
              <span>Female</span>
            </label>
          </div>
          <div class="input-field ">
            <label>
              <input type="radio" formControlName="gender" value="male">
              <span>Male</span>
            </label>
          </div>
          <div class="input-field ">
            <label>
              <input type="radio" formControlName="gender" value="custom">
              <span>Custom</span>
            </label>
          </div>
          
        </div>
        <span class="genderErr" *ngIf="(isSubmit && registerForm.get('gender').errors) || ((registerForm.get('gender').touched || registerForm.get('gender').dirty) && registerForm.get('gender').errors)">
            <span *ngIf="registerForm.get('gender').errors.required " class="form-error">Please select gender</span>
          </span>
      </div>
      <p class="pp">By clicking Agree & Join, you agree to the bsbstaffing <a href="javascript:void(0);" routerLink="legal/user-agreement" target="_blank">User Agreement</a>, <a href="javascript:void(0);" routerLink="legal/privacy-policy" target="_blank">Privacy Policy</a>, <a href="javascript:void(0);" routerLink="legal/terms-conditions" target="_blank">Terms And Conditions</a> and <a href="javascript:void(0);" routerLink="legal/cookie-policy" target="_blank">Cookie Policy</a>.</p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="submitOuter">
        <button mat-raised-button color="primary" (click)="register()"  class="blueBtn">Agree & Join <i class="fa fa-spinner fa-spin spiner-class" *ngIf="showloader"></i></button>
        <!-- <button mat-raised-button color="primary" [disabled]="(registerForm.status ==='INVALID')" (click)="register()"  class="blueBtn">Registration <i class="fa fa-spinner fa-spin spiner-class" *ngIf="showloader"></i></button> -->
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="">Already Registered? <a href="javascript:void(0)" (click)="showLgin()" class="loginBtn">Login Here</a></p>
    </div>
  </div>
</form>
