
      <div class="modalbody" *ngIf="verificationModal">
         <div class="modalform">
            <h3>We received a request to registration for your account. On bsbstaffing.com</h3>
            <p style="text-align: center;">We send email to your registered email id, hope you will receive email within few seconds on your inbox, spam, Trash, promotions, Updates ETC. Your email verification code. Open your mailbox and get email verification code, pls put below box your verification code. for completing the registration.</p>
            <form>
               <div class="form-group otp-form-group">
                  <!-- <input type="text" class="email" placeholder="Verifiction Code" [(ngModel)]="verification_code" [ngModelOptions]="{standalone: true}"/>                 -->
                  <input type="text" id="1" maxlength="1" class="verify_input" />
                  <input type="text" id="2" maxlength="1" class="verify_input"/>
                  <input type="text" id="3" maxlength="1" class="verify_input"/>
                  <input type="text" id="4" maxlength="1" class="verify_input"/>
                  <input type="text" id="5" maxlength="1" class="verify_input"/>
                  <input type="text" id="6" maxlength="1" class="verify_input"/>

               </div>
               <div class="form-group">
                  <button type="submit" [disabled]="showloader" (click)="submitFormAndCreate()"><img src="assets/images/lock.png" alt="calender"/> Submit <i class="fa fa-refresh fa-spin" style="font-size:24px" *ngIf="showloader"></i></button>
               </div>
            </form>
            <div class="mbtnholder"><a class="" href="javascript:void(0)" (click)="resendCode()">Resend OTP</a>
            </div>
            <p style="text-align: center;">
               If you have any questions, please mail us: support@bsbstaffing.com . Thank you for using bsbstaffing.com.
            </p>
         </div>
      </div>

<div class="modalbody" *ngIf="isEmployer ==2 && !verificationModal">
   <!-- <div class="modalimg">
      <img src="assets/images/modalimg2.jpg" alt="modalimg2"/>
   </div> -->
   <div class="modalform areyoujbskrmodall">
      <h3><span>Are you job seeker ?</span> <br/> Welcome to bsbstaffing</h3>
      <form [formGroup]="registerForm" autocomplete="off">
         <div class="form-group">
            <input id="fname" type="text" formControlName="first_name" autocomplete="off" autocomplete="chrome-off" placeholder="First Name">
            <span *ngIf="(isSubmit && registerForm.get('first_name').errors) || ((registerForm.get('first_name').touched || registerForm.get('first_name').dirty) && registerForm.get('first_name').errors)">
            <span *ngIf="registerForm.get('first_name').errors.required || registerForm.get('first_name').errors.whitespace" class="form-error">Please enter first name</span>
            </span>
         </div>
         <div class="form-group">
            <input id="lname" type="text" formControlName="last_name" autocomplete="off" autocomplete="chrome-off" placeholder="Last Name">
            <span *ngIf="(isSubmit && registerForm.get('last_name').errors) || ((registerForm.get('last_name').touched || registerForm.get('last_name').dirty) && registerForm.get('last_name').errors)">
            <span *ngIf="registerForm.get('last_name').errors.required || registerForm.get('last_name').errors.whitespace" class="form-error">Please enter last name</span>
            </span>
            <span *ngIf="serverError && serverError.last_name" class="form-error">{{serverError.last_name[0]}}</span>
         </div>
         <div class="form-group">
            <input type="text" formControlName="email" placeholder="Email Address" autocomplete="off" autocomplete="chrome-off">
            <span *ngIf="(isSubmit && registerForm.get('email').errors) || ((registerForm.get('email').touched || registerForm.get('email').dirty) && registerForm.get('email').errors)">
            <span *ngIf="registerForm.get('email').errors.required " class="form-error">Please enter email</span>
            <span *ngIf="registerForm.get('email').errors.pattern " class="form-error">Please enter valid email</span>
            </span>
            <!-- <span *ngIf="serverError && serverError.email" class="form-error">{{serverError.email[0]}}</span> -->
         </div>
         <div class="form-group">
            <input type="file" class="upload" id="uploaadcv"  #resume (change)="uploadCv(resume)" placeholder="Upload CV/Resume">
            <span class="filecustom">{{uploaded_file_name?uploaded_file_name:'Upload CV/Resume'}} <label for="uploaadcv">Browse</label></span>
            <span *ngIf="(isSubmit && registerForm.get('upload_cv').errors) || ((registerForm.get('upload_cv').touched || registerForm.get('upload_cv').dirty) && registerForm.get('upload_cv').errors)">
            <span *ngIf="registerForm.get('upload_cv').errors.required " class="form-error">Please upload cv</span>
            </span>
         </div>
         <div class="form-group">
            <input id="password_reg" class="pass" type="{{showPassword?'text':'password'}}" formControlName="password" autocomplete="new-password" autocomplete="chrome-off" placeholder="Password">
            <span *ngIf="(isSubmit && registerForm.get('password').errors) || ((registerForm.get('password').touched || registerForm.get('password').dirty) && registerForm.get('password').errors)">
            <span *ngIf="registerForm.get('password').errors.required " class="form-error">Please enter password</span>
            </span>
            <i class="fa fa-eye pss-eye" aria-hidden="true" (click)="showPassword = !showPassword"></i>
         </div>
         <div class="form-group">
            <input id="confirmPassword" class="pass" type="{{showConfPassword?'text':'password'}}" formControlName="confirmPassword" autocomplete="conf-password" autocomplete="chrome-off" placeholder="Confirm Password">
            <span *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.error" class="form-error">Confirmation password does not matched</span>
            <i class="fa fa-eye pss-eye" aria-hidden="true" (click)="showConfPassword = !showConfPassword"></i>
         </div>
         <div class="form-group">
            <p>By clicking Agree & Join, you agree to the bsbstaffing <a href="legal/user-agreement" target="_blank">User Agreement </a>, <a href="legal/privacy-policy" target="_blank">Privacy Policy</a>, <a href="legal/terms-conditions" target="_blank">Terms And Conditions</a> and <a href="legal/cookie-policy" target="_blank">Cookie Policy</a>.</p>
         </div>
         <div class="form-group">
            <button type="submit" (click)="register()" [disabled]="showloader"><img src="assets/images/calender.png" alt="calender"/> Agree & Join <i class="fa fa-refresh fa-spin" style="font-size:24px" *ngIf="showloader"></i></button>
         </div>
         <div class="mbtnholder">
            Already member? <a class="logout" href="javascript:void(0)" (click)="showLgin()">login NOW</a>
         </div>
      </form>
   </div>
</div>
<ng-container *ngIf="isEmployer ==1 && !verificationModal">
   <div class="modalbody">
      <div class="modalform">
         <h3>Welcome to bsbstaffing</h3>
         <form [formGroup]="registerForm" autocomplete="off">
            <div class="form-inline3">
               <div class="form-group">
                  <input type="" name="" placeholder="Company Legal Name" formControlName="company_name" autocomplete="off" autocomplete="chrome-off"/>
                  <span *ngIf="(isSubmit && registerForm.get('company_name').errors) || ((registerForm.get('company_name').touched || registerForm.get('company_name').dirty) && registerForm.get('company_name').errors)">
                  <span *ngIf="registerForm.get('company_name').errors.required || registerForm.get('company_name').errors.whitespace" class="form-error">Please enter company name</span>
                  </span>
               </div>
               <div class="form-group">
                  <input type="text" formControlName='office_address' class="validate" placeholder="Official Postal Address">
                  <span *ngIf="(isSubmit && registerForm.get('office_address').errors) || ((registerForm.get('office_address').touched || registerForm.get('office_address').dirty) && registerForm.get('office_address').errors)">
                  <span *ngIf="registerForm.get('office_address').errors.required || registerForm.get('office_address').errors.whitespace" class="form-error">Please enter office Postal address</span>
                  </span>
               </div>
               <div class="form-group">
                  <div class="input-field address degree-hlder" [ngClass]="{'multiselect_remove_place_regis':storeMultiSelectRegistration.country_name.length}">
                     <span class="icon locationIcon"></span>
                     <div class="input_text">
                        <span class="dropdown-search"> 
                        <div class="add-slect-wrp">
                           <ng-container *ngFor="let country of storeMultiSelectRegistration.country_name; index as i;">
                              <span class="selected-span">{{country.length > 10 ? country.slice(0,10)+ '...': country }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelectSign2(i, 'country')"></i></span></span>
                           </ng-container>
                        </div>
                        <span class="dropdown-search"> 
                        <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="country" placeholder="Select Country" [style.display]="storeMultiSelectRegistration.country_name.length ?'none':''" (click)="getOnchangeEventSign2('country')">
                        <app-multi-select *ngIf="countryDivSign2" 
                        [maxLength] ="1"
                        [mainDataArray]="countryArray"
                        [storedValue]="storeMultiSelectRegistration.country_value"
                        [storedName]="storeMultiSelectRegistration.country_name"  
                        [field_name] ="'country'"
                        (sendDataEvent)="getChangeSign2($event)" 
                        (checkOutsideEvent)="checkmultiselectSign2($event)">
                        </app-multi-select>
                        </span>
                        </span>
                     </div>
                  </div>
                  <span *ngIf="(isSubmit && registerForm.get('country_id').errors) || ((registerForm.get('country_id').touched || registerForm.get('country_id').dirty) && registerForm.get('country_id').errors)">
                  <span *ngIf="registerForm.get('country_id').errors.required " class="form-error">Please select country</span>
                  </span>
               </div>
            </div>
            <div class="form-inline3">
               <div class="form-group">
                  <div class="input-field address degree-hlder" [ngClass]="{'multiselect_remove_place_regis':storeMultiSelectRegistration.city_name.length}">
                     <span class="icon locationIcon"></span>
                     <div class="input_text">
                        <span class="dropdown-search"> 
                        <div class="add-slect-wrp">
                        <ng-container *ngFor="let city of storeMultiSelectRegistration.city_name; index as i;">
                           <span class="selected-span">{{city.length > 10 ? city.slice(0,10)+ '...': city }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelectSign2(i, 'city')"></i></span></span>
                        </ng-container>
                        </div>
                        <span class="dropdown-search">
                        <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="city" placeholder="Select City" [style.display]="storeMultiSelectRegistration.city_name.length ?'none':''" (click)="getOnchangeEventSign2('city')">
                        <app-multi-select *ngIf="cityDivSign2" 
                        [mainDataArray]="coutryWiseCity"
                        [storedValue]="storeMultiSelectRegistration.city_value"
                        [storedName]="storeMultiSelectRegistration.city_name"  
                        [field_name] ="'city'"
                        [maxLength] ="1"
                        (sendDataEvent)="getChangeSign2($event)" 
                        (checkOutsideEvent)="checkmultiselectSign2($event)" 
                        (multidataSelect)="multiselectAllSearch($event)">
                        </app-multi-select>
                        </span>
                        </span>
                     </div>
                  </div>
                  <span *ngIf="(isSubmit && registerForm.get('city_id').errors) || ((registerForm.get('city_id').touched || registerForm.get('city_id').dirty) && registerForm.get('city_id').errors)">
                  <span *ngIf="registerForm.get('city_id').errors.required " class="form-error">Please select city</span>
                  </span>
               </div>
               <div class="form-group">
                        <div class="input-field industry degree-hlder" [ngClass]="{'multiselect_remove_place_regis':storeMultiSelectRegistration.industries_name.length}">
                           <span class="icon industryIcon"></span>
                           <div class="input_text">
                              <span class="dropdown-search"> 
                                 <div class="add-slect-wrp">
                                    <ng-container *ngFor="let industry of storeMultiSelectRegistration.industries_name; index as i;">
                                       <span class="selected-span">{{industry.length > 10 ? industry.slice(0,10)+ '...': industry}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelectSign2(i, 'industry')"></i></span></span>
                                    </ng-container>
                                 </div>
                              <span class="dropdown-search">
                              <input type="text" class="degree multiselect-text-input"  autocomplete="off" name="industries" placeholder="Select Industry" [style.display]="storeMultiSelectRegistration.industries_name.length ?'none':''" (click)="getOnchangeEventSign2('industries')">
                              <app-multi-select *ngIf="industriesDivSign2" 
                              [mainDataArray]="industryArray"
                              [storedValue]="storeMultiSelectRegistration.industries_value"
                              [storedName]="storeMultiSelectRegistration.industries_name"  
                              [field_name] ="'industries'"
                              [maxLength] ="1"
                              (sendDataEvent)="getChangeSign2($event)" 
                              (checkOutsideEvent)="checkmultiselectSign2($event)" 
                              (multidataSelect)="multiselectAllSearch($event)">                                 
                              </app-multi-select>
                              </span>
                              </span>
                           </div>
                        </div>
                  <span *ngIf="(isSubmit && registerForm.get('industry_id').errors) || ((registerForm.get('industry_id').touched || registerForm.get('industry_id').dirty) && registerForm.get('industry_id').errors)">
                  <span *ngIf="registerForm.get('industry_id').errors.required " class="form-error">Please select industry</span>
                  </span>
               </div>
               <div class="form-group">
                  <select formControlName="company_size" class="companySize">
                     <option value="">Company Size</option>
                     <option value="{{companySize._id}}" *ngFor="let companySize of companySizes">{{companySize.company_size}}</option>
                  </select>
                  <span *ngIf="(isSubmit && registerForm.get('company_size').errors) || ((registerForm.get('company_size').touched || registerForm.get('company_size').dirty) && registerForm.get('company_size').errors)">
                  <span *ngIf="registerForm.get('company_size').errors.required " class="form-error">Please select company size</span>
                  </span>
               </div>
            </div>
            <div class="form-inline3">
               <div class="form-group">
                  <select formControlName="company_type" class="companyType">
                     <option value="">Company Type</option>
                     <option value="{{companyType._id}}" *ngFor="let companyType of companyTypes">{{companyType.company_type}}</option>
                  </select>
                  <span *ngIf="(isSubmit && registerForm.get('company_type').errors) || ((registerForm.get('company_type').touched || registerForm.get('company_type').dirty) && registerForm.get('company_type').errors)">
                  <span *ngIf="registerForm.get('company_type').errors.required " class="form-error">Please select company type</span>
                  </span>
               </div>
               <div class="form-group">
                  <input class="name" type="text"  placeholder="Your Designtaion" formControlName="designation">
                  <span *ngIf="(isSubmit && registerForm.get('designation').errors) || ((registerForm.get('designation').touched || registerForm.get('designation').dirty) && registerForm.get('designation').errors)">
                  <span *ngIf="registerForm.get('designation').errors.required || registerForm.get('designation').errors.whitespace" class="form-error">Please enter designation</span>
                  <span *ngIf="registerForm.get('designation').errors?.maxlength" class="form-error">Designation should not be more than 50 character!</span>
                  </span>
               </div>
               <div class="form-group">
                  <input class="name" placeholder="First Name" type="text" formControlName="first_name" autocomplete="off" autocomplete="chrome-off">
                  <span *ngIf="(isSubmit && registerForm.get('first_name').errors) || ((registerForm.get('first_name').touched || registerForm.get('first_name').dirty) && registerForm.get('first_name').errors)">
                  <span *ngIf="registerForm.get('first_name').errors.required || registerForm.get('first_name').errors.whitespace" class="form-error">Please enter first name</span>
                  </span>
                  <span *ngIf="serverError && serverError.first_name" class="form-error">{{serverError.first_name[0]}}</span>
               </div>
            </div>
            <div class="form-inline3">
               <div class="form-group">
                  <input class="name" placeholder="Last Name" type="text" formControlName="last_name" autocomplete="off" autocomplete="chrome-off">
                  <span *ngIf="(isSubmit && registerForm.get('last_name').errors) || ((registerForm.get('last_name').touched || registerForm.get('last_name').dirty) && registerForm.get('last_name').errors)">
                  <span *ngIf="registerForm.get('last_name').errors.required || registerForm.get('last_name').errors.whitespace" class="form-error">Please enter last name</span>
                  </span>
                  <span *ngIf="serverError && serverError.first_name" class="form-error">{{serverError.last_name[0]}}</span>
               </div>
               <div class="form-group">
                  <input class="email" placeholder="Email Address"  type="text" formControlName="email" autocomplete="off" autocomplete="chrome-off">
                  <span *ngIf="(isSubmit && registerForm.get('email').errors) || ((registerForm.get('email').touched || registerForm.get('email').dirty) && registerForm.get('email').errors)">
                  <span *ngIf="registerForm.get('email').errors.required " class="form-error">Please enter email</span>
                  <span *ngIf="registerForm.get('email').errors.pattern" class="form-error">Please enter valid email</span>
                  </span>
               </div>
               <div class="form-group">
                  <input class="mobile" placeholder="Mobile" type="text" formControlName="mobile">
                  <span *ngIf="(isSubmit && registerForm.get('mobile').errors) || ((registerForm.get('mobile').touched || registerForm.get('mobile').dirty) && registerForm.get('mobile').errors)">
                  <span *ngIf="registerForm.get('mobile').errors.required " class="form-error">Please enter mobile</span>
                  <span *ngIf="registerForm.get('mobile').errors.pattern || registerForm.get('mobile').errors.minlength || registerForm.get('mobile').errors.maxlength" class="form-error">Please enter valid mobile</span>
                  </span>
               </div>
            </div>
            <div class="form-inline3">
               <div class="form-group">
                  <input class="pass" placeholder="Password" type="password" formControlName="password" autocomplete="off" autocomplete="chrome-off">
                  <span *ngIf="(isSubmit && registerForm.get('password').errors) || ((registerForm.get('password').touched || registerForm.get('password').dirty) && registerForm.get('password').errors)">
                  <span *ngIf="registerForm.get('password').errors.required " class="form-error">Please enter password</span>
                  </span>
               </div>
               <div class="form-group">
                  <input class="pass" placeholder="Confirm Password" type="password" formControlName="confirmPassword" autocomplete="off" autocomplete="chrome-off">
                  <span *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.error" class="form-error">Confirmation password does not matched</span>
               </div>
               <div class="form-group">
                  <input type="date" dateInput format="d/m/Y" mode="single"  maxdate={{prevEighteenYearDate}} class=""  name="" placeholder="Date of Birth" formControlName="date_of_birth"/>
               </div>
            </div>
            <div class="form-inline3 custm-radio-hlder">
               <div class="form-group"> 
                  <input type="radio" id="male" name="gender" value="male" formControlName="gender">
                  <label for="male">Male</label>
               </div>
               <div class="form-group"> 
                  <input type="radio" id="female" name="gender" value="female" formControlName="gender">
                  <label for="female">Female</label>
               </div>
               <div class="form-group"> 
                  <input type="radio" id="other" name="gender" value="other" formControlName="gender">
                  <label for="other">Custom</label>
               </div>
            </div>
            <span class="genderErr" *ngIf="(isSubmit && registerForm.get('gender').errors) || ((registerForm.get('gender').touched || registerForm.get('gender').dirty) && registerForm.get('gender').errors)">
            <span *ngIf="registerForm.get('gender').errors.required " class="form-error gnder-error2">Please select gender</span>
            </span>
            <div class="form-group">
               <p>By clicking Agree & Join, you agree to the bsbstaffing <a href="legal/user-agreement" target="_blank">User Agreement</a>, <a href="legal/privacy-policy" target="_blank">Privacy Policy</a>, <a href="legal/terms-conditions" target="_blank">Terms And Conditions</a> and <a href="legal/cookie-policy" target="_blank">Cookie Policy</a>.</p>
            </div>
            <div class="form-group">
               <button type="submit" (click)="register()" [disabled]="showloader"><img src="assets/images/calender.png" alt="calender"/> Agree & Join <i class="fa fa-refresh fa-spin" style="font-size:24px" *ngIf="showloader"></i></button>
            </div>
            <div class="mbtnholder">
               Already member? <a class="logout" href="javascript:void(0)" (click)="showLgin()">login NOW</a>
            </div>
         </form>
      </div>
   </div>
</ng-container>