<section class="bannerSection animation-element">
   <img src="assets/images/banner1.png" alt="collegeBanner">
   <div class="headingOuter bannerColgInfo">
      <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <h3>{{user?.user_detail?.name}}</h3>
            <div class="collegeLogoOuter">
               <!-- <img src="assets/images/aloftLogo1.png" alt="aloftLogo"> -->
               <p>Website: <a href="javascript:void(0)">{{user?.user_detail?.website}}</a></p>
            </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            
         </div>
      </div>
   </div>
</section>
<!-- END BANNER SECTION -->
<!-- START BREADCRUMB SECTION -->
<!-- <section class="breadcrumbSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-md-12 col-12">
            <ul>
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">{{user?.user_detail?.name}}</a></li>
            </ul>
         </div>
      </div>
   </div>
</section> -->
<!-- END BREADCRUMB SECTION -->
<!-- START ANALYTICS -->
<section class="analyticsSection">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-sm-12 col-12">
            <div class="backOuter">
               <a href="javascript:void(0)" [routerLink]="['/' + user_type + '/home']" class="blueBtn">Back</a>
            </div>
            <table class="table">
               <tr>
                  <th>Date of CV Uploaded</th>
                  <th>Name</th>
                  <!-- <th>Industry</th>
                  <th>Department</th>
                  <th>Employment For</th> -->
                  <th>Email</th>
                  <th>Phone No.</th>
                  <th *ngIf="param !='cv-upload'">  Company Name</th>
               </tr>
               <ng-container *ngFor="let student of studentData; index as i;">
               <tr>
                  <td>{{student.created_at | date: 'dd/MM/yyyy'}}</td>
                  <td>{{student.user_detail?.name}}</td>
                  <!-- <td>Hospitality</td>
                  <td>Nursing</td>
                  <td>Domestic</td> -->
                  <td>{{student.email}}</td>
                  <td>{{student.phone_no}}</td>
                  <td *ngIf="param !='cv-upload'">tata</td>
               </tr>
               </ng-container>
               <tr *ngIf="!studentData.length">
                  <td colspan="5" style="text-align: center;">No Data Available</td>
               </tr>
            </table>
         </div>
      </div>
   </div>
</section>