<!-- <form [formGroup]="loginForm">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="input-field" [ngClass]="{'has-error': (isSubmit && loginForm.get('email').errors) || (loginForm.get('email').touched || loginForm.get('email').dirty) && !loginForm.get('email').valid }">
        <input id="email1" type="text" formControlName="email">
        <label for="email1" [ngClass]="{'active':loginForm.get('email').value}">Email Address</label>
        <span *ngIf="(isSubmit && loginForm.get('email').errors) || ((loginForm.get('email').touched || loginForm.get('email').dirty) && loginForm.get('email').errors)">
            <span *ngIf="loginForm.get('email').errors.required || loginForm.get('email').errors.whitespace" class="form-error">Please enter email</span>
             <span *ngIf="loginForm.get('email').value && !loginForm.get('email').valid" class="form-error">Please enter valid email</span>
        </span>
      </div>
      <div class="input-field" [ngClass]="{'has-error': (isSubmit && loginForm.get('password').errors) || (loginForm.get('password').touched || loginForm.get('password').dirty) && !loginForm.get('password').valid }">
          <input id="password" type="password" formControlName="password">
          <label for="password" [ngClass]="{'active':loginForm.get('password').value}">Password</label>
        <span *ngIf="(isSubmit && loginForm.get('password').errors) || ((loginForm.get('password').touched || loginForm.get('password').dirty) && loginForm.get('password').errors)">
            <span *ngIf="loginForm.get('password').errors.required || loginForm.get('password').errors.whitespace" class="form-error">Please enter password</span>

        </span>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="submitOuter">
        <button mat-raised-button color="primary" (click)="login()"  class="blueBtn">Login <i class="fa fa-spinner fa-spin spiner-class" *ngIf="showloader"></i></button>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="forgotOuter">
        <a href="javascript:void(0)" (click)="showForgotPWD()" class="forgotPass">Forgot Password</a>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <p>New Member? <a href="javascript:void(0)" class="registerBtn" (click)="showRegistration()">Register Here</a></p>
    </div>
  </div>
</form>
 -->
      <div class="modalbody"> 
        <div class="modalform">
          <h3>Welcome back, Please login to your account</h3> 
           <form [formGroup]="loginForm">
          <div class="form-group">
            <input type="text" class="email" placeholder="Email Address" formControlName="email"/>
            <span *ngIf="(isSubmit && loginForm.get('email').errors) || ((loginForm.get('email').touched || loginForm.get('email').dirty) && loginForm.get('email').errors)">
            <span *ngIf="loginForm.get('email').errors.required" class="form-error">Please enter email</span>
             <span *ngIf="loginForm.get('email').value && !loginForm.get('email').valid" class="form-error">Please enter valid email</span>
            </span>
          </div> 
          <div class="form-group">
             <input type="{{showPassword?'text':'password'}}" class="pass" formControlName="password" placeholder="Password"/> 
             <span *ngIf="(isSubmit && loginForm.get('password').errors) || ((loginForm.get('password').touched || loginForm.get('password').dirty) && loginForm.get('password').errors)">
            <span *ngIf="loginForm.get('password').errors.required || loginForm.get('password').errors.whitespace" class="form-error">Please enter password </span>
            </span>
            <i class="fa fa-eye pss-eye" aria-hidden="true" (click)="showPassword = !showPassword"></i>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <input type="checkbox" name=""/> <label>Remember me</label>
            </div>
            <div class="form-group forgotdiv">
              <a  href="javascript:void(0)" (click)="showForgotPWD()">Forgot Password</a>
            </div> 
          </div> 
          <div class="form-group">
            <button type="submit" (click)="login()" [disabled]="showloader"><img src="assets/images/lock.png" alt="calender"/> Login <i class="fa fa-refresh fa-spin" style="font-size:24px" *ngIf="showloader"></i></button>
          </div>
          <div class="mbtnholder">
            New member? <a class="" href="javascript:void(0)" (click)="showRegistration()">Please Register Here</a>
          </div>
         </form>
        </div>
      </div>

      <!-- <div class="modalbody">  
        
        <div class="modalbodyleft">
          <form [formGroup]="loginForm">
          <div class="form-group">
            <label>Email</label>
            <input type="text" name="" placeholder="Email Address" formControlName="email"/>
            <span *ngIf="(isSubmit && loginForm.get('email').errors) || ((loginForm.get('email').touched || loginForm.get('email').dirty) && loginForm.get('email').errors)">
            <span *ngIf="loginForm.get('email').errors.required || loginForm.get('email').errors.whitespace" class="form-error">Please enter email</span>
             <span *ngIf="loginForm.get('email').value && !loginForm.get('email').valid" class="form-error">Please enter valid email</span>
            </span>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" placeholder="Password"/> 
             <span *ngIf="(isSubmit && loginForm.get('password').errors) || ((loginForm.get('password').touched || loginForm.get('password').dirty) && loginForm.get('password').errors)">
            <span *ngIf="loginForm.get('password').errors.required || loginForm.get('password').errors.whitespace" class="form-error">Please enter password</span>
            </span>
          </div> 
          <div class="form-group">
            <div class="submitOuter">
            <button mat-raised-button color="primary" (click)="login()"  class="blueBtn">Login <i class="fa fa-spinner fa-spin spiner-class" *ngIf="showloader"></i></button>
          </div>
          </div>
          <div class="mbtnholder">
            <a class="logout" href="javascript:void(0)" (click)="showForgotPWD()">Forgot Password</a>
          </div>
          <div class="mbtnholder">
            New Member? <a class="logout" href="javascript:void(0)" (click)="showRegistration()"> Register Here</a>
          </div>
           </form>
        </div>
       
        <div class="modalbodyright">
          <img src="assets/images/modalImg1.png" alt=""/>
        </div>
      </div> -->
