<!-- START BANNER SECTION -->
<section class="bannerSection innerBanner other1InnerSection">
   <!-- <img src="assets/images/agencyBanner1.png" alt="registrationBanner"> -->
   <img src="assets/images/registrationBanner.png" alt="registrationBanner">
   <h2>Registration</h2>
</section>
<!-- END BANNER SECTION -->
<!-- START BREADCRUMB SECTION -->
<section class="breadcrumbSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-8 col-md-12 col-12">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/']">Home</a></li>
               <li class="current"><span>Trainer Registration</span></li>
            </ul>
         </div>
        <div class="col-lg-4 col-md-4 col-md-12 col-12">
          <div class="regPageLog">
            <a href="javascript:void(0)" class="blueBtn" [routerLink]="['/trainer/login']">Login</a>
          </div>
        </div>
      </div>
   </div>
</section>
<!-- END BREADCRUMB SECTION -->
<!-- START REGISTRATION FORM -->
      <section class="registrationForm registrationFormSec">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="registrationFormOuter">
                <form [formGroup]="registrationForm">
                  <h2 class="pageTitle">Trainer Application Form</h2>                  
                  <div class="registrationFormInner">
                    <div class="part-sec">
                      <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon nameIocn"></span>
                            <input id="nametr" type="text" formControlName="name">
                            <label for="nametr" [ngClass]="{'active':registrationForm.get('name').value}"> Given Name</label>
                            <span *ngIf="validation_errors && validation_errors.name"
                              class="form-error">{{validation_errors.name[0]}}
                           </span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon nameIocn"></span>
                            <input id="namemtr" type="text" formControlName="mid_name">
                            <label for="namemtr" [ngClass]="{'active':registrationForm.get('mid_name').value}"> Middle Name</label>                            
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon nameIocn"></span>
                            <input id="nameftr" type="text" formControlName="family_name">
                            <label for="nameftr" [ngClass]="{'active':registrationForm.get('family_name').value}"> Family Name</label>
                            <span *ngIf="validation_errors && validation_errors.family_name"
                              class="form-error">{{validation_errors.family_name[0]}}
                           </span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon phoneIcon"></span>
                            <input id="phonetr" type="text" formControlName="phone_no">
                            <label for="phonetr" [ngClass]="{'active':registrationForm.get('phone_no').value}"> Phone</label>
                            <span *ngIf="validation_errors && validation_errors.phone_no"
                              class="form-error">{{validation_errors.phone_no[0]}}
                           </span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon emailIcon"></span>
                            <input id="emailtr" type="text" formControlName="email">
                            <label for="emailtr" [ngClass]="{'active':registrationForm.get('email').value}"> Email</label>
                            <span *ngIf="validation_errors && validation_errors.email"
                              class="form-error">{{validation_errors.email[0]}}
                           </span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon skypeIcon"></span>
                            <input id="skypetr" type="text" formControlName="skype_id">
                            <label for="skypetr" [ngClass]="{'active':registrationForm.get('skype_id').value}"> Skype</label>
                            <span *ngIf="validation_errors && validation_errors.skype_id"
                              class="form-error">{{validation_errors.skype_id[0]}}
                           </span>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-7 col-sm-12 col-12">
                          <div class="radioOuterSec">
                            <label>
                              <input name="gender" value="1" type="radio" formControlName="gender">
                              <span>Male</span>
                            </label>
                            <label>
                              <input name="gender" value="2" type="radio" formControlName="gender">
                              <span>Female</span>
                            </label>
                            <span *ngIf="validation_errors && validation_errors.gender"
                              class="form-error">{{validation_errors.gender[0]}}
                           </span>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon payDtlDateIcon"></span>
                            <input id="agetr" type="text" dateInput format="d/m/Y" mode="single" formControlName="date_of_birth" maxdate="{{prevEighteenYearDate}}">
                            <label for="agetr" [ngClass]="{'active':registrationForm.get('date_of_birth').value}"> Date of Birth</label>
                            <span *ngIf="validation_errors && validation_errors.date_of_birth"
                              class="form-error">{{validation_errors.date_of_birth[0]}}
                           </span>
                          </div>
                        </div>                                             
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                          <div class="input-field activeIcon">
                            <span class="icon locationIcon"></span>
                            <select formControlName="country_id">
                              <option value="">Country</option>
                              <option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
                            </select>
                            <span *ngIf="validation_errors && validation_errors.country_id"
                              class="form-error">{{validation_errors.country_id[0]}}
                           </span>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon locationIcon"></span>
                            <select formControlName="city_id">
                              <option value="">City</option>
                              <option value="{{city._id}}" *ngFor="let city of coutryWiseCity">{{city.name}}</option>
                            </select>
                            <span *ngIf="validation_errors && validation_errors.city_id"
                              class="form-error">{{validation_errors.city_id[0]}}
                           </span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="radioOuterSec">
                            <label>
                              <input name="trainer_type" value="1" type="radio" formControlName="trainer_type">
                              <span>Job Trainer</span>
                            </label>
                            <label>
                              <input name="trainer_type" value="2" type="radio" formControlName="trainer_type">
                              <span>Visa Trainer</span>
                            </label>
                            <span *ngIf="validation_errors && validation_errors.trainer_type"
                              class="form-error">{{validation_errors.trainer_type[0]}}
                           </span>
                          </div>
                        </div>
                      </div>
                      <div class="input-field">
                        <span class="icon addressIcon"></span>
                        <textarea rows="4" class="form-control" placeholder="Address" formControlName="address"></textarea>
                        <span *ngIf="validation_errors && validation_errors.address"
                              class="form-error">{{validation_errors.address[0]}}
                        </span>
                      </div>                      
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon industryIcon"></span>
                            <select formControlName="industry_id">
                              <option value="">Select industry</option>
                              <option value="{{industry._id}}" *ngFor="let industry of industries">{{industry.name}}</option>
                            </select>
                            <span *ngIf="validation_errors && validation_errors.industry_id"
                              class="form-error">{{validation_errors.industry_id[0]}}
                           </span>
                           <!--  <input id="expindus" type="text" class="validate">
                            <label for="expindus"> Industry</label> -->
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon employeeIcon"></span>
                            <input id="desigtr" type="text" formControlName="current_designation">
                            <label for="desigtr" [ngClass]="{'active':registrationForm.get('current_designation').value}"> Current Designation</label>
                            <span *ngIf="validation_errors && validation_errors.current_designation"
                              class="form-error">{{validation_errors.current_designation[0]}}
                           </span>
                          </div>
                        </div>
                      </div>
                        <!-- <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon employeeIcon"></span>
                            <input id="exph" type="text" formControlName="highest_education">
                            <label for="exph" [ngClass]="{'active':registrationForm.get('highest_education').value}"> Highest Education Qualification</label>
                            <span *ngIf="validation_errors && validation_errors.highest_education"
                              class="form-error">{{validation_errors.highest_education[0]}}
                           </span>
                          </div>
                        </div> -->
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon experienceIcon"></span>
                              <div class="input_text">
                                <ng-container *ngFor="let educationValue of storeMultiSelect.education_name; index as i;">
                                <span class="selected-span" *ngIf="getSubData(educationValue,'education')== ''">{{educationValue.length > 10 ? educationValue.slice(0,10)+ '...': educationValue}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'education')"></i></span></span>

                                <span class="selected-span" (mouseenter)="show_sub_under[i]= true;" (mouseleave)="show_sub_under[i]= false;" *ngIf="getSubData(educationValue,'education')!= ''">{{educationValue}} <span class="sub_selection" *ngIf="!show_sub_under[i]">{{getSubData(educationValue,'education')}}</span><span class="cross_icon" *ngIf="show_sub_under[i]"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'education')"></i></span></span>
                                </ng-container>
                                  <span class="dropdown-search">  
                                    <input type="text" class="degree multiselect-text-input value" name="education" autocomplete="off" placeholder="Choose Degree" (click)="getOnchangeEvent('education')">
                                    <app-multi-sub-select *ngIf="educationDiv" 
                                                   [mainDataArray]="degreeData"
                                                   [storedValue]="storeMultiSelect.education_value"
                                                   [storedName]="storeMultiSelect.education_name" 
                                                   [storedSubValue]="storeMultiSelect.education_sub_value"  
                                                   [field_name] ="'education'"
                                                   (sendDataEvent)="getChange($event)" 
                                                   (sendSubDataEvent)="getSubChange($event)"
                                                   (checkOutsideEvent)="checkmultiselect($event)" 
                                                   (multidataSelect)="multiselectAll($event)">                                 
                                    </app-multi-sub-select>
                                  </span>
                                </div> 
                            <span *ngIf="validation_errors && validation_errors.highest_education"
                              class="form-error">{{validation_errors.highest_education[0]}}
                            </span>
                            
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon experienceIcon"></span>
                            <select formControlName="year_of_exp">
                              <option value="">Year of experience</option>
                              <option *ngFor="let ex_year of expYears" value="{{ex_year._id}}">{{ex_year.name}}</option>
                            </select>
                            <span *ngIf="validation_errors && validation_errors.year_of_exp"
                              class="form-error">{{validation_errors.year_of_exp[0]}}
                           </span>
                            <!-- <input id="exptr" type="text" formControlName="highest_education">
                            <label for="exptr"> Year of experience</label> -->
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="input-field">
                            <div class="chips-placeholder">
                                 <div class="chips">
                                    <span class="icon jobIcon"></span>
                                     <tag-input [(ngModel)]='skill_key'  [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Add skills" placeholder="+ skill" addOnBlur="addOnBlur" class="company">
                                        <tag-input-dropdown [autocompleteItems]="skill_data">
                                        </tag-input-dropdown>
                                     </tag-input>
                                 </div>
                           </div>
                            <span *ngIf="validation_errors && validation_errors.skills"
                              class="form-error">{{validation_errors.skills[0]}}
                            </span>
                          </div>
                          <div class="input-field">
                            <span class="icon"></span>
                            <!-- <textarea rows="4" class="form-control" placeholder="Few Words About Your Profile" formControlName="about_profile"></textarea> -->
                            <div formControlName="about_profile" [ngxSummernote]="aboutconfig"></div>
                          </div>     
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon jobDesIcon"></span>
                            <input type="file" name="" id="cvtr" (change)="eventUpload($event, 'cv')">
                            <label for="cvtr">
                              <span class="placeholderTxt">{{registrationForm.get('cv_path').value?registrationForm.get('cv_path').value.name:'Upload CV'}}</span>
                              <span class="browse">Browse</span>
                              <!-- <span class="uploadedfileName">img1.png</span> -->
                            </label>
                            <!-- <div class="uploadedImg" *ngIf="registrationForm.get('cv_path').value">
                              <a href="javascript:void(0)"><img src="assets/images/cancel.png" (click)="removelogo('cv')"></a>
                              <img src="{{ trainer_cv}}">
                            </div> -->
                            <span *ngIf="validation_errors && validation_errors.cv_path"
                              class="form-error">{{validation_errors.cv_path[0]}}
                           </span>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon imageIcon"></span>
                            <input type="file" name="" id="phototr" (change)="eventUpload($event, 'photo')">
                            <label for="phototr">
                              <span class="placeholderTxt">{{registrationForm.get('profile_image').value?registrationForm.get('profile_image').value.name:'Photo'}}</span>
                              <span class="browse">Browse</span>                             
                            </label>
                            <div class="uploadedImg" *ngIf="registrationForm.get('profile_image').value">
                              <a href="javascript:void(0)"><img src="assets/images/cancel.png" (click)="removelogo('photo')"></a>
                              <img src="{{ trainer_profile_image}}">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="part-sec">
                      <h5>Government identity proofs include passport, driving licence, service identity card of state or central government Upload:</h5>
                      <div class="input-field">
                        <span class="icon imageIcon"></span>
                        <input type="file" name="" id="idtr" (change)="eventUpload($event, 'id_card')">
                        <label for="idtr">
                          <span class="placeholderTxt">{{registrationForm.get('identity_proof').value?registrationForm.get('identity_proof').value.name:'Upload Id'}}</span>
                          <span class="browse">Browse</span>
                          <!-- <span class="uploadedfileName">img1.png</span> -->
                        </label>
                        <div class="uploadedImg" *ngIf="registrationForm.get('identity_proof').value">
                          <a href="javascript:void(0)"><img src="assets/images/cancel.png" (click)="removelogo('id_card')"></a>
                          <img src="{{ trainer_identity_proof}}">
                        </div>
                        <span *ngIf="validation_errors && validation_errors.identity_proof"
                            class="form-error">{{validation_errors.identity_proof[0]}}
                        </span>
                      </div>
                    </div>                  
                    <div class="part-sec">
                      <h3>Bank Details</h3>                                           
                      <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon payDtlAmtIcon"></span>
                            <input id="nameacc" type="text" formControlName="name_account_holder">
                            <label for="nameacc" [ngClass]="{'active':registrationForm.get('name_account_holder').value}">  Name of Account Holder</label>
                            <span *ngIf="validation_errors && validation_errors.name_account_holder"
                              class="form-error">{{validation_errors.name_account_holder[0]}}
                            </span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon payDtlAmtIcon"></span>
                            <input id="bankname" type="text" formControlName="bank_name">
                            <label for="bankname" [ngClass]="{'active':registrationForm.get('bank_name').value}"> Bank Name</label>
                            <span *ngIf="validation_errors && validation_errors.bank_name"
                              class="form-error">{{validation_errors.bank_name[0]}}
                            </span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon payDtlAmtIcon"></span>
                            <input id="noacc" type="text" formControlName="account_no">
                            <label for="noacc" [ngClass]="{'active':registrationForm.get('account_no').value}"> Account Number </label>
                            <span *ngIf="validation_errors && validation_errors.account_no"
                              class="form-error">{{validation_errors.account_no[0]}}
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon payDtlAmtIcon"></span>
                            <input id="swiftcode" type="text" formControlName="swift_code">
                            <label for="swiftcode" [ngClass]="{'active':registrationForm.get('swift_code').value}">  SWIFT CODE</label>
                            <span *ngIf="validation_errors && validation_errors.swift_code"
                              class="form-error">{{validation_errors.swift_code[0]}}
                            </span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon payDtlAmtIcon"></span>
                            <input id="ifscCode" type="text" formControlName="ifsc_code">
                            <label for="ifscCode" [ngClass]="{'active':registrationForm.get('ifsc_code').value}"> IFSC CODE </label>
                            <span *ngIf="validation_errors && validation_errors.ifsc_code"
                              class="form-error">{{validation_errors.ifsc_code[0]}}
                            </span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon payDtlAmtIcon"></span>
                            <input id="bankadd" type="text" formControlName="bank_portal_address">
                            <label for="bankadd" [ngClass]="{'active':registrationForm.get('bank_portal_address').value}"> Bank Postal address  </label>
                            <span *ngIf="validation_errors && validation_errors.bank_portal_address"
                              class="form-error">{{validation_errors.bank_portal_address[0]}}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>                  
                    <div class="checkboxOuter" style="margin: 0 5px;">
                      <label class="declaration_check">
                      <input type="checkbox" class="filled-in" formControlName="declaration_user">
                      <span><b>Declaration by the user</b> (I hereby declare that the information given in this application is true and correct to the best of my knowledge and belief of the company. In case any information given in this application proves to be false or incorrect, I shall be responsible for the consequences.)</span>
                      </label>
                      <span *ngIf="validation_errors && validation_errors.declaration_user" class="form-error">{{validation_errors.declaration_user[0]}}
                      </span>
                    </div>
                    <p class="pp">By clicking Agree & Join, you agree to the bsbstaffing <a href="javascript:void(0);" routerLink="legal/user-agreement" target="_blank">User Agreement</a>, <a href="javascript:void(0);" routerLink="legal/privacy-policy" target="_blank">Privacy Policy</a>, <a href="javascript:void(0);" routerLink="legal/terms-conditions" target="_blank">Terms And Conditions</a> and <a href="javascript:void(0);" routerLink="legal/cookie-policy" target="_blank">Cookie Policy</a>.</p>
                    <div class="submitOuter">
                      <button type="submit" (click)="submit($event)">Agree & Join</button>
                    </div>                   
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>