<!-- START REGISTRATION FORM -->
      <section class="registrationForm employerInnerSection ">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h2 class="pageTitle">Job Details</h2>
              <div class="postedjobOuter" *ngIf="job_details">
                <div class="postedjobInner empJobDetails postedjdDtls">
                  <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                      <!-- <div class="jobemployerLogo">
                        <img [src]="job?.employeer?.user_detail?.company_logo ? (job?.employeer?.user_detail?.company_logo): 'assets/images/no-image.jpg'" alt="no-image">
                     </div> -->
                      <h3> {{job_details.job_title}}</h3>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="topApply">
                        <a href="javascript:void(0)" class="blueBtn" (click)="applyJob(job_details._id)">Apply</a>
                      </div>
                    </div>
                  </div>
                  <div class="empjobPart">
                    <h4>Job Description</h4>
                    <div class="editorview" innerHtml="{{job_details.about_this_job}}"></div>
                    
                  </div>
                  <div class="empjobPart">
                    <ul>
                       <li *ngIf="jobType =='international'">Location  - {{job_details?.city_location}}, {{job_details?.country_location}}</li>
                      <li *ngIf="jobType !='international'">Location  - {{job_details?.city?.name}}, {{job_details?.country?.name}}</li>
                      <li>Experience  -  {{job_details.min_experiance.name}}-{{job_details.max_experiance.name}} Years</li>
                      <li>Industry  -  {{(job_details.industry_name).toString()}}</li>
                      <li>Employment Type - {{job_details.employment_type.name}}</li>
                      <li>No of Vacancy - {{job_details.number_of_vacancies}}</li>
                      <li>Salary - Min {{job_details.min_monthly_salary}} - Max {{job_details.max_monthly_salary}} Weekly</li>
                      <li>Employment For - {{job_details.employement_for.name}}</li>
                      <li>Language Preference - {{job_details.language_pref_name.toString()}}</li>
                    </ul>
                  </div>
                  <!--<div class="empjobPart">
                    <h4>Educational Details</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>-->
                  <div class="empjobPart">
                    <h4>Primary Responsibilities</h4>
                    <div class="editorview" innerHtml="{{job_details.primary_responsibility}}"></div>
                  
                  </div>
                  <div class="empjobPart">
                    <h4>Skill Required</h4>
                    <p>{{job_details.required_skill.toString()}}</p>
                  </div>
                  <div class="empjobPart">
                    <h4>Benefit</h4>
                    <div class="editorview" innerHtml="{{job_details.benefits}}"></div>
                    
                  </div>
                  <div class="empjobPart">
                    <h4>Special Note</h4>
                    <div class="editorview" innerHtml="{{job_details.special_notes}}"></div>
                    
                  </div>
                  <div class="row savejobOuter">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                      <h6 class="saveJobtile">
                        <a href="javascript:void(0)" (click)="saveJob(job_details._id)" *ngIf="job_details.is_saved ==0"><i class="fa fa-star-o" style="font-size:22px"></i> Save this Job</a>
                        <a href="javascript:void(0)" (click)="removeSaveJob(job_details._id)" *ngIf="job_details.is_saved ==1"><i class="fa fa-star" style="font-size:22px"></i> Saved </a>                     
                      </h6>
                      <a href="javascript:void(0)" class="blueBtn" (click)="applyJob(job_details._id)">Apply</a>
                       <!-- &nbsp;<fb-like url={{shareUrl}}></fb-like> &nbsp;<tweet url={{shareUrl}}></tweet> &nbsp; 
                        <linkedin-share url={{shareUrl}}></linkedin-share> -->
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                      <h6 class="postDate">Posted {{job_details.day_diff}} days ago</h6>
                    </div>
                  </div>                      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END REGISTRATION FORM -->