<section class="registrationForm employerInnerSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="registrationFormOuter">
          <h2 class="pageTitle">Manage Folder</h2>
          <div class="deleteAll">
            <a href="javascript:void(0)" (click)="removeAllFolder()">Delete</a>
          </div>
          <div class="employeeList templateList">
            <div class="employeeListOuter employeeListHead">
              <div class="employeeListInner">
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" [(ngModel)]="selectedAll" (change)="selectAll();">
                    <span></span>
                  </label>
                  Folder
                </p>
              </div>
              <div class="employeeListInner">
                <p>Folder Type</p>
              </div>
              <div class="employeeListInner">
                <p>Date Saved</p>
              </div>
              <div class="employeeListInner">
                <p>Updated On</p>
              </div>
              <div class="employeeListInner">
                <p>No. of Candidates</p>
              </div>
              <!-- <div class="employeeListInner">
                <p>Share with</p>
              </div> -->
              <div class="employeeListInner">
                <p>Action</p>
              </div>
            </div>
            <ng-container *ngFor="let folder of floder_list; index as i">
	            <div class="employeeListOuter employeeListBody">                    
	              <div class="employeeListInner">
	                <p>
	                  <label>
	                    <input type="checkbox" class="filled-in" value="{{folder._id}}" [(ngModel)]="folder.selected" (change)="checkIfAllSelected();">
	                    <span></span>
	                  </label>
	                  <a href="javascript:void(0)" [routerLink]="['/employer/folders-view', folder._id]">{{folder.folder_name}}</a>
	                </p>
	              </div>
	              <div class="employeeListInner">
	                <p> Search</p>
	              </div>
	              <div class="employeeListInner">
	                <p>{{folder.created_at}}</p>
	              </div>
	              <div class="employeeListInner">
	                <p>{{folder.updated_at}}</p>
	              </div>
	              <div class="employeeListInner">
	                <p>{{folder?.count_cv}}</p>
	              </div>
	              <!-- <div class="employeeListInner">
	                <p>N/A</p>
	              </div> -->
	              <div class="employeeListInner">
	                <!-- <p><a href="#" data-toggle="modal" data-target="#shareModal">Share</a></p> -->
	                <!-- <a href="#"><img src="assets/images/pencilIcon.png" alt="edit"></a> -->
	                <a href="javascript:void(0)" (click)="removeFolder(folder._id, i)" title="remove"><img src="assets/images/cancel.png" alt="delete"></a>
	              </div>
	            </div>
	          </ng-container>  
            <div class="employeeListOuter employeeListBody" *ngIf="floder_list && floder_list.length == 0">
              <div class="employeeListInner">
                <p style="text-align: center;">No Data Available</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>