<!-- START BANNER SECTION -->
<section class="bannerSection innerBanner" *ngIf="isloaded">
    <!-- <img src="assets/images/listingBanner.png" alt="listingBanner"> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-md-12 col-12">
                <div class="clientSection clientSectionSec">
                    <div class="row">
                        <!-- <div class="col-md-2 col-sm-2 col-12">
                    <div class="hiringHeading">
                      <h2 class="headerClass">Who's Hiring</h2>
                    </div>
                  </div> -->
                        <div class="col-md-12 col-sm-12 col-12" *ngIf='!logingUser'>
                            <div class="clientLogo">
                                <owl-carousel [options]="emplorerSlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
                                    <div class="item" *ngFor="let image of emplorerSlideImages;index as i">
                                        <a href="javascript:void(0)" [routerLink]="['/search-job-listing']" [queryParams]="{searchemployerjobs:image.id}">
                                            <div class="clientLogoContainer">
                                                <img src={{image.company_logo}}/>
                                                <span class="jobCount">{{image.employer_job_count}}</span>
                                            </div>
                                        </a>
                                        <!-- <div class="clientLogoContainer">
                              <img src={{image}}/>
                              <span class="jobCount">1</span>
                          </div> -->
                                    </div>
                                </owl-carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END BANNER SECTION -->
<!-- START BREADCRUMB SECTION -->
<!-- <section class="breadcrumbSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-md-12 col-12">
              <ul>
                <li><a href="javascript:void(0)" [routerLink]="['/']">Home</a></li>
                
                <li class="current"><span>{{job_details.job_title}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </section> -->
<!-- END BREADCRUMB SECTION -->
<!-- START JOB BY COUNTRY SECTION -->
<section class="jobByCountrySection" *ngIf="!isloading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="topBtnOuter">
                    <a href="javascript:void(0)" class="backListing" [routerLink]="['/search-job-listing']" [queryParams]="prevQueryParams" *ngIf="!isloggedIn">Back</a>
                    <a href="javascript:void(0)" class="backListing" (click)="backPreviuosUrl()" *ngIf="isloggedIn">Back</a>
                    <!-- <a href="javascript:void(0)" class="backListing" [routerLink]="['/search-job-list']" [queryParams]="prevQueryParams" *ngIf="isloggedIn && !isdashboardUrl">Back</a>
                <a href="javascript:void(0)" class="backListing" [routerLink]="['/dashboard']" *ngIf="isloggedIn && isdashboardUrl">Back</a> -->

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="topBtnOuterRight">
                    <a href="javascript:void(0)" class="prev {{(currentDataIndex -1 >=0)? '':'disable-prev'}}" (click)="getPrevData()"> Previous</a>&nbsp;
                    <a href="javascript:void(0)" class="nxt {{(currentDataIndex +2 <= jobsData.length)?'':'disable-nxt'}}" (click)="getNextData()">Next</a>
                </div>
            </div>
        </div>

        <div class="publicArea">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-12 col-12">
                    <h3>{{job_details.job_title}}</h3>
                    <h5>posted {{job_details.created_at}}</h5>
                    <!-- <p>{{(job_details && job_details.employeer)? job_details.employeer.user_detail.company_name:''}}
                 {{(job_details && job_details.employeer && job_details.employeer.user_detail.city)? job_details.employeer.user_detail.city.name:''}}, 
               {{(job_details && job_details.employeer && job_details.employeer.user_detail.country)? job_details.employeer.user_detail.country.name:''}}</p> -->
                    <!-- <a href="javascript:void(0)" (click)="applyJob(job_details._id, 'saved-job',job_type)" class="apply">Save Job</a>&nbsp;
                <a href="javascript:void(0)" (click)="applyJob(job_details._id, 'apply-job',job_type)" class="apply">Apply Now</a> -->
                    <ul class="btnListing">
                        <li *ngIf="!isApplied">
                            <a href="javascript:void(0)" (click)="applyJob(job_details._id, 'apply-job',job_type, job_details)" class="applyJob"><img src="assets/images/applyIcon.png" alt="applyIcon"> Apply Now</a>
                        </li>
                        <li *ngIf="!isSaved">
                            <a href="javascript:void(0)" (click)="applyJob(job_details._id, 'saved-job',job_type, job_details)" class="saveJob"><img src="assets/images/jobIcon1.png" alt="jobIcon1"> Save Job</a>
                        </li>
                        <li id="btnListing1">
                            <a href="javascript:void(0)" class="shareJob"><img src="assets/images/shareIcon1.png" alt="jobIcon1"> Share This</a>
                            <ul class="share" id="share1">
                                <li><a class="button tweet" href="javascript:void(0)" data-sharer="twitter" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-twitter" aria-hidden="true"></i></span><span><span class="sc_name">twitter</span></span></a></li>
                                <li><a class="button in sharebtn" href="javascript:void(0)" data-sharer="linkedin" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-linkedin" aria-hidden="true"></i></span><span><span class="sc_name">linkedin</span></span></a></li>
                                <li><a class="button wapp" href="javascript:void(0)" data-sharer="whatsapp" data-title="Search for Job Vacancies across the World at bsbstaffing.com, Global Job Portal. Search and Discover Jobs across Top Companies. Apply Now!"
                                        [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-whatsapp" aria-hidden="true"></i></span><span><span class="sc_name">whatsapp</span></span></a></li>
                                <li><a class="button tel" href="javascript:void(0)" data-sharer="telegram" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-telegram" aria-hidden="true"></i></span><span><span class="sc_name">Telegram</span></span></a></li>
                                <li><a class="button skype" href="javascript:void(0)" data-sharer="skype" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-skype" aria-hidden="true"></i></span><span><span class="sc_name">Skype</span></span></a></li>
                                <li><a class="button viber" href="javascript:void(0)" data-sharer="viber" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-phone-square" aria-hidden="true"></i></span><span><span class="sc_name">Viber</span></span></a></li>
                                <li><a class="button pinterest" href="javascript:void(0)" data-sharer="pinterest" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-pinterest" aria-hidden="true"></i></span><span><span class="sc_name">Pinterest</span></span></a></li>
                                <li><a class="button weibo" href="javascript:void(0)" data-sharer="weibo" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-weibo" aria-hidden="true"></i></span><span><span class="sc_name">Weibo</span></span></a></li>
                                <li><a class="button line" href="javascript:void(0)" data-sharer="line" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-comment" aria-hidden="true"></i></span><span><span class="sc_name">Line Me</span></span></a></li>
                                <li><a class="button reddit" href="javascript:void(0)" data-sharer="reddit" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-reddit" aria-hidden="true"></i></span><span><span class="sc_name">Reddit</span></span></a></li>
                                <li><a class="button vk" href="javascript:void(0)" data-sharer="vk" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-vk" aria-hidden="true"></i></span><span><span class="sc_name">Vk</span></span></a></li>
                                <li><a class="button renren" href="javascript:void(0)" data-sharer="renren" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-renren" aria-hidden="true"></i></span><span><span class="sc_name">Renren</span></span></a></li>
                                <li><a class="button xing" href="javascript:void(0)" data-sharer="xing" data-title="Sharer.js is the ultimate sharer js lib" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-xing" aria-hidden="true"></i></span><span><span class="sc_name">Xing</span></span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="hotelShortdes">
                        <div class="shortDesImg">
                            <img src="{{ job_details?.employer_logo}}" alt="aloftLogo">
                        </div>
                        <p><span>{{job_details?.employer_company_tagline}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="descriptionSection" *ngIf="!isloading">
    <div class="container">

        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                <div class="descriptionOuter">
                    <div class="descriptionInner">
                        <h3>About This Job</h3>
                        <div class="editorview" innerHtml="{{job_details? job_details.about_this_job:''}}"></div>
                        <!-- <p>{{job_details? job_details.about_this_job:''}}</p> -->
                    </div>
                    <div class="descriptionInner">
                        <p><strong>Employment Type :</strong> {{(job_details && job_details.employment_type) ? job_details.employment_type.name:''}}</p>
                        <p><strong>No of Vacancy :</strong> {{job_details.number_of_vacancies}}</p>
                        <p><strong>Salary :</strong> Min {{job_details.min_monthly_salary}} - Max {{job_details.max_monthly_salary}} {{job_details?.currency_name?.currency_code}}/{{job_details.salary_type}}</p>
                        <p><strong>Years of Experience :</strong> {{(job_details && job_details.min_experiance) ? job_details.min_experiance.name:''}} - {{(job_details && job_details.max_experiance) ? job_details.max_experiance.name:''}} years</p>
                        <p><strong>Employment For :</strong> {{(job_details && job_details.employement_for) ? job_details.employement_for.name:''}}</p>
                        <p><strong>Language Preference :</strong> {{job_details?.language_pref_name ?getSpaceValue(job_details?.language_pref_name?.toString()):''}}</p>
                        <p *ngIf="job_details?.required_skill"><strong>Key Skills :</strong> {{job_details?.required_skill}}</p>
                        <p *ngIf="job_type =='job-post'"><strong>Location :</strong> {{job_details?.country_name}},{{job_details?.city_name}}</p>
                        <p *ngIf="job_type =='international-job'"><strong>Job Location Country :</strong> {{getSpaceValue(job_details?.location_coutry_name)}}</p>
                        <p *ngIf="job_type =='international-job'"><strong>Job Location City :</strong> {{getSpaceValue(job_details?.location_city_name)}}</p>
                        <p *ngIf="job_type !='job-post' && job_type !='international-job'"><strong>Job Location :</strong> {{job_details?.job_country_name}},{{job_details?.job_city_name}}</p>
                        <p><strong>Candidate Type :</strong> {{job_details?.candidate_type_text}}</p>
                    </div>
                    <div class="descriptionInner" *ngIf="job_details.primary_responsibility">
                        <h3>Primary Responsibilities</h3>
                        <div class="editorview" innerHtml="{{job_details.primary_responsibility}}"></div>
                        <!-- <ul>
                    <li> {{job_details.primary_responsibility}}</li>
                  </ul> -->
                    </div>
                    <div class="descriptionInner" *ngIf="job_details?.min_qualification_name?.length > 0 && !job_details?.qualifications">
                        <h3>Qualification</h3>
                        <ul>
                            <li>{{getDegreeDetail(job_details?.min_qualification, job_details?.min_qualification_stream,'under-graduate')}}</li>
                            <li>{{getDegreeDetail(job_details?.max_qualification, job_details?.max_qualification_stream,'post-graduate')}}</li>
                        </ul>
                    </div>
                    <div class="descriptionInner" *ngIf="job_details?.qualifications && job_details?.qualifications.length > 0">
                        <h3>Qualification</h3>
                        <ul>
                            <li>{{job_details?.qualifications_name}}</li>
                        </ul>
                    </div>
                    <div class="descriptionInner" *ngIf="job_type !='job-post' && job_type !='international-job' && job_type !='job-alert' && job_type !='range-job'">
                        <h3>Interview Details</h3>
                        <p><strong>Interview Type :</strong> {{job_details?.interview_type?.name}}</p>
                        <p><strong>Interview Date :</strong> {{job_details?.interview_date}} </p>
                        <p><strong>Interview Time :</strong> {{job_details?.interview_start_time}} to {{job_details?.interview_end_time}}</p>
                        <p><strong>Interview Venue :</strong> {{job_details?.interview_vanue_name}}</p>
                        <p><strong>Address :</strong> {{job_details?.interview_venue_address}} </p>
                        <p><strong>Location :</strong> {{job_details?.interview_location_country_name}},{{job_details?.interview_location_city_name}}</p>
                    </div>
                    <div class="descriptionInner" *ngIf="job_details.benefits">
                        <h3>Benefits</h3>
                        <div class="editorview" innerHtml="{{job_details?job_details.benefits:''}}"></div>
                        <!-- <ul>
                    {{job_details?job_details.benefits:''}}
                  </ul> -->
                    </div>
                    <div class="descriptionInner">
                        <h3>Special note for employees</h3>
                        <div class="editorview" innerHtml="{{(job_details && job_details.special_notes)?job_details.special_notes:''}}"></div>
                        <!-- <p>{{(job_details && job_details.special_notes)?job_details.special_notes:''}}</p> -->
                        <div class="row">
                            <div class="col-lg-4 col-md-5 col-sm-12 col-12">
                                <!-- <p>Compensation: 14.00</p> -->
                            </div>

                        </div>
                        <ul class="btnListing">
                            <li *ngIf="!isApplied">
                                <a href="javascript:void(0)" (click)="applyJob(job_details._id, 'apply-job',job_type, job_details)" class="applyJob"><img src="assets/images/applyIcon.png" alt="applyIcon"> Apply Now</a>
                            </li>
                            <li *ngIf="!isSaved">
                                <a href="javascript:void(0)" (click)="applyJob(job_details._id, 'saved-job',job_type)" class="saveJob"><img src="assets/images/jobIcon1.png" alt="jobIcon1"> Save Job</a>
                            </li>
                            <li id="btnListing2">
                                <a href="javascript:void(0)" class="shareJob"><img src="assets/images/shareIcon1.png" alt="jobIcon1"> Share This</a>
                                <ul class="share" id="share2">
                                    <li><a class="button tweet" href="javascript:void(0)" data-sharer="twitter" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-twitter" aria-hidden="true"></i></span><span><span class="sc_name">twitter</span></span></a></li>
                                    <li><a class="button in sharebtn" href="javascript:void(0)" data-sharer="linkedin" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-linkedin" aria-hidden="true"></i></span><span><span class="sc_name">linkedin</span></span></a></li>
                                    <li><a class="button wapp" href="javascript:void(0)" data-sharer="whatsapp" data-title="Search for Job Vacancies across the World at bsbstaffing.com, Global Job Portal. Search and Discover Jobs across Top Companies. Apply Now!"
                                            [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-whatsapp" aria-hidden="true"></i></span><span><span class="sc_name">whatsapp</span></span></a></li>
                                    <li><a class="button tel" href="javascript:void(0)" data-sharer="telegram" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-telegram" aria-hidden="true"></i></span><span><span class="sc_name">Telegram</span></span></a></li>
                                    <li><a class="button skype" href="javascript:void(0)" data-sharer="skype" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-skype" aria-hidden="true"></i></span><span><span class="sc_name">Skype</span></span></a></li>
                                    <li><a class="button viber" href="javascript:void(0)" data-sharer="viber" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-phone-square" aria-hidden="true"></i></span><span><span class="sc_name">Viber</span></span></a></li>
                                    <li><a class="button pinterest" href="javascript:void(0)" data-sharer="pinterest" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-pinterest" aria-hidden="true"></i></span><span><span class="sc_name">Pinterest</span></span></a></li>
                                    <li><a class="button weibo" href="javascript:void(0)" data-sharer="weibo" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-weibo" aria-hidden="true"></i></span><span><span class="sc_name">Weibo</span></span></a></li>
                                    <li><a class="button line" href="javascript:void(0)" data-sharer="line" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-comment" aria-hidden="true"></i></span><span><span class="sc_name">Line Me</span></span></a></li>
                                    <li><a class="button reddit" href="javascript:void(0)" data-sharer="reddit" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-reddit" aria-hidden="true"></i></span><span><span class="sc_name">Reddit</span></span></a></li>
                                    <li><a class="button vk" href="javascript:void(0)" data-sharer="vk" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-vk" aria-hidden="true"></i></span><span><span class="sc_name">Vk</span></span></a></li>
                                    <li><a class="button renren" href="javascript:void(0)" data-sharer="renren" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-renren" aria-hidden="true"></i></span><span><span class="sc_name">Renren</span></span></a></li>
                                    <li><a class="button xing" href="javascript:void(0)" data-sharer="xing" data-title="Sharer.js is the ultimate sharer js lib" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-xing" aria-hidden="true"></i></span><span><span class="sc_name">Xing</span></span></a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="alertOuter">
                    <h6>Alert me to jobs like these : {{job_details.job_title}}
                        <!-- in {{(job_details && job_details.employeer && job_details.employeer.user_detail.city)? job_details.employeer.user_detail.city.name:''}} -->
                    </h6>

                    <div class="alertfieldOuter">
                        <div class="alertfieldLeft">
                            <div class="form-group input-field">
                                <!-- <label for="alertid">Email Id</label> -->
                                <input type="email" [(ngModel)]="email_for_alert" placeholder="Email Id">
                            </div>

                        </div>
                        <div class="alertfieldRight">
                            <button class="blueBtn" (click)="submitCreateAlert(job_details.job_title,job_details?.employer_city)">Create Alert</button>
                        </div>
                    </div>

                </div>
                <div class="morejobsOuter">
                    <a href="javascript:void(0)" [routerLink]="['/search-job-listing']" [queryParams]="{searchemployerjobs:job_details.employer_id}" class="morejobs">More Jobs from this Employer</a>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="descriptionInner">
                    <h3>About This Employer</h3>
                    <h5>{{job_details?.employer_company_name }}</h5>
                    <!-- <p>{{(job_details && job_details.employeer.user_detail.address)? job_details.employeer.user_detail.address:''}},
                  {{(job_details && job_details.employeer.user_detail.city)? job_details.employeer.user_detail.city.name:''}} {{(job_details && job_details.employeer.user_detail.zipcode)? job_details.employeer.user_detail.zipcode:''}}</p> -->
                    <p>{{job_details?.employer_city}}, {{job_details?.employer_country}}
                    </p>
                    <p><strong>Industry</strong> {{job_details?.employer_industry}}</p>
                    <p><strong>Company size</strong> {{job_details?.employer_compsize}}</p>
                </div>
                <div class="descriptionInner">
                    <h3>Company Overview</h3>
                    <!-- <p>{{job_details.employeer.user_detail ? job_details.employeer.user_detail.company_short_desc: ''}}</p> -->
                    <div class="editorview" innerHtml="{{job_details?.employer_comp_sortdesc}}"></div>
                </div>

                <div class="mapOuter">
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d58930.02810210874!2d88.38443822910156!3d22.611741300000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1546599340666" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe> -->
                    <agm-map [latitude]="lat" [longitude]="lng">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                </div>
                <div class="descriptionImg">
                    <div class="gallerySlider" *ngIf="galleryImages.length > 0">
                        <owl-carousel [options]="{items: 1, dots: true, nav: false, autoplay:true, loop:true, animateOut: 'fadeOut', margin:0}" [items]="galleryImages" [carouselClasses]="['owl-theme', 'sliding']">
                            <div class="item" *ngFor="let image of galleryImages;index as i">
                                <div class="">
                                    <a class="image-link" href="{{global.imageUrl}}employer/gallery_images/{{image.name}}" data-fancybox="images" title="{{global.imageUrl}}employer/gallery_assets/images/{{image.name}}">
                                        <img src="{{global.imageUrl}}employer/gallery_images/{{image.name}}" />
                                    </a>
                                </div>
                            </div>
                        </owl-carousel>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="desktopNone">
                    <div class="descriptionInner">
                        <p>Compensation: 14.00</p>
                        <ul class="btnListing" id="btnListing3">
                            <li *ngIf="!isApplied">
                                <a href="javascript:void(0)" (click)="applyJob(job_details._id, 'apply-job',job_type)" class="applyJob"><img src="assets/images/applyIcon.png" alt="applyIcon"> Apply Now</a>
                            </li>
                            <li *ngIf="!isSaved">
                                <a href="javascript:void(0)" (click)="applyJob(job_details._id, 'saved-job',job_type)" class="saveJob"><img src="assets/images/jobIcon1.png" alt="jobIcon1"> Save Job</a>
                            </li>

                            <li>
                                <a href="javascript:void(0)" class="shareJob"><img src="assets/images/shareIcon1.png" alt="jobIcon1"> Share This</a>
                                <ul class="share" id="share3">
                                    <li><a class="button tweet" href="javascript:void(0)" data-sharer="twitter" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-twitter" aria-hidden="true"></i></span><span><span class="sc_name">twitter</span></span></a></li>
                                    <li><a class="button in sharebtn" href="javascript:void(0)" data-sharer="linkedin" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-linkedin" aria-hidden="true"></i></span><span><span class="sc_name">linkedin</span></span></a></li>
                                    <li><a class="button wapp" href="javascript:void(0)" data-sharer="whatsapp" data-title="Search for Job Vacancies across the World at bsbstaffing.com, Global Job Portal. Search and Discover Jobs across Top Companies. Apply Now!"
                                            [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-whatsapp" aria-hidden="true"></i></span><span><span class="sc_name">whatsapp</span></span></a></li>
                                    <li><a class="button tel" href="javascript:void(0)" data-sharer="telegram" [attr.data-url]="shareUrl"><span class="ico"><i class="fa fa-telegram" aria-hidden="true"></i></span><span><span class="sc_name">Telegram</span></span></a></li>
                                    <li><a class="button skype" href="javascript:void(0)" data-sharer="skype" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-skype" aria-hidden="true"></i></span><span><span class="sc_name">Skype</span></span></a></li>
                                    <li><a class="button viber" href="javascript:void(0)" data-sharer="viber" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-phone-square" aria-hidden="true"></i></span><span><span class="sc_name">Viber</span></span></a></li>
                                    <li><a class="button pinterest" href="javascript:void(0)" data-sharer="pinterest" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-pinterest" aria-hidden="true"></i></span><span><span class="sc_name">Pinterest</span></span></a></li>
                                    <li><a class="button weibo" href="javascript:void(0)" data-sharer="weibo" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-weibo" aria-hidden="true"></i></span><span><span class="sc_name">Weibo</span></span></a></li>
                                    <li><a class="button line" href="javascript:void(0)" data-sharer="line" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-comment" aria-hidden="true"></i></span><span><span class="sc_name">Line Me</span></span></a></li>
                                    <li><a class="button reddit" href="javascript:void(0)" data-sharer="reddit" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-reddit" aria-hidden="true"></i></span><span><span class="sc_name">Reddit</span></span></a></li>
                                    <li><a class="button vk" href="javascript:void(0)" data-sharer="vk" data-title="Checkout Sharer.js!" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-vk" aria-hidden="true"></i></span><span><span class="sc_name">Vk</span></span></a></li>
                                    <li><a class="button renren" href="javascript:void(0)" data-sharer="renren" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-renren" aria-hidden="true"></i></span><span><span class="sc_name">Renren</span></span></a></li>
                                    <li><a class="button xing" href="javascript:void(0)" data-sharer="xing" data-title="Sharer.js is the ultimate sharer js lib" [attr.data-url]="shareUrl"><span class="ico bg-remove"><i class="fa fa-xing" aria-hidden="true"></i></span><span><span class="sc_name">Xing</span></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="alertOuter">
                        <h6>Alert me to jobs like these:{{job_details.job_title}}
                            <!-- in {{(job_details && job_details.employeer && job_details.employeer.user_detail.city)? job_details.employeer.user_detail.city.name:''}} -->
                        </h6>

                        <div class="alertfieldOuter">
                            <div class="alertfieldLeft">
                                <div class="form-group input-field">
                                    <input type="email" [(ngModel)]="email_for_alert" placeholder="Email Id">
                                </div>
                            </div>
                            <div class="alertfieldRight">
                                <button class="blueBtn" (click)="submitCreateAlert(job_details.job_title,job_details?.employer_city)">Create Alert</button>
                            </div>
                        </div>

                    </div>
                    <div class="morejobsOuter">
                        <a href="javascript:void(0)" [routerLink]="['/search-job-listing']" [queryParams]="{searchemployerjobs:job_details.employer_id}" class="morejobs">More Jobs from this Employer</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="topBtnOuter">
                    <a href="javascript:void(0)" class="backListing" [routerLink]="['/search-job-listing']" [queryParams]="prevQueryParams" *ngIf="!isloggedIn">Back</a>
                    <a href="javascript:void(0)" class="backListing" (click)="backPreviuosUrl()" *ngIf="isloggedIn">Back</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="topBtnOuterRight">
                    <a href="javascript:void(0)" class="prev {{(currentDataIndex -1 >=0)? '':'disable-prev'}}" (click)="getPrevData()"> Previous</a>&nbsp;
                    <a href="javascript:void(0)" class="nxt {{(currentDataIndex +2 <= jobsData.length)?'':'disable-nxt'}}" (click)="getNextData()">Next</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="jobByCountrySection">
    <div class="container">
        <div class="countryOuter">
            <h3>Similar Jobs</h3>
            <div class="row">
                <ng-container *ngFor="let jobs of similar_jobs; index as i">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                        <div class="countryInner">
                            <a href="javascript:void(0)" [routerLink]="['/job-details','job-post',jobs._id]">
                                <div class="countryImg">
                                </div>
                                <div class="countryInnerInfo">
                                    <img src="{{jobs?.employeer?.user_detail?.company_logo}}" alt="aloftLogo">
                                    <ul class="jobInfo">
                                        <li>
                                            <span><img src="assets/images/companyIcon.png" alt="companyIcon"></span>
                                            <p>{{jobs?.employer_company_name}}</p>
                                        </li>
                                        <li>
                                            <span><img src="assets/images/employee.png" alt="employee"></span>
                                            <p>{{jobs.job_title}}</p>
                                        </li>
                                        <li>
                                            <span><img src="assets/images/money.png" alt="money"></span>
                                            <p>Min {{jobs.min_monthly_salary}} - Max {{jobs.max_monthly_salary}} {{jobs.currency_name.currency_code}}/{{jobs.salary_type}}</p>
                                        </li>
                                        <li>
                                            <span><img src="assets/images/factory.png" alt="factory"></span>
                                            <p>{{(jobs.industry_name).toString()}}</p>
                                        </li>
                                        <li>
                                            <span><img src="assets/images/employee.png" alt="employee"></span>
                                            <p> {{jobs.employement_for?jobs.employement_for.name:''}}</p>
                                        </li>
                                        <li>
                                            <span><img src="assets/images/employee.png" alt="employee"></span>
                                            <p>{{jobs.employment_type?jobs.employment_type.name:''}}</p>
                                        </li>
                                        <li>
                                            <span><img src="assets/images/locationIcon.png" alt="locationIcon"></span>
                                            <p>{{jobs.country.name}}, {{jobs.city.name}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                            <div class="countryInnerFoot">
                                <div class="countryInnerFootLeft">
                                    <h6>Posted {{jobs.day_diff ==0? 'on Today': jobs.day_diff + ' days ago'}}</h6>
                                </div>
                                <div class="countryInnerFootRight">
                                    <a href="javascript:void(0)" class="apply" (click)="applyJob(jobs._id, 'apply-job','job-post')">Quick Apply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="row" *ngIf="similar_job_count > count_similar_job_show">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="loadmoreOuter">
                        <a href="javascript:void(0)" (click)="addMoreSimilarJobs(job_details._id)">
                            <img src="assets/images/downArrow-double.png">
                            <span>Load More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<a href="JavaScript:void(0);" id="question_modal_open" data-toggle="modal" data-target="#question_modal" style="display:none;"></a>
<div class="modal profilepageModal question_anwer_modal question_modal" tabindex="-1" role="dialog" id="question_modal" [ngClass]="job_details?.conditions?.questions.length == 1?'questionmodal_small':'questionmodal_large'" *ngIf="job_details?.condition_type ==3">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" style="text-align: center;">Please answer below question very carefully, before applying the job</h5>
            <button type="button" class="close" id="question_modal_close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="registrationFormInner">
                <form>
                    <ng-container *ngFor="let question of job_details?.conditions?.questions; index as i">
                        <div class="form-group">
                            <label class="qstn"><strong>Q. <span [innerHtml]="checkQuestionMark(question.question_name)"></span></strong></label>
                            <textarea class="form-control" [ngxSummernote]="benefitsconfig" [(ngModel)]="questionAnswers[i +'_'+question.question_name]" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                    </ng-container>
                    <div class="submithold">
                        <button type="submit" class="blueBtn" (click)="applyQuestionCondWise(job_details._id, jobPostType)">Apply Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>