agm-map {
  height: 420px !important;
  width: 100%;  /* This is really important*/
}
@media (max-width: 1199px){
	agm-map{
		height: 330px !important;
	}
}
@media (max-width: 991px){
	agm-map{
		height: 310px !important;
	}
}