<section class="registrationForm employerInnerSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="pageTitle">Job Listing</h2>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="filterSectionSec">
               <h3>'{{total_job_count > 0 ? getCountJob(total_job_count,otherJobCount) : total_job_count}}' Job's' available</h3>
               <div class="filterLeftOuter">
                  <h4><img src="assets/images/filterIcon1.png"> Filter</h4>
               </div>
               <div class="filterContent">
                  <div class="mobilefilterTobar">
                     <h4>Filter</h4>
                  </div>
                  <div class="filterAccordion" id="accordion">
                     <div class="card">
                        <div class="card-header" id="headingOne">
                           <h5>
                              <button class="" [ngClass]="{'collapsed':routeParms.cat !='country'}" data-toggle="collapse" data-target="#collapseOne" [attr.aria-expanded]="routeParms.cat =='country'?true:false" aria-controls="collapseOne">Country</button>
                           </h5>
                        </div>
                        <div id="collapseOne" class="collapse" [ngClass]="{'show': routeParms.cat =='country'}" aria-labelledby="headingOne" data-parent="#accordion">
                           <div class="card-body-auto">
                              <!-- <div class="checkboxWrap">
                                 <label>
                                 <input type="checkbox" name="" (change)="toggleAllSelect($event,'country')">
                                 <span>All</span>
                                 </label>
                              </div> -->
                              <ng-container *ngFor="let country of countries">
                              <div class="checkboxWrap">
                                 <label *ngIf="country.job_count >0">
                                 <input type="checkbox" [(ngModel)]="countryModel[country._id]" value="{{country.id}}" (ngModelChange)="setsearchValue($event, 'country')">
                                <span>{{country.name}} ({{country.job_count + getInterNationalJobCount(country.name) + getWalkingJobCount(country.name)}})</span>
                                 </label>
                              </div>
                              </ng-container>
                             
                           </div>
                        </div>
                     </div>
                     <div class="card">
                        <div class="card-header" id="headingTwo">
                           <h5>
                              <button class="" [ngClass]="{'collapsed':routeParms.cat !='city'}" data-toggle="collapse" data-target="#collapseTwo" [attr.aria-expanded]="routeParms.cat =='city'?true:false" aria-controls="collapseTwo">City</button>
                           </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" [ngClass]="{'show': routeParms.cat =='city'}">
                           <div class="card-body-auto">
                              <!-- <div class="checkboxWrap">
                                 <label>
                                 <input type="checkbox" name="" (change)="toggleAllSelect($event,'city')">
                                 <span>All</span>
                                 </label>
                              </div> -->
                              <ng-container *ngFor="let city of cities">
                              <div class="checkboxWrap">
                                 <label *ngIf="city.job_count >0">
                                 <input type="checkbox" name="" [(ngModel)]="cityModel[city._id]" value="{{city.id}}" (ngModelChange)="setsearchValue($event, 'city')">
                                 <span>{{city.name}} ({{city.job_count}})</span>
                                 </label>
                              </div>
                              </ng-container>                                                    
                           </div>
                        </div>
                     </div>
                     <div class="card">
                        <div class="card-header" id="headingThree">
                           <h5>
                              <button class="" [ngClass]="{'collapsed':routeParms.cat !='industry'}" data-toggle="collapse" data-target="#collapseThree" [attr.aria-expanded]="routeParms.cat =='industry'?true:false" aria-controls="collapseThree">Industry</button>
                           </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" [ngClass]="{'show': routeParms.cat =='industry'}">
                           <div class="card-body-auto">
                              <!-- <div class="checkboxWrap">
                                 <label>
                                 <input type="checkbox" name=""  (change)="toggleAllSelect($event,'industry')">
                                 <span>All</span>
                                 </label>
                              </div> -->
                              <ng-container *ngFor="let industry of industries">
                              <div class="checkboxWrap">
                                 <label *ngIf="industry.job_count >0">
                                 <input type="checkbox" [(ngModel)]="industryModel[industry.id]" value="{{industry.id}}" (ngModelChange)="setsearchValue($event, 'industry')">
                                 <span>{{industry.name}} ({{industry.job_count}})</span>
                                 </label>
                              </div>
                              </ng-container>
                           </div>
                        </div>
                     </div>
                     <!-- <div class="card">
                        <div class="card-header" id="headingFive">
                           <h5>
                              <button class="" [ngClass]="{'collapsed':routeParms.cat !='role'}" data-toggle="collapse" data-target="#collapseFive" [attr.aria-expanded]="routeParms.cat =='role'?true:false" aria-controls="collapseFive">Job Role</button>
                           </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion" [ngClass]="{'show': routeParms.cat =='role'}">
                           <div class="card-body">
                              <div class="checkboxWrap">
                                 <label>
                                 <input type="checkbox" name=""  (change)="toggleAllSelect($event,'role')">
                                 <span>All</span>
                                 </label>
                              </div>
                              <ng-container *ngFor="let job_role of job_roles">
                              <div class="checkboxWrap">
                                 <label>
                                 <input type="checkbox" [(ngModel)]="jobRoleModel[job_role._id]" value="{{job_role.id}}" (ngModelChange)="setsearchValue($event, 'role')">
                                 <span>{{job_role.role_name}}</span>
                                 </label>
                              </div>
                             </ng-container>
                           </div>
                        </div>
                     </div> -->
                     <div class="card">
                        <div class="card-header" id="headingFive">
                           <h5>
                              <button class="" [ngClass]="{'collapsed':routeParms.cat !='department'}" data-toggle="collapse" data-target="#collapseFive" [attr.aria-expanded]="routeParms.cat =='departments'?true:false" aria-controls="collapseFive">Department</button>
                           </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion" [ngClass]="{'show': routeParms.cat =='department'}">
                           <div class="card-body-auto">
                              <!-- <div class="checkboxWrap">
                                 <label>
                                 <input type="checkbox" name=""  (change)="toggleAllSelect($event,'role')">
                                 <span>All</span>
                                 </label>
                              </div> -->
                              <ng-container *ngFor="let department of departments">
                              <div class="checkboxWrap">
                                 <label *ngIf="department.job_count > 0">
                                 <input type="checkbox" [(ngModel)]="departmentModel[department._id]" value="{{department.id}}" (ngModelChange)="setsearchValue($event, 'department')">
                                 <span>{{department.name}} ({{department.job_count}})</span>
                                 </label>
                              </div>
                             </ng-container>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="filterDropdown">
                     <h5>Experience</h5>
                     <div class="input-field">
                        <select [(ngModel)]="searchForm.experince.min_exp" (ngModelChange)="setsearchValue($event, 'experiance')">
                           <option value="">select min experiance</option>
                           <option value="{{experiance._id}}" *ngFor="let experiance of experiance_data">{{experiance.name}}</option>
                        </select>
                     </div>
                     <h6>To</h6>
                     <div class="input-field">
                        <select [(ngModel)]="searchForm.experince.max_exp" (ngModelChange)="setsearchValue($event, 'experiance')">
                           <option value="">select max experiance</option>
                           <option value="{{experiance._id}}" *ngFor="let experiance of experiance_data">{{experiance.name}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="filterDropdown">
                     <h5>Salary</h5>
                     <div class="input-field input-fieldSec">
                        <select [(ngModel)]="searchForm.salary.currency" (ngModelChange)="setsearchValue($event, 'salary')">
                           <option value="">Select Currency</option>
                           <ng-container *ngFor="let currency of currency_data | keyvalue">
                               <option value="{{currency.value[0]._id}}">{{currency.key}} ({{currency.value[0].currency_code}})</option>
                             </ng-container>
                        </select>
                        <!-- <select [(ngModel)]="searchForm.salary.currency" (ngModelChange)="setsearchValue($event, 'salary')">
                           <option value="">Select Currency</option>
                           <option value="{{currency.value}}" *ngFor="let currency of currency_data">{{currency.name}}</option>
                        </select> -->
                     </div>
                     <div class="inputOuter input-fieldSec">
                        <div class="input-field">
                            <input type="text" name="" [(ngModel)]="searchForm.salary.min_salary" (ngModelChange)="setsearchValue($event, 'salary')" placeholder="min salay">
                           <!-- <select [(ngModel)]="searchForm.salary.min_salary" (ngModelChange)="setsearchValue($event, 'salary')">
                              <option value="">select min salary</option>
                              <option value="{{salary._id}}" *ngFor="let salary of salary_data">{{salary.name}}</option>
                           </select> -->
                        </div>
                        <h6>To</h6>
                        <div class="input-field">
                           <input type="text" name="" [(ngModel)]="searchForm.salary.max_salary" (ngModelChange)="setsearchValue($event, 'salary')" placeholder="max salay">
                           <!-- <select [(ngModel)]="searchForm.salary.max_salary" (ngModelChange)="setsearchValue($event, 'salary')">
                              <option value="">select max salary</option>
                              <option value="{{salary._id}}" *ngFor="let salary of salary_data">{{salary.name}}</option>
                           </select> -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="postedjobOuter empJobListing" *ngIf="total_job_count > 0">
               <ng-container *ngFor="let job of job_data; index as i;">
               <div class="postedjobInner postedallJobListing">
                  <a href="javascript:void(0)" [routerLink]="['/single-job-details',job._id]" target="_blank">
                     <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                           <div class="jobemployerLogo">
                              <img [src]="job?.employeer?.user_detail?.company_logo ? (job?.employeer?.user_detail?.company_logo): 'assets/images/no-image.jpg'" alt="no-image">
                           </div>
                        </div>
                        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                           <div class="row">
                              <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                                 <h5>{{job.job_title}}</h5>     
                              </div>
                              <div class="col-lg-2 col-md-3 col-sm-3 col-3">
                                 <h6 class="saveJobtile">
                                    <a href="javascript:void(0)" (click)="saveJob(job._id, i)" *ngIf="job.is_saved ==0"><i class="fa fa-star-o" style="font-size:22px"></i> </a>
                                    <a href="javascript:void(0)" (click)="removeSaveJob(job._id)" *ngIf="job.is_saved ==1"><i class="fa fa-star" style="font-size:22px"></i>  </a>
                                 </h6>
                              </div>
                           </div>                      
                           <ul>
                              <li><img src="assets/images/brifecaseIcon.png"> Experience   {{job.min_experiance.name}} - {{job.max_experiance.name}}</li>
                              <li><img src="assets/images/locationIcon.png"> Location  -  {{job.city.name}}</li>
                           </ul>
                           <div class="editorview"  innerHtml="{{job.about_this_job_summary}}">
                           </div>
                        </div>
                     </div>
                     
                  </a>
                  <div class="row savejobOuter">
                     <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                     </div>
                     <div class="col-lg-6 col-md-12 col-sm-12 col-5">
                        
                        <a href="javascript:void(0)" (click)="applyJob(job._id, i)" class="blueBtn">Apply</a>
                        <!-- &nbsp;<fb-like url={{shareUrl+job._id}}></fb-like> &nbsp;<tweet url={{shareUrl+job._id}}></tweet> &nbsp; 
                        <linkedin-share url={{shareUrl+job._id}}></linkedin-share> -->
                     </div>
                     <div class="col-lg-4 col-md-12 col-sm-12 col-7">
                        <h6 class="postDate">Posted {{job.day_diff}} days ago</h6>
                     </div>
                  </div>
                  
               </div>
               </ng-container>
            </div>
            <div class="row" *ngIf="job_data.length < total_job_count">
               <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="loadmoreOuter">
                   <a href="javascript:void(0)" (click)="loadMoreData()">
                     <img src="assets/images/downArrow-double.png">
                     <span>Load More</span>
                   </a>
                 </div>
               </div>
             </div>
            <div class="postedjobOuter" *ngIf="total_job_count == 0">
               No Job Found
            </div>
         </div>
      </div>
   </div>
</section>