<!-- START REGISTRATION FORM -->
      <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="registrationFormOuter">
                <h2 class="pageTitle">Enquire for customise services</h2>
                <div class="registrationFormInner">       
                  <form [formGroup]="customServiceForm">   
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <span class="icon nameIocn"></span>
                          <input id="refName" formControlName="name" type="text" [ngClass]="{'error':(submitted && f.name.errors) || (f.name.touched && f.name.errors)}">
                          <label for="refName">Your Name</label>
                           <span *ngIf="(customServiceForm.get('name').touched || customServiceForm.get('name').dirty)
                          && customServiceForm.get('name').errors">
                            <span *ngIf="customServiceForm.get('name').errors.required "
                                  class="form-error">Please Enter Your Name</span>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <span class="icon employeeIcon"></span>
                          <input id="refdesig" type="text" formControlName ="designation" [ngClass]="{'error':(submitted && f.designation.errors) || (f.designation.touched && f.designation.errors)}">
                          <label for="refdesig">Your Designation</label>
                          <span *ngIf="(customServiceForm.get('designation').touched || customServiceForm.get('designation').dirty)
                          && customServiceForm.get('designation').errors">
                            <span *ngIf="customServiceForm.get('designation').errors.required "
                                  class="form-error">Please Enter Your designation</span>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <span class="icon emailIcon"></span>
                          <input id="refEmail" type="text" formControlName="email" [ngClass]="{'error':(submitted && f.email.errors) || (f.email.touched && f.email.errors)}">
                          <label for="refEmail">Your Email ID</label>
                          <span *ngIf="(customServiceForm.get('email').touched || customServiceForm.get('email').dirty)
                          && customServiceForm.get('email').errors">
                            <span *ngIf="customServiceForm.get('email').errors.required "
                                  class="form-error">Please Enter Your Email</span>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <span class="icon phoneIcon"></span>
                          <input id="refPhone" type="number" formControlName="phone_no" [ngClass]="{'error':(submitted && f.phone_no.errors) || (f.phone_no.touched && f.phone_no.errors)}">
                          <label for="refPhone">Your Phone No</label>
                          <span *ngIf="(customServiceForm.get('phone_no').touched || customServiceForm.get('phone_no').dirty)
                          && customServiceForm.get('phone_no').errors">
                            <span *ngIf="customServiceForm.get('phone_no').errors.required "
                                  class="form-error">Please Enter Your Phone No</span>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <span class="icon emailIcon"></span>
                          <input id="refSkype" type="text" class="validate" formControlName="skype_id">
                          <label for="refSkype">Your Skype Id</label>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <span class="icon jobIcon"></span>
                          <select formControlName="service_type" [ngClass]="{'error':(submitted && f.service_type.errors) || (f.service_type.touched && f.service_type.errors)}"> 
                            <option value="">Services you need</option>
                            <option value="premium_job_post">Premium Post A Job</option>
                            <option value="international_walk_in_interview">Post International Walk-In Interview</option>
                            <option value="cv_download_view">CV Download / View</option>
                            <option value="mass_mail_service">Mass Mail Services</option>
                          </select>
                          <span *ngIf="(customServiceForm.get('service_type').touched || customServiceForm.get('service_type').dirty)
                          && customServiceForm.get('service_type').errors">
                            <span *ngIf="customServiceForm.get('service_type').errors.required "
                                  class="form-error">Please Select Your Services</span>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <span class="icon companyIcon"></span>
                          <input id="refCompany" type="text" class="validate" formControlName="company_name">
                          <label for="refCompany">Your Company</label>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <span class="icon websiteIcon"></span>
                          <input id="refCompanyWeb" type="text" class="validate" formControlName="company_website">
                          <label for="refCompanyWeb">Your Company Website</label>
                        </div>
                      </div>
                    </div>
                    <div class="input-field">
                      <span class="icon jobDesIcon"></span>
                      <textarea rows="4" class="form-control" placeholder="Your queries" formControlName="queries" [ngClass]="{'error':(submitted && f.queries.errors) || (f.queries.touched && f.queries.errors)}"></textarea>
                      
                    </div>
                    <div class="submitOuter">
                      <button type="submit" (click)="submitCustomService()">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END REGISTRATION FORM -->