<!-- START BANNER SECTION -->
<section class="bannerSection animation-element">
   <img src="assets/images/agencyBanner.jpg" alt="agencyBanner">
   <div class="headingOuter bannerColgInfo">
      <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <h3>BSB International Pvt. Ltd.</h3>
            <div class="collegeLogoOuter">
               <p>Website: <a href="#">https://bsbinternational.org.uk/</a></p>
            </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="waitingHighlight waitingHighlightSec">
               <input type="file" name="" id="upcv">
               <label for="upcv">Upload Candidate's CV</label>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- END BANNER SECTION -->
<!-- START BREADCRUMB SECTION -->
<section class="breadcrumbSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-md-12 col-12">
            <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">BSB International Pvt. Ltd.</a></li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- END BREADCRUMB SECTION -->
<!-- START COLLEGE DETAILS -->
<section class="analyticsDeails">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="rbOuter">
               <div class="dashboardBlock rb">
                  <h4>Reference Benefits</h4>
                  <ol>
                     <li>
                        <span><span class="highlightRef">value 200 usd. Now get free!</span> Refer our portal with 10 friend or 10 colleagues get PremiumCV services Free </span>
                        <a href="employee-referal-list.html" class="redBtn">Apply</a>
                     </li>
                  </ol>
               </div>
               <div class="dashboardBlock rb">
                  <h4>Announcement Benefits</h4>
                  <ol>
                     <li>
                        <span><span class="highlightRef">Lorem ipsum dolor sit amet</span> consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.  </span> 
                        <a href="employee-announcement-list.html" class="redBtn">Apply</a>
                     </li>
                  </ol>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="sturecordBlock">
               <div class="sturecordBlockOuter">
                  <div class="sturecordBlockInner">
                     <a href="analytics.html">
                        <h2>100</h2>
                        <p>No. of CV Uploaded</p>
                     </a>
                  </div>
                  <div class="sturecordBlockInner">
                     <a href="analytics.html">
                        <h2>100</h2>
                        <p>No. of Prime CV</p>
                     </a>
                  </div>
                  <div class="sturecordBlockInner">
                     <a href="analytics2.html">
                        <h2>200</h2>
                        <p>No. of CV Viewed By Employer</p>
                     </a>
                  </div>
                  <div class="sturecordBlockInner">
                     <a href="analytics1.html">
                        <h2>50</h2>
                        <p>No. of Candidate Applied for Job</p>
                     </a>
                  </div>
                  <div class="sturecordBlockInner">
                     <a href="analytics1.html">
                        <h2>20</h2>
                        <p>No. of Candidate Shortlisted</p>
                     </a>
                  </div>
                  <div class="sturecordBlockInner">
                     <a href="analytics1.html">
                        <h2>15</h2>
                        <p>No. of Candidate Completed Interview</p>
                     </a>
                  </div>
                  <div class="sturecordBlockInner">
                     <a href="analytics1.html">
                        <h2>10</h2>
                        <p>No. of CV Rejected By Employer</p>
                     </a>
                  </div>
                  <div class="sturecordBlockInner">
                     <a href="analytics1.html">
                        <h2>10</h2>
                        <p>No. of Candidate Placed</p>
                     </a>
                  </div>
                  <div class="sturecordBlockInner">
                     <a href="analytics1.html">
                        <h2>10</h2>
                        <p>Finance Summery</p>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>