<!-- START REGISTRATION FORM -->
  <section class="registrationForm employerInnerSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="registrationFormOuter">
            <ul class="searchList">
             <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/search-history']">Recent Search</a></li>
              <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/search-history']" [queryParams]="{search_type:'saved'}">Save Search</a></li>
             <!--  <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/search-history']">New Search</a></li> -->
            </ul>
            <h2 class="pageTitle">Candidate Advanced Search</h2>
            <div class="row">
              <div class="col-lg-6 col-md-8 col-sm-12 col-12">                    
                <div class="searchTypeOuter searchTypeOuterSec">
                  <ul>
                    <li><a href="javascript:void(0)" [routerLink]="['/employer/simple-search']"><img src="assets/images/searchIcon.png"> Simple Search</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/employer/people-search']"><img src="assets/images/people_search.png"> People Search</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <form [formGroup]="advanceSearchForm">
              <div class="registrationFormInner">
                <div class="part-sec">
                  <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <div class="chips-placeholder">
                             <div class="chips">
                                 <tag-input [(ngModel)]='anySkillKey'  [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Any of these keyword" placeholder="Any of these keyword" addOnBlur="addOnBlur">
                                    <!--<tag-input-dropdown [autocompleteItems]="skillsData">
                                    </tag-input-dropdown>-->
                                    <tag-input-dropdown [autocompleteObservable]='requestAutocompleteSkill'>
                                    </tag-input-dropdown>
                                 </tag-input>
                             </div>
                       </div>
                        <span class="icon jobIcon"></span>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <div class="chips-placeholder">
                             <div class="chips">
                                 <tag-input [(ngModel)]='mustSkillKey'  [ngModelOptions]="{standalone: true}" secondaryPlaceholder="All of these keywords" placeholder="All of these keywords" addOnBlur="addOnBlur">
                                    <!--<tag-input-dropdown [autocompleteItems]="skillsData">
                                    </tag-input-dropdown>-->
                                    <tag-input-dropdown [autocompleteObservable]='requestAutocompleteSkill'>
                                    </tag-input-dropdown>
                                 </tag-input>
                             </div>
                       </div>
                        <span class="icon jobIcon"></span>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <div class="chips-placeholder">
                             <div class="chips">
                                 <tag-input [(ngModel)]='excludeSkillKey'  [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Exclude these keyword" placeholder="Exclude these keyword" addOnBlur="addOnBlur">
                                    <!--<tag-input-dropdown [autocompleteItems]="skillsData">
                                    </tag-input-dropdown>-->
                                    <tag-input-dropdown [autocompleteObservable]='requestAutocompleteSkill'>
                                    </tag-input-dropdown>
                                 </tag-input>
                             </div>
                       </div>
                        <span class="icon jobIcon"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-12">
                      <div class="radioOuterSec">
                        <label>
                          <input name="profile_type" formControlName="profile_type" type="radio" value="full_profile" />
                          <span>Full Profile</span>
                        </label>
                        <label>
                          <input name="profile_type" formControlName="profile_type" type="radio" value="profile_title_or_key_skills" />
                          <span>Profile Title Or Key Skills</span>
                        </label>
                        <label>
                          <input name="profile_type" formControlName="profile_type" type="radio" value="key_skills" />
                          <span>Key Skills</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <div class="multiselectdropdownOuter">
                        <div class="input-field">
                        <span class="icon locationIcon"></span>  
                        <div class="input_text">    
                          <ng-container *ngFor="let country of storeMultiSelect.country_name; index as i;">
                                  <span class="selected-span">{{country.length > 10 ? country.slice(0,10)+ '...': country }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'country')"></i></span></span>
                          </ng-container> 
                          <span class="dropdown-search">                    
                          <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="country" placeholder="Select Country" (click)="getOnchangeEvent('country')">
                          <app-multi-select *ngIf="countryDiv" 
                            [mainDataArray]="countryArray"
                            [storedValue]="storeMultiSelect.country_value"
                            [storedName]="storeMultiSelect.country_name"  
                            [field_name] ="'country'"
                            (sendDataEvent)="getChange($event)" 
                            (checkOutsideEvent)="checkmultiselect($event)" 
                            (multidataSelect)="multiselectAll($event)">
                          </app-multi-select>
                          </span>
                        </div>
                      </div>
                      </div>
                    </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <div class="multiselectdropdownOuter">
                        <div class="input-field">
                        <span class="icon locationIcon"></span>
                        <div class="input_text">
                          <ng-container *ngFor="let city of storeMultiSelect.city_name; index as i;">
                                <span class="selected-span">{{city.length > 10 ? city.slice(0,10)+ '...': city}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'city')"></i></span></span>
                              </ng-container>
                        <span class="dropdown-search">
                        <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="city" placeholder="Select City" (click)="getOnchangeEvent('city')">
                          <app-multi-select *ngIf="cityDiv" 
                            [mainDataArray]="cityArray"
                            [storedValue]="storeMultiSelect.city_value"
                            [storedName]="storeMultiSelect.city_name"  
                            [field_name] ="'city'"
                            (sendDataEvent)="getChange($event)" 
                            (checkOutsideEvent)="checkmultiselect($event)" 
                            (multidataSelect)="multiselectAll($event)">
                          </app-multi-select>
                        </span>
                        </div>
                      </div>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="row">                      
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field activeIcon">
                        <span class="icon experienceIcon"></span>
                        <select formControlName="min_experiance">
                          <option value="" selected>Minimum Experience</option>
                          <option value="{{expr.value}}" *ngFor="let expr of experiance">{{expr.name}} Years</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon experienceIcon"></span>
                        <select formControlName="max_experiance">
                          <option value="" selected>Maximum Experience</option>
                          <option value="{{expr.value}}" *ngFor="let expr of experiance">{{expr.name}} Years</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="part-sec">
                  <h3>Salary</h3>
                  <div class="row"> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="radioOuterSec">
                        <label>
                          <input name="salary_type" formControlName="salary_type" type="radio" value="hourly" (change)="salaryChange($event)"/>
                          <span>Hourly</span>
                        </label>
                        <label>
                          <input name="salary_type" formControlName="salary_type" type="radio" value="weekly" (change)="salaryChange($event)"/>
                          <span>Weekly</span>
                        </label>
                        <label>
                          <input name="salary_type" formControlName="salary_type" type="radio" value="monthly" (change)="salaryChange($event)"/>
                          <span>Monthly</span>
                        </label>
                      </div>
                    </div> 
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon payDtlAmtIcon"></span>
                        <select formControlName="currency">
                          <option value="">Select Currency</option>
                          <!-- <option value="{{currency._id}}" *ngFor="let currency of currencyTypes">{{currency.currency}}</option> -->
                          <option value="{{currency.value[0]._id}}" *ngFor="let currency of all_currency | keyvalue">{{currency.key}} ({{currency.value[0].currency_code}})</option>
                        </select>
                      </div>
                    </div>                    
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon salaryIcon"></span>
                        <input type="text" formControlName="min_monthly_salary" placeholder="Minimum salary">
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon salaryIcon"></span>
                        <input type="text" formControlName="max_monthly_salary" placeholder="Maximum salary">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="part-sec">
                  <h3>Employment Details</h3>
                  <div class="part-content">
                    <div class="row">    
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="multiselectdropdownOuter">
                          <label>Current industry</label>
                          <div class="input-field">
                        <div class="multiselectdropdownOuter">
                          <div class="input-field">
                            <span class="icon industryIcon"></span>
                            <div class="input_text">
                              <ng-container *ngFor="let industry of storeMultiSelect.industries_name; index as i;">
                                <span class="selected-span">{{industry.length > 10 ? industry.slice(0,10)+ '...': industry}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'industry')"></i></span></span>
                              </ng-container>
                              <span class="dropdown-search">
                            <input type="text" class="degree multiselect-text-input" name="industries" placeholder="Select Industry" (click)="getOnchangeEvent('industries')" autocomplete="off" readonly>
                            <app-multi-select *ngIf="industriesDiv" 
                            [mainDataArray]="industries"
                            [storedValue]="storeMultiSelect.industries_value"
                            [storedName]="storeMultiSelect.industries_name"  
                            [field_name] ="'industries'"
                            (sendDataEvent)="getChange($event)" 
                            (checkOutsideEvent)="checkmultiselect($event)" 
                            (multidataSelect)="multiselectAll($event)">                                 
                            </app-multi-select>
                          </span>
                            </div>
                          </div>
                        </div>
                      </div>
                        </div>
                      </div> 
                      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="multiselectdropdownOuter">
                          <label>Current Department </label>
                          <div class="input-field">
                            <span class="icon industryIcon"></span>
                            <div class="input_text">
                              <ng-container *ngFor="let department of storeMultiSelect.department_name; index as i;">
                               <span class="selected-span">{{department.length > 10 ? department.slice(0,10)+ '...': department}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'department')"></i></span></span>
                              </ng-container>
                              <span class="dropdown-search">
                                <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="departments" placeholder="Current Department / Functional area" (click)="getOnchangeEvent('department')">
                                <app-multi-select *ngIf="departmentDiv" 
                                  [mainDataArray]="departments" 
                                  [storedValue]="storeMultiSelect.department_value"
                                  [storedName]="storeMultiSelect.department_name" 
                                  [field_name] ="'departments'"
                                  (sendDataEvent)="getChange($event)" 
                                  (checkOutsideEvent)="checkmultiselect($event)" 
                                  (multidataSelect)="multiselectAll($event)">
                                </app-multi-select>
                              </span>
                          </div>
                          </div>
                        </div>
                      </div> --> 
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <label>Age</label>
                        <div class="inputOuter">
                          <div class="row">                      
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                <span class="icon employeeIcon"></span>
                                <select formControlName="min_age">
                                  <option value="">Min Age</option>
                                  <option value="17">17 Years</option>
                                  <option value="18">18 Years</option>
                                  <option value="19">19 Years</option>
                                  <option value="20">20 Years</option>
                                  <option value="21">21 Years</option>
                                  <option value="22">22 Years</option>
                                  <option value="23">23 Years</option>
                                  <option value="24">24 Years</option>
                                  <option value="25">25 Years</option>
                                  <option value="26">26 Years</option>
                                  <option value="27">27 Years</option>
                                  <option value="28">28 Years</option>
                                  <option value="29">29 Years</option>
                                  <option value="30">30 Years</option>
                                  <option value="31">31 Years</option>
                                  <option value="32">32 Years</option>
                                  <option value="33">33 Years</option>
                                  <option value="34">34 Years</option>
                                  <option value="35">35 Years</option>
                                  <option value="36">36 Years</option>
                                  <option value="37">37 Years</option>
                                  <option value="38">38 Years</option>
                                  <option value="39">39 Years</option>
                                  <option value="40">40 Years</option>
                                  <option value="41">41 Years</option>
                                  <option value="42">42 Years</option>
                                  <option value="43">43 Years</option>
                                  <option value="44">44 Years</option>
                                  <option value="45">45 Years</option>
                                  <option value="46">46 Years</option>
                                  <option value="47">47 Years</option>
                                  <option value="48">48 Years</option>
                                  <option value="49">49 Years</option>
                                  <option value="50">50 Years</option>
                                  <option value="51">51 Years</option>
                                  <option value="52">52 Years</option>
                                  <option value="53">53 Years</option>
                                  <option value="54">54 Years</option>
                                  <option value="55">55 Years</option>
                                  <option value="56">56 Years</option>
                                  <option value="57">57 Years</option>
                                  <option value="58">58 Years</option>
                                  <option value="59">59 Years</option>
                                  <option value="60">60 Years</option>
                                  <option value="61">61 Years</option>
                                  <option value="62">62 Years</option>
                                  <option value="63">63 Years</option>
                                  <option value="64">64 Years</option>
                                  <option value="65">65+ Years</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                <span class="icon employeeIcon"></span>
                                <select formControlName="max_age">
                                  <option value="">Max Age</option>
                                  <option value="17">17 Years</option>
                                  <option value="18">18 Years</option>
                                  <option value="19">19 Years</option>
                                  <option value="20">20 Years</option>
                                  <option value="21">21 Years</option>
                                  <option value="22">22 Years</option>
                                  <option value="23">23 Years</option>
                                  <option value="24">24 Years</option>
                                  <option value="25">25 Years</option>
                                  <option value="26">26 Years</option>
                                  <option value="27">27 Years</option>
                                  <option value="28">28 Years</option>
                                  <option value="29">29 Years</option>
                                  <option value="30">30 Years</option>
                                  <option value="31">31 Years</option>
                                  <option value="32">32 Years</option>
                                  <option value="33">33 Years</option>
                                  <option value="34">34 Years</option>
                                  <option value="35">35 Years</option>
                                  <option value="36">36 Years</option>
                                  <option value="37">37 Years</option>
                                  <option value="38">38 Years</option>
                                  <option value="39">39 Years</option>
                                  <option value="40">40 Years</option>
                                  <option value="41">41 Years</option>
                                  <option value="42">42 Years</option>
                                  <option value="43">43 Years</option>
                                  <option value="44">44 Years</option>
                                  <option value="45">45 Years</option>
                                  <option value="46">46 Years</option>
                                  <option value="47">47 Years</option>
                                  <option value="48">48 Years</option>
                                  <option value="49">49 Years</option>
                                  <option value="50">50 Years</option>
                                  <option value="51">51 Years</option>
                                  <option value="52">52 Years</option>
                                  <option value="53">53 Years</option>
                                  <option value="54">54 Years</option>
                                  <option value="55">55 Years</option>
                                  <option value="56">56 Years</option>
                                  <option value="57">57 Years</option>
                                  <option value="58">58 Years</option>
                                  <option value="59">59 Years</option>
                                  <option value="60">60 Years</option>
                                  <option value="61">61 Years</option>
                                  <option value="62">62 Years</option>
                                  <option value="63">63 Years</option>
                                  <option value="64">64 Years</option>
                                  <option value="65">65+ Years</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="multiselectdropdownOuter">
                             <div class="input-field">
                                <span class="icon langIcon"></span>
                                <div class="input_text">
                                  <ng-container *ngFor="let lang of noSearchSelect.lang_name; index as i;">
                                    <span class="selected-span">{{lang.length > 10 ? lang.slice(0,10)+ '...': lang }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'language')"></i></span></span>
                                  </ng-container>
                                  <span class="dropdown-search">
                                    <input type="text" class="degree multiselect-text-input"  name="select_multiple_field" placeholder="Language Preference" (click)="getOnchangeEvent('language')" autocomplete="off" readonly>
                                    <app-multiselect-nosearch *ngIf="laguageDiv" 
                                    [mainDataArray]="languages" 
                                    [storedValue]="noSearchSelect.lang_value"
                                    (sendDataEvent)="noSearchGetchange($event)" 
                                    (checkOutsideEvent)="checknoSearchmultiSelect($event)">   
                                    </app-multiselect-nosearch>   
                                    </span>
                                </div>               
                             </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="part-sec">
                  <h3>Education Details</h3>
                  <div class="part-content">
                    <div class="row">    
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="multiselectdropdownOuter">
                          <label>Education Qualifications</label>
                          <div class="input-field">
                            <span class="icon employeeIcon"></span>
                            <div class="input_text">
                              <ng-container *ngFor="let undergraduate of storeMultiSelect.undergraduate_name; index as i;">
                                 <span class="selected-span" *ngIf="getSubData(undergraduate,'under-graduate')== ''">{{undergraduate.length > 10 ? undergraduate.slice(0,10)+ '...': undergraduate}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'undergraduate')"></i></span></span>

                                  <span class="selected-span" (mouseenter)="show_sub_under[i]= true;" (mouseleave)="show_sub_under[i]= false;" *ngIf="getSubData(undergraduate,'under-graduate')!= ''">{{undergraduate}} <span class="sub_selection" *ngIf="!show_sub_under[i]">{{getSubData(undergraduate,'under-graduate')}}</span><span class="cross_icon" *ngIf="show_sub_under[i]"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'undergraduate')"></i></span></span>
                                  
                              </ng-container>
                              <span class="dropdown-search">
                            <input type="text" class="degree multiselect-text-input" name="min_qualification"  placeholder="Choose Degree" (click)="getOnchangeEvent('undergraduate')" autocomplete="off" readonly>
                            <app-multi-sub-select *ngIf="underGraduateDiv" 
                            [mainDataArray]="under_graduates"
                            [storedValue]="storeMultiSelect.undergradute_value"
                            [storedName]="storeMultiSelect.undergraduate_name"  
                            [field_name] ="'min_qualification'"
                            (sendDataEvent)="getChange($event)"
                            (checkOutsideEvent)="checkmultiselect($event)" 
                            (multidataSelect)="multiselectAll($event)">                                 
                            </app-multi-sub-select>
                          </span>
                          </div>
                          </div>
                          <!-- <div class="radioOuter radioOuterSec">
                            <label>
                              <input name="group1" type="radio" name="education_type" formControlName="education_type" value="underGraduate_and_postGraduate">
                              <span>And</span>
                            </label>
                            <label>
                              <input name="group1" type="radio" name="education_type" formControlName="education_type" value="underGraduate_or_postGraduate">
                              <span>Or</span>
                            </label>
                          </div> -->
                          <!-- <div class="multiselectdropdownOuter">
                            	<label>PostGraduate and Doctorate</label>
                            	<div class="input-field">
                            <span class="icon employeeIcon"></span>
                            <div class="input_text">
                              <ng-container *ngFor="let postgraduate of storeMultiSelect.postgraduate_name; index as i;">
                                <span class="selected-span" *ngIf="getSubData(postgraduate,'post-graduate')== ''">{{postgraduate.length > 10 ? postgraduate.slice(0,10)+ '...': postgraduate}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'postgraduate')"></i></span></span>

                                <span class="selected-span" (mouseenter)="show_sub[i]= true;" (mouseleave)="show_sub[i]= false;" *ngIf="getSubData(postgraduate,'post-graduate')!= ''">{{postgraduate}} <span class="sub_selection" *ngIf="!show_sub[i]">{{getSubData(postgraduate,'post-graduate')}}</span><span class="cross_icon" *ngIf="show_sub[i]"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'postgraduate')"></i></span></span>
                              </ng-container>
                              <span class="dropdown-search">
                                <input type="text" class="degree multiselect-text-input" name="max_qualification" placeholder="Choose Degree" (click)="getOnchangeEvent('postgraduate')" autocomplete="off" readonly>
                                <app-multi-sub-select *ngIf="postGraduateDiv" 
                                [mainDataArray]="post_graduates"
                                [storedValue]="storeMultiSelect.postgraduate_value"
                                [storedName]="storeMultiSelect.postgraduate_name" 
                                [storedSubValue]="storeMultiSelect.postgraduate_sub_value"
                                [field_name] ="'max_qualification'"
                                (multidataSelect)="multiselectAll($event)"                                 
                                (sendDataEvent)="getChange($event)" 
                                (sendSubDataEvent)="getSubChange($event)"
                                (checkOutsideEvent)="checkmultiselect($event)">                                 
                                </app-multi-sub-select>
                              </span>
                            </div>
                          </div>
                        	</div> -->
                    	</div> 
                  	  </div>
                   </div>
                  </div>
                </div>
                <div class="part-sec">
                  <h3>Additional Parameters</h3>
                  <div class="part-content">
                    <div class="row">                      
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <span class="icon employeeIcon"></span>
                          <select formControlName="active_in">
                            <option value="">Candidates active in</option>
                            <option value="">- Any -</option>
                            <option value="{{getAddDates(3)}}">3 Days</option>
                            <option value="{{getAddDates(7)}}">7 Days</option>
                            <option value="{{getAddDates(15)}}">15 Days</option>
                            <option value="{{getAddDates(30)}}">1 Month</option>
                            <option value="{{getAddDates(60)}}">2 Months</option>
                            <option value="{{getAddDates(90)}}">3 Months</option>
                            <option value="{{getAddDates(180)}}">6 Months</option>
                            <option value="{{getAddDates(270)}}">9 Months</option>
                            <option value="{{getAddDates(360)}}">12 Months</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <span class="icon jobDesIcon"></span>
                          <select formControlName="profile_view">
                            <option value="">Show</option>
                            <option value="">All Profiles</option>
                            <option value="new_profile">New Profiles</option> 
                          </select>
                        </div>
                      </div>
                      <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <span class="icon jobDesIcon"></span>
                          <select formControlName="sort_by">
                            <option value="">Sort By</option>
                            <option value="relevance">Relevance</option>
                            <option value="freshness">Freshness</option> 
                          </select>
                        </div>
                      </div> -->
                    </div>
                    <div class="checkboxgrp">
                      <div class="checkboxOuter">
                        <label>
                          <input type="checkbox" class="filled-in">
                          <span>Also include candidates with similar skills</span>
                        </label>
                      </div>
                      <div class="checkboxOuter">
                      <label>
                        <input type="checkbox" class="filled-in" formControlName="premium">
                        <span>Premium candidates only</span>
                      </label>
                    </div>
                    <div class="checkboxOuter">
                      <label>
                        <input type="checkbox" class="filled-in" formControlName="women_only">
                        <span>Women candidates only</span>
                      </label>
                    </div>
                    </div>
                  </div>
                </div> 
                <div class="submitOuter">
                  <button type="submit" (click)="submitSearch()">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- END REGISTRATION FORM -->