    <!-- START JOB BY COUNTRY SECTION -->
      <div class="legalhold">
        <div class="legaltop">
          <div class="container">
            <div class="legaltopholder">
              <div class="legaltopcol">
                <div class="legaltopleft">
                    <h2>User Agreement</h2>
                    <p>Welcome to the User Agreement page of bsbstaffing.com. The mission of bsbstaffing.com is simple, we like to connect the world’s professionals to each other so that they can live their full potential career-wise. The services that we offer is designed to promote job opportunity for our members that can enhance their career and economic life. We do that by enabling our members to connect with each other, learn from each other, share ideas that can give rise to new opportunities and find their dream job.</p>  
                    <div id="introduction">
                      <h3>Introduction to our User Policy </h3>
                      <p>When a user clicks on “Join Now”, “Join bsbstaffing.com”, “Sign Up” or any kind of registration and accession of our services (which are described below), he or she is agreeing to enter into a legally binding contract with bsbstaffing.com, even when they are doing it on behalf of their company. Users who do not agree with this contract are advised not to click any registration button or use any of our services. If they do and later want to terminate this contract, they can do so by closing their account and then can no longer access our site or services. </p> 
                      <p>When a user uses our services, he or she agrees to all of these terms. The use of bsbstaffing.com services also means that he or she agrees to our Cookie Policy and Privacy Policy, where we tell in detail how we collect, share, use and store the personal information of our users/members.</p>
                      <p>When a user registers and joins the bsbstaffing.com services, they become a member. Those who don’t sign up or register can still access some part of our services and will be treated as “Visitors”.</p>
                      <p>bsbstaffing.com has the right to modify this contract, our cookies policies, as well as privacy, polices from time to time. When we make material changes to these policies and agreements, we will provide our user/member a notice which they will get through our services, or some other communication channel. The member/user has to review the changes before they are enforced. bsbstaffing.com agrees that once changes are done, they are not retroactive. If the user has any objection to the changes being done, he or she may close the account. Once the user continues to use our services, after we have published or notified about the changes to these terms, it is implied that the user/member agrees to the changes made.</p>
                    </div>
                    <div id="obligation">
                      <h3>Obligations to the User Agreement</h3> 
                      <p>The services of bsbstaffing.com are restricted to anyone below 17. To use bsbstaffing.com services, the user agrees that (1)) he or she is of “minimum age” as described below or older; (2) will have only one account with bsbstaffing.com and it is in his or her real name; and lastly, (3) bsbstaffing.com has not already restricted the user from using our services. If the account is created with false information, the terms are null and void which includes the account registered on behalf of any person who is under the minimum age.</p> 
                      <p>17 is the “Minimum Age”. But if the law mandates that the user must be older to receive the services of bsbstaffing.com, and cannot agree to these agreements without parental consent, then such mandated age will be regarded as “Minimum Age”.</p>
                    </div>
                    <div id="acc">
                      <h3>How we define the User Account</h3>
                      <p>A visitor who registers with bsbstaffing.com becomes a member and an account holder. As such, he or she agrees to (i) create a strong and secure password; (ii) make their password confidential and secure; (iii) never to transfer any part of his or her account and lastly, (iv) comply with bsbstaffing.com’s list of Dos and Don’ts. Anything that happens through the account, the user is responsible for it unless he or she closes the account and reports a misuse. In case the user has opened the account on behalf of his or her company, the account shall remain in name of the user only. But if the services of bsbstaffing.com have been paid for by a third-party, then the party paying for the service will have the right to decide what access can be given and get reports of how the user is using this paid service. This right is only for the paid services; the third-party will have no right over the personal account of the user.
                      </p>
                    </div>
                    <div id="paying">
                      <h3>Paying for our services</h3>
                      <p>bsbstaffing.com offers paid services, also known as premium services to users. When users buy one of such services, they agree to pay the required fees and taxes to bsbstaffing.com and also agree to any additional terms and conditions specific to those services. If the user fails to pay for these fees, the services will be terminated. The user also agrees to:</p>
                      <ul>
                        <li>Based on the geographical location of the user, they may have to pay a foreign exchange fee or exchange rates.</li>
                        <li>bsbstaffing.com may store and continue billing the users’ payment method even after the method has expired so that the services offered are not interrupted and will be used for paying for any other services the user might like to buy.</li>
                        <li>If the user purchases a subscription, the payment method will be charged automatically at the beginning of each subscription period for the fees and taxes applicable. If the user does not want to renew in the future, he or she must cancel the subscription before the renewal date.</li>
                        <li>Bsbstaffing.com has a non-refundable policy. The charges deducted are on monthly basis; and renewed once the payment date is over automatically. If the user/member wishes to cancel the services of bsbstaffing.com, they can select the “cancel” option 48 hours prior to their auto-renewal date. No refund will be done if the user not cancels within the monthly period.</li>
                        <li>The billing information provided by the user at the time of purchase will determine how much taxes he or she is required to pay to bsbstaffing.com. </li>
                      </ul> 
                      <p>A copy of the invoice can be accessed by the user by selecting the “Purchase History” option under their bsbstaffing.com account settings.</p>
                    </div>
                    <div id="sharing">
                      <h3>Sharing</h3>
                      <p>Our Services allow messaging and sharing of information in many ways, such as Users/Members can share our services in many ways like their profile, links to news articles, emailers, blogs, and job posting. Such shared information will be seen by other members, visitors, and other people even off the services. The user has the choice of limiting who can see their content and information; bsbstaffing.com will abide by that choice. As for job search activities done by users, bsbstaffing.com by default don’t notify about this information. So, when a user is searching for a job or when he or she shows interest in a job, only the job poster and the user is aware of it.</p>  
                      <p>bsbstaffing.com is not obligated to share any information or content on our Services and has the sole discretion to remove them, without notifying the members/users. </p> 
                    </div>
                    <div id="rights">
                      <h3>Rights and Limits of Users in bsbstaffing.com</h3>
                      <h4>Users’ License to bsbstaffing.com</h4>
                      <p>Between bsbstaffing.com and a user, the user owns the information and content that he or she submits or posts to the bsbstaffing.com; he or she is only granting bsbstaffing.com, as well as our affiliates the below, give non-exclusive license:</p> 
                      <p>The right to use, publish, copy, distribute, modify, process any information or content that a user provides through the services of bsbstaffing.com and the services of others worldwide, without further notice, consent or compensation. Furthermore, this content or information is transferable and sublicensable. The limitation of this right is as follows:</p> 
                      <p>The user can end this license for specific content when he or she deletes the content from our services or when the account is closed, except (i) if the content has been shared with others as part of the services and it has been re-shared, copied or stored (ii) for the time it takes to remove the backup of the content from the system, which will be done within a reasonable time. </p> 
                      <p>If the content is to be included in any advertisement for the services and products of a third party for others, separate consent will be solicited from the user, which includes sponsored content. bsbstaffing.com, however, has the right, without compensating the user or others, to provide ads near the content and information of the user as well as making the social actions of the user visible and included in any advertisement (details of which has been provided in the privacy policy).</p> 
                      <p>If the content of the user is to be published beyond the Services, consent will be asked by bsbstaffing.com from the user. But if the user chooses to share his or her post as “public”, then bsbstaffing.com will enable a feature allowing other users/members to embed that public post onto third-party services; and bsbstaffing.com will be enabling search engines to make that public content discoverable through their services. </p> 
                      <p>While we may edit and make format changes to your content (such as translating it, modifying the size, layout or file type or removing metadata), we will not modify the meaning of your expression.</p> 
                      <p>The users have the right, under the terms of a Creative Commons license to make their content and information available to others if they choose as they own it and bsbstaffing only has non-exclusive rights to it. </p> 
                      <p>The user and bsbstaffing.com agree that bsbstaffing.com may store, access, process and use any information and personal data that the user has provided in accordance with the terms stated in our Privacy Policy as well as his or her choices, including their settings. </p> 
                      <p>When a user submits feedback or suggestions regarding our services to bsbstaffing.com, he or she agrees that bsbstaffing.com can share and use (but not compulsorily) such information for any purpose without paying the user. </p> 
                      <p>The user agrees to only provide information or content that is not in violation of the law or anyone’s right which includes intellectual property rights. The user also agrees that their profile information is truthful. In certain countries, bsbstaffing.com may be required by law to remove pertinent content or information. </p> 
                      <h4>Available Services</h4>
                      <p>Any of our services can be changed or discontinued by bsbstaffing.com. There is no promise by bsbstaffing.com that we will be storing or keep showing any content or information posted by the users. bsbstaffing.com does not provide any storage service. The user agrees that there is no obligation on part of bsbstaffing.com to store, provide or maintain a copy of any information or content provided by the user or other, other than those that are required by applicable laws and noted in the Privacy Policy of bsbstaffing.com</p>
                      <h4>Other Contents, Apps, and Sites</h4>
                      <p>When the user is using the Services, he or she may encounter information and content that can be incomplete, inaccurate, misleading, illegal, offensive, delayed or otherwise harmful. bsbstaffing.com has not to review the policy for the content provided by our users/members. The user agrees that bsbstaffing.com is not responsible for the information/content posted by other members/users. Such misuse cannot always be prevented by bsbstaffing.com and user agrees that we are not the one responsible in case such misuse happens. The user also agrees to the risk he or she and their organization may face due to mistakenly being associated with such content when bsbstaffing.com let followers and connections know that the user or their company was mentioned in such news. The user can set his or her choice regarding this feature. </p>
                      <p>The user has the responsibility to decide whether he or she wants to access or use third-party sites or apps that are linked with our services. When a user allows a third-party site or app to authenticate his or her or connect with their bsbstaffing.com account, that site or app can access information on bsbstaffing.com related to him or her and their connections. These sites and third-party apps have their privacy policies and legal terms, and the user may be permitting others to use their information in ways bsbstaffing.com may not use. Except for the limited extent it may be required by pertinent law, bsbstafffing.com is not responsible for such apps and sites; the user is advised to use them at their own risk. For further information, please see our Privacy Policy.</p>
                      <h4>Limits</h4>
                      <P>bsbstaffing.com reserves the right to limit the use of our services by our users/members, which may include their connections and their ability to contact other users/members. bsbstaffing.com also reserves the right to suspend, restrict, or end the user’s account if bsbstaffing.com thinks that he or she may be in breach of this contract or law or is found to be misusing our services. </P>
                      <h4>Intellectual Property Rights</h4>
                      <p>Bsbstaffing.com reserves all of its intellectual property rights while dispensing our services. Using the services, does not give the user any ownership in the services of bsbstaffing.com or the information or the content made available through the said services. Logos and Trademarks used in connection with bsbstaffing.com services belong to their respective owners. </p>
                    </div>
                    <div id="limit">
                      <h3>Disclaimer and Limit of Liability</h3>
                      <h4> No warranty</h4>
                      <p>TO THE EXTENT ALLOWED UNDER PERTINENT LAW, BSBSTAFFING.COM AND OUR AFFILIATES (AND THOSE THAT BSBSTAFFING.COM WORKS WITH TO PROVIDE OUR SERVICES) (A) DISCLAIM ALL IMPLIED REPRESENTATIONS AND WARRANTIES, LIKE ACCURACY OF DATA, NONINFRINGEMENT, FITNESS FOR A PARTICULAR PURPOSE, AND PURPOSE; (B) THE GUARANTEE THAT OUR SERVICES MAY NOT FUNCTION ALL THE TIME, THERE CAN BE ERRORS OR INTERRUPTION, AND LASTLY (C) PROVIDE THE SERVICE, WHICH INCLUDES INFORMATION AND CONTENT, ON AN “AS AVAILABLE” AND “AS IS” BASIS. SOME LAWS DOESN’T ALLOW CERTAIN DISCLAIMERS, HENCE ALL OR SOME OF THESE DISCLAIMERS MAY NOT BE APPLICABLE TO THE USER.</p>
                      <h4>Exclusion of Liability</h4>
                      <p>TO THE EXTENT PERMITTED UNDER LAW (AND UNLESS BSBSTAFFING.COM HAS ENTERED INTO A DIFFERENT WRITTEN AGREEMENT THAT OVERRIDES THIS CONTRACT), BSBSTAFFING.COM AND ITS AFFILIATES (AND THOSE THAT BSBSTAFFING.COM WORKS WITH TO PROVIDE THE SERVICES) SHALL NOT LIABLE TO USERS OR OTHERS FOR ANY INCIDENTAL, INDIRECT, CONSEQUENTIAL, SPECIAL OR PUNITIVE DAMAGES OR LOSS OF OPPORTUNITIES, DATA, REPUTATION, REVENUES OR PROFITS, RELATED TO THE SERVICES (E.G. DEFAMATORY OR OFFENSIVE STATEMENTS, DOWNTIME OR LOSS, USE OF, OR CHANGES TO, THE INFORMATION OR CONTENT PROVIDED BY THE USER). </p>
                    </div>
                    <div id="dodont">
                      <h3>bsbstaffing.com “Do” s and “Don’t” s</h3>
                      <h4>What the user can do</h4>
                      <ul>
                        <li>The user agrees that he or she will.</li>
                        <li>Follow all pertinent laws, which also includes, without limitation, intellectual property laws, privacy laws, export control laws, anti-spam laws, and regulatory requirements. </li>
                        <li>Provide the correct information to bsbstaffing.com and keep it updated if there is any change.</li>
                        <li>Use their real name in their profile</li>
                        <li>Be professional while using our services.</li> 
                      </ul>
                      <h4>What the user can’t do</h4>
                      <p>The user agrees he or she will not:</p>
                      <ul>
                        <li>Create a false account in bsbstaffing.com, misrepresenting their identity, or create an account for someone else, or use/attempt to use someone else’s account.</li>
                        <li>Support, develop or use devices, software, robots or scripts or any other means or processes, like browser plugins, trawlers, add-ons or any other technology, to scrape the services of bsbstaffing.com or otherwise copy profiles as well as other data from our services.</li>
                        <li>Use, copy, distribute, disclose any information obtained from our services, whether directly or through third parties (such as search engines) without our consent.</li>
                        <li>Override or bypass or circumvent any of our security features or any of our control features or limit the use of our services (such as caps on profile views or keywords search).</li>
                        <li>Disclose information that the user does not have consent to disclose, which also includes confidential information of others or their employers. </li>
                        <li>Break the intellectual property rights of others, which includes patents, copyrights, trademarks, trade secrets, or any other proprietary rights. Also, they will not copy or share posts and other contents of others without their consent. They can, however, share information or content that has sharing functionality or if the content or information is posted under the Creative Commons License.</li>
                        <li>Violate the intellectual property rights of bsbstaffing.com which includes, without limitations (i) distributing or copying the technology used by us, unless it is under Open Source license; (ii) copying or distributing learning videos created by bsbstaffing.com; (iii) not using the word “bsbstaffing” or our logos in any email, business name, or URL except as presented by Brands Guideline. </li>
                        <li>Post anything that contains harmful software worms, viruses, and other such malicious items.</li>
                        <li>Decompile, reverse engineer, decipher, disassemble or otherwise try to gain the source code of our Services or any other technologies that do not fall under Open Source license.</li>
                        <li>Represent falsely that they are affiliated with or endorsed by bsbstaffing.com without our consent.</li>
                        <li>Without bsbstaffing.com consent, lease, rent, sell/re-sell, trade, loan or any other way to monetize our services or related data or access to the same.</li>
                        <li>Without bsbstaffing.com, deep link to our services. They can only do that to promote their profile.</li>
                        <li>Cannot monitor the performance, availability or functionality of our services for competitive reasons.</li>
                        <li>Create the appearance or function of the services using such methods as “mirroring”, “framing”.</li>
                        <li>Change the Services or the appearance of the services by inserting elements or obscuring an advertisement or covering or removing any part of our services. </li>
                        <li>Cannot overload the system purposefully by using such methods as the spamming, denial of service attack, gaming algorithm, viruses.</li>
                        <li>Break any of the Professional Community Policies or any other terms associated with a specific service that the user may sign up for or start using, and the Google Map terms were applicable. </li>
                      </ul>
                    </div>
                </div>
              </div>
              <div class="legaltopcol">
                <div class="legalsidebar">
                  <h3>Quick link of Contents:</h3>
                  <ul>
                    <li><a href="javascript:void(0)" (click)="scroll('introduction')">Introduction to our User Policy</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('obligation')">Obligations to the User Agreement</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('acc')">How we define the User Account</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('paying')">Paying for our services</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('sharing')">Sharing</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('rights')">Rights and Limits of Users in bsbstaffing.com</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('limit')">Disclaimer and Limit of Liability</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('dodont')">bsbstaffing.com “Do” s and “Don’t” s</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <a class="scrolltotop" href="javascript:void(0)" (click)="scroleToTop()"></a>
      </div>
