<!-- START BANNER SECTION -->
<section class="bannerSection innerBanner">
   <img src="assets/images/registrationBanner.png" alt="registrationBanner">
   <h2>Forgot Password</h2>
</section>
<!-- END BANNER SECTION -->
<!-- START BREADCRUMB SECTION -->
<section class="breadcrumbSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-md-12 col-12">
            <ul>
               <!-- <li><a href="#">Home</a></li> -->
               <li class="current"><span>Reset Password</span></li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- END BREADCRUMB SECTION -->
<!-- START REGISTRATION FORM -->
<section class="registrationForm ">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="registrationFormOuter">
               <h2 class="pageTitle">Reset Password</h2>
               <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                     <form [formGroup]="resetForm">
                        <div class="loginInner">
                           <div class="input-field">
                              <span class="icon nameIocn"></span>
                              <input id="usernamecl" type="password" class="validate" formControlName="password">
                              <label for="usernamecl">Password</label>
                           </div>  
                           <div class="input-field">
                              <span class="icon nameIocn"></span>
                              <input id="usernamecl12" type="password" class="validate" formControlName="password_confirmation">
                              <label for="usernamecl12">Confirm Password</label>
                           </div>                          
                           <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                 <div class="submitOuter">
                                    <button type="submit" class="blueBtn" (click)="submitForm($event)">Submit</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>