<section class="bannerSection innerBanner other1InnerSection">
  <img src="assets/images/agencyBanner1.png" alt="registrationBanner">
   <h2>Schedule List</h2>
</section>

<!-- START BREADCRUMB SECTION -->
<section class="breadcrumbSection breadcrumbSectionSec">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-md-12 col-12">
            <ul>
            <li><a href="javascript:void(0)" [routerLink]="['/trainer/schedule']">Home</a></li>
            <li><a href="javascript:void(0)">Schedule List</a></li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- END BREADCRUMB SECTION -->
<section class="registrationForm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 class="pageTitle">Schedule List</h2>
        <div class="receivedappOuter">
          <div class="row"> 
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="radioOuterSec">
                <label>
                  <input name="group1" value="current" type="radio" [(ngModel)]="scheduleType" (ngModelChange)="handleType($event)"/>
                  <span>Current Schedule</span>
                </label>
                <label>
                  <input name="group1" value="prev" type="radio" [(ngModel)]="scheduleType" (ngModelChange)="handleType($event)"/>
                  <span>Previous Schedule</span>
                </label>
              </div>
            </div> -->  
            
          </div>
        </div>
        <div class="postedjobOuter">
          <!-- Job posted list -->
          <div class="postedjobTable jobapplicationTable" >
            <div class="postedjobRow">
              <div class="postedjobCol postedjobHead">
                <p>SL No.</p>
              </div>
              <div class="postedjobCol postedjobHead">
                <p>Date</p>
              </div>
              <div class="postedjobCol postedjobHead">
                <p>From Time</p>
              </div>
              <div class="postedjobCol postedjobHead">
                <p>To Time</p>
              </div>
            </div>
            <div>
              <ng-container *ngFor="let schedule of selectedSchedule; index as i;">
                <div class="postedjobRow">
                  <div class="postedjobCol">
                    <p title="" class="dottedp">{{i +1}}</p>
                  </div>
                  <div class="postedjobCol">
                    <p class="dottedp" title=""><a href="javascript:void(0)" [routerLink]="['/trainer/schedule']" [queryParams]="{ sc_year: schedule.sc_year, sc_month: schedule.sc_month}">{{schedule.sc_date}}</a></p>
                  </div>
                  <div class="postedjobCol">
                    <p> {{schedule.from_time}}</p>
                  </div>
                 <div class="postedjobCol">
                    <p> {{schedule.to_time}}</p>
                  </div>
                </div>
              </ng-container>
            </div>
            <!-- <div *ngIf="count_data == 0">No results found</div> -->
          </div>

          
          <!-- <ul class="pagination">
            <li [ngClass]="{'current': i== active_page}" *ngFor="let page_no of pagination(); index as i;"><a href="javascript:void(0)"  (click)="paginationCall(i)">{{page_no}}</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>