<section class="bannerSection innerBanner other1InnerSection">
  <img src="assets/images/agencyBanner1.png" alt="registrationBanner">
   <h2>Dashboard</h2>
</section>

<!-- START BREADCRUMB SECTION -->
<section class="breadcrumbSection breadcrumbSectionSec" *ngIf="isLoaded">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-md-12 col-12">
            <ul>
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">{{allData ? allData.user_data.user_detail.name:''}}</a></li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- END BREADCRUMB SECTION -->
<!-- START DESCRIPTION SECTION -->

<section class="analyticsDeails">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">    
        <div class="sturecordBlock">
          <div class="sturecordBlockOuter">
            <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/trainer/booking-list']">
                <h2>{{allData ? allData.cv_uploaded:''}}</h2>
                <p>No. of Booking</p>
              </a>
            </div>
            <!-- <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/analytic','prime-cv']">
                <h2>{{allData ? allData.no_prime_cv:''}}</h2>
                <p>Slot List</p>
              </a>
            </div> -->
            <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/analytic','finance-summary']">
                <h2>{{allData ? allData.finance_summary:''}}</h2>
                <p>Finance Summary</p>
              </a>
            </div>
            <div class="set-schedule sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/trainer/schedule']">
                <i class="fa fa-calendar-times-o" aria-hidden="true"></i> Set Schedule
              </a>
            </div>
          </div>

        </div>   
      </div>
    </div>
  </div>
</section>
   