.set-schedule{ position: relative;}
.set-schedule a{
    display: inline-block;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px; 
    line-height: 25px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.set-schedule a i{ margin-right: 5px;}
