<!-- START REGISTRATION FORM -->
      <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="registrationFormOuter">
                <h2 class="pageTitle">{{page_title}}</h2>
                <div class="cvDownloadOuter">
                  <div class="row">
                  	<ng-container *ngFor="let package of packages">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="cvDownloadInner">
                        <h4>{{package.service_name}}</h4>
                        <p>valid for {{package.service_life}} month</p>
                        <h2>Cost {{package.fees}} USD</h2>
                        <a href="javascript:void(0)" [routerLink]="['/employer/payment']" [queryParams]="{service:package._id}" class="redBtn">Buy Now</a>
                      </div>
                    </div>
                  </ng-container>
                  </div>
                </div>
              </div>
              <!-- <ul class="pagination">
                <li class="current">1</li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
              </ul> -->
              <div class="customisePackage">
                <h4>Want to Customise Your Services? <a href="javascript:void(0)" routerLink="/employer/customise-services">Click Here</a></h4>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END REGISTRATION FORM -->