<!-- Mobile Menu Start -->
<div class="menu-wrap" [ngClass]="mobile_menu ? 'menuadd' : ''">
    <div class="navMenuOuter" *ngIf="isloggedIn">
        <!-- <a href="#" class="mobileLogo"><img src="images/logo.png" alt="logo-White"></a> -->
        <!-- <ul class="mobileMenu" *ngIf="showEmployer">
          <li><a href="employer-dashboard.html" class="active"><img src="assets/images/dashboard.svg" alt="dashboard"> Dashboard</a></li>
          <li class="hasDropdown"><a href="javascript:void(0)"><img src="assets/images/cv.svg" alt="cv"> CV Access</a>
            <ul>
              <li><a href="employer-cv-access.html">Simple Search</a></li>
              <li><a href="employer-cv-access-advance.html">Advance Search</a></li>
              <li><a href="employer-cv-access-people.html">Peolple Search</a></li>
            </ul>
          </li>
          <li class="hasDropdown"><a href="javascript:void(0)"><img src="assets/images/jobPost.svg" alt="jobpost"> <span>Free</span> Job Post</a>
            <ul>
              <li><a href="employer-jobPost.html">Free Post a Job</a></li>
              <li><a href="employer-postedjob.html">Free Posted Job</a></li>
              <li><a href="employer-jobPost-premium.html">Premium Post a Job</a></li>
              <li><a href="employer-postedjob-premium.html">Premium Posted Job</a></li>
              <li><a href="employer-post-conduct-hiring.html">Free Walk-in Interview Local</a></li>
              <li><a href="employer-posted-conduct-hiring.html">Free Posted Walk-in Interview Local</a></li>
              <li><a href="employer-post-conduct-international.html">Walk-in Interview International</a></li>
              <li><a href="employer-posted-conduct-hiring-international.html">Posted Walk-in Interview International</a></li>
            </ul>
          </li>
          <li class="hasDropdown"><a href="javascript:void(0)"><img src="assets/images/email.svg"> Mass Email Service</a>
            <ul>
              <li><a href="employer-create-email.html">Create Email Template</a></li>
              <li><a href="employer-manage-email.html">Manage Email Template</a></li>
              <li><a href="employer-mailbox.html">MailBox</a></li>
            </ul>
          </li>
          <li><a href="employer-application-received.html">
            <img src="assets/images/resume-document.svg" alt="download">
            Application Received</a></li>
          <li><a href="cv-download.html"><img src="assets/images/download.svg" alt="download"> CV Download / View</a></li>
          <li class="hasDropdown"><a href="javascript:void(0)"><img src="assets/images/folder.svg" alt="folder"> Folders</a>
            <ul>
              <li><a href="#" data-toggle="modal" data-target="#folderModal">Create Folder</a></li>
              <li><a href="employer-manage-folder.html">Manege Folders</a></li>
              <li><a href="cvsearch-listing.html">Reported Candidate</a></li>
              <li><a href="cvsearch-listing.html">Candidate You Like</a></li>
            </ul>
          </li>
          <li><a href="employer-career.html"><img src="assets/images/succes.svg" alt="success"> Career Page</a></li>
          <li class="hasDropdown"><a href="javascript:void(0)"><img src="assets/images/admin.svg" alt="admin"> Admin</a>
            <ul>
              <li><a href="#">Account Report</a></li>
              <li><a href="#">Account Settings</a></li>
              <li><a href="#">Activity Tracking</a></li>
              <li><a href="employer-recent-postedjob.html">Recent Jobs</a></li>
            </ul>
          </li>
        </ul> -->

        <ul class="mobileMenu" *ngIf="showEmployer">


            <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="employer/dashboard" [routerLinkActive]="['active']"><img src="assets/images/dashboard.svg" alt="dashboard"> Dashboard</a></li>

            <li class="hasDropdown">
              <a href="javascript:void(0)" [ngClass]="{'active':checkActiveUrl('employeer-cv-access')}"><img src="assets/images/cv.svg" alt="cv"> CV Access</a>
              <ul>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/simple-search">Simple Search</a></li>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/advance-search">Advance Search</a></li>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/people-search">People Search</a></li>
              </ul>
            </li>
            <li class="hasDropdown">
              <a href="javascript:void(0)" [ngClass]="{'active':checkActiveUrl('employeer-job_post')}"><img src="assets/images/jobPost.svg" alt="jobpost"> <span>Free</span> Job Post</a>
              <ul>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/job-posted">Post a Free Job</a></li>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/job-posted-list">Free Posted Job</a></li>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/job-posted-premium">Post a Premium Job <b class="now-free">Now Free</b></a></li>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/job-posted-premium-list">Premium Posted Job</a></li>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/free-international-job/create">Post a Free International Job</a></li>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/free-international/list">Free International Posted Job</a></li>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/premium-international-job/create">Post a Premium International Job <b class="now-free">Now Free</b></a></li>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/premium-international-job/list">Premium International Posted Job</a></li>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/walk-in-interview-local">Free Walk-in Interview Local</a></li>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/walk-in-interview-local-list">Free Posted Walk-in Interview Local</a></li>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/walk-in-interview-international">Walk-in Interview International <b class="now-free">Now Free</b></a></li>
                <li (click)="menuClose()" class="menu-close"><a routerLink="employer/walk-in-interview-international-list">Posted Walk-in Interview International</a></li>
              </ul>
            </li>
            <li class="hasDropdown">
              <a href="javascript:void(0)" [ngClass]="{'active':checkActiveUrl('employeer-email-service')}"><img src="assets/images/email.svg"> Email Service</a>
              <ul>
                <li (click)="menuClose()" class="menu-close"><a routerLink="/employer/email-template/create" href="javascript:void(0)">Create Email Template</a></li>
                <li (click)="menuClose()" class="menu-close"><a routerLink="/employer/email-template" href="javascript:void(0)">Manage Email Template</a></li>
                <li (click)="menuClose()" class="menu-close"><a [routerLink]="['/employer/mail','inbox']" href="javascript:void(0)">My Mailbox</a></li>
              </ul>
            </li>
            <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="employer/application-recieved" [routerLinkActive]="['active']"><img src="assets/images/resume-document.svg" alt="download"> Application Received</a></li>
            <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" [routerLink]="['employer/service']" [queryParams]="{type:'cv_download_view'}" [routerLinkActive]="['active']"><img src="assets/images/resume-document.svg" alt="download"> CV Download / View</a></li>
            <li class="hasDropdown">
              <a href="javascript:void(0)" [ngClass]="{'active':checkActiveUrl('employeer-folder-manage')}"><img src="assets/images/folder.svg" alt="folder"> Folders</a>
              <ul>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" data-toggle="modal" data-target="#folderModal">Create Folder</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="employer/folders-list">Manege Folders</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="employer/resumes">Reported Candidate</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="employer/folders-view/likescand">Candidate You Like</a></li>
              </ul>
            </li>
            <li><a href="javascript:void(0)" routerLink="employer/career" class="menu-close"><img src="assets/images/succes.svg" alt="success"> Career Page</a></li>
            <li class="hasDropdown">
              <a href="javascript:void(0)"><img src="assets/images/admin.svg" alt="admin"> Admin</a>
              <ul>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="employer/payment">Payment History</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="employer/recent-posted-job">Recent Jobs</a></li>
              </ul>
            </li>

          </ul>

        <!-- Employee section -->
        <ul class="mobileMenu" *ngIf="showEmplyee">
            <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="dashboard" [routerLinkActive]="['active']"><img src="assets/images/dashboard.svg" alt="dashboard">Dashboard</a></li>
            <li class="hasDropdown">
              <a href="javascript:void(0)" [ngClass]="{'active':checkActiveUrl('search-job')}"><img src="assets/images/cv.svg" alt="cv">Search by Category</a>
              <ul>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="find-jobs">Find Jobs</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" [routerLink]="['search-job','country']">Search by Country</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" [routerLink]="['search-job','city']">Search by City</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" [routerLink]="['search-job','department']">Search by Job Department / Title</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" [routerLink]="['search-job','industry']">Search by Industry</a></li>
              </ul>
            </li>
            <li class="hasDropdown">
              <a href="javascript:void(0)" [ngClass]="{'active':checkActiveUrl('job-for-you')}"><img src="assets/images/jobPost.svg" alt="jobpost">Jobs For You</a>
              <ul>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="job-alerts">Job Alerts</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="recommend-alert">Recommend Job Alerts</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="applied-jobs">Applied Job</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="saved-jobs">Saved Job</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="applied-international-jobs">Applied International Job</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="saved-international-jobs">Saved International Job</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="apply-hiring">Local Walk-in Interview</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="apply-hiring-international">International Walk-in Interview</a></li>
              </ul>
            </li>
            <li class="menu-close"><a href="javascript:void(0)" routerLink="application-status" [routerLinkActive]="['active']"><img src="assets/images/jobPost.svg" alt="jobpost">Application Status</a></li>
            <li class="hasDropdown">
              <a href="javascript:void(0)" [ngClass]="{'active':checkActiveUrl('we-offer-training')}"><img src="assets/images/jobPost.svg" alt="jobpost">We Offer Training</a>
              <ul>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="training-getting-job">Training for getting a job</a></li>
                <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="working-visa-training">Working Visa Training</a></li>
              </ul>
            </li>
            <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="mail/inbox" [ngClass]="{'active':checkActiveUrl('mail')}"><img src="assets/images/email.svg">My Mailbox</a></li>
            <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="profile" [routerLinkActive]="['active']"><img src="assets/images/admin.svg" alt="admin">My Profile</a></li>
            <li (click)="menuClose()" class="menu-close"><a href="javascript:void(0)" routerLink="payment" [routerLinkActive]="['active']"><img src="assets/images/jobPost.svg" alt="jobpost">Payment</a></li>
        </ul>
    </div> 

  </div>
   <!--Mobile Menu End  -->
<section class="jobTabSection" *ngIf="(!isloggedIn && !showEmployer) && !islegal">
  <div class="layer2"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="jobTabOuter">
          <ul class="nav nav-tabs" id="jobTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="jobTabNav1" data-toggle="tab" href="#jobTab1" role="tab" aria-controls="home" aria-selected="true">Jobs By Title</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="jobTabNav2" data-toggle="tab" href="#jobTab2" role="tab" aria-controls="profile" aria-selected="false">Jobs By City</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="jobTabNav3" data-toggle="tab" href="#jobTab3" role="tab" aria-controls="contact" aria-selected="false">Jobs By Industry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="jobTabNav4" data-toggle="tab" href="#jobTab4" role="tab" aria-controls="contact" aria-selected="false">Popular Jobs Searches</a>
            </li>
          </ul>
          <div class="tab-content" id="jobTabContent">
            <div class="tab-pane fade show active" id="jobTab1" role="tabpanel" aria-labelledby="home-tab">
              <ul *ngIf="jobs_by_title">
                <li *ngFor="let job_by_title of jobs_by_title"><a href="javascript:void(0)" (click)="openSeekerRegistration=true;showRegistration=true;"> {{job_by_title.job_title}} ({{job_by_title.total_count}}) </a></li>
              </ul>
              <h5 class="searchMore" *ngIf="jobs_by_title && jobs_by_title.length==40"><a href="javascript:void(0)" (click)="openSeekerRegistration=true;showRegistration=true;">See More</a></h5>
            </div>
            <div class="tab-pane fade" id="jobTab2" role="tabpanel" aria-labelledby="profile-tab">
              <ul *ngIf="jobs_by_city">
                <li *ngFor="let job_by_city of jobs_by_city"><a href="javascript:void(0)" (click)="openSeekerRegistration=true;showRegistration=true;"> {{job_by_city.name}} ({{job_by_city.total_count}}) </a></li>
              </ul>
              <h5 class="searchMore" *ngIf="jobs_by_city && jobs_by_city.length==40"><a href="javascript:void(0)" (click)="openSeekerRegistration=true;showRegistration=true;">See More</a></h5>
            </div>
            <div class="tab-pane fade" id="jobTab3" role="tabpanel" aria-labelledby="contact-tab">
              <ul *ngIf="jobs_by_industry">
                <li *ngFor="let job_by_industry of jobs_by_industry"><a href="javascript:void(0)" (click)="openSeekerRegistration=true;showRegistration=true;"> {{job_by_industry.name}} ({{job_by_industry.total_count}}) </a></li>
              </ul>
              <h5 class="searchMore" *ngIf="jobs_by_industry && jobs_by_industry.length==40"><a href="javascript:void(0)" (click)="openSeekerRegistration=true;showRegistration=true;">See More</a></h5>
            </div>
            <div class="tab-pane fade" id="jobTab4" role="tabpanel" aria-labelledby="contact-tab">
              <ul *ngIf="popular_job_search">
                <li *ngFor="let popular_search of popular_job_search"><a href="javascript:void(0)" (click)="openSeekerRegistration=true;showRegistration=true;"> {{popular_search.search_key}} ({{popular_search.total_count}}) </a></li>
              </ul>
              <!-- <h5 class="searchMore" *ngIf="popular_job_search && popular_job_search.length==40"><a href="javascript:void(0)">More</a></h5> -->
            </div>
          </div>
        </div>
        <div id="accordion" class="jobAccordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Jobs By Title
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <ul *ngIf="jobs_by_title">
                <li *ngFor="let job_by_title of jobs_by_title"><a href="javascript:void(0)" (click)="openSeekerRegistration=true;showRegistration=true;"> {{job_by_title.job_title}} ({{job_by_title.total_count}}) </a></li>
              </ul>
              <h5 class="searchMore" *ngIf="jobs_by_title && jobs_by_title.length==40"><a href="javascript:void(0)" (click)="openSeekerRegistration=true;showRegistration=true;">See More</a></h5>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Jobs By City
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <ul *ngIf="jobs_by_city">
                <li *ngFor="let job_by_city of jobs_by_city"><a href="javascript:void(0)" (click)="openSeekerRegistration=true;showRegistration=true;"> {{job_by_city.name}} ({{job_by_city.total_count}}) </a></li>
              </ul>
              <h5 class="searchMore" *ngIf="jobs_by_city && jobs_by_city.length==40"><a href="javascript:void(0)" (click)="openSeekerRegistration=true;showRegistration=true;">See More</a></h5>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Jobs By Industry
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <ul *ngIf="jobs_by_industry">
                <li *ngFor="let job_by_industry of jobs_by_industry"><a href="javascript:void(0)" (click)="openSeekerRegistration=true;showRegistration=true;"> {{job_by_industry.name}} ({{job_by_industry.total_count}}) </a></li>
              </ul>
              <h5 class="searchMore" *ngIf="jobs_by_industry && jobs_by_industry.length==40"><a href="javascript:void(0)" (click)="openSeekerRegistration=true;showRegistration=true;">See More</a></h5>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Popular Jobs Searches
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <ul *ngIf="popular_job_search">
                <li *ngFor="let popular_search of popular_job_search"><a href="javascript:void(0)" (click)="openSeekerRegistration=true;showRegistration=true;"> {{popular_search.search_key}} ({{popular_search.total_count}}) </a></li>
              </ul>
              <!--  <h5 class="searchMore" *ngIf="popular_job_search && popular_job_search.length==40"><a href="javascript:void(0)">More</a></h5> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="jobTabSection" *ngIf="isEmloyeeHome">
  <div class="layer2"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="jobTabOuter">
          <ul class="nav nav-tabs" id="jobTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="jobTabNav1" data-toggle="tab" href="#jobTab1" role="tab" aria-controls="home" aria-selected="true">Jobs By Title</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="jobTabNav2" data-toggle="tab" href="#jobTab2" role="tab" aria-controls="profile" aria-selected="false">Jobs By City</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="jobTabNav3" data-toggle="tab" href="#jobTab3" role="tab" aria-controls="contact" aria-selected="false">Jobs By Industry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="jobTabNav4" data-toggle="tab" href="#jobTab4" role="tab" aria-controls="contact" aria-selected="false">Popular Jobs Searches</a>
            </li>
          </ul>
          <div class="tab-content" id="jobTabContent">
            <div class="tab-pane fade show active" id="jobTab1" role="tabpanel" aria-labelledby="home-tab">
              <ul *ngIf="jobs_by_title">
                <li *ngFor="let job_by_title of jobs_by_title"><a href="javascript:void(0)" [routerLink]="['search-job-list']" [queryParams]="{ search_title: job_by_title.job_title }"> {{job_by_title.job_title}} ({{job_by_title.total_count}}) </a></li>
              </ul>
              <h5 class="searchMore" *ngIf="jobs_by_title && jobs_by_title.length==40"><a href="javascript:void(0)" [routerLink]="['search-job-list']">See More</a></h5>
            </div>
            <div class="tab-pane fade" id="jobTab2" role="tabpanel" aria-labelledby="profile-tab">
              <ul *ngIf="jobs_by_city">
                <li *ngFor="let job_by_city of jobs_by_city"><a href="javascript:void(0)" [routerLink]="['search-job-list']" [queryParams]="{ search_location: job_by_city.name }"> {{job_by_city.name}} ({{job_by_city.total_count}}) </a></li>
              </ul>
              <h5 class="searchMore" *ngIf="jobs_by_city && jobs_by_city.length==40"><a href="javascript:void(0)" [routerLink]="['search-job-list']">See More</a></h5>
            </div>
            <div class="tab-pane fade" id="jobTab3" role="tabpanel" aria-labelledby="contact-tab">
              <ul *ngIf="jobs_by_industry">
                <li *ngFor="let job_by_industry of jobs_by_industry"><a href="javascript:void(0)" [routerLink]="['search-job-list']" [queryParams]="{ search_industry: job_by_industry.name }"> {{job_by_industry.name}} ({{job_by_industry.total_count}}) </a></li>
              </ul>
              <h5 class="searchMore" *ngIf="jobs_by_industry && jobs_by_industry.length==40"><a href="javascript:void(0)" [routerLink]="['jobs-by','industry']">See More</a></h5>
            </div>
            <div class="tab-pane fade" id="jobTab4" role="tabpanel" aria-labelledby="contact-tab">
              <ul *ngIf="popular_job_search">
                <li *ngFor="let popular_search of popular_job_search"><a href="javascript:void(0)" [routerLink]="['search-job-list']" [queryParams]="{ search_title: popular_search.search_key }"> {{popular_search.search_key}} ({{popular_search.total_count}}) </a></li>
              </ul>
              <!-- <h5 class="searchMore" *ngIf="popular_job_search && popular_job_search.length==40"><a href="javascript:void(0)">More</a></h5> -->
            </div>
          </div>
        </div>
        <div id="accordion" class="jobAccordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Jobs By Title
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <ul *ngIf="jobs_by_title">
                <li *ngFor="let job_by_title of jobs_by_title"><a href="javascript:void(0)" [routerLink]="['search-job-list']" [queryParams]="{ search_title: job_by_title.job_title }"> {{job_by_title.job_title}} ({{job_by_title.total_count}}) </a></li>
              </ul>
              <h5 class="searchMore" *ngIf="jobs_by_title && jobs_by_title.length==40"><a href="javascript:void(0)" [routerLink]="['search-job-list']">See More</a></h5>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Jobs By City
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <ul *ngIf="jobs_by_city">
                <li *ngFor="let job_by_city of jobs_by_city"><a href="javascript:void(0)" [routerLink]="['search-job-list']" [queryParams]="{ search_location: job_by_city.name }"> {{job_by_city.name}} ({{job_by_city.total_count}}) </a></li>
              </ul>
              <h5 class="searchMore" *ngIf="jobs_by_city && jobs_by_city.length==40"><a href="javascript:void(0)" [routerLink]="['jobs-by','city']">See More</a></h5>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Jobs By Industry
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <ul *ngIf="jobs_by_industry">
                <li *ngFor="let job_by_industry of jobs_by_industry"><a href="javascript:void(0)" [routerLink]="['search-job-list']" [queryParams]="{ search_industry: job_by_industry.name }"> {{job_by_industry.name}} ({{job_by_industry.total_count}}) </a></li>
              </ul>
              <h5 class="searchMore" *ngIf="jobs_by_industry && jobs_by_industry.length==40"><a href="javascript:void(0)" [routerLink]="['jobs-by','industry']">See More</a></h5>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Popular Jobs Searches
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <ul *ngIf="popular_job_search">
                <li *ngFor="let popular_search of popular_job_search"><a href="javascript:void(0)" [routerLink]="['search-job-list']" [queryParams]="{ search_title: popular_search.search_key }"> {{popular_search.search_key}} ({{popular_search.total_count}}) </a></li>
              </ul>
              <!--  <h5 class="searchMore" *ngIf="popular_job_search && popular_job_search.length==40"><a href="javascript:void(0)">More</a></h5> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- START FOOTER -->
<footer *ngIf="!showheader" >
  <div class="footerUpper" *ngIf="!isloggedIn">
    <div class="container">
      <div class="row">              
        <div class="col-md-12 col-sm-12 col-12" >
          <div class="regfooterLink">
            <ul>
              <li><a href="javascript:void(0)" (click)="otherUserModalType='agency';otherUserSignInOpen=true;" class="colregBtn blueBtn cmn_lgin_btn"> Internal Login</a></li>
              <li><a href="javascript:void(0)" (click)="otherUserModalType='franchise';otherUserSignInOpen=true;" class="colregBtn blueBtn cmn_lgin_btn"> Franchise Registration</a></li>                    
              <li><a href="javascript:void(0)" (click)="otherUserModalType='college';otherUserSignInOpen=true" class="colregBtn blueBtn cmn_lgin_btn"> College/ University/ Institution Registration</a></li>
              <li><a href="javascript:void(0)" (click)="otherUserModalType='trainer';otherUserSignInOpen=true;" class="colregBtn blueBtn cmn_lgin_btn"> Trainer Registration</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="disclaimer inner-ftr-mdl">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Please note when you use <a href="https://www.bsbstaffing.com" class="bsblink1">bsbstaffing.com</a> if you face any technical problem or any business quires, please email us on <a href="mailto:support@bsbstaffing.com" class="bsbmail1">support@bsbstaffing.com</a>
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 col-xs-12">
          <div class="ftrlink"><a href="javascript:void(0);" routerLink="legal/user-agreement" target="_blank">User Agreement</a>  <a href="javascript:void(0);" routerLink="legal/privacy-policy" target="_blank">Privacy Policy</a> <a href="javascript:void(0);" routerLink="legal/terms-conditions" target="_blank">Terms And Conditions</a>  <a href="javascript:void(0);" routerLink="legal/cookie-policy" target="_blank">Cookie Policy</a></div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <div class="copyrightPara">
            <p>&copy; {{currentYear}}. All rights reserved. Developed by <a href="javascript:void()" target="_blank">bsbstaffing.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- START FOOTER -->

  <div class="cmnmodal" *ngIf="otherUserSignUpOpen && otherUserModalType=='agency'">
      <app-agent-signup (closeEvent)="receivedOtherSignUpClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)"></app-agent-signup>
   </div>
   <div class="cmnmodal" *ngIf="otherUserSignUpOpen && otherUserModalType=='college'">
      <app-college-signup (closeEvent)="receivedOtherSignUpClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)"></app-college-signup>
   </div>
   <div class="cmnmodal" *ngIf="otherUserSignUpOpen && otherUserModalType=='franchise'">
      <app-franchise-signup (closeEvent)="receivedOtherSignUpClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)"></app-franchise-signup>
   </div>
   <div class="cmnmodal" *ngIf="otherUserSignUpOpen && otherUserModalType=='trainer'">
      <app-trainer-signup (closeEvent)="receivedOtherSignUpClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)"></app-trainer-signup>
   </div>
   <div class="cmnmodal" *ngIf="otherUserSignInOpen">
      <app-other-user-signin (closeEvent)="receivedOtherSignInClose($event)" (openRegisterEvent)="receivedOtherSignUpOPen($event)" (openForgotEvent)="receviedOpenForgotPassword($event)"  [userType]="otherUserModalType"></app-other-user-signin>
   </div>
   <div class="cmnmodal" *ngIf="otherUserForgot">
      <app-other-home-forgot-password (closeEvent)="recievedForgotClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)" [userType]="otherUserModalType"></app-other-home-forgot-password>
   </div>



    <div class="cmnmodal" *ngIf="openSeekerRegistration">
      <div class="modalholder" [ngClass]="!showRegistration ?'jobseekerstep1 login':'bsbstaff-mdl'">
         <div class="modalheader">
            <a class="cross" href="javascript:void(0)" (click)="handleCloseModal()"><i class="fa fa-times" aria-hidden="true"></i></a>
         </div>
         <ng-container *ngIf="showLogin">
            <app-login (loginEvent)="checkIsRegister($event)" (footerRegisterEvent)="footerEventCall($event)" [callfromFooter]="'2'"></app-login>
         </ng-container>
         <ng-container *ngIf="showForgot">
            <app-forget-password (forgotEvent)="checkIsRegister($event)" [callfromFooter]="'2'"></app-forget-password>
         </ng-container>
         <ng-container *ngIf="showRegistration">
            <app-registration (footerRegisterEvent)="footerEventCall($event)" (registerEvent)="checkIsRegister($event)"  [callfromFooter]="'2'"></app-registration>
         </ng-container>
      </div>
   </div>
