.disclaimer{
	padding: 15px 0;
	background: #f5f5f5;
	text-align: center;

}
.disclaimer p {
	margin: 0;
}
.disclaimer a {
	display: inline-block;
}

.now-free {
	font-weight: bold;
	color: #00008B;
}


