<!-- START REGISTRATION FORM -->
<section class="registrationForm employerInnerSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="registrationFormOuter">
          <h2 class="pageTitle">Post International Walk-In Interview</h2>
          <div class="prevDropdown">
            <h6>Previously Posted International Walk-in Interview</h6>
            <div class="input-field">
              <span class="icon jobIcon"></span>
              <select (change)="walkinOnChange($event.target.value)">
                <option selected="selected" disabled="disabled">Previously Posted International Walk-in Interview</option>
                <option [value]="1">Create New International Walk-in Interview</option>
                <option [value]="posted_walkin._id" *ngFor="let posted_walkin of all_posted_walkin; index as i;">{{posted_walkin.job_title}}</option> 
              </select>
            </div>
          </div>
          <form [formGroup]="walkInInterviewForm">
            <div class="registrationFormInner registrationInnerRounded">
              <div class="part-sec">
                <div class="input-field" [ngClass]="{'form-error':(walkInInterviewForm.get('job_title').touched || walkInInterviewForm.get('job_title').dirty) && walkInInterviewForm.get('job_title').errors}">
                  <span class="icon jobIcon"></span>
                  <input id="jobTitle" type="text" class="validate" autocomplete="off" formControlName="job_title" (keyup)="searchAutoComplete($event.target.value)">
                  <label for="jobTitle" [ngClass]="{'active':walkInInterviewForm.get('job_title').value}">Job Title</label>
                  <div class="state-container-dropdown" *ngIf="show_jb_title_srh">
                    <ng-container *ngFor="let data of job_titles">
                      <div class="state" (click)="autoCompleteSearch(data)">
                        <span>{{data.job_title}}</span>
                      </div>
                    </ng-container>
                  </div>
                  <span *ngIf="(isSubmit && walkInInterviewForm.get('job_title').errors) || ((walkInInterviewForm.get('job_title').touched || walkInInterviewForm.get('job_title').dirty)
                    && walkInInterviewForm.get('job_title').errors)">
                  <span *ngIf="walkInInterviewForm.get('job_title').errors.required "
                    class="form-error">Please enter job title</span>
                  <span *ngIf=" walkInInterviewForm.get('job_title').errors.maxlength" 
                          class="form-error">Job title can't be morethan 50 characters</span>
                  </span>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <select formControlName="country_id">
                        <option value="" selected>Job Location - country</option>
                        <option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
                      </select>
                      <span *ngIf="(isSubmit && walkInInterviewForm.get('country_id').errors) || ((walkInInterviewForm.get('country_id').touched || walkInInterviewForm.get('country_id').dirty)
                        && walkInInterviewForm.get('country_id').errors)">
                      <span *ngIf="walkInInterviewForm.get('country_id').errors.required "
                        class="form-error">Please select country</span>
                      </span> 
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <select formControlName="city_id">
                        <option value="" selected>Job Location - city</option>
                        <option value="{{city._id}}" *ngFor="let city of coutryWiseCity">{{city.name}}</option>
                      </select>
                      <span *ngIf="(isSubmit && walkInInterviewForm.get('city_id').errors) || ((walkInInterviewForm.get('city_id').touched || walkInInterviewForm.get('city_id').dirty)
                        && walkInInterviewForm.get('city_id').errors)">
                      <span *ngIf="walkInInterviewForm.get('city_id').errors.required "
                        class="form-error">Please select city</span>
                      </span> 
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon employeeIcon"></span>
                      <select formControlName="employement_for">
                        <option value="" selected>Employment for</option>
                        <!-- <option>International Candidate</option>
                          <option>Domestic/International Candidate</option>
                          <option>Domestic Candidate</option> -->
                        <option value="{{empFor._id}}" *ngFor="let empFor of emplymentFor">{{empFor.name}}</option>
                      </select>
                      <span *ngIf="(isSubmit && walkInInterviewForm.get('employement_for').errors) || ((walkInInterviewForm.get('employement_for').touched || walkInInterviewForm.get('employement_for').dirty)
                        && walkInInterviewForm.get('employement_for').errors)">
                      <span *ngIf="walkInInterviewForm.get('employement_for').errors.required "
                        class="form-error">Please select Employment for</span>
                      </span> 
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <div class="multiselectdropdownOuter">
                        <div class="input-field">
                          <span class="icon industryIcon"></span>
                              <div class="input_text">
                                <ng-container *ngFor="let industry of storeMultiSelect.industries_name; index as i;">
                                 <span class="selected-span">{{industry.length > 10 ? industry.slice(0,10)+ '...': industry}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'industry')"></i></span></span>
                                </ng-container>
                                <span class="dropdown-search">  
                                <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="industries" placeholder="Select Industry" (click)="getOnchangeEvent('industries')" maxlength="15">
                                <app-multi-select *ngIf="industriesDiv" 
                                                [mainDataArray]="industries"
                                                [storedValue]="storeMultiSelect.industries_value"
                                                [storedName]="storeMultiSelect.industries_name"  
                                                [field_name] ="'industries'"
                                                (sendDataEvent)="getChange($event)" 
                                                [maxLength]="2"
                                                (checkOutsideEvent)="checkmultiselect($event)" 
                                                (multidataSelect)="multiselectAll($event)">                                 
                                </app-multi-select>
                              </span>
                          </div>
                          <span *ngIf="(isSubmit && walkInInterviewForm.get('industry_id').errors) || ((walkInInterviewForm.get('industry_id').touched || walkInInterviewForm.get('industry_id').dirty)
                            && walkInInterviewForm.get('industry_id').errors)">
                          <span *ngIf="walkInInterviewForm.get('industry_id').errors.required "
                            class="form-error">Please select industry</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <div class="multiselectdropdownOuter">
                        <div class="input-field">
                          <span class="icon industryIcon"></span>
                          <div class="input_text">
                            <ng-container *ngFor="let department of storeMultiSelect.department_name; index as i;">
                            <span class="selected-span">{{department.length > 10 ? department.slice(0,10)+ '...': department}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'department')"></i></span></span>
                            </ng-container>
                            <span class="dropdown-search">
                              <input type="text" readonly="true" style="width: 300px !important;" class="degree multiselect-text-input"  autocomplete="off" name="departments" placeholder="Current Department / Functional area" (click)="getOnchangeEvent('department')" readonly="true">
                              <app-multi-select *ngIf="departmentDiv" 
                              [mainDataArray]="departments" 
                              [storedValue]="storeMultiSelect.department_value"
                              [storedName]="storeMultiSelect.department_name" 
                              [field_name] ="'departments'"
                              (sendDataEvent)="getChange($event)" 
                              (checkOutsideEvent)="checkmultiselect($event)" 
                              (multidataSelect)="multiselectAll($event)">                                 
                              </app-multi-select>
                            </span>
                          </div>
                          <span *ngIf="(isSubmit && walkInInterviewForm.get('department_id').errors) || ((walkInInterviewForm.get('department_id').touched || walkInInterviewForm.get('department_id').dirty)
                            && walkInInterviewForm.get('department_id').errors)">
                          <span *ngIf="walkInInterviewForm.get('department_id').errors.required "
                            class="form-error">Please select department</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div> -->

                </div>
                <div class="input-field">
                  <span class="icon jobDesIcon"></span>
                  <!-- <textarea formControlName="about_this_job" rows="4" class="form-control" placeholder="About This Job"></textarea> -->
                  <div formControlName="about_this_job" [ngxSummernote]="aboutconfig"></div>
                  <span *ngIf="(isSubmit && walkInInterviewForm.get('about_this_job').errors) || ((walkInInterviewForm.get('about_this_job').touched || walkInInterviewForm.get('about_this_job').dirty)
                    && walkInInterviewForm.get('about_this_job').errors)">
                  <span *ngIf="walkInInterviewForm.get('about_this_job').errors.required "
                    class="form-error">Please select about this job</span>
                  </span> 
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon employeeIcon"></span>
                      <input id="desig" type="text" class="validate" formControlName="position_offered">
                      <label for="desig" [ngClass]="{'active':walkInInterviewForm.get('position_offered').value}">Position Offered</label>
                      <span *ngIf="(isSubmit && walkInInterviewForm.get('position_offered').errors) || ((walkInInterviewForm.get('position_offered').touched || walkInInterviewForm.get('position_offered').dirty)
                        && walkInInterviewForm.get('position_offered').errors)">
                      <span *ngIf="walkInInterviewForm.get('position_offered').errors.required "
                        class="form-error">Please enter position offered</span>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon vacancyIcon"></span>
                      <input id="nvacancy" type="text" class="validate" formControlName="number_of_vacancies">
                      <label for="nvacancy" [ngClass]="{'active':walkInInterviewForm.get('number_of_vacancies').value}">No. of Vacancy</label>
                      <span *ngIf="(isSubmit && walkInInterviewForm.get('number_of_vacancies').errors) || ((walkInInterviewForm.get('number_of_vacancies').touched || walkInInterviewForm.get('number_of_vacancies').dirty)
                        && walkInInterviewForm.get('number_of_vacancies').errors)">
                      <span *ngIf="walkInInterviewForm.get('number_of_vacancies').errors.required "
                        class="form-error">Please enter no. of vacancy</span>
                      </span>
                    </div>
                    <!-- <div class="input-field">
                      <span class="icon vacancyIcon"></span>
                      <select formControlName="number_of_vacancies">
                         <option value="" selected>No. of Vacancy</option>
                         <option value="{{vacancies.id}}" *ngFor="let vacancies of noOfVacancies">{{vacancies.name}}</option>
                      </select>
                      <span *ngIf="(isSubmit && walkInInterviewForm.get('number_of_vacancies').errors) || ((walkInInterviewForm.get('number_of_vacancies').touched || walkInInterviewForm.get('number_of_vacancies').dirty)
                         && walkInInterviewForm.get('number_of_vacancies').errors)">
                      <span *ngIf="walkInInterviewForm.get('number_of_vacancies').errors.required "
                         class="form-error">Please select number of vacancies</span>
                      </span>
                      </div> -->
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon employeeIcon"></span>
                      <select formControlName="employment_type">
                        <option value="" selected>Employment Type</option>
                        <option value="{{type._id}}" *ngFor="let type of empType">{{type.name}}</option>
                      </select>
                      <span *ngIf="(isSubmit && walkInInterviewForm.get('employment_type').errors) || ((walkInInterviewForm.get('employment_type').touched || walkInInterviewForm.get('employment_type').dirty)
                        && walkInInterviewForm.get('employment_type').errors)">
                      <span *ngIf="walkInInterviewForm.get('employment_type').errors.required "
                        class="form-error">Please select employment type</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon experienceIcon"></span>
                      <select formControlName="min_experiance">
                        <option value="" selected>Minimum Experience</option>
                        <option value="{{expr._id}}" *ngFor="let expr of experiance">{{expr.name}} Years</option>
                      </select>
                      <span *ngIf="(isSubmit && walkInInterviewForm.get('min_experiance').errors) || ((walkInInterviewForm.get('min_experiance').touched || walkInInterviewForm.get('min_experiance').dirty)
                        && walkInInterviewForm.get('min_experiance').errors)">
                      <span *ngIf="walkInInterviewForm.get('min_experiance').errors.required "
                        class="form-error">Please select min experiance</span>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon experienceIcon"></span>
                      <select formControlName="max_experiance">
                        <option value="" selected>Maximum Experience</option>
                        <option value="{{expr._id}}" *ngFor="let expr of experiance">{{expr.name}} Years</option>
                      </select>
                      <span *ngIf="(isSubmit && walkInInterviewForm.get('max_experiance').errors) || ((walkInInterviewForm.get('max_experiance').touched || walkInInterviewForm.get('max_experiance').dirty)
                        && walkInInterviewForm.get('max_experiance').errors)">
                      <span *ngIf="walkInInterviewForm.get('max_experiance').errors.required"
                        class="form-error">Please select max experiance</span>
                      <span *ngIf="walkInInterviewForm.get('max_experiance').errors.error_min_max_exp"
                                    class="form-error">Max experiance canot be less than min experiance</span>
                      </span>
                    </div>
                  </div>
                </div>
                 <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="multiselectdropdownOuter">
                      <div class="input-field">
                        <span class="icon langIcon"></span>
                        <div class="input_text">
                          <ng-container *ngFor="let lang of noSearchSelect.lang_name; index as i;">
                            <span class="selected-span">{{lang.length > 10 ? lang.slice(0,10)+ '...': lang }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'language')"></i></span></span>
                          </ng-container>  
                          <span class="dropdown-search">                         
                            <input type="text" class="degree multiselect-text-input" name="select_multiple_field" placeholder="Language Preference" (click)="getOnchangeEvent('language')" autocomplete="off" readonly="true">
                            <app-multiselect-nosearch *ngIf="laguageDiv" 
                            [hasSearch]="1"
                            [mainDataArray]="languages"   
                            [storedValue]="noSearchSelect.lang_value"                               
                            (sendDataEvent)="noSearchGetchange($event)" 
                            (checkOutsideEvent)="checknoSearchmultiSelect($event)">   
                            </app-multiselect-nosearch>  
                          </span>
                        </div>  
                        <span *ngIf="(isSubmit && walkInInterviewForm.get('language_pref').errors) || ((walkInInterviewForm.get('language_pref').touched || walkInInterviewForm.get('language_pref').dirty)
                        && walkInInterviewForm.get('language_pref').errors)">
                      <span *ngIf="walkInInterviewForm.get('language_pref').errors.required "
                        class="form-error">Please select language preference</span>
                      </span>               
                      </div>
                    </div>
                  </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="field-container">
                                 <div class="input-field">
                                    <span class="icon employeeIcon"></span>
                                    <select formControlName="candidate_type">
                                       <option value="" selected>Select Candidate Type</option>
                                       <option value="1">Male & Female both</option>
                                       <option value="2">Only for Male</option>
                                       <option value="3">Only for Female</option>
                                    </select>
                                 </div>
                                  <span *ngIf="(isSubmit && walkInInterviewForm.get('candidate_type').errors) || ((walkInInterviewForm.get('candidate_type').touched || walkInInterviewForm.get('candidate_type').dirty)
                                    && walkInInterviewForm.get('candidate_type').errors)">
                                 <span *ngIf="walkInInterviewForm.get('candidate_type').errors.required"
                                    class="form-error">Please select candidate type</span>
                                 </span>
                              </div>
                           </div>
                 </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="field-container">
                      <div class="input-field">
                        <!-- <span class="icon benefitIcon"></span>
                          <textarea rows="4" class="form-control" placeholder="Benefit" formControlName="benefits"></textarea> -->
                        <div formControlName="benefits" [ngxSummernote]="benefitsconfig"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="part-sec">
                  <h3>Education Details</h3>
                  <div class="part-content">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="multiselectdropdownOuter">
                          <label>Education Qualifications</label>
                          <div class="input-field">
                            <span class="icon employeeIcon"></span>
                            <div class="input_text">
                              <ng-container *ngFor="let undergraduate of storeMultiSelect.undergraduate_name; index as i;">
                               <span class="selected-span" *ngIf="getSubData(undergraduate,'under-graduate')== ''">{{undergraduate.length > 10 ? undergraduate.slice(0,10)+ '...': undergraduate}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'undergraduate')"></i></span></span>

                               <span class="selected-span" (mouseenter)="show_sub_under[i]= true;" (mouseleave)="show_sub_under[i]= false;" *ngIf="getSubData(undergraduate,'under-graduate')!= ''">{{undergraduate}} <span class="sub_selection" *ngIf="!show_sub_under[i]">{{getSubData(undergraduate,'under-graduate')}}</span><span class="cross_icon" *ngIf="show_sub_under[i]"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'undergraduate')"></i></span></span>

                              </ng-container>
                              <span class="dropdown-search">
                              <input type="text" class="degree multiselect-text-input" name="min_qualification" autocomplete="off" placeholder="Choose Degree" (click)="getOnchangeEvent('undergraduate')" readonly="true">
                              <app-multi-sub-select *ngIf="underGraduateDiv" 
                              [mainDataArray]="under_graduates"
                              [storedValue]="storeMultiSelect.undergradute_value"
                              [storedName]="storeMultiSelect.undergraduate_name"  
                              [field_name] ="'min_qualification'"
                              (sendDataEvent)="getChange($event)" 
                              (checkOutsideEvent)="checkmultiselect($event)" 
                              (sendSubDataEvent)="getSubChange($event)"
                              (multidataSelect)="multiselectAll($event)">                                 
                              </app-multi-sub-select>
                             </span>
                            </div>
                             <span *ngIf="(isSubmit && walkInInterviewForm.get('min_qualification').errors) || ((walkInInterviewForm.get('min_qualification').touched || walkInInterviewForm.get('min_qualification').dirty)
                                       && walkInInterviewForm.get('min_qualification').errors)">
                                    <span *ngIf="walkInInterviewForm.get('min_qualification').errors.required "
                                       class="form-error">Please select qualification</span>
                                    </span>
                          </div>
                        </div>
                        <!-- <div class="radioOuter radioOuterSec">
                          <label>
                          <input name="edu_and_or" type="radio" formControlName="edu_and_or"  value="1">
                          <span>And</span>
                          </label>
                          <label>
                          <input name="edu_and_or" type="radio" formControlName="edu_and_or" value="2">
                          <span>Or</span>
                          </label>
                        </div> -->
                        <!-- <div class="multiselectdropdownOuter">
                          <label>Post Graduate and Doctorate</label>
                          <div class="input-field">
                            <span class="icon employeeIcon"></span>
                            <div class="input_text">
                              <ng-container *ngFor="let postgraduate of storeMultiSelect.postgraduate_name; index as i;">
                                 <span class="selected-span" *ngIf="getSubData(postgraduate,'post-graduate')== ''">{{postgraduate.length > 10 ? postgraduate.slice(0,10)+ '...': postgraduate}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'postgraduate')"></i></span></span>

                                <span class="selected-span" (mouseenter)="show_sub[i]= true;" (mouseleave)="show_sub[i]= false;" *ngIf="getSubData(postgraduate,'post-graduate')!= ''">{{postgraduate}} <span class="sub_selection" *ngIf="!show_sub[i]">{{getSubData(postgraduate,'post-graduate')}}</span><span class="cross_icon" *ngIf="show_sub[i]"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'postgraduate')"></i></span></span>
                              </ng-container>
                              <span class="dropdown-search"> 
                                <input type="text" class="degree multiselect-text-input" name="max_qualification" placeholder="Choose Degree" (click)="getOnchangeEvent('postgraduate')" autocomplete="off" readonly="true">
                                <app-multi-sub-select *ngIf="postGraduateDiv" 
                                [mainDataArray]="post_graduates"
                                [storedValue]="storeMultiSelect.postgraduate_value"
                                [storedName]="storeMultiSelect.postgraduate_name" 
                                [storedSubValue]="storeMultiSelect.postgraduate_sub_value"
                                [field_name] ="'max_qualification'"
                                (multidataSelect)="multiselectAll($event)"                                 
                                (sendDataEvent)="getChange($event)" 
                                (sendSubDataEvent)="getSubChange($event)"
                                (checkOutsideEvent)="checkmultiselect($event)">                                 
                                </app-multi-sub-select>
                              </span>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="part-sec">
                  <div class="field-container">
                    <div class="input-field">
                      <!-- <span class="icon jobIcon"></span>
                        <textarea rows="4" class="form-control" placeholder="Primary Responsibility" formControlName="primary_responsibility"></textarea> -->
                      <div formControlName="primary_responsibility" [ngxSummernote]="responsconfig"></div>
                    </div>
                  </div>
                </div>
                <div class="part-sec">
                  <h3>Salary</h3>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="radioOuterSec">
                        <label>
                        <input name="salary_type" formControlName="salary_type" type="radio" value="hourly"/>
                        <span>Hourly</span>
                        </label>
                        <label>
                        <input name="salary_type" formControlName="salary_type" type="radio" value="weekly"/>
                        <span>Weekly</span>
                        </label>
                        <label>
                        <input name="salary_type" formControlName="salary_type" type="radio" value="monthly"/>
                        <span>Monthly</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon payDtlAmtIcon"></span>
                        <select formControlName="currency">
                          <option value="" selected>Select Currency</option>
                          <!-- <option value="{{currency_val._id}}" *ngFor="let currency_val of all_currency">{{currency_val.currency}}</option> -->
                          <option value="{{currency.value[0]._id}}" *ngFor="let currency of all_currency | keyvalue">{{currency.key}} ({{currency.value[0].currency_code}})</option>
                        </select>
                        <span *ngIf="(isSubmit && walkInInterviewForm.get('currency').errors) || ((walkInInterviewForm.get('currency').touched || walkInInterviewForm.get('currency').dirty)
                          && walkInInterviewForm.get('currency').errors)">
                        <span *ngIf="walkInInterviewForm.get('currency').errors.required "
                          class="form-error">Please select currency</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field" [ngClass]="{'error':(isSubmit && walkInInterviewForm.get('min_monthly_salary').errors) || (walkInInterviewForm.get('min_monthly_salary').touched && walkInInterviewForm.get('min_monthly_salary').errors)}">
                        <span class="icon salaryIcon"></span>
                        <input id="min_monthly_salary" type="number" class="validate" formControlName="min_monthly_salary" min="1">
                        <label for="min_monthly_salary" [ngClass]="{'active':walkInInterviewForm.get('min_monthly_salary').value}">Min Salary</label>
                        <span *ngIf="(isSubmit && walkInInterviewForm.get('min_monthly_salary').errors) || ((walkInInterviewForm.get('min_monthly_salary').touched || walkInInterviewForm.get('min_monthly_salary').dirty)
                          && walkInInterviewForm.get('min_monthly_salary').errors)">
                        <span *ngIf="walkInInterviewForm.get('min_monthly_salary').errors.required "
                          class="form-error">Please enter min salary</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field" [ngClass]="{'error':(isSubmit && walkInInterviewForm.get('max_monthly_salary').errors) || (walkInInterviewForm.get('max_monthly_salary').touched && walkInInterviewForm.get('max_monthly_salary').errors)}">
                        <span class="icon salaryIcon"></span>
                        <input id="max_monthly_salary" type="number" class="validate" formControlName="max_monthly_salary" min="1">
                        <label for="max_monthly_salary" [ngClass]="{'active':walkInInterviewForm.get('max_monthly_salary').value}">Max Salary</label>
                        <span *ngIf="(isSubmit && walkInInterviewForm.get('max_monthly_salary').errors) || ((walkInInterviewForm.get('max_monthly_salary').touched || walkInInterviewForm.get('max_monthly_salary').dirty)
                          && walkInInterviewForm.get('max_monthly_salary').errors)">
                        <span *ngIf="walkInInterviewForm.get('max_monthly_salary').errors.required "
                          class="form-error">Please enter max salary</span>
                        <span *ngIf="walkInInterviewForm.get('max_monthly_salary').errors && walkInInterviewForm.get('max_monthly_salary').errors.error_min_max" class="form-error">Max salary cannot be less than Min salary</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="part-sec">
                  <h3>Interview Details</h3>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon jobIcon"></span>
                        <input formControlName="interview_name" id="intName" type="text" class="validate" >
                        <label for="intName" [ngClass]="{'active':walkInInterviewForm.get('interview_name').value}">Interview Name</label>
                        <span *ngIf="(isSubmit && walkInInterviewForm.get('interview_name').errors) || ((walkInInterviewForm.get('interview_name').touched || walkInInterviewForm.get('interview_name').dirty)
                          && walkInInterviewForm.get('interview_name').errors)">
                        <span *ngIf="walkInInterviewForm.get('interview_name').errors.required "
                          class="form-error">Please select interview name</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon jobIcon"></span>
                        <select formControlName="interview_type_id">
                          <option value="" selected>Interview Type</option>
                          <option value="{{interview_type._id}}" *ngFor="let interview_type of interview_types">{{interview_type.name}}</option>
                        </select>
                        <span *ngIf="(isSubmit && walkInInterviewForm.get('interview_type_id').errors) || ((walkInInterviewForm.get('interview_type_id').touched || walkInInterviewForm.get('interview_type_id').dirty)
                          && walkInInterviewForm.get('interview_type_id').errors)">
                        <span *ngIf="walkInInterviewForm.get('interview_type_id').errors.required "
                          class="form-error">Please select interview type</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon payDtlDateIcon"></span>
                        <input id="chooseDate1" type="text" format="Y-m-d" mode="multiple" dateInput formControlName="interview_date">
                        <label for="chooseDate1" [ngClass]="{'active':walkInInterviewForm.get('interview_date').value}" >Select Date</label>
                        <span *ngIf="(isSubmit && walkInInterviewForm.get('interview_date').errors) || ((walkInInterviewForm.get('interview_date').touched || walkInInterviewForm.get('interview_date').dirty)
                          && walkInInterviewForm.get('interview_date').errors)">
                        <span *ngIf="walkInInterviewForm.get('interview_date').errors.required "
                          class="form-error">Please select interview date</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon timeIcon"></span>
                        <input id="intrvwsrtTime" type="text" class="" mode="single"  enabletimepicker="true" nocalendar="true" format='H:i' dateInput formControlName="interview_start_time">
                        <label for="intrvwsrtTime" [ngClass]="{'active':walkInInterviewForm.get('interview_start_time').value}">Start Time</label>
                        <span *ngIf="(isSubmit && walkInInterviewForm.get('interview_start_time').errors) || ((walkInInterviewForm.get('interview_start_time').touched || walkInInterviewForm.get('interview_start_time').dirty)
                          && walkInInterviewForm.get('interview_start_time').errors)">
                        <span *ngIf="walkInInterviewForm.get('interview_start_time').errors.required "
                          class="form-error">Please select interview start time</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon timeIcon"></span>
                        <input id="intrvwendTime" type="text" class="" mode="single"  enabletimepicker="true" nocalendar="true" format='H:i' dateInput formControlName="interview_end_time">
                        <label for="intrvwendTime" [ngClass]="{'active':walkInInterviewForm.get('interview_end_time').value}">End Time</label>
                        <span *ngIf="(isSubmit && walkInInterviewForm.get('interview_end_time').errors) || ((walkInInterviewForm.get('interview_end_time').touched || walkInInterviewForm.get('interview_end_time').dirty)
                          && walkInInterviewForm.get('interview_end_time').errors)">
                        <span *ngIf="walkInInterviewForm.get('interview_end_time').errors.required "
                          class="form-error">Please select interview end time</span>
                        <span *ngIf="walkInInterviewForm.get('interview_end_time').errors.error_date "
                          class="form-error">End time should be greater than start time</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row slotIncrement">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <h6>Time Slot Per Candidate</h6>
                      <div class="input-field">
                        <span class="icon timeIcon"></span>
                        <select formControlName="interview_time_slot">
                          <option value="" selected>Interview Time Slot</option>
                          <option value="5">5 min</option>
                          <option value="10">10 min</option>
                          <option value="15">15 min</option>
                          <option value="20">20 min</option>
                          <option value="25">25 min</option>
                          <option value="30">30 min</option>
                          <option value="35">35 min</option>
                          <option value="40">40 min</option>
                          <option value="45">45 min</option>
                          <option value="50">50 min</option>
                          <option value="55">55 min</option>
                          <option value="60">1 hr</option>
                        </select>
                        <span *ngIf="(isSubmit && walkInInterviewForm.get('interview_time_slot').errors) || ((walkInInterviewForm.get('interview_time_slot').touched || walkInInterviewForm.get('interview_time_slot').dirty)
                          && walkInInterviewForm.get('interview_time_slot').errors)">
                        <span *ngIf="walkInInterviewForm.get('interview_time_slot').errors.required "
                          class="form-error">Please select interview time slot</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="part-sec">
                  <h3>Interview Venue</h3>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon companyIcon"></span>
                        <input id="vanueName" type="text" class="validate" formControlName="interview_vanue_name">
                        <label for="vanueName" [ngClass]="{'active':walkInInterviewForm.get('interview_vanue_name').value}">Vanue Name</label>
                        <span *ngIf="(isSubmit && walkInInterviewForm.get('interview_vanue_name').errors) || ((walkInInterviewForm.get('interview_vanue_name').touched || walkInInterviewForm.get('interview_vanue_name').dirty)
                          && walkInInterviewForm.get('interview_vanue_name').errors)">
                        <span *ngIf="walkInInterviewForm.get('interview_vanue_name').errors.required "
                          class="form-error">Please select vanue name</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon locationIcon"></span>
                        <select formControlName="interview_location_country">
                          <option value="" selected>interview location - country</option>
                          <option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
                        </select>
                        <span *ngIf="(isSubmit && walkInInterviewForm.get('interview_location_country').errors) || ((walkInInterviewForm.get('interview_location_country').touched || walkInInterviewForm.get('interview_location_country').dirty)
                          && walkInInterviewForm.get('interview_location_country').errors)">
                        <span *ngIf="walkInInterviewForm.get('interview_location_country').errors.required "
                          class="form-error">Please select interview location - country</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon locationIcon"></span>
                        <select formControlName="interview_location_city">
                          <option value="" selected>interview location - city</option>
                          <option value="{{city._id}}" *ngFor="let city of interviewCities">{{city.name}}</option>
                        </select>
                        <span *ngIf="(isSubmit && walkInInterviewForm.get('interview_location_city').errors) || ((walkInInterviewForm.get('interview_location_city').touched || walkInInterviewForm.get('interview_location_city').dirty)
                          && walkInInterviewForm.get('interview_location_city').errors)">
                        <span *ngIf="walkInInterviewForm.get('interview_location_city').errors.required "
                          class="form-error">Please select interview location - city</span>
                        </span> 
                      </div>
                    </div>
                  </div>
                  <div class="input-field activeIcon">
                    <span class="icon locationIcon"></span>
                    <textarea rows="4" class="form-control" placeholder="Venue Address" formControlName="interview_venue_address"></textarea>
                    <span *ngIf="(isSubmit && walkInInterviewForm.get('interview_venue_address').errors) || ((walkInInterviewForm.get('interview_venue_address').touched || walkInInterviewForm.get('interview_venue_address').dirty)
                      && walkInInterviewForm.get('interview_venue_address').errors)">
                    <span *ngIf="walkInInterviewForm.get('interview_venue_address').errors.required "
                      class="form-error">Please select interview venue address</span>
                    </span>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="field-container">
                        <div class="input-field">
                          <div formControlName="special_notes" [ngxSummernote]="noteconfig"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="input-field tab_list_hlder">
                <a href="javascript:void(0)" class="blueBtn" [ngClass]="{'active':walkInInterviewForm.get('condition_type').value == 1}" (click)="setConditionType(1)">Receive only relevant job applications</a>
                <a href="javascript:void(0)" class="blueBtn" [ngClass]="{'active':walkInInterviewForm.get('condition_type').value == 2}" (click)="setConditionType(2)">Receive all job applications</a>
                <a href="javascript:void(0)" class="blueBtn" [ngClass]="{'active':walkInInterviewForm.get('condition_type').value == 3}" (click)="setConditionType(3)">Question answer wise job applications</a>
              </div>
              <div class="prinium_job_tabcontainer_hlder">
              <div class="input-field" *ngIf="walkInInterviewForm.get('condition_type').value == 1">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="radioOuterSec">
                      <label>
                      <input name="experiance_filter"  type="checkbox" value="1" [(ngModel)]="relevant_conditions.expeiance" [ngModelOptions]="{standalone: true}"/>
                      <span>Experiance</span>
                      </label>
                      <label>
                      <input name="industry_filter" type="checkbox" value="1" [(ngModel)]="relevant_conditions.industry" (ngModelChange)="setConditionValue($event)"  [ngModelOptions]="{standalone: true}"/>
                      <span>Industry</span>
                      </label>
                      <label>
                      <input name="location_filter" type="checkbox" value="1" [(ngModel)]="relevant_conditions.location" (ngModelChange)="setConditionValue($event)"  [ngModelOptions]="{standalone: true}"/>
                      <span>Location</span>
                      </label>
                      <label>
                      <input name="gender_filter" type="checkbox" value="1" [(ngModel)]="relevant_conditions.gender" (ngModelChange)="setConditionValue($event)"  [ngModelOptions]="{standalone: true}"/>
                      <span>Gender</span>
                      </label>
                      <label>
                      <input name="salary_filter" type="checkbox" value="1" [(ngModel)]="relevant_conditions.salary" (ngModelChange)="setConditionValue($event)"  [ngModelOptions]="{standalone: true}"/>
                      <span>Salary</span>
                      </label>
                      <label>
                      <input name="education_filter" type="checkbox" value="1" [(ngModel)]="relevant_conditions.education" (ngModelChange)="setConditionValue($event)"  [ngModelOptions]="{standalone: true}"/>
                      <span>Education</span>
                      </label>

                    </div>
                  </div>
              </div>              
              <div class="input-field" *ngIf="walkInInterviewForm.get('condition_type').value == 2">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="radioOuterSec">
                      <label>
                      <input name="all_filter" disabled="disabled"  type="checkbox" value="1" [(ngModel)]="alljob_conditions.all" [ngModelOptions]="{standalone: true}"/>
                      <span>All</span>
                      </label>

                    </div>
                  </div>                
              </div>
              <div class="input-field" *ngIf="walkInInterviewForm.get('condition_type').value == 3">
                <form [formGroup]="conditionQuestionForm">
                    <div formArrayName="questions" *ngFor="let question of questionFormData;let i = index;">
                      <div [formGroupName]="i" class="referal-add"><a href="javascript:void(0)" (click)="deleteQuestionArray(i)" title="Delete" *ngIf="i!==0"><i class="material-icons">delete</i></a>
                        <div formControlName="question_name" [ngxSummernote]="questionconfig"></div>
                      </div>
                    </div>
                </form>
                <div class="addMore" *ngIf="questionFormData.length < 5">
                  <a href="javascript:void(0)" (click)="addQuestionArray()"><img src="assets/images/add.png" alt=""> Add More</a>
               </div>
              </div>  
              </div>                           
                <div class="submitOuter">
                  <!-- <button type="submit" (click)="submitPost()" *ngIf="!walkin_id" >Submit <i class="fa fa-spinner fa-spin spiner-class" *ngIf="showloader"></i></button> -->
                  <!-- <button type="submit" (click)="updateForm()" *ngIf="walkin_id">Update <i class="fa fa-spinner fa-spin spiner-class" *ngIf="showloader"></i></button> -->
                  <button type="submit" class="blueBtn" (click)="jobPreview()">Preview</button>
                  <button type="submit" class="blueBtn" (click)="clearForm()">Reset</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="mouseTrail">
<h6 style="color:#db241a;font-size: 14px;"><strong>Do not write,<br> your email id,Phone, WhatsApp no<br> or company website on job post.</strong></h6>
</div>
</section>
<!-- END REGISTRATION FORM -->