<!-- <div class="snippetOuter" [style.background-color]="isDark?'#000':''">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <h4>Current openings</h4>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="viewOuter">
                              <span>{{employer_jobs?.length}} Jobs</span>
                            </div>
                          </div>
                        </div>
                        <div class="openingSnippetTable">
                          <ng-container *ngFor="let job of employer_jobs;index as i;">
                            <div class="openingSnippetRow">
                              <div class="openingSnippetCol">
                                <p><span>{{job?.job_title}} Salary: {{job?.min_monthly_salary}} Up to {{job?.max_monthly_salary}} PM for {{job?.city?.name}}</span></p>
                              </div>
                              <div class="openingSnippetCol">
                                <p>{{job?.employeer?.user_detail?.zipcode}}</p>
                              </div>
                              <div class="openingSnippetCol">
                                <p>{{job?.employment_type?.name}}</p>
                              </div>
                            </div>
                          </ng-container>
                          
                        </div>
                      </div> -->