.input_text{
  width: 100%;
 /* padding: 12px 20px;
  margin: 8px 0;*/
  box-sizing: border-box;
  /*border: 1px solid #555;*/
  border-bottom: 1px solid #5f6b94;
  outline: none;
}
.dropdown-search {
    display: inline-block;
}

.selected-span{
	padding: 5px 5px 7px 7px;
    position: relative;
    background: #abb3b3;
    border-radius: 50px;
}

.del{
	cursor: pointer;
    margin: 5px;
}

.multiselect-text-input{
	border-bottom: none !important; 
}