<!-- START REGISTRATION FORM -->
<section class="registrationForm employerInnerSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="registrationFormOuter">
          <h2 class="pageTitle">Create Email Template</h2>
          <div class="prevDropdown">
            <h6>Previous Email Template</h6>
            <div class="input-field">
              <span class="icon jobIcon"></span>
              <select (change)="templateOnChange($event.target.value)">
                <option selected="selected" disabled="disabled">Previous Email Template</option>
                <option value="new" >Create New Email Template</option>
                <option [value]="posted_templated._id" *ngFor="let posted_templated of allEmailTemplate; index as i;">{{posted_templated.template_name}}</option> 
              </select>
            </div>
          </div>
          <form [formGroup]="emailForm">
            
            <div class="registrationFormInner">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="input-field">
                    <span class="icon emailIcon"></span>
                    <input id="tmpName" type="text" class="validate" formControlName="template_name">
                    <label for="tmpName" [ngClass]="{'active':emailForm.get('template_name').value}">Template Name</label>
                    <span *ngIf="(isSubmit && emailForm.get('template_name').errors) || ((emailForm.get('template_name').touched || emailForm.get('template_name').dirty) && emailForm.get('template_name').errors)">
                    <span *ngIf="emailForm.get('template_name').errors.required " class="form-error">Please enter template name</span></span>
                  </div>
                </div>

              </div>
              <div class="input-field">
                <span class="icon jobDesIcon"></span>
                <input id="tmpSub" type="text" class="validate" formControlName="subject">
                <label for="tmpSub" [ngClass]="{'active':emailForm.get('subject').value}">Subject Line</label>
                <span *ngIf="(isSubmit && emailForm.get('subject').errors) || ((emailForm.get('subject').touched || emailForm.get('subject').dirty) && emailForm.get('subject').errors)">
                <span *ngIf="emailForm.get('subject').errors.required " class="form-error">Please enter subject line</span></span>
              </div>
              <div class="input-field">
                <span class="icon jobDesIcon"></span>
                <!-- <div [ngxSummernote] formControlName="about_job"></div> -->
                <!-- <textarea rows="4" class="form-control" placeholder="About This Job" formControlName="about_job"></textarea> -->
                <div formControlName="about_job" [ngxSummernote]="aboutconfig"></div>
                <span *ngIf="(isSubmit && emailForm.get('about_job').errors) || ((emailForm.get('about_job').touched || emailForm.get('about_job').dirty) && emailForm.get('about_job').errors)">
                <span *ngIf="emailForm.get('about_job').errors.required " class="form-error">Please enter about this job</span></span>
              </div>
              <div class="input-field">
                <div class="chips-placeholder">
                  <div class="chips">
                    <tag-input [(ngModel)]='skill_key'  [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Add skills" placeholder="+ skill" addOnBlur="addOnBlur">
                    <tag-input-dropdown [autocompleteItems]="skillData">
                    </tag-input-dropdown>
                    </tag-input>
                  </div>
                </div>
                <span class="icon jobIcon"></span>
                <!-- <textarea rows="4" class="form-control" placeholder="Skill required" formControlName="required_skill"></textarea> -->
                <span *ngIf="(isSubmit && emailForm.get('skill').errors) || ((emailForm.get('skill').touched || emailForm.get('skill').dirty)
                  && emailForm.get('skill').errors)">
                <span *ngIf="emailForm.get('skill').errors.required"
                  class="form-error">Please enter required skill</span>
                </span>                
              </div>
              <!-- <div class="input-field">
                <span class="icon jobIcon"></span>
                <textarea rows="4" class="form-control" placeholder="Skill required" formControlName="skill"></textarea>
                <span *ngIf="(isSubmit && emailForm.get('skill').errors) || ((emailForm.get('skill').touched || emailForm.get('skill').dirty) && emailForm.get('skill').errors)">
                <span *ngIf="emailForm.get('skill').errors.required " class="form-error">Please enter about this job</span></span>
                </div> -->
              <div class="input-field">
                <span class="icon benefitIcon"></span>
                <!-- <textarea rows="4" class="form-control" placeholder="Benefit" formControlName="benefit"></textarea> -->
                <div formControlName="benefit" [ngxSummernote]="benefitsconfig"></div>
                <span *ngIf="(isSubmit && emailForm.get('benefit').errors) || ((emailForm.get('benefit').touched || emailForm.get('benefit').dirty) && emailForm.get('benefit').errors)">
                <span *ngIf="emailForm.get('benefit').errors.required " class="form-error">Please enter benefit line</span></span>
              </div>
              <div class="input-field">
                <span class="icon jobIcon"></span>
                <!-- <textarea rows="4" class="form-control" placeholder="Primary Responsibility" formControlName="primary_responsibility"></textarea> -->
                <div formControlName="primary_responsibility" [ngxSummernote]="responsconfig"></div>
                <span *ngIf="(isSubmit && emailForm.get('primary_responsibility').errors) || ((emailForm.get('primary_responsibility').touched || emailForm.get('primary_responsibility').dirty) && emailForm.get('primary_responsibility').errors)">
                <span *ngIf="emailForm.get('primary_responsibility').errors.required " class="form-error">Please enter primary responsibility line</span></span>
              </div>
              <div class="input-field">
                <span class="icon benefitIcon"></span>
                <!-- <textarea rows="4" class="form-control" placeholder="Special Notes" formControlName="special_note"></textarea> -->
                <div formControlName="special_note" [ngxSummernote]="noteconfig"></div>
                <span *ngIf="(isSubmit && emailForm.get('special_note').errors) || ((emailForm.get('special_note').touched || emailForm.get('special_note').dirty) && emailForm.get('special_note').errors)">
                <span *ngIf="emailForm.get('special_note').errors.required " class="form-error">Please enter special note line</span></span>
              </div>
              <div class="creatEmailJob">
                <div class="part-sec">
                  <h3>Job Details</h3>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon jobDesIcon"></span>
                        <input id="tmp_jbtitle" type="text" class="validate" formControlName="job_title">
                        <label for="tmp_jbtitle" [ngClass]="{'active':emailForm.get('job_title').value}">Job title</label>
                        <span *ngIf="(isSubmit && emailForm.get('job_title').errors) || ((emailForm.get('job_title').touched || emailForm.get('job_title').dirty) && emailForm.get('job_title').errors)">
                        <span *ngIf="emailForm.get('job_title').errors.required " class="form-error">Please enter job title</span></span>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon locationIcon"></span>
                        <select formControlName="country_id">
                          <option value="">Choose Country</option>
                          <option *ngFor="let country of countries" value="{{country._id}}">{{country.name}}</option>
                        </select>
                        <span *ngIf="(isSubmit && emailForm.get('country_id').errors) || ((emailForm.get('country_id').touched || emailForm.get('country_id').dirty) && emailForm.get('country_id').errors)">
                        <span *ngIf="emailForm.get('country_id').errors.required " class="form-error">Please select country</span></span>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon locationIcon"></span>
                        <select formControlName="city_id">
                          <option value="">Choose City</option>
                          <option *ngFor="let city of coutryWiseCity" value="{{city._id}}">{{city.name}}</option>
                        </select>
                        <span *ngIf="(isSubmit && emailForm.get('city_id').errors) || ((emailForm.get('city_id').touched || emailForm.get('city_id').dirty) && emailForm.get('city_id').errors)">
                        <span *ngIf="emailForm.get('city_id').errors.required " class="form-error">Please select city</span></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                      <div class="input-field activeIcon">
                        <span class="icon experienceIcon"></span>
                        <select formControlName="min_exp">
                          <option value="">Minimum Experience</option>
                          <option *ngFor="let experiance of experianceAray" value="{{experiance._id}}">{{experiance.name}} Years</option>
                        </select>
                        <span *ngIf="(isSubmit && emailForm.get('min_exp').errors) || ((emailForm.get('min_exp').touched || emailForm.get('min_exp').dirty) && emailForm.get('min_exp').errors)">
                        <span *ngIf="emailForm.get('min_exp').errors.required " class="form-error">Please select minimum experience</span></span>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon experienceIcon"></span>
                        <select formControlName="max_exp">
                          <option value="">Maximum Experience</option>
                          <option *ngFor="let experiance of experianceAray" value="{{experiance._id}}">{{experiance.name}} Years</option>
                        </select>
                        <span *ngIf="(isSubmit && emailForm.get('max_exp').errors) || ((emailForm.get('max_exp').touched || emailForm.get('max_exp').dirty) && emailForm.get('max_exp').errors)">
                        <span *ngIf="emailForm.get('max_exp').errors.required " class="form-error">Please select maximum experience</span>
                        <span *ngIf="emailForm.get('max_exp').errors.error_min_max_exp" class="form-error">Max experiance canot be less than min experiance</span>
                      </span>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                      <div class="multiselectdropdownOuter">
                        <div class="input-field">
                          <span class="icon langIcon"></span>
                           <div class="input_text">
                              <ng-container *ngFor="let language of langPrefStore.name; index as i;">
                                <span class="selected-span">{{language}}<i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'language')"></i></span>
                              </ng-container>
                              <span class="dropdown-search">
                                  <input type="text" class="degree multiselect-text-input" name="select_multiple_field" placeholder="Language Preference" (click)="showDropdown()" autocomplete="off">
                                 <app-multiselect-nosearch  *ngIf="language_pref_div"
                                (checkOutsideEvent)="dropDownToggle($event)"
                                [storedValue]="langPrefStore.value"
                                (sendDataEvent)="getDropDownData($event)"
                                [mainDataArray]="langPrefArray"
                                >                               
                                </app-multiselect-nosearch>
                              </span>
                            </div>
                          <span *ngIf="(isSubmit && emailForm.get('language_pref').errors) || ((emailForm.get('language_pref').touched || emailForm.get('language_pref').dirty) && emailForm.get('language_pref').errors)">
                          <span *ngIf="emailForm.get('language_pref').errors.required " class="form-error">Please select language preference</span></span>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="part-sec">
                  <h3>Salary</h3>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="radioOuterSec">
                        <label>
                        <input type="radio" formControlName="salary_type" value="hourly"/>
                        <span>Hourly</span>
                        </label>
                        <label>
                        <input type="radio" formControlName="salary_type" value="weekly"/>
                        <span>Weekly</span>
                        </label>
                        <label>
                        <input type="radio" formControlName="salary_type" value="monthly"/>
                        <span>Monthly</span>
                        </label>
                        <span *ngIf="(isSubmit && emailForm.get('salary_type').errors) || ((emailForm.get('salary_type').touched || emailForm.get('salary_type').dirty) && emailForm.get('salary_type').errors)">
                        <span *ngIf="emailForm.get('salary_type').errors.required " class="form-error">Please select salary</span></span>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon payDtlAmtIcon"></span>
                        <select formControlName="currency_type">
                          <option value="">Select Currency</option>
                          <!-- <option *ngFor="let currency of currencyArray" value="{{currency._id}}">{{currency.currency}}</option> -->
                          <option value="{{currency.value[0]._id}}" *ngFor="let currency of currencyArray | keyvalue">{{currency.key}} ({{currency.value[0].currency_code}})</option>
                        </select>
                        <span *ngIf="(isSubmit && emailForm.get('currency_type').errors) || ((emailForm.get('currency_type').touched || emailForm.get('currency_type').dirty) && emailForm.get('currency_type').errors)">
                        <span *ngIf="emailForm.get('currency_type').errors.required " class="form-error">Please select currency</span></span>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon salaryIcon"></span>
                        <input id="minSal" type="number" class="validate" formControlName="min_salary">
                        <label for="minSal" [ngClass]="{'active':emailForm.get('min_salary').value}">Min Salary</label>
                        <span *ngIf="(isSubmit && emailForm.get('min_salary').errors) || ((emailForm.get('min_salary').touched || emailForm.get('min_salary').dirty) && emailForm.get('min_salary').errors)">
                        <span *ngIf="emailForm.get('min_salary').errors.required " class="form-error">Please enter min salary</span></span>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon salaryIcon"></span>
                        <input id="maxSal" type="number" class="validate" formControlName="max_salary">
                        <label for="maxSal" [ngClass]="{'active':emailForm.get('max_salary').value}">Max Salary</label>
                        <span *ngIf="(isSubmit && emailForm.get('max_salary').errors) || ((emailForm.get('max_salary').touched || emailForm.get('max_salary').dirty) && emailForm.get('max_salary').errors)">
                        <span *ngIf="emailForm.get('max_salary').errors.required " class="form-error">Please enter min salary</span>
                        <span *ngIf="emailForm.get('max_salary').errors.error_min_max" class="form-error">Max salary cannot be less than Min salary</span>
                      </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="submitOuter">
                <button type="submit" class="blueBtn" (click)="templatePreview()">Preview</button>
                <button type="submit" class="blueBtn" (click)="resetForm()">Reset</button>
                <!-- <button type="submit" (click)="updateForm()" class="blueBtn" *ngIf="template_id">Update</button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-modal-directive [modalId]="'email_template'"></app-modal-directive> -->
</section>
<!-- END REGISTRATION FORM -->