.input_text{
  width: 100%;
 /* padding: 12px 20px;
  margin: 8px 0;*/
  box-sizing: border-box;
  /*border: 1px solid #555;*/
  border-bottom: 1px solid #5f6b94;
  outline: none;
}
.dropdown-search {
    display: inline-block;
}

.selected-span{
	padding: 5px 5px 7px 7px;
    position: relative;
    background: #abb3b3;
    border-radius: 50px;
}

.del{
	cursor: pointer;
    margin: 5px;
}

.multiselect-text-input{
	border-bottom: none !important; 
}

.genderWrap label{
  border: 1px solid #d0d0d0;
  padding: 5px 10px;
}
.genderWrap label span{
  padding-left: 0px !important;
    display: block !important;
}
.genderWrap label span:before,
.genderWrap label span:after{
  left: auto;
  right: 0;
}
.genderWrap label{
  margin: 0;
}

span.calIcon {
    background: url(/assets/images/spiteImg1.png) -4px -710px no-repeat;
}

.emp_date_sapn{
  color: #5f6B94
}


.gndr-reslv .input-field > label{
  left: 0;
    font-size: 16px;
    color: #5f6b94;
    border-bottom: 1px solid #8591b9;
    padding: 2px 19px 2px 0;
    width: 100%;
    text-align: left;

}

.part-sec .input-field{margin: 10px 0 20px; }

@media (max-width:767px){
    .part-sec .input-field{
        display: inline-block; width: 100%; margin: 0;
    }
    .part-sec .input-field.mt10{margin-top: 20px;}
    .part-sec .gndr-reslv .input-field > label{
        position: relative;
    }
}