
    <!-- START BANNER SECTION -->
      <section class="bannerSection innerBanner" *ngIf="isloaded">
        <!-- <img src="images/listingBanner.png" alt="listingBanner"> -->
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-md-12 col-12">
              <div class="clientSection clientSectionSec">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-12">
                    <div class="clientLogo">
                      <owl-carousel
                      [options]="emplorerSlideOptions"
                      [carouselClasses]="['owl-theme', 'sliding']"
                      >
                      <div class="item" *ngFor="let image of emplorerSlideImages;index as i">
                    <a href="javascript:void(0)" [routerLink]="['/search-job-listing']" [queryParams]="{searchemployerjobs:image.id}">
                      <div class="clientLogoContainer">
                          <img src={{image.company_logo}}/>
                          <span class="jobCount">{{image.employer_job_count}}</span>
                      </div>
                    </a>  
                      <!-- <div class="clientLogoContainer">
                          <img src={{image}}/>
                          <span class="jobCount">1</span>
                      </div> -->
                  </div>
                    </owl-carousel>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- END BANNER SECTION -->
    <!-- START BREADCRUMB SECTION -->
      <!-- <section class="breadcrumbSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-md-12 col-12">
              <ul>
                <li><a href="javascript:void(0)">Home</a></li>
                <li class="current"><span>Search</span></li>
              </ul>
            </div>
          </div>
        </div>
      </section> -->
    <!-- END BREADCRUMB SECTION -->
    <!-- START JOB BY COUNTRY SECTION -->
      <section class="jobByCountrySection" *ngIf="isloaded">
        <div class="container">
          <div class="headingOuter">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2 class="pageTitleSec"><img src="assets/images/jobIcon2.png" alt="jobIcon">{{tot_job_count}} Jobs Posted</h2>
                <!-- <p>{{searchJobsResult.length}} Jobs Posted</p> -->
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h4>Find World's Leading Jobs</h4>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hospitalityOuter">
                  <!-- <h4>Find World's Top Hospitality Jobs</h4> -->
                  <div class="bannerForm">
                    <div class="bannerInner">
                      <div style="position: relative;"> 
                        <input type="text" name="" [(ngModel)]="job_title_model" id="job_title_search" class="form-control auto_comp_search" placeholder="Job Title, Skills" (keyup)="searchAutoComplete('JB_TITLE_WISE',$event)" autocomplete="off">
                        <div class="state-container-dropdown" *ngIf="show_jb_title_srh">
                            <div class="state" *ngFor="let data of title_job_data" (click)="autoCompleteSearch(data.id, 'JB_TITLE_WISE')">
                               <span>{{data.name}}</span>
                            </div>
                        </div>

                        <span class="icon"><img src="assets/images/searchIcon.png" alt="searchIcon"></span>
                      </div>
                    </div>
                  <div class="bannerInner">
                    <div style="position: relative;">  
                      <input type="text" name="" [(ngModel)]="insudtry_model" id="industry_search" class="form-control auto_comp_search" placeholder="Industry" (keyup)="searchAutoComplete('INDUSTRY_WISE',$event)" autocomplete="off">
                      <div class="state-container-dropdown" *ngIf="show_industry_srh">
                          <div class="state" *ngFor="let data of industrty_data" (click)="autoCompleteSearch(data.id, 'INDUSTRY_WISE')">
                             <span>{{data.name}}</span>
                          </div>
                      </div>
                      <span class="icon"><img src="assets/images/factory.png" alt="locationIcon"></span>
                    </div>
                  </div>
                  <!-- <div class="bannerInner">
                    <div style="position: relative;"> 
                      <input type="text" name="" [(ngModel)]="department_model" id="department_search" class="form-control auto_comp_search" placeholder="Department" (keyup)="searchAutoComplete('DEPARTMENT_WISE',$event)" autocomplete="off">
                      <div class="state-container-dropdown" *ngIf="show_department_srh">
                          <div class="state" *ngFor="let data of department_data" (click)="autoCompleteSearch(data.id, 'DEPARTMENT_WISE')">
                             <span>{{data.name}}</span>
                          </div>
                      </div>
                      <span class="icon"><img src="assets/images/searchIcon.png" alt="searchIcon"></span>
                    </div>
                  </div> -->
                  <div class="bannerInner">
                    <div style="position: relative;"> 
                      <input type="text" name="" [(ngModel)]="country_loc_model" id="country_search" class="form-control auto_comp_search"  placeholder="Country, City, Location" (keyup)="searchAutoComplete('COUNTRY_WISE',$event)" autocomplete="disable">
                      <div class="state-container-dropdown" *ngIf="show_city_comp_srh">
                          <div class="state" *ngFor="let data of city_country_data" (click)="autoCompleteSearch(data.id, 'COUNTRY_WISE')">
                             <span>{{data.name}}</span>
                          </div>
                      </div>
                      <span class="icon"><img src="assets/images/locationIcon.png" alt="locationIcon"></span>
                    </div>
                  </div>
                    
                    <div class="bannerInner">
                      <input type="submit" name="" value="Search Jobs" (click)="searchFilter()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-12">
                <div class="moreOptionOuter">
                  <a href="#!" class="moreOptionBtn" data-toggle="modal" data-target="#advModal" (click)="advancedJobOpen()">Advance Search <img src="assets/images/downArrow2.png" alt="downArrow2"></a>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="clientSection clientSectionSec" *ngIf="isloaded">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-12">
                <div class="clientLogo">
                      <owl-carousel
                      [options]="emplorerSlideOptions"
                      [carouselClasses]="['owl-theme', 'sliding']"
                      >
                      <div class="item" *ngFor="let image of emplorerSlideImages;index as i">
                    <a href="javascript:void(0)" [routerLink]="['/search-job-listing']" [queryParams]="{searchemployerjobs:image.id}">
                      <div class="clientLogoContainer">
                          <img src={{image.company_logo}}/>
                          <span class="jobCount">{{image.employer_job_count}}</span>
                      </div>
                    </a>  
                    
                  </div>
                    </owl-carousel>
                  </div>
              </div>
            </div>
          </div> -->

          <div class="countryOuter animation-element" *ngIf="internationalWalking.length">
            <h4>International Walk-In Interview</h4>
            <div class="row">
              <ng-container *ngFor="let interWalking of internationalWalking; index as i;">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">                
                  <div class="countryInner countryInnerSec">
                    <a href="javascript:void(0)" [routerLink]="['/job-details','international-walking',interWalking._id]">
                      <div class="countryImg">
                      </div>
                      <div class="countryInnerInfo">
                        <img src="{{interWalking?.employer_logo}}" alt="aloftLogo">
                        <ul class="jobInfo">
                          <!-- <li>
                            <span><img src="assets/images/companyIcon.png" alt="companyIcon"></span> 
                            <p>{{interWalking.employeer?.user_detail?.company_name}}</p>
                          </li> -->
                          <li>
                            <span><img src="assets/images/employee1.png" alt="employee"></span> 
                            <p>{{interWalking.interview_name.length > 35 ? interWalking.interview_name.slice(0,35) + '...': interWalking.interview_name}}</p>
                          </li>
                          <li>
                            <span><img src="assets/images/money1.png" alt="money"></span> 
                            <p>Min {{interWalking.min_monthly_salary}} - Max {{interWalking.max_monthly_salary}} {{interWalking?.currency_name}}/{{interWalking.salary_type}}</p>
                          </li>
                          <li>
                            <span><img src="assets/images//money1.png" alt="money"></span> 
                            <p>Years of Experience {{interWalking?.min_experiance?.name}} - {{interWalking?.max_experiance?.name}} Years</p>
                          </li>
                          <li>
                            <span><img src="assets/images/factory1.png" alt="factory"></span> 
                            <p>{{interWalking.industry_name.toString()}}</p>
                          </li>
                          <li>
                            <span><img src="assets/images/employee1.png" alt="employee"></span> 
                            <p> {{interWalking.department_name.toString()}}</p>
                          </li>
                          <li>
                            <span><img src="assets/images/employee1.png" alt="employee"></span> 
                            <p>{{interWalking?.employment_type?.name}}</p>
                          </li>
                          <li>
                            <span><img src="assets/images/employee1.png" alt="employee"></span> 
                            <p>Interview Type: {{interWalking.interview_type.name}}</p>
                          </li> 
                          <li>
                              <span><img src="assets/images/locationIcon1.png" alt="employee"></span> 
                              <p>{{interWalking?.interview_location_country_name}},{{interWalking?.interview_location_city_name}}</p>
                            </li>    
                          <li>
                            <span><img src="assets/images/locationIcon1.png" alt="locationIcon"></span> 
                            <p>Venue: {{interWalking.interview_venue_address}}</p>
                          </li>                   
                          <li>
                            <span><img src="assets/images/calenderIcon2.png" alt="calenderIcon1"></span> 
                            <p>Date : {{interWalking.interview_date}}</p>
                          </li>
                          <li>
                            <span><img src="assets/images/calenderIcon2.png" alt="calenderIcon1"></span> 
                            <p>Time : {{interWalking.interview_start_time}} to {{interWalking.interview_end_time}} </p>
                          </li>
                        </ul>  
                      </div>
                    </a>
                    <div class="countryInnerFoot">
                        <div class="countryInnerFootLeft">  
                          <h6>Posted {{interWalking.day_diff ==0? 'on Today':interWalking.day_diff +' days ago'}}</h6>
                        </div>
                        <div class="countryInnerFootRight">                  
                          <a href="javascript:void(0)" (click)="applyJob(interWalking._id, 'apply-job','international-walking',interWalking)" class="apply">Quick Apply</a>
                        </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="row" *ngIf="walking_int_count > (count_international_walkin_show || internationalWalking.length)">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="loadmoreOuter">
                <a href="javascript:void(0)" (click)="addMoreSearchInternationalWalking()">
                  <img src="assets/images/downArrow-double.png">
                  <span>Load More</span>
                </a>
              </div>
            </div>
          </div>
          <div class="countryOuter animation-element" *ngIf="nationalWalking.length">
            <h4>Local Walk-In Interview</h4>
            <div class="row">

              <ng-container *ngFor="let natioWalk of nationalWalking; index as i;">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">                
                  <div class="countryInner countryInnerSec">
                    <a href="javascript:void(0)" [routerLink]="['/job-details','local-walking',natioWalk._id]">
                      <div class="countryImg">
                        <!-- <img src="images/aloftImg.png" alt="aloftImg"> -->
                      </div>
                      <div class="countryInnerInfo">
                        <img src="{{natioWalk?.employer_logo}}" alt="aloftLogo">
                        <ul class="jobInfo">
                          <!-- <li>
                            <span><img src="assets/images/companyIcon.png" alt="companyIcon"></span> 
                            <p>{{natioWalk.employeer.user_detail?.company_name}}</p>
                          </li> -->
                          <li>
                            <span><img src="assets/images/employee1.png" alt="employee"></span> 
                            <p>{{natioWalk.interview_name.length > 35 ? natioWalk.interview_name.slice(0,35) + '...' : natioWalk.interview_name }}</p>
                          </li>
                          <li>
                            <span><img src="assets/images/money1.png" alt="money"></span> 
                            <p>Min {{natioWalk.min_monthly_salary}} - Max {{natioWalk.max_monthly_salary}} {{natioWalk?.currency_name}}/{{natioWalk.salary_type}}</p>
                          </li>
                           <li>
                            <span><img src="assets/images//money1.png" alt="money"></span> 
                            <p>Years of Experience {{natioWalk?.min_experiance?.name}} - {{natioWalk?.max_experiance?.name}} Years</p>
                          </li>
                          <li>
                            <span><img src="assets/images/factory1.png" alt="factory"></span> 
                            <p>{{natioWalk.industry_name.toString()}}</p>
                          </li>
                          <li>
                            <span><img src="assets/images/employee1.png" alt="employee"></span> 
                            <p> {{natioWalk.department_name.toString()}}</p>
                          </li>
                          <li>
                            <span><img src="assets/images/employee1.png" alt="employee"></span> 
                            <p>{{natioWalk?.employment_type?.name}}</p>
                          </li>
                          <li>
                            <span><img src="assets/images/employee1.png" alt="employee"></span> 
                            <p>Interview Type: {{natioWalk.interview_type.name}}</p>
                          </li>  
                          <li>
                            <span><img src="assets/images/locationIcon1.png" alt="employee"></span> 
                            <p>{{natioWalk?.interview_location_country_name}},{{natioWalk?.interview_location_city_name}}</p>
                          </li>     
                          <li>
                            <span><img src="assets/images/locationIcon1.png" alt="locationIcon"></span> 
                            <p>Venue: {{natioWalk.interview_venue_address}}</p>
                          </li>                   
                          <li>
                            <span><img src="assets/images/calenderIcon2.png" alt="calenderIcon1"></span> 
                            <p>Date: {{natioWalk.interview_date}}</p>
                          </li>
                          <li>
                            <span><img src="assets/images/calenderIcon2.png" alt="calenderIcon1"></span> 
                            <p>Time : {{natioWalk.interview_start_time}} to {{natioWalk.interview_end_time}}</p>
                          </li>
                        </ul>  
                      </div>
                    </a>
                    <div class="countryInnerFoot">
                      <!-- <div class="row"> -->
                        <div class="countryInnerFootLeft">
                          <h6>Posted {{natioWalk.day_diff ==0? 'on Today':natioWalk.day_diff +' days ago'}}</h6>
                        </div>
                        <div class="countryInnerFootRight">                  
                          <a href="javascript:void(0)" (click)="applyJob(natioWalk._id, 'apply-job','local-walking',natioWalk)" class="apply">Quick Apply</a>
                        </div>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>          
          <div class="row" *ngIf="(walking_loc_count > (count_national_walkin_show ||  nationalWalking.length))">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="loadmoreOuter">
                <a href="javascript:void(0)" (click)="addMoreSearchLocalWalking()">
                  <img src="assets/images/downArrow-double.png">
                  <span>Load More</span>
                </a>
              </div>
            </div>
          </div>

          <div class="countryOuter animation-element" *ngIf="internationalJobs.length">
            <h4>International Jobs</h4>
            <div class="row" *ngIf="internationalJobs">
            <ng-container *ngFor="let jobs of internationalJobs; index as i">

              <div class="col-lg-4 col-md-4 col-sm-12 col-12">                
                <div class="countryInner">
                  <a href="javascript:void(0)" [routerLink]="['/job-details','international-job',jobs._id]">
                    <div class="countryImg">
                    </div>
                    <div class="countryInnerInfo">
                      <img src="{{jobs?.employer_logo}}" alt="aloftLogo">
                       <ul class="jobInfo">
                        <!-- <li>
                          <span><img src="assets/images//companyIcon.png" alt="companyIcon"></span> 
                          <p>{{jobs.employeer.user_detail?.company_name}}</p>
                        </li> -->
                        <li>
                          <span><img src="assets/images//employee1.png" alt="employee"></span> 
                          <p>{{jobs?.job_title.length > 35 ? jobs?.job_title.slice(0,35) + '...': jobs?.job_title}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images//money1.png" alt="money"></span> 
                          <!-- <p>Rs. 20,000 per month</p> -->
                          <p>Min {{jobs.min_monthly_salary}} - Max {{jobs.max_monthly_salary}} {{jobs?.currency_name}}/{{jobs.salary_type}}</p>
                        </li>
                         <li>
                          <span><img src="assets/images//money1.png" alt="money"></span> 
                          <p>Years of Experience {{jobs?.min_experiance?.name}} - {{jobs?.max_experiance?.name}} Years</p>
                        </li>
                        <li>
                          <span><img src="assets/images//factory1.png" alt="factory"></span> 
                          <p>{{(jobs?.industry_name).toString()}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images//employee1.png" alt="employee"></span> 
                          <p> {{jobs.employement_for?jobs.employement_for.name:''}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images//employee1.png" alt="employee"></span> 
                          <p>{{jobs.employment_type?jobs.employment_type.name:''}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images//locationIcon1.png" alt="locationIcon"></span> 
                          <p>{{(jobs?.location_coutry_name && jobs?.location_coutry_name.length > 20)?getSpaceValue( jobs?.location_coutry_name.slice(0,20)) + '...': getSpaceValue(jobs?.location_coutry_name)}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images//locationIcon1.png" alt="locationIcon"></span> 
                          <p>{{(jobs?.location_city_name && jobs?.location_city_name.length > 20)?getSpaceValue( jobs?.location_city_name.slice(0, 20)) + '...': getSpaceValue(jobs?.location_city_name) }}</p>
                        </li>
                      </ul>   
                    </div>
                  </a>
                  <div class="countryInnerFoot">
                      <div class="countryInnerFootLeft">
                        <h6>Posted {{jobs.day_diff ==0? 'on Today': jobs.day_diff + ' days ago'}}</h6>
                      </div>
                      <div class="countryInnerFootRight">                  
                        <a href="javascript:void(0)" class="apply" (click)="applyJob(jobs._id, 'apply-job','international-job',jobs)">Quick Apply</a>
                      </div>
                  </div>
                </div>
              </div>
            
            </ng-container></div>
          </div>
          <div class="row" *ngIf="(international_jobs_count  > (international_count_job_show || internationalJobs.length))">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="loadmoreOuter">
                <a href="javascript:void(0)" (click)="addMoreSearchInternational()">
                  <img src="assets/images//downArrow-double.png">
                  <span>Load More</span>
                </a>
              </div>
            </div>
          </div>

          <div class="countryOuter animation-element">
            <h4>Job Post</h4>
            <div class="row" *ngIf="searchJobsResult" #job_listing_wrapper>
            <ng-container *ngFor="let jobs of searchJobsResult; index as i;let last = last;">

              <div class="col-lg-4 col-md-4 col-sm-12 col-12 job_listing_item">                
                <div class="countryInner">
                  <a href="javascript:void(0)" [routerLink]="['/job-details','job-post',jobs._id]">
                    <div class="countryImg">
                    </div>
                    <div class="countryInnerInfo">
                      <img src="{{jobs?.employer_logo}}" alt="aloftLogo">
                       <ul class="jobInfo">
                        <!-- <li>
                          <span><img src="assets/images//companyIcon.png" alt="companyIcon"></span> 
                          <p>{{jobs.employeer.user_detail?.company_name}}</p>
                        </li> -->
                        <li>
                          <span><img src="assets/images//employee1.png" alt="employee"></span> 
                          <p>{{jobs?.job_title.length > 35 ? jobs?.job_title.slice(0,35) + '...': jobs?.job_title}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images//money1.png" alt="money"></span> 
                          <!-- <p>Rs. 20,000 per month</p> -->
                          <p>Min {{jobs.min_monthly_salary}} - Max {{jobs.max_monthly_salary}} {{jobs?.currency_name}}/{{jobs.salary_type}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images//money1.png" alt="money"></span> 
                          <p>Years of Experience {{jobs?.min_experiance?.name}} - {{jobs?.max_experiance?.name}} Years</p>
                        </li>
                        <li>
                          <span><img src="assets/images//factory1.png" alt="factory"></span> 
                          <p>{{(jobs.industry_name).toString()}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images//employee1.png" alt="employee"></span> 
                          <p> {{jobs.employement_for?jobs.employement_for.name:''}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images//employee1.png" alt="employee"></span> 
                          <p>{{jobs.employment_type?jobs.employment_type.name:''}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images//locationIcon1.png" alt="locationIcon"></span> 
                          <p>{{jobs?.country_name}}, {{jobs?.city_name}}</p>
                        </li>
                      </ul>   
                    </div>
                  </a>
                  <div class="countryInnerFoot">
                      <div class="countryInnerFootLeft">
                        <h6>Posted {{jobs.day_diff ==0? 'on Today': jobs.day_diff + ' days ago'}}</h6>
                      </div>
                      <div class="countryInnerFootRight">                  
                        <a href="javascript:void(0)" class="apply" (click)="applyJob(jobs._id, 'apply-job','job-post',jobs)">Quick Apply</a>
                      </div>
                  </div>
                </div>
              </div>
            
            </ng-container></div>
          </div>
          <div class="row" *ngIf="(jobResults_count  > (count_job_show || searchJobsResult.length))">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="loadmoreOuter">
                <a href="javascript:void(0)" (click)="addMoreSearchJob()">
                  <img src="assets/images//downArrow-double.png">
                  <span>Load More</span>
                </a>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="(searchJobsResult && searchJobsResult.length == 0)">
            <div class="col-md-12 col-sm-12 col-xs-12">
              Million jobs coming soon on https://www.bsbstaffing.com Upload your cv/ resume now.
            </div>
          </div>

          <!-- <div class="countryOuter animation-element">
            <h4>Job Post</h4>
            <div class="row" *ngIf="searchJobsResult.length > 0">
              <ng-container *ngFor="let jobs of searchJobsResult; index as i">
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">                
                <div class="countryInner">
                  <a href="javascript:void(0)" [routerLink]="['/job-details',jobs.job_title,jobs._id]">
                    <div class="countryImg">
                    </div>
                    <div class="countryInnerInfo">
                      <img src="{{jobs.employeer.user_detail.company_logo}}" alt="aloftLogo">
                      <ul class="jobInfo">
                        <li>
                          <span><img src="assets/images/companyIcon.png" alt="companyIcon"></span> 
                          <p>{{jobs.employeer.user_detail.company_name}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images/employee.png" alt="employee"></span> 
                          <p>{{jobs.job_title}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images/money.png" alt="money"></span> 
                          <p>Rs. 20,000 per month</p>
                        </li>
                        <li>
                          <span><img src="assets/images/factory.png" alt="factory"></span> 
                          <p>{{(jobs.industry_name).toString()}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images/employee.png" alt="employee"></span> 
                          <p> {{jobs.employement_for?jobs.employement_for.name:''}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images/employee.png" alt="employee"></span> 
                          <p>{{jobs.employment_type?jobs.employment_type.name:''}}</p>
                        </li>
                        <li>
                          <span><img src="assets/images/locationIcon.png" alt="locationIcon"></span> 
                          <p>{{jobs.country.name}}, {{jobs.city.name}}</p>
                        </li>
                      </ul>  
                    </div>
                  </a>
                  <div class="countryInnerFoot">
                      <div class="countryInnerFootLeft">   
                        <a href="javascript:void(0)" class="apply" (click)="checkLogin()">Quick Apply</a>
                      </div>
                      <div class="countryInnerFootRight"> 
                        <h6 *ngIf="jobs.day_diff != '0'">Posted {{jobs.day_diff}} days ago</h6>
                        <h6 *ngIf="jobs.day_diff == '0'">Posted Few Hours Ago</h6>
                      </div>
                  </div>
                </div>
              </div>
              </ng-container>
            </div>
            <div *ngIf="searchJobsResult.length == 0">No Job found</div>
          </div>
          
          <div class="row" *ngIf="searchJobsResult.length > 12">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="loadmoreOuter">
                <a href="javascript:void(0)" (click)="addMoreSearchJob()">
                  <img src="assets/images/downArrow-double.png">
                  <span>Load More</span>
                </a>
              </div>
            </div>
          </div> -->
        </div>
      </section>
    <!-- END JOB BY COUNTRY SECTION -->

    <!-- MOdal -->
    <div class="modal modal-fixed-footer" id="advModal">
      
        <div class="modal-content">
         
          <h2>Advance Search</h2>
          <form [formGroup]="advSearchForm">
          <div class="modal-body registrationFormInner">
            
              <div class="part-sec">
                <div class="row">                      
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon jobIcon"></span>
                      <!-- <input id="jobTitle" type="text" class="validate" formControlName="job_title" > -->
                      <input id="jobTitle" type="text" class="validate auto_comp_search" formControlName="job_title" (keyup)="advancedSearchAutoComplete('JB_TITLE_WISE',$event)" autocomplete="off">
                        <div class="state-container-dropdown" *ngIf="adv_show_jb_title_srh">
                            <div class="state" *ngFor="let data of title_job_data" (click)="advancedAutoCompleteSearch(data.id, 'JB_TITLE_WISE')">
                               <span>{{data.name}}</span>
                            </div>
                        </div>
                      <label for="jobTitle" [ngClass]="{'active':advSearchForm.get('job_title').value}">Job Title</label>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon employeeIcon"></span>
                      <select formControlName="employement_for">
                        <option value="" selected>Employment for</option>
                        <option value="{{empFor._id}}" *ngFor="let empFor of emplymentFor">{{empFor.name}} {{'Candidate'}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">                      
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <div class="input_text">
                        <ng-container *ngFor="let country of storeMultiSelect.country_name; index as i;">
                          <span class="selected-span">{{country.length > 10 ? country.slice(0,10)+ '...': country }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'country')"></i></span></span>
                        </ng-container>
                        <span class="dropdown-search">  
                         <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="country" placeholder="Select Country" (click)="getOnchangeEvent('country')">
                         <app-multi-select *ngIf="countryDiv" 
                                [mainDataArray]="countryArray"
                                [storedValue]="storeMultiSelect.country_value"
                                [storedName]="storeMultiSelect.country_name"  
                                [field_name] ="'country'"
                                (sendDataEvent)="getChange($event)" 
                                (checkOutsideEvent)="checkmultiselect($event)" 
                                (multidataSelect)="multiselectAll($event)">
                        </app-multi-select>
                        </span>
                      </div>
                      <!-- <input type="text" readonly="true" class="degree"  autocomplete="off" name="country" placeholder="Select Country" formControlName="country_id" (click)="getOnchangeEvent('country')">
                       <app-multi-select *ngIf="countryDiv" 
                              [mainDataArray]="countryArray"
                              [storedValue]="storeMultiSelect.country_value"
                              [storedName]="storeMultiSelect.country_name"  
                              [field_name] ="'country'"
                              (sendDataEvent)="getChange($event)" 
                              (checkOutsideEvent)="checkmultiselect($event)" 
                              (multidataSelect)="multiselectAll($event)">
                      </app-multi-select> -->
                      <!-- <select formControlName="country_id">
                        <option value="" selected>job location - country</option>
                        <option value="{{country._id}}" *ngFor="let country of allCountries">{{country.name}}</option>
                      </select> -->
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <div class="input_text">
                        <ng-container *ngFor="let city of storeMultiSelect.city_name; index as i;">
                        <span class="selected-span">{{city.length > 10 ? city.slice(0,10)+ '...': city }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'city')"></i></span></span>
                        </ng-container>
                        <span class="dropdown-search">
                         <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="city" placeholder="Select City" (click)="getOnchangeEvent('city')">
                            <app-multi-select *ngIf="cityDiv" 
                                  [mainDataArray]="cityArray"
                                  [storedValue]="storeMultiSelect.city_value"
                                  [storedName]="storeMultiSelect.city_name"  
                                  [field_name] ="'city'"
                                  (sendDataEvent)="getChange($event)" 
                                  (checkOutsideEvent)="checkmultiselect($event)" 
                                  (multidataSelect)="multiselectAll($event)">
                                </app-multi-select>
                        </span>
                      </div>
                       <!-- <input type="text" readonly="true" class="degree"  autocomplete="off" name="city" placeholder="Select City" formControlName="city_id" (click)="getOnchangeEvent('city')">
                          <app-multi-select *ngIf="cityDiv" 
                                [mainDataArray]="cityArray"
                                [storedValue]="storeMultiSelect.city_value"
                                [storedName]="storeMultiSelect.city_name"  
                                [field_name] ="'city'"
                                (sendDataEvent)="getChange($event)" 
                                (checkOutsideEvent)="checkmultiselect($event)" 
                                (multidataSelect)="multiselectAll($event)">
                          </app-multi-select> -->
                      <!-- <select formControlName="city_id">
                        <option value="" selected>job location - city</option>
                        <option value="{{city._id}}" *ngFor="let city of cities">{{city.name}}</option>
                      </select> -->
                    </div>
                  </div>
                </div>
                <div class="row">                      
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                       <div class="multiselectdropdownOuter">
                          <div class="input-field">
                             <span class="icon industryIcon"></span>
                             <div class="input_text">
                              <ng-container *ngFor="let industry of storeMultiSelect.industries_name; index as i;">
                                <span class="selected-span">{{industry.length > 10 ? industry.slice(0,10)+ '...': industry}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'industry')"></i></span></span>
                              </ng-container>
                                <span class="dropdown-search">
                                 <input type="text" class="degree multiselect-text-input"  autocomplete="off" name="industries" placeholder="Select Industry" (click)="getOnchangeEvent('industries')">
                                 <app-multi-select *ngIf="industriesDiv" 
                                 [mainDataArray]="industries"
                                 [storedValue]="storeMultiSelect.industries_value"
                                 [storedName]="storeMultiSelect.industries_name"  
                                 [field_name] ="'industries'"
                                 (sendDataEvent)="getChange($event)" 
                                 (checkOutsideEvent)="checkmultiselect($event)" 
                                 (multidataSelect)="multiselectAll($event)">                                 
                                 </app-multi-select>
                               </span>
                             </div>
                             <!-- <input type="text" class="degree"  autocomplete="off" name="industries" placeholder="Select Industry" formControlName="industry_id" (click)="getOnchangeEvent('industries')">
                             <app-multi-select *ngIf="industriesDiv" 
                             [mainDataArray]="industries"
                             [storedValue]="storeMultiSelect.industries_value"
                             [storedName]="storeMultiSelect.industries_name"  
                             [field_name] ="'industries'"
                             (sendDataEvent)="getChange($event)" 
                             (checkOutsideEvent)="checkmultiselect($event)" 
                             (multidataSelect)="multiselectAll($event)">                                 
                             </app-multi-select> -->
                          </div>
                       </div>
                    </div>
                  </div>                     
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <div class="multiselectdropdownOuter">
                          <div class="input-field">
                            <span class="icon industryIcon"></span>
                              <div class="input_text">
                                <ng-container *ngFor="let department of storeMultiSelect.department_name; index as i;">
                                  <span class="selected-span">{{department.length > 10 ? department.slice(0,10)+ '...': department}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'departments')"></i></span></span>
                                </ng-container>
                                <span class="dropdown-search">  
                                  <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="departments" placeholder="Current Department / Functional area" (click)="getOnchangeEvent('departments')" size="100">
                                    <app-multi-select *ngIf="departmentDiv" 
                                                   [maxLength]="5"
                                                   [mainDataArray]="departmentData" 
                                                   [storedValue]="storeMultiSelect.department_value"
                                                   [storedName]="storeMultiSelect.department_name" 
                                                   [field_name] ="'departments'"
                                                   (sendDataEvent)="getChange($event)" 
                                                   (checkOutsideEvent)="checkmultiselect($event)" 
                                                   (multidataSelect)="multiselectAll($event)">                                 
                                    </app-multi-select>
                                  </span>
                                </div>  
                          </div>
                        </div>
                      <!-- <span class="icon employeeIcon"></span>
                      <select formControlName="department_id">
                        <option value="" selected>Select Department</option>
                        <option value="{{department._id}}" *ngFor="let department of departments">{{department.name}}</option>
                       
                      </select> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="part-sec">
                <h3>Work Experience</h3>
                <div class="row">                      
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon experienceIcon"></span>
                      <select formControlName="min_experiance">
                        <option value="" selected >Minimum Experience</option>
                        <option value="{{expr._id}}" *ngFor="let expr of experiance">{{expr.name}} Years</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon experienceIcon"></span>
                      <select formControlName="max_experiance">
                        <option value="" selected >Maximum Experience</option>
                        <option value="{{expr._id}}" *ngFor="let expr of experiance">{{expr.name}} Years</option>
                      </select>
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="part-sec">
                  <h3>Expected Salary</h3>
                  <div class="row"> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="radioOuterSec">
                         <label>
                           <input name="salary_type" formControlName="salary_type" type="radio" value="hourly" />
                           <span>Hourly</span>
                         </label>
                         <label>
                           <input name="salary_type" formControlName="salary_type" type="radio" value="weekly"/>
                           <span>Weekly</span>
                         </label>
                         <label>
                           <input name="salary_type" formControlName="salary_type" type="radio" value="monthly"/>
                           <span>Monthly</span>
                         </label>
                      </div>
                    </div> 
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon payDtlAmtIcon"></span>
                        <select formControlName="currency">
                          <option value="" selected>Select Currency</option>
                          <option value="{{currency.value[0]._id}}" *ngFor="let currency of all_currency | keyvalue">{{currency.key}} ({{currency.value[0].currency_code}})</option>
                        </select>
                      </div>
                    </div>                    
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon salaryIcon"></span>
                        <input id="min_monthly_salary" type="number" class="validate" formControlName="min_monthly_salary" min="1">
                        <label for="min_monthly_salary" [ngClass]="{'active':advSearchForm.get('min_monthly_salary').value}">Min Salary</label>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon salaryIcon"></span>
                        <input id="max_monthly_salary" type="number" class="validate" formControlName="max_monthly_salary" min="1">
                        <label for="max_monthly_salary" [ngClass]="{'active':advSearchForm.get('max_monthly_salary').value}">Max Salary</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="submitOuter">
                  <button (click)="searchJobs()" data-dismiss="modal" type="submit">Search</button>
                </div>
          </div>   
          </form>       
        </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>