<header class="viewHeader" [ngStyle]="{'background-color': carrerData ? carrerData.header_color:''}">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="logoContainer">
          <a href="javascript:void(0)"><img src="{{(carrerData && carrerData.company_logo) ? carrerData.company_logo : 'assets/images/logo.png'}}" alt="logo"></a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- START COMPANY ABOUT SECTION -->
<section class="companyAbout">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="companyAboutInner" [ngStyle]="{'background-color': carrerData ? carrerData.background_color : ''}">
                    <h2 class="headerClass">{{carrerData ? carrerData.page_headline:''}}</h2>
                    <p [ngStyle]="{'color': carrerData ? carrerData.text_color:''}" [innerHTML]="carrerData?.about_company"></p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END COMPANY ABOUT SECTION -->
<!-- START COMPANY INFO SECTION -->
<section class="companyInfoSection">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
              <h5>Office Address</h5>
                <div class="viewAddress">
                    {{carrerData ? carrerData.contact_info : ''}}
                </div>
                <div class="viewMapOuter">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.7509008538145!2d88.35173111425935!3d22.551002185193916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0277170dafffff%3A0x3d8bdb410c933fe7!2sB.S.B.+INTERNATIONAL+CAREER+PVT.+LTD!5e0!3m2!1sen!2sin!4v1551784996607" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="jobOpeningOuter">
                    <h5>Current Opening 
                    <span class="totalJob">{{count_opening_jobs}} Jobs</span></h5>
                    <ul>
                        <li *ngFor="let job of employer_jobs"><a href="javascript:void(0)" [routerLink]="['/job-details','job-post',job._id]">{{job.job_title}}</a></li>
                        <li class="viewAll"><a href="javascript:void(0)" [routerLink]="['/search-job-listing']" [queryParams]="{searchemployerjobs:carrerData ? carrerData.user_id:''}">View All Jobs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END COMPANY INFO SECTION -->
<!-- START COMPANY PHOTO -->
<section class="companyPhoto">
  <div class="container">
    <div class="row">
        <ng-container *ngFor="let image of galleries.previews; index as i;">
	        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
	            <div class="photoInner">
	                <img src="{{image.url}}">
	            </div>
	        </div>
	     </ng-container>
    </div>
  </div>
</section>
<!-- END COMPANY PHOTO -->
<footer [ngStyle]="{'background-color': carrerData ? carrerData.footer_color :''}">
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 col-xs-12">
          <div class="ftrlink"><a href="javascript:void(0);" routerLink="legal/user-agreement" target="_blank">User Agreement</a>  <a href="javascript:void(0);" routerLink="legal/privacy-policy" target="_blank">Privacy Policy</a> <a href="javascript:void(0);" routerLink="legal/terms-conditions" target="_blank">Terms And Conditions</a>  <a href="javascript:void(0);" routerLink="legal/cookie-policy" target="_blank">Cookie Policy</a></div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <div class="copyrightPara">
            <p>&copy; {{currentYear}}. All rights reserved. Developed by <a href="javascript:void()" target="_blank">bsbstaffing.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>