<section class="registrationForm employerInnerSection commSearchBy">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="registrationFormOuter">
          <h2 class="pageTitle">Search By {{categoryType}}</h2>
          <div class="commsearchField">
            <span class=""><img src="assets/images/search.png" alt="search"></span>
            <input type="text" name="" [(ngModel)]="searchInput" (ngModelChange)="searchData($event)" placeholder="Please Search Here">
            <div class="col-md-12 col-sm-12 col-xs-12">
              
              <ul class="alphabet">
                <ng-container *ngFor="let alphaChar of alphaArr">
                <li><a href="javascript:void(0)" (click)="dataShowByAlpha(alphaChar)">{{alphaChar}}</a></li>
                </ng-container>
              </ul>
              
            </div>
          </div>
  
          <div class="searchListOuter">
            <ul class="{{categoryType}}">
              <ng-container *ngIf="category =='city'">
                  <li *ngFor="let result of resultList; index as i" id="{{getAlphaid(result.name,i)}}">
                  <a href="javascript:void(0)" [routerLink]="['/search-job-listing']" [queryParams]="{ search_location: result.name }"> {{result.name}}({{result.total_count}})</a>
                </li>
              </ng-container>
              <ng-container *ngIf="category =='industry'">
                  <li *ngFor="let result of resultList; index as i" id="{{getAlphaid(result.name,i)}}"><a href="javascript:void(0)" [routerLink]="['/search-job-listing']" [queryParams]="{ search_industry: result.name }"> {{result.name}}({{result.total_count}})</a></li>
              </ng-container>
              
            </ul>
          </div>
          <div id="add_moreDiv">
            
          </div>
        </div>
      </div>
    </div>
    <a class="scrolltotop" href="javascript:void(0)" (click)="scroleToTop()"></a>
  </div>
</section>
