/* .searchListOuter ul{    column-count:1;  -webkit-column-count:1;}
.searchListOuter ul li{ display: inline-block; width: 24%;}


@media (max-width:1023px){
    .searchListOuter ul li{ display: inline-block; width: 32%;}
}
@media (max-width:767px){
    .searchListOuter ul li{ display: inline-block; width: 49%;}
}
@media (max-width:479px){
    .searchListOuter ul li{ display: inline-block; width: 100%;}
} */