<!-- START REGISTRATION FORM -->
      <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h2 class="pageTitle">Application Received</h2>
              <div class="receivedappOuter">
                <div class="row"> 
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="radioOuterSec">
                      <label>
                        <input name="group1" value="free_job_post" type="radio" (change)="applicationType($event)" checked="" />
                        <span>Free Job</span>
                      </label>
                      <label>
                        <input name="group1" value="premium_job_post" type="radio" (change)="applicationType($event)"/>
                        <span>Premium Job</span>
                      </label>
                      <label>
                        <input name="group1" value="local_walk_in" type="radio" (change)="applicationType($event)"/>
                        <span>Local Walk-in</span>
                      </label>
                      <label>
                        <input name="group1" value="international_walk_in" type="radio" (change)="applicationType($event)" />
                        <span>International Walk-in</span>
                      </label>
                      <label>
                        <input name="group1" value="international_free_job" type="radio" (change)="applicationType($event)" />
                        <span>International Free Job</span>
                      </label>
                      <label>
                        <input name="group1" value="international_premium_job" type="radio" (change)="applicationType($event)" />
                        <span>International Premium Job </span>
                      </label>
                      <!-- <label>
                        <input name="group1" value="mass_mail" type="radio" (change)="applicationType($event)"/>
                        <span>From Mass Mail</span>
                      </label> -->
                    </div>
                  </div>  
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="prevDropdown">
                      <h6>Job Title</h6>
                      <div class="input-field">
                        <select (change)="jobByTitle($event.target.value)">
                          <option value="" selected>Select Job Title</option>		
                          <option value="{{title._id}}" *ngFor="let title of posted_jobs">{{title.job_title}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="postedjobOuter">

                <!-- Job posted list -->
                <div class="postedjobTable jobapplicationTable" *ngIf="current_selected_option == 'free_job_post' || current_selected_option == 'premium_job_post' ">
                  <div class="postedjobRow">
                    <div class="postedjobCol postedjobHead">
                      <p>Application Id</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Job Id</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Job Title</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Name</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Applied Dt</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>CV Link</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Status</p>
                    </div>
                    <!-- <div class="postedjobCol postedjobHead">
                      <p>View Notes</p>
                    </div> -->
                    <div class="postedjobCol postedjobHead">
                      <p>Action</p>
                    </div>
                  </div>
                  <div *ngIf="count_data > 0">
                  	<ng-container *ngFor = "let job of applied_list_jobs">
  	                  <div class="postedjobRow">
  	                    <div class="postedjobCol">
  	                      <p title="{{job?.bsb_jb_app_id}}" class="dottedp">{{job?.bsb_jb_app_id}}</p>
  	                    </div>
  	                    <div class="postedjobCol">
  	                      <p class="dottedp" title="{{job?.job?.bsb_jb_trans_id}}">{{job?.job?.bsb_jb_trans_id}}</p>
  	                    </div>
                        <div class="postedjobCol">
                          <p>{{job?.job?.job_title}}</p>
                        </div>
  	                    <div class="postedjobCol">
  	                      <p>{{job.employee_profile.user_detail.name}}</p>
  	                    </div>
  	                    <div class="postedjobCol emailInfo">
  	                      <p>{{job?.applied_date | date}}</p>
  	                    </div>
  	                    <div class="postedjobCol">
  	                      <p><a target="_blank" href="{{job.employee_profile.cv}}">Click Here</a></p>
  	                    </div>
  	                    <div class="postedjobCol">
  	                      <p>{{job.applied_status.phase_name}}</p>
  	                    </div>
                        <!-- <div class="postedjobCol">
                          <p><a href="javascript:void(0)" data-toggle="modal" data-target="#notehistoryModal" (click)='specialNoteHistory("job",job.id)'>View Notes</a></p>
                        </div> -->
  	                    <div class="postedjobCol">
  	                      <a href="javascript:void(0)" [routerLink]="['/employer/application-edit','job', job.id]" title="edit"><img src="assets/images/pencilIcon.png"></a>
  	                      <a href="javascript:void(0)" (click)="likeProfile(job.employee_profile.id)" title="Like Employee Profile"><img src="assets/images/like.png"></a>
  	                    </div>
  	                  </div>
              			</ng-container>
              		</div>
                  <div class="postedjobRow" *ngIf="count_data == 0">
                    <div class="postedjobCol">
                      <p style="text-align: center;" class="nodata">No Data Available</p>
                    </div>
                  </div>
            			<!-- <div *ngIf="count_data == 0">No results found</div> -->
                </div>

                <!-- <div class="table-responsive">
                  <table class="table testtable">
                    <tr>
                      <th><p>Application Id</p></th>
                      <th><p>Job Id</p></th>
                      <th><p>Name</p></th>
                      <th><p>Email</p></th>
                      <th><p>CV Link</p></th>
                      <th><p>Status</p></th>
                      <th><p>Action</p></th>
                    </tr>
                    <tr>
                      <td><p>5dfa2f087c78e010d05996f2</p></td>
                      <td><p>5dfa20377c78e010db080d03</p></td>
                      <td><p>Palash Bhunia</p></td>
                      <td><p>palash@gmail.com</p></td>
                      <td><p><a href="#">Click Here</a></p></td>
                      <td><p>Phone Screened</p></td>
                      <td><p>
                        <a href="javascript:void(0)"  title="edit"><img src="assets/images/pencilIcon.png"></a>
                        <a href="javascript:void(0)"  title="Like Employee Profile"><img src="assets/images/like.png"></a></p>
                      </td>
                    </tr>
                  </table>
                </div> -->

                <!--International Job posted list -->
                <div class="postedjobTable jobapplicationTable" *ngIf="current_selected_option == 'international_free_job' || current_selected_option == 'international_premium_job' ">
                  <div class="postedjobRow">
                    <div class="postedjobCol postedjobHead">
                      <p>Application Id</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Job Id</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Job Title</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Name</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Applied Date</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>CV Link</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Status</p>
                    </div>
                    <!-- <div class="postedjobCol postedjobHead">
                      <p>View Notes</p>
                    </div> -->
                    <div class="postedjobCol postedjobHead">
                      <p>Action</p>
                    </div>
                  </div>
                  <div *ngIf="count_international_job > 0">
                    <ng-container *ngFor = "let job of applied_interntional_jobs_list">
                      <div class="postedjobRow">
                        <div class="postedjobCol">
                          <p title="{{job?.bsb_jb_app_id}}" class="dottedp">{{job?.bsb_jb_app_id}}</p>
                        </div>
                        <div class="postedjobCol">
                          <p class="dottedp" title="{{job?.job?.bsb_jb_trans_id}}">{{job?.job?.job_title}}</p>
                        </div>
                        <div class="postedjobCol">
                          <p class="dottedp" title="{{job?.job?.bsb_jb_trans_id}}">{{job?.job?.bsb_jb_trans_id}}</p>
                        </div>
                        <div class="postedjobCol">
                          <p>{{job.employee_profile.user_detail.name}}</p>
                        </div>
                        <div class="postedjobCol">
                          <p>{{job.applied_date | date}}</p>
                        </div>
                        <div class="postedjobCol">
                          <p><a target="_blank" href="{{job.employee_profile.cv}}">Click Here</a></p>
                        </div>
                        <div class="postedjobCol">
                          <p>{{job.applied_status.phase_name}}</p>
                        </div>
                        <!-- <div class="postedjobCol">
                          <p><a href="javascript:void(0)" data-toggle="modal" data-target="#notehistoryModal" (click)='specialNoteHistory("job",job.id)'>View Notes</a></p>
                        </div> -->
                        <div class="postedjobCol">
                          <a href="javascript:void(0)" [routerLink]="['/employer/application-edit','international-job', job._id]" title="edit"><img src="assets/images/pencilIcon.png"></a>
                          <a href="javascript:void(0)" (click)="likeProfile(job.employee_profile.id)" title="Like Employee Profile"><img src="assets/images/like.png"></a>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="postedjobRow" *ngIf="count_international_job == 0">
                    <div class="postedjobCol">
                      <p style="text-align: center;" class="nodata">No Data Available</p>
                    </div>
                  </div>
                  <!-- <div *ngIf="count_data == 0">No results found</div> -->
                </div>               

                <!--Walkin Interview list -->
                <div class="postedjobTable jobapplicationTable" *ngIf="current_selected_option == 'local_walk_in' || current_selected_option == 'international_walk_in' ">
                  <div class="postedjobRow">
                    <div class="postedjobCol postedjobHead">
                      <p>Application Id</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Walk-in Id</p>
                    </div>
                     <div class="postedjobCol postedjobHead">
                      <p>Walk-in Title</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Name</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Applied Date</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>CV Link</p>
                    </div>
                    <!--<div class="postedjobCol postedjobHead">
                      <p>Status</p>
                    </div> -->
                    <div class="postedjobCol postedjobHead">
                      <p>Action</p>
                    </div>
                  </div>
                  <div *ngIf="count_data_walk_in > 0">
                    <ng-container *ngFor = "let walkin of applied_walk_in_list">
                      <div class="postedjobRow">
                        <div class="postedjobCol">
                          <p title="{{walkin.id}}" class="dottedp">{{walkin?.bsb_jb_app_id ? walkin?.bsb_jb_app_id: walkin.id}}</p>
                        </div>
                        <div class="postedjobCol">
                          <p class="dottedp" title="{{walkin.interview._id}}">{{walkin?.job?.bsb_jb_trans_id ? walkin?.job?.bsb_jb_trans_id : walkin.interview._id}}</p>
                        </div>
                        <div class="postedjobCol">
                          <p>{{walkin?.interview?.job_title}}</p>
                        </div>
                        <div class="postedjobCol">
                          <p>{{walkin.employee_profile.user_detail.name}}</p>
                        </div>
                        <div class="postedjobCol">
                          <p>{{walkin.created_at | date}}</p>
                        </div>
                        <div class="postedjobCol">
                          <p><a target="_blank" href="{{walkin.employee_profile? walkin.employee_profile.cv :''}}">Click Here</a></p>
                        </div>
                        <!--<div class="postedjobCol">
                          <p>{{walkin.applied_status.phase_name}}</p>
                        </div> -->
                        <div class="postedjobCol">
                          <a href="javascript:void(0)" [routerLink]="['/employer/application-edit','walk-in', walkin.id]" title="edit"><img src="assets/images/pencilIcon.png"></a>
                          <a href="javascript:void(0)" (click)="likeProfile(job.employee_profile.id)" title="Like Employee Profile"><img src="assets/images/like.png"></a>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="postedjobRow" *ngIf="count_data_walk_in == 0">
                    <div class="postedjobCol">
                      <p style="text-align: center;" class="nodata">No Data Available</p>
                    </div>
                  </div>
                  <!-- <div *ngIf="count_data_walk_in == 0">No results found</div> -->
                </div>
                <div class="postedjobRow" *ngIf="current_selected_option == 'mass_mail'">
                    <div class="postedjobCol">
                      <p style="text-align: center;" class="nodata">No Data Available</p>
                    </div>
                  </div>
                
                <ul class="pagination">
                  <li [ngClass]="{'current': i== active_page}" *ngFor="let page_no of pagination(); index as i;"><a href="javascript:void(0)"  (click)="paginationCall(i)">{{page_no}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END REGISTRATION FORM -->
    <!-- CV History Modal -->
    <div class="modal cmnsocialmodal generalModal" id="notehistoryModal">
      <!-- <div class="modal-dialog"> -->
        <div class="modal-content"> 
          <div class="modal-header">
            <h4 class="modal-title">Special Note History</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="set_employee_id=''">&times;</button>
          </div> 
          <div class="modal-body">
            <div>
              <ul class="recentactivity">
                <ng-container *ngIf="application_history.length">
                  <ng-container *ngFor="let history of application_history;index as i">
                    <li class="activity">
                        {{i+1}} - {{history.employer_comment}} on {{history.hist_date}}
                    </li>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="!application_history.length">
                  No History available .
                </ng-container>
                
              </ul>
            </div>
          </div> 
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div> 
        </div>
      <!-- </div> -->
    </div>