<!-- START REGISTRATION FORM -->
      <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h2 class="pageTitle">Recent Posted Job</h2>
              <div class="postedjobOuter">
                <div class="postedjobTable">
                  <div class="postedjobRow">
                    <div class="postedjobCol postedjobHead">
                      <p>Job</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Created</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Expiry</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Republish</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Location</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>CV Reviewed</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Views</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Action</p>
                    </div>
                  </div>
                  <div class="postedjobRow" *ngFor="let job of pagedItems; index as i;">
                    <div class="postedjobCol">
                      <p><a href="#" class="jobLink">{{job.job_title}}</a></p>
                    </div>
                    <div class="postedjobCol">
                      <p>{{job.created_at}}</p>
                    </div>
                    <div class="postedjobCol">
                      <p>{{job.created_at}}</p>
                    </div>
                    <div class="postedjobCol">
                      <p *ngIf="!job.select"><a href="javascript:void(0)" class="republish">Republish</a></p>
                      <p *ngIf="job.select"><a href="javascript:void(0)" class="republish disabled">Published</a>
                    </div>
                    <div class="postedjobCol">
                      <p>{{job.country.name}}</p>
                    </div>
                    <div class="postedjobCol">
                      <p><a href="javascript:void(0)">{{job.applied_job_count}}</a></p>
                    </div>
                    <div class="postedjobCol">
                      <p>{{job.job_views}}</p>
                    </div>
                    <div class="postedjobCol">
                      <a href="javascript:void(0)" title="edit" [routerLink]="[job.url, job?._id]" [queryParams]="{ from: 'recent'}"><img src="assets/images/pencilIcon.png"></a>
                      <a href="javascript:void(0)" title="remove" (click)="deleteJob(job._id, i)"><img src="assets/images/cancel.png"></a>
                      <div class="switch">
                        <label>
                          <input type="checkbox" [(ngModel)]="job.select" value="{{job._id}}" name="check_active_{{job._id}}" (ngModelChange)="setStatus($event, job._id)">
                          <span class="lever"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="postedjobRow" *ngIf="!pagedItems.length">
                    <div class="postedjobCol">
                      <p style="text-align: center;">No Data Available</p>
                    </div>
                  </div>

               <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                  <li [ngClass]="{disabled:pager.currentPage === 1}"><a
                  (click)="setPage(1)"></a></li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}"><a
                            (click)="setPage(pager.currentPage - 1)"></a></li>
                    <li *ngFor="let page of pager.pages"
                            [ngClass]="{active:pager.currentPage === page}"><a
                            (click)="setPage(page)">{{page}}</a></li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.currentPage + 1)"></a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.totalPages)"></a>
                    </li>
                </ul>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END REGISTRATION FORM -->