.desktopVersion .companyAbout {
    padding: 0px 0 50px 0;
}
.smartphone1 .viewHeader .logoContainer img{
    max-height: 45px;
    object-fit: cover;
}
.smartphone1 .content{
	overflow: auto;
}
.smartphone1 .viewHeader{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
}
.smartphone1 .companyAbout h2{
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 20px 0;
}
.smartphone1 .companyAbout {
    padding: 70px 0 20px 0;
}
.smartphone1 .companyInfoSection {
    padding: 0 0 20px 0;
}
.smartphone1 .companyPhoto {
    padding: 30px 0 0px 0;
}
.smartphone1 .copyright ul {
    margin: 0 0 10px 0;
    text-align: center;
}
.smartphone1 .copyrightPara {
    text-align: center;
}
.smartphone1 .copyright{
	background: transparent;
}
.tablet {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}
.logoContainer a img{
    max-height: 70px;
    object-fit: cover;
}
.tablet .companyAbout{
    padding: 0px 0 20px 0;
}
.tablet .companyAbout h2 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 0 0 20px 0;
}
.tablet .viewAddress{
    margin: 0 0 15px 0;
}
.tablet .content{
    width: 725px;
}
.tablet .viewMapOuter{
    margin: 0 0 15px 0;
}
.viewAddress{
    line-height: 30px;
}

.activeThemeLink{
    color: #000000;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 15px;
    background: #d4c8c8;
}
.customiseInput textarea{
    /*white-space: pre;*/
    height: 100px !important;
    overflow: hidden;
    direction: ltr;
    text-overflow: ellipsis;
    /*width: calc(100% - 100px);*/
    resize: none;
    padding: 6px;
}