  <!-- START REGISTRATION FORM -->
      <div class="desktopVersionTop" [ngClass]="headerSection ? 'desktopVersionTopOpen' : ''">
          <div class="desktopVersionTopLeft">
            <p>Share your jobs</p>              
            <!-- <ul class="linkShare">
              <li><a href="javascript:void(0)"><img src="assets/images/facebook.png"></a></li>
              <li><a href="javascript:void(0)"><img src="assets/images/linkedin.png"></a></li>
              <li><a href="javascript:void(0)"><img src="assets/images/twitter.png"></a></li>
            </ul> -->
            <div class="copyLinkOuter">
              <input type="text" name="" value="{{carrer_url}}" #carrerurl readonly>
              <button type="button" (click)="copyUrl(carrerurl)">Copy Link</button>
            </div>
          </div>
          <div class="desktopVersionTopRight">
            <a href="javascript:void(0)" class="desktopCross" (click)="closeVersion('desktop')"><img src="assets/images/cancel-white.png" alt="cancel"></a>
          </div>
      </div>
      <div class="desktopVersionOuter" [ngClass]="desktopVersion ? 'desktopVersionOpen' : ''">
        <div class="desktopVersionInner">
          <div class="desktopVersion">
            <!-- START HEADER -->
            <header class="viewHeader" [ngStyle]="{'background-color': carrerForm.get('header_color').value}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="logoContainer">
                                <a href="javascript:void(0)"><img src="{{companyUploadLogoImage ? companyUploadLogoImage: carrerForm.get('company_logo').value}}" alt="logo"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER -->
            <!-- START COMPANY ABOUT SECTION -->
            <section class="companyAbout">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="companyAboutInner" [ngStyle]="{'background-color': carrerForm.get('background_color').value}">
                                <h2 class="headerClass">{{carrerForm.get('page_headline').value}}</h2>
                                <p [ngStyle]="{'color': carrerForm.get('text_color').value}" [innerHTML]="about_company"></p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COMPANY ABOUT SECTION -->
            <!-- START COMPANY INFO SECTION -->
            <section class="companyInfoSection">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                          <div class="viewAddOuter">
                            <h5>Office Address</h5>
                              <div class="viewAddress">
                                  <!-- <h5>B. S. B. INTERNATIONAL CAREER PVT. LTD.</h5> 
                                  <p>ISO 9001:2015 Certified Organization</p>
                                  <h5>Corporate Office:</h5>
                                  <p>Suite No - 31, Ground Floor,24, Park Street,
                                  Park Centre, Kolkata 700016,India.</p> -->
                                  {{carrerForm.get('contact_info').value}}
                              </div>
                            </div>
                            <div class="viewMapOuter">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.7509008538145!2d88.35173111425935!3d22.551002185193916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0277170dafffff%3A0x3d8bdb410c933fe7!2sB.S.B.+INTERNATIONAL+CAREER+PVT.+LTD!5e0!3m2!1sen!2sin!4v1551784996607" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="jobOpeningOuter">
                              <h5>Current Opening 
                              <span class="totalJob">{{count_opening_jobs}} Jobs</span></h5>
                              <ul>
                                  <li *ngFor="let job of employer_jobs">{{job.job_title}}</li>
                                  <li class="viewAll"><a href="javascript:void(0)">View All Jobs</a></li>
                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COMPANY INFO SECTION -->
            <!-- START COMPANY PHOTO -->
            <section class="companyPhoto">
                <div class="container">
                    <div class="row">
                      <ng-container *ngFor="let image of galleries.previews; index as i;">
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="photoInner">
                                <img src="{{image.url}}">
                            </div>
                        </div>
                      </ng-container>
                        
                    </div>
                </div>
            </section>
            <!-- END COMPANY PHOTO -->
            <!-- START FOOTER -->
              <!-- <footer>
                <div class="copyright">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-5 col-sm-12 col-xs-12">
                        <ul class="social">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-7 col-sm-12 col-xs-12">
                        <div class="copyrightPara">
                          <p>&copy; 2018. All rights reserved. Developed by <a href="#" target="_blank">Pixel Solutionz</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </footer> -->
            <!-- START FOOTER -->
          </div>
        </div>
      </div>
      <div class="tabletOuter" [ngClass]="tabletVersion ? 'tabletOuterOpen' : ''">
        <div class="tablet">
          <div class="content">
            <section class="viewHeader" [ngStyle]="{'background-color': carrerForm.get('header_color').value}">
              <div class="container">
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="logoContainer">
                      <a href="javascript:void(0)"><img src="{{companyUploadLogoImage ? companyUploadLogoImage: carrerForm.get('company_logo').value}}" alt="logo"></a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- START COMPANY ABOUT SECTION -->
            <section class="companyAbout">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="companyAboutInner" [ngStyle]="{'background-color': carrerForm.get('background_color').value}">
                                <h2 class="headerClass">{{carrerForm.get('page_headline').value}}</h2>
                                <p [ngStyle]="{'color': carrerForm.get('text_color').value}" [innerHTML]="about_company"></p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COMPANY ABOUT SECTION -->
            <!-- START COMPANY INFO SECTION -->
            <section class="companyInfoSection">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                          <h5>Office Address</h5>
                            <div class="viewAddress">
                                <!-- <h5>B. S. B. INTERNATIONAL CAREER PVT. LTD.</h5> 
                                <p>ISO 9001:2015 Certified Organization</p>
                                <h5>Corporate Office:</h5>
                                <p>Suite No - 31, Ground Floor,24, Park Street,
                                Park Centre, Kolkata 700016,India.</p> -->
                                {{carrerForm.get('contact_info').value}}
                            </div>
                            <div class="viewMapOuter">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.7509008538145!2d88.35173111425935!3d22.551002185193916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0277170dafffff%3A0x3d8bdb410c933fe7!2sB.S.B.+INTERNATIONAL+CAREER+PVT.+LTD!5e0!3m2!1sen!2sin!4v1551784996607" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="jobOpeningOuter">
                                <h5>Current Opening 
                                <span class="totalJob">{{count_opening_jobs}} Jobs</span></h5>
                                <ul>
                                    <li *ngFor="let job of employer_jobs">{{job.job_title}}</li>
                                    <li class="viewAll"><a href="javascript:void(0)">View All Jobs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COMPANY INFO SECTION -->
            <!-- START COMPANY PHOTO -->
            <section class="companyPhoto">
              <div class="container">
                <div class="row">
                  <ng-container *ngFor="let image of galleries.previews; index as i;">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="photoInner">
                            <img src="{{image.url}}">
                        </div>
                    </div>
                  </ng-container>
                    
                </div>
              </div>
            </section>
            <!-- END COMPANY PHOTO -->
            <footer [ngStyle]="{'background-color': carrerForm.get('footer_color').value}">
              <div class="copyright">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="copyrightPara">
                        <p>&copy; 2018. All rights reserved. Developed by <a href="#" target="_blank">Pixel Solutionz</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
      <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="careerSection">
                <!-- <ul class="searchList">
                  <li><a href="#" class="blutBtn">More About BSB International PVT LMT.</a></li>
                </ul> -->
                <ul class="nav nav-tabs" id="careerTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="hostedTab" data-toggle="tab" href="#hosted" role="tab" aria-controls="hosted" aria-selected="true">Bsb Hosted</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="snippetTab" data-toggle="tab" href="#snippet" role="tab" aria-controls="snippet" aria-selected="false">Snippet</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="wordpressTab" data-toggle="tab" href="#wordpress" role="tab" aria-controls="wordpress" aria-selected="false">Wordpress Plugin</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" id="facebookTab" data-toggle="tab" href="#facebook" role="tab" aria-controls="facebook" aria-selected="false">Facebook Plugin</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="linkedinTab" data-toggle="tab" href="#linkedin" role="tab" aria-controls="linkedin" aria-selected="false">Linkedin Plugin</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="emailTab" data-toggle="tab" href="#email" role="tab" aria-controls="email" aria-selected="false">Email Plugin</a>
                  </li> -->
                </ul>
                <div class="tab-content" id="careerTabContent">
                  <div class="tab-pane fade show active" id="hosted" role="tabpanel" aria-labelledby="hostedTab">
                    <div class="dashboardBlock" *ngIf="company_name">
                      <h4>Your Career Page is now live. </h4>
                      <h4>Advertise your jobs in your social networks</h4>
                      <p>Share your jobs now on social networks or by email to reach more candidates.</p>
                      <div class="copyLinkOuter">
                        <input type="text" name="" value="{{carrer_url}}" #carrerurl readonly>
                        <button type="button" (click)="copyUrl(carrerurl)">Copy Link</button>
                      </div>
                      <!-- <ul class="linkShare">
                        <li><a href="javascript:void(0)"><img src="assets/images/facebook.png"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/images/linkedin.png"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/images/twitter.png"></a></li>
                      </ul> -->
                    </div>
                    <div class="row">
                      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                        
                        <form [formGroup]="carrerForm">  
                          <h4>Customise Your Career Page</h4>
                          <div class="dashboardBlock">
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <h4>Company Logo</h4>
                              </div>
                              <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="viewOuter">
                                  <a href="employer-recent-postedjob.html">Edit</a>
                                </div>
                              </div> -->
                            </div>
                            <div class="logoUploadOuter">
                              <input type="file" id="logoUpload" #company_logo (change)="companyLogo(company_logo)">
                              <label for="logoUpload" class="cvUploadClass" *ngIf="companyUploadLogoImage =='' && carrerForm.get('company_logo').value == ''"><img src="assets/images/uploadIcon.png" alt="uploadIcon"> Upload Your Logo </label>
                              <label for="logoUpload" class="cvUploadClass show-photo" *ngIf="companyUploadLogoImage != '' || carrerForm.get('company_logo').value !=''"><img src="{{companyUploadLogoImage ? companyUploadLogoImage: carrerForm.get('company_logo').value}}" alt="uploadIcon"></label>
                            </div>
                            <div class="logoRemove">
                              <input type="file" name="" id="logoreplace" #logoreplace (change)="logoReplace(logoreplace)">
                              <label for="logoreplace" class="cvUploadClass"><img src="assets/images/changeIcon.png" alt="uploadIcon"> Replace </label>
                              <a href="javascript:void(0)" (click)="removeCompanyLogo()"><img src="assets/images/cancel.png"> Remove </a>
                            </div>

                            <span *ngIf="!carrerForm.controls.company_logo.valid && submitted"
                                  class="form-error">Please Uploade Your logo</span>
                            <span *ngIf="imgErrmsg"
                                  class="form-error">{{imgErrmsg}}</span>
                          </div>
                          <div class="dashboardBlock">
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <h4>Theme Colors</h4>
                              </div>
                              <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="viewOuter">
                                  <a href="employer-recent-postedjob.html">Edit</a>
                                </div>
                              </div> -->
                            </div>
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="customiseInput">
                                  <label>Header Color</label>
                                  <input type="text" formControlName="header_color" (click)="showColorPicker('header_color')" name="header_color">
                                  <span *ngIf="(carrerForm.get('header_color').touched || carrerForm.get('header_color').dirty)
                          && carrerForm.get('header_color').errors">
                            <span *ngIf="carrerForm.get('header_color').errors.required "
                                  class="form-error">Please Enter Header Color</span>
                            </span>
                                  <app-color-picker *ngIf="showHeaderColor"
                                   [field_name]="'header_color'"
                                   [defaultColor]="'#fff'"
                                   (sendDataEvent)="selectColor($event)"
                                   (checkOutsideEvent)="checkOutSideEvent($event)"
                                   >                                   
                                  </app-color-picker>
                                </div> 
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="customiseInput">
                                  <label>Background Color</label>
                                  <input type="text" formControlName="background_color" (click)="showColorPicker('background_color')" name="background_color">
                                  <span *ngIf="(carrerForm.get('background_color').touched || carrerForm.get('background_color').dirty) && carrerForm.get('background_color').errors"> 
                                    <span class="form-error">Please Enter Valid Background Color</span>
                                  </span>
                                  <app-color-picker *ngIf="showBackgroundColor"
                                   [field_name]="'background_color'"
                                   [defaultColor]="'#c0c4e6'"
                                   (sendDataEvent)="selectColor($event)"
                                   (checkOutsideEvent)="checkOutSideEvent($event)"
                                   >                                   
                                  </app-color-picker>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="customiseInput">
                                  <label>Footer Color</label>
                                  <input type="text" formControlName="footer_color" (click)="showColorPicker('footer_color')" name="footer_color">
                                  <span *ngIf="(carrerForm.get('footer_color').touched || carrerForm.get('footer_color').dirty) && carrerForm.get('footer_color').errors"> 
                                    <span class="form-error">Please Enter Valid Footer Color</span>
                                  </span>
                                  <app-color-picker *ngIf="showFooterColor"
                                   [field_name]="'footer_color'"
                                   [defaultColor]="'#15171e'"
                                   (sendDataEvent)="selectColor($event)"
                                   (checkOutsideEvent)="checkOutSideEvent($event)"
                                   >                                   
                                  </app-color-picker>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="customiseInput">
                                  <label>Text Color</label>
                                  <input type="text" formControlName="text_color" (click)="showColorPicker('text_color')" name="text_color">
                                  <span *ngIf="(carrerForm.get('text_color').touched || carrerForm.get('text_color').dirty) && carrerForm.get('text_color').errors"> 
                                    <span class="form-error">Please Enter Valid Text Color</span>
                                  </span>
                                  <app-color-picker *ngIf="showTextColor"
                                   [field_name]="'text_color'"
                                   [defaultColor]="'#0f1d79'"
                                   (sendDataEvent)="selectColor($event)"
                                   (checkOutsideEvent)="checkOutSideEvent($event)"
                                   >                                   
                                  </app-color-picker>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="dashboardBlock">
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <h4>Custom Content</h4>
                              </div>
                              <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="viewOuter">
                                  <a href="employer-recent-postedjob.html">Edit</a>
                                </div>
                              </div> -->
                            </div>
                            <div class="customiseInput">
                              <label>Career Page Headline</label>
                              <input type="text" (click)="showColorPicker('hjkkj')" formControlName="page_headline" placeholder="">
                              <span *ngIf="(carrerForm.get('page_headline').touched || carrerForm.get('page_headline').dirty) && carrerForm.get('page_headline').errors || submitted && carrerForm.get('page_headline').errors"> 
                                    <span *ngIf="carrerForm.get('page_headline').errors.required " class="form-error">Please Enter Page Headline</span>
                                  </span>
                            </div>
                            <div class="customiseInput">
                              <label>About Your Company</label>
                              <textarea rows="10" formControlName="about_company"></textarea>
                              <span *ngIf="(carrerForm.get('about_company').touched || carrerForm.get('about_company').dirty) && carrerForm.get('about_company').errors || submitted && carrerForm.get('about_company').errors"> 
                                    <span class="form-error">Please Enter About Company</span>
                                  </span>
                            </div>
                          </div>
                          <div class="dashboardBlock">
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <h4>Company Contact Info</h4>
                              </div>
                              <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="viewOuter">
                                  <a href="employer-recent-postedjob.html">Edit</a>
                                </div>
                              </div> -->
                            </div>
                            <div class="customiseInput">
                              <label>Address</label>
                              <textarea rows="10" formControlName="contact_info"></textarea>
                              <span *ngIf="(carrerForm.get('contact_info').touched || carrerForm.get('contact_info').dirty) && carrerForm.get('contact_info').errors || submitted && carrerForm.get('contact_info').errors"> 
                                    <span class="form-error">Please Enter Address</span>
                                  </span>
                            </div>
                          </div>
                          <div class="dashboardBlock">
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <h4>Photos</h4>
                              </div>
                              <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="viewOuter">
                                  <a href="employer-recent-postedjob.html">Edit</a>
                                </div>
                              </div> -->
                            </div>
                            <div class="careerImgOuter" >
                              <ng-container *ngFor="let image of galleries.previews; index as i;">
                                
                                <div class="careerImgInner">
                                  <a href="javascript:void(0)" (click)="removeFile(image.id, image.type)" class="jobpostRemove"><img src="assets/images/cancel.png"></a>
                                  <img src="{{image.url}}">
                                </div>
                              </ng-container>
                              <!-- <div class="careerImgInner">
                                <img src="assets/images/careerImg.png">
                              </div>
                              <div class="careerImgInner">
                                <img src="assets/images/careerImg.png">
                              </div>
                              <div class="careerImgInner">
                                <img src="assets/images/careerImg.png">
                              </div> -->
                              <div class="careerImgInner" *ngIf="galleries.previews.length < 5">
                                <input type="file" id="careerImgAdd" #imageInput (change)="processFile(imageInput)">
                                <label for="careerImgAdd"><img src="assets/images/add.png"></label>
                              </div>
                            </div>
                          </div>
                          <div class="careerSave">
                            <button type="button" class="blueBtn" (click)="saveCarrer()">Save</button>
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="smartphone1" [ngClass]="mobileVersion ? 'smartphone1Open' : ''">
                          <div class="content">
                            <section class="viewHeader" [ngStyle]="{'background-color': carrerForm.get('header_color').value}">
                              <div class="container">
                                <div class="row">
                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="logoContainer">
                                      <a href="javascript:void(0)"><img src="{{companyUploadLogoImage ? companyUploadLogoImage: carrerForm.get('company_logo').value}}" alt="logo"></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                            <!-- START COMPANY ABOUT SECTION -->
                            <section class="companyAbout">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="companyAboutInner" [ngStyle]="{'background-color': carrerForm.get('background_color').value}">
                                                <h2 class="headerClass">{{carrerForm.get('page_headline').value}}</h2>
                                                <p [ngStyle]="{'color': carrerForm.get('text_color').value}" [innerHTML]="about_company"></p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- END COMPANY ABOUT SECTION -->
                            <!-- START COMPANY INFO SECTION -->
                            <section class="companyInfoSection">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                          <h5>Office Address</h5>
                                            <div class="viewAddress">
                                                <!-- <h5>B. S. B. INTERNATIONAL CAREER PVT. LTD.</h5> 
                                                <p>ISO 9001:2015 Certified Organization</p>
                                                <h5>Corporate Office:</h5>
                                                <p>Suite No - 31, Ground Floor,24, Park Street,
                                                Park Centre, Kolkata 700016,India.</p> -->
                                                {{carrerForm.get('contact_info').value}}
                                            </div>
                                            <div class="viewMapOuter">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.7509008538145!2d88.35173111425935!3d22.551002185193916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0277170dafffff%3A0x3d8bdb410c933fe7!2sB.S.B.+INTERNATIONAL+CAREER+PVT.+LTD!5e0!3m2!1sen!2sin!4v1551784996607" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="jobOpeningOuter">
                                                <h5>Current Opening 
                                                <span class="totalJob">{{count_opening_jobs}} Jobs</span></h5>
                                                <ul>
                                                    <li *ngFor="let job of employer_jobs">{{job.job_title}}</li>
                                                    <li class="viewAll"><a href="javascript:void(0)">View All Jobs</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- END COMPANY INFO SECTION -->
                            <!-- START COMPANY PHOTO -->
                            <section class="companyPhoto">
                              <div class="container">
                                <div class="row">
                                  <ng-container *ngFor="let image of galleries.previews; index as i;">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="photoInner">
                                            <img src="{{image.url}}">
                                        </div>
                                    </div>
                                  </ng-container>
                                    
                                </div>
                              </div>
                            </section>
                            <!-- END COMPANY PHOTO -->
                            <footer [ngStyle]="{'background-color': carrerForm.get('footer_color').value}">
                              <div class="copyright">
                                <div class="container">
                                  <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <ul class="social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                      </ul>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="copyrightPara">
                                        <p>&copy; 2018. All rights reserved. Developed by <a href="#" target="_blank">Pixel Solutionz</a></p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </footer>
                          </div>
                        </div>
                        <ul class="viewListing">
                          <li><a href="javascript:void(0)" (click)="viewVersion('desktop')" class="desktopIcon"><img src="assets/images/desktopIcon.png"> View Desktop Version</a></li>
                          <li><a href="javascript:void(0)" (click)="viewVersion('tablet')" class="tabletIcon"><img src="assets/images/tabletIcon.png"> View Tablet Version</a></li>
                          <li><a href="javascript:void(0)" (click)="viewVersion('mobile')" class="mobileIcon"><img src="assets/images/mobileIcon.png"> View Mobile Version</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="snippet" role="tabpanel" aria-labelledby="snippetTab">
                    <div class="dashboardBlock">
                      <h4>Create a Snippet of Career Page</h4>
                      <p>Use this snippet generator to create a job list to place on your website. Simply select a color theme (background is transparent) and adjust the size, then copy and paste the following code on your website. The jobs are synced with your employer account.</p>
                    </div>
                    <div class="dashboardBlock">
                      <h4>Adjust Your Snippet With Theme and Size</h4>
                      <ul class="themeColorList">
                        <li [ngClass]="{'activeThemeLink':!isDark}"><a href="javascript:void(0)" [style.cursor]="isDark?'pointer':'text'" (click)="isDark =false">Light Theme</a></li>
                        <li [ngClass]="{'activeThemeLink':isDark}"><a href="javascript:void(0)"  [style.cursor]="isDark?'text':'pointer'" (click)="isDark =true">Dark Theme</a></li>
                      </ul>
                      <div class="snippetOuter" [style.background-color]="isDark?'#000':''">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <h4>Current openings</h4>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="viewOuter">
                              <span>{{count_opening_jobs}} Jobs</span>
                            </div>
                          </div>
                        </div>
                        <div class="openingSnippetTable">
                          <ng-container *ngFor="let job of employer_jobs;index as i;">
                            <div class="openingSnippetRow">
                              <div class="openingSnippetCol">
                                <p><span>{{job?.job_title}} Salary: {{job?.min_monthly_salary}} Up to {{job?.max_monthly_salary}} PM for {{job?.city?.name}}</span></p>
                              </div>
                              <div class="openingSnippetCol">
                                <p>{{job?.employeer?.user_detail?.zipcode}}</p>
                              </div>
                              <div class="openingSnippetCol">
                                <p>{{job?.employment_type?.name}}</p>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="dashboardBlock">
                      <h4>Insert this code on your website</h4>                      
                      <div class="customiseInput">
                        <!-- <label>Address</label> -->
                        <textarea readonly="true" rows="10" style="height: 51px;" id="copy_snippet"><div class="bsbjobs-widget" data-id="{{employer_id}}" data-theme="{{isDark ?'dark':'light'}}" data-height="320"></div><script> (function(d, id){{'\n'}} { if (d.getElementById(id)) return; var js = d.createElement("script"); js.id = id; js.src = "{{widgetUrl}}/widget.js";{{'\n'}} d.head.appendChild(js);  })(document, "bsbjobs-js");</script></textarea>
                      </div>
                      <button type="button" class="blueBtn" (click)="copyUrl12()">Copy</button>
                    </div>
                  </div>
                  
                  <div class="tab-pane fade" id="wordpress" role="tabpanel" aria-labelledby="wordpressTab">
                    <div class="dashboardBlock">
                      <h4>Create Your Wordpress Plugin</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <h6><strong>Code : </strong>{{employer_id}}</h6>
                      <!-- <img src="assets/images/wordpress.png" alt="">
                      <img src="assets/images/wordpress.png" alt="">
                      <img src="assets/images/wordpress.png" alt=""> -->
                      <div class="submitOuter">
                        <a href="{{widgetUrl}}/shortcode-create.zip" class="blueBtn">Get Started</a>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="facebook" role="tabpanel" aria-labelledby="facebookTab">
                    <div class="dashboardBlock">
                      <h4>Create Your Facebook Plugin</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <img src="assets/images/facebookStep.png">
                      <div class="submitOuter">
                        <a href="#" class="blueBtn">Get Started</a>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="linkedin" role="tabpanel" aria-labelledby="linkedinTab">
                    <div class="dashboardBlock">
                      <h4>Create Your Linkedin Plugin</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <!-- <img src="assets/images/facebookStep.png"> -->
                      <div class="submitOuter">
                        <a href="#" class="blueBtn">Get Started</a>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="emailTab">
                    <div class="dashboardBlock">
                      <h4>Create Your Email Plugin</h4>
                      <h5>Yahoo Mail</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <div class="submitOuter">
                        <a href="#" class="blueBtn">Get Started</a>
                      </div>
                      <h5>Hotmail</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <div class="submitOuter">
                        <a href="#" class="blueBtn">Get Started</a>
                      </div>
                      <h5>Rediffmail</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <div class="submitOuter">
                        <a href="#" class="blueBtn">Get Started</a>
                      </div>
                      <h5>Gmail</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <div class="submitOuter">
                        <a href="#" class="blueBtn">Get Started</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END REGISTRATION FORM -->