.state-container-dropdown{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: auto;
	max-height: 300px;
	background: #F6F6F6;
	overflow-y: auto;
	/*border: 1px solid #000;*/
}

.state{
	padding: 5px 10px;
	font-family: sans-serif;
	color: #1c1c8e;
}
.state a:hover{
	color: #1c1c8e;
}
.state span{
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
}

.state:hover{
	background: #C2C2C2;
	cursor: pointer;
}

.countryInner .countryInnerInfo ul li:first-child{
	height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
}