      <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="registrationFormOuter">
                <form [formGroup]="collegeSearchForm">
                  <div class="registrationFormInner collegeSearch">
                    <div class="collegeSearchInner">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 co-sm-12 col-12">
                          <div class="form-group">
                            <!-- <label>Name of University, College, Instritution</label> -->
                            <input type="text" class="form-control" id="institute_name" placeholder="Name of University, College, Instritution" [(ngModel)]="clg_institute_model" formControlName="institute_name" (keyup)="searchAutoComplete('CLG_INSTITUTE_NAME',$event)" autocomplete="disable">
                            <span class="icon"><img src="assets/images/factory.png" alt="locationIcon"></span>
                            <div class="state-container-dropdown" *ngIf="show_clg_name_srh">
                              <ng-container *ngFor="let data of college_data">
                                <div class="state" (click)="selectCompleteSearch(data.id,data.name, 'CLG_INSTITUTE_NAME')">
                                    <span>{{data.name}}</span>
                                </div>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 co-sm-12 col-12">
                          <div class="form-group">
                            <!-- <label>Location By Country</label> -->
                            <input type="text" class="form-control" placeholder="Location By Country" id="location_by_country" [(ngModel)]="country_model" formControlName="location_by_country" (keyup)="searchAutoComplete('COUNTRY_WISE',$event)" autocomplete="disable">
                            <span class="icon"><img src="assets/images/locationIcon.png" alt="locationIcon"></span>
                            <div class="state-container-dropdown" *ngIf="show_country_srh">
                              <ng-container *ngFor="let data of country_data">
                                <div class="state" (click)="selectCompleteSearch(data.id,data.name, 'COUNTRY_WISE')">
                                    <span>{{data.name}}</span>
                                </div>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 co-sm-12 col-12">
                          <div class="form-group">
                            <!-- <label>Location By City</label> -->
                            <input type="text" class="form-control" id="location_by_city" placeholder="Location By City" [(ngModel)]="city_model"  formControlName="location_by_city" (keyup)="searchAutoComplete('CITY_WISE',$event)" autocomplete="disable">
                            <span class="icon"><img src="assets/images/locationIcon.png" alt="locationIcon"></span>
                            <div class="state-container-dropdown" *ngIf="show_city_srh">
                              <ng-container *ngFor="let data of city_data">
                                <div class="state" (click)="selectCompleteSearch(data.id,data.name, 'CITY_WISE')">
                                    <span>{{data.name}}</span>
                                </div>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 co-sm-12 col-12">
                          <div class="form-group">
                            <!-- <label>Courses Offered</label> -->
                            <input type="text" class="form-control" id="course_offered" placeholder="Courses Offered" [(ngModel)]="course_model" formControlName="course_offered" (keyup)="searchAutoComplete('COURSE_WISE',$event)" autocomplete="disable">
                            <span class="icon"><img src="assets/images/searchIcon.png" alt="searchIcon"></span>
                            <div class="state-container-dropdown" *ngIf="show_course_srh">
                              <ng-container *ngFor="let data of course_data">
                                <div class="state" (click)="selectCompleteSearch(data.id,data.name, 'COURSE_WISE')">
                                    <span>{{data.name}}</span>
                                </div>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="submitOuter">
                        <button type="submit" class="blueBtn" (click)="searchCollege()">Search</button>
                      </div>
                    </div>
                  </div>
                </form>  
              </div>
              <div class="collegeListOuter">
                <h2 class="pageTitle">University/ College/ Institution List</h2>
                <div class="row">

                <ng-container *ngFor="let college of collegeList">
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                  <a href="javascript:void(0)" [routerLink]="['/employer/college-detail',college.user._id]">
                    <div class="countryInner">
                      <div class="countryImg">
                        <!-- <img src="assets/images/arizonaImg.png" alt="aloftImg"> -->
                        <img src="{{college.gallery_img_arr[0] ? global.imageUrl+'colleges/gallery_images/'+college?.gallery_img_arr[0]:'assets/images/arizonaImg.png' }}" alt="aloftImg">
                      </div>
                      <div class="countryInnerInfo">
                        <img src="{{college.logo_url ? college.logo_url: 'assets/images/noimagefound.jpg'}}" alt="aloftLogo">
                        <h6>{{college.name}}</h6>
                        <ul>
                          <li><strong>Courses Offered:</strong>{{college?.courses_name}}</li>
                          <li><strong>Country:</strong> {{college?.country?.name}}</li>
                          <li><strong>City:</strong> {{college?.city?.name}}</li>
                          <li><strong>No. of Students Waiting for jobs:</strong> {{college?.college_student_count}}</li>
                        </ul>
                      </div>
                    </div>
                  </a>
                </div>
                </ng-container>

              </div>
              <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="totalData > countshowcollege">
              <div class="loadmoreOuter">
                <a href="javascript:void(0)" (click)="addMoreCollege()">
                  <img src="assets/images/downArrow-double.png">
                  <span>Load More</span>
                </a>
              </div>
            </div>
          </div>

              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END REGISTRATION FORM -->

