<div class="maillist">
    <a class="compose reply" href="JavaScript:void(0);" id="mail_comp_open" data-toggle="modal" data-target="#mail_compose">compose</a>
    <a href="JavaScript:void(0);" class="mailpanelOpenBtn"><img src="assets/images/list.png" alt="list"></a>
    <ul>
        <li [ngClass]="{'email-active':activeParam=='inbox'}"> <a href="javascript:void(0)" [routerLink]="[routeUrl+'/inbox']" (click)="hideDetails()"><i class="fa fa-inbox" aria-hidden="true"></i> <span>inbox</span></a></li>
        <li [ngClass]="{'email-active':activeParam=='sentbox'}"> <a href="javascript:void(0)" [routerLink]="[routeUrl+'/sentbox']" (click)="hideDetails()"><i class="fa fa-paper-plane" aria-hidden="true"></i> <span>sent</span></a></li>
        <li [ngClass]="{'email-active':activeParam=='starred'}"> <a href="javascript:void(0)" [routerLink]="[routeUrl+'/starred']"><i class="fa fa-star" aria-hidden="true"></i> <span>starred</span></a></li>
        <!-- <li [ngClass]="{'email-active':activeParam=='drafts'}"> <a href="javascript:void(0)" [routerLink]="['/mail/drafts']"><i class="fa fa-archive" aria-hidden="true"></i> <span>drafts</span></a></li>  -->
        <li [ngClass]="{'email-active':activeParam=='delete'}"> <a href="javascript:void(0)" [routerLink]="[routeUrl+'/delete']"><i class="fa fa-trash" aria-hidden="true"></i> <span>delete</span></a></li>
        <li> <a href="javascript:void(0)" class="cnlbl" data-toggle="modal" data-target="#labelpopup"><i class="fa fa-plus" aria-hidden="true"></i> <span>create new label</span></a></li>
        <ng-container *ngIf="labels.length">
            <li *ngFor="let label of labels" [ngClass]="{'email-active':activeParam=='label'}"> <a href="javascript:void(0)" [routerLink]="[routeUrl+'/label']" [queryParams]="{id:label._id}"><i class="fa fa-tag" aria-hidden="true"></i>{{label.label_name}}</a></li>
        </ng-container>

    </ul>
</div>


<div class="composemailhold" *ngIf="showCompose">
    <div class="composemail">
        <h3>new message</h3>
        <div class="cmtop">
            <a href="javascript:void(0)" class="cancel" (click)="modalClose()">x</a>
        </div>
        <form [formGroup]="composeForm">
            <div class="form-group">
                <div class="chips-placeholder">
                    <div class="chips">
                        <tag-input [(ngModel)]='recipientList' [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Add Recipients" placeholder="+ Recipients" addOnBlur="addOnBlur">
                            <tag-input-dropdown [autocompleteItems]="employeeData">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" formControlName="mailsubject" placeholder="Subject" />
            </div>
            <div class="form-group">
                <div formControlName="mailbody" [ngxSummernote]="emailbodyEditor"></div>
                <!-- <textarea formControlName="mailbody" placeholder="Write Here"></textarea> -->
            </div>
            <div class="attachbox" *ngIf="uploaded.attached_file.length">
                <ng-container *ngFor="let file_data of uploaded.attached_file; index as i;">
                    <span class="filename">{{file_data.name}}</span>
                    <span class="cross" (click)="removeAttachedFile()"><i class="fa fa-times" aria-hidden="true"></i></span>
                </ng-container>
            </div>
            <div class="submithold">
                <input type="submit" (click)="mailStore()" class="blueBtn" value="SEND" />
                <div class="attachfile">
                    <input type="file" name="" id="attach" (change)="uploadFile($event,'file')">
                    <label for="attach"><img src="assets/images/clipIcon.png"></label>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal profilepageModal mailmodal" tabindex="-1" role="dialog" id="mail_compose">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">New message</h5>
            <button type="button" class="close" id="mail_compose_close" data-dismiss="modal" aria-label="Close" (click)="modalClose()">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="registrationFormInner">
                <form [formGroup]="composeForm">
                    <div class="part-sec">
                        <div class="form-group">
                            <div class="chips-placeholder">
                                <ng-container *ngIf="isCompanyEmail">
                                    <input type="text" value="{{recipientList[0]['display']}}" readonly="true" placeholder="Recipients" />
                                </ng-container>
                                <div class="chips" *ngIf="!isCompanyEmail">
                                    <tag-input [(ngModel)]='recipientList' [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Add Recipients" placeholder="+ Recipients" addOnBlur="addOnBlur">
                                        <tag-input-dropdown [autocompleteItems]="employeeData" [zIndex]="testindex">
                                        </tag-input-dropdown>
                                    </tag-input>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="mailsubject" placeholder="Subject" />
                        </div>
                        <div class="form-group">
                            <div formControlName="mailbody" [ngxSummernote]="emailbodyEditor"></div>
                            <!-- <textarea formControlName="mailbody" placeholder="Write Here"></textarea> -->
                        </div>
                        <ng-container *ngIf="uploaded.attached_file.length">
                            <ng-container *ngFor="let file_data of uploaded.attached_file; index as i;">
                                <div class="attachbox">
                                    <span class="filename">{{file_data.name}}</span>
                                    <span class="cross" (click)="removeAttachedFile(i)"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </div>
                            </ng-container>
                        </ng-container>



                    </div>
                    <div class="submithold">
                        <input type="submit" (click)="mailStore()" class="blueBtn" value="SEND" />
                        <div class="attachfile">
                            <input type="file" name="" id="attach" (change)="uploadFile($event,'file')">
                            <label for="attach"><img src="assets/images/clipIcon.png"></label>
                        </div>
                    </div>
                    <!-- <div class="submitOuter">
                <button type="submit" (click)="mailStore()">save</button> 
              </div> -->
                </form>
            </div>
        </div>
    </div>
</div>

<!--label popup-->
<div class="modal labelpopup generalModal" id="labelpopup">

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">new label</h4>
            <button type="button" id="button_close" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form [formGroup]="labelForm">
                <div class="form-group">
                    <input type="text" placeholder="Please enter a new label name" formControlName="label_name" />
                </div>
                <!-- <div class="form-group">
              <input type="checkbox" name="nest"/>
              <label>Nest label under:</label>
            </div> -->
                <div class="form-group">
                    <select formControlName="parent_id">
                <option value="">Please select a parent</option>
                <option value="0">root</option>
              </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" (click)="submitLabel($event)" />
                </div>
            </form>
        </div>
    </div>

</div>