<section class="registrationForm employerInnerSection" *ngIf="routeParam !='saved'">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            	<ul class="searchList">
                  <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/search-history']">Recent Search</a></li>
                  <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/search-history']" [queryParams]="{search_type:'saved'}">Save Search</a></li>
                  <!-- <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/search-history']">New Search</a></li> -->
                </ul>
              <h2 class="pageTitle">Search History</h2>
               <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-2 col-2">
               <a href="javascript:void(0)" (click)='deleteSearch()' *ngIf="searchData.length" class="searchDel"><i class="material-icons">delete</i></a>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                      <input type="text" placeholder="From date" dateInput format="Y-m-d" mode="single" [(ngModel)]='search_key.from_date' [ngModelOptions]="{standalone: true}">
              </div>     
      
              <div class="col-lg-3 col-md-3 col-sm-6 col-6">                  
                      <input type="text" placeholder="To date" dateInput format="Y-m-d" mode="single" mindate={{search_key.from_date}} [(ngModel)]='search_key.to_date' [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-6"> 
                  <select style="display: inline-block;" [(ngModel)]="search_key.type" [ngModelOptions]="{standalone: true}">
                        <option value="" selected>select search type</option>
                        <option value="simple">Simple search</option>
                        <option value="advance">Advanced search</option>
                        <option value="people">People search</option>
                      </select>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-2 col-2"> 
                <button class="primary-color" (click)="filterSearch()">search</button>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-2 col-2"> 
                <button class="primary-color" (click)="clearSearch()">clear</button>
              </div>
                </div>   
              <div class="postedjobOuter">
                <div class="postedjobTable">
                  <div class="postedjobRow">
                    <div class="postedjobCol postedjobHead">
                      <p class="checkboxOuter"><label><input type="checkbox" name="" [(ngModel)]="isAllcheckedSearch" (ngModelChange)="toggleCheckedSearch($event)"><span style="color: white"> Search Query</span></label></p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Search Type</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Save Search</p>
                    </div>
                  </div>
                  <ng-container *ngFor="let search of pagedItems; index as i">
                  <div class="postedjobRow">
                    <div class="postedjobCol">

                      <p class="checkboxOuter"><label><input type="checkbox" name="" value="{{search._id}}" [(ngModel)]="checkedModelSearch[search._id]" (ngModelChange)="setCheckedSearch($event)"><span style="color: white"><a href="javascript:void(0)" (click)="searchShow(search.search_data)" [routerLink]="['/employer/resumes']" [queryParams]="{src:'cvSearch',prevsearch:search.search_url, search_id:search._id}" class="jobLink">{{search.search_key}} </a></span></label><br/> {{search.create_date}}</p>
                    </div>
                    <div class="postedjobCol">
                      <p>{{search.search_type}}</p>
                    </div>
                    <div class="postedjobCol">
                      <p><a href="javascript:void(0)" (click)="saveSearch(search._id,search.search_key)" class="republish">Save</a></p>
                    </div>
                  </div>
                  </ng-container>
                  <div *ngIf="pagedItems?.length == 0">No data Found</div>
                </div>
                <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                	<li [ngClass]="{disabled:pager.currentPage === 1}"><a
									(click)="setPage(1)"></a></li>
          					<li [ngClass]="{disabled:pager.currentPage === 1}"><a
          									(click)="setPage(pager.currentPage - 1)"></a></li>
          					<li *ngFor="let page of pager.pages"
          									[ngClass]="{active:pager.currentPage === page}"><a
          									(click)="setPage(page)">{{page}}</a></li>
          					<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          						<a (click)="setPage(pager.currentPage + 1)"></a>
          					</li>
          					<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          						<a (click)="setPage(pager.totalPages)"></a>
          					</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
</section>



<section class="registrationForm employerInnerSection" *ngIf="routeParam =='saved'">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      	<ul class="searchList">
            <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/search-history']">Recent Search</a></li>
            <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/search-history']" [queryParams]="{search_type:'saved'}">Save Search</a></li>
          </ul>
        <h2 class="pageTitle">Saved Searches</h2>
        <a href="javascript:void(0)" (click)='deleteSaved()' *ngIf="savedData.length" class="searchDel"><i class="material-icons">delete</i></a>
        <div class="postedjobOuter"> 
          <div class="postedjobTable">                	                     
            <div class="postedjobRow">
              <div class="postedjobCol postedjobHead">
                <p class="checkboxOuter"><label><input type="checkbox" name="" [(ngModel)]="isAllchecked" (ngModelChange)="toggleChecked($event)"><span style="color: white"> Search Query</span></label></p>
              </div>

              <div class="postedjobCol postedjobHead">
                <p>Search Type</p>
              </div>
              <div class="postedjobCol postedjobHead">
                <p>Last Performed</p>
              </div>
            </div>
            <ng-container *ngFor="let search of pagedItems1; index as i">
            <div class="postedjobRow">
              <div class="postedjobCol">
                <p class="checkboxOuter"><label><input type="checkbox" name="" value="{{search._id}}" [(ngModel)]="checkedModel[search._id]" (ngModelChange)="setChecked($event)"><span style="color: white"><a href="javascript:void(0)" (click)="searchShow(search.search_data)" [routerLink]="['/employer/resumes']" [queryParams]="{src:'cvSearch',prevsearch:search.search_url, search_id:search._id}" class="jobLink">{{search.saved_text}} </a></span></label><br/> {{search.create_date}}</p>
              </div>
              <div class="postedjobCol">
                <p>{{search.search_type}}</p>
              </div>
              <div class="postedjobCol">
                <p>{{search.updated_at}}</p>
              </div>
            </div>
            </ng-container>
            <div *ngIf="pagedItems1?.length == 0">No data Found</div>
          </div>
          <ul class="pagination" *ngIf="pager1.pages && pager1.pages.length">
          	<li [ngClass]="{disabled:pager1.currentPage === 1}"><a
						(click)="setPage1(1)"></a></li>
		<li [ngClass]="{disabled:pager1.currentPage === 1}"><a
						(click)="setPage1(pager1.currentPage - 1)"></a></li>
		<li *ngFor="let page of pager1.pages"
						[ngClass]="{active:pager1.currentPage === page}"><a
						(click)="setPage1(page)">{{page}}</a></li>
		<li [ngClass]="{disabled:pager1.currentPage === pager1.totalPages}">
			<a (click)="setPage1(pager1.currentPage + 1)"></a>
		</li>
		<li [ngClass]="{disabled:pager1.currentPage === pager1.totalPages}">
			<a (click)="setPage1(pager1.totalPages)"></a>
		</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>