<!-- START REGISTRATION FORM -->
<section class="registrationForm employerInnerSection employerProfile">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div *ngIf="!isEdit">
          <div class="registrationFormOuter">
            <h2 class="pageTitle">Profile Details</h2>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="profileInfoOuter">
                  <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                      <div class="profilePicWrap">
                        <div class="profilePic">
                          <img src="{{this.user.user_detail.company_logo ? this.user.user_detail.company_logo : 'assets/images/profilePic.png'}}">
                        </div>                        
                      </div>
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                      <div class="row">
                        <div class="order-lg-1 col-lg-9 col-md-9 col-sm-6 order-2 col-12">
                          <h4>{{this.user.user_detail.name}}</h4>
                        </div>
                        <div class="order-lg-2 col-lg-3 col-md-3 col-sm-6 order-1 col-12">
                          <div class="profileEditOuter">
                            <a (click)="isEdit=true;" href="javascript:void(0)"><img src="assets/images/pencilIcon.png" alt="pencilIcon"> Edit </a>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="profileInfoInner">
                            <!-- <p><span>Name :</span> {{this.user.user_detail.name}}</p> -->
                            <p><img src="assets/images/email-blue.png"> <span>Email :</span> {{this.user.email}}</p>
                            <p><img src="assets/images/telephone-blue.png"> <span>Phone :</span> {{this.user.phone_no}}</p>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="profileInfoInner">
                            <p><img src="assets/images/employee1.png"> <span>Designation :</span> {{this.user.user_detail.designation}}</p>
                            <p><img src="assets/images/factory1.png"> <span>Industry :</span> {{this.user.user_detail.industry_details.name}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="companydelInfo">
                    <div class="companydelHead">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <h4>Company Details</h4>
                        </div>
                      </div>
                    </div>
                    <div class="companydelInner">
                      <p><span class="datatitle">Company Name </span> <span class="datavalue">{{user.user_detail.company_name}}</span></p>
                      <p><span class="datatitle">Company Phone Number </span> <span class="datavalue">{{user.user_detail.alternate_ph_no}}</span></p>
                      <p><span class="datatitle">Company Website </span> <span class="datavalue">{{(user.user_detail.company_website && user.user_detail.company_website != 'null') ? user.user_detail.company_website:''}}</span></p>
                      <p><span class="datatitle">Company Type </span> <span class="datavalue">{{user.user_detail.company_type_details.company_type}}</span></p>
                      <p><span class="datatitle">Company Size </span> <span class="datavalue">{{user.user_detail.company_size_details.company_size}}</span></p>
                      <p><span class="datatitle">Company Email </span> <span class="datavalue">{{(user.user_detail.company_email && user.user_detail.company_email != 'null') ? user.user_detail.company_email:''}}</span></p>
                      <p><span class="datatitle">Company Tagline </span> <span class="datavalue"><div class="editorview" innerHtml="{{this.user?.user_detail?.company_tagline}}"></div></span></p>
                      <p><span class="datatitle">Company Logo </span> <span class="datavalue"><div class="logoOuter">
                      <img src="{{this.user.user_detail.company_logo}}"></div></span></p>
                      <p><span class="datatitle">Company Overview </span> <span class="datavalue"><div class="editorview" innerHtml="{{this.user?.user_detail?.company_short_desc}}"></div></span></p>
                      <p><span class="datatitle">Company Address </span> <span class="datavalue">{{this.user.user_detail.address}}</span></p>
                      <!-- <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="profileInfoInner">
                            <p>Company Name : {{user.user_detail.company_name}}</p>
                            <p>Company Phone Number : {{user.user_detail.alternate_ph_no}}</p>
                            <p>Company Website : {{(user.user_detail.company_website && user.user_detail.company_website != 'null') ? user.user_detail.company_website:''}}</p>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="profileInfoInner">
                            <p>Company Type : {{user.user_detail.company_type_details.company_type}}</p>
                            <p>Company Size : {{user.user_detail.company_size_details.company_size}}</p>
                            <p>Company Email : {{(user.user_detail.company_email && user.user_detail.company_email != 'null') ? user.user_detail.company_email:''}}</p>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <!-- <div class="profileInfoInner">
                    <h5>Company Tagline</h5>
                    <div class="editorview" innerHtml="{{this.user?.user_detail?.company_tagline}}"></div>
                  </div> -->
                  <!-- <div class="profileInfoInner">
                    <h5>Company Logo</h5>
                    <div class="logoOuter">
                      <img src="{{this.user.user_detail.company_logo}}">
                    </div>
                  </div> -->
                  <!-- <div class="profileInfoInner">
                    <h5>Company Overview</h5>
                    <div class="editorview" innerHtml="{{this.user?.user_detail?.company_short_desc}}"></div>
                  </div> -->
                  <!-- <div class="profileInfoInner">
                    <h5>Company Address</h5>
                    <p>{{this.user.user_detail.address}}</p>
                  </div>   -->      
                  <!-- <div class="profileInfoInner" *ngIf="user.gallery_images.length > 0">
                    <h5>Company Gallery Images</h5>
                    <ng-container *ngFor="let image of user.gallery_images; index as i;">
                      <div class="uploadedImg">
                        <img src="{{global.imageUrl}}employer/gallery_images/{{image.name}}">
                      </div>
                    </ng-container>
                  </div>
                  <div class="profileInfoInner" *ngIf="user.video_link">
                    <h5>Company Video</h5>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="videoOuter">
                          <iframe width="100%" height="100%" [src]="companyvideoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="companydelInfo">
                    <div class="companydelHead">
                      <h4>Company Gallery Images</h4>
                    </div>
                    <div class="companydelInner">
                      <div class="profileInfoInner" *ngIf="user.gallery_images.length > 0">
                        <ng-container *ngFor="let image of user.gallery_images; index as i;">
                          <div class="uploadedImg">
                            <img src="{{global.imageUrl}}employer/gallery_images/{{image.name}}">
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="companydelInfo">
                    <div class="companydelHead">
                      <h4>Company Video</h4>
                    </div>
                    <div class="companydelInner">
                      <div class="profileInfoInner" *ngIf="user.video_link">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="videoOuter">
                              <iframe width="100%" height="100%" [src]="companyvideoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- edit form -->
       <div *ngIf="isEdit">
          <div class="registrationFormOuter">
            <h2 class="pageTitle">Edit Profile Details</h2>
            <form [formGroup]="profileForm">
                <div class="profileEditOuter">
                  <a (click)="isEdit =false;" href="javascript:void(0)"><img src="assets/images/backIcon.png" alt="pencilIcon"> Back </a>
                </div>
                <div class="registrationFormInner">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon nameIocn"></span>
                        <input id="first_name" type="text" [ngClass]="{'error':(submitted && f.first_name.errors) || (f.first_name.touched && f.first_name.errors)}" formControlName="first_name">
                        <label for="first_name" [ngClass]="{'active':profileForm.get('first_name').value}">First Name</label>
                        <span *ngIf="(profileForm.get('first_name').touched || profileForm.get('first_name').dirty)
                          && profileForm.get('first_name').errors">
                        <span *ngIf="profileForm.get('first_name').errors.required "
                          class="form-error">Please Enter First Name</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon nameIocn"></span>
                        <input id="last_name" type="text" class="validate" [ngClass]="{'error':(submitted && f.last_name.errors) || (f.last_name.touched && f.last_name.errors)}" formControlName="last_name">
                        <label for="last_name" [ngClass]="{'active':profileForm.get('last_name').value}">Last Name</label>
                        <span *ngIf="(profileForm.get('last_name').touched || profileForm.get('last_name').dirty)
                          && profileForm.get('last_name').errors">
                        <span *ngIf="profileForm.get('last_name').errors.required "
                          class="form-error">Please Enter Last Name</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon emailIcon"></span>
                        <input id="email" type="email" class="validate" [ngClass]="{'error':(submitted && f.email.errors) || (f.email.touched && f.email.errors)}" formControlName="email" readonly="true">
                        <label for="email" [ngClass]="{active:profileForm.get('email').value}">Email</label>
                        <span *ngIf="(profileForm.get('email').touched || profileForm.get('email').dirty)
                          && profileForm.get('email').errors">
                        <span *ngIf="profileForm.get('email').errors.required"
                          class="form-error">Please Enter Email</span>
                          <span *ngIf="profileForm.get('email').errors.pattern"
                          class="form-error">Please Enter valid Email</span>
                        </span>
                        
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon phoneIcon"></span>
                        <input id="phone" type="text" class="validate" [ngClass]="{'error':(submitted && f.phone.errors) || (f.phone.touched && f.phone.errors)}" formControlName="phone">
                        <label for="phone" [ngClass]="{'active':profileForm.get('phone').value}">Phone</label>
                        <span *ngIf="(profileForm.get('phone').touched || profileForm.get('phone').dirty)
                          && profileForm.get('phone').errors">
                        <span *ngIf="profileForm.get('phone').errors.required"
                          class="form-error">Please Enter Phone</span>
                        <span *ngIf="profileForm.get('phone').errors.pattern || profileForm.get('phone').errors.maxlength || profileForm.get('phone').errors.minlength"
                          class="form-error">Please Enter valid Phone</span>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row emp_dateWraap">
                    
                      <div class="col-md-6 col-sm-12">
                        <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <span class="emp_date_sapn">Date of Birth</span>
                        </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field" [ngClass]="{'has-error':(submitted && f.dob_date.errors) || (f.dob_date.touched || f.dob_date.dirty) && !f.dob_date.valid }">
                        <span class="icon nameIocn"></span>
                          <select formControlName="dob_date">
                            <option value="">Select Date</option>
                            <option value="{{date.id}}" *ngFor="let date of dates">{{date.id}}</option>
                          </select>
                          <span *ngIf="(submitted && f.dob_date.errors) || ((f.dob_date.touched || f.dob_date.dirty) && f.dob_date.errors)">
                            <span *ngIf="f.dob_date.errors.required " class="form-error">Please Select date</span>
                          </span>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field" [ngClass]="{'has-error':(submitted && f.dob_month.errors) || (f.dob_month.touched || f.dob_month.dirty) && !f.dob_month.valid }">
                        <span class="icon nameIocn"></span>
                          <select formControlName="dob_month">
                            <option value="">Select Month</option>
                            <option value="{{month.id}}" *ngFor="let month of months">{{month.value}}</option>
                          </select>
                          <span *ngIf="(submitted && f.dob_month.errors) || ((f.dob_month.touched || f.dob_month.dirty) && f.dob_month.errors)">
                            <span *ngIf="f.dob_month.errors.required " class="form-error">Please Select month</span>
                          </span>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field" [ngClass]="{'has-error':(submitted && f.dob_year.errors) || (f.dob_year.touched || f.dob_year.dirty) && !f.dob_year.valid }">
                        <span class="icon nameIocn"></span>
                          <select formControlName="dob_year">
                            <option value="">Select Year</option>
                            <option value="{{year.id}}" *ngFor="let year of years">{{year.id}}</option>
                          </select>
                          <span *ngIf="(submitted && f.dob_year.errors) || ((f.dob_year.touched || f.dob_year.dirty) && f.dob_year.errors)">
                            <span *ngIf="f.dob_year.errors.required " class="form-error">Please Select year</span>
                          </span>
                      </div>
                    </div>
                  </div>
                 </div>

                 <div class="col-md-6 col-sm-12">
                  <div class="row emp_dateWraap gndr-reslv">
                  <div class="col-md-12 col-sm-12 col-12">
                    <span class="emp_date_sapn gndr-spn">Gender</span>
                  </div>
                  
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="input-field ">
                      <label>
                        <input type="radio" formControlName="gender" value="female">
                        <span>Female</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="input-field ">
                      <label>
                        <input type="radio" formControlName="gender" value="male">
                        <span>Male</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="input-field ">
                      <label>
                        <input type="radio" formControlName="gender" value="custom">
                        <span>Custom</span>
                      </label>
                    </div> 
                  </div>
                  <span class="genderErr" *ngIf="(submitted && f.gender.errors) || ((f.gender.touched || f.gender.dirty) && f.gender.errors)">
                      <span *ngIf="f.gender.errors.required " class="form-error">Please select gender</span>
                    </span>
                
                    </div>
                  </div>
                </div>
                  
                <br/>
                  <div class="checkboxOuter">
                    <label>
                    <input type="checkbox" class="filled-in" formControlName="passwordCheck">
                    <span>Do you want to change your password?</span>
                    </label>
                  </div>
                  <div class="row" *ngIf="passwordChange">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon passwordIcon"></span>
                        <input id="pass" type="password" class="validate" formControlName="password">
                        <label for="pass">Password</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon passwordIcon"></span>
                        <input id="confirmPassword1" type="password" class="validate" formControlName="conf_password">
                        <label for="confirmPassword1">Confirm Password</label>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="registrationFormInner">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon companyIcon"></span>
                      <input id="cname" type="text" class="validate" [ngClass]="{'error':(submitted && f.company_name.errors) || (f.company_name.touched && f.company_name.errors)}" formControlName="company_name">
                      <label for="cname" [ngClass]="{active:profileForm.get('company_name').value}">Company Name</label>
                      <span *ngIf="(profileForm.get('company_name').touched || profileForm.get('company_name').dirty)
                        && profileForm.get('company_name').errors">
                      <span *ngIf="profileForm.get('company_name').errors.required "
                        class="form-error">Please Enter Company Name</span>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <select [ngClass]="{'error':(submitted && f.country_id.errors) || (f.country_id.touched && f.country_id.errors)}" formControlName="country_id">
                        <option value="" selected>Choose Country</option>
                        <option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
                      </select>
                       <span *ngIf="(submitted && f.country_id.errors) || ((f.country_id.touched || f.country_id.dirty) && f.country_id.errors)">
                            <span *ngIf="f.country_id.errors.required " class="form-error">Please Select country</span>
                       </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <select [ngClass]="{'error':(submitted && f.city_id.errors) || (f.city_id.touched && f.city_id.errors)}" formControlName="city_id">
                        <option value="" selected>Choose City</option>
                        <option value="{{city._id}}" *ngFor="let city of coutryWiseCity">{{city.name}}</option>
                      </select>
                       <span *ngIf="(submitted && f.city_id.errors) || ((f.city_id.touched || f.city_id.dirty) && f.city_id.errors)">
                            <span *ngIf="f.city_id.errors.required " class="form-error">Please Select city</span>
                       </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon employeeIcon"></span>
                      <input id="desig" type="text" class="validate" [ngClass]="{'error':(submitted && f.designation.errors) || (f.designation.touched && f.designation.errors)}" formControlName="designation">
                      <label for="desig" [ngClass]="{active:profileForm.get('designation').value}">Your Designation</label>
                      <span *ngIf="(submitted && f.designation.errors) || ((f.designation.touched || f.designation.dirty) && f.designation.errors)">
                            <span *ngIf="f.designation.errors.required " class="form-error">Please enter designation</span>
                       </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon industryIcon"></span>
                      <select [ngClass]="{'error':(submitted && f.industry_id.errors) || (f.industry_id.touched && f.industry_id.errors)}" formControlName="industry_id">
                        <option value="" selected>Choose Industry</option>
                        <option value="{{industry._id}}" *ngFor="let industry of industries">{{industry.name}}</option>
                      </select>
                      <span *ngIf="(submitted && f.industry_id.errors) || ((f.industry_id.touched || f.industry_id.dirty) && f.industry_id.errors)">
                            <span *ngIf="f.industry_id.errors.required " class="form-error">Please select industry</span>
                       </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon addressIcon"></span>
                      <input id="address" type="text" class="validate" [ngClass]="{'error':(submitted && f.address.errors) || (f.address.touched && f.address.errors)}" formControlName="address">
                      <label for="address" [ngClass]="{active:profileForm.get('address').value}">Address</label>
                      <span *ngIf="(submitted && f.address.errors) || ((f.address.touched || f.address.dirty) && f.address.errors)">
                            <span *ngIf="f.address.errors.required " class="form-error">Please enter address</span>
                       </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon pincodeIocn"></span>
                      <input id="pincode" type="text" class="validate" [ngClass]="{'error':(submitted && f.zipcode.errors) || (f.zipcode.touched && f.zipcode.errors)}" formControlName="zipcode">
                      <label for="pincode" [ngClass]="{active:profileForm.get('zipcode').value}">Pin Code</label>
                      <span *ngIf="(submitted && f.zipcode.errors) || ((f.zipcode.touched || f.zipcode.dirty) && f.zipcode.errors)">
                            <span *ngIf="f.zipcode.errors.required " class="form-error">Please enter pin code</span>
                       </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon phoneIcon"></span>
                      <input id="otherphone" type="text" class="validate" [ngClass]="{'error':(submitted && f.alternate_ph_no.errors) || (f.alternate_ph_no.touched && f.alternate_ph_no.errors)}" formControlName="alternate_ph_no">
                      <label for="otherphone" [ngClass]="{active:profileForm.get('alternate_ph_no').value}">Company Phone Number</label>
                      <span *ngIf="(submitted && f.alternate_ph_no.errors) || ((f.alternate_ph_no.touched || f.alternate_ph_no.dirty) && f.alternate_ph_no.errors)">
                            <span *ngIf="f.alternate_ph_no.errors.required " class="form-error">Please enter company phone number</span>
                            <span *ngIf="f.alternate_ph_no.errors.pattern" class="form-error">Please enter valid phone number</span>
                       </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon companyIcon"></span>
                      <select [ngClass]="{'error':(submitted && f.company_type.errors) || (f.company_type.touched && f.company_type.errors)}" formControlName="company_type">
                        <option value="" selected>Company Type</option>
                        <option value="{{companyType._id}}" *ngFor="let companyType of companyTypes">{{companyType.company_type}}</option>
                      </select>
                      <span *ngIf="(submitted && f.company_type.errors) || ((f.company_type.touched || f.company_type.dirty) && f.company_type.errors)">
                            <span *ngIf="f.company_type.errors.required " class="form-error">Please select company type</span>
                       </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon companyIcon"></span>
                      <select [ngClass]="{'error':(submitted && f.company_size.errors) || (f.company_size.touched && f.company_size.errors)}" formControlName="company_size">
                        <option value="" selected>Company Size</option>
                        <option value="{{companySize._id}}" *ngFor="let companySize of companySizes">{{companySize.company_size}}</option>
                      </select>
                      <span *ngIf="(submitted && f.company_size.errors) || ((f.company_size.touched || f.company_size.dirty) && f.company_size.errors)">
                            <span *ngIf="f.company_size.errors.required " class="form-error">Please select company size</span>
                       </span>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon companyIcon"></span>
                      <input type="file" name="" id="companylogo" #company_logo (change)="companyLogo(company_logo)" class="validate" [ngClass]="{'error':(submitted && f.company_logo.errors) || (f.company_logo.touched && f.company_logo.errors)}">
                      <label for="companylogo">
                        <span class="placeholderTxt">Company Logo(File type png and file size maximum 2 MB) </span>
                        <span class="browse">Browse</span>
                      </label>
                       <span *ngIf="(submitted && f.company_logo.errors) || (f.company_logo.touched && f.company_logo.errors)">
                      <span *ngIf="profileForm.get('company_logo').errors.required" class="form-error">Please upload company logo</span>
                      </span>
                      <div class="uploadedImg" *ngIf="profileForm.get('company_logo').value">
                        <a href="javascript:void(0)"><img src="assets/images/cancel.png" (click)="removePicture('company_logo')"></a>
                        <img src="{{companyUploadLogoImage ? companyUploadLogoImage: profileForm.get('company_logo').value}}">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon websiteIcon"></span>
                      <input id="company_website" type="text" class="validate" [ngClass]="{'error':(submitted && f.company_website.errors) || (f.company_website.touched && f.company_website.errors)}" formControlName="company_website">
                      <label for="company_website" [ngClass]="{active:profileForm.get('company_website').value}">Company Website</label>
                        <span *ngIf="(submitted && f.company_website.errors) || ((f.company_website.touched || f.company_website.dirty) && f.company_website.errors)">
                            <span *ngIf="f.company_website.errors.required " class="form-error">Please enter company website</span>
                       </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon emailIcon"></span>
                      <input id="company_email" type="text" class="validate" [ngClass]="{'error':(submitted && f.company_email.errors) || (f.company_email.touched && f.company_email.errors)}" formControlName="company_email">
                      <label for="company_email" [ngClass]="{active:profileForm.get('company_email').value}">Company Email</label>
                        <span *ngIf="(submitted && f.company_email.errors) || ((f.company_email.touched || f.company_email.dirty) && f.company_email.errors)">
                            <span *ngIf="f.company_email.errors.required " class="form-error">Please enter company email</span>
                            <span *ngIf="f.company_email.errors.pattern " class="form-error">Please enter valid company email</span>
                       </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <div formControlName="company_tagline" [ngxSummernote]="taglineconfig"></div>
                      <span *ngIf="(submitted && f.company_tagline.errors) || (f.company_tagline.touched && f.company_tagline.errors)">
                      <span *ngIf="profileForm.get('company_tagline').errors.required" class="form-error">Please enter company tagline</span>
                      <span *ngIf="profileForm.get('company_tagline').errors.maxlength" class="form-error">Please enter company tagline</span>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon companyIcon"></span>
                      <div formControlName="company_short_desc" [ngxSummernote]="aboutconfig"></div>
                      <span *ngIf="(submitted && f.company_short_desc.errors) || (f.company_short_desc.touched && f.company_short_desc.errors)">
                      <span *ngIf="profileForm.get('company_short_desc').errors.required" class="form-error">Please enter company short desc.</span>
                      <span *ngIf="profileForm.get('company_short_desc').errors.maxlength" class="form-error">Company short desc not more than 1000 character</span>
                      </span>
                    </div>
                  </div>
              
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon imageIcon"></span>
                      <input type="file" name="" id="galleryImg" #imageInput (change)="processFile(imageInput)">
                      <label for="galleryImg">
                        <span class="placeholderTxt">Company Gallery Images </span>
                        <span class="browse">Browse</span>
                      </label>
                      <div *ngIf="galleries.previews.length">
                        <ng-container *ngFor="let image of galleries.previews; index as i;">
                          <div class="uploadedImg">
                            <a href="javascript:void(0)" (click)="removeFile(image.id, image.type)"><img src="assets/images/cancel.png"></a>
                            <img src="{{image.url}}">
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>

                </div>
               
              </div>  

                 <div class="registrationFormInner">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon locationIcon"></span>
                        <select [ngClass]="{'error':(submitted && f.business_licence_type.errors) || (f.business_licence_type.touched && f.business_licence_type.errors)}" formControlName="business_licence_type">
                          <option value="" selected>Please Select License Type</option>
                          <option value="1">Provided by state government/ province government business license</option>
                          <option value="2">Provided by Central Government business license</option>
                          <option value="3">Provided by Federal Government business license</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon companyIcon"></span>
                        <input type="file" name="" id="businesslicence" #business_licence (change)="uploadeBusinessLicense(business_licence)" class="validate" [ngClass]="{'error':(submitted && f.business_licence.errors) || (f.business_licence.touched && f.business_licence.errors)}">
                        <label for="businesslicence">
                          <span class="placeholderTxt">{{uploadDocumentName? uploadDocumentName :'Upload Current financial year company business license'}} </span>
                          <span class="browse">Browse</span>
                        </label>
                      </div>
                    </div>
                  </div>
                   <div class="checkboxOuter" style="margin: 0 5px;">
                    <label class="declaration_check">
                    <input type="checkbox" class="filled-in" formControlName="license_agree">
                    <span><b>Declaration by the user</b> (I hereby declare that the information given in this application is true and correct to the best of my knowledge and belief of the company. In case any information given in this application proves to be false or incorrect, I shall be responsible for the consequences.)</span>
                    </label>
                  </div>
                   <div class="submitOuter">
                  <button type="submit" (click)="updateProfile()">Save Changes</button>
                  </div>
                </div>                         

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END REGISTRATION FORM-->