.employerProfile{
    background: #f0f0f0;
}
.employerProfile .profileInfoOuter{
	background: transparent;
}
.employerProfile .profilePic:hover .updateProfileBtn{
	display: block;
}
.employerProfile .profilePic{
	position: relative;
}
.employerProfile .profilePic img{
	border: 5px solid #e8e8e8;
}
.employerProfile .updateProfileBtn {
	bottom: 3px;
}
.profilePicWrap .profilePic{
	text-align: left;
}
.employerProfile .profileInfoOuter .profileInfoInner p img{
	margin-right: 5px;
    height: 18px;
    vertical-align: top;
    margin-top: 3px;
}
.profileInfoInner p{
	font-size: 16px;
	margin: 0 0 10px 0;
}
.companydelInfo{
	margin: 30px 0 0 0;
	border: 1px solid #acb6df;
	background: #fff;
}
.companydelHead{
	background: #d3d3d3;
    padding: 10px 15px;
}
.companydelHead h4{
	font-size: 18px;
    line-height: 24px;
    color: #052195;
    margin: 0px 0 0px 0;
    font-weight: 600;
}
.companydelInner{
	margin: 0;
	padding: 10px 15px 15px 15px;
}
.companydelInner .profileInfoInner{
	margin: 0;
}
.companydelInner .profileInfoInner p{
	font-size: 15px;
	font-family: Roboto;
}
.companydelInner span.datatitle{
	display: inline-block;
    width: 40%;
    position: relative;
    vertical-align: top;
    font-size: 16px;
    line-height: 22px;
    color: #1b1b1b;
    font-weight: 600;
    font-family: Roboto;
    position: relative;
}
.companydelInner span.datatitle:after{
	position: absolute;
    content: ":";
    right: 0px;
    top: 0;
    color: #414141;
}
.companydelInner span.datavalue{
	display: inline-block;
    width: 58%;
    position: relative;
    vertical-align: top;
    font-size: 16px;
    line-height: 22px;
    color: #666;
    font-family: Roboto;
    margin-left: 10px;
}


/*START EMPLOYER PROFILE RESOLVE*/

span.emp_date_sapn,
span.emp_date_sapn{
	display: block;
	font-size: 14px;
	margin-bottom: 0px;
	color:#5f6b94;
	position:relative;
	top: 5px;
}
span.emp_date_sapn.gndr-spn{
padding-left: 0px;
}


.registrationFormInner .emp_dateWraap span.nameIocn{

	background: url(/assets/images/spiteImg1.png) no-repeat -4px -710px;

}

 .registrationFormInner .gndr-reslv .input-field > label{
	left: 0;
    font-size: 16px;
    color: #5f6b94;
    border-bottom: 1px solid #8591b9;
    padding: 2px 19px 2px 0;
    width: 100%;
    background: #f0f0f0;
    text-align: left;

}






/*END EMPLOYER PROFILE RESOLVE*/



@media (max-width: 767px){
	.companydelInner span.datatitle{
		width: 100%;
	}
	.companydelInner span.datavalue{
		width: 100%;
		margin: 0;
	}
	.profilePicWrap,
	.profilePicWrap .profilePic{
		text-align: center;
	}
	.companydelInner span.datatitle:after{
		display: none;
	}
	.profileEditOuter{
		text-align: right;
		margin: 0;
	}
	.profileInfoOuter h4{
		padding: 10px 0 20px 0;
	}

	.registrationFormInner .gndr-reslv .input-field{
		margin: 0;
	}

	.registrationFormInner .gndr-reslv .input-field > label{
		position: relative;
	}


}





.reginmodalOuter .loginmodalLeft .regSection .datebirthwrap .input-field{
	width: 33%;
	margin: 0 10px 0 0;
	display: block;
}
.datebirthwrap .input-field:last-child{
	margin-right: 0;
}
.datebirthwrap .input-field select{
	border: 1px solid #9e9e9e;
	padding: 10px;
}
.datebirthwrap{
	margin: 0 0 5px 0;
}
.datebirthwrapInner .input-field{
	margin: 8px; margin-bottom: 8px;
}
.genderErr{top: 5px; position: relative;}
.genderErr .form-error{padding-top: 5px; display: inline-block;}
.datebirthwrap label,
.datebirthwrap h6{
	display: block;
	position: relative;
	font-size: 13px;
	line-height: 20px;
}
.datebirthwrap h6{
	color: #9e9e9e;
	margin: 0;
}
.toltipBtn{
	cursor: pointer;
}
.toltipBtn img{
	width: 13px;
}
.datebirthwrapInner{
	display: flex;
}
.toltipcustom{
	position: absolute;
    top: 0;
    left: 90px;
    background: #fff;
    width: 200px;
    z-index: 10;
    box-shadow: 0px 0px 10px #ccc;
    font-size: 12px;
    line-height: 20px;
    display: none;
    padding: 0px 10px;
}
.toltipcustom:after{
	content: '';
	position: absolute;
	left: -8px;
	top: 2px;
	border-right: 8px solid #fff;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	z-index: 1;
}
.toltipcustom:before{
	content: '';
	position: absolute;
	left: -9px;
	top: 1px;
	border-right: 9px solid #ccc;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	z-index: -1;
}
.reginmodalOuter .loginmodalLeft .toltipcustom p{
    padding: 10px;
    text-align: left;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
}
.toptipCloseOuter {
	padding: 10px;
	border-top: 1px solid #d0d0d0;
	text-align: right;
}
.toptipCloseOuter a{
	padding: 5px 10px;
	font-size: 14px;
	line-height: 20px;
	background: #1b2d8f;
	color: #fff;
	border-radius: 5px;
}
.genderWrap label{
	border: 1px solid #d0d0d0;
	padding: 5px 10px;
}
.genderWrap label span{
	padding-left: 0px !important;
    display: block !important;
}
.genderWrap label span:before,
.genderWrap label span:after{
	left: auto;
	right: 0;
}
.genderWrap label{
	margin: 0;
}

/*.datebirthwrapInner[_ngcontent-hky-c7] .input-field[_ngcontent-hky-c7] {
    margin: 8px;
}*/