<section class="bannerSection animation-element">
   <img src="assets/images/banner1.png" alt="collegeBanner">
   <div class="headingOuter bannerColgInfo">
      <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <h3>Dream Instritute Of Technology</h3>
            <div class="collegeLogoOuter">
               <img src="assets/images/aloftLogo1.png" alt="aloftLogo">
               <p>Website: <a href="#">www.websiteofcollege.com</a></p>
            </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="waitingHighlight">
               <input type="file" name="" id="upcv">
               <label for="upcv">Upload Student's CV</label>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- END BANNER SECTION -->
<!-- START BREADCRUMB SECTION -->
<section class="breadcrumbSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-md-12 col-12">
            <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Dream Instritute Of Technology</a></li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- END BREADCRUMB SECTION -->
<!-- START ANALYTICS -->
<section class="analyticsSection">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-sm-12 col-12">
            <div class="backOuter">
               <a href="collegeHome.html" class="blueBtn">Back</a>
            </div>
            <div class="worldmapOuter">
               <img src="assets/images/map-of-world.jpg">
            </div>
         </div>
      </div>
   </div>
</section>