<section class="registrationForm employerInnerSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="pageTitle">Local Walk-In Jobs Slot Booking</h2>
            <div class="registrationFormInner">
               <div class="interviewslot">
                  <div class="scheduleNav">
                     <a href="#" class="schedulePrev"><img src="assets/images/es/leftArrow1.png"></a>
                     <h4>18-Apr-2019  -  24-Apr-2019</h4>
                     <a href="#" class="scheduleNext"><img src="assets/images/es/rightArrow1.png"></a>
                  </div>
                  <div class="datepanel">
                     <ul>
                        <li class="active">
                           <a href="#">
                           <span class="date">12</span>
                           <span class="day">sun</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <span class="date">13</span>
                           <span class="day">mon</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <span class="date">14</span>
                           <span class="day">tues</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <span class="date">15</span>
                           <span class="day">wed</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <span class="date">16</span>
                           <span class="day">thus</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <span class="date">17</span>
                           <span class="day">fri</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <span class="date">18</span>
                           <span class="day">sat</span>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="slotpanel clear">
                     <h3>Kolkata</h3>
                     <ul class="slotlist">
                        <li><span class="time">09:00am</span></li>
                        <li class="booked"><span class="time">09:00am</span></li>
                        <li><span class="time">09:00am</span></li>
                        <li><span class="time">09:00am</span></li>
                        <li><span class="time">09:00am</span></li>
                     </ul>
                  </div>
                  <div class="slotpanel clear">
                     <h3>Chennai</h3>
                     <ul class="slotlist">
                        <li><span class="time">09:00am</span></li>
                        <li class="booked"><span class="time">09:00am</span></li>
                        <li><span class="time">09:00am</span></li>
                        <li><span class="time">09:00am</span></li>
                        <li><span class="time">09:00am</span></li>
                     </ul>
                  </div>
                  <div class="slotpanel clear">
                     <h3>Mumbai</h3>
                     <ul class="slotlist">
                        <li><span class="time">09:00am</span></li>
                        <li class="booked"><span class="time">09:00am</span></li>
                        <li><span class="time">09:00am</span></li>
                        <li><span class="time">09:00am</span></li>
                        <li><span class="time">09:00am</span></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>