/*.input-field [type="checkbox"]:not(:checked), .input-field [type="checkbox"]:checked{
	width:auto !important; display: inline-block; vertical-align: middle;
	opacity: 1; pointer-events: initial; position: relative;
}*/