    <!-- START JOB BY COUNTRY SECTION -->
      <section class="jobByCountrySection">
        <div class="container">
          <div class="publicArea">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <h3>{{walkInData.job_title}}</h3>
                
                <p>{{userData?.user_detail?.company_name}} {{userData?.user_detail?.country?.name}}, {{userData?.user_detail?.city?.name}}</p>
                <ul class="btnListing" id="btnListing1">
                    <li><a href="javascript:void(0)"  class="applyJob"><img src="assets/images/applyIcon.png" alt="applyIcon"> Apply Now</a></li>
                    <li><a href="javascript:void(0)"  class="saveJob"><img src="assets/images/jobIcon1.png" alt="jobIcon1"> Save Job</a></li>
                    <li><a href="javascript:void(0)" class="shareJob"><img src="assets/images/shareIcon1.png" alt="jobIcon1"> Share This</a>
                      <ul class="share">
                        <li><a href="javascript:void(0)"><img src="assets/images/facebook.png" alt="facebook"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/images/twitter.png" alt="twitter"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/images/linkedin.png" alt="linkedin"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/images/email.png" alt="email"></a></li>
                      </ul>
                    </li>
                  </ul>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="hotelShortdes">
                  <div class="shortDesImg">
                    <img src="{{userData?.user_detail?.company_logo}}" alt="aloftLogo">
                  </div>
                  <p><span>{{userData?.user_detail?.company_tagline}}</span></p>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </section>
    <!-- END JOB BY COUNTRY SECTION -->
    <!-- START DESCRIPTION SECTION -->
      <section class="descriptionSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-12">
              <div class="descriptionOuter">
                <div class="descriptionInner">
                  <h3>About This Job</h3>
                  
                  <div class="editorview" innerHtml="{{walkInData?.about_this_job}}"></div>
                </div>
                <div class="descriptionInner">
                  <p><strong>Employment Type :</strong> {{walkInData.employment_type}}</p>
                  <p><strong>No of Vacancy :</strong> {{walkInData.number_of_vacancies}}</p>
                  <p><strong>Salary :</strong> Min {{walkInData.min_monthly_salary}} - Max {{walkInData.max_monthly_salary}} {{walkInData.currency}}/{{walkInData.salary_type}}</p>
                  <p><strong>Years of Experience :</strong> {{walkInData.min_experiance}} - {{walkInData.max_experiance}} years</p>
                  <p><strong>Employment For :</strong> {{walkInData.employement_for}}</p>
                  <p><strong>Language Preference :</strong> {{getSpaceValue(walkInData.language_pref.toString())}}</p>
                  <p><strong>Candidate Type :</strong> {{walkInData.candidate_type =='1'?'Male & Female both':(walkInData.candidate_type =='2'?'Only for Male':'Only for Female')}}</p>
                  <!-- <p><strong>Key Skills :</strong> {{walkInData.required_skill}}</p> -->
                  <!-- <p><strong>Location :</strong> {{walkInData.job_country}},{{walkInData.job_city}}</p> -->
                </div>
                <div class="descriptionInner" *ngIf="walkInData.primary_responsibility">
                  <h3>Primary Responsibilities</h3>
                  <div class="editorview" innerHtml="{{walkInData?.primary_responsibility}}"></div>
                  
                </div>
                <div class="descriptionInner">
                  <h3>Qualification</h3>
                  <ul>
                    <li> {{getSpaceValue(walkInData.min_qualification.toString())}}</li>
                    <li> {{getSpaceValue(walkInData.max_qualification.toString())}}</li>
                  </ul>
                </div> 
                <div class="descriptionInner">
                  <h3>Interview Details</h3>
                  <p><strong>Interview Type :</strong> {{walkInData.interview_type_id}}</p>
                  <p><strong>Date :</strong> {{walkInData.interview_date}}</p>
                  <p><strong>Time :</strong> {{walkInData.interview_start_time}} - {{walkInData.interview_end_time}}</p>
                  <p><strong>Venue :</strong> {{walkInData.interview_vanue_name}}</p>
                  <p><strong>Address :</strong> {{walkInData.interview_venue_address}}</p>
                </div> 
                <div class="descriptionInner" *ngIf="walkInData.benefits">
                  <h3>Benefits</h3>
                  <div class="editorview" innerHtml="{{walkInData?.benefits}}"></div>
                  
                </div>                     
                <div class="descriptionInner">
                  <h3>Special note for employees</h3>
                  <!-- <p>{{walkInData.special_notes}}</p> -->
                  <div class="editorview" innerHtml="{{walkInData.special_notes}}"></div>
                  <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-12 col-12">
                      <p>Compensation: 14.00</p>
                    </div>
                    
                  </div>
                  <ul class="btnListing" id="btnListing1">
                      <li><a href="javascript:void(0)"  class="applyJob"><img src="assets/images/applyIcon.png" alt="applyIcon"> Apply Now</a></li>
                      <li><a href="javascript:void(0)"  class="saveJob"><img src="assets/images/jobIcon1.png" alt="jobIcon1"> Save Job</a></li>
                      <li><a href="javascript:void(0)" class="shareJob"><img src="assets/images/shareIcon1.png" alt="jobIcon1"> Share This</a>
                        <ul class="share">
                          <li><a href="javascript:void(0)"><img src="assets/images/facebook.png" alt="facebook"></a></li>
                          <li><a href="javascript:void(0)"><img src="assets/images/twitter.png" alt="twitter"></a></li>
                          <li><a href="javascript:void(0)"><img src="assets/images/linkedin.png" alt="linkedin"></a></li>
                          <li><a href="javascript:void(0)"><img src="assets/images/email.png" alt="email"></a></li>
                        </ul>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
              <div class="descriptionInner">
                <h3>About This Employer</h3>
                <h5>{{userData?.user_detail?.company_name}}</h5>
                <p>{{userData?.user_detail?.company_name}} {{userData?.user_detail?.country?.name}}, {{userData?.user_detail?.city?.name}}</p>
                <p><strong>Industry</strong> {{userData?.user_detail?.industry_details?.name}}</p>
                <p><strong>Company size</strong> {{userData?.user_detail?.company_size_details?.company_size}}</p>
              </div>
              <div class="descriptionInner">
                <h3>Company Overview</h3>
                <div class="editorview" innerHtml="{{userData?.user_detail?.company_short_desc}}"></div>
              </div>
              <div class="mapOuter">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d58930.02810210874!2d88.38443822910156!3d22.611741300000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1546599340666" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
              <!-- <div class="descriptionImg">
                <div class="gallerySlider">
                  <div class="">
                    <a class="image-link"  href="assets/images/hotelImg1.png" data-fancybox="images" data-caption="hotelImg1">
                      <img src="assets/images/hotelImg1.png" alt="hotelImg1">
                    </a>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="desktopNone">
                <div class="descriptionInner">
                  <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 col-12">
                      <p>Compensation: 14.00</p>
                    </div>
                   
                  </div>
                  <ul class="btnListing" id="btnListing1">
                      <li><a href="javascript:void(0)"  class="applyJob"><img src="assets/images/applyIcon.png" alt="applyIcon"> Apply Now</a></li>
                      <li><a href="javascript:void(0)"  class="saveJob"><img src="assets/images/jobIcon1.png" alt="jobIcon1"> Save Job</a></li>
                      <li><a href="javascript:void(0)" class="shareJob"><img src="assets/images/shareIcon1.png" alt="jobIcon1"> Share This</a>
                        <ul class="share">
                          <li><a href="javascript:void(0)"><img src="assets/images/facebook.png" alt="facebook"></a></li>
                          <li><a href="javascript:void(0)"><img src="assets/images/twitter.png" alt="twitter"></a></li>
                          <li><a href="javascript:void(0)"><img src="assets/images/linkedin.png" alt="linkedin"></a></li>
                          <li><a href="javascript:void(0)"><img src="assets/images/email.png" alt="email"></a></li>
                        </ul>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="submitOuter">
          <button type="submit" class="blueBtn" (click)="editJob()">Edit Job</button>
          <button type="submit" (click)="submitPost()" class="blueBtn">Post Job</button>
          <button type="submit" (click)="postLater()" class="blueBtn">Save & Post Later</button>
        </div>
      </section> 
    <!-- END DESCRIPTION SECTION -->

