<section class="bannerSection animation-element otherusers" *ngIf="isLoaded">
  <img src="assets/images/student1.jpg" alt="collegeBanner">
  <div class="headingOuter bannerColgInfo">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h3>{{(allData)? allData.user_data.user_detail.name:''}}</h3>
        <div class="collegeLogoOuter" *ngIf="userData && userData.user_role =='college'">
          <img src="{{allData ? allData.user_data.user_detail.logo_url:'assets/images/aloftLogo1.png'}}" alt="aloftLogo"> 
        </div>        
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="waitingHighlight">
           <a href="javascript:void(0)" [routerLink]="['/'+ use_role +'/cv-upload']">Upload Resume</a>
          <!-- <input type="file" name="" id="upcv">
          <label for="upcv">Upload Student's CV</label> -->
        </div>
        <div class="waitingHighlightBottom">          
          <p>Website: <a href="#">{{allData ? allData.user_data.user_detail.website:''}}</a></p>
          <p>Referral Code: {{allData ? allData.user_data.user_detail.user.user_unique_code:''}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- START BREADCRUMB SECTION -->
<section class="breadcrumbSection breadcrumbSectionSec" *ngIf="isLoaded">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-md-12 col-12">
            <ul>
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">{{allData ? allData.user_data.user_detail.name:''}}</a></li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- END BREADCRUMB SECTION -->
<!-- START DESCRIPTION SECTION -->
<section class="descriptionSection" *ngIf="use_role == 'college'">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-5 col-sm-12 col-12" *ngIf="mySlideImages.length > 0">
            <div class="descriptionImg">
               <div class="gallerySlider">
                  <owl-carousel
                  [options]="myCarouselOptions"
                  [carouselClasses]="['owl-theme', 'sliding']"
                  >
                  <div class="item" *ngFor="let image of mySlideImages;index as i">
                      <div class="">
                          <img src="{{global.imageUrl}}colleges/gallery_images/{{image}}">
                      </div>
                  </div>
                </owl-carousel>
               </div>
            </div>
         </div>
         <div class="col-lg-8 col-md-7 col-sm-12 col-12">
            <div class="mapOuter map-size" *ngIf="allData?.user_data?.user_location">
               <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl('https://maps.google.com/maps?q='+allData?.user_data?.user_location?.coordinates[0]+','+allData?.user_data?.user_location?.coordinates[1]+'&hl=es&z=14&amp;output=embed')" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="mapOuter map-size" *ngIf="!allData?.user_data?.user_location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d58930.02810210874!2d88.38443822910156!3d22.611741300000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1546599340666" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
         </div>
      </div>
   </div>
</section>

<section class="analyticsDeails">
  <div class="container">
    <!-- <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="rbOuter">
          <div class="dashboardBlock rb">
            <h4>Reference Benefits</h4>
            <ol>
              <ng-container *ngFor="let referral of referrals">
              <li>
                <span><span class="highlightRef">{{referral.title}}</span> {{referral.benefit}} </span>
                <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/referal-list']" [queryParams]="{referal_id:referral._id}" class="redBtn">Apply</a>
              </li>
              </ng-container>
            </ol>
          </div>
          <div class="dashboardBlock rb">
            <h4>Announcement Benefits</h4>
            <ol>
              <ng-container *ngFor="let announcement of announcements">
              <li>
                <span><span class="highlightRef">{{announcement.title}}</span> {{announcement.benefit}}</span> 
                <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/announcement-list']" [queryParams]="{announce_id:announcement._id}" class="redBtn">Apply</a></li>
              </ng-container>
            </ol>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">    
        <div class="sturecordBlock">

          <div class="sturecordBlockOuter" *ngIf="userData && userData.user_role =='college'">
            <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/college/analytic','cv-upload']">
                <h2>{{allData ? allData.cv_uploaded:''}}</h2>
                <p>No. of CV Uploaded</p>
              </a>
            </div>
            <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/college/analytic-map']">
                <h2>{{allData ? allData.cv_view_employeer:''}}</h2>
                <p>No. of CV Viewed By Employer</p>
              </a>
            </div>
            <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/college/analytic','applied-job']">
                <h2>{{allData ? allData.no_std_applied_job:''}}</h2>
                <p>No. of Student Applied for Job</p>
              </a>
            </div>
            <!-- <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/college/analytic','cv-shortlist']">
                <h2>{{allData ? allData.no_std_shortlist:''}}</h2>
                <p>No. of Student Shortlisted</p>
              </a>
            </div> -->
            <!-- <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/college/analytic','complete-interview']">
                <h2>{{allData ? allData.no_std_comp_interview:''}}</h2>
                <p>No. of Student Completed Interview</p>
              </a>
            </div> -->
            <!-- <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/college/analytic','student-placed']">
                <h2>{{allData ? allData.no_std_placed:''}}</h2>
                <p>No. of Student Placed</p>
              </a>
            </div> -->
            <div class="sturecordBlockInner">
              <a href="javascript:void(0)">
                <h2>0</h2>
                <p>No. of CV Prime</p>
              </a>
            </div>
            <div class="sturecordBlockInner">
              <a href="javascript:void(0)">
                <h2>0</h2>
                <p>Finance Summary </p>
              </a>
            </div>
          </div>

          <div class="sturecordBlockOuter" *ngIf="userData && userData.user_role !='college'">
            <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/analytic','cv-upload']">
                <h2>{{allData ? allData.cv_uploaded:''}}</h2>
                <p>No. of CV Uploaded</p>
              </a>
            </div>
            <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/analytic','prime-cv']">
                <h2>{{allData ? allData.no_prime_cv:''}}</h2>
                <p>No. of Prime CV</p>
              </a>
            </div>
            <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/analytic-map']">
                <h2>{{allData ? allData.cv_view_employeer:''}}</h2>
                <p>No. of CV Viewed By Employer</p>
              </a>
            </div>
            <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/analytic','applied-job']">
                <h2>{{allData ? allData.no_std_applied_job:''}}</h2>
                <p>No. of Candidate Applied for Job</p>
              </a>
            </div>
            <!-- <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/analytic','cv-shortlist']">
                <h2>{{allData ? allData.no_std_shortlist:''}}</h2>
                <p>No. of Candidate Shortlisted</p>
              </a>
            </div> -->
            <!-- <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/analytic','complete-interview']">
                <h2>{{allData ? allData.no_std_comp_interview:''}}</h2>
                <p>No. of Candidate Completed Interview</p>
              </a>
            </div> -->
            <!-- <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/analytic','cv-rejected']">
                <h2>{{allData ? allData.no_cv_rejected_employeer:''}}</h2>
                <p>No. of CV Rejected By Employer</p>
              </a>
            </div> -->
            <!-- <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/analytic','candidate-placed']">
                <h2>{{allData ? allData.no_std_placed:''}}</h2>
                <p>No. of Candidate Placed</p>
              </a>
            </div> -->
            <div class="sturecordBlockInner">
              <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/analytic','finance-summary']">
                <h2>{{allData ? allData.finance_summary:''}}</h2>
                <p>Finance Summary</p>
              </a>
            </div>
          </div>

        </div>   
      </div>
    </div>
  </div>
</section>
    <!-- START COLLEGE DETAILS -->
<section class="collegeDeails" *ngIf="isLoaded && userData && userData.user_role =='college'">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12"> 
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-12">             
            <div class="descriptionInner">
              <h3>Address</h3>
              <ol>
                <li><span>Country:</span> {{allData ? allData.user_data.user_detail.country.name:''}}</li>
                <li><span>City:</span> {{allData ? allData.user_data.user_detail.city.name:''}}</li>
              </ol>
              <p><span>Postal Address:</span> {{allData ? allData.user_data.user_detail.address:''}}</p>
              <!-- <ul class="socialShare">
                <li><span>Social Share</span></li>
                <li><a href="#"><img src="assets/images/facebook.png" alt="facebook"></a></li>
                <li><a href="#"><img src="assets/images/twitter.png" alt="twitter"></a></li>
                <li><a href="#"><img src="assets/images/linkedin.png" alt="linkedin"></a></li>
                <li><a href="#"><img src="assets/images/email.png" alt="email"></a></li>
              </ul> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="contactPerOuter">
              <h3>About Contact Person</h3>
              <ul>
                <li>Name: {{allData ? allData.user_data.user_detail.contact_person_name:''}}</li>
                <li>Designation: {{allData ? allData.user_data.user_detail.contact_person_designation:''}}</li>
                <li>Email: <a href="{{allData ? allData.user_data.user_detail.contact_person_email:''}}">{{allData ? allData.user_data.user_detail.contact_person_email:''}}</a></li>
                <li>Phone: <a href="te;:{{allData ? allData.user_data.user_detail.contact_person_phone:''}}">{{allData ? allData.user_data.user_detail.contact_person_phone:''}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="descriptionInner">
          <h3>About This College</h3>
          <!-- <p>{{allData ? allData.user_data.user_detail.about_college:''}}</p> -->
          <div class="editorview" innerHtml="{{allData ? allData.user_data.user_detail.about_college:''}}"></div>
          <!-- <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</li>
          </ul> -->
        </div>
        <div class="descriptionInner">
          <h3>Courses Offered</h3>
          <p>Hospitality, Engineering, Nursing, Medical</p>
        </div>                   
        <div class="descriptionInner">
          <h3>Special note for employers</h3>
          <!-- <p>{{allData ? allData.user_data.user_detail.special_note_employer:''}}</p>   -->
          <div class="editorview" innerHtml="{{allData ? allData.user_data.user_detail.special_note_employer:''}}"></div>
        </div>
      </div>
    </div>
  </div>
</section>