<!-- <section class="registrationForm employerInnerSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="pageTitle">International Walk-In Jobs</h2>
            <div class="postedjobOuter">
               <ng-container *ngFor="let data of internationalwalking_data; index as i;">
                  <div class="postedjobInner appliedjobInner" [ngStyle]="{'display':(hideDiv && setIndex ==i)?'none':''}">
                     <div class="appliedjobInnertop">
                        <h5><img src="assets/images/globeIcon.png" alt="globeIcon"> {{data.job_title}}</h5>
                        <p><strong>Keyskills :</strong> <span [innerHtml]="data.about_this_job"></span></p>
                        <ul>
                           <li><img src="assets/images/brifecaseIcon.png"> Experience  -  {{data.min_experiance.name}}-{{data.max_experiance.name}}</li>
                           <li><img src="assets/images/locationIcon.png"> Location  -  {{data.interview_location_city.name}}</li>
                        </ul>
                        <p><strong>Event Id :</strong> {{data.interview_vanue_name}} </p>
                        <p><strong>Company Name :</strong> {{data.employeer.user_detail.company_name}} </p>
                        <p><strong>Status:</strong> Open</p>
                        <div class="savejobOuter">
                           <a href="javascript:void(0)" (click)="submitSelectedSlot(data._id)" class="blueBtn">Apply</a>&nbsp;
                           <a href="javascript:void(0)" (click)="showSlot=true;hideDiv=true;setIndex=i;checkSlotBooked(data._id)" class="blueBtn">Book Your Interview Slot</a>
                        </div>
                     </div>
                  </div>
                  <div class="diffsec slotdiff" @slideInOut *ngIf="showSlot && setIndex ==i">
                     <a href="Javascript:void(0)" (click)="showSlot=false;hideDiv=false;setIndex='';bookedDateActive=0;activetimeSlot='';" class="slotcross">x</a>
                     <div class="datepanel">
                        <ul>
                           <ng-container *ngFor="let date of data.interview_date.split(','); index as j;">
                              <li [ngClass]="{'active':j==bookedDateActive}">
                                 <a href="javascript:void(0)" (click)="changeSlotBooked(data._id, date); bookedDateActive=j;">
                                    <span class="date">{{date}}</span>
                                 </a>
                              </li>
                           </ng-container>
                        </ul>
                     </div>
                     <div class="slotpanel clear">
                        <h3>{{data.interview_location_city.name}}</h3>
                        <ul class="slotlist">
                           <ng-container *ngFor="let time of data.time_slots; index as y;">
                              <li [ngClass]="{'booked':dateBookedSlot.indexOf(time) != -1}">
                                 <span class="time" *ngIf="dateBookedSlot.indexOf(time) != -1">{{time}}</span>
                                 <a href="javascript:void(0)" (click)="setSlotBook(data._id, time); selected_slot_time=time" *ngIf="dateBookedSlot.indexOf(time) == -1"><span class="time" [ngClass]="{'slot_select':(selected_slot_time ==time )}">{{time}}</span></a>
                              </li>
                           </ng-container>
                        </ul>
                     </div>
                  </div>
               </ng-container>
               <div class="postedjobInner appliedjobInner" *ngIf="!internationalwalking_data.length">
                  <h5 style="text-align: center;">No Data Available</h5>
               </div>
            </div>
         </div>
      </div>
   </div>
</section> -->
<section class="jobByCountrySection employerInnerSection">
  <div class="container">
    <div class="countryOuter">
      <h2 class="pageTitle">International Walk-In Interview</h2>
      <!-- <h4>International Walk-In Interview</h4> -->
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12" *ngFor="let data of internationalwalking_data; index as i;">
          <div class="countryInner countryInnerSec">
            <a href="javascript:void(0)" [routerLink]="['/walkin-job-details','international',data._id]">
              <div class="countryImg">
                <!-- <img src="assets/images/aloftImg.png" alt="aloftImg"> -->
              </div>
              <div class="countryInnerInfo">
                <img src="{{data?.employer_logo}}" alt="aloftLogo">
                <ul class="jobInfo">
                  <!-- <li>
                    <span><img src="assets/images/companyIcon.png" alt="companyIcon"></span> 
                    <p>{{data.employeer?.user_detail?.company_name}}</p>
                  </li> -->
                  <li>
                    <span><img src="assets/images/employee1.png" alt="employee"></span> 
                    <p>{{data.interview_name}}</p>
                  </li>
                  <li>
                    <span><img src="assets/images/money1.png" alt="money"></span> 
                    <p>Min {{data.min_monthly_salary}} - Max {{data.max_monthly_salary}} {{data?.currency_name?.currency_code}}/{{data.salary_type}}</p>
                  </li>
                  <li>
                    <span><img src="assets/images/factory1.png" alt="factory"></span> 
                    <p>{{data.industry_name.toString()}}</p>
                  </li>
                  <li>
                    <span><img src="assets/images/employee1.png" alt="employee"></span> 
                    <p> {{data.department_name.toString()}}</p>
                  </li>
                  <li>
                    <span><img src="assets/images/employee1.png" alt="employee"></span> 
                    <p>{{data?.employment_type?.name}}</p>
                  </li>
                  <li>
                    <span><img src="assets/images/employee1.png" alt="employee"></span> 
                    <p>Interview Type: {{data.interview_type.name}}</p>
                  </li> 
                  <li>
                      <span><img src="assets/images/locationIcon1.png" alt="employee"></span> 
                      <p>{{data?.job_country_name}},{{data?.job_city_name}}</p>
                    </li>    
                  <li>
                    <span><img src="assets/images/locationIcon1.png" alt="locationIcon"></span> 
                    <p>Venue: {{data.interview_venue_address}}</p>
                  </li>                   
                  <li>
                    <span><img src="assets/images/calenderIcon2.png" alt="calenderIcon1"></span> 
                    <p>Date : {{data.interview_date}}</p>
                  </li>
                  <li>
                    <span><img src="assets/images/calenderIcon2.png" alt="calenderIcon1"></span> 
                    <p>Time : {{data.interview_start_time}} to {{data.interview_end_time}} </p>
                  </li>
                </ul>
              </div>
            </a>
            <div class="countryInnerFoot">
              <!-- <div class="row"> -->
              <div class="countryInnerFootLeft">
                <h6>Posted {{data.day_diff ==0? 'on Today':data.day_diff +' days ago'}}</h6>
              </div>
              <!-- <div class="countryInnerFootRight">                  
                <a href="#" class="apply">Quick Apply</a>
                </div> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="postedjobInner" *ngIf="internationalwalking_data.length == 0">
        <h5 style="text-align: center;">No Data Available</h5>
      </div>
    </div>
    <div class="row" *ngIf="total_internationalwalkin > count_international_walkin_show">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="loadmoreOuter">
          <a href="javascript:void(0)" (click)="addMoreInternationalWalking()">
            <img src="assets/images/downArrow-double.png">
            <span>Load More</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>