<section class="bannerSection innerBanner other1InnerSection">
  <img src="assets/images/agencyBanner1.png" alt="registrationBanner">
   <h2>Booking List</h2>
</section>

<!-- START BREADCRUMB SECTION -->
<section class="breadcrumbSection breadcrumbSectionSec">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-md-12 col-12">
            <ul>
            <li><a href="javascript:void(0)" [routerLink]="['/trainer/schedule']">Home</a></li>
            <li><a href="javascript:void(0)">Booking List</a></li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- END BREADCRUMB SECTION -->
<section class="registrationForm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 class="pageTitle">Booking List</h2>
        <div class="receivedappOuter">
          <div class="row"> 
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="radioOuterSec">
                <label>
                  <input name="group1" value="current" type="radio" [(ngModel)]="bookingType" (ngModelChange)="handleType($event)"/>
                  <span>Current Booking</span>
                </label>
                <label>
                  <input name="group1" value="previous" type="radio" [(ngModel)]="bookingType" (ngModelChange)="handleType($event)"/>
                  <span>Previous Booking</span>
                </label>
              </div>
            </div>  
            
          </div>
        </div>
        <div class="postedjobOuter">
          <!-- Job posted list -->
          <div class="postedjobTable jobapplicationTable" >
            <div class="postedjobRow">
              <div class="postedjobCol postedjobHead">
                <p>SL No.</p>
              </div>
              <div class="postedjobCol postedjobHead">
                <p>Date</p>
              </div>
              <div class="postedjobCol postedjobHead">
                <p>Time</p>
              </div>
              <div class="postedjobCol postedjobHead">
                <p>User Name</p>
              </div>
              <div class="postedjobCol postedjobHead">
                <p>User Email</p>
              </div>
              <div class="postedjobCol postedjobHead">
                <p>User Phone</p>
              </div>
              <div class="postedjobCol postedjobHead">
                <p>CV Link</p>
              </div>
              
            </div>
            <div>
              <ng-container *ngFor="let data of allBookedData; index as i;">
                <div class="postedjobRow">
                  <div class="postedjobCol">
                    <p title="" class="dottedp">{{i+1}}</p>
                  </div>
                  <div class="postedjobCol">
                    <p class="dottedp" title="">{{data.sc_date}}</p>
                  </div>
                  <div class="postedjobCol">
                    <p *ngIf="data">{{data.from_time}} - {{data.to_time}}</p>
                  </div>
                  <div class="postedjobCol">
                    <p>{{data.employee_detail ? data.employee_detail.name:''}}</p>
                  </div>
                  <div class="postedjobCol">
                    <p>{{data.employee_detail ? data.employee_detail.user.email:''}}</p>
                  </div>
                  <div class="postedjobCol">
                    <p>{{data.employee_detail ? data.employee_detail.user.phone_no:''}}</p>
                  </div>
                  <div class="postedjobCol">
                    <p><a target="_blank" href="{{data.employee_detail.emp_cv.cv_full_path}}" download="true"><i class="fa fa-file-pdf-o"></i></a></p>
                  </div>

                </div>
              </ng-container>
            </div>
            <div *ngIf="allBookedData.length == 0" style="text-align: center;">No results found</div>
          </div>

          
          <!-- <ul class="pagination">
            <li [ngClass]="{'current': i== active_page}" *ngFor="let page_no of pagination(); index as i;"><a href="javascript:void(0)"  (click)="paginationCall(i)">{{page_no}}</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>