  <!-- START REGISTRATION FORM -->
      <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="registrationFormOuter">
                <h2 class="pageTitle">Posted Walk-In International</h2>
                <div class="postedjobOuter">
                  <div class="postedjobTable">
                    <div class="postedjobRow postedjobRowSec">
                      <div class="postedjobCol postedjobHead">
                        <p>Job</p>
                      </div>
                      <div class="postedjobCol postedjobHead">
                        <p>Created</p>
                      </div>
                      <div class="postedjobCol postedjobHead">
                        <p>Interview Dates</p>
                      </div>
                      <div class="postedjobCol postedjobHead">
                        <p>Republish</p>
                      </div>                      
                      <div class="postedjobCol postedjobHead">
                        <p>Type</p>
                      </div>
                      <div class="postedjobCol postedjobHead">
                        <p>Location</p>
                      </div>
                      <div class="postedjobCol postedjobHead">
                        <p>CV Reviewed</p>
                      </div>
                      <div class="postedjobCol postedjobHead">
                        <p>Views</p>
                      </div>
                      <div class="postedjobCol postedjobHead">
                        <p>Action</p>
                      </div>
                    </div>
                    <ng-container *ngFor="let walkin of pagedItems; index as i">
                    <div class="postedjobRow postedjobRowSec">
                      <div class="postedjobCol">
                        <p><a href="#" class="jobLink">{{walkin.job_title}}</a></p>
                      </div>
                      <div class="postedjobCol">
                        <p>{{walkin.created_at}}</p>
                      </div>
                      <div class="postedjobCol">
                        <p>{{walkin.interview_dates.slice(-1)[0] | date : "dd/MM/y"}}</p>
                      </div>
                      <div class="postedjobCol">
                      <p *ngIf="!walkin.select"><a href="javascript:void(0)" class="republish">Republish</a></p>
                      <p *ngIf="walkin.select"><a href="javascript:void(0)" class="republish disabled">Published</a></p>
                    </div>
                      <div class="postedjobCol">
                        <p>{{walkin.interview_type.name}}</p>
                      </div>
                      <div class="postedjobCol">
                        <p>{{walkin.interview_location_country_name.name}}</p>
                      </div>
                      <div class="postedjobCol">
                        <p><a href="javascript:void(0)">{{walkin.applied_interview_count}}</a></p>
                      </div>
                      <div class="postedjobCol">
                        <p>0</p>
                      </div>
                      <div class="postedjobCol">
                        <a href="javascript:void(0)" [routerLink]="['/employer/walk-in-interview-international-edit', walkin._id]" title="edit"><img src="assets/images/pencilIcon.png"></a>
                        <a href="javascript:void(0)" (click)="removeWalkin(walkin._id, i)" title="remove"><img src="assets/images/cancel.png"></a>
                        <div class="switch">
                          <label>
                            <input type="checkbox" [(ngModel)]="walkin.select" value="{{walkin._id}}" name="check_active_{{walkin._id}}" (ngModelChange)="setStatus($event, walkin._id)">
                            <span class="lever"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    </ng-container>
                    <div class="postedjobRow" *ngIf="pagedItems && pagedItems.length ==0">
                      <div class="postedjobCol">
                        <p style="text-align: center;">No Data Available</p>
                      </div>
                    </div>
                  </div>
                  <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                    <li [ngClass]="{disabled:pager.currentPage === 1}"><a
                    (click)="setPage(1)"></a></li>
                      <li [ngClass]="{disabled:pager.currentPage === 1}"><a
                              (click)="setPage(pager.currentPage - 1)"></a></li>
                      <li *ngFor="let page of pager.pages"
                              [ngClass]="{active:pager.currentPage === page}"><a
                              (click)="setPage(page)">{{page}}</a></li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)"></a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)"></a>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END REGISTRATION FORM -->