<!-- START REGISTRATION FORM -->
<section class="registrationForm employerInnerSection">
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="registrationFormOuter">
        <h2 class="pageTitle">Manage Template</h2>
        <!-- <div class="deleteAll">
          <a href="javascript:void(0)" (click)="deleteAll()">Delete</a>
        </div> -->
        <div class="employeeList templateList">
            <div class="employeeListOuter employeeListHead">
              <div class="employeeListInner">
                <p>
                  <!-- <label>
                    <input type="checkbox" class="filled-in">
                    <span></span>
                  </label> -->
                  Template Name
                </p>
              </div>
              <div class="employeeListInner">
                <p>Last Used on</p>
              </div>
              <div class="employeeListInner">
                <p>Last Modified</p>
              </div>
              <div class="employeeListInner">
                <p>Created On</p>
              </div>
              <div class="employeeListInner">
                <p>Status</p>
              </div>
              <div class="employeeListInner">
                <p>Send No. of Candidate</p>
              </div>
              <div class="employeeListInner">
                <p>Action</p>
              </div>
            </div>
          <ng-container *ngFor="let ptemplate of alltemplates; index as i">
            <div class="employeeListOuter employeeListBody">
              <div class="employeeListInner">
                <p>
                  <!-- <label>
                    <input type="checkbox" class="filled-in" [(ngModel)]="ptemplate.selected" value="{{ptemplate.id}}">
                    <span></span>
                  </label> -->
                  <a href="javascript:void(0)">{{ptemplate.template_name}}</a>
                </p>
              </div>
              <div class="employeeListInner">
                <p></p>
              </div>
              <div class="employeeListInner">
                <p>{{ptemplate.updated_at}}</p>
              </div>
              <div class="employeeListInner">
                <p>{{ptemplate.created_at}}</p>
              </div>
              <div class="employeeListInner">
                <p>{{ptemplate.review_status}}</p>
              </div>
              <div class="employeeListInner">
                <p><a href="javascript:void(0)">0</a></p>
              </div>
              <div class="employeeListInner">
                <a href="javascript:void(0)" [routerLink]="['/employer/email-template/edit',ptemplate._id]"><img src="assets/images/pencilIcon.png" alt="edit"></a>
                <a href="javascript:void(0)" (click)="deleteData($event,ptemplate._id,i)" *ngIf="!ptemplate.last_used_date"><img src="assets/images/cancel.png" alt="cancel"></a>
              </div>
            </div>
          </ng-container>
           <div class="employeeListOuter employeeListBody"  *ngIf="alltemplates && alltemplates.length ==0">
            <div class="employeeListInner">
              <p style="text-align: center;">No Data Available</p>
            </div>
           </div>
        </div>
        <ul class="pagination">
          <li *ngFor="let page_no of pagination(); index as i;" [ngClass]="{'current': i== active_page}"><a href="javascript:void(0)" (click)="paginationCall(i)">{{page_no}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
<!-- END REGISTRATION FORM -->