<!-- START REGISTRATION FORM -->
  <section class="registrationForm employerInnerSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="registrationFormOuter">
            <h2 class="pageTitle">Mailbox</h2>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="employeemailbox employeemailtop">
                    <div class="employeemailtoppanel ">
                      <h2 class="name">Heena Parveen</h2>
                      <ul>
                        <li>Counselling</li>
                        <li>Kolkata, West Bengal</li>
                      </ul>
                      <div class="mailph">
                        <a href="mailto:heenaparveen42_ng6@indeedemail.com">
                          <img src="assets/images/mail.png" alt=""/>heenaparveen42_ng6@indeedemail.com</a>
                        <a href="tel:9835462245"><img src="assets/images/telephone.png" alt=""/>9835462245</a>
                      </div>
                    </div>
                    <div class="employeemailmiddlepanel brdrnn">
                      <div class="selectsection">
                        <form>
                          <div class="form-group">
                            <label>Interested</label>
                            <select>
                              <option>Yes</option>
                              <option>May Be</option>
                              <option>Reject</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Status</label>
                            <select>
                              <option>Reviewed</option>
                              <option>Interviewed</option>
                              <option>Rejected</option>
                              <option>Hire</option>
                            </select>
                          </div>
                        </form>
                      </div>
                      <div class="btnsec"> 
                        <a class="suintr" href="#">set up interview</a>
                        <div class="moreactionhold">
                         <a class="moreaction" href="#">more action</a>
                         <ul>
                           <li><a href="">download resume</a></li>
                           <li><a href="">reject candidate</a></li>
                         </ul>
                        </div>
                      </div>
                    </div> 
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                <app-mail-sidenav></app-mail-sidenav>
              </div>
              <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                <div class="mailBody employeemailBody">  
                  <div class="mailBlock box box-primary">
                    <div class="box-header">
                      <h3 class="box-title">Inbox</h3>

                      <div class="box-tools">
                        <div class="has-feedback">
                          <input type="text" class="form-control input-sm" placeholder="Search Mail"> 
                        </div>
                      </div>
                      <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      
                      <div class="mailbox-holder">
                        

                        <div class="table-responsive mailbox-messages">
                          <div class="mailbox-controls"> 
                            <button type="button" class="btndiv" title="Select"><i class="fa fa-square-o"></i>
                            </button>
                            <div class="btn-group">
                              <button type="button" class="btndiv" title="Delete"><i class="fa fa-trash-o"></i></button>
                              <button type="button" class="btndiv reply" title="Reply"><i class="fa fa-reply"></i></button>
                              <button type="button" class="btndiv" title="Share"><i class="fa fa-share"></i></button>
                            </div> 
                            <button type="button" class="btndiv" title="Refresh"><i class="fa fa-repeat" aria-hidden="true"></i></button>
                            <div class="pull-right">
                              1-50/200
                              <div class="btn-group">
                                <button type="button" class="btndiv"><i class="fa fa-chevron-left"></i></button>
                                <button type="button" class="btndiv"><i class="fa fa-chevron-right"></i></button>
                              </div> 
                            </div> 
                          </div>
                          <table class="table table-hover table-striped">
                            <tbody>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"></td>
                                <td class="mailbox-date">5 mins ago</td>
                              </tr>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                <td class="mailbox-date">28 mins ago</td>
                              </tr>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                <td class="mailbox-date">11 hours ago</td>
                              </tr>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"></td>
                                <td class="mailbox-date">15 hours ago</td>
                              </tr>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                <td class="mailbox-date">Yesterday</td>
                              </tr>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                <td class="mailbox-date">2 days ago</td>
                              </tr>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                <td class="mailbox-date">2 days ago</td>
                              </tr>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"></td>
                                <td class="mailbox-date">2 days ago</td>
                              </tr>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"></td>
                                <td class="mailbox-date">2 days ago</td>
                              </tr>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"></td>
                                <td class="mailbox-date">2 days ago</td>
                              </tr>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                <td class="mailbox-date">4 days ago</td>
                              </tr>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"></td>
                                <td class="mailbox-date">12 days ago</td>
                              </tr>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star-o text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                <td class="mailbox-date">12 days ago</td>
                              </tr>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                <td class="mailbox-date">14 days ago</td>
                              </tr>
                              <tr class="mailrow">
                                <td><input type="checkbox" name="mailcheck"></td>
                                <td class="mailbox-star"><a href="javascript:void(0)"><i class="fa fa-star text-yellow"></i></a></td>
                                <td class="mailbox-name"><a href="javascript:void(0)">Alexander Pierce</a></td>
                                <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                </td>
                                <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                <td class="mailbox-date">15 days ago</td>
                              </tr>
                            </tbody>
                          </table> 
                        </div> 
                        <div class="mail-content"> 
                          <div class="mailtop">
                            <a href="javascript:void(0)" class="back" title="Back"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                            <a href="javascript:void(0)" class="draft" title="Archive"><i class="fa fa-archive" aria-hidden="true"></i> </a>
                            <a href="javascript:void(0)" class="delete" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                          </div>
                          <h3>Alexander Pierce  AdminLTE 2.0 Issue - Trying to find a solution to this problem...</h3>
                          <div class="mail-info clear">
                            <div class="frm">
                              <span class="ico"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                              <span class="text">rammoy ghosh</span>
                            </div>
                            <div class="timeinfo">
                              <span class="date">Apr 28, 2019, 1:27 PM (5 days ago)</span>
                              <button type="button" class="btndiv reply" title="Reply"><i class="fa fa-reply"></i></button>
                            </div>
                          </div>
                          <div class="maildiv">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                          </div>
                          <div class="submithold">
                            <input type="submit" name="" class="blueBtn reply" value="Reply">
                            <a href="#" class="font" title="Formatting"><i class="fa fa-font" aria-hidden="true"></i></a>
                            <a href="#" class="attach" title="Attach File"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                            <a href="#" class="emoji" title="Emoji"><i class="fa fa-smile-o" aria-hidden="true"></i></a>
                            <a href="#" class="photo" title="Photo"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- END REGISTRATION FORM -->