<div id="{{modalId}}" class="modal modal-fixed-footer">
    <div class="modal-content">
      <ng-content select="h4"></ng-content>
      <ng-content select="div"></ng-content>
    </div>
    <div class="modal-footer">
     <ng-content></ng-content>
    </div>
  </div>
          