<div class="multiselectdropdown" *ngIf="hasSearch && hasSearch =='1'">
   <input type="search" class="mssearch" [(ngModel)]="searchData" [ngModelOptions]="{standalone: true}" name="" placeholder="Search here" />
   <div class="msdiv">
      <div class="msgroup">
         <div class="formholder">
           <ng-container *ngFor="let checkedValue of dataArray | language : searchData; index as i;">
            <div class="checkboxOuter">
              <label >
                <input type="checkbox" name="{{checkedValue.language_name}}" value="{{checkedValue._id}}" [(ngModel)]="checkedValue.select" [ngModelOptions]="{standalone: true}" (ngModelChange)="getChange($event,checkedValue._id,checkedValue.language_name)">
                <span>{{checkedValue.language_name}}</span>
              </label>
            </div>
           </ng-container>
         </div>
      </div>
   </div>
</div>

<div class="multiselectdropdown" *ngIf="!hasSearch">
   <div class="msdiv">
      <div class="msgroup">
         <div class="formholder">
           <ng-container *ngFor="let checkedValue of dataArray | language : searchData; index as i;">
            <div class="checkboxOuter">
              <label >
                <input type="checkbox" name="{{checkedValue.language_name}}" value="{{checkedValue._id}}" [(ngModel)]="checkedValue.select" [ngModelOptions]="{standalone: true}" (ngModelChange)="getChange($event,checkedValue._id,checkedValue.language_name)">
                <span>{{checkedValue.language_name}}</span>
              </label>
            </div>
           </ng-container>
         </div>
      </div>
   </div>
</div>