<!-- START REGISTRATION FORM -->
<section class="registrationForm employerInnerSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="registrationFormOuter">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                            <div class="searchTypeOuter">
                                <h4>Search from Million Candidates</h4>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)" routerLink="/employer/simple-search"><img src="assets/images/searchIcon.png"> Simple Search</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" routerLink="/employer/advance-search"><img src="assets/images/add_search.png"> Advance Search</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" routerLink="/employer/people-search"><img src="assets/images/people_search.png"> People Search</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="searchTypeOuter">
                                <h4>Hire from Million Candidates</h4>
                                <a href="javascript:void(0)" routerLink="/employer/job-posted" class="redBtn">Post a Free Job</a>
                                <a href="javascript:void(0)" routerLink="/employer/walk-in-interview-international" class="redBtn">Post International Walk-In</a>
                                <a href="javascript:void(0)" [routerLink]="['/employer/college-list']" class="redBtn">Hire Candidate from College and University</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="order-lg-2 col-lg-4 col-md-12 order-sm-1 col-sm-12 col-12">
                            <!-- <div class="searchTypeOuter">
                        <a href="javascript:void(0)" [routerLink]="['/employer/college-list']" class="redBtn">Hire Candidate from College and University</a>
                        </div> -->
                        </div>
                        <div class="order-lg-1 col-lg-12 col-md-12 order-sm-2 col-sm-12 col-12">
                            <div class="dashboardBlock ">
                                <h4>Reference Benefits</h4>
                                <ol>
                                    <ng-container *ngFor="let referral of referrals">
                                        <li>
                                            <span><span class="highlightRef">{{referral.title}}</span> {{referral.benefit}}</span>
                                            <span class="refApplyOuter"><a href="javascript:void(0)" [routerLink]="['/employer/referal-list']"  [queryParams]="{referal_id:referral._id}" class="redBtn">Apply</a></span>
                                        </li>
                                    </ng-container>
                                </ol>
                            </div>
                            <div class="dashboardBlock annfremplyr">
                                <h4>Announcement Benefits</h4>
                                <ol>
                                    <ng-container *ngFor="let announcement of announcements">
                                        <li>
                                            <span><span class="highlightRef">{{announcement.title}}</span> {{announcement.benefit}} </span>
                                            <span class="refApplyOuter"><a href="javascript:void(0)" [routerLink]="['/employer/announcement-list']" [queryParams]="{announce_id:announcement._id}" class="redBtn">Apply</a></span>
                                        </li>
                                    </ng-container>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="dashboardBlock">
                        <div class="countBlockOuter">
                            <a href="javascript:void(0)" [routerLink]="['/employer/application-recieved']">
                                <div class="countBlockInner">
                                    <h2>{{new_cv_received}}</h2>
                                    <p>New CV Received</p>
                                </div>
                            </a>
                            <a href="javascript:void(0)" [routerLink]="['/employer/job-posted-list']">
                                <div class="countBlockInner">
                                    <h2>{{total_open_job}}</h2>
                                    <p>Open Jobs</p>
                                </div>
                            </a>
                            <a href="javascript:void(0)" [routerLink]="['/employer/job-posted-list']">
                                <div class="countBlockInner">
                                    <h2>{{total_closed_job}}</h2>
                                    <p>Closed Jobs</p>
                                </div>
                            </a>
                            <a href="javascript:void(0)" [routerLink]="['/employer/application-recieved']">
                                <div class="countBlockInner">
                                    <h2>{{new_cv_received}}</h2>
                                    <p>CV Review Awaiting</p>
                                </div>
                            </a>
                            <a href="javascript:void(0)" [routerLink]="['/employer/application-recieved']">
                                <div class="countBlockInner">
                                    <h2>{{cv_reviewed}}</h2>
                                    <p>CV Reviewed</p>
                                </div>
                            </a>
                            <a href="javascript:void(0)" [routerLink]="['/employer/application-recieved']">
                                <div class="countBlockInner">
                                    <h2>{{total_cv_received}}</h2>
                                    <p>Total CV Received</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="dashboardBlock">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <h4>Recent Searches</h4>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="viewOuter">
                        <a href="#">View all</a>
                      </div>
                    </div>
                  </div>
                  <ul class="searchResult">
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                  </ul>
                  </div> -->
                    <div class="dashboardBlock">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <h4>Recent Jobs</h4>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="viewOuter">
                                    <a href="javascript:void(0)" routerLink="/employer/recent-posted-job" *ngIf="recent_jobs_count > 0">View all</a>
                                </div>
                            </div>
                        </div>
                        <div class="recentJob">
                            <div class="recentJobInner" *ngFor="let job of recent_jobs">
                                <h4><a href="javascript:void(0)">{{job.job_title}}</a></h4>
                                <span class="byName">{{job.created_at_formate}} |  by {{job.employeer.user_detail.company_name}}</span>
                                <div class="applicantOuter">
                                    <a href="javascript:void(0)" routerLink="/employer/mail/inbox">{{job.applied_job_count}} applications <span>0 new</span></a>
                                </div>
                            </div>
                            <!-- <div class="recentJobInner">
                        <h4><a href="#">Urgent Required Cook In Australia</a></h4>
                        <span class="byName">Feb 7, 2019 |  by bsbinternationalcare</span>
                        <div class="applicantOuter">     
                          <a href="#" >25 applications <span>0 new</span></a>
                        </div>
                        </div>
                        <div class="recentJobInner">
                        <h4><a href="#">Urgent Required Cook In Australia</a></h4>
                        <span class="byName">Feb 7, 2019 |  by bsbinternationalcare</span>
                        <div class="applicantOuter">     
                          <a href="#" >25 applications <span>0 new</span></a>
                        </div>
                        </div> -->
                        </div>
                    </div>
                    <div class="dashboardBlock">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <h4>Paid Employer Limit</h4>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="viewOuter">
                                    <a href="javascript:void(0)" routerLink="/employer/payment">Payment History</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="limitBlock">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <h5>Premium Job Post</h5>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <div class="limitBox">
                                                <h2>{{premium_job_post_service ? premium_job_post_service.limit_count:'0'}}</h2>
                                                <p>Total</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <div class="limitBox">
                                                <h2>{{premium_job_post_service ? premium_job_post_service.remaining_count:'0'}}</h2>
                                                <p>Remaining</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="limitBlock">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <h5>International Walk-In</h5>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <div class="limitBox">
                                                <h2>{{international_walk_in_interview_service ? international_walk_in_interview_service.limit_count:'0'}}</h2>
                                                <p>Total</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <div class="limitBox">
                                                <h2>{{international_walk_in_interview_service ? international_walk_in_interview_service.remaining_count:'0'}}</h2>
                                                <p>Remaining</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="limitBlock">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <h5>Mass Mail</h5>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <div class="limitBox">
                                                <h2>{{mass_mail_service_service ? mass_mail_service_service.limit_count:'0'}}</h2>
                                                <p>Total</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <div class="limitBox">
                                                <h2>{{mass_mail_service_service ? mass_mail_service_service.remaining_count:'0'}}</h2>
                                                <p>Remaining</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="limitBlock">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <h5>CV Download / View</h5>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <div class="limitBox">
                                                <h2>{{cv_download_view_service ? cv_download_view_service.limit_count:'0'}}</h2>
                                                <p>Total</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <div class="limitBox">
                                                <h2>{{cv_download_view_service ? cv_download_view_service.remaining_count:'0'}}</h2>
                                                <p>Remaining</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboardBlock" *ngIf="carrer_company_name">
                        <h4>Advertise your jobs in your social networks</h4>
                        <p>Share your jobs now on social networks or by email to reach more candidates.</p>
                        <div class="copyLinkOuter">
                            <input type="text" name="" value="{{carrer_url}}" #carrerurl readonly>
                            <button type="button" (click)="copyUrl(carrerurl)">Copy Link</button>
                        </div>
                        <!-- <ul class="linkShare">
                     <li><a href="javascript:void(0)"><img src="assets/images/facebook.png"></a></li>
                     <li><a href="javascript:void(0)"><img src="assets/images/linkedin.png"></a></li>
                     <li><a href="javascript:void(0)"><img src="assets/images/twitter.png"></a></li>
                     </ul> -->
                    </div>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#incompleteModal" id="profile_check_modal" data-backdrop="static" data-keyboard="false" style="display: none;"></a>
                    <!-- <button data-toggle="modal" data-target="#incompleteModal" id="profile_check_modal" data-backdrop="static" data-keyboard="false">Modal Open</button> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END REGISTRATION FORM -->
<div class="cmnmodal carefullyfillModal" *ngIf="openProfileModal">
    <div class="modalholder">
        <div class="modalheader milion-mdl-header">
            <p>Carefully fill all below Information</p>
        </div>
        <div class="modalbody">
            <form [formGroup]="profileUpdateForm">
                <div class="form-inline3">
                    <div class="form-group">
                        <label>Company Name</label>
                        <input type="text" class="validate" [ngClass]="{'error':(submitted && f.company_name.errors) || (f.company_name.touched && f.company_name.errors)}" formControlName="company_name">
                        <span *ngIf="(profileUpdateForm.get('company_name').touched || profileUpdateForm.get('company_name').dirty)
                     && profileUpdateForm.get('company_name').errors">
                  <span *ngIf="profileUpdateForm.get('company_name').errors.required "
                     class="form-error">Please Enter Company Name</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <select [ngClass]="{'error':(submitted && f.country_id.errors) || (f.country_id.touched && f.country_id.errors)}" formControlName="country_id">
                     <option value="" selected>Choose Country</option>
                     <option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
                  </select>
                        <span *ngIf="(profileUpdateForm.get('country_id').touched || profileUpdateForm.get('country_id').dirty)
                     && profileUpdateForm.get('country_id').errors">
                  <span *ngIf="profileUpdateForm.get('country_id').errors.required "
                     class="form-error">Please Select Country</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <select [ngClass]="{'error':(submitted && f.city_id.errors) || (f.city_id.touched && f.city_id.errors)}" formControlName="city_id">
                     <option value="" selected>Choose City</option>
                     <option value="{{city._id}}" *ngFor="let city of coutryWiseCity">{{city.name}}</option>
                  </select>
                        <span *ngIf="(profileUpdateForm.get('city_id').touched || profileUpdateForm.get('city_id').dirty)
                     && profileUpdateForm.get('city_id').errors">
                  <span *ngIf="profileUpdateForm.get('city_id').errors.required "
                     class="form-error">Please Select City</span>
                        </span>
                    </div>
                </div>
                <div class="form-inline3">
                    <div class="form-group">
                        <label>Your Designation</label>
                        <input id="desig" type="text" class="validate" [ngClass]="{'error':(submitted && f.designation.errors) || (f.designation.touched && f.designation.errors)}" formControlName="designation">
                        <span *ngIf="(profileUpdateForm.get('designation').touched || profileUpdateForm.get('designation').dirty)
                     && profileUpdateForm.get('designation').errors">
                  <span *ngIf="profileUpdateForm.get('designation').errors.required"
                     class="form-error">Please enter designation</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Industry</label>
                        <select [ngClass]="{'error':(submitted && f.industry_id.errors) || (f.industry_id.touched && f.industry_id.errors)}" formControlName="industry_id">
                     <option value="" selected>Choose Industry</option>
                     <option value="{{industry._id}}" *ngFor="let industry of industries">{{industry.name}}</option>
                  </select>
                        <span *ngIf="(profileUpdateForm.get('industry_id').touched || profileUpdateForm.get('industry_id').dirty)
                     && profileUpdateForm.get('industry_id').errors">
                  <span *ngIf="profileUpdateForm.get('industry_id').errors.required"
                     class="form-error">Please select industry</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input id="address" type="text" class="validate" [ngClass]="{'error':(submitted && f.address.errors) || (f.address.touched && f.address.errors)}" formControlName="address" placeholder="Address">
                    </div>
                </div>
                <div class="form-inline3">
                    <div class="form-group">
                        <label>Pin Code/ Zip Code</label>
                        <input id="pincode" type="text" class="validate" [ngClass]="{'error':(submitted && f.zipcode.errors) || (f.zipcode.touched && f.zipcode.errors)}" formControlName="zipcode" placeholder="Pin Code">
                        <span *ngIf="(submitted && profileUpdateForm.get('zipcode').errors)">
                  <span *ngIf="profileUpdateForm.get('zipcode').errors.required" class="form-error">Please enter pin code</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Company Phone Number</label>
                        <input id="otherphone" type="text" class="validate" [ngClass]="{'error':(submitted && f.alternate_ph_no.errors) || (f.alternate_ph_no.touched && f.alternate_ph_no.errors)}" formControlName="alternate_ph_no" placeholder="Phone Number">
                        <span *ngIf="(submitted && f.alternate_ph_no.errors) || (f.alternate_ph_no.touched && f.alternate_ph_no.errors)">
                  <span *ngIf="f.alternate_ph_no.errors.required " class="form-error">Please enter mobile</span>
                        <span *ngIf="f.alternate_ph_no.errors.pattern || f.alternate_ph_no.errors.minlength || f.alternate_ph_no.errors.maxlength" class="form-error">Please enter valid mobile</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Company Type</label>
                        <select [ngClass]="{'error':(submitted && f.company_type.errors) || (f.company_type.touched && f.company_type.errors)}" formControlName="company_type">
                     <option value="" selected>Company Type</option>
                     <option value="{{companyType._id}}" *ngFor="let companyType of companyTypes">{{companyType.company_type}}</option>
                  </select>
                        <span *ngIf="(submitted && profileUpdateForm.get('company_type').errors || profileUpdateForm.get('company_type').touched || profileUpdateForm.get('company_type').dirty)
                     && profileUpdateForm.get('company_type').errors">
                  <span *ngIf="profileUpdateForm.get('company_type').errors.required"
                     class="form-error">Please select company type</span>
                        </span>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label>Company Size</label>
                        <select [ngClass]="{'error':(submitted && f.company_size.errors) || (f.company_size.touched && f.company_size.errors)}" formControlName="company_size">
                     <option value="" selected>Company Size</option>
                     <option value="{{companySize._id}}" *ngFor="let companySize of companySizes">{{companySize.company_size}}</option>
                  </select>
                        <span *ngIf="(submitted && profileUpdateForm.get('company_size').errors || profileUpdateForm.get('company_size').touched || profileUpdateForm.get('company_size').dirty)
                     && profileUpdateForm.get('company_size').errors">
                  <span *ngIf="profileUpdateForm.get('company_size').errors.required"
                     class="form-error">Please select company size</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Company Logo</label>
                        <input type="file" name="" id="imgtype" #company_logo (change)="companyLogo(company_logo)" [ngClass]="{'error':(submitted && f.company_logo.errors) || (f.company_logo.touched && f.company_logo.errors)}">
                        <span class="filecustom">
                  Type: png & max Size 2Mb
                  <label for="imgtype">Browse</label>
                  </span>
                        <span class="small">
                  If your logo has JPG or PDF, you must convert your logo to PNG from below link after that you can upload your Logo <a href="https://image.online-convert.com/convert-to-png" target="_blank"> https://image.online-convert.com/convert-to-png</a>
                  </span>
                        <span *ngIf="(submitted && profileUpdateForm.get('company_logo').errors || profileUpdateForm.get('company_logo').touched || profileUpdateForm.get('company_logo').dirty)
                     && profileUpdateForm.get('company_logo').errors">
                  <span style="top: -16;" *ngIf="profileUpdateForm.get('company_logo').errors.required"
                     class="form-error">Please upload company logo</span>
                        </span>
                        <div class="uploadedImg" *ngIf="profileUpdateForm.get('company_logo').value">
                            <a href="javascript:void(0)"><img src="assets/images/cancel.png" (click)="removePicture('company_logo')"></a>
                            <img src="{{companyUploadLogoImage ? companyUploadLogoImage: profileUpdateForm.get('company_logo').value}}">
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label>Company Tag Line</label>
                        <textarea placeholder="Company Tag Line(Max 200 Character)" formControlName="company_tagline"></textarea>
                        <span *ngIf="(submitted && profileUpdateForm.get('company_tagline').errors || profileUpdateForm.get('company_tagline').touched || profileUpdateForm.get('company_tagline').dirty)
                     && profileUpdateForm.get('company_tagline').errors">
                  <span *ngIf="profileUpdateForm.get('company_tagline').errors.required"
                     class="form-error">Please enter company tagline</span>
                        <span *ngIf="profileUpdateForm.get('company_tagline').errors.maxlength" class="form-error">Company tagline not more than 200 character</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Company Overview</label>
                        <textarea placeholder="Company Overview(Max 1000 Character)" [ngClass]="{'error':(submitted && f.company_short_desc.errors) || (f.company_short_desc.touched && f.company_short_desc.errors)}" formControlName="company_short_desc"></textarea>
                        <span *ngIf="(submitted && profileUpdateForm.get('company_short_desc').errors || profileUpdateForm.get('company_short_desc').touched || profileUpdateForm.get('company_short_desc').dirty)
                     && profileUpdateForm.get('company_short_desc').errors">
                  <span *ngIf="profileUpdateForm.get('company_short_desc').errors.required"
                     class="form-error">Please enter company short desc</span>
                        <span *ngIf="profileUpdateForm.get('company_short_desc').errors.maxlength" class="form-error">Company short desc not more than 1000 character</span>
                        </span>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label>Company Website</label>
                        <input type="text" name="" [ngClass]="{'error':(submitted && f.company_website.errors) || (f.company_website.touched && f.company_website.errors)}" formControlName="company_website" placeholder="Company Website" />
                        <span *ngIf="(submitted && profileUpdateForm.get('company_website').errors)">
                  <span *ngIf="profileUpdateForm.get('company_website').errors.required" class="form-error">Please enter company website</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Company Email</label>
                        <input type="text" name="" [ngClass]="{'error':(submitted && f.company_email.errors) || (f.company_email.touched && f.company_email.errors)}" formControlName="company_email" placeholder="Company Email" />
                        <span *ngIf="(submitted && profileUpdateForm.get('company_email').errors)">
                  <span *ngIf="profileUpdateForm.get('company_email').errors.required" class="form-error">Please enter company email</span>
                        <span *ngIf="profileUpdateForm.get('company_email').errors.pattern" class="form-error">Please enter valid company email</span>
                        </span>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label>Company Gallery Images</label>
                        <input id="gallery" type="file" name="" #imageInput (change)="processFile(imageInput)">
                        <span class="filecustom">
                  Upload Company Gallery Images
                  <label for="gallery">Browse</label>
                  </span>
                        <div *ngIf="galleries.previews.length">
                            <ng-container *ngFor="let image of galleries.previews; index as i;">
                                <div class="uploadedImg">
                                    <a href="javascript:void(0)" (click)="removeFile(image.id, image.type)"><img src="assets/images/cancel.png"></a>
                                    <img src="{{image.url}}">
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Referral Code (If you have)</label>
                        <input type="text" name="" placeholder="Referral Code (If you have)" [ngClass]="{'error':(submitted && f.user_unique_code.errors) || (f.user_unique_code.touched && f.user_unique_code.errors)}" formControlName="user_unique_code" />
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label>License Type</label>
                        <select [ngClass]="{'error':(submitted && f.business_licence_type.errors) || (f.business_licence_type.touched && f.business_licence_type.errors)}" formControlName="business_licence_type">
                     <option value="" selected>Please select License Type (Optional/Not-mandatory)</option>
                     <option value="1">Provided by state government/ province government business license</option>
                     <option value="2">Provided by Central Government business license</option>
                     <option value="3">Provided by Federal Government business license</option>
                  </select>
                    </div>
                    <div class="form-group">
                        <label>Company business license</label>
                        <input type="file" id="bsns" #business_licence (change)="uploadeBusinessLicense(business_licence)" class="validate" [ngClass]="{'error':(submitted && f.business_licence.errors) || (f.business_licence.touched && f.business_licence.errors)}">
                        <span class="filecustom">
                  {{uploadDocumentName? uploadDocumentName :'Upload current company business license'}}
                  <label for="bsns">Browse</label>
                  </span>
                    </div>
                </div>
                <div class="form-group flx-frmgroup">
                    <input type="checkbox" name="" formControlName="license_agree">
                    <label><span>Declaration by the user</span>  (I hereby declare that the information given in this application is true and correct to the best of my knowledge and belief of the company. In case any information given in this application proves to be false or incorrect, I shall be responsible for the consequences.)</label>
                </div>
                <div class="form-group">
                    <input type="submit" name="" value="NOW SUBMIT FOR UNLIMITED FREE JOB POSTING" (click)="updateProfile()">
                </div>
                <div class="mbtnholder">
                    <a class="logout" href="javascript:void(0)" (click)="logOut()">Logout and goto Home</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!--  <div class="modal generalModal" id="incompleteModal">
   <div class="modal-content">
     <div class="modal-header">
       <h4>Carefully fill all below Information</h4>
     </div>
     <div class="modal-body">
       <form [formGroup]="profileUpdateForm">
         <div class="row">
           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon companyIcon"></span>
               <input id="cname1" type="text" class="validate" [ngClass]="{'error':(submitted && f.company_name.errors) || (f.company_name.touched && f.company_name.errors)}" formControlName="company_name">
               <label for="cname1" [ngClass]="{'active':profileUpdateForm.get('company_name').value}">Company Name</label>
               <span *ngIf="(profileUpdateForm.get('company_name').touched || profileUpdateForm.get('company_name').dirty)
               && profileUpdateForm.get('company_name').errors">
                 <span *ngIf="profileUpdateForm.get('company_name').errors.required "
                       class="form-error">Please Enter Company Name</span>
               </span>
             </div>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <select [ngClass]="{'error':(submitted && f.country_id.errors) || (f.country_id.touched && f.country_id.errors)}" formControlName="country_id">
                 <option value="" selected>Choose Country</option>
                 <option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
               </select>
               <span *ngIf="(profileUpdateForm.get('country_id').touched || profileUpdateForm.get('country_id').dirty)
               && profileUpdateForm.get('country_id').errors">
                 <span *ngIf="profileUpdateForm.get('country_id').errors.required "
                       class="form-error">Please Select Country</span>
               </span>
             </div>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <select [ngClass]="{'error':(submitted && f.city_id.errors) || (f.city_id.touched && f.city_id.errors)}" formControlName="city_id">
                 <option value="" selected>Choose City</option>
                 <option value="{{city._id}}" *ngFor="let city of coutryWiseCity">{{city.name}}</option>
               </select>
               <span *ngIf="(profileUpdateForm.get('city_id').touched || profileUpdateForm.get('city_id').dirty)
               && profileUpdateForm.get('city_id').errors">
                 <span *ngIf="profileUpdateForm.get('city_id').errors.required "
                       class="form-error">Please Select City</span>
               </span>
             </div>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon employeeIcon"></span>
               <input id="desig" type="text" class="validate" [ngClass]="{'error':(submitted && f.designation.errors) || (f.designation.touched && f.designation.errors)}" formControlName="designation">
               <label for="desig" [ngClass]="{'active':profileUpdateForm.get('designation').value}">Your Designation</label>
               <span *ngIf="(profileUpdateForm.get('designation').touched || profileUpdateForm.get('designation').dirty)
               && profileUpdateForm.get('designation').errors">
                 <span *ngIf="profileUpdateForm.get('designation').errors.required"
                       class="form-error">Please enter designation</span>
               </span>
             </div>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon industryIcon"></span>
               <select [ngClass]="{'error':(submitted && f.industry_id.errors) || (f.industry_id.touched && f.industry_id.errors)}" formControlName="industry_id">
                 <option value="" selected>Choose Industry</option>
                 <option value="{{industry._id}}" *ngFor="let industry of industries">{{industry.name}}</option>
               </select>
               <span *ngIf="(profileUpdateForm.get('industry_id').touched || profileUpdateForm.get('industry_id').dirty)
               && profileUpdateForm.get('industry_id').errors">
                 <span *ngIf="profileUpdateForm.get('industry_id').errors.required"
                       class="form-error">Please select industry</span>
               </span>
             </div>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon addressIcon"></span>
               <input id="address" type="text" class="validate" [ngClass]="{'error':(submitted && f.address.errors) || (f.address.touched && f.address.errors)}" formControlName="address">
               <label for="address" [ngClass]="{'active':profileUpdateForm.get('address').value}">Address</label>
             </div>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon pincodeIocn"></span>
               <input id="pincode" type="text" class="validate" [ngClass]="{'error':(submitted && f.zipcode.errors) || (f.zipcode.touched && f.zipcode.errors)}" formControlName="zipcode">
               <label for="pincode">Pin Code</label>
                 <span *ngIf="(submitted && profileUpdateForm.get('zipcode').errors)">
                   <span *ngIf="profileUpdateForm.get('zipcode').errors.required" class="form-error">Please enter pin code</span>
               </span>
             </div>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon phoneIcon"></span>
               <input id="otherphone" type="text" class="validate" [ngClass]="{'error':(submitted && f.alternate_ph_no.errors) || (f.alternate_ph_no.touched && f.alternate_ph_no.errors)}" formControlName="alternate_ph_no">
               <label for="otherphone">Company Phone Number</label>
                 <span *ngIf="(submitted && f.alternate_ph_no.errors) || (f.alternate_ph_no.touched && f.alternate_ph_no.errors)">
                   <span *ngIf="f.alternate_ph_no.errors.required " class="form-error">Please enter mobile</span>
                   <span *ngIf="f.alternate_ph_no.errors.pattern || f.alternate_ph_no.errors.minlength || f.alternate_ph_no.errors.maxlength" class="form-error">Please enter valid mobile</span>
               </span>
             </div>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon companyIcon"></span>
               <select [ngClass]="{'error':(submitted && f.company_type.errors) || (f.company_type.touched && f.company_type.errors)}" formControlName="company_type">
                 <option value="" selected>Company Type</option>
                 <option value="{{companyType._id}}" *ngFor="let companyType of companyTypes">{{companyType.company_type}}</option>
               </select>
                 <span *ngIf="(submitted && profileUpdateForm.get('company_type').errors || profileUpdateForm.get('company_type').touched || profileUpdateForm.get('company_type').dirty)
               && profileUpdateForm.get('company_type').errors">
                 <span *ngIf="profileUpdateForm.get('company_type').errors.required"
                       class="form-error">Please select company type</span>
               </span>
             </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon companyIcon"></span>
               <select [ngClass]="{'error':(submitted && f.company_size.errors) || (f.company_size.touched && f.company_size.errors)}" formControlName="company_size">
                 <option value="" selected>Company Size</option>
                 <option value="{{companySize._id}}" *ngFor="let companySize of companySizes">{{companySize.company_size}}</option>
               </select>
               <span *ngIf="(submitted && profileUpdateForm.get('company_size').errors || profileUpdateForm.get('company_size').touched || profileUpdateForm.get('company_size').dirty)
               && profileUpdateForm.get('company_size').errors">
                 <span *ngIf="profileUpdateForm.get('company_size').errors.required"
                       class="form-error">Please select company size</span>
               </span>
             </div>
           </div>
           <div class="col-lg-6 col-md-12 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon companyIcon"></span>
               <input type="file" name="" id="companylogo" #company_logo (change)="companyLogo(company_logo)" [ngClass]="{'error':(submitted && f.company_logo.errors) || (f.company_logo.touched && f.company_logo.errors)}">
               <label for="companylogo">
                 <span class="placeholderTxt">Company Logo (type: .png & size: max 2mb) </span>
                 <span class="browse">Browse</span>
               </label>
               <span *ngIf="(submitted && profileUpdateForm.get('company_logo').errors || profileUpdateForm.get('company_logo').touched || profileUpdateForm.get('company_logo').dirty)
               && profileUpdateForm.get('company_logo').errors">
                 <span style="top: -16;" *ngIf="profileUpdateForm.get('company_logo').errors.required"
                       class="form-error">Please upload company logo</span>
               </span>
               <div class="uploadedImg" *ngIf="profileUpdateForm.get('company_logo').value">
                 <a href="javascript:void(0)"><img src="assets/images/cancel.png" (click)="removePicture('company_logo')"></a>
               <img src="{{companyUploadLogoImage ? companyUploadLogoImage: profileUpdateForm.get('company_logo').value}}">
               </div>
             </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <textarea rows="4" class="form-control" placeholder="Company Tag Line (Max 200 character)" [ngClass]="{'error':(submitted && f.company_tagline.errors) || (f.company_tagline.touched && f.company_tagline.errors)}" formControlName="company_tagline"></textarea>
                 <span *ngIf="(submitted && profileUpdateForm.get('company_tagline').errors || profileUpdateForm.get('company_tagline').touched || profileUpdateForm.get('company_tagline').dirty)
               && profileUpdateForm.get('company_tagline').errors">
                 <span *ngIf="profileUpdateForm.get('company_tagline').errors.required"
                       class="form-error">Please enter company tagline</span>
                 <span *ngIf="profileUpdateForm.get('company_tagline').errors.maxlength"
                       class="form-error">Company tagline not more than 200 character</span>
               </span>
             </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <textarea rows="4" class="form-control" placeholder="Company Overview (Max 1000 character)" [ngClass]="{'error':(submitted && f.company_short_desc.errors) || (f.company_short_desc.touched && f.company_short_desc.errors)}" formControlName="company_short_desc"></textarea>
                 <span *ngIf="(submitted && profileUpdateForm.get('company_short_desc').errors || profileUpdateForm.get('company_short_desc').touched || profileUpdateForm.get('company_short_desc').dirty)
               && profileUpdateForm.get('company_short_desc').errors">
                 <span *ngIf="profileUpdateForm.get('company_short_desc').errors.required"
                       class="form-error">Please enter company short desc</span>
                 <span *ngIf="profileUpdateForm.get('company_short_desc').errors.maxlength"
                       class="form-error">Company short desc not more than 1000 character</span>
               </span>
             </div>
           </div>
   
           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon companyIcon"></span>
               <select [ngClass]="{'error':(submitted && f.business_licence_type.errors) || (f.business_licence_type.touched && f.business_licence_type.errors)}" formControlName="business_licence_type">
                     <option value="" selected>Please select License Type (Optional/Not-mandatory)</option>
                     <option value="1">Provided by state government/ province government business license</option>
                     <option value="2">Provided by Central Government business license</option>
                     <option value="3">Provided by Federal Government business license</option>
                   </select>
             </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon companyIcon"></span>
               <input type="file" name="" id="businesslicence" #business_licence (change)="uploadeBusinessLicense(business_licence)" class="validate" [ngClass]="{'error':(submitted && f.business_licence.errors) || (f.business_licence.touched && f.business_licence.errors)}">
               <label for="businesslicence">
                 <span class="placeholderTxt">{{uploadDocumentName? uploadDocumentName :'Upload current company business license'}} </span>
                 <span class="browse">Browse</span>
               </label>
             </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon imageIcon"></span>
               <input type="file" name="" id="galleryImg" #imageInput (change)="processFile(imageInput)">
               <label for="galleryImg">
                 <span class="placeholderTxt">Company Gallery Images </span>
                 <span class="browse">Browse</span>
   
               </label>
   
               <div *ngIf="galleries.previews.length">
               <ng-container *ngFor="let image of galleries.previews; index as i;">
               <div class="uploadedImg">
                 <a href="javascript:void(0)" (click)="removeFile(image.id, image.type)"><img src="assets/images/cancel.png"></a>
                 <img src="{{image.url}}">
               </div>
               </ng-container>
               </div>
             </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon phoneIcon"></span>
               <input id="referral" type="text" class="validate" [ngClass]="{'error':(submitted && f.user_unique_code.errors) || (f.user_unique_code.touched && f.user_unique_code.errors)}" formControlName="user_unique_code">
               <label for="referral">Referral Code (if you have)</label>
               <span *ngIf="userUniqueValidErr" class="form-error">{{userUniqueValidErr}}</span>
             </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon phoneIcon"></span>
               <input id="comp_website" type="text" class="validate" [ngClass]="{'error':(submitted && f.company_website.errors) || (f.company_website.touched && f.company_website.errors)}" formControlName="company_website">
               <label for="comp_website">Company Website</label>
                <span *ngIf="(submitted && profileUpdateForm.get('company_website').errors)">
                   <span *ngIf="profileUpdateForm.get('company_website').errors.required" class="form-error">Please enter company website</span>
               </span>
             </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
             <div class="input-field">
               <span class="icon phoneIcon"></span>
               <input id="comp_email" type="text" class="validate" [ngClass]="{'error':(submitted && f.company_email.errors) || (f.company_email.touched && f.company_email.errors)}" formControlName="company_email">
               <label for="comp_email">Company Email</label>
                <span *ngIf="(submitted && profileUpdateForm.get('company_email').errors)">
                   <span *ngIf="profileUpdateForm.get('company_email').errors.required" class="form-error">Please enter company email</span>
                   <span *ngIf="profileUpdateForm.get('company_email').errors.pattern" class="form-error">Please enter valid company email</span>
               </span>
             </div>
           </div>
         </div>
         <div class="checkboxOuter" style="margin: 0 5px;">
           <label class="declaration_check">
           <input type="checkbox" class="filled-in" formControlName="license_agree">
           <span><b>Declaration by the user</b> (I hereby declare that the information given in this application is true and correct to the best of my knowledge and belief of the company. In case any information given in this application proves to be false or incorrect, I shall be responsible for the consequences.)</span>
           </label>
         </div>
         <div class="shareOuter">
           <a href="javascript:void(0)" id="close_modal" data-dismiss="modal" aria-hidden="true" style="display: none;"></a>
           <button type="submit" class="blueBtn" (click)="updateProfile()">Now Submit for unlimited Free Job posting</button><br>
           <a href="javascript:void(0)" (click)="logOut()" style="text-decoration: underline;">Logout and goto Home</a>
         </div>
       </form>
     </div>          
   </div>
   </div> -->