<!-- <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h2 class="pageTitle">Profile View</h2>
              <div class="postedjobOuter">
              	<ng-container *ngFor="let profile of profile_views; index as i;">
	                <div class="postedjobInner">
	                    <h5> {{profile?.employer_details?.first_name}} {{profile?.employer_details?.last_name}}</h5>
	                    <h5> {{profile?.employer_details?.designation}}</h5>
	                    <h5> {{profile?.employer_details?.company_name}}</h5>
	                    <p>{{profile?.employer_details?.company_short_desc}}</p>
	                    <ul>
	                    </ul>                     
	                </div>
            	</ng-container>
            	 <div class="postedjobInner" *ngIf="!profile_views.length">
                  <h5 style="text-align: center;">No Data Available</h5>
               </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->



      <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h2 class="pageTitle">Profile viewed by Employer</h2>

              <div class="employer-jobb-srch-hlder">
                <form (submit)="filterByDate($event)">
                  <div class="form-inline job-srch-inline">
                    <div class="form-group">
                      <input type="text" placeholder="From date" dateInput format="Y-m-d" mode="single" [(ngModel)]='search_key.from_date' [ngModelOptions]="{standalone: true}">
                    </div>
      
                    <div class="form-group">
                      <input type="text" placeholder="To date" dateInput format="Y-m-d" mode="single" [(ngModel)]='search_key.to_date' [ngModelOptions]="{standalone: true}">
                    </div>
      
                    <div class="form-group">
                      <input type="submit" value="">
                    </div>
                    <div class="form-group">
                        <button (click)="clearFilter()">Clear</button>
                    </div>
                  </div>
                 </form>
              </div>

              <div class="postedjobOuter">
                <div class="postedjobTable employer-job-srchh-tbl">
                  <div class="postedjobRow">
                    <div class="postedjobCol postedjobHead">
                      <p>employer name</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>industry</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>country</p>
                    </div>
                    <div class="postedjobCol postedjobHead" style="width: 10%">
                      <p>City</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Date</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Time</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Email to employer</p>
                    </div>  
                  </div>
                  <ng-container *ngFor="let profile of profile_views; index as i">
                  <div class="postedjobRow">
                    <div class="postedjobCol">
                      <p>{{profile?.employer_details?.company_name.charAt(0).toUpperCase() + profile?.employer_details?.company_name.slice(1) }}</p>
                    </div>
                    <div class="postedjobCol">
                      <p>{{profile?.employer_details?.industry_details?.name}}</p>
                    </div>
                    <div class="postedjobCol">
                      <p>{{profile?.employer_details?.country?.name}}</p>
                    </div>
                    <div class="postedjobCol">
                      <p>{{profile?.employer_details?.city?.name}}</p>
                    </div>
                    <div class="postedjobCol">
                      <p>{{profile?.created_date}}</p>
                    </div>
                  
                    <div class="postedjobCol">
                      <p>{{profile?.created_time}}</p>
                    </div>

                    <div class="postedjobCol">
                      <p><a href="javascript:void(0)" [routerLink]="['/mail/inbox']" [queryParams]="{ email_now: '1', 'email_name':getBase64Encode(profile?.employer_details?.user?.email) ,'comp_name':getBase64Encode(profile?.employer_details?.company_name) }" class="emil-now">Email Now</a></p>
                    </div>

                  </div>
                  </ng-container>
                  <div class="postedjobRow" *ngIf="profile_views.length ==0">
                    <div class="postedjobCol">
                      <p style="text-align: center;">No Data Available</p>
                    </div>
                  </div>
                </div>
                <div class="tbl-view-more-hlder" *ngIf="profile_views.length < total_count">
                  <a href="javascript:void(0)" (click)="viewMore()">View More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>