
<div class="multiselectdropdown">
   <input type="search" class="mssearch" [(ngModel)]="searchData" [ngModelOptions]="{standalone: true}" name=""/>
   <div class="msdiv">

      <ng-container *ngFor="let data of dataArray | search : searchData; index as i;">
         <div class="msgroup">
            <h4>{{data[0]}}</h4>
            <div class="formholder">
               <ng-container *ngFor="let checkedValue of data[1] | search : searchData">
                  <div class="form-group">
                     <input type="radio" id="chk2" [(ngModel)]="checkedValue.select" [ngModelOptions]="{standalone: true}" name="checked_radio" value="{{checkedValue.id}}" (ngModelChange)="getChange($event,checkedValue.id,checkedValue.name)">
                     <label for="chk2">{{checkedValue.name}}</label>
                  </div>
               </ng-container>
            </div>
         </div>
      </ng-container>

   </div>
</div>
