<div class="multiselectdropdown">
   <input type="search" class="mssearch" [(ngModel)]="searchData" [ngModelOptions]="{standalone: true}" name="" placeholder="Search here" />
   <div class="msdiv">
      <ng-container *ngFor="let data of dataArray | search : searchData; index as i;">
         <div class="msgroup">
            <h4>{{data[0]}}</h4>
            <div class="formholder">
               <ng-container *ngFor="let checkedValue of data[1] | search : searchData;  index as j;">
                  <div class="checkboxOuter">
                        <label>
                        <input type="checkbox" [(ngModel)]="checkedValue.select" [disabled]="checkedValue.isDisabled" [ngModelOptions]="{standalone: true}" name="{{checkedValue.name}}" value="{{checkedValue._id}}" (ngModelChange)="getChange($event,checkedValue._id,checkedValue.name)">
                        <span>{{checkedValue.name}}</span>
                        </label>

                        <ng-container  *ngIf="checkedValue?.child?.length && checkedValue.select">
                           <div class="checkboxOuter subOuter" *ngFor="let subcheck of checkedValue.child">
	                           <label>
	                           <input type="checkbox" [(ngModel)]="subcheck.select" [disabled]="subcheck.isDisabled" [ngModelOptions]="{standalone: true}" name="{{subcheck.name}}" value="{{subcheck._id}}" (ngModelChange)="getSubChange($event,subcheck._id,checkedValue._id,checkedValue.name, subcheck.name)">
	                           <span>{{subcheck.name}}</span>
	                           </label>
                           </div>
                    	</ng-container>

                     </div>
                    
               </ng-container>
            </div>
         </div>
      </ng-container>
   </div>
</div>