/* You can add global styles to this file, and also import other style files */

.has-error{
  color: #f00;
}

.form-error{
  color: #f00;
  font-size: 14px;
  display: inline-block;
  line-height: 18px;
}
.has-error input{
  border-bottom: 2px solid #f00!important;
}

.slot_select{
	background: #b8c5cc;
}


