
    <!-- START JOB BY COUNTRY SECTION -->
      <div class="legalhold">
        <div class="legaltop">
          <div class="container">
            <div class="legaltopholder">
              <div class="legaltopcol">
                <div class="legaltopleft">
                    <h2>Cookie policy</h2>  
                    <div id="introduction">
                      <h3>Introduction </h3>
                      <p>We here at bsbstaffing.com strongly believe in data transparency and in lieu of that, could like you to know all about our cookie policy. The below mentioned information conveys everything related to cookies that we use to collect data from you; starting from how we collect them to how we use them. This policy is applicable to any product or services offered by bsbstaffing.com and is applicable worldwide. When you read and accept this cookie policy, you are allowing us to use the data collected through the use of cookies.</p> 
                    </div>
                    <div id="bycook">
                      <h3>Use of cookies by Bsbstaffing.com</h3> 
                      <p>We use cookies to offer our users and visitors the best experience they can have while using our website to search for jobs and for recruitment purposes. Moreover, cookies are integral to keep your account safe.</p> 
                    </div>
                    <div id="whatcook">
                      <h3>What are cookies?</h3>
                      <p>Cookies are basically your ID when you use services and website of bsbstaffing.com. They are small text files that contain not only your account details but also your device information. That enables us to spot unauthorized access to your account from another device. They also help us to show to you relevant ads and services that are beneficial to you.</p>
                    </div>
                    <div id="wherecook">
                      <h3>Where are our cookies used?</h3>
                      <p>The cookies are used all over the site especially in bsbstaffing.com job portal. The use of the cookie there ensure that visitors get customized help and it improves our website services. Your browser will receive these cookies when they visit us.</p> 
                    </div>
                    <div id="cooktype">
                      <h3>What are the types of cookies used in our website?</h3>
                      <p>We use various kinds of cookies in our website to serve you better. They are: </p>  
                      <ul>
                        <li><strong>Essential cookies:</strong> This type of cookies is generally used of finding ourbsbstaffing.com job portal to help our clients/employers who are looking to recruit a candidate. </li>
                        <li><strong>Performance cookies:</strong> This type of cookies have various function all related to helping you navigate and use our site and services without any hinderance. For example, it is used to see which pages are mostly favoured by our clients/employers when they are looking to hire talents. They also help us to see what kind of jobs you are looking for worldwide and how frequently you are using our websites for that. Furthermore, this type of cookies helps us to understand exactly what kind of employer you are looking for and offer you suitable career options based on that.</li>
                        <li><strong>Performance cookies:</strong> This type of cookies have various function all related to helping you navigate and use our site and services without any hinderance. For example, it is used to see which pages are mostly favoured by our clients/employers when they are looking to hire talents. They also help us to see what kind of jobs you are looking for worldwide and how frequently you are using our websites for that. Furthermore, this type of cookies helps us to understand exactly what kind of employer you are looking for and offer you suitable career options based on that.</li>
                      </ul>
                    </div>
                    <div id="cookused">
                      <h3>What are the cookies used for?</h3>
                      <p>Now that you know the type of cookies we use; it is time to learn how they are used. All these types of cookies have one goal in mind, and that is to make our job portal a place for you to search for your dream job or competent talent for your company without any hassle or hinderance. So, here are the details about how we use the cookies in our site.</p>
                      <ul>
                        <li><strong>Authentication:</strong> Every time you sign in, we use the cookies to make sure it is you and not someone trying to gain access to your account fraudulently. </li>
                        <li><strong>Security:</strong> We take the security of our user’s data very seriously. So cookies are used for maintaining our website and stop malicious attacks as well as activities that are contrary to our user agreement. Another aspect of our security is to stop spam and junk postings that can clutter our job portal and hamper your activities. The cookies also enable us to weed out fake accounts so that when recruiters are looking at profiles, they only get genuine and interested candidates. Moreover, additional security features and safety are enforced by our head-hunters to make sure your international job search is smooth and without hinderance.</li>
                        <li><strong>Learning about your preferences:</strong> Cookies also help us to note your preferences like your language choice, communication preferences, etc. That in turn helps you to fill up forms faster on our bsbstaffing.com website. </li>
                      </ul> 
                    </div>
                    <div id="dontwant">
                      <h3>What happens when you don’t want to accept our cookies?</h3>
                      <p>When you come to our website, you have an option of not accepting our cookies and even deleting the cookies stored. What happens when you do that? Then you will not be able to fully use our website and also not get any notification from our side when there are openings specific to your requirement. Moreover, some pages of bsbstaffing.com will not open properly if you don’t accept our cookies.</p>
                    </div>
                    <div id="acceptcookie">
                      <h3>How to accept our cookies?</h3>
                      <p>As said before, accepting any of our employers/clients/recruitment agencies services, you are accepting our cookie policies. You can either click on the “Accept” button when notification to accept cookies come up in your browser, or you can go to the settings and add our website link to the list of pages that are approved to accept cookies from. </p>  
                    </div>
                </div>
              </div>
              <div class="legaltopcol">
                <div class="legalsidebar">
                  <h3>Quick link of Contents:</h3>
                  <ul>
                    <li><a href="javascript:void(0);" (click)="scroll('introduction')">Introduction</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('bycook')">Use of cookies by Bsbstaffing.com</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('whatcook')">What are cookies?</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('wherecook')">Where are our cookies used?</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('cooktype')">What are the types of cookies used in our website?</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('cookused')">What are the cookies used for?</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('dontwant')">What happens when you don’t want to accept our cookies?</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('acceptcookie')">How to accept our cookies?</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <a class="scrolltotop" href="javascript:void(0)" (click)="scroleToTop()"></a>
      </div>