<!-- START REGISTRATION FORM -->
<section class="registrationForm employerInnerSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="registrationFormOuter">
                    <h2 class="pageTitle">Mailbox</h2>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                            <app-mail-sidenav (inboxClick)="getInboxValue($event)"></app-mail-sidenav>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                            <div class="mailBody employeemailBody">
                                <div class="mailBlock box box-primary">
                                    <div class="box-header" *ngIf="!showContent">
                                        <h3 class="box-title">{{capitalizeFirstLetter(param)}}</h3>

                                        <div class="box-tools">
                                            <div class="has-feedback">
                                                <input type="text" class="form-control input-sm" placeholder="Search Mail" [(ngModel)]="searchText">
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="mailbox-holder">
                                            <div class="table-responsive mailbox-messages" *ngIf="!showContent">
                                                <div class="mailbox-controls">
                                                    <button type="button" class="btndiv" title="Select"><input type="checkbox" name="cheked_all" [(ngModel)]="selectAll" (ngModelChange)="toggleAllSelected($event)">
                                                    </button>&nbsp;
                                                    <div class="btn-group">
                                                        <button type="button" class="btndiv" title="Delete" *ngIf="checkedData.length && param !='delete'" (click)="deleteMultipleEmail()"><i class="fa fa-trash-o"></i></button>&nbsp;
                                                        <button type="button" class="btndiv" title="Restore" *ngIf="checkedData.length && param =='delete'" (click)="restoreMail()"><i class="fa fa-undo"></i></button>
                                                    </div>
                                                    <button type="button" class="btndiv" title="Refresh"><i class="fa fa-repeat" aria-hidden="true"></i></button>&nbsp;
                                                    <button class="lbl btndiv" title="label" *ngIf="checkedData.length" (click)="showLabel =!showLabel"> <i class="fa fa-tag" aria-hidden="true"></i>
                                  
                                                    </button>
                                                    <div class="labelbox" *ngIf="showLabel">
                                                        <form>
                                                            <input type="search" name="" placeholder="Search" />
                                                            <div class="labellist">
                                                                <ul>
                                                                    <li *ngFor="let label of all_labels">
                                                                        <input type="checkbox" name="lbnm" [(ngModel)]="labelModel[label._id]" (ngModelChange)="sendToLabel($event, label._id)" />
                                                                        <label>{{label.label_name}}</label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="newpanel">
                                                                <ul class="nwlist2">
                                                                    <li><a href="#">create new</a></li>
                                                                    <li><a href="#">manage labels</a></li>
                                                                </ul>
                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class="pull-right" style="padding: 10px;">
                                                        <ng-container *ngIf="!isLoading && totalCount > 0">
                                                            {{mails.length > 0 ? ((currentPageNo -1)*10 + 1): 0}}-{{((currentPageNo -1)*10 + mails.length)}}/{{totalCount}}
                                                        </ng-container>
                                                        <div class="btn-group">
                                                            <button type="button" class="btndiv" (click)="setPage(currentPageNo -1)" *ngIf="currentPageNo >1"><i class="fa fa-chevron-left"></i></button>
                                                            <button type="button" class="btndiv" (click)="setPage(currentPageNo +1)" *ngIf="((currentPageNo -1)*10 + mails.length) < totalCount"><i class="fa fa-chevron-right"></i></button>
                                                        </div>
                                                    </div>

                                                </div>
                                                <table class="table table-hover table-striped">
                                                    <tbody>
                                                        <ng-container *ngFor="let item of mails; index as i;">
                                                            <tr class="mailrow">
                                                                <td><input type="checkbox" name="mailcheck" [(ngModel)]="checkModel[item._id]" (ngModelChange)="selectIndividual($event)"></td>
                                                                <td class="mailbox-star"><a href="javascript:void(0)" (click)="markStar(item._id)"><i class="fa fa-star text-yellow" [ngStyle]="{'color':item.is_star ==1?'gold':''}"></i></a>
                                                                    <a href="javascript:void(0)" (click)="mailbodyopen(item._id)" *ngIf="item.attached_file"><i class="fa fa-paperclip" aria-hidden="true"></i></a></td>
                                                                <td>
                                                                    <a href="javascript:void(0)" (click)="mailbodyopen(item._id)">
                                                                        <table class="mailInnerTable">
                                                                            <tr>
                                                                                <td class="mailbox-name">
                                                                                    {{(user.id ==item.sender_id)? item.user_name:item.sender_name}}
                                                                                </td>
                                                                                <td class="mailbox-subject">{{item.mail_subject}}
                                                                                </td>
                                                                                <!-- <td class="mailbox-attachment"></td> -->
                                                                                <td class="mailbox-date">{{item.created_date}}</td>
                                                                            </tr>
                                                                        </table>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </ng-container>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="mail-content" *ngIf="showContent">
                                                <div class="mailtop">
                                                    <a href="javascript:void(0)" (click)="showContent=false;" class="back" title="Back"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                                                    <a href="javascript:void(0)" class="delete" title="Delete" (click)="deleteEmail(singlemail[0]._id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                </div>
                                                <div>
                                                    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: singlemail }"></ng-container>
                                                </div>
                                                <ng-template #recursiveListTmpl let-singlemail>

                                                    <div *ngFor="let getmail of singlemail; index as i;" class="mailDtls">
                                                      <!-- FOR CHILD LOADING -->
                                                       <div *ngIf="getmail.children && getmail.children.length > 0">
                                                            <div [ngStyle]="{'width': '50px'}"></div>
                                                            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: getmail.children }"></ng-container>
                                                        </div>
                                                      <!-- END -->  
                                                        <hr/>
                                                        <h3>{{(getmail.parent_id ? 'Re:':'') + getmail.mail_subject}}</h3>

                                                        <div class="mail-info clear">
                                                            <div class="frm">
                                                                <span class="ico"><i class="fa fa-user-circle" aria-hidden="true"></i> {{(user.id ==getmail.sender_id)? getmail.user_name:(getmail?.mail_sender?.employer_user ? getmail?.mail_sender?.employer_user?.company_name : getmail.sender_name) }}</span>
                                                                <span class="text"></span>
                                                            </div>
                                                            <div class="timeinfo">
                                                                <span class="date">{{getmail.created_at | date:'MMM d, y, h:mm a'}} ({{getmail.created_date}})</span>
                                                             
                                                            </div>
                                                        </div>
                                                        <div class="maildiv">
                                                          <div class="" innerHtml="{{getmail.mail_body}}"></div>                                                               
                                                        </div>
                                                        <ng-container *ngIf="getmail.template==''">
                                                            <div class="maildiv">
                                                                
                                                                <!-- SHOW DISCLAMIR -->
                                                                    <div *ngIf="getmail.is_resume_trans">
                                                                      <tr>
                                                                          <td align="left" valign="middle" style="padding: 8px; border: 1px solid #ddd;">
                                                                             <table cellpadding="0" cellspacing="0" style=" font-size: 13px; line-height: 18px; width: 100%;">
                                                                                <tr>
                                                                                  <td style="padding: 0 0 5px; ">
                                                                                    <h3 style="font-size: 14px; line-height: 16px; color: #000;
                                                                                    font-weight: 600; margin: 0; padding: 0 0 5px; border-bottom: 1px solid #000;">Disclaimer:</h3>
                                                                                  </td>
                                                                                </tr>
                                                                                <tr>
                                                                                  <td style="padding: 0 0 10px;">
                                                                                    <p style="margin: 2px;">
                                                                                      The sender of this email is registered with <a style="display: inline-block;" target="_blank" href={{baseUrlPath}}>bsbstaffing.com</a> as B. S. B. International Career Pvt Ltd registered Office address: 8 Abanindra Nath Thakur Sarani, 10th Floor, Suite No 13, KOLKATA, West Bengal - 700017) using <a style="display: inline-block;" target="_blank" href={{baseUrlPath}}>bsbstaffing.com</a> services. The responsibility of checking the authenticity of offers/correspondence lies with you. If you consider the content of this email inappropriate or spam, you may: Forward this email to:  <a style="display: inline-block;" href="mailto:support@bsbstaffing.com">support@bsbstaffing.com</a> or you can Block this Company from searching your resume in the database. 
                                                                                    </p>
                                                                                    <p style="margin: 2px;">
                                                                                       <b>Please Note:</b> This mail is a private message from the recruiter. We have enabled auto login for your convenience, you are strongly advised not to forward this email to protect your account from unauthorized access.
                                                                                    </p>
                                                                                    <p style="margin: 2px;"><b>Advisory:</b> Please do not pay any money to anyone who promises to find you a job. This could be in the form of a registration fee or document processing fee or visa charges or any other pretext. The money could be asked for upfront or it could be asked after trust has been built after some correspondence has been exchanged. Also please note that in case you get a job offer or a letter of intent without having been through an interview process it is probably a scam and you should contact <a style="display: inline-block;" href="mailto:support@bsbstaffing.com">support@bsbstaffing.com</a> for advice. </p>
                                                                    
                                                                                  </td>
                                                                                </tr>
                                                                                <tr>
                                                                                  <td align="center" valign="middle" style="padding:12px 10px; font-size: 16px; line-height: 18px; border-radius: 2px;
                                                                                  background: #f4fcff; border: 1px solid #d1f1fe;">
                                                                                     <p style="margin: 0;"><a href="javascript:void(0)" [routerLink]="['/profile']" style="color: #559be5; display: inline-block; font-weight: 600;">Update Your Resume Now</a> to be on the top of Employer's Resume Search</p>
                                                                                  </td>
                                                                                </tr>
                                                                                  <tr>
                                                                                    <td style="padding: 0; height:5px; line-height: 0;"></td>
                                                                                  </tr>
                                                                                 
                                                                                  <tr>
                                                                                    <td style="padding: 0; height:5px; line-height: 0;"></td>
                                                                                  </tr>
                                                                                <tr>
                                                                                  <td align="center" valign="middle" style="padding:5px 10px; font-size: 14px; font-weight: 600; line-height: 24px; border-radius: 2px;
                                                                                  background: #e9e9e9; border: 1px solid #b7b7b7;">
                                                                                     <p style="margin: 0;"><a href="#" data-toggle="modal" data-target="#myModal" style="color: #559be5; display: inline-block;">Third-party payment obligation</a></p>
                                                                                  </td>
                                                                                </tr>
                                                                             </table>
                                                                          </td>
                                                                        </tr>
                                                                    </div>
                                                                <ng-container *ngIf="user && user.user_role ==='employer' && getmail?.mail_sender?.employee_user_detail?.user_detail?.name">
                                                                    <div class="mailDtl-spce">Name: {{getmail?.mail_sender?.employee_user_detail?.user_detail?.name}}</div>
                                                                    <div class="mailDtl-spce">Phone: {{getmail?.mail_sender?.phone_no}}</div>
                                                                    <div class="mailDtl-spce"><span [innerHtml]='getmail?.mail_sender?.employee_user?.summary'></span></div>
                                                                    <div class="mailDtl-spce">Current Designation: {{getmail?.mail_sender?.employee_user_detail?.user_detail?.profile_title || getmail?.mail_sender?.employee_user_detail?.desired_job?.designation}}</div>
                                                                    <!-- <div class="">Current Company: {{getmail?.mail_sender?.employee_user?.company_name ? getmail?.mail_sender?.employee_user?.user?.employee_employement_history[0].company_name :''}}</div> -->
                                                                    <div class="mailDtl-spce">Current Salary: {{getmail?.mail_sender?.employee_user_detail?.user_detail?.current_salary ? getmail?.mail_sender?.employee_user_detail?.user_detail?.current_salary + ' ' + getmail?.mail_sender?.employee_user_detail?.user_detail?.current_salary_type
                                                                        :'n/a' }}</div>
                                                                    <div class="mailDtl-spce">Expected Salary: {{getmail?.mail_sender?.employee_user_detail?.desired_job ? getmail?.mail_sender?.employee_user_detail?.desired_job?.min_salary + ' - ' + getmail?.mail_sender?.employee_user_detail?.desired_job?.max_salary
                                                                        + ' ' +getmail?.mail_sender?.employee_user_detail?.desired_job?.salary_type :"n/a"}}</div>
                                                                    <div class="mailDtl-spce">Notice Period: {{getmail?.mail_sender_detail?.notice_period_data}}</div>
                                                                    <div class="mailDtl-spce">Exp: {{getmail?.mail_sender_detail?.total_experience_yr_value + ' Year '}} {{ getmail?.mail_sender_detail?.total_experience_mn?.name}}</div>
                                                                    <div class="mailDtl-spce">Preferred Location: {{getmail?.mail_sender?.employee_user_detail?.desired_job?.cities_name ? getmail?.mail_sender?.employee_user_detail?.desired_job?.cities_name:'n/a'}}</div>
                                                                    <div class="mailDtl-spce">Education: {{getmail?.mail_sender?.employee_user_detail?.employee_education.length > 0 ? getmail?.mail_sender?.employee_user_detail?.employee_education[0].degree_name :'n/a'}} <br/> {{getmail?.mail_sender?.employee_user_detail?.employee_education.length
                                                                        > 0 ? getmail?.mail_sender?.employee_user_detail?.employee_education[0].name_of_institute :'n/a'}}
                                                                    </div>
                                                                    <div class="mailDtl-spce">Key Skills: {{getmail?.mail_sender?.employee_user_detail?.skill.length > 0 ? getmail?.mail_sender?.employee_user_detail?.skill :'n/a'}}</div>
                                                                    <div class="mailDtl-spce" *ngIf="getmail.job_questions!=''">
                                                                        <h6><b>Job Questions & Answers</b></h6>
                                                                        <ol class="questionanswerol" style="list-style: decimal;padding-left:25px;">
                                                                            <ng-container *ngFor="let question of getmail.job_questions; index as i;">
                                                                                <li style="list-style: decimal;margin-bottom:10px;">
                                                                                    <p><strong>Question: </strong> <span [innerHtml]="question.qustion"></span></p>

                                                                                    <p> <strong>Answer:</strong> <span [innerHtml]="question.answer"></span></p>

                                                                                </li>
                                                                            </ng-container>
                                                                        </ol>
                                                                    </div>


                                                                </ng-container>
                                                            </div>
                                                        </ng-container>
                                                         
                                                        <ng-container *ngIf="getmail.template">

                                                            <app-template-preview [previewData]="getmail.template" [senderData]="getmail.mail_sender_detail"></app-template-preview>
                                                        </ng-container>

                                                        <div class="dtlsAttach">
                                                            <ng-container *ngIf="getmail.attached_file">
                                                                <ng-container *ngIf="checkIsArray(getmail.attached_file)">
                                                                    <ng-container *ngFor="let att_file of getmail.attached_file">
                                                                        <a href="{{setAttachedFileUrl(att_file)}}" target="_blank" download style="margin: 5px;" title="{{getFileName(att_file)}}"><i class="fa fa-file" aria-hidden="true"></i></a>
                                                                    </ng-container>
                                                                </ng-container>
                                                                <ng-container *ngIf="!checkIsArray(getmail.attached_file)">
                                                                    <a href="{{setAttachedFileUrl(getmail.attached_file)}}" target="_blank" download style="margin: 5px;" title="{{getFileName(getmail.attached_file)}}"><i class="fa fa-file" aria-hidden="true"></i></a>
                                                                </ng-container>

                                                            </ng-container>
                                                            <ng-container *ngIf="getmail.video_links">
                                                                <ng-container *ngFor="let video_file of getmail.video_links">
                                                                    <a href="{{video_file}}" target="_blank" download style="margin: 5px;" title="Video Resume"><i class="fa fa-file-video-o" aria-hidden="true"></i></a>
                                                                </ng-container>
                                                            </ng-container>

                                                        </div>
                                                    </div>
                                                </ng-template>
                                                <div class="submithold">
                                                    <button class="blueBtn reply" (click)="callreply(singlemail[0])">Reply</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="modal profilepageModal compny-prfile-mdl modal-md third-party-payment" tabindex="-1" role="dialog" id="myModal">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Third-party payment obligation</h4>
        </div>
        <div class="modal-body">
          <p><a style="display: inline-block;" target="_blank" href={{baseUrlPath}}>bsbstaffing.com</a> will like to make our users/members aware of possible fraudulent behavior that they may come across while using our services. Though we try our best to make sure we check the information of the users when they open their account with us, it is not 100% possible to avoid malicious accounts. Such scams may happen in the following manner:</p>
          <ul>
            <li>The recruitment company may send the user offer letter on the first round itself without proper interview or any such a screening process or after a basic screening process. After the user has correspondence with them, and a trust has been gained, then they might ask for a fee to further process their job application.</li>
            <li>Some recruiter may promise guaranteed jobs against a payment.</li>
            <li>Fees may be asked as registration fee, visa processing fee, documentation fee, interview arrangement fee, etc.</li>
            <li>Some recruiters/employers may ask for a “training fee” for training the user before offering you any job.</li>
          </ul>
          <p>The user is advised against making any payment to such recruiters/employers. <a style="display: inline-block;" target="_blank" href={{baseUrlPath}}>bsbstaffing.com</a> is not responsible for such a payment made to a third-party even if they have been contacted while using bsbstaffing.com services. We are not responsible in any manner or form for any monetary loss the user/member may incur if they make payment to such third-party. If a user comes across such fraudulent recruiter/employer, they are advised to write to us at <a style="display: inline-block;" href="mailto:support@bsbstaffing.com">support@bsbstaffing.com</a> while pursuing other legal options to get back their money. We can’t help regarding such legal options, but we will delete the account of such a recruiter/employer and ban them from our website if the complaint is justified and evidence is provided of their misdeed.</p>
        </div>
      </div>
      
  </div>
</section>




<!-- END REGISTRATION FORM -->