   <!-- START BANNER SEC SECTION -->
      <section class="bannerSecSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h2>Recruiter <span>Zone</span></h2>
            </div>
          </div>
        </div>
      </section>
    <!-- END BANNER SEC SECTION -->
    <!-- START EMPLOYER HOME DETAILS SECTION -->
      <section class="empHomeDetails">
        <div class="container">
          <div class="row">              
            <div class="col-md-12 col-sm-12 col-12">
              <h3 class="recruiterTitle">Our <span>Services</span></h3>
              <div class="serviceInner" id="cv-access">
                <h4><img src="assets/images/cvdownloadIcon.png" alt="cvdownloadIcon"> CV Access</h4>
                <p>Looking for some great candidates? Then go through our vast database of CV uploaded by our users as well as colleges and universities that have tied up with us. We make the search for that perfect candidate easier by offering you three kinds of search options; Simple Search, Advanced Search, and People Search. In the first one, you can search using such basic fields as keyword, skill, Industry, city or country, and minimum or maximum age. You can also select to filter your search results by choosing the options to see only woman candidates or only premium candidates.</p>
                <p>In Advance Search, you get further filtering criteria like Salary, Education details, Employment details, and how active the candidate is on bsbstaffing.com. </p>
                <p>If you know the name or the email of any particular candidate, use the People search option to search using any of these two parameters as well as city/country wise. </p>
              </div>
              <div class="serviceInner" id="free-job-post">
                <h4><img src="assets/images/jobpostIcon.png" alt="jobpostIcon"> Unlimited Free Jobs Post</h4>
                <p>We offer various ways you can post your job requirements. You can post both local and international jobs ad with us. The ad postings can be free, or you can go for our more comprehensive premium ad packages. There is also an option to post walk-in interview call ads for both local and international jobs.</p>
                <p>Not only can you post your job requirement, but you can also keep track of the jobs you have posted, whether it is a free, premium or walk-In. If you have more than one job posted with bsbstaffing.com under different categories, keep a track of each of them separately with this service.</p>
              </div>
              <div class="serviceInner" id="mass-email-service">
                <h4><img src="assets/images/massmailIcon.png" alt="massmailIcon"> Mass Email Service</h4>
                <p>With this service, you don’t need to send individual emails to prospective candidates. You can create your own email using the template generator and manage them. So, you can have one template to send at each step of the hiring process. Then keep track of the replies with the inbox that comes with this service.</p>
              </div>
              <div class="serviceInner" id="mail-box-service">
                <h4><img src="assets/images/mailboxIcon.png" alt="mailboxIcon"> Mailbox Service</h4>
                <p>Not only bsbstaffing.com offers mass email service, we also have email service for you with bsbstaffing.com. Our email service is modeled on professional email inbox services, with extra features. You have all the ease of access like renowned and popular email inbox services. Some of our email inbox features include easy access to old emails, creating folders to categorize your emails, and marking emails that are important. Also, each time you get an email in your bsbstaffing.com inbox, you get a notification on your registered email about it. </p>
              </div>
              <div class="serviceInner" id="applications-receive">
                <h4><img src="assets/images/applicationIcon.png" alt="applicationIcon"> Application Received</h4>
                <p>This service will help you consolidate all the applications you receive from all your job postings. If you must post for more than one job title, you can see all applications under each on one page. Apart from the applicant's email, name, and other options, you will also have a link to their CV uploaded to our database. Then the status and action fields will help you monitor whether they pass your criteria or not. </p>
              </div>
              <div class="serviceInner" id="cv-download-view">
                <h4><img src="assets/images/cvviewIcon.png" alt="cvviewIcon"> CV Download/View</h4>
                <p>Bsbstaffing.com has a million of database from across the globe of prospective candidates looking for their dream job. Not only we have the CVs of experienced workers, but also from young professionals in their final years of study in reputed colleges/institutes/University from all around the world. So, with the help of our CV Download/View service, you can download/view all the relevant CVs to fulfill your company’s needs. The service to view and download the CVs is a premium paid service, which you can even customize as per your budgetary and other needs.</p>
              </div>
              <div class="serviceInner" id="create-folder">
                <h4><img src="assets/images/folderIcon.png" alt="folderIcon"> Create Folder</h4>
                <p>With this service, you will be able to organize your applications received in a systematically and easier manner. There are two pre-made folders for you, Reported Candidates and Candidates you like. You can, of course, create your own folder and add candidates to them based on your needs. </p>
              </div>
              <div class="serviceInner" id="career-page">
                <h4><img src="assets/images/careerIcon.png" alt="careerIcon"> Create Career Page</h4>
                <p>This service allows you to create a homepage with us that you can share through your various social media accounts. On this page, let prospective candidates know about your company, check out the various opening available with you and also share your recent achievements and success. </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END EMPLOYER HOME DETAILS SECTION -->