.bannerSecSection{
	position: relative;
    background: url(/assets/images/recrutiterBanner.png) no-repeat;
    background-position: 80% 0%;
    margin: 65px 0 0px 0;
    padding: 45px 0 75px 0;
}
.bannerSecSection h2{
	font-size: 40px;
    line-height: 46px;
    color: #fff;
    position: relative;
    margin: 0;
}
.bannerSecSection h2 span{
	color: #f0f0f0;
	font-size: 25px;
	line-height: 25px;
	display: block;
	text-align: right;
	position: absolute;
    bottom: -25px;
    left: 100px;
}
.bannerSecSection h2:after{
	content: '';
    position: absolute;
    bottom: -2px;
    left: 1px;
    width: 23px;
    height: 3px;
    background: #fff;
}
h3.recruiterTitle{
	font-size: 30px;
	line-height: 36px;
	color: #ec0122;
	margin: 0 0 30px 0;
}
h3.recruiterTitle span{
	display: block;
	font-size: 35px;
	line-height: 40px;
	color: #1b2d8f;
	font-weight: 600;
}
.empHomeDetails{
	padding: 50px 0 50px 0;
}
.empHomeDetails h3{
	text-align: center;
}
.empHomeDetails h3 span{
	display: inline-block;
}
.serviceInner{
	margin: 0 0 40px 0;
    /* box-shadow: -1px 8px 19px #cccccc; */
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.serviceInner:last-child{
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.serviceInner h4{
	font-size: 24px;
    line-height: 30px;
    color: #1b2d8f;
    font-family: Roboto;
    font-weight: 600;
    margin: 0 0 15px 0;
}
.serviceInner h4 img{
	height: 32px;
    margin-right: 5px;
}
.serviceInner p{
	font-size: 16px;
	line-height: 25px;
	color: #333;
	font-family: Roboto;
	margin: 0 0 10px 0;
	text-align: justify;
}

@media (max-width: 1199px){
	.bannerSecSection{
		background-position: 70% 0%;
	}
	.bannerSecSection h2 {
	    font-size: 35px;
	    line-height: 40px;
	}
	.bannerSecSection h2 span{
		font-size: 19px;
	}
	h3.recruiterTitle{
		font-size: 25px;
    	line-height: 30px;
	}
	h3.recruiterTitle span{
		font-size: 28px;
    	line-height: 30px;
	}
}
@media (max-width: 991px){
	.bannerSecSection {
	    background-position: 50% 0%;
	    margin: 15px 0 0 0;
	}
	.empHomeDetails{
		padding: 30px 0 30px 0;
	}
	.serviceInner {
	    margin: 0 0 20px 0;
	    padding-bottom: 10px;
	}
}
@media (max-width: 767px){
	.bannerSecSection {
	    background-position: 40% 0%;
	}
	.bannerSecSection h2 {
	    font-size: 25px;
	    line-height: 34px;
	}
	.bannerSecSection h2 span{
		bottom: -20px;
    	left: 63px;
    	font-size: 16px;
	}
	h3.recruiterTitle {
	    font-size: 20px;
	    line-height: 30px;
	    margin: 0 0 20px 0;
	}
	h3.recruiterTitle span {
	    font-size: 22px;
	    line-height: 30px;
	}
	.serviceInner h4{
		font-size: 19px;
	}
	.serviceInner p{
		font-size: 15px;
	}
	
}
