<section class="registrationForm employerInnerSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="registrationFormOuter">
               <h2 class="pageTitle">We offer training</h2>
               <div class="QuestionDiv">
                  <h4>Working visa information Training </h4>
                  <p>As per country immigration norms Witch visa you can apply for working abroad. Our expert immigration lawyer will Guide for your all Visa Problem </p>
               </div>
               <div class="registrationFormInner forprofile">
                  <h6>Your Destination Country</h6>
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                           <span class="icon locationIcon"></span>
                           <select [(ngModel)]="searchData.countryModel" [ngModelOptions]="{standalone: true}">
                              <option value="">Choose Country</option>
                              <option *ngFor="let country of countries" value="{{country._id}}">{{country.name}}</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="submitOuter">
                           <input type="submit" value="search" (click)="searchByTrainer($event)"> 
                        </div>
                     </div>
                  </div>
               </div>
               <div class="diffsecSlot normdiff" *ngIf="!showslot">
                  <ng-container *ngFor="let trainer of trainers">
                    <div class="cvsearchList">
                       <div class="cvseachInner">
                          <div class="cvseachClear">
                             <div class="cvsearchLeft">
                                <span><img src="assets/images/profilePic.png" alt="profilePic"></span>
                             </div>
                             <div class="cvsearchRight">
                                <h3><a href="#"> </a> {{trainer.user_detail.name}}</h3>
                                <h5>Expert</h5>
                             </div>
                          </div>
                          <div class="row">
                             <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <ul class="deatilscvListing">
                                   <li><strong>Education:</strong> {{trainer.user_detail.highest_education}}</li>
                                   <li><strong>Experience:</strong> {{trainer.user_detail.expreiance.name}}</li>
                                   <li><strong>Skills:</strong> {{trainer.user_detail.skills}}</li>
                                </ul>
                             </div>
                             <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <ul class="deatilscvListing">
                                   <li><strong>Desired Location:</strong> Gandhinagar, Bangalore, Chennai, Noida, Gurugram</li>
                                </ul>
                                <a class="slot" href="JavaScript:void(0)" (click)="openSlot(trainer)">book your training slot</a>
                             </div>
                          </div>
                       </div>
                    </div>
                  </ng-container>
                  <div *ngIf="trainers.length == 0">No data found</div>
               </div>


              <div class="diffsecSlot slotdiff" *ngIf="showslot" @slideInOut>
                  <a href="JavaScript:Void(0)" class="slotcross" (click)="showslot=false;">x</a>
                  <div class="dateRange">
                    <ul>
                      <li>
                        <a href="javascript:void(0)" class="prevCal" (click)="previousMonth(currentMonth)" *ngIf="currentMonth !=0"><img src="assets/images/leftArrow4.png"></a>
                          <span>{{monthNames[this.currentMonth]}}</span>
                        <a href="javascript:void(0)" class="nxtCal" (click)="nextMonth(currentMonth)" *ngIf="currentMonth !=11"><img src="assets/images/rightArrow7.png"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="datepanel">
                    <ul>
                      <!-- <li class="active">
                        <a href="#">
                          <span class="date">12</span>
                          <span class="day">sun</span>
                        </a>
                      </li> -->
                      <ng-container *ngFor="let schedule of schedules; index as i;">
                      <li [ngClass]="{'active': i==activeSchedule}">
                        <a href="javascript:void(0)" (click)="changeSchedule(i)">
                          <span class="date">{{schedule[0]}}</span>
                          <span class="day">{{getdayName(schedule[0])}}</span>
                        </a>
                      </li>
                      </ng-container>
                    </ul>
                  </div>
                  <div class="slotpanel clear">
                    <ul class="slotlist">
                      <!-- <li><span class="time">09:00am</span></li>
                      <li class="booked"><span class="time">09:00am</span></li> -->
                      <ng-container *ngFor="let slot of slots; index as i;">
                      <li [ngStyle]="{'background':i==activeSlotIndex?'aqua':''}" [ngClass]="{'booked':(slot.booked_schedule.length)}"><span class="time" (click)="selectSlot(slot);activeSlotIndex=i">{{slot.from_time}} - {{slot.to_time}}</span></li>
                      </ng-container> 
                    </ul>
                  </div>
                  <div class="previewOuter" *ngIf="selectdSlot">
                    <button type="button" data-toggle="modal" data-target="#previewModal" class="blueBtn">Preview</button>
                  </div>
              </div>

            </div>
         </div>
      </div>
   </div>

          <!-- Preview Modal -->
    <div class="modal generalModal" id="previewModal" >
      <!-- <div class="modal-dialog bd-example-modal-sm" role="document"> -->
        <div class="modal-content">
          <div class="modal-header">
            <h4>Preview Your Booking</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <p><strong>Trainer Name:</strong> {{(selectedTrainer && selectedTrainer.user_detail)?  selectedTrainer.user_detail.name:''}}</p>
              <p *ngIf="selectdSlot"><strong>Booking Time Slot:</strong> {{selectdSlot.training_date+' '+monthNames[selectdSlot.training_month]+ ' '+getdayName(selectdSlot.training_date)}} {{selectdSlot.from_time+'-'+ selectdSlot.to_time}}</p>
              <p><strong>Training Cost:</strong> $200</p>
              <div class="shareOuter">
                <button type="submit" class="blueBtn" (click)="bookSlot(selectdSlot._id)">Make Payment</button>
              </div>
            </form>
          </div>          
        </div>
      <!-- </div> -->
    </div>
</section>