.input_text{
  width: 100%;
 /* padding: 12px 20px;
  margin: 8px 0;*/
  box-sizing: border-box;
  /*border: 1px solid #555;*/
  border-bottom: 1px solid #5f6b94;
  outline: none;
}
.dropdown-search {
    display: block;
}

.selected-span{
	  padding: 5px 25px 7px 7px;
    position: relative;
    background: #abb3b3;
    border-radius: 50px;
    display: inline-block;
    margin: 0 4px 4px 0;
}

.del{
	cursor: pointer;
    margin: 5px;
}

.multiselect-text-input{
	border-bottom: none !important; 
}
.postedjobCol:first-child{
  width: 12%;
}
.postedjobCol{
  width: 12%;
}
.postedjobCol:nth-child(2) p{
  width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postedjobCol:last-child{
  width: 7%;
}

.sub_selection{
    position: absolute;
    right: 0;
    top: 0;
    /* float: right; */
    margin: 0;
    border-radius: 0 50px 50px 0px;
    display: inline-block;
    padding: 6px;
    background: gray;
}

.cross_icon{
    position: absolute;
    right: 0;
    top: 0;
    /* float: right; */
    margin: 0;
    border-radius: 0 50px 50px 0px;
    display: inline-block;
    padding: 4px 0px 5px 0px;
    background: gray;
}
