<section class="registrationForm employerInnerSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="registrationFormOuter">
          <div class="postedjobOuter"  *ngIf="myAlertData.length">
            <h2 class="pageTitle">My Alert List</h2>
            <div class="postedjobTable">
              <div class="postedjobRow">
                <div class="postedjobCol postedjobHead">
                  <p>Alert Name</p>
                </div>
                <div class="postedjobCol postedjobHead">
                  <p>Email</p>
                </div>
                <div class="postedjobCol postedjobHead">
                  <p>Key Skill</p>
                </div>
                <div class="postedjobCol postedjobHead">
                  <p>Countries</p>
                </div>
                <div class="postedjobCol postedjobHead">
                  <p>Cities</p>
                </div>
                <div class="postedjobCol postedjobHead">
                  <p>Departments</p>
                </div>
                <div class="postedjobCol postedjobHead">
                  <p>Industries</p>
                </div>
                <div class="postedjobCol postedjobHead">
                  <p>Action</p>
                </div>
              </div>
              <ng-container *ngFor="let alert of myAlertData; index as i;">
                <div class="postedjobRow">
                  <div class="postedjobCol">
                    <p><a href="javascript:void(0)" class="jobLink">{{alert.name_of_alert}}</a></p>
                  </div>
                  <div class="postedjobCol">
                    <p>{{alert.email_id}}</p>
                  </div>
                  <div class="postedjobCol">
                    <p>{{alert.keyword}}</p>
                  </div>
                  <div class="postedjobCol">
                    <p>{{alert.country_name}}</p>
                  </div>
                  <div class="postedjobCol">
                    <p>{{alert.city_name}}</p>
                  </div>
                  <div class="postedjobCol">
                    <p>{{alert.department_name}}</p>
                  </div>
                  <div class="postedjobCol">
                    <p>{{alert.industry_name}}</p>
                  </div>
                  <div class="postedjobCol">
                    <a href="javascript:void(0)" title="edit" (click)="showAlert(alert._id)"><img src="assets/images/pencilIcon.png"></a>
                    <a href="javascript:void(0)" (click)="deleteAlert(alert._id)" title="remove"><img src="assets/images/cancel.png"></a>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <br/>
          <div id="scroll_set"></div>
          <h2 class="pageTitle" *ngIf="!myAlertForm.get('id').value">Create Alert </h2>
          <h2 class="pageTitle" *ngIf="myAlertForm.get('id').value" id="updateAlert">Update Alert </h2>
          <div class="registrationFormInner">
            <form [formGroup]="myAlertForm">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field required">
                    <div class="chips-placeholder">
                      <div class="chips ">
                        <span class="icon jobIcon"></span>
                        <tag-input [(ngModel)]='skill_key'  [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Keyword, skills etc." placeholder="Keyword, skills etc." addOnBlur="addOnBlur">
                        <tag-input-dropdown [autocompleteItems]="skillsData">
                        </tag-input-dropdown>
                        </tag-input>
                      </div>
                    </div>
                  </div>
                  <span *ngIf="validation_errors && validation_errors.keyword"
                    class="form-error">{{validation_errors.keyword[0]}}
                  </span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <!-- <div class="input-field">
                    <div class="multiselectdropdownOuter">
                      <div class="input-field">
                        <span class="icon locationIcon"></span>
                        <div class="input_text">
                          <ng-container *ngFor="let country of storeMultiSelect.country_name; index as i;">
                           <span class="selected-span">{{country}}<i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'country')"></i></span>
                          </ng-container>
                          <span class="dropdown-search">  
                            <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="country" placeholder="Select Country" (click)="getOnchangeEvent('country')">
                            <app-multi-select *ngIf="countryDiv" 
                            [mainDataArray]="countryArray"
                            [storedValue]="storeMultiSelect.country_value"
                            [storedName]="storeMultiSelect.country_name"  
                            [field_name] ="'country'"
                            (sendDataEvent)="getChange($event)" 
                            (checkOutsideEvent)="checkmultiselect($event)" 
                            (multidataSelect)="multiselectAll($event)">
                            </app-multi-select>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div> -->

                  <div class="input-field">
                  <span class="icon locationIcon"></span> 
                    <select formControlName="country_id">
                      <option value="">Country</option>
                      <option *ngFor="let country of countries" value="{{country._id}}">{{country.name}}</option>
                    </select>
                  </div> 
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                    <div class="multiselectdropdownOuter">
                      <div class="input-field">
                        <span class="icon locationIcon"></span>
                        <div class="input_text">
                          <ng-container *ngFor="let city of storeMultiSelect.city_name; index as i;">
                            <span class="selected-span">{{city.length > 10 ? city.slice(0,10)+ '...': city }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'city')"></i></span></span>
                            </ng-container>
                          <span class="dropdown-search">  
                            <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="city" placeholder="Select City" (click)="getOnchangeEvent('city')">
                            <app-multi-select *ngIf="cityDiv" 
                            [mainDataArray]="cityArray"
                            [storedValue]="storeMultiSelect.city_value"
                            [storedName]="storeMultiSelect.city_name"  
                            [field_name] ="'city'"
                            (sendDataEvent)="getChange($event)" 
                            (checkOutsideEvent)="checkmultiselect($event)" 
                            (multidataSelect)="multiselectAll($event)">                                 
                            </app-multi-select>
                          </span>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                    <div class="multiselectdropdownOuter">
                      <div class="input-field">
                        <span class="icon industryIcon"></span>
                        <div class="input_text">
                          <ng-container *ngFor="let department of storeMultiSelect.department_name; index as i;">
                            <span class="selected-span">{{department.length > 10 ? department.slice(0,10)+ '...': department }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'department')"></i></span></span>
                            </ng-container>
                          <span class="dropdown-search">  
                        <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="department" placeholder="Select Department" (click)="getOnchangeEvent('department')">
                        <app-multi-select *ngIf="departmentDiv" 
                        [mainDataArray]="departments"
                        [storedValue]="storeMultiSelect.department_value"
                        [storedName]="storeMultiSelect.department_name"  
                        [field_name] ="'department'"
                        (sendDataEvent)="getChange($event)" 
                        (checkOutsideEvent)="checkmultiselect($event)" 
                        (multidataSelect)="multiselectAll($event)">                                 
                        </app-multi-select>
                      </span>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                    <div class="multiselectdropdownOuter">
                      <div class="input-field">
                        <span class="icon industryIcon"></span>
                        <div class="input_text">
                          <ng-container *ngFor="let industry of storeMultiSelect.industries_name; index as i;">
                            <span class="selected-span">{{industry.length > 10 ? industry.slice(0,10)+ '...': industry}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'industry')"></i></span></span>
                          </ng-container>
                          <span class="dropdown-search"> 
                          <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="industries" placeholder="Select Industry" (click)="getOnchangeEvent('industries')">
                          <app-multi-select *ngIf="industriesDiv" 
                          [mainDataArray]="industries"
                          [storedValue]="storeMultiSelect.industries_value"
                          [storedName]="storeMultiSelect.industries_name"  
                          [field_name] ="'industries'"
                          (sendDataEvent)="getChange($event)" 
                          (checkOutsideEvent)="checkmultiselect($event)" 
                          (multidataSelect)="multiselectAll($event)">                                 
                          </app-multi-select>
                        </span>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                    <span class="icon salaryIcon"></span>
                    <select formControlName="salary_type">
                      <option value="">Select Salary Type</option>
                      <option value="hourly">Hourly</option>
                      <option value="weekly">Weekly</option>
                      <option value="monthly">Monthly</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                    <span class="icon experienceIcon"></span>
                    <select formControlName="currency">
                      <option value="" selected>Select Currency</option>
                      <option value="{{currency_val._id}}" *ngFor="let currency_val of currencyData">{{currency_val.currency}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                    <span class="icon salaryIcon"></span>
                    <input id="salary" type="text" formControlName="salary">
                    <label for="salary" [ngClass]="{'active': myAlertForm.get('salary').value}">Salary</label>
                    <span *ngIf="validation_errors && validation_errors.salary"
                      class="form-error">{{validation_errors.salary[0]}}
                    </span>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field required">
                    <span class="icon emailIcon"></span>
                    <input type="text" name="" formControlName="email_id" id="email_id">
                    <label for="email_id" [ngClass]="{'active':myAlertForm.get('email_id').value}">Email Id</label>
                    
                  </div>
                  <span *ngIf="validation_errors && validation_errors.email_id"
                      class="form-error">{{validation_errors.email_id[0]}}
                    </span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field required">
                    <span class="icon jobIcon"></span>
                    <input type="text" name="" formControlName="name_of_alert" id="jobTitle">
                    <label for="jobTitle" [ngClass]="{'active':myAlertForm.get('name_of_alert').value}">Alert Name</label>
                    
                  </div>
                  <span *ngIf="validation_errors && validation_errors.name_of_alert"
                      class="form-error">{{validation_errors.name_of_alert[0]}}
                    </span>
                </div>
              </div>
            </form>
            <div class="submitOuter">
              <button type="submit" (click)="createAlert()" *ngIf="!myAlertForm.get('id').value">Save</button>
              <button type="submit" (click)="updateAlert()" *ngIf="myAlertForm.get('id').value">Update</button>
              <button type="submit" (click)="formReset()" *ngIf="myAlertForm.get('id').value">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="indeedjobs-widget" data-id="b77a905900e162a43301" data-theme="light" data-height="320"></div> <script> (function(d, id) { if (d.getElementById(id)) return; var js = d.createElement('script'); js.id = id; js.src = 'https://www.indeedjobs.com/widget.js'; d.head.appendChild(js); })(document, 'indeedjobs-js'); </script>