    <!-- START REGISTRATION FORM -->
      <section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="registrationFormOuter">
                <ul class="searchList">
                  <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/search-history']">Recent Search</a></li>
                  <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/search-history']" [queryParams]="{search_type:'saved'}">Save Search</a></li>
                  <!-- <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/search-history']">New Search</a></li> -->
                </ul>
                <h2 class="pageTitle">Candidate People Search</h2>
                <div class="row">
                  <div class="col-lg-6 col-md-8 col-sm-12 col-12">                    
                    <div class="searchTypeOuter searchTypeOuterSec">
                      <ul>
                        <li><a href="javascript:void(0)" routerLink="/employer/simple-search"><img src="assets/images/searchIcon.png"> Simple Search</a></li>
                        <li><a href="javascript:void(0)" routerLink="/employer/advance-search"><img src="assets/images/add_search.png"> Advance Search</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <form [formGroup]="peopleSearchForm">
                  <div class="registrationFormInner">
                    <!-- <div class="part-sec">
                      <div class="part-content"> -->
                    <div class="peopleradio">
                        <label>
                        <input type="radio" value="search_by_name" id="rd5" name="search_by" formControlName="search_by">
                        <span> Search by Name</span>
                        </label>
                     
                        <label>
                        <input type="radio" value="search_by_email"  id="rd4" name="search_by" formControlName="search_by">
                        <span> Search by Email ID</span>
                        </label>
                    </div>
                      <!-- </div>
                    </div> -->
                    <div class="part-sec">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="input-field">
                            <span class="icon jobIcon"></span>
                            <input id="searchcan" type="text" class="" formControlName="search_candidate">
                            <label for="searchcan" [ngClass]="{'active':peopleSearchForm.get('search_candidate').value}">Search Candidate</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="multiselectdropdownOuter">
                            <div class="input-field">
                              <span class="icon locationIcon"></span>
                              <div class="input_text">
                                <ng-container *ngFor="let country of storeMultiSelect.country_name; index as i;">
                                <span class="selected-span">{{country.length > 10 ? country.slice(0,10)+ '...': country}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'country')"></i></span></span>
                                </ng-container>
                                <span class="dropdown-search">
                                  <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="country" placeholder="Select Country" (click)="getOnchangeEvent('country')">
                                  <app-multi-select *ngIf="countryDiv" 
                                    [mainDataArray]="countryArray"
                                    [storedValue]="storeMultiSelect.country_value"
                                    [storedName]="storeMultiSelect.country_name"  
                                    [field_name] ="'country'"
                                    (sendDataEvent)="getChange($event)" 
                                    (checkOutsideEvent)="checkmultiselect($event)" 
                                    (multidataSelect)="multiselectAll($event)">
                                  </app-multi-select>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="multiselectdropdownOuter">
                            <div class="input-field">
                              <span class="icon locationIcon"></span>
                              <div class="input_text">
                                <ng-container *ngFor="let city of storeMultiSelect.city_name; index as i;">
                                <span class="selected-span">{{city.length > 10 ? city.slice(0,10)+ '...': city }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'city')"></i></span></span>
                                </ng-container>
                                <span class="dropdown-search">
                                  <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="city" placeholder="Select City" (click)="getOnchangeEvent('city')">
                                    <app-multi-select *ngIf="cityDiv" 
                                      [mainDataArray]="cityArray"
                                      [storedValue]="storeMultiSelect.city_value"
                                      [storedName]="storeMultiSelect.city_name"  
                                      [field_name] ="'city'"
                                      (sendDataEvent)="getChange($event)" 
                                      (checkOutsideEvent)="checkmultiselect($event)" 
                                      (multidataSelect)="multiselectAll($event)">
                                    </app-multi-select>
                                  </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> 
                    </div>  
                    <div class="submitOuter">
                      <button type="submit" (click)="searchCv()">Search</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END REGISTRATION FORM -->