<section class="bannerSection otherusers animation-element">
   <!-- <img src="assets/images/student1.jpg" alt="collegeBanner"> -->
   
</section>
<!-- END BANNER SECTION -->
<!-- START BREADCRUMB SECTION -->
<!-- START BREADCRUMB SECTION -->
<section class="breadcrumbSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-md-12 col-12">
            <ul>
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">{{userData && userData.user_detail ? userData.user_detail.name:''}}</a></li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- END BREADCRUMB SECTION -->
<!-- START REGISTRATION FORM -->
<section class="registrationForm registrationFormSec">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="registrationFormOuter">
               <form [formGroup]="registrationForm">
                  <h2 class="pageTitle">Resume Upload Form</h2>
                  <div class="registrationFormInner">
                     <div class="part-sec">
                        <h3>Candidate Detail</h3>
                        <div class="row">
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <span class="icon nameIocn"></span>
                                 <input id="namecol" type="text" class="validate" formControlName="first_name">
                                 <label for="namecol" [ngClass]="{'active':registrationForm.get('first_name').value}"> First name</label>
                                 <p *ngIf="validation_error && validation_error.first_name" class="form-error">{{validation_error.first_name[0]}}</p>
                              </div>
                           </div>
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                 <div class="input-field">
                                    <span class="icon nameIocn"></span>
                                    <input id="middle_name" type="text" class="validate" formControlName="middle_name">
                                    <label for="middle_name" [ngClass]="{'active':registrationForm.get('middle_name').value}"> Middle Name</label>
                                 </div>
                              </div>
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <span class="icon nameIocn"></span>
                                 <input id="last_name" type="text" class="validate" formControlName="last_name">
                                 <label for="last_name" [ngClass]="{'active':registrationForm.get('last_name').value}"> Last Name</label>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <span class="icon emailIcon"></span>
                                 <input id="emailcol" type="text" class="validate" formControlName="email">
                                 <label for="emailcol" [ngClass]="{'active':registrationForm.get('email').value}"> Email</label>
                                 <p *ngIf="validation_error && validation_error.email" class="form-error">{{validation_error.email[0]}}</p>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <span class="icon phoneIcon"></span>
                                 <input id="phone" type="text" class="validate" formControlName="phone">
                                 <label for="phone" [ngClass]="{'active':registrationForm.get('phone').value}"> Phone</label>
                                 <p *ngIf="validation_error && validation_error.phone" class="form-error">{{validation_error.phone[0]}}</p>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">                               
                                 <span class="icon locationIcon"></span>
                                 <select formControlName="country_id">
                                    <option value="">Country</option>
                                    <option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
                                 </select>
                                  <p *ngIf="validation_error && validation_error.country_id" class="form-error">{{validation_error.country_id[0]}}</p>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <span class="icon locationIcon"></span>
                                 <select formControlName="city_id">
                                    <option value="">City</option>
                                    <option value="{{city._id}}" *ngFor="let city of filterCities">{{city.name}}</option>
                                 </select>
                                 <p *ngIf="validation_error && validation_error.city_id" class="form-error">{{validation_error.city_id[0]}}</p>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">                               
                                 <span class="icon locationIcon"></span>
                                 <select formControlName="industry_id">
                                    <option value="">Select Industry</option>
                                    <option value="{{industry._id}}" *ngFor="let industry of industriesData">{{industry.name}}</option>
                                 </select>
                                    <!-- <p *ngIf="validation_error && validation_error.country_id" class="form-error">{{validation_error.country_id[0]}}</p> -->
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <span class="icon locationIcon"></span>
                                 <select formControlName="department_id">
                                    <option value="">Select Department</option>
                                    <option value="{{department._id}}" *ngFor="let department of departmentData">{{department.name}}</option>
                                 </select>
                                 <!-- <p *ngIf="validation_error && validation_error.city_id" class="form-error">{{validation_error.city_id[0]}}</p> -->
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">                               
                                 <span class="icon locationIcon"></span>
                                 <select formControlName="expriance_id">
                                    <option value="">Year Of Experience</option>
                                    <option value="{{expriance._id}}" *ngFor="let expriance of experiance_years">{{expriance.name}}</option>
                                 </select>
                                    <!-- <p *ngIf="validation_error && validation_error.country_id" class="form-error">{{validation_error.country_id[0]}}</p> -->
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">                               
                                 <span class="icon locationIcon"></span>
                                 <select formControlName="employment_type">
                                    <option value="">Emplyment Type</option>
                                    <option value="{{type._id}}" *ngFor="let type of empType">{{type.name}}</option>
                                 </select>
                                    <!-- <p *ngIf="validation_error && validation_error.country_id" class="form-error">{{validation_error.country_id[0]}}</p> -->
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="input-field">                               
                                 <span class="icon locationIcon"></span>
                                 <select formControlName="degree_id">
                                    <option value="">Education</option>
                                    <option *ngFor="let degree of degrees" value="{{degree._id}}">{{degree.name}}</option>
                                 </select>
                                    <!-- <p *ngIf="validation_error && validation_error.country_id" class="form-error">{{validation_error.country_id[0]}}</p> -->
                              </div>
                           </div>
                           
                        </div>
                        <div class="input-field">
                           <span class="icon addressIcon"></span>
                           <textarea rows="4" class="form-control" placeholder="Permanent Address" formControlName="permanent_address"></textarea>

                        </div>
                        <div class="input-field">
                           <span class="icon addressIcon"></span>
                           <textarea rows="4" class="form-control" placeholder="Present Address" formControlName="present_address"></textarea>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        	  <div class="input-field">
                                 <span class="icon locationIcon"></span>
                                 <select formControlName="gender">
                                    <option value="">gender</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                 </select>
                                 <p *ngIf="validation_error && validation_error.gender" class="form-error">{{validation_error.gender[0]}}</p>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <span class="icon payDtlDateIcon"></span>
                                 <input id="date_of_birth" dateInput format="d/m/Y" mode="single" maxdate="{{prevEighteenYearDate}}" type="text" formControlName="date_of_birth">
                                 <label for="date_of_birth" [ngClass]="{'active':registrationForm.get('date_of_birth').value}"> Date of birth</label>
                                 <p *ngIf="validation_error && validation_error.date_of_birth" class="form-error">{{validation_error.date_of_birth[0]}}</p>
                              </div>
                           </div>

                        </div>
                        <div class="row">
                        	<div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <span class="icon employeeIcon"></span>
                                 <input id="nationality" type="text" class="validate" formControlName="nationality">
                                 <label for="nationality" [ngClass]="{'active':registrationForm.get('nationality').value}">Nationality</label>
                                 <p *ngIf="validation_error && validation_error.nationality" class="form-error">{{validation_error.nationality[0]}}</p>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <span class="icon imageIcon"></span>
                                 <input type="file" name="" id="galleryImg1" (change)="logoUpload($event)">
                                 <label for="galleryImg1">
                                    <span class="placeholderTxt">{{cv_file? cv_file:'Upload CV'}}</span>
                                    <span class="browse">Browse</span>
                                 </label>
                                 <p *ngIf="validation_error && validation_error.cv_file" class="form-error">{{validation_error.cv_file[0]}}</p>
                              </div>
                           </div>

                        </div>
                     </div>
                     <!-- <div class="part-sec">
                        <h3>Contact Person</h3>
                        <div class="row">
                           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <span class="icon nameIocn"></span>
                                 <input id="namecp" type="text" class="validate" formControlName="contact_person_name">
                                 <label for="namecp">Your Name</label>
                                 <p *ngIf="validation_error && validation_error.contact_person_name" class="form-error">{{validation_error.contact_person_name[0]}}</p>
                              </div>
                           </div>
                           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <span class="icon employeeIcon"></span>
                                 <input id="degcp" type="text" class="validate" formControlName="contact_person_designation">
                                 <label for="degcp">Your Designation</label>
                                 <p *ngIf="validation_error && validation_error.contact_person_designation" class="form-error">{{validation_error.contact_person_designation[0]}}</p>
                              </div>
                           </div>
                           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <span class="icon emailIcon"></span>
                                 <input id="emailcp" type="email" class="validate" formControlName="contact_person_email">
                                 <label for="emailcp">Your Email</label>
                                 <p *ngIf="validation_error && validation_error.contact_person_email" class="form-error">{{validation_error.contact_person_email[0]}}</p>
                              </div>
                           </div>
                           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <span class="icon phoneIcon"></span>
                                 <input id="phonecp" type="text" class="validate" formControlName="contact_person_phone">
                                 <label for="phonecp">Your Phone</label>
                                 <p *ngIf="validation_error && validation_error.contact_person_phone" class="form-error">{{validation_error.contact_person_phone[0]}}</p>
                              </div>
                           </div>
                        </div>
                     </div> -->
                     <div class="submitOuter">
                        <button type="submit" (click)="submitForm()">Submit</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>