<!-- START HEADER -->
<header *ngIf="!showheader" [ngClass]="offLogin?'cookis-pg-hdr':''">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
        <div class="logoContainer">
          <a href="javascript:void(0)" routerLink="/"><img src="assets/images/logo.png" alt="logo"></a>
        </div>
      </div>
      <!-- start mobile menu -->
      <div class="col-xl-4 col-lg-4 col-md-9 col-sm-6 col-6 desktopMenuNone">
        <div class="menuhold">
          <div class="profileMenu" *ngIf="isloggedIn && showEmployer">
            <a href="javascript:void(0)" class="mobile_profile_menu"><span class="userIcon"><img class="mobile_profile_menu" [src]="user.user_detail && user?.user_detail?.company_logo ?user?.user_detail?.company_logo : 'assets/images/userIcon.png'" alt="userIcon" ></span></a>
            <ul *ngIf="showMobProfMenu">
              <li><a routerLink="/employer/profile" href="javascript:void(0)"><img src="assets/images/positionIcon.png">My Profile</a></li>
              <li><a href="javascript:void(0)"><img src="assets/images/mail-gray.png"> Messages <span>0</span></a></li>
              <li><a href="javascript:void(0)"><img src="assets/images/bellIcon-gray.png"> Notifications <span>0</span></a></li>
              <li><a href="javascript:void(0)" (click)="logOut()"><img src="assets/images/logout.png"> Logout</a></li>
            </ul>
          </div>
          <div class="profileMenu" *ngIf="isloggedIn && !showEmployer">
            <a href="javascript:void(0)" class="mobile_profile_menu" *ngIf="otherUser && (user.user_role =='agency' || user.user_role =='franchise')"><span class="userIcon"><img class="mobile_profile_menu" [src]="user?.user_detail && user?.user_detail?.profile_image_url ? user?.user_detail?.profile_image_url : 'assets/images/userIcon.png'" alt="userIcon"></span></a>

            <a href="javascript:void(0)" class="mobile_profile_menu" *ngIf="otherUser && user.user_role =='college'"><span class="userIcon"><img class="mobile_profile_menu" [src]="user?.user_detail && user?.user_detail?.logo_url ? user?.user_detail?.logo_url : 'assets/images/userIcon.png'" alt="userIcon"></span></a>

            <a href="javascript:void(0)" class="mobile_profile_menu" *ngIf="!otherUser"><span class="userIcon"><img class="mobile_profile_menu" [src]="user?.user_detail && user?.user_detail?.profile_picture_image ? user?.user_detail?.profile_picture_image : 'assets/images/userIcon.png'" alt="userIcon"></span></a>

            <ul *ngIf="showMobProfMenu">
              <li *ngIf="user.user_role=='trainer'"><a class="vwprofile" href="javascript:void(0)" routerLink="/trainer/profile"><img src="assets/images/positionIcon.png"> view profile</a></li>
                <li *ngIf="user.user_role=='agency'"><a class="vwprofile" href="javascript:void(0)" routerLink="/agency/profile"><img src="assets/images/positionIcon.png"> view profile</a></li>
                <li *ngIf="user.user_role=='franchise'"><a class="vwprofile" href="javascript:void(0)" routerLink="/franchise/profile"><img src="assets/images/positionIcon.png"> view profile</a></li>
                <li *ngIf="user.user_role=='college'"><a class="vwprofile" href="javascript:void(0)" routerLink="/college/profile"><img src="assets/images/positionIcon.png"> view profile</a></li>
                
              <li><a href="javascript:void(0)"><img src="assets/images/mail-gray.png"> Messages <span>0</span></a></li>
              <li><a href="javascript:void(0)"><img src="assets/images/bellIcon-gray.png"> Notifications <span>0</span></a></li>
              <li><a href="javascript:void(0)" (click)="logOut()"><img src="assets/images/logout.png"> Logout</a></li>
            </ul>
          </div>
          <a href="javascript:void(0)" class="hmburger" (click)="clickEvent()" *ngIf="isloggedIn && !otherUser">
          <span></span>
          <span></span>
          <span></span>
          </a>         
        </div>
      </div>
      <!-- end mobile menu-->
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12" *ngIf="!offLogin">
        <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" id="job_seeker_CALL" style="display: none;"></a>
        <ng-container *ngIf="!otherUser">
          <div class="additionalLink inner-additionalLink" *ngIf="!isloggedIn">
            <ul *ngIf="!showEmployer">
              <!-- <li><span class="free">free</span><a href="javascript:void(0)" (click)="userSwitch('/employer')">Are you Recruiter? Start Hiring</a></li> -->
              <!-- <li *ngIf="!isloggedIn"><span class="free">free</span><a href="javascript:void(0)" id="job_seeker_modal" class="signup blueBtn " data-toggle="modal" data-target="#loginModal">Job Seeker Login</a></li> -->
              <!-- <li *ngIf="isloggedIn"><a href="javascript:void(0)" class="signup blueBtn" (click)="logOut()">Log Out</a></li> -->
            </ul>
            <ul *ngIf="showEmployer">
              <!-- <li *ngIf="!isloggedIn"><span class="free">free</span><a href="javascript:void(0)" (click)="userSwitch('')" class="areyou-seekr">Are you Job Seeker? </a></li> -->
              <li *ngIf="!isloggedIn"><a  href="javascript:void(0)" id="employer_login" class="signup jobseekerlogin" (click)="openModal=true;showLogin=true">FREE Recruiter Login</a></li>
              <!-- <li *ngIf="isloggedIn"><a href="javascript:void(0)" class="signup blueBtn" (click)="logOut()">Log Out</a></li> -->
            </ul>
          </div>
        </ng-container>
        <ul class="afterLoginEmployee" *ngIf="isloggedIn && showEmployer">
          <li>
            <h5>Welcome {{user.user_detail && user.user_detail.company_name ? this.user.user_detail.company_name : ''}}</h5>
          </li>
          <li><a href="javascript:void(0)"><img src="assets/images/msgIcon.png" alt="msgIcon"><span class="count">0</span></a></li>
          <li><a href="javascript:void(0)"><img src="assets/images/bellIcon.png" alt="bellIcon"><span class="count">0</span></a></li>
          <li>
            <a href="javascript:void(0)" class="user" id="user_a"><span class="userIcon"><img [src]="this.user.user_detail.company_logo ?this.user.user_detail.company_logo : 'assets/images/userIcon.png'" alt="userIcon" id="menu_open"></span></a>
            <!-- <ul>
              <li><a routerLink="/employer/profile" href="javascript:void(0)">Profile</a></li>
              <li><a href="javascript:void(0)" class="signup blueBtn" (click)="logOut()">Logout</a></li>
              </ul> -->
            <div class="profiledorpdown" *ngIf="showLogoutMenu">
              <ul>
                <li>
                  <h4><span class="img"><img [src]="this.user.user_detail.company_logo ?this.user.user_detail.company_logo : 'assets/images/userIcon.png'"></span>
                    <span class="name">{{user.user_detail && user.user_detail.company_name ? this.user.user_detail.company_name : ''}}</span>
                  </h4>
                </li>
                <li><a class="vwprofile" href="javascript:void(0)" routerLink="/employer/profile"><img src="assets/images/positionIcon.png"> view profile</a></li>
                <li><a target="_blank" href="{{global.communityUrl}}?token={{user?.community_token}}" ><img src="assets/images/postIcon.png"> Write an article on bsb</a></li>
                <li><a href="javascript:void(0)" ><img src="assets/images/job.png"> View Ready to job change talent</a></li>
                <li><a target="_blank" href="{{global.communityUrl}}?token={{user?.community_token}}" ><img src="assets/images/community.png"> View community home page</a></li>
                <li><a href="javascript:void(0)" ><img src="assets/images/job.png"> Job post in community</a></li>
                <li><a href="javascript:void(0)" ><img src="assets/images/job.png"> Settings and Privacy</a></li>
                <li><a href="javascript:void(0)" (click)="logOut()"><img src="assets/images/logout.png"> Log Out</a> </li>
              </ul>
            </div>
          </li>
        </ul>
        <ul class="afterLoginEmployee" *ngIf="isloggedIn && !showEmployer">
          <li>
            <h5>Welcome {{this.user && this.user.user_detail.name ? this.user.user_detail.name : ''}}</h5>
          </li>
          <li><a href="#"><img src="assets/images/msgIcon.png" alt="msgIcon"><span class="count">0</span></a></li>
            <li><a href="#"><img src="assets/images/bellIcon.png" alt="bellIcon"><span class="count">0</span></a></li>
          <li>
            <!-- <a href="javascript:void(0)"><span class="userIcon"><img [src]="this.user.user_detail.profile_picture_image ? this.user.user_detail.profile_picture_image : 'assets/images/userIcon.png'" alt="userIcon"></span></a> -->
            <a *ngIf="user.user_role=='employee' || user.user_role=='employer'" href="javascript:void(0)" class="user" id="user_a" ><span class="userIcon"><img [src]="this.user.user_detail.profile_picture_image ? this.user.user_detail.profile_picture_image : 'assets/images/userIcon.png'" alt="userIcon" id="menu_open"></span></a>

            <a *ngIf="user.user_role=='college'" href="javascript:void(0)" class="user" id="user_a" ><span class="userIcon"><img [src]="this.user.user_detail.logo_url ? this.user.user_detail.logo_url : 'assets/images/userIcon.png'" alt="userIcon" id="menu_open"></span></a>
            <a *ngIf="user.user_role=='agency' || user.user_role=='franchise'" href="javascript:void(0)" class="user" id="user_a" ><span class="userIcon"><img [src]="this.user.user_detail?.profile_image_url ? this.user.user_detail?.profile_image_url : 'assets/images/userIcon.png'" alt="userIcon" id="menu_open"></span></a>

            <a *ngIf="user.user_role=='trainer'" href="javascript:void(0)" class="user" id="user_a" ><span class="userIcon"><img [src]="this.user.user_detail.profile_image_url ? this.user.user_detail.profile_image_url : 'assets/images/userIcon.png'" alt="userIcon" id="menu_open"></span></a>
            <!-- <ul>
              <li *ngIf="user.user_role=='trainer'"><a routerLink="/trainer/profile" href="javascript:void(0)">Profile</a></li>
              <li *ngIf="user.user_role=='agency'"><a routerLink="/agency/profile" href="javascript:void(0)">Profile</a></li>
              <li *ngIf="user.user_role=='franchise'"><a routerLink="/franchise/profile" href="javascript:void(0)">Profile</a></li>
              <li *ngIf="user.user_role=='college'"><a routerLink="/college/profile" href="javascript:void(0)">Profile</a></li>
              <li><a href="javascript:void(0)" class="signup blueBtn" (click)="logOut()">Logout</a></li>
            </ul> -->
            <div class="profiledorpdown" *ngIf="showLogoutMenu">
              <ul>
                <li>
                  <h4 *ngIf="user.user_role=='employee' || user.user_role=='employer'"><span class="img"><img [src]="this.user.user_detail.profile_picture_image ? this.user.user_detail.profile_picture_image : 'assets/images/userIcon.png'"></span>
                    <span class="name">{{user.user_detail && user.user_detail.name ? this.user.user_detail.name : ''}}</span>
                  </h4>
                  <h4 *ngIf="user.user_role=='college' || user.user_role=='agency' || user.user_role=='franchise'"><span class="img"><img [src]="this.user.user_detail.logo_url ? this.user.user_detail.logo_url : 'assets/images/userIcon.png'"></span>
                    <span class="name">{{user.user_detail && user.user_detail.name ? this.user.user_detail.name : ''}}</span>
                  </h4>
                  <h4 *ngIf="user.user_role=='trainer'"><span class="img"><img [src]="this.user.user_detail.profile_image_url ? this.user.user_detail.profile_image_url : 'assets/images/userIcon.png'"></span>
                    <span class="name">{{user.user_detail && user.user_detail.name ? this.user.user_detail.name : ''}}</span>
                  </h4>
                </li>
                <li *ngIf="user.user_role=='trainer'"><a class="vwprofile" href="javascript:void(0)" routerLink="/trainer/profile"><img src="assets/images/positionIcon.png"> view profile</a></li>
                <li *ngIf="user.user_role=='agency'"><a class="vwprofile" href="javascript:void(0)" routerLink="/agency/profile"><img src="assets/images/positionIcon.png"> view profile</a></li>
                <li *ngIf="user.user_role=='franchise'"><a class="vwprofile" href="javascript:void(0)" routerLink="/franchise/profile"><img src="assets/images/positionIcon.png"> view profile</a></li>
                <li *ngIf="user.user_role=='college'"><a class="vwprofile" href="javascript:void(0)" routerLink="/college/profile"><img src="assets/images/positionIcon.png"> view profile</a></li>
                <li><a target="_blank" href="{{global.communityUrl}}?token={{user?.community_token}}" ><img src="assets/images/postIcon.png"> Write an article on bsb community</a></li>
                <li><a href="javascript:void(0)" ><img src="assets/images/job.png"> View hiring now by company</a></li>
                <li><a target="_blank" href="{{global.communityUrl}}?token={{user?.community_token}}" ><img src="assets/images/community.png"> View community home page</a></li>
                <li><a href="javascript:void(0)" ><img src="assets/images/job.png"> Find jobs in community</a></li>
                <li><a href="javascript:void(0)" ><img src="assets/images/job.png"> Settings and Privacy</a></li>
                <li><a href="javascript:void(0)" (click)="logOut()"><img src="assets/images/logout.png"> Log Out</a> </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- END HEADER -->
<!-- START SECOND HEADER -->
<section class="menuBar" *ngIf="!showheader && isloggedIn">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="isloggedIn">
        <ul *ngIf="showEmployer">
          <li><a href="javascript:void(0)" routerLink="employer/dashboard" [routerLinkActive]="['active']">Dashboard</a></li>
          <li class="hasDropdown">
            <a href="javascript:void(0)" [ngClass]="{'active':checkActiveUrl('employeer-cv-access')}">CV Access</a>
            <ul>
              <li><a routerLink="employer/simple-search">Simple Search</a></li>
              <li><a routerLink="employer/advance-search">Advance Search</a></li>
              <li><a routerLink="employer/people-search">People Search</a></li>
            </ul>
          </li>
          <li class="hasDropdown">
            <a href="javascript:void(0)" [ngClass]="{'active':checkActiveUrl('employeer-job_post')}"><span>Free</span> Job Post</a>
            <ul>
              <li><a routerLink="employer/job-posted">Post a Free Job</a></li>
              <li><a routerLink="employer/job-posted-list">Free Posted Job</a></li>
              <li><a routerLink="employer/job-posted-premium">Post a Premium Job <b class="now-free">Now Free</b></a></li>
              <li><a routerLink="employer/job-posted-premium-list">Premium Posted Job</a></li>
              <li><a routerLink="employer/free-international-job/create">Post a Free International Job</a></li>
              <li><a routerLink="employer/free-international/list">Free International Posted Job</a></li>
              <li><a routerLink="employer/premium-international-job/create">Post a Premium International Job <b class="now-free">Now Free</b></a></li>
              <li><a routerLink="employer/premium-international-job/list">Premium International Posted Job</a></li>              
              <li><a routerLink="employer/walk-in-interview-local">Free Walk-in Interview Local</a></li>
              <li><a routerLink="employer/walk-in-interview-local-list">Free Posted Walk-in Interview Local</a></li>
              <li><a routerLink="employer/walk-in-interview-international">Walk-in Interview International <b class="now-free">Now Free</b></a></li>
              <li><a routerLink="employer/walk-in-interview-international-list">Posted Walk-in Interview International</a></li>
            </ul>
          </li>
          <li class="hasDropdown">
            <a href="javascript:void(0)" [ngClass]="{'active':checkActiveUrl('employeer-email-service')}">Email Service</a>
            <ul>
              <li><a routerLink="/employer/email-template/create" href="javascript:void(0)">Create Email Template</a></li>
              <li><a routerLink="/employer/email-template" href="javascript:void(0)">Manage Email Template</a></li>
              <li><a [routerLink]="['/employer/mail','inbox']" href="javascript:void(0)">My Mailbox</a></li>
            </ul>
          </li>
          <li><a href="javascript:void(0)" routerLink="employer/application-recieved" [routerLinkActive]="['active']">Application Received</a></li>
          <li><a href="javascript:void(0)" [routerLink]="['employer/service']" [queryParams]="{type:'cv_download_view'}" [routerLinkActive]="['active']">CV Download / View</a></li>
          <li class="hasDropdown">
            <a href="javascript:void(0)" [ngClass]="{'active':checkActiveUrl('employeer-folder-manage')}">Folders</a>
            <ul>
              <li><a href="javascript:void(0)" data-toggle="modal" data-target="#folderModal">Create Folder</a></li>
              <li><a href="javascript:void(0)" routerLink="employer/folders-list">Manage Folder</a></li>
              <li><a href="javascript:void(0)" routerLink="employer/resumes">Reported Candidate</a></li>
              <li><a href="javascript:void()" routerLink="employer/folders-view/likescand">Candidate You Like</a></li>
            </ul>
          </li>
          <li><a href="javascript:void(0)" routerLink="employer/career" [routerLinkActive]="['active']">Career Page</a></li>
          <li class="hasDropdown">
            <a href="javascript:void(0)"  [ngClass]="{'active':checkActiveUrl('admin-data')}">Admin</a>
            <ul>
              <li><a href="javascript:void(0)" routerLink="employer/payment">Payment History</a></li>
              <!-- <li><a href="javascript:void(0)">Account Report</a></li>
                <li><a href="javascript:void(0)">Account Settings</a></li>
                <li><a href="javascript:void(0)">Activity Tracking</a></li> -->
              <li><a href="javascript:void(0)" routerLink="employer/recent-posted-job">Recent Jobs</a></li>
            </ul>
          </li>
        </ul>
        <ul *ngIf="showEmplyee">
          <li><a href="javascript:void(0)" routerLink="job-home"><span class="homeicon"><i class="fa fa-home" style="font-size:36px"></i></span></a></li>
          <li><a href="javascript:void(0)" routerLink="dashboard" [routerLinkActive]="['active']">Dashboard</a></li>
          <li class="hasDropdown">
            <a href="javascript:void(0)" [ngClass]="{'active':checkActiveUrl('search-job')}">Search by Category</a>
            <ul>
              <li><a href="javascript:void(0)" routerLink="find-jobs">Find Jobs</a></li>
              <li><a href="javascript:void(0)" [routerLink]="['search-job','country']">Search by Country</a></li>
              <li><a href="javascript:void(0)" [routerLink]="['search-job','city']">Search by City</a></li>
              <!-- <li><a href="javascript:void(0)" [routerLink]="['search-job','department']">Search by Job Department</a></li> -->
              <li><a href="javascript:void(0)" [routerLink]="['search-job','industry']">Search by Industry</a></li>
            </ul>
          </li>
          <li class="hasDropdown">
            <a href="javascript:void(0)" [ngClass]="{'active':checkActiveUrl('job-for-you')}">Jobs For You</a>
            <ul>
              <li><a href="javascript:void(0)" routerLink="job-alerts">Job Alerts</a></li>
              <li><a href="javascript:void(0)" routerLink="recommend-alert">Recommend Job Alerts</a></li>
              <li><a href="javascript:void(0)" routerLink="applied-jobs">Applied Job</a></li>
              <li><a href="javascript:void(0)" routerLink="saved-jobs">Saved Job</a></li>
              <li><a href="javascript:void(0)" routerLink="applied-international-jobs">Applied International Job</a></li>
              <li><a href="javascript:void(0)" routerLink="saved-international-jobs">Saved International Job</a></li>
              <li><a href="javascript:void(0)" routerLink="apply-hiring">Local Walk-in Interview</a></li>
              <li><a href="javascript:void(0)" routerLink="apply-hiring-international">International Walk-in Interview</a></li>
            </ul>
          </li>
          <li><a href="javascript:void(0)" routerLink="application-status" [routerLinkActive]="['active']">Application Status</a></li>
          <li class="hasDropdown">
            <a href="javascript:void(0)" [ngClass]="{'active':checkActiveUrl('we-offer-training')}">We Offer Training</a>
            <ul>
              <li><a href="javascript:void(0)" routerLink="training-getting-job">Training for getting a job</a></li>
              <li><a href="javascript:void(0)" routerLink="working-visa-training">Working Visa Training</a></li>
            </ul>
          </li>
          <li><a href="javascript:void(0)" routerLink="mail/inbox" [ngClass]="{'active':checkActiveUrl('mail')}">My Mailbox</a></li>
          <li><a href="javascript:void(0)" routerLink="profile" [routerLinkActive]="['active']">My Profile</a></li>
          <li><a href="javascript:void(0)" routerLink="payment" [routerLinkActive]="['active']">Payment</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>    
     <div class="legalmenu" *ngIf="showlegal">
      <div class="container">
        <ul>
          <li [routerLinkActive]="['active']"><a href="javascript:void(0);" routerLink="legal/user-agreement">User Agreement</a></li>
          <li [routerLinkActive]="['active']"><a href="javascript:void(0);" routerLink="legal/privacy-policy">Privacy Policy</a></li>
          <li [routerLinkActive]="['active']"><a href="javascript:void(0);" routerLink="legal/cookie-policy">Cookie Policy</a></li>
          <li [routerLinkActive]="['active']"><a href="javascript:void(0);" routerLink="legal/terms-conditions">Terms And Conditions</a></li>
        </ul>
      </div>
     </div>
<section class="mbBottomHeader cookis-pg-mbbottomheader" *ngIf="!isloggedIn">
  <div class="container" *ngIf="!showEmployer">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" >
          <!-- <div class="mbjobseekerBtnouter" >
            <span class="free">Free</span>
            <a href="javascript:void(0)" class="signup blueBtn"  data-toggle="modal" data-target="#loginModal">Job Seeker Login</a>
          </div> -->
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-right" *ngIf="!offLogin">
        <div class="mbjobseekerBtnouter mbjobseekerBtnouter2">
          <!-- <span class="free">Free</span> -->
          <a href="javascript:void(0)" (click)="userSwitch('/employer')" class="blueBtn">FREE Recruiter Login</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="showEmployer">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" >
        <!-- <div class="mbjobseekerBtnouter" >
          <span class="free">Free</span>
          <a href="javascript:void(0)" class="areyou-seekr"  (click)="userSwitch('')">Job Seeker Login</a>
        </div> -->
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-right">
        <div class="mbjobseekerBtnouter mbjobseekerBtnouter2 inner-hder-holder">
          <!-- <span class="free">Free</span> -->
          <a href="javascript:void(0)" class="signup jobseekerlogin"  (click)="openModal=true;showLogin=true">FREE Recruiter Login</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END SECOND HEADER -->
<div class="modal fade signinModal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
  <div class="modal-dialog bd-example-modal-sm" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="loginmodalOuter">
          <div class="loginmodalLeft">
            <div class="loginSection" id="loginDiv">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4>Sign-in </h4>
                </div>
              </div>
              <app-login (loginEvent)="checkIsRegister($event)" [isApplied]="trigerData"></app-login>
            </div>
            <div class="regSection" id="regisDiv">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4>Sign-up </h4>
                </div>
              </div>
              <app-registration (registerEvent)="checkIsRegister($event)" ></app-registration>
            </div>
            <div class="forgotSection">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4>Forgot Password </h4>
                </div>
              </div>
              <app-forget-password (forgotEvent)="checkIsRegister($event)"></app-forget-password>
            </div>
          </div>
          <div class="loginmodalRight">
            <img src="assets/images/modalImg1.png"alt="modalImg">
            <div class="layer3"></div>
            <div class="otherLogin">
              <!-- <h4>Sign in with Social Network</h4>
                <a href="javascript:void(0)" class="facebook">Login with Facebook</a>
                <a href="javascript:void(0)" class="google">Login with Google+</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- SIGN IN MODAL -->
  <div class="cmnmodal" *ngIf="openModal">
    <div class="modalholder" [ngClass]="!showRegistration ?'jobseekerstep1 login':showEmployer?'recruiterstep1':'jobseekerstep1'">
      <div class="modalheader">
        <a class="cross" href="javascript:void(0)" (click)="handleCloseModal()"><i class="fa fa-times" aria-hidden="true"></i></a>
      </div>
      <ng-container *ngIf="showLogin">
        <app-login (loginEvent)="checkIsRegister($event)" [isApplied]="trigerData"></app-login>
      </ng-container>
      <ng-container *ngIf="showForgot">
        <app-forget-password (forgotEvent)="checkIsRegister($event)"></app-forget-password>
      </ng-container>
      <ng-container *ngIf="showRegistration">
        <app-registration (registerEvent)="checkIsRegister($event)" ></app-registration>
      </ng-container>
    </div>
  </div>


<!-- Create Folder Modal -->
<div class="modal generalModal" id="folderModal">
  <!-- <div class="modal-dialog bd-example-modal-sm" role="document"> -->
  <div class="modal-content">
    <div class="modal-header">
      <h4>Create New Folder</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="folder_model">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="createFolderForm">
        <div class="modalInput">
          <label>Create Folder</label>
          <input type="text" name="" formControlName="folder_name"  class="validate">
          <span *ngIf="(isSubmit && createFolderForm.get('folder_name').errors) || ((createFolderForm.get('folder_name').touched || createFolderForm.get('folder_name').dirty)
            && createFolderForm.get('folder_name').errors)">
          <span *ngIf="createFolderForm.get('folder_name').errors.required "
            class="form-error">Please enter folder name</span>
          </span>
          <span *ngIf="validationError && validationError.folder_name" class="form-error">{{validationError.folder_name[0]}}</span>           
        </div>
        <div class="shareOuter">
          <button type="submit" class="blueBtn" data-dismiss="modal">Cancel</button>
          <button type="submit" class="blueBtn"  (click)="submitFolder()">Create</button>
        </div>
      </form>
    </div>
  </div>
  <!-- </div> -->
</div>