 <!-- START BANNER SECTION -->
      <section class="bannerSection">
      <!-- <section class="bannerSection animation-element"> -->
        <!-- <div class="bannerSlider">
          <owl-carousel
            [options]="mySlideOptions"
            [carouselClasses]="['owl-theme', 'sliding']"
        >
            <div class="item" *ngFor="let image of mySlideImages;index as i">
                <div class="">
                    <img src={{image}}/>
                </div>
            </div>
        </owl-carousel>
        </div> -->
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="bannerContent">
                  <h1>Get the <span>right jobs Anywhere</span> in the W<span class="globehome"></span>rld</h1>
                <div class="bannerForm">
                  <div class="banSearchTop">
                    <div class="bannerInner">
                      <input type="text" name="" [(ngModel)]="job_title_model" id="job_title_search" class="form-control auto_comp_search" value="{{searchData.title_comp.name}}" placeholder="Job Title, Skills" (keyup)="searchAutoComplete('JB_TITLE_WISE',$event)" autocomplete="off">
                      <div class="state-container-dropdown" *ngIf="show_jb_title_srh">
                        <ng-container *ngFor="let data of title_job_data">
                          <div class="state" (click)="autoCompleteSearch(data.id, 'JB_TITLE_WISE')">
                            <span>{{data.name}}</span>
                          </div>
                        </ng-container>
                      </div>

                      <span class="icon bansearchICon"></span>
                    </div>

                    <div class="bannerInner">
                      <input type="text" name="" [(ngModel)]="insudtry_model" class="form-control auto_comp_search" id="insudtry_search" placeholder="Industry" value="{{searchData.industry.name}}" (keyup)="searchAutoComplete('INDUSTRY_WISE',$event)" autocomplete="off">
                      <div class="state-container-dropdown" *ngIf="show_industry_srh">
                        <ng-container *ngFor="let data of industrty_data">
                          <div class="state" (click)="autoCompleteSearch(data.id, 'INDUSTRY_WISE')">
                            <span>{{data.name}}</span>
                          </div>
                        </ng-container>
                      </div>
                      <span class="icon banfactoryICon"></span>
                    </div>
                    <div class="bannerInner">
                      <input type="text" name="" [(ngModel)]="country_loc_model" class="form-control auto_comp_search" id="country_search"  value="{{searchData.city_country.name}}" placeholder="Country, City" (keyup)="searchAutoComplete('COUNTRY_WISE',$event)" autocomplete="disable">
                      <div class="state-container-dropdown" *ngIf="show_city_comp_srh">
                        <ng-container *ngFor="let data of city_country_data">
                          <div class="state" (click)="autoCompleteSearch(data.id, 'COUNTRY_WISE')">
                            <span>{{data.name}}</span>
                          </div>
                        </ng-container>
                      </div>
                      <span class="icon banlocationICon"></span>
                    </div>
                    <div class="bannerInner">
                      <input type="submit" name="" value="Search Jobs" (click)="searchFilter()">
                      
                    </div>
                  </div> 
                  <div class="banSearchBottom">
                    <div class="banSearchLeft">
                      <p>Don't have a resume? Upload / Build Your Resume <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" class="hereICon">here </a></p>
                    </div>
                    <div class="advSearchOuter">
                        <a href="#" class="advSearch" data-toggle="modal" data-target="#advModal">Advanced Search</a>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END BANNER SECTION -->
    <!-- START FIND JOB SECTION -->
      <section class="findjobSection">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h2 class="headerClass">Find Jobs by Country</h2>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="alphabet">
                  <li *ngFor="let alphabet of alphabets;index as i;"><a href="javascript:void(0)" (click)="allCountryShow(alphabet)">{{alphabet}}</a></li>
                  <!-- <li><a href="#fsg">B </a></li>
                  <li><a href="#">C</a></li>
                  <li><a href="#">D </a></li>
                  <li><a href="#">E </a></li>
                  <li><a href="#">F </a></li>
                  <li><a href="#">G </a></li>
                  <li><a href="#">H </a></li>
                  <li><a href="#">I </a></li>
                  <li><a href="#">J </a></li>
                  <li><a href="#">K </a></li>
                  <li><a href="#">L </a></li>
                  <li><a href="#">M </a></li>
                  <li><a href="#">N </a></li>
                  <li><a href="#">O </a></li>
                  <li><a href="#">P </a></li>
                  <li><a href="#">Q </a></li>
                  <li><a href="#">R </a></li>
                  <li><a href="#">S </a></li>
                  <li><a href="#">T </a></li>
                  <li><a href="#">U </a></li>
                  <li><a href="#">V </a></li>
                  <li><a href="#">W </a></li>
                  <li><a href="#">X </a></li>
                  <li><a href="#">Y </a></li>
                  <li><a href="#">Z </a></li> -->
                </ul>
              </div>
            </div>
          <div class="loadmoreCity">
            <div class="row">
            <ng-container *ngFor="let country of showcountries; index as i"> 
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6" id="{{countryAlphaid(country.name,i)}}">
                <div class="findjobContent">
                <a href="javascript:void(0)" [routerLink]="['/search-job-listing']" [queryParams]="{search_location:country.name}">
                  <div class="findjobOuter">
                    <!-- <img src="assets/images/cityImg1.png"> -->
                    <img src="{{(country.image && country.image!= '' ) ? global.imageUrl+'country_image/'+country.image : 'assets/images/cityImg2.png'}}">
                    <div class="findjobInner">
                      <h4>{{country.name}}</h4>
                      <h5>{{country.job_count}} Jobs Posted </h5>
                    </div>
                    <div class="findjobHover">
                      <span></span>
                      <h4>{{country.name}}</h4>
                      <h5>{{country.job_count}} Jobs Posted</h5>
                    </div>
                  </div>
              </a>
                </div>
              </div>
            </ng-container>
            </div>
          </div>
          <div class="row" *ngIf="countries.length > countshowcountres" id="add_moreDiv">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <!-- <div class="loadmoreOuter">
                <a href="javascript:void(0)" (click)="addMoreCountry()">
                  <img src="assets/images/downArrow-double.png">
                  <span>Load More</span>
                </a>
              </div> -->
            </div>
          </div>
        </div>
      </section>
    <!-- END FIND JOB SECTION -->

    <!-- START CLIENT SECTION -->
      <section class="clientSection clientSectionSec" *ngIf="isloaded">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-12">
                <div class="clientLogo">
                  <owl-carousel
                  [options]="emplorerSlideOptions"
                  [carouselClasses]="['owl-theme', 'sliding']"
                  >
                  <div class="item" *ngFor="let image of emplorerSlideImages;index as i">
                    <a href="javascript:void(0)" [routerLink]="['/search-job-listing']" [queryParams]="{searchemployerjobs:image.id}">
                      <div class="clientLogoContainer">
                          <img src={{image.company_logo}}/>
                          <span class="jobCount">{{image.employer_job_count}}</span>
                      </div>
                    </a>  
                      <!-- <div class="clientLogoContainer">
                          <img src={{image}}/>
                          <span class="jobCount">1</span>
                      </div> -->
                  </div>

                </owl-carousel>

                </div>
              </div>
            </div>
            <a class="scrolltotop" href="javascript:void(0)" (click)="scroleToTop()"></a>
          </div>
        </section>

    <!-- END CLIENT SECTION -->
    <section class="gapSection">
        
      </section>
        <!-- <section class="jobTabSection">
          <div class="layer2"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="jobTabOuter">
                  <ul class="nav nav-tabs" id="jobTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="jobTabNav1" data-toggle="tab" href="#jobTab1" role="tab" aria-controls="home" aria-selected="true">Jobs By Title</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="jobTabNav2" data-toggle="tab" href="#jobTab2" role="tab" aria-controls="profile" aria-selected="false">Jobs By Location</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="jobTabNav3" data-toggle="tab" href="#jobTab3" role="tab" aria-controls="contact" aria-selected="false">Jobs By Industry</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="jobTabNav4" data-toggle="tab" href="#jobTab4" role="tab" aria-controls="contact" aria-selected="false">Popular Jobs Searches</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="jobTabContent">
                    <div class="tab-pane fade show active" id="jobTab1" role="tabpanel" aria-labelledby="home-tab">
                      <ul *ngIf="jobs_by_title">
                        <li *ngFor="let job_by_title of jobs_by_title"><a href="javascript:void(0)" [routerLink]="['search-job-listing']" [queryParams]="{ search_title: job_by_title.job_title }"> {{job_by_title.job_title}} ({{job_by_title.total_count}}) </a></li>
                      </ul>
                      <h5 class="searchMore" *ngIf="jobs_by_title && jobs_by_title.length==40"><a href="javascript:void(0)">See More</a></h5>
                    </div>
                    <div class="tab-pane fade" id="jobTab2" role="tabpanel" aria-labelledby="profile-tab">
                      <ul *ngIf="jobs_by_city">
                        <li *ngFor="let job_by_city of jobs_by_city"><a href="javascript:void(0)" [routerLink]="['search-job-listing']" [queryParams]="{ search_location: job_by_city.name }"> {{job_by_city.name}} ({{job_by_city.total_count}}) </a></li>
                      </ul>
                      <h5 class="searchMore" *ngIf="jobs_by_city && jobs_by_city.length==40"><a href="javascript:void(0)" [routerLink]="['jobs-by','city']">See More</a></h5>
                    </div>
                    <div class="tab-pane fade" id="jobTab3" role="tabpanel" aria-labelledby="contact-tab">
                      <ul *ngIf="jobs_by_industry">
                        <li *ngFor="let job_by_industry of jobs_by_industry"><a href="javascript:void(0)" [routerLink]="['search-job-listing']" [queryParams]="{ search_industry: job_by_industry.name }"> {{job_by_industry.name}} ({{job_by_industry.total_count}}) </a></li>
                      </ul>
                      <h5 class="searchMore" *ngIf="jobs_by_industry && jobs_by_industry.length==40"><a href="javascript:void(0)" [routerLink]="['jobs-by','industry']">See More</a></h5>
                    </div>
                    <div class="tab-pane fade" id="jobTab4" role="tabpanel" aria-labelledby="contact-tab">
                      <ul *ngIf="popular_job_search">
                        <li *ngFor="let popular_search of popular_job_search"><a href="javascript:void(0)" [routerLink]="['search-job-listing']" [queryParams]="{ search_title: popular_search.search_key }"> {{popular_search.search_key}} ({{popular_search.total_count}}) </a></li>
                      </ul>
                     
                    </div>
                  </div>
                </div>
                <div id="accordion" class="jobAccordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Jobs By Title
                        </button>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <ul *ngIf="jobs_by_title">
                        <li *ngFor="let job_by_title of jobs_by_title"><a href="javascript:void(0)"> {{job_by_title.job_title}} ({{job_by_title.total_count}}) </a></li>
                      </ul>
                      <h5 class="searchMore" *ngIf="jobs_by_title && jobs_by_title.length==40"><a href="javascript:void(0)">See More</a></h5>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Jobs By Location
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        <ul *ngIf="jobs_by_city">
                        <li *ngFor="let job_by_city of jobs_by_city"><a href="javascript:void(0)"> {{job_by_city.name}} ({{job_by_city.total_count}}) </a></li>
                      </ul>
                      <h5 class="searchMore" *ngIf="jobs_by_city && jobs_by_city.length==40"><a href="javascript:void(0)">See More</a></h5>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Jobs By Industry
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        <ul *ngIf="jobs_by_industry">
                        <li *ngFor="let job_by_industry of jobs_by_industry"><a href="javascript:void(0)"> {{job_by_industry.name}} ({{job_by_industry.total_count}}) </a></li>
                      </ul>
                      <h5 class="searchMore" *ngIf="jobs_by_industry && jobs_by_industry.length==40"><a href="javascript:void(0)">See More</a></h5>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Popular Jobs Searches
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                      <div class="card-body">
                        <ul *ngIf="popular_job_search">
                        <li *ngFor="let popular_search of popular_job_search"><a href="javascript:void(0)"> {{popular_search.search_key}} ({{popular_search.total_count}}) </a></li>
                      </ul>
                     
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> -->

     <!-- MOdal -->
    <div class="modal modal-fixed-footer" id="advModal">
      <!-- <div class="modal-dialog bd-example-modal-sm" role="document"> -->
        <div class="modal-content">
          <h2>Advance Search</h2>
          <form [formGroup]="advSearchForm">
          <div class="modal-body registrationFormInner">
            
              <div class="part-sec">
                <div class="row">                      
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon jobIcon"></span>
                      <input id="jobTitle" type="text" class="validate auto_comp_search" formControlName="job_title" (keyup)="advancedSearchAutoComplete('JB_TITLE_WISE',$event)" autocomplete="off">
                        <div class="state-container-dropdown" *ngIf="adv_show_jb_title_srh">
                            <div class="state" *ngFor="let data of title_job_data" (click)="advancedAutoCompleteSearch(data.id, 'JB_TITLE_WISE')">
                               <span>{{data.name}}</span>
                            </div>
                        </div>
                      <label for="jobTitle">Job Title, Skills</label>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon employeeIcon"></span>
                      <select formControlName="employement_for">
                        <option value="" selected>Employment for</option>
                        <option value="{{empFor._id}}" *ngFor="let empFor of emplymentFor">{{empFor.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">                      
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <div class="input_text">
                        <ng-container *ngFor="let country of storeMultiSelect.country_name; index as i;">
                          <span class="selected-span">{{country.length > 10 ? country.slice(0,10)+ '...': country}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'country')"></i></span></span>
                        </ng-container>
                      <span class="dropdown-search">  
                       <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="country" placeholder="Select Country" (click)="getOnchangeEvent('country')">
                       <app-multi-select *ngIf="countryDiv" 
                              [mainDataArray]="countryArray"
                              [storedValue]="storeMultiSelect.country_value"
                              [storedName]="storeMultiSelect.country_name"  
                              [field_name] ="'country'"
                              (sendDataEvent)="getChange($event)" 
                              (checkOutsideEvent)="checkmultiselect($event)" 
                              (multidataSelect)="multiselectAll($event)">
                      </app-multi-select>
                      </span>
                    </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <div class="input_text">
                        <ng-container *ngFor="let city of storeMultiSelect.city_name; index as i;">
                        <span class="selected-span">{{city.length > 10 ? city.slice(0,10)+ '...': city}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'city')"></i></span></span>
                        </ng-container>
                        <span class="dropdown-search">
                       <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="city" placeholder="Select City" (click)="getOnchangeEvent('city')">
                          <app-multi-select *ngIf="cityDiv" 
                                [mainDataArray]="cityArray"
                                [storedValue]="storeMultiSelect.city_value"
                                [storedName]="storeMultiSelect.city_name"  
                                [field_name] ="'city'"
                                (sendDataEvent)="getChange($event)" 
                                (checkOutsideEvent)="checkmultiselect($event)" 
                                (multidataSelect)="multiselectAll($event)">
                              </app-multi-select>
                      </span>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="row">                      
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                       <div class="multiselectdropdownOuter">
                          <div class="input-field">
                             <span class="icon industryIcon"></span>
                             <div class="input_text">
                              <ng-container *ngFor="let industry of storeMultiSelect.industries_name; index as i;">
                                <span class="selected-span">{{industry.length > 10 ? industry.slice(0,10)+ '...': industry}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'industry')"></i></span></span>
                              </ng-container>
                                <span class="dropdown-search">
                                 <input type="text" class="degree multiselect-text-input"  autocomplete="off" name="industries" placeholder="Select Industry" (click)="getOnchangeEvent('industries')">
                                 <app-multi-select *ngIf="industriesDiv" 
                                 [maxLength]="5"
                                 [mainDataArray]="industries"
                                 [storedValue]="storeMultiSelect.industries_value"
                                 [storedName]="storeMultiSelect.industries_name"  
                                 [field_name] ="'industries'"
                                 (sendDataEvent)="getChange($event)" 
                                 (checkOutsideEvent)="checkmultiselect($event)" 
                                 (multidataSelect)="multiselectAll($event)">                                 
                                 </app-multi-select>
                               </span>
                             </div>
                          </div>
                       </div>
                    </div>
                  </div>                     
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <div class="multiselectdropdownOuter">
                          <div class="input-field">
                            <span class="icon industryIcon"></span>
                              <div class="input_text">
                                <ng-container *ngFor="let department of storeMultiSelect.department_name; index as i;">
                                  <span class="selected-span">{{department.length > 10 ? department.slice(0,10)+ '...': department}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'department')"></i></span></span>
                                </ng-container>
                                <span class="dropdown-search">  
                                  <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="departments" placeholder="Current Department / Functional area" (click)="getOnchangeEvent('department')" size="100">
                                    <app-multi-select *ngIf="departmentDiv" 
                                                   [maxLength]="5"
                                                   [mainDataArray]="departmentData" 
                                                   [storedValue]="storeMultiSelect.department_value"
                                                   [storedName]="storeMultiSelect.department_name" 
                                                   [field_name] ="'departments'"
                                                   (sendDataEvent)="getChange($event)" 
                                                   (checkOutsideEvent)="checkmultiselect($event)" 
                                                   (multidataSelect)="multiselectAll($event)">                                 
                                    </app-multi-select>
                                  </span>
                                </div>  
                          </div>
                        </div>
                      <!-- <span class="icon employeeIcon"></span>
                      <select formControlName="department_id">
                        <option value="" selected>Select Department</option>
                        <option value="{{department._id}}" *ngFor="let department of departments">{{department.name}}</option>
                       
                      </select> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="part-sec">
                <h3>Work Experience</h3>
                <div class="row">                      
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon experienceIcon"></span>
                      <select formControlName="min_experiance">
                        <option value="" selected >Minimum Experience</option>
                        <option value="{{expr._id}}" *ngFor="let expr of experiance">{{expr.name}} Years</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon experienceIcon"></span>
                      <select formControlName="max_experiance">
                        <option value="" selected >Maximum Experience</option>
                        <option value="{{expr._id}}" *ngFor="let expr of experiance">{{expr.name}} Years</option>
                      </select>
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="part-sec">
                  <h3>Expected Salary</h3>
                  <div class="row"> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="radioOuterSec">
                         <label>
                           <input name="salary_type" formControlName="salary_type" type="radio" value="hourly" />
                           <span>Hourly</span>
                         </label>
                         <label>
                           <input name="salary_type" formControlName="salary_type" type="radio" value="weekly"/>
                           <span>Weekly</span>
                         </label>
                         <label>
                           <input name="salary_type" formControlName="salary_type" type="radio" value="monthly"/>
                           <span>Monthly</span>
                         </label>
                      </div>
                    </div> 
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon payDtlAmtIcon"></span>
                        <select formControlName="currency">
                          <option value="" selected>Select Currency</option>
                          <option value="{{currency.value[0]._id}}" *ngFor="let currency of all_currency | keyvalue">{{currency.key}} ({{currency.value[0].currency_code}})</option>
                        </select>
                      </div>
                    </div>                    
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon salaryIcon"></span>
                        <input id="min_monthly_salary" type="number" class="validate" formControlName="min_monthly_salary" min="1">
                        <label for="min_monthly_salary">Min Salary</label>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="input-field">
                        <span class="icon salaryIcon"></span>
                        <input id="max_monthly_salary" type="number" class="validate" formControlName="max_monthly_salary" min="1">
                        <label for="max_monthly_salary">Max Salary</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="submitOuter">
                  <button (click)="searchJobs()" data-dismiss="modal" type="submit">Search</button>
                </div>
            
          </div>   
          </form>    
        </div>
      <!-- </div> -->
       <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
