<div class="wrapper">
   <header class="site-header">
      <div class="container">
         <div class="headerhold">
            <a class="logo" href="#" title="bsbSTAFFING.COM">
            <img src="assets/images/home-images/logo.png" alt="bsbSTAFFING.COM"/>
            </a>
            <a class="jobseekerlogin" href="javascript:void(0)" id="job_seeker_CALL" (click)="openModal=true;showRegistration=true">FREE Job seeker Login</a>
         </div>
      </div>
   </header>
   <div class="banner animation-element">
      <div class="container">
         <div class="bannerhold">
            <div class="bannerleft">
               <div class="job">
                  <span class="line1">
                  Millions of 
                  </span>
                  <span class="line2">
                  <img src="assets/images/home-images/jobs.png" alt=""/>
                  </span>
                  <span class="line3">are</span>
                  <span class="line4">Waiting for you</span>
               </div>
               <p>Welcome to the global community <br> for your Local and international career.</p>
               <div class="anywhere">
                  <span class="line5">Get the Right Jobs,</span>
                  <span class="line6">Anywhere</span>
                  <span class="line7">in the</span>
                  <span class="line8">World</span>
               </div>
               <a class="jobseekerlogin" href="javascript:void(0)" (click)="openModal=true;showLogin=true">FREE Job seeker Login</a>
            </div>
            <div class="flagslider">
               <h3>find jobs by country</h3>
               <ul id="slider" class="flaglist">
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/ind.png" alt="flag"/>
                     </span>
                     <span class="countno">00000</span>  
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/afg.png" alt="flag"/>
                     </span>
                     <span class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/arg.png" alt="flag"/>
                     </span>
                     <span class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/brazil.png" alt="flag"/>
                     </span>
                     <span  class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/aus.png" alt="flag"/>
                     </span>
                     <span class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/bang.png" alt="flag"/>
                     </span>
                     <span class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/belgium.png" alt="flag"/>
                     </span>
                     <span  class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/canada.png" alt="flag"/>
                     </span>
                     <span class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/china.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/colombia.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/congo.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/denmark.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/egypt.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/ethiop.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/france.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/gcc.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/ger.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/indo.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/iran.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/iraq.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/ire.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/isreal.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/itl.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/japan.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/jordan.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/kenya.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/lebanon.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/malaysia.png" alt="11"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/maldives.png" alt="11"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/max.png" alt="11"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/mororcco.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/myanmar.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/nigeria.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/norway.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/nz.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/phillip.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/poland.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/portugal.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/russia.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/sau.png" alt="11"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/singapore.png" alt="11"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/skorea.png" alt="11"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/sri.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/sweden.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/thailand.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/turkey.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/uganda.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
                  <li>
                     <span class="flag">
                     <img src="assets/images/home-images/flag/uk.png" alt="flag"/>
                     </span>
                     <span id="demo" class="countno">00000</span> 
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="sbi-wrapp animation-element">
      <div class="content" (click)="handleFlag()">
         <h2 class="sbi-heading">Find Jobs anywhere in the world as per industry</h2>
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi1.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi2.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi3.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi4.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi5.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi6.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi7.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi8.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi9.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi10.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi11.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi12.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi13.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi14.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi15.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi16.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi17.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi18.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi19.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi20.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi21.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi22.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi23.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi24.jpg" alt="Some image" />
         <img class="content__img" src="assets/images/home-images/sbiwrap/sbi25.jpg" alt="Some image" />
         <svg viewBox="0 0 1260 500">
            <text x="50%" y="45%" fill="transparent" text-anchor="middle">Jobs by</text>
            <text x="50%" y="75%" fill="transparent" text-anchor="middle">industry</text>
         </svg>
      </div>
   </div>
   <div class="jobs_mile_sec animation-element">
      <div class="container-fluid">
         <div class="number_sec" id="firstNumber">
            <div class="number_holder">
               <span class="number one"> 
               <span class="flag">
               <img src="assets/images/home-images/flag/afg.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/arg.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/aus.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/bang.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/belgium.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/brazil.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/canada.png" alt=""/>
               </span>
               </span>
               <span class="number one"> 
               <span class="flag">
               <img src="assets/images/home-images/flag/afg.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/arg.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/aus.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/bang.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/belgium.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/brazil.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/canada.png" alt=""/>
               </span>
               </span>
               <span class="number two"> 
               <span class="flag">
               <img src="assets/images/home-images/flag/china.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/colombia.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/congo.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/denmark.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/egypt.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/ethiop.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/france.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/gcc.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/ger.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/ind.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/france.png" alt=""/>
               </span>
               </span>
               <span class="number three"> 
               <span class="flag">
               <img src="assets/images/home-images/flag/iran.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/iraq.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/ire.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/isreal.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/itl.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/france.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/jordan.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/kenya.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/lebanon.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/malaysia.png" alt=""/>
               </span>
               </span>
               <span class="number four"> 
               <span class="flag">
               <img src="assets/images/home-images/flag/maldives.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/max.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/mororcco.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/myanmar.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/nigeria.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/norway.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/nz.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/phillip.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/poland.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/portugal.png" alt=""/>
               </span>
               </span>
               <span class="number five"> 
               <span class="flag">
               <img src="assets/images/home-images/flag/france.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/sau.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/france.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/skorea.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/sri.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/sweden.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/thailand.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/turkey.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/uganda.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/uk.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/ukraine.png" alt=""/>
               </span>
               </span>
               <span class="number six"> 
               <span class="flag">
               <img src="assets/images/home-images/flag/usa.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/vietnam.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/afg.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/arg.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/aus.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/bang.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/belgium.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/brazil.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/canada.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/china.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/colombia.png" alt=""/>
               </span> 
               <span class="flag">
               <img src="assets/images/home-images/flag/brazil.png" alt=""/>
               </span>   
               </span>
               <span class="number seven"> 
               <span class="flag">
               <img src="assets/images/home-images/flag/congo.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/denmark.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/egypt.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/ethiop.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/france.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/gcc.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/ger.png" alt=""/>
               </span>
               </span>
               <span class="number eight"> 
               <span class="flag">
               <img src="assets/images/home-images/flag/ind.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/indo.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/iran.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/iraq.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/ire.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/isreal.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/itl.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/iraq.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/jordan.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/kenya.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/lebanon.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/malaysia.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/maldives.png" alt=""/>
               </span>
               </span>
               <span class="number plus"> 
               <span class="flag">
               <img src="assets/images/home-images/flag/afg.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/arg.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/aus.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/bang.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/belgium.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/brazil.png" alt=""/>
               </span>
               <span class="flag">
               <img src="assets/images/home-images/flag/canada.png" alt=""/>
               </span>
               </span>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="rangebar">
            <input type="range" name="" min="1" max="25000" [(ngModel)]='jobMileRange' id="myRange" class="rangeslider">
            <p class="miletext"><span  id="value"></span> Miles</p>
         </div>
         <h2 class="title"><span>Jobs nearby you by Miles</span></h2>
         <div class="jobsmile_main">
            <div class="jobsmile_left">
               <div class="tophd">
                  <h2 class="title">are you <span>recruiter?</span></h2>
               </div>
               <h4>5 Reasons Why You Should Register Your company NOW on
                  <a href="http://bsbstaffing.com/">bsbstaffing.com</a>
               </h4>
               <ul class="jobsmilelist">
                  <li>
                     <span class="no">1</span>
                     <span class="text">We have cv from across the globe and every day adding new cv <strong>more than 10,000</strong></span>
                  </li>
                  <li>
                     <span class="no">2</span>
                     <span class="text"><strong>Free Unlimited</strong> Job post</span>
                  </li>
                  <li>
                     <span class="no">3</span>
                     <span class="text">Each Job post you will get <strong>10 CV within a few Hours</strong></span>
                  </li>
                  <li>
                     <span class="no">4</span>
                     <span class="text">Your company logo visible to  <strong>acres global </strong></span>
                  </li>
                  <li>
                     <span class="no">5</span>
                     <span class="text">FREE <strong>Global CV Access</strong></span>
                  </li>
               </ul>
               
            </div>
            <div class="jobsmile_right">
               <div class="tophd formb">
                  <h2 class="title"><span>Recruiters said </span>about us </h2>
               </div>
               <div class="jobsmilerotateslider">
                  <div class="mileholder">
                     <div class="imgdiv">
                        <ul class="roundlist" data-rotate="0" style="width: 345px; height: 344px; left:-54px;">
                           <li class="abc active temp0"  data-id="recruiter1" style="left: 109px;"><span class="rotate-holder"></span><span class="background-holder"><span>Australia</span></span></li>
                           <li class="abc temp1" data-id="recruiter2" style="left: 109px;"><span class="rotate-holder"></span><span class="background-holder"><span>Europe</span></span></li>
                           <li class="abc temp2" data-id="recruiter3" style="left: 109px;"><span class="rotate-holder"></span><span class="background-holder"><span>South <br> America</span></span></li>
                           <li class="abc temp3" data-id="recruiter4" style="left: 109px;"><span class="rotate-holder"></span><span class="background-holder"><span>Asia</span></span></li>
                           <li class="abc temp4" data-id="recruiter5" style="left: 109px;"><span class="rotate-holder"></span><span class="background-holder"><span>Africa</span></span></li>
                           <li class="abc temp5" data-id="recruiter6" style="left: 109px;"><span class="rotate-holder"></span><span class="background-holder"><span>GCC</span></span></li>
                           <li class="abc temp6" data-id="recruiter7" style="left: 109px;"><span class="rotate-holder"></span><span class="background-holder"><span>North <br> America</span></span></li>
                        </ul>
                        <div class="imgholder">
                           <div class="recruiter recruiter1">
                              <span class="img"><img src="assets/images/home-images/testimonial/sarha.png"></span>
                           </div>
                           <div class="recruiter recruiter2">
                              <span class="img"><img src="assets/images/home-images/testimonial/ellie.png"></span>
                           </div>
                           <div class="recruiter recruiter3">
                              <span class="img"><img src="assets/images/home-images/testimonial/isabel.png"></span>
                           </div>
                           <div class="recruiter recruiter4">
                              <span class="img"><img src="assets/images/home-images/testimonial/sherry.png"></span>
                           </div>
                           <div class="recruiter recruiter5">
                              <span class="img"><img src="assets/images/home-images/testimonial/mabel.png"></span>
                           </div>
                           <div class="recruiter recruiter6">
                              <span class="img"><img src="assets/images/home-images/testimonial/anwar.png"></span>
                           </div>
                           <div class="recruiter recruiter7">
                              <span class="img"><img src="assets/images/home-images/testimonial/paul.png"></span>
                           </div>
                        </div>
                     </div>
                     <div class="miletestdiv">
                        <div class="tophd mb-hidden">
                           <h2 class="title"><span>Recruiters said </span>about us </h2>
                        </div>
                        <div class="recruiter_holder">
                           <div class="recruiter recruiter1">
                              <span class="name">Sarah Mckinlay</span>
                              <span class="desig">Australia</span>
                              <p>The reach of bsbstaffing.com is very wide and opens a new path for employee search. The ample resumes allowed me to find the most skilled candidates for administrative operations in the company.  </p>                             
                           </div>
                           <div class="recruiter recruiter2">
                               <span class="name">Ellie Robins</span>
                              <span class="desig">Germany</span>
                              <p>We started using bsbstaffing.com a few months ago. It is very user friendly in terms of searching for resumes and job postings. Our experience with this job portal has been incredible. We were able to close even a couple of senior-level positions through bsbstaffing.com, and that is appreciable.</p>                              
                           </div>
                           <div class="recruiter recruiter3">
                              <span class="name">Isabel Fernanda</span>
                              <span class="desig">Brazil </span>
                              <p>Having a job portal like bsbstaffing.com, it is quite easy for our HR manager to handle the recruiting process. It is a reliable, efficient method to source quality candidates. The number of applications seems to be pilling up each day, which makes our work exciting. </p>                            
                           </div>
                           <div class="recruiter recruiter4"> 
                              <span class="name">Sherry Zheng</span>
                              <span class="desig">China</span>
                              <p>When it comes to source the finest candidates to perform the tasks, bsbstaffing.com is our first preference. We found professionals worldwide, and the job portal has never disappointed our requirements. This global job portal helped us connect with the potential hires that fit in our required departments.  </p>     
                           </div>
                           <div class="recruiter recruiter5">
                             <span class="name">Mabel  Nwankwo</span>
                              <span class="desig">Nigeria</span>
                              <p>Bsbstaffing.com is having plenty of CVs, which is creating the recruitment process very sober. Our company is a developer company, which requires skilled coders. We are finding our best group of developers on bsbstaffing.com. The portal is friendly in terms of posting a new job with a good database to find candidates across the globe. </p>
                           </div>
                           <div class="recruiter recruiter6">
                              <span class="name">Sirwan Anwar</span>
                              <span class="desig">United Arab Emirates</span>
                              <p> We have used bsbstaffing.com for our management positions for the last six months. The quality of resumes and ease of sorting and filtering is deserving of consideration, and it has facilitated our recruitment process in hiring quality talents.</p>
                           </div>
                           <div class="recruiter recruiter7">
                              <span class="name">Paul Adamson</span>
                              <span class="desig">Canada</span>
                              <p>If you are someone who wishes to achieve your business goals by hiring expert resources, then bsbstaffing.com is an appropriate and compelling partner to start with! This global portal helped us remarkably to establish and plan according to the recruitment challenges—especially the Client Relations Personnel who have always facilitated and guided us through hard times.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               
            </div>
         </div>

         <!-- register your companny section -->

         <div class="jobsmile_left jobsmile_heading_text">
            <h3>WHY are you waiting?  
               <span>register your company now</span>
            </h3>
            <a class="jobseekerlogin recruiter1" href="/employer">FREE Recruiter Login</a>
         </div>

         <!-- end register your company -->
      </div>
   </div>
   <div class="jobseeker_mile_sec animation-element">
      <div class="container-fluid">
         <div class="number_sec" id="secondNumber">

               <div class="number_holder">
                  <span class="number one"> 
                     <span class="flag">
                        <img src="assets/images/home-images/man/man1.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man2.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man3.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man4.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man5.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man6.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man7.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man17.png" alt=""/>
                     </span>
                  </span>

                  <span class="number two"> 
                     <span class="flag">
                        <img src="assets/images/home-images/man/man8.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man9.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man10.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man11.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man12.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man13.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man14.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man15.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man16.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man17.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man18.png" alt=""/>
                     </span>
                  </span>

                  <span class="number three"> 
                     <span class="flag">
                        <img src="assets/images/home-images/man/man19.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man20.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man21.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man22.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man23.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man24.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man25.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man26.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man27.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man28.png" alt=""/>
                     </span>
                  </span>

                  <span class="number four"> 
                     <span class="flag">
                        <img src="assets/images/home-images/man/man29.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man30.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man31.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man32.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man33.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man34.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man35.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man36.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man37.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man38.png" alt=""/>
                     </span>
                  </span>

                  <span class="number five"> 
                     <span class="flag">
                        <img src="assets/images/home-images/man/man39.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man40.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man41.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man42.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man43.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man44.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man45.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man46.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man47.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man48.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man49.png" alt=""/>
                     </span>
                  </span>

                  <span class="number six"> 
                     <span class="flag">
                        <img src="assets/images/home-images/man/man50.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man1.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man2.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man3.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man4.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man5.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man6.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man7.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man8.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man9.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man10.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man17.png" alt=""/>
                     </span>     
                  </span>

                  <span class="number seven"> 
                     <span class="flag">
                        <img src="assets/images/home-images/man/man11.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man12.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man13.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man14.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man15.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man16.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man17.png" alt=""/>
                     </span>
                  </span>

                  <span class="number eight"> 
                     <span class="flag">
                        <img src="assets/images/home-images/man/man18.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man19.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man20.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man21.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man22.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man23.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man24.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man25.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man26.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man27.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man28.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man29.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man30.png" alt=""/>
                     </span>
                  </span>
                  <span class="number plus"> 
                     <span class="flag">
                        <img src="assets/images/home-images/man/man4.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man5.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man6.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man7.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man8.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man9.png" alt=""/>
                     </span>
                     <span class="flag">
                        <img src="assets/images/home-images/man/man10.png" alt=""/>
                     </span>
                  </span>
               </div>



         </div>
      </div>
      <div class="container">
         <div class="rangebar">
            <input type="range" name="" min="1" max="25000" [(ngModel)]='seekerMileRange' id="myRange1" class="rangeslider">
            <p class="miletext1"><span id="value1"></span> Miles</p>
         </div>
         <h2 class="title"><span>Jobseeeker nearby you by Miles</span></h2>
         <div class="jobseeker_main">
            <div class="jobseeker_left">
               <div class="tophd">
                  <h2 class="title">Are you running <span>College/ University/ Institution?</span></h2>
               </div>
               <div class="placement">
                  <span class="line9">
                  We are here for your 
                  </span>
                  <span class="line10">
                  <img src="assets/images/home-images/placement.png" alt="placement"/>
                  </span>
                  <span class="line11">student's</span>
               </div>
               <h3><span>FREE register</span> your institution with us </h3>
               <span>For your all student's placement </span>
               <span class="red">local and international with global companies</span>
               <a class="jobseekerlogin" href="javascript:void(0)" (click)="otherUserModalType='college';otherUserSignInOpen=true">FREE College/ University/ Institution Registration</a>
            </div>
            <div class="jobseeker_right slider_jobseeker_right">
               <div class="tophd">
                  <h2 class="title">College/ University/ Institution <span>said about us</span></h2>
               </div>
               <div class="jobseeker_testmonial">
                  <div class="slider slider-for">
                     <div>
                        <div class="jobseekertestdiv">
                           <div class="testpara">
                              <p>Our institute provides Insurance training courses to the students. It is a great opportunity for our students to register under bsbstaffing.com. This recruitment portal is giving them the best jobs all around the world, and we are happy to be a part of this portal.  </p>
                           </div>
                           <div class="testimg">
                              <img src="assets/images/home-images/testimonial/bently.jpg" alt="testimg1"/>
                           </div>
                        </div>
                     </div>
                     <div>
                        <div class="jobseekertestdiv">
                           <div class="testpara">
                              <p>It is a pleasure for our students to register under bsbstafing.com. Most of them got jobs around the globe through this portal. This job portal is certainly recommended to everyone.  </p>
                           </div>
                           <div class="testimg">
                              <img src="assets/images/home-images/testimonial/an.jpg" alt="testimg1"/>
                           </div>
                        </div>
                     </div>
                     <div>
                        <div class="jobseekertestdiv">
                           <div class="testpara">
                              <p>Our experience with bsbstaffing.com is incredible, where our students are getting calls from recruiters. The companies are hiring our students by offering them exciting packages. We are very thankful to bsbstaffing.com. </p>
                           </div>
                           <div class="testimg">
                              <img src="assets/images/home-images/testimonial/rodney.jpg" alt="testimg1"/>
                           </div>
                        </div>
                     </div>
                     <div>
                        <div class="jobseekertestdiv">
                           <div class="testpara">
                              <p>We are a management university where students complete their management courses. We suggested our students register on bsbstffing.com, which took a month to get exciting job offers. The job portal is promoting the students and making them visible in front of the recruiters. </p>
                           </div>
                           <div class="testimg">
                              <img src="assets/images/home-images/testimonial/samantha.jpg" alt="testimg1"/>
                           </div>
                        </div>
                     </div>
                     <div>
                        <div class="jobseekertestdiv">
                           <div class="testpara">
                              <p>Our association with bsbstaffing.com was fruitful for most of our students. They are now getting job opportunities after completing their medical practices. Several national and international hospitals hire them through this excellent recruitment portal.  </p>
                           </div>
                           <div class="testimg">
                              <img src="assets/images/home-images/testimonial/kidus.jpg" alt="testimg1"/>
                           </div>
                        </div>
                     </div>
                     <div>
                        <div class="jobseekertestdiv">
                           <div class="testpara">
                              <p>We have started using bsbstaffing.com to make our students register on this job portal. The students are reaching the paramount with their true potential. We want to express our gratitude to bsbstaffing.com for placing our students in various MNC organizations all over the world.   </p>
                           </div>
                           <div class="testimg">
                              <img src="assets/images/home-images/testimonial/naliza.jpg" alt="testimg1"/>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="slider slider-nav">
                     <div>
                        <img src="assets/images/home-images/testimonial/bently.jpg" />
                     </div>
                     <div>
                        <img src="assets/images/home-images/testimonial/an.jpg" />
                     </div>
                     <div>
                        <img src="assets/images/home-images/testimonial/rodney.jpg" />
                     </div>
                     <div>
                        <img src="assets/images/home-images/testimonial/samantha.jpg" />
                     </div>
                     <div>
                        <img src="assets/images/home-images/testimonial/kidus.jpg" />
                     </div>
                     <div>
                        <img src="assets/images/home-images/testimonial/naliza.jpg" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="unlimited_main">
      <div class="container-fluid">
         <div class="unlimited_hold">
            <div class="unlimited_img">
               <img src="assets/images/home-images/unlimitedimg.png" alt="unlimitedimg"/>
            </div>
            <div class="unlimited_right">
               <h2>Unlimited
                  <span>Free job post</span>
               </h2>
               <h3><span>why</span>are you waiting<span>?</span></h3>
               <a class="jobseekerlogin postjob" href="/employer">Post a Job Now Free</a>
            </div>
         </div>
      </div>
   </div>
   <div class="testimonial_sec">
      <div class="container">
         <div class="tophd">
            <h2 class="title">jobseeker told <span>about us</span></h2>
         </div>
         <div class="testimonial_holder slick slider slider-for1">
            <div>
               <div class="testdiv">
                  <span class="invert"><img src="assets/images/home-images/invert.png" alt=""/></span>
                  <p>It is so fascinating to come across bsbstaffing.com while I was in search of a new job. The portal helped me to source some of the MNCs to apply for. The global job portal aligned me to the employer in a communication company. Thanks to bsbstaffing.com for providing me with this opportunity. </p>
               </div>
            </div>
            <div>
               <div class="testdiv">
                  <span class="invert"><img src="assets/images/home-images/invert.png" alt=""/></span>
                  <p>I was searching for a job in a Digital marketing agency to pursue a career in marketing. I have completed my PGDM in marketing. I registered myself on bsbstaffing.com, and within a month, I got several jobs offers from different reputed organizations. My resume got shortlisted with multiple organizations and got a job with a good package. </p>
               </div>
            </div>
            <div>
               <div class="testdiv">
                  <span class="invert"><img src="assets/images/home-images/invert.png" alt=""/></span>
                  <p> Being an engineer in the Mechanical department, I was not satisfied with my profile, and I was in search of new jobs. One of my close friends, who recently got a job in an MNC, told me to register on bsbstaffing.com. I registered myself and uploaded my resume to the global job portal, and within a week, I got calls from the recruiters. </p>
               </div>
            </div>
            <div>
               <div class="testdiv">
                  <span class="invert"><img src="assets/images/home-images/invert.png" alt=""/></span>
                  <p>There is a plethora of job options on bsbstaffing.com from fresher to senior-level jobs. I got several job opportunities on this portal to pursue my career in an IT company. I got several emails through bsbstaffing.com, which let me join my current company, where I am pursuing my career and achieving every goal.</p>
               </div>
            </div>
            <div>
               <div class="testdiv">
                  <span class="invert"><img src="assets/images/home-images/invert.png" alt=""/></span>
                  <p>Over the years, I was working with several organizations. But I never got the pleasant career option until I checked in bsbstaffing.com. My experience with this fantastic job portal is worth writing about to express my appreciation, which enabled me to search for the best employment.  </p>
               </div>
            </div>
            <div>
               <div class="testdiv">
                  <span class="invert"><img src="assets/images/home-images/invert.png" alt=""/></span>
                  <p> The best part of bsbstaffing.com is they value the skills of candidates. The registration process is simple and friendly. Bsbstaffing.com provided ample job opportunities to pursue my career. This efficient job portal combines professionalism with skills that are crucial for every candidate.</p>
               </div>
            </div>
         </div>
         <div class="slider slider-nav1">
            <div>
               <div class="thumbail">
                  <span class="img">
                  <img src="assets/images/home-images/testimonial/raj.jpg" alt=""/>
                  </span>
                  <span class="name">Raj Sharma</span>
                  <span class="desig">India</span>
               </div>
            </div>
            <div>
               <div class="thumbail">
                  <span class="img">
                  <img src="assets/images/home-images/testimonial/fuji.jpg" alt=""/>
                  </span>
                  <span class="name">Fuzi Mfeka</span>
                  <span class="desig">South Africa</span>
               </div>
            </div>
            <div>
               <div class="thumbail">
                  <span class="img">
                  <img src="assets/images/home-images/testimonial/robert.jpg" alt=""/>
                  </span>
                  <span class="name">Robert Gruber</span>
                  <span class="desig">United States</span>
               </div>
            </div>
            <div>
               <div class="thumbail">
                  <span class="img">
                  <img src="assets/images/home-images/testimonial/lila.jpg" alt=""/>
                  </span>
                  <span class="name">Lila Martin</span>
                  <span class="desig">Australia</span>
               </div>
            </div>
            <div>
               <div class="thumbail">
                  <span class="img">
                  <img src="assets/images/home-images/testimonial/louis.jpg" alt=""/>
                  </span>
                  <span class="name">Louis Costa</span>
                  <span class="desig">United Kingdom</span>
               </div>
            </div>
            <div>
               <div class="thumbail">
                  <span class="img">
                  <img src="assets/images/home-images/testimonial/sayeda.jpg" alt=""/>
                  </span>
                  <span class="name">Syeda Mariyam Abid</span>
                  <span class="desig">United Arab Emirates</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="lastseven_main">
      <div class="container">
         <div class="last_seven_holder">
            <div class="last_seven_left">
               <img src="assets/images/home-images/cmp_img.png" alt="cmp_img"/>
            </div>
            <div class="last_seven_right">
               <h3>Last 7 days 2000 Jobseeker got placement,</h3>
               <h4>Local and international company.</h4>
               <p>Invite your colleagues, friends, classmates, and others also for  global Professional community</p>
               <a class="jobseekerlogin invite" href="javascript:void(0)" (click)="showInvite=true">Invite Now</a>
            </div>
         </div>
      </div>
   </div>
   <footer class="site-footer">
      <div class="footershare">
         <div class="container">
            <div class="tophd">
               <h2 class="title">share with <span>others</span></h2>
            </div>
         </div>
         <div style="display: block;" id="shareHide"></div>
         <ul class="social">
            <!-- <li><a class="button fb" href="javascript:void(0)" data-sharer="facebook" data-url="https://www.bsbstaffing.com/"><span class="ico"><i class="fa fa-facebook" aria-hidden="true"></i></span><span>Share me<span class="sc_name">facebook</span></span></a></li> -->
            <li><a class="button tweet" href="javascript:void(0)" data-sharer="twitter" data-url="https://www.bsbstaffing.com/"><span class="ico"><i class="fa fa-twitter" aria-hidden="true"></i></span><span>Twitter<span class="sc_name">twitter</span></span></a></li>
            <!--  <li><a class="button insta" href="javascript:void(0)" (click)="shareinstaUrl('de')"><span class="ico"><i class="fa fa-instagram" aria-hidden="true"></i></span><span>Share me<span class="sc_name">instragram</span></span></a></li> -->
            <li><a class="button in sharebtn" href="javascript:void(0)" data-sharer="linkedin" data-url="https://www.bsbstaffing.com/"><span class="ico"><i class="fa fa-linkedin" aria-hidden="true"></i></span><span>Linkedin<span class="sc_name">linkedin</span></span></a></li>
            <li><a class="button wapp" href="javascript:void(0)" data-sharer="whatsapp" data-title="Search for Job Vacancies across the World at bsbstaffing.com, Global Job Portal. Search and Discover Jobs across Top Companies. Apply Now!" data-url="https://www.bsbstaffing.com/"><span class="ico"><i class="fa fa-whatsapp" aria-hidden="true"></i></span><span>Whatsapp<span class="sc_name">whatsapp</span></span></a></li>
            <!-- <li><a class="button snap" href="javascript:void(0)" data-sharer="sharechat" data-url="https://www.bsbstaffing.com/"><span class="ico"><i class="fa fa-bell" aria-hidden="true"></i></span><span>Share me<span class="sc_name">sharechat</span></span></a></li> -->
            <li><a class="button tel" href="javascript:void(0)" data-sharer="telegram" data-url="https://www.bsbstaffing.com/"><span class="ico"><i class="fa fa-telegram" aria-hidden="true"></i></span><span>Telegram<span class="sc_name">Telegram</span></span></a></li>

            <li><a class="button skype" href="javascript:void(0)" data-sharer="skype" data-url="https://www.bsbstaffing.com/"><span class="ico bg-remove"><i class="fa fa-skype" aria-hidden="true"></i>
            </span><span>Skype<span class="sc_name">Skype</span></span></a></li>
            <li><a class="button viber" href="javascript:void(0)" data-sharer="viber" data-title="Checkout Sharer.js!" data-url="https://www.bsbstaffing.com/"><span class="ico bg-remove"><i class="fa fa-phone-square" aria-hidden="true"></i></span><span>Viber<span class="sc_name">Viber</span></span></a></li>
            <li><a class="button pinterest" href="javascript:void(0)" data-sharer="pinterest" data-url="https://www.bsbstaffing.com/"><span class="ico bg-remove"><i class="fa fa-pinterest" aria-hidden="true"></i></span><span>Pinterest<span class="sc_name">Pinterest</span></span></a></li>
            <li><a class="button weibo" href="javascript:void(0)" data-sharer="weibo" data-title="Checkout Sharer.js!" data-url="https://www.bsbstaffing.com/"><span class="ico bg-remove"><i class="fa fa-weibo" aria-hidden="true"></i></span><span>Weibo<span class="sc_name">Weibo</span></span></a></li>
            <li><a class="button line" href="javascript:void(0)" data-sharer="line" data-url="https://www.bsbstaffing.com/"><span class="ico bg-remove"><i class="fa fa-comment" aria-hidden="true"></i></span><span>Line Me<span class="sc_name">Line Me</span></span></a></li>
            <li><a class="button reddit" href="javascript:void(0)" data-sharer="reddit" data-url="https://www.bsbstaffing.com/"><span class="ico bg-remove"><i class="fa fa-reddit" aria-hidden="true"></i></span><span>Reddit<span class="sc_name">Reddit</span></span></a></li>
            <li><a class="button vk" href="javascript:void(0)" data-sharer="vk" data-title="Checkout Sharer.js!" data-url="https://www.bsbstaffing.com/"><span class="ico bg-remove"><i class="fa fa-vk" aria-hidden="true"></i></span><span>Vk<span class="sc_name">Vk</span></span></a></li>
            <li><a class="button renren" href="javascript:void(0)" data-sharer="renren" data-url="https://www.bsbstaffing.com/"><span class="ico bg-remove"><i class="fa fa-renren" aria-hidden="true"></i></span><span>Renren<span class="sc_name">Renren</span></span></a></li>
            <li><a class="button xing" href="javascript:void(0)" data-sharer="xing" data-title="Sharer.js is the ultimate sharer js lib" data-url="https://www.bsbstaffing.com/"><span class="ico bg-remove"><i class="fa fa-xing" aria-hidden="true"></i></span><span>Xing<span class="sc_name">Xing</span></span></a></li>
         </ul>
         <div class="footershareimg"> 
            <img src="assets/images/home-images/bsb_share_bg.jpg" alt="bsb_share_bg"/> 
            <img src="assets/images/home-images/bsb_share_bg.jpg" alt="bsb_share_bg"/> 
            <img src="assets/images/home-images/bsb_share_bg.jpg" alt="bsb_share_bg"/>  
         </div>
      </div>
      <div class="footertop">
         <div class="container">
            <a class="cmn_lgin_btn" href="javascript:void(0)" (click)="otherUserModalType='agency';otherUserSignInOpen=true;">Internal Login</a>
            <a class="cmn_lgin_btn" href="javascript:void(0)" (click)="otherUserModalType='franchise';otherUserSignInOpen=true;">Franchise Registration</a>
            <a class="cmn_lgin_btn" href="javascript:void(0)" (click)="otherUserModalType='trainer';otherUserSignInOpen=true;">Trainer Registration</a>
         </div>
      </div>
      <div class="footermiddle">
         <div class="container">
            <p>Please note when you use <a href="https://www.bsbstaffing.com" class="bsblink1">bsbstaffing.com</a> if you face any technical problem or any business quires, please email us on <a href="mailto:support@bsbstaffing.com" class="bsbmail1">support@bsbstaffing.com</a>
            </p>
         </div>
      </div>
      <div class="footerbottom">
         <div class="container">
            <div class="footerbottomhold">
               <ul class="ftr_btm_list">
                  <li><a href="javascript:void(0);" routerLink="legal/user-agreement" target="_blank">User Agreement </a></li>
                  <li><a href="javascript:void(0);" routerLink="legal/privacy-policy" target="_blank">Privacy Policy</a></li>
                  <li><a href="javascript:void(0);" routerLink="legal/terms-conditions" target="_blank">Terms Conditions</a></li>
                  <li><a href="javascript:void(0);" routerLink="legal/cookie-policy" target="_blank">Cookie Policy</a></li>
               </ul>
               <p>
                  &copy; 2020. All rights reserved. Developed by <a href="https://www.bsbstaffing.com" class="bsblink1">https://www.bsbstaffing.com</a>  
               </p>
            </div>
         </div>
      </div>
   </footer>
   <!-- SIGN IN MODAL -->
   <div class="cmnmodal" *ngIf="openModal" @slideInOut>
      <div class="modalholder" [ngClass]="!showRegistration ?'jobseekerstep1 login':'bsbstaff-mdl'">
         <div class="modalheader">
            <a class="cross" href="javascript:void(0)" (click)="handleCloseModal()"><i class="fa fa-times" aria-hidden="true"></i></a>
         </div>
         <ng-container *ngIf="showLogin">
            <app-login (loginEvent)="checkIsRegister($event)" [isApplied]="trigerData"></app-login>
         </ng-container>
         <ng-container *ngIf="showForgot">
            <app-forget-password (forgotEvent)="checkIsRegister($event)"></app-forget-password>
         </ng-container>
         <ng-container *ngIf="showRegistration">
            <app-registration (registerEvent)="checkIsRegister($event)" ></app-registration>
         </ng-container>
      </div>
   </div>
<ng-container *ngIf="screenWidth <= 1200">
   <div class="cmnmodal" *ngIf="otherUserSignUpOpen && otherUserModalType=='agency'" @slideIn>
      <app-agent-signup (closeEvent)="receivedOtherSignUpClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)"></app-agent-signup>
   </div>
   <div class="cmnmodal" *ngIf="otherUserSignUpOpen && otherUserModalType=='college'" @slideIn>
      <app-college-signup (closeEvent)="receivedOtherSignUpClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)"></app-college-signup>
   </div>
   <div class="cmnmodal" *ngIf="otherUserSignUpOpen && otherUserModalType=='franchise'" @slideIn>
      <app-franchise-signup (closeEvent)="receivedOtherSignUpClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)"></app-franchise-signup>
   </div>
   <div class="cmnmodal" *ngIf="otherUserSignUpOpen && otherUserModalType=='trainer'" @slideIn>
      <app-trainer-signup (closeEvent)="receivedOtherSignUpClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)"></app-trainer-signup>
   </div>
   <div class="cmnmodal" *ngIf="otherUserSignInOpen" @slideIn>
      <app-other-user-signin (closeEvent)="receivedOtherSignInClose($event)" (openRegisterEvent)="receivedOtherSignUpOPen($event)" (openForgotEvent)="receviedOpenForgotPassword($event)"  [userType]="otherUserModalType"></app-other-user-signin>
   </div>
   <div class="cmnmodal" *ngIf="otherUserForgot" @slideIn>
      <app-other-home-forgot-password (closeEvent)="recievedForgotClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)" [userType]="otherUserModalType"></app-other-home-forgot-password>
   </div>
   <div class="cmnmodal" *ngIf="showInvite" @slideIn>
      <div class="modalholder modalholder1">
         <div class="modalheader">
            <h1>Invite Now</h1>
            <a class="cross" href="javascript:void(0)" (click)="showInvite=false;resetForm()"><i class="fa fa-times" aria-hidden="true"></i></a>
         </div>
         <div class="modalbody">
            <form [formGroup]="announceForm">
               <div class="form-group">
                  <div class="input_text add mail-box" *ngIf="showSummary">
                     <span class="fixed-text_data">{{emailData.length ? showEmails :''}}</span>                           
                     <span class="selected-span">{{remainingCount - emailData.length}} remaining</span>
                     <span class="dropdown-search">  
                     <input type="text" class="multiselect-text-input" name="show_summary" minlength="10">
                     </span>
                  </div>
                  <tag-input [(ngModel)]='emailData' name="add_email" [ngModelOptions]="{standalone: true}"  secondaryPlaceholder="Add emails" (ngModelChange)="entervalue($event)" placeholder="+ email" addOnBlur="addOnBlur" class="email skillinsdustry" *ngIf="!showSummary">
                  </tag-input>
                  <span *ngIf="isSubmit && (emailData == undefined || emailData =='')"
                     class="form-error">Please enter emails </span>     
                  <span *ngIf='existEmailError' class="form-error">{{existEmailError}} </span>                         
               </div>
               <div class="form-group">
                  <select formControlName="subject_id" class="subject" (change)="handleSelectSubject($event)">
                     <option value="" selected="true">Please Select Subject</option>
                     <option *ngFor="let subject of announceMentTemplates" value={{subject._id}}>{{subject?.temp_name}}</option>
                  </select>
                  <span *ngIf="(isSubmit && announceForm.get('subject_id').errors) || ((announceForm.get('subject_id').touched || announceForm.get('subject_id').dirty)
                     && announceForm.get('subject_id').errors)">
                  <span *ngIf="announceForm.get('subject_id').errors.required "
                     class="form-error">Please select subject</span>
                  </span>
               </div>
               <div class="form-group paragroup" [innerHtml]="selectedSubject" *ngIf="selectedSubject">
         </div>
         <div class="form-group">
            <input type="text" name="" placeholder="Add Your Name" formControlName="signature" maxlength="30">
         <span *ngIf="(isSubmit && announceForm.get('signature').errors) || ((announceForm.get('signature').touched || announceForm.get('signature').dirty)
            && announceForm.get('signature').errors)">
         <span *ngIf="announceForm.get('signature').errors.required "
            class="form-error">Please enter signature</span>
         </span>
         </div>
         <div class="form-group">
         <button type="submit" (click)="submitAnnoucement()" [disabled]="showloader"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send <i class="fa fa-refresh fa-spin" style="font-size:24px" *ngIf="showloader"></i></button> 
         </div>
         </form>
      </div>
   </div>
</div>
</ng-container>


<ng-container *ngIf="screenWidth > 1200">
   <div class="cmnmodal" *ngIf="otherUserSignUpOpen && otherUserModalType=='agency'" @slideInOut>
      <app-agent-signup (closeEvent)="receivedOtherSignUpClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)"></app-agent-signup>
   </div>
   <div class="cmnmodal" *ngIf="otherUserSignUpOpen && otherUserModalType=='college'" @slideInOut>
      <app-college-signup (closeEvent)="receivedOtherSignUpClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)"></app-college-signup>
   </div>
   <div class="cmnmodal" *ngIf="otherUserSignUpOpen && otherUserModalType=='franchise'" @slideInOut>
      <app-franchise-signup (closeEvent)="receivedOtherSignUpClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)"></app-franchise-signup>
   </div>
   <div class="cmnmodal" *ngIf="otherUserSignUpOpen && otherUserModalType=='trainer'" @slideInOut>
      <app-trainer-signup (closeEvent)="receivedOtherSignUpClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)"></app-trainer-signup>
   </div>
   <div class="cmnmodal" *ngIf="otherUserSignInOpen" @slideInOut>
      <app-other-user-signin (closeEvent)="receivedOtherSignInClose($event)" (openRegisterEvent)="receivedOtherSignUpOPen($event)" (openForgotEvent)="receviedOpenForgotPassword($event)"  [userType]="otherUserModalType"></app-other-user-signin>
   </div>
   <div class="cmnmodal" *ngIf="otherUserForgot" @slideInOut>
      <app-other-home-forgot-password (closeEvent)="recievedForgotClose($event)" (openLoginEvent)="receivedOtherSignInOPen($event)" [userType]="otherUserModalType"></app-other-home-forgot-password>
   </div>
   <div class="cmnmodal" *ngIf="showInvite" @slideInOut>
      <div class="modalholder modalholder1">
         <div class="modalheader">
            <h1>Invite Now</h1>
            <a class="cross" href="javascript:void(0)" (click)="showInvite=false;resetForm()"><i class="fa fa-times" aria-hidden="true"></i></a>
         </div>
         <div class="modalbody">
            <form [formGroup]="announceForm">
               <div class="form-group">
                  <div class="input_text add mail-box" *ngIf="showSummary">
                     <span class="fixed-text_data">{{emailData.length ? showEmails :''}}</span>                           
                     <span class="selected-span">{{remainingCount - emailData.length}} remaining</span>
                     <span class="dropdown-search">  
                     <input type="text" class="multiselect-text-input" name="show_summary" minlength="10">
                     </span>
                  </div>
                  <tag-input [(ngModel)]='emailData' name="add_email" [ngModelOptions]="{standalone: true}"  secondaryPlaceholder="Add emails" (ngModelChange)="entervalue($event)" placeholder="+ email" addOnBlur="addOnBlur" class="email skillinsdustry" *ngIf="!showSummary">
                  </tag-input>
                  <span *ngIf="isSubmit && (emailData == undefined || emailData =='')"
                     class="form-error">Please enter emails </span>     
                  <span *ngIf='existEmailError' class="form-error">{{existEmailError}} </span>                         
               </div>
               <div class="form-group">
                  <select formControlName="subject_id" class="subject" (change)="handleSelectSubject($event)">
                     <option value="" selected="true">Please Select Subject</option>
                     <option *ngFor="let subject of announceMentTemplates" value={{subject._id}}>{{subject?.temp_name}}</option>
                  </select>
                  <span *ngIf="(isSubmit && announceForm.get('subject_id').errors) || ((announceForm.get('subject_id').touched || announceForm.get('subject_id').dirty)
                     && announceForm.get('subject_id').errors)">
                  <span *ngIf="announceForm.get('subject_id').errors.required "
                     class="form-error">Please select subject</span>
                  </span>
               </div>
               <div class="form-group paragroup" [innerHtml]="selectedSubject" *ngIf="selectedSubject">
         </div>
         <div class="form-group">
            <input type="text" name="" placeholder="Add Your Name" formControlName="signature" maxlength="30">
         <span *ngIf="(isSubmit && announceForm.get('signature').errors) || ((announceForm.get('signature').touched || announceForm.get('signature').dirty)
            && announceForm.get('signature').errors)">
         <span *ngIf="announceForm.get('signature').errors.required "
            class="form-error">Please enter signature</span>
         </span>
         </div>
         <div class="form-group">
         <button type="submit" (click)="submitAnnoucement()" [disabled]="showloader"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send <i class="fa fa-refresh fa-spin" style="font-size:24px" *ngIf="showloader"></i></button> 
         </div>
         </form>
      </div>
   </div>
</div>
</ng-container>