<!-- START REGISTRATION FORM -->
<section class="registrationForm employerInnerSection" *ngIf="isloading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <ul class="searchList">
                    <li><a href="javascript:void(0)" class="blutBtn" (click)="searchShow()">Modify Search</a></li>
                    <li><a href="javascript:void(0)" class="blutBtn" (click)="saveSearch()">Save Search</a></li>
                    <li><a href="javascript:void(0)" class="blutBtn" [routerLink]="['/employer/'+ previousSearchUrl]">New Search</a></li>
                </ul>
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="filterSectionSec">
                            <h3>'{{total_cv_count}}' Candidate's' available</h3>
                            <div class="filterLeftOuter">
                                <h4><img src="assets/images/filterIcon1.png"> Filter</h4>
                                <!-- <div class="filterSearch">
                        <input type="text" name="">
                        <button type="button"><img src="assets/images/search.png" alt=""></button>
                      </div> -->
                            </div>
                            <div class="filterContent extracuntry_filter_count">
                                <div class="mobilefilterTobar">
                                    <h4>Filter</h4>
                                </div>
                                <div class="filterAccordion" id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5>
                                                <button class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Country</button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body-auto">

                                                <input type="text" [(ngModel)]="countrySerach" name="" class="mssearch" placeholder="Search here" *ngIf="countries && countries.length >0">
                                                <ng-container *ngFor="let country of countries | searchCategory:countrySerach">
                                                    <div class="checkboxWrap" *ngIf="country.job_count >0">
                                                        <label>
                                 <!--  <input type="checkbox" [(ngModel)]="countryModel[country._id]" value="{{country._id}}" [disabled]="cv_search.country_id && cv_search.country_id.length && countryModel[country._id]" (ngModelChange)="setsearchValue($event, 'country')"> -->
                                 <input type="checkbox" [(ngModel)]="countryModel[country._id]" value="{{country._id}}" (ngModelChange)="setsearchValue($event, 'country')">
                                  <span>{{country.name}} ({{country.job_count}})</span>
                                  </label>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5>
                                                <button class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">City</button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body-auto">
                                                <!--  <div [ngClass]="(cv_search.city_id && cv_search.city_id.length ?'card-body-auto':'card-body')"> -->
                                                <div class="checkboxWrap">
                                                    <!-- <label>
                                    <input type="checkbox" name="" (change)="toggleAllSelect($event,'city')">
                                    <span>All</span>
                                  </label> -->
                                                </div>
                                                <input type="text" [(ngModel)]="citySearch" name="" class="mssearch" placeholder="Search here" *ngIf="cities && cities.length >0">
                                                <ng-container *ngFor="let city of cities | searchCategory:citySearch">
                                                    <div class="checkboxWrap" *ngIf="city.job_count >0">
                                                        <label>
                                    <input type="checkbox" [(ngModel)]="cityModel[city._id]" value="{{city._id}}" (ngModelChange)="setsearchValue($event, 'city')">
                                    <span>{{city.name}} ({{city.job_count}})</span>
                                    </label>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5>
                                                <button class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Industry</button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body-auto">
                                                <!-- <div [ngClass]="(cv_search.industry_id && cv_search.industry_id.length ?'card-body-auto':'card-body')"> -->
                                                <!-- <div class="checkboxWrap">
                                  <label>
                                    <input type="checkbox" name="" (change)="toggleAllSelect($event,'industry')">
                                    <span>All</span>
                                  </label>
                                </div> -->
                                                <input type="text" [(ngModel)]="industrySearch" name="" class="mssearch" placeholder="Search here" *ngIf="industries && industries.length >0">
                                                <ng-container *ngFor="let industry of industries | searchCategory:industrySearch">
                                                    <div class="checkboxWrap" *ngIf="industry.job_count >0">
                                                        <label>
                                    <input type="checkbox" name="" [(ngModel)]="industryModel[industry.id]" value="{{industry.id}}" (ngModelChange)="setsearchValue($event, 'industry')">
                                    <span>{{industry.name}} ({{industry.job_count}})</span>
                                  </label>
                                                    </div>
                                                </ng-container>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="card">
                            <div class="card-header" id="headingFive">
                              <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Current Department / Functional area</button>
                              </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                              <div class="card-body-auto">
                                <input type="text" [(ngModel)]="departmentSearch" name="" class="mssearch" placeholder="Search here" *ngIf="departments && departments.length >0">
                                <ng-container *ngFor="let department of departments | searchCategory:departmentSearch">
                                <div class="checkboxWrap" *ngIf="department.job_count >0">
                                  <label>
                                    <input type="checkbox" name="" [(ngModel)]="departmentModel[department._id]" (ngModelChange)="setsearchValue($event, 'department')" value="{{department._id}}">
                                    <span>{{department.name}}({{department.job_count}})</span>
                                  </label>
                                </div>
                                </ng-container>
                              </div>
                            </div>
                          </div> -->
                                    <!-- <div class="card">
                            <div class="card-header" id="headingFour">
                              <h5>
                                <button class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Degree</button>
                              </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                              <div class="card-body-auto">
                                <input type="text" [(ngModel)]="degreeSearch" name="" class="mssearch" placeholder="Search here" *ngIf="degrees && degrees.length >0">
                                <ng-container *ngFor="let degree of degrees | searchCategory:degreeSearch">
                                <div class="checkboxWrap">
                                  <label>
                                    <input type="checkbox" name="" [(ngModel)]="degreeModel[degree._id]" (ngModelChange)="setsearchValue($event, 'degree')" value="{{degree._id}}">
                                    <span>{{degree.name}}</span>
                                  </label>
                                </div>
                               </ng-container>
                              </div>
                            </div>
                          </div> -->
                                    <div class="card">
                                        <div class="card-header" id="headingSix">
                                            <h5>
                                                <button class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Other Filter</button>
                                            </h5>
                                        </div>
                                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                            <div class="card-body" style="height: auto;">
                                                <!-- <div class="checkboxWrap">
                                  <label>
                                    <input type="checkbox" name="" >
                                    <span>Hide Private Profiles </span>
                                  </label>
                                </div> -->
                                                <!-- <div class="checkboxWrap">
                                                    <label>
                                    <input type="checkbox" [(ngModel)]="otherFilterModel['email_verified_only']" (ngModelChange)="setsearchValue($event, 'other_filter')" value="email_verified_only">
                                    <span>Email Verified Only </span>
                                  </label>
                                                </div> -->
                                                <div class="checkboxWrap">
                                                    <label>
                                    <input type="checkbox" [(ngModel)]="otherFilterModel['women_candidate_only']" (ngModelChange)="setsearchValue($event, 'other_filter')" value="women_candidate_only">
                                    <span>Women Candidates Only </span>
                                  </label>
                                                </div>
                                                <!-- <div class="checkboxWrap">
                                  <label>
                                    <input type="checkbox" [(ngModel)]="otherFilterModel['hide_profile_wout_resume']" (ngModelChange)="setsearchValue($event, 'other_filter')" value="hide_profile_wout_resume">
                                    <span>Hide Profiles without Resume </span>
                                  </label>
                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filterDropdown">
                                    <h5>Experience</h5>
                                    <div class="input-field">
                                        <select [(ngModel)]="searchForm.experince.min_exp" (ngModelChange)="setsearchValue($event, 'experiance')">
                            <option value="">Min exp</option>
                            <option value="{{experiance.value}}" *ngFor="let experiance of experiances">{{experiance.name}} Yrs</option>
                         </select>
                                    </div>
                                    <h6>To</h6>
                                    <div class="input-field">
                                        <select [(ngModel)]="searchForm.experince.max_exp" (ngModelChange)="setsearchValue($event, 'experiance')">
                            <option value="">Max exp</option>
                            <option value="{{experiance.value}}" *ngFor="let experiance of experiances">{{experiance.name}} Yrs</option>
                         </select>
                                    </div>
                                </div>
                                <div class="filterDropdown">
                                    <h5>Salary</h5>
                                    <div class="input-field input-fieldSec">
                                        <select [(ngModel)]="searchForm.salary.currency" (ngModelChange)="setsearchValue($event, 'salary')">
                              <option value="">Select Currency</option>
                              <ng-container *ngFor="let currency of all_currency | keyvalue">
                                <option value="{{currency.value[0]._id}}">{{currency.key}} ({{currency.value[0].currency_code}})</option>
                              </ng-container>
                            </select>
                                    </div>
                                    <div class="inputOuter">
                                        <div class="input-field">
                                            <input type="text" name="" [(ngModel)]="searchForm.salary.min_salary" (ngModelChange)="setsearchValue($event, 'salary')" placeholder="Min salary">
                                        </div>
                                        <h6>To</h6>
                                        <div class="input-field">
                                            <input type="text" name="" [(ngModel)]="searchForm.salary.max_salary" (ngModelChange)="setsearchValue($event, 'salary')" placeholder="Max salary">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="moreOptionOuter moreDownloadOuter">
                            <ul>
                                <li>
                                    <label>
                          <input type="checkbox" class="filled-in" [(ngModel)]="selectedAll" (change)="selectAll();"/>
                          <span>Select All</span>
                        </label>
                                </li>
                                <li><a href="javascript:void(0)" (click)="sendMail();">Send Mail</a></li>
                                <li><a href="javascript:void(0)" (click)="saveToFolder();">Save to Folder</a></li>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#saveFolderModal" id="save_folder_model" style="display: none;"></a>
                                <!-- <li><a href="javascript:void(0)" data-toggle="modal" data-target="#saveFolderModal">Save to Folder</a></li> -->
                                <!--  <li><a href="javascript:void(0)" (click)="downloadExcel()">Download Excel</a></li>
                      <li><a href="javascript:void(0)" (click)="downloadResume();">Download Resume</a></li> -->
                            </ul>
                        </div>
                        <div class="sortbyOuter">
                            <div class="row">
                                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label>Active In</label>
                                        <select [(ngModel)]="searchForm.candidate_active" (ngModelChange)="setsearchValue($event, 'candidate_active')">
                           <option value="">Candidates active in</option>
                                <option value="">- Any -</option>
                                <option value="{{getAddDates(3)}}">3 Days</option>
                                <option value="{{getAddDates(7)}}">7 Days</option>
                                <option value="{{getAddDates(15)}}">15 Days</option>
                                <option value="{{getAddDates(30)}}">1 Month</option>
                                <option value="{{getAddDates(60)}}">2 Months</option>
                                <option value="{{getAddDates(90)}}">3 Months</option>
                                <option value="{{getAddDates(180)}}">6 Months</option>
                                <option value="{{getAddDates(270)}}">9 Months</option>
                                <option value="{{getAddDates(360)}}">12 Months</option>
                          </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Show</label>
                                        <select [(ngModel)]="searchForm.show_profile" (ngModelChange)="setsearchValue($event, 'show_profile')">
                            <option value="">All Profiles</option>
                            <option value="new_profile">New Profiles</option>
                          </select>
                                    </div>
                                    <!-- <div class="form-group">
                          <label>Sort By</label>
                          <select>
                            <option>Relevance</option>
                            <option>Freshness</option>
                          </select>
                        </div> -->
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                                    <p>
                                        <span>{{pageData.current_page}} of {{getPageCount(total_cv_count, pageData.limit)}}</span>
                                        <a href="javascript:void(0)" (click)="setPage(pageData.current_page -1)" [ngClass]="{'disabled':pageData.current_page==1}"><img src="assets/images/leftArrow3.png"></a>
                                        <a href="javascript:void(0)" (click)="setPage(pageData.current_page +1)" [ngClass]="{'disabled':pageData.current_page == getPageCount(total_cv_count, pageData.limit)}"><img src="assets/images/rightArrow6.png"></a>
                                    </p>
                                    <div class="form-groupSec">
                                        <label>Go to</label>
                                        <input type="text" name="" (keyup)="setPage($event.target.value)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="searchcvResult.length > 0">
                            <ng-container *ngFor="let cvDetails of searchcvResult; index as i">
                                <div class="cvsearchList">
                                    <label>
                        <input type="checkbox" class="filled-in resumechecked" value="{{cvDetails._id}}" [(ngModel)]="cvDetails.selected" (change)="checkIfAllSelected();" data-url="https://assets.bsbstaffing.com/upload_files/employee-resumes/1605674836_sample.pdf"/>
                        <span>                           
                        </span>
                       
                      </label>
                       <div class="show_login_stat">
                            <a href="javascript:void(0)" title="Not logged in">
                            <i class="fa fa-circle" style="font-size:18px;color:red" *ngIf="getLoginStatus(cvDetails) ==3"></i></a>
                            <a href="javascript:void(0)" title="Ideal">
                            <i class="fa fa-circle" style="font-size:18px;color:yellow" *ngIf="getLoginStatus(cvDetails) ==2"></i></a>
                            <a href="javascript:void(0)" title="Active">
                            <i class="fa fa-circle" style="font-size:18px;color:green" *ngIf="getLoginStatus(cvDetails) ==1"></i></a>
                        </div>
                                    <!-- <span class="premiumHightlight">Premium</span> -->
                                    <div class="cvseachInner">
                                        <div class="cvseachClear">
                                            <div class="cvsearchLeft">
                                                <span><img src="{{cvDetails?.user_detail?.profile_picture_image ? cvDetails?.user_detail?.profile_picture_image : 'assets/images/profilePic.png'}}" alt="profilePic"></span>
                                            </div>
                                            <div class="cvsearchRight">
                                                <h3>
                                                    <a *ngIf="cvDetails.like_profile != 0" href="javascript:void(0)" (click)="disLikeProfile(cvDetails._id)" title="You can star the candidates you like and review them later."><i class="fa fa-star"></i>
                              </a>
                                                    <a *ngIf="cvDetails.like_profile == 0" href="javascript:void(0)" (click)="likeProfile(cvDetails._id)" title="You can star the candidates you like and review them later."><i class="fa fa-star-o"></i>
                              </a> {{cvDetails.user_detail.name}} <a href="javascript:void(0)" (click)="viewProfile(cvDetails._id);" class="profileView">View Profile</a></h3>
                                                <h5>{{cvDetails.user_detail.profile_title? cvDetails.user_detail.profile_title:""}}</h5>
                                                <ul class="verifiedList">
                                                    <li *ngIf="cvDetails.cv != ''"><span title="Resume Available"><img src="assets/images/resume.png"></span><img src="assets/images/checked.png"></li>
                                                    <li><span title="Social Profile Available"><img src="assets/images/social-profile.png"></span><img src="assets/images/checked.png"></li>
                                                    <li><span title="Mobile No Verified"><img src="assets/images/mobileIcon.png"></span><img src="assets/images/checked.png"></li>
                                                    <li><span title="Email Verified"><img src="assets/images/mail.png"></span><img src="assets/images/checked.png"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                <ul class="deatilscvListing">
                                                    <li><strong>Education:</strong> {{cvDetails.employee_degrees ?cvDetails.employee_degrees.toString():''}} </li>
                                                    <li><strong>Experience:</strong> <span *ngIf="cvDetails?.user_detail?.total_experience_yr" class="expSpan">{{cvDetails.user_detail && cvDetails.user_detail.total_experience_yr ? getExpYear(cvDetails.user_detail.total_experience_yr):''}} Yr.</span>                                                        <span *ngIf="cvDetails?.user_detail?.total_experience_mn" class="expSpan">{{cvDetails.user_detail && cvDetails.user_detail.total_experience_mn ? getExpMonth(cvDetails.user_detail.total_experience_mn):''}}</span>                                                        </li>
                                                    <li><strong>Skills:</strong> {{(cvDetails.skill).toString().length > 35 ?(cvDetails.skill).toString().slice(0,35) + '...': (cvDetails.skill).toString()}}</li>
                                                    <li><strong>Language:</strong> {{(cvDetails.employment_language).toString()}}</li>
                                                    <li><strong>Current Salary:</strong> {{cvDetails.user_detail.current_salary_currency? cvDetails.user_detail.current_salary_currency.currency:''}}. {{cvDetails.user_detail.current_salary}} {{cvDetails.user_detail.current_salary_type?
                                                        '/' + (cvDetails.user_detail.current_salary_type):''}}</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                <ul class="deatilscvListing">
                                                    <li><strong>Present Country:</strong> {{getCountriesList(cvDetails?.user_detail?.country_id) }}</li>
                                                    <li><strong>Present City:</strong> {{getCity(cvDetails?.user_detail?.city_id)}}</li>
                                                    <li><strong>Prefer Country:</strong> {{getCountriesList(cvDetails?.desired_job?.country_id) }}</li>
                                                    <li><strong>Prefer City:</strong> {{getCitiesList(cvDetails?.desired_job?.city_id)}}</li>

                                                </ul>
                                            </div>
                                        </div>
                                        <ul class="addLinkList">
                                            <li *ngIf="cvDetails.note == null"><a href="javascript:void(0)" data-toggle="modal" data-target="#noteModal" (click)='set_employee_id=cvDetails._id;'>Add Note </a></li>
                                            <li *ngIf="cvDetails.note != null"><a href="javascript:void(0)" data-toggle="modal" data-target="#noteModal" (click)='set_employee_id=cvDetails._id; setCvDetail(cvDetails._id)'>View Note</a></li>
                                            <li *ngIf="!showphonwArr[i]"><a href="javascript:void(0)" (click)="showMobile(cvDetails._id,i)">View Mobile No</a></li>
                                            <li *ngIf="showphonwArr[i]"><span>{{cvDetails.phone_no}}</span></li>
                                            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#historyModal" (click)='viewHistory(cvDetails._id)'>View History</a></li>
                                            <li><a href="javascript:void(0)" [routerLink]="['/employer/view/similar-profile', cvDetails._id]" target="_blank">View Similar Profiles</a></li>
                                            <!-- <li><a href="javascript:void(0)" data-toggle="modal" data-target="#reportCandidateModal" >Report Candidate</a></li> -->
                                            <li><a href="javascript:void(0)" (click)="reportCandidate(cvDetails._id)">Report Candidate</a></li>
                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#reportCandidateModal" id="report_candidate_model" style="display: none;"></a>
                                            <li><a href="javascript:void(0)" (click)="sendEmpMail(cvDetails)">Send Email</a></li>
                                        </ul>
                                    </div>
                                    <div class="cvsearchFoot">
                                        <ul>
                                            <li>Last Active: {{getDateFormat(cvDetails.last_login)}}</li>
                                            <!-- <li>Updated: {{getDateFormat(cvDetails.updated_at)}}</li> -->
                                        </ul>
                                    </div>
                                </div>
                            </ng-container>
                        </div> 
                        <div *ngIf="!is_loaded">Wait for search result.</div>
                        <div *ngIf="is_loaded && searchcvResult.length == 0">No result found</div>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#mailSericeActivatedModal" id="mail_serice_activated_modal" style="display: none;"></a>
                        <!-- <ul class="pagination">
                    <li class="current">1</li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                  </ul> -->
                        <!-- <div class="sortbyOuter">
                    <div class="row">
                      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                        <ul class="pagination">
                          <li class="current">1</li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                        </ul>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <p>
                          <span>1 of 100</span>
                          <a href="#"><img src="assets/images/leftArrow3.png"></a>
                          <a href="#"><img src="assets/images/rightArrow6.png"></a>
                        </p>
                        <div class="form-groupSec">
                          <label>Go to</label>
                          <input type="text" name="">
                        </div>
                      </div>
                    </div>
                  </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END REGISTRATION FORM -->

<!-- Note Modal -->
<div class="modal cmnsocialmodal generalModal" id="noteModal" *ngIf="isloading">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Note</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="set_employee_id=''">&times;</button>
        </div>
        <form [formGroup]="noteSaveForm">
            <div class="modal-body">
                <div class="form-group">
                    <textarea rows="3" placeholder="Note" formControlName="note">
                </textarea>
                </div>
            </div>
            <div class="bottompanel">
                <div>
                    <span *ngIf="(isSubmit && noteSaveForm.get('note').errors) || ((noteSaveForm.get('note').touched || noteSaveForm.get('note').dirty)
                            && noteSaveForm.get('note').errors)">
                <span *ngIf="noteSaveForm.get('note').errors.required "
                  class="form-error">Please enter note</span>
                    </span>
                </div>
                <div class="form-group">
                    <input type="submit" value="submit" data-dismiss="modal" (click)="submitNote()" />
                </div>
            </div>
        </form>
    </div>

</div>

<!-- CV History Modal -->
<div class="modal cmnsocialmodal generalModal" id="historyModal" *ngIf="isloading">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">View History</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="set_employee_id=''">&times;</button>
        </div>
        <div class="modal-body">
            <div>
                <ul class="recentactivity">
                    <ng-container *ngIf="employee_view_history.length">
                        <ng-container *ngFor="let history of employee_view_history">
                            <li class="activity">
                                {{history.remarks}} on {{history.created_at}}
                            </li>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!employee_view_history.length">
                        No History available for this candidate.
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
    <!-- </div> -->
</div>
<!-- Cv save Folder Modal  -->
<div class="modal generalModal" id="saveFolderModal" *ngIf="isloading">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Save To Folder</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form [formGroup]="saveToFolderForm">
            <div class="modal-body">
                <div class="radioOuter">
                    <label>
                 <input type="radio" formControlName="folder_save" value="existing_folder" (change)="folderOption($event)">
                 <span> Save to Existing Folder</span>
              </label>
                    <label>
                 <input type="radio" formControlName ="folder_save" value="create_new_folder" (change)="folderOption($event)">
                 <span>  Create new folder</span>
               </label>
                </div>
                <div class="input-field" *ngIf="createFolderDiv">
                    <input id="jobTyp" type="text" class="" formControlName="folder_name">
                    <label for="jobTyp">Type your folder name</label>
                    <span *ngIf="(isSubmit && saveToFolderForm.get('folder_name').errors) || ((saveToFolderForm.get('folder_name').touched || saveToFolderForm.get('folder_name').dirty)
                              && saveToFolderForm.get('folder_name').errors)">
                  <span *ngIf="saveToFolderForm.get('folder_name').errors.required "
                    class="form-error">Please enter folder name</span>
                    </span>
                </div>
                <div class="input-field" *ngIf="selectFolderDiv">
                    <select formControlName="folder_id">
                  <option value="">Please select folder</option>
                  <option *ngFor="let folder of employer_folders" value="{{folder._id}}">{{folder.folder_name}}</option>
                  
                </select>
                    <span *ngIf="(isSubmit && saveToFolderForm.get('folder_id').errors) || ((saveToFolderForm.get('folder_id').touched || saveToFolderForm.get('folder_id').dirty)
                              && saveToFolderForm.get('folder_id').errors)">
                  <span *ngIf="saveToFolderForm.get('folder_id').errors.required "
                    class="form-error">Please select folder name</span>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blueBtn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn blueBtn" (click)="cvSaveFolder()">Save</button>
                <a href="javascript:void(0)" id="close_folder_save_modal" data-dismiss="modal" aria-hidden="true" style="display: none;"></a>
            </div>
        </form>
    </div>
    <!-- </div> -->
</div>

<!-- Report candidate Modal  -->
<div class="modal generalModal" id="reportCandidateModal" *ngIf="isloading">
    <!-- <div class="modal-dialog"> -->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Report candidate</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form [formGroup]="reportCandidateForm">
            <div class="modal-body">
                <div class="radioOuter">
                    <label>
                 <input type="radio" formControlName="report_candidate_option" value="delete_everywhere" (change)="reportOption($event)">
                 <span> <strong>Delete Everywhere</strong> (This candidate will not be visible to you for the next 6 months.)</span>
              </label>
                    <label>
                 <input type="radio" formControlName ="report_candidate_option" value="report_abuse" (change)="reportOption($event)">
                 <span>  <strong>Report Abuse </strong>(Please let us know why you want to report this candidate.)</span>
               </label>
                </div>
                <div *ngIf="reportAbuseOptionDiv" class="reportabuOuter">
                    <div class="checkboxOuter">
                        <label>
                  <input class="filled-in" type="checkbox" formControlName="incorrect_email_id" value="incorrect_email_id">
                  <span>Incorrect Email Id</span>
                </label>
                    </div>
                    <div class="checkboxOuter">
                        <label>
                  <input class="filled-in" type="checkbox" formControlName="incorrect_mobile_no" value="incorrect_mobile_no">
                  <span>Incorrect Mobile Number</span>
                </label>
                    </div>
                    <div class="checkboxOuter">
                        <label>
                  <input class="filled-in" type="checkbox" formControlName="mobile_not_reachable" value="mobile_not_reachable">
                  <span>Mobile Not Reachable</span>
                </label>
                    </div>
                    <div class="checkboxOuter">
                        <label>
                  <input class="filled-in" type="checkbox" formControlName="incorrect_profile_or_resume" value="incorrect_profile_or_resume">
                  <span>Incorrect Profile / Resume</span>
                </label>
                    </div>
                    <div class="checkboxOuter">
                        <label>
                  <input class="filled-in" type="checkbox" formControlName="profile_not_updated" value="profile_not_updated">
                  <span>Profile Not Updated</span>
                </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blueBtn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn blueBtn" (click)="candidateReportSave()">Report</button>
                <a href="javascript:void(0)" id="close_reported_candidate_modal" data-dismiss="modal" aria-hidden="true" style="display: none;"></a>
            </div>
        </form>
    </div>
    <!-- </div> -->
</div>

<!-- EMAIL MODAL -->
<a style="display: none;" href="JavaScript:void(0);" id="mail_comp_open" data-toggle="modal" data-target="#mail_compose">compose</a>
<div class="modal profilepageModal mailmodal" tabindex="-1" role="dialog" id="mail_compose">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Email Compose</h5>
            <button type="button" class="close" id="mail_compose_close" data-dismiss="modal" aria-label="Close" (click)="modalClose()">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="registrationFormInner">
                <form [formGroup]="composeForm">
                    <div class="part-sec">
                        <div class="form-group">
                            <div class="chips-placeholder">
                                <ng-container *ngIf="recipientList">
                                    <input type="text" value="{{recipientList[0]['display']}}" readonly="true" placeholder="Recipients" />
                                </ng-container>
                                <!-- <div class="chips" *ngIf="!isCompanyEmail">
                                    <tag-input [(ngModel)]='recipientList' [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Add Recipients" placeholder=" Recipients" addOnBlur="addOnBlur">
                                        <tag-input-dropdown [autocompleteItems]="employeeData" [zIndex]="testindex">
                                        </tag-input-dropdown>
                                    </tag-input>
                                </div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="mailsubject" placeholder="Subject" />
                        </div>
                        <div class="form-group">
                            <div formControlName="mailbody" [ngxSummernote]="emailbodyEditor"></div>
                            <!-- <textarea formControlName="mailbody" placeholder="Write Here"></textarea> -->
                        </div>
                        <ng-container *ngIf="uploaded.attached_file.length">
                            <ng-container *ngFor="let file_data of uploaded.attached_file; index as i;">
                                <div class="attachbox">
                                    <span class="filename">{{file_data.name}}</span>
                                    <span class="cross" (click)="removeAttachedFile(i)"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </div>
                            </ng-container>
                        </ng-container>



                    </div>
                    <div class="submithold">
                        <input type="submit" (click)="mailStore()" class="blueBtn" value="SEND" />
                        <div class="attachfile">
                            <input type="file" name="" id="attach" (change)="uploadFile($event,'file')">
                            <label for="attach"><img src="assets/images/clipIcon.png"></label>
                        </div>
                    </div>
                    <!-- <div class="submitOuter">
                <button type="submit" (click)="mailStore()">save</button> 
              </div> -->
                </form>
            </div>
        </div>
    </div>
</div>

<!-- END -->

<!-- service activated alert  -->

<div class="modal generalModal" id="mailSericeActivatedModal" *ngIf="isloading">
    <!-- <div class="modal-dialog"> -->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Alert</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <p style="text-align:center;">Please Activate your Mail Service <a href="javascript:void(0)" [routerLink]="['/employer/service']" [queryParams]="{type:'mass_mail_service'}" data-dismiss="modal">Click Here</a></p>

        </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn blueBtn" data-dismiss="modal">Cancel</button>
          </div>  -->
    </div>
    <!-- </div> -->
</div>