<section class="registrationForm employerInnerSection other1InnerSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <ng-container *ngIf="!isEdit">
          <div class="registrationFormOuter">
            <h2 class="pageTitle">Profile Details</h2>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="profileInfoOuter">
                  <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-12 col-12">
                      <div class="profilePic">
                        <img [src]="(user && user.user_detail && user.user_detail.profile_image)?user.user_detail.profile_image_url: 'assets/images/profilePic.png'">
                        <div class="profilePicInner">
                          <input type="file" name="" id="dp" (change)="updateImage($event)">
                          <label for="dp"><img src="assets/images/changeIcon.png"> Update</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-10 col-md-8 col-sm-12 col-12">
                      <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                          <div class="profileInfoInner">
                            <h3> {{user.user_detail ? user.user_detail.name:''}}</h3>
                            <h5>{{user.user_detail ? user.user_detail.current_designation:''}}</h5>
                            <p><span>Family Name :</span> {{user.user_detail ? (user.user_detail.family_name !='null'?user.user_detail.family_name:''):''}}</p>
                            <p>{{user.user_detail ? user.user_detail.gender_text:''}}</p>
                          </div>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                          <div class="profileInfoInner">
                            <p><span>Date of Birth :</span> {{user.user_detail ? user.user_detail.date_of_birth:''}}</p>
                            <p>Qualification : {{trainerQualifications}}</p>
                            <p>Experience : {{user.user_detail ? user.user_detail.expreiance.name:''}}</p>
                            <p><span>City :</span> {{user.user_detail ? user.user_detail.city.name:''}}</p>
                            <p><span>Country :</span> {{user.user_detail ? user.user_detail.country.name:''}}</p>
                          </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                          <div class="profileEditOuter">
                            <a href="javascript:void(0)" (click)="isEdit=true;"><img src="assets/images/pencilIcon.png" alt="pencilIcon"> Edit </a>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <h5>Complete Address</h5>
                          <p>{{user.user_detail ? user.user_detail.address:''}}</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <h5>Few Words About Profile</h5>
                          <!-- <p>{{user.user_detail ? user.user_detail.about_profile:''}}</p> -->
                          <div class="editorview" innerHtml="{{user.user_detail ? user.user_detail.about_profile:''}}"></div>
                        </div>
                      </div>
                    </div>
                  </div>                                                                   
                  <div class="profileInfoInner" *ngIf="user?.user_detail?.cv_path_url">
                    <h5>Attach Resume </h5>
                    <div class="resumeholder">
                      <span class="img"><img src="assets/images/resume1.png" alt="resume"></span>
                      <ng-container *ngIf="user?.user_detail && user?.user_detail?.cv_path">
                        <a href="{{user?.user_detail?.cv_path_url}}" *ngIf="getFileExtention(user?.user_detail?.cv_path)=='pdf'" target="_blank">
                          <span class="text">{{ user.user_detail.cv_path}}</span> 
                        </a>
                        <a href="{{user?.user_detail?.cv_path_url}}" *ngIf="getFileExtention(user?.user_detail?.cv_path)!='pdf'">
                         <span class="text">{{ user?.user_detail?.cv_path}}</span> 
                        </a>
                      </ng-container>
                      <ng-container *ngIf="!user.user_detail.cv_path">                           
                        <span class="text">No CV Uploaded</span>
                      </ng-container>

                    </div>
                  </div> 
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12"> 
                      <div class="profileInfoInner">
                        <h5>Industry</h5>
                        <p> {{user.user_detail && user.user_detail.industry ? user.user_detail.industry.name:''}}</p>
                      </div> 
                      <div class="profileInfoInner">
                        <h5>Skills</h5>
                        <p>{{user.user_detail ? user.user_detail.skills:''}}</p>
                      </div>  
                      <div class="profileInfoInner">
                        <h5>Bank Details</h5>
                        <p>Account Holder Name: {{user.user_detail ? user.user_detail.name_account_holder:''}}</p>
                        <p>Bank Name: {{user.user_detail ? user.user_detail.bank_name:''}}</p>
                        <p>Account No: {{user.user_detail ? user.user_detail.account_no:''}}</p>
                        <p>Swift Code: {{user.user_detail ? user.user_detail.swift_code:''}}</p>
                        <p>IFSC Code: {{user.user_detail ? user.user_detail.ifsc_code:''}}</p>
                        <p>Address: {{user.user_detail ? user.user_detail.bank_portal_address:''}}</p>
                      </div> 
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="profileInfoInner">
                        <h5>Uploaded ID</h5>
                        <img [src]="user.user_detail ? user.user_detail.identity_proof_url:''" alt="id">
                        <!-- <div class="videoOuter">
                          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/eaFs16XI-2Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isEdit">
          <div class="registrationFormOuter">
            <h2 class="pageTitle">Edit Profile Details</h2>
            <form [formGroup]="profileForm">
              <div class="profileEditOuter">
                <a (click)="isEdit=false;" href="javascript:void(0)"><img src="assets/images/backIcon.png" alt="pencilIcon"> Back </a>
              </div>
              <div class="registrationFormInner">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon nameIocn"></span>
                      <input id="name" type="text" formControlName="name">
                      <label for="name" [ngClass]="{'active':profileForm.get('name').value}">Name</label>
                      <span *ngIf="validation_errors && validation_errors.name"
                        class="form-error">{{validation_errors.name[0]}}
                     </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon nameIocn"></span>
                      <input id="mid_name" type="text" class="validate" formControlName="mid_name">
                      <label for="mid_name" [ngClass]="{'active':profileForm.get('mid_name').value}">Mid Name</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon emailIcon"></span>
                      <input id="family_name" type="text" formControlName="family_name">
                      <label for="family_name" [ngClass]="{active:profileForm.get('family_name').value}">Family Name</label>
                      <span *ngIf="validation_errors && validation_errors.family_name"
                        class="form-error">{{validation_errors.family_name[0]}}
                     </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon emailIcon"></span>
                      <input id="email" type="text" readonly="true" formControlName="email">
                      <label for="email" [ngClass]="{'active':profileForm.get('email').value}">Email</label>
                      <span *ngIf="validation_errors && validation_errors.email"
                        class="form-error">{{validation_errors.email[0]}}
                     </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon phoneIcon"></span>
                      <input id="phone_no" type="text" class="validate" formControlName="phone_no">
                      <label for="phone_no" [ngClass]="{'active':profileForm.get('phone_no').value}">Phone</label>
                      <span *ngIf="validation_errors && validation_errors.phone_no"
                        class="form-error">{{validation_errors.phone_no[0]}}
                     </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                       <span class="icon skypeIcon"></span>
                      <input id="skypetr" type="text" formControlName="skype_id">
                      <label for="skypetr" [ngClass]="{'active':profileForm.get('skype_id').value}"> Skype</label>
                      <span *ngIf="validation_errors && validation_errors.skype_id"
                        class="form-error">{{validation_errors.skype_id[0]}}
                     </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                   <div class="col-lg-3 col-md-7 col-sm-12 col-12">
                    <div class="radioOuterSec">
                      <label>
                        <input name="gender" value="1" type="radio" formControlName="gender">
                        <span>Male</span>
                      </label>
                      <label>
                        <input name="gender" value="2" type="radio" formControlName="gender">
                        <span>Female</span>
                      </label>
                      <span *ngIf="validation_errors && validation_errors.gender"
                        class="form-error">{{validation_errors.gender[0]}}
                     </span>
                    </div>
                  </div>
                </div>
                <div class="checkboxOuter">
                  <label>
                    <input type="checkbox" class="filled-in" [(ngModel)]="password_checked !=password_checked" [ngModelOptions]="{standalone: true}">
                    <span>Do you want to change your password?</span>
                  </label>
                </div>
                <div class="row" *ngIf="password_checked">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon passwordIcon"></span>
                      <input id="pass" type="password" class="validate" formControlName="password">
                      <label for="pass">Password</label>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                   <div class="input-field">
                      <span class="icon passwordIcon"></span>
                      <input id="password_confirmation" type="password" class="validate" formControlName="password_confirmation">
                      <label for="password_confirmation">Confirm Password</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="registrationFormInner">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                   <div class="input-field">
                      <span class="icon payDtlDateIcon"></span>
                      <input id="agetr" type="text" dateInput format="d/m/Y" mode="single" formControlName="date_of_birth">
                      <label for="agetr" [ngClass]="{'active':profileForm.get('date_of_birth').value}"> Date of Birth</label>
                      <span *ngIf="validation_errors && validation_errors.date_of_birth"
                        class="form-error">{{validation_errors.date_of_birth[0]}}
                     </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <select formControlName="country_id">
                        <option value="" selected>Choose Country</option>
                        <option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
                      </select>
                      <span *ngIf="validation_errors && validation_errors.country_id"
                        class="form-error">{{validation_errors.country_id[0]}}
                     </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon locationIcon"></span>
                      <select formControlName="city_id">
                        <option value="" selected>Choose City</option>
                        <option value="{{city._id}}" *ngFor="let city of coutryWiseCity">{{city.name}}</option>
                      </select>
                      <span *ngIf="validation_errors && validation_errors.city_id"
                        class="form-error">{{validation_errors.city_id[0]}}
                     </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon employeeIcon"></span>
                      <input id="desig" type="text" class="validate" formControlName="current_designation">
                      <label for="desig" [ngClass]="{active:profileForm.get('current_designation').value}"> Designation</label>
                    </div>
                  </div>
                </div>
                  <div class="input-field">
                    <span class="icon addressIcon"></span>
                    <textarea rows="4" class="form-control" placeholder="Address" formControlName="address"></textarea>
                    <span *ngIf="validation_errors && validation_errors.address"
                          class="form-error">{{validation_errors.address[0]}}
                    </span>
                  </div>
                  <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon industryIcon"></span>
                      <select formControlName="industry_id">
                        <option value="" selected>Choose Industry</option>
                        <option value="{{industry._id}}" *ngFor="let industry of industries">{{industry.name}}</option>
                      </select>
                      <span *ngIf="validation_errors && validation_errors.industry_id"
                        class="form-error">{{validation_errors.industry_id[0]}}
                     </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                          <span class="icon experienceIcon"></span>

                          <div class="input_text">
                                <ng-container *ngFor="let educationValue of storeMultiSelect.education_name; index as i;">
                                <span class="selected-span" *ngIf="getSubData(educationValue,'education')== ''">{{educationValue.length > 10 ? educationValue.slice(0,10)+ '...': educationValue}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'education')"></i></span></span>

                                <span class="selected-span" (mouseenter)="show_sub_under[i]= true;" (mouseleave)="show_sub_under[i]= false;" *ngIf="getSubData(educationValue,'education')!= ''">{{educationValue}} <span class="sub_selection" *ngIf="!show_sub_under[i]">{{getSubData(educationValue,'education')}}</span><span class="cross_icon" *ngIf="show_sub_under[i]"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'education')"></i></span></span>
                                </ng-container>
                                  <span class="dropdown-search">  
                                    <input type="text" class="degree multiselect-text-input" name="education" autocomplete="off" placeholder="Choose Degree" (click)="getOnchangeEvent('education')">
                                    <app-multi-sub-select *ngIf="educationDiv" 
                                                   [mainDataArray]="degreeData"
                                                   [storedValue]="storeMultiSelect.education_value"
                                                   [storedName]="storeMultiSelect.education_name" 
                                                   [storedSubValue]="storeMultiSelect.education_sub_value"  
                                                   [field_name] ="'education'"
                                                   (sendDataEvent)="getChange($event)" 
                                                   (sendSubDataEvent)="getSubChange($event)"
                                                   (checkOutsideEvent)="checkmultiselect($event)" 
                                                   (multidataSelect)="multiselectAll($event)">                                 
                                    </app-multi-sub-select>
                                  </span>
                                </div> 
                         <!--  <select formControlName="highest_education">
                            <option value="">Education Qualification</option>
                            <option *ngFor="let degree of degress" value="{{degree._id}}">{{degree.name}}</option>
                          </select> -->
                          <span *ngIf="validation_errors && validation_errors.highest_education"
                            class="form-error">{{validation_errors.highest_education[0]}}
                         </span>
                          
                        </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon experienceIcon"></span>
                      <select formControlName="year_of_exp">
                        <option value="">Year of experience</option>
                        <option *ngFor="let ex_year of expYears" value="{{ex_year._id}}">{{ex_year.name}}</option>
                      </select>
                      <span *ngIf="validation_errors && validation_errors.year_of_exp"
                        class="form-error">{{validation_errors.year_of_exp[0]}}
                     </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                     <div class="input-field">
                      <div class="chips-placeholder">
                           <div class="chips">
                               <tag-input [(ngModel)]='skill_key'  [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Add skills" placeholder="+ skill" addOnBlur="addOnBlur">
                                  <tag-input-dropdown [autocompleteItems]="skill_data">
                                  </tag-input-dropdown>
                               </tag-input>
                           </div>
                     </div>
                      <span *ngIf="validation_errors && validation_errors.skills"
                        class="form-error">{{validation_errors.skills[0]}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">                       
                    <div class="input-field">
                      <span class="icon"></span>
                      <!-- <textarea rows="4" class="form-control" placeholder="Few Words About Your Profile" formControlName="about_profile"></textarea> -->
                      <div formControlName="about_profile" [ngxSummernote]="aboutconfig"></div>
                    </div>     
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon jobDesIcon"></span>
                      <input type="file" name="" id="cvtr" (change)="eventUpload($event, 'cv')">
                      <label for="cvtr">
                        <span class="placeholderTxt">{{profileForm.get('cv_path').value?(profileForm.get('cv_path').value.name? profileForm.get('cv_path').value.name: profileForm.get('cv_path').value):'Upload CV'}}</span>
                        <span class="browse">Browse</span>
                        <!-- <span class="uploadedfileName">img1.png</span> -->
                      </label>
                      <span *ngIf="validation_errors && validation_errors.cv_path"
                        class="form-error">{{validation_errors.cv_path[0]}}
                     </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon imageIcon"></span>
                      <input type="file" name="" id="phototr" (change)="eventUpload($event, 'id_card')">
                      <label for="phototr">
                        <span class="placeholderTxt">{{profileForm.get('identity_proof').value?(profileForm.get('identity_proof').value.name ?profileForm.get('identity_proof').value.name: profileForm.get('identity_proof').value):'Upload Id'}}</span>
                        <span class="browse">Browse</span>                             
                      </label>
                       <span *ngIf="validation_errors && validation_errors.identity_proof"
                        class="form-error">{{validation_errors.identity_proof[0]}}
                     </span>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="registrationFormInner">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="nameacc" type="text" formControlName="name_account_holder">
                      <label for="nameacc" [ngClass]="{'active':profileForm.get('name_account_holder').value}">  Name of Account Holder</label>
                      <span *ngIf="validation_errors && validation_errors.name_account_holder"
                        class="form-error">{{validation_errors.name_account_holder[0]}}
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="bankname" type="text" formControlName="bank_name">
                      <label for="bankname" [ngClass]="{'active':profileForm.get('bank_name').value}"> Bank Name</label>
                      <span *ngIf="validation_errors && validation_errors.bank_name"
                        class="form-error">{{validation_errors.bank_name[0]}}
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="noacc" type="text" formControlName="account_no">
                      <label for="noacc" [ngClass]="{'active':profileForm.get('account_no').value}"> Account Number </label>
                      <span *ngIf="validation_errors && validation_errors.account_no"
                        class="form-error">{{validation_errors.account_no[0]}}
                      </span>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="swiftcode" type="text" formControlName="swift_code">
                      <label for="swiftcode" [ngClass]="{'active':profileForm.get('swift_code').value}">  SWIFT CODE</label>
                      <span *ngIf="validation_errors && validation_errors.swift_code"
                        class="form-error">{{validation_errors.swift_code[0]}}
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="ifscCode" type="text" formControlName="ifsc_code">
                      <label for="ifscCode" [ngClass]="{'active':profileForm.get('ifsc_code').value}"> IFSC CODE </label>
                      <span *ngIf="validation_errors && validation_errors.ifsc_code"
                        class="form-error">{{validation_errors.ifsc_code[0]}}
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <span class="icon payDtlAmtIcon"></span>
                      <input id="bankadd" type="text" formControlName="bank_portal_address">
                      <label for="bankadd" [ngClass]="{'active':profileForm.get('bank_portal_address').value}"> Bank Postal address  </label>
                      <span *ngIf="validation_errors && validation_errors.bank_portal_address"
                        class="form-error">{{validation_errors.bank_portal_address[0]}}
                      </span>
                    </div>
                  </div>
                </div>
              <div class="submitOuter">
                  <button type="submit" (click)="updateProfile()">Save Changes</button>
                </div>
              </div>
            </form>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</section>