<!-- START REGISTRATION FORM -->
  <section class="registrationForm employerInnerSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <!-- <ul class="searchList">
            <li><a href="#" class="blutBtn">Recent Search</a></li>
            <li><a href="#" class="blutBtn">Save Search</a></li>
            <li><a href="#" class="blutBtn">New Search</a></li>
          </ul> -->
          <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-12">                  
              <div class="filterSectionSec">
                <h3>'{{total_cv_count}}' Candidate's' available</h3>
                <div class="filterLeftOuter">
                  <h4><img src="assets/images/filterIcon1.png"> More Filter</h4>
                  <!-- <div class="filterSearch">
                    <input type="text" name="">
                    <button type="button"><img src="images/search.png" alt=""></button>
                  </div> -->
                </div>
                <div class="filterAccordion" id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5>
                        <button class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Country</button>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <!-- <div class="checkboxWrap">
                          <label>
                            <input type="checkbox" name="" >
                            <span>All</span>
                          </label>
                        </div> -->
                        <ng-container *ngFor="let country of countries">
                          <div class="checkboxWrap">
                              <label>
                              <input type="checkbox" [(ngModel)]="countryModel[country.id]" value="{{country.id}}" (ngModelChange)="setsearchValue($event, 'country')">
                              <span>{{country.name}} (3,107)</span>
                              </label>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5>
                        <button class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">City</button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        <!-- <div class="checkboxWrap">
                          <label>
                            <input type="checkbox" name="" >
                            <span>All</span>
                          </label>
                        </div> -->
                        <ng-container *ngFor="let city of cities">
                          <div class="checkboxWrap">
                            <label>
                            <input type="checkbox" [(ngModel)]="cityModel[city.id]" value="{{city.id}}" (ngModelChange)="setsearchValue($event, 'city')">
                            <span>{{city.name}}</span>
                            </label>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5>
                        <button class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Industry</button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        <!-- <div class="checkboxWrap">
                          <label>
                            <input type="checkbox" name="" >
                            <span>All</span>
                          </label>
                        </div> -->
                        <ng-container *ngFor="let industry of industries">
                          <div class="checkboxWrap">
                            <label>
                              <input type="checkbox" name="" [(ngModel)]="industryModel[industry.id]" value="{{industry.id}}" (ngModelChange)="setsearchValue($event, 'industry')">
                              <span>{{industry.name}}</span>
                            </label>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5>
                        <button class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Current Department / Functional area</button>
                      </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                      <div class="card-body">
                        <div class="checkboxWrap">
                          <label>
                            <input type="checkbox" name="" >
                            <span>Finance / Accounts / Investment Banking</span>
                          </label>
                        </div>
                        <div class="checkboxWrap">
                          <label>
                            <input type="checkbox" name="" >
                            <span>Customer Service / Back Office Operations</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5>
                        <button class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Degree</button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                      <div class="card-body">
                        <div class="checkboxWrap">
                          <label>
                            <input type="checkbox" name="" >
                            <span>All</span>
                          </label>
                        </div>
                        <div class="checkboxWrap">
                          <label>
                            <input type="checkbox" name="" >
                            <span>B.A</span>
                          </label>
                        </div>
                        <div class="checkboxWrap">
                          <label>
                            <input type="checkbox" name="" >
                            <span>Diploma</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingSix">
                      <h5>
                        <button class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Other Filter</button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                      <div class="card-body">
                        <div class="checkboxWrap">
                          <label>
                            <input type="checkbox" name="" >
                            <span>Hide Private Profiles (18,556)</span>
                          </label>
                        </div>
                        <div class="checkboxWrap">
                          <label>
                            <input type="checkbox" name="" >
                            <span>Email Verified Only (3,490,614)</span>
                          </label>
                        </div>
                        <div class="checkboxWrap">
                          <label>
                            <input type="checkbox" name="" >
                            <span>Mobile Verified Only (1,722,034)</span>
                          </label>
                        </div>
                        <div class="checkboxWrap">
                          <label>
                            <input type="checkbox" name="" >
                            <span>Women Candidates Only (997,804)</span>
                          </label>
                        </div>
                        <div class="checkboxWrap">
                          <label>
                            <input type="checkbox" name="" >
                            <span>Hide Profiles without Resume (86,231)</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="filterDropdown">
                  <h5>Experience</h5>
                  <div class="input-field">
                    <select>
                      <option>0 yr</option>
                      <option>&lt; 1 yr</option>
                      <option>1 yr</option>
                      <option>2 yrs</option>
                    </select>
                  </div>
                  <h6>To</h6>
                  <div class="input-field">
                    <select>
                      <option>0 yr</option>
                      <option>&lt; 1 yr</option>
                      <option>1 yr</option>
                      <option>2 yrs</option>
                    </select>
                  </div>
                </div>
                <div class="filterDropdown">
                  <h5>Salary</h5>
                  <div class="input-field input-fieldSec">
                    <select>
                      <option>Select Currency</option>
                      <option>USD</option>
                      <option>Rupee</option>
                    </select>
                  </div>
                  <div class="inputOuter">
                    <div class="input-field">
                      <select>
                        <option>50,000/Yr</option>
                        <option>1,00,000/Yr</option>
                        <option>2,00,000/Yr</option>
                        <option>3,00,000/Yr</option>
                      </select>
                    </div>
                    <h6>To</h6>
                    <div class="input-field">
                      <select>
                        <option>50,000/Yr</option>
                        <option>1,00,000/Yr</option>
                        <option>2,00,000/Yr</option>
                        <option>3,00,000/Yr</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
             
              <!-- <div class="moreOptionOuter moreDownloadOuter">
                <ul>
                  <li>
                    <label>
                      <input type="checkbox" class="filled-in" />
                      <span></span>
                    </label>
                  </li>
                  <li><a href="#">Send Mail</a></li>
                  <li><a href="#">Save to Folder</a></li>
                  <li><a href="#">Download Excel</a></li>
                  <li><a href="#">Download Resume</a></li>
                </ul>
              </div> -->
              <!-- <div class="sortbyOuter">
                <div class="row">
                  <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                      <label>Active In</label>
                      <select>
                        <option>6 Months</option>
                        <option>4 Months</option>
                        <option>2 Months</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Show</label>
                      <select>
                        <option>All Profiles</option>
                        <option>New Profiles</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Sort By</label>
                      <select>
                        <option>Relevance</option>
                        <option>Freshness</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <p>
                      <span>1 of 100</span>
                      <a href="#"><img src="images/leftArrow3.png"></a>
                      <a href="#"><img src="images/rightArrow6.png"></a>
                    </p>
                    <div class="form-groupSec">
                      <label>Go to</label>
                      <input type="text" name="">
                    </div>
                  </div>
                </div>
              </div> -->
              <div *ngIf="total_cv_count > 0">
                <ng-container *ngFor="let cvDetails of searchcvResult; index as i">
                  <div class="cvsearchList">
                    
                    <div class="cvseachInner">
                      <div class="cvseachClear">
                       
                        <div class="cvsearchRight">
                          
                          <h5>Business Analyst at Aristocrat IT Solutions Chennai</h5>
                         
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <ul class="deatilscvListing">
                            <li><strong>Education:</strong> {{(cvDetails.employeeEducation).toString()}}</li>
                            <li><strong>Experience:</strong> {{cvDetails.user_detail.total_experience_data}} Years</li>
                            <li><strong>Skills:</strong> {{(cvDetails.skill).toString()}}</li>
                          </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                          <ul class="deatilscvListing">                            
                            <li><strong>Desired Location:</strong> {{cvDetails.desired_job ? cvDetails.desired_job.city_name : ''}}</li>
                            <li><strong>CTC:</strong> {{cvDetails.user_detail.current_salary_data}}</li>
                          </ul>
                        </div>
                      </div>
                    
                    </div>
                    <div class="cvsearchFoot">
                      <ul>
                        <li>Active: {{cvDetails.last_login}}</li>
                        <li>Updated: {{cvDetails.updated_at}}</li>
                      </ul>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div *ngIf="total_cv_count == 0">No result found</div>
              <!-- <ul class="pagination">
                <li class="current">1</li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
              </ul> -->
              <!--<div class="sortbyOuter">
                <div class="row">
                  <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <ul class="pagination">
                      <li class="current">1</li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <p>
                      <span>1 of 100</span>
                      <a href="#"><img src="assets/images/leftArrow3.png"></a>
                      <a href="#"><img src="assets/images/rightArrow6.png"></a>
                    </p>
                    <div class="form-groupSec">
                      <label>Go to</label>
                      <input type="text" name="">
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- END REGISTRATION FORM -->