<section class="registrationForm employerInnerSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="pageTitle">Job Alerts</h2>
            <!-- <div class="postedjobOuter">
               <ng-container *ngFor="let exactJob of exactJobs; index as i;">
               <div class="postedjobInner">
                  <h5><a href="javascript:void(0)"  [routerLink]="['/single-job-details', exactJob._id]"><img src="assets/images/globeIcon.png" alt="globeIcon"> {{exactJob.job_title}}</a></h5>
                  <div class="editorview" innerHtml="{{exactJob.about_this_job}}"></div>
                  
                  <ul>
                     <li><img src="assets/images/brifecaseIcon.png"> Experience  -  {{exactJob.min_experiance.name}}-{{exactJob.max_experiance.name}}</li>
                     <li><img src="assets/images/locationIcon.png"> Location  -  {{exactJob.city.name}}</li>
                  </ul>
                  <div class="row savejobOuter">
                     <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <h6 class="saveJobtile"><a href="javascript:void(0)" (click)="saveJob(exactJob._id,'exact_job',i)"><img src="assets/images/star.png"> Save this Job</a></h6>
                        <a href="javascript:void(0)" (click)="applyJob(exactJob._id,'exact_job',i)" class="blueBtn">Apply</a>
                     </div>
                     <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <h6 class="postDate">Posted {{exactJob.day_diff ==0 ? 'Today': exactJob.day_diff + ' days ago'}} </h6>
                     </div>
                  </div>
               </div>
               </ng-container>
               <div class="postedjobInner" *ngIf="!exactJobs.length">
                  <h5 style="text-align: center;">No Data Available</h5>
               </div>



               <ng-container *ngFor="let likeJob of likeJobs; index as i;">
               <div class="postedjobInner">
                  <h5><a href="employee-job-details.html"><img src="assets/images/globeIcon.png" alt="globeIcon"> {{likeJob.job_title}}</a></h5>
                  <p>{{likeJob.about_this_job}}</p>
                  <ul>
                     <li><img src="assets/images/brifecaseIcon.png"> Experience  -  {{likeJob.min_experiance.name}}-{{likeJob.max_experiance.name}}</li>
                     <li><img src="assets/images/locationIcon.png"> Location  -  {{likeJob.city.name}}</li>
                  </ul>
                  <div class="row savejobOuter">
                     <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <h6 class="saveJobtile"><a href="javascript:void(0)" (click)="saveJob(likeJob._id,'like_job',i)"><img src="assets/images/star.png"> Save this Job</a></h6>
                        <a href="javascript:void(0)" (click)="applyJob(likeJob._id,'like_job',i)" class="blueBtn">Apply</a>
                     </div>
                     <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <h6 class="postDate">Posted {{likeJob.day_diff ==0 ? 'Today': likeJob.day_diff + ' days ago'}} </h6>
                     </div>
                  </div>
               </div>
               </ng-container> 



            </div> -->

            <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-12 col-12 ng-star-inserted" *ngFor="let exactJob of exactJobs; index as i;">
                  <div  class="countryInner countryInnerSec">
                     <a href="javascript:void(0)"  [routerLink]="['/job-details','job-post',exactJob._id]" [queryParams]="{backUrl:'job-alerts'}">
                        <div  class="countryImg"></div>
                        <div  class="countryInnerInfo">
                           <img  alt="aloftLogo" src="{{exactJob?.employer_logo}}">
                           <ul  class="jobInfo">
                              <li><span><img  alt="employee" src="assets/images/employee1.png"></span><p>{{exactJob?.job_title.length > 35 ? exactJob?.job_title.slice(0,35) + '...': exactJob?.job_title}}</p></li>
                              <li><span><img  alt="money" src="assets/images/money1.png"></span><p>Min {{exactJob.min_monthly_salary}} - Max {{exactJob.max_monthly_salary}} {{exactJob?.currency_name?.currency_code}}/{{exactJob.salary_type}}</p></li>
                              <li><span><img  alt="money" src="assets/images//money1.png"></span><p>Years of Experience {{exactJob?.min_experiance?.name}} - {{exactJob?.max_experiance?.name}} Years</p></li>
                              <li><span><img  alt="factory" src="assets/images/factory1.png"></span><p>{{(exactJob.industry_name).toString()}}</p></li>
                              <li><span><img  alt="employee" src="assets/images/employee1.png"></span><p> {{exactJob.employement_for?exactJob.employement_for.name:''}}</p></li>
                              <li><span><img  alt="employee" src="assets/images/employee1.png"></span><p>{{exactJob.employment_type?exactJob.employment_type.name:''}}</p></li>
                              <li><span><img  alt="employee" src="assets/images/locationIcon1.png"></span><p>{{exactJob?.country_name}}, {{exactJob?.city_name}}</p></li>
                           </ul>
                        </div>
                     </a>
                     <div  class="countryInnerFoot">
                        <div class="countryInnerFootLeft job-alrt-footr-hlder">
                           <h6>Posted {{exactJob.day_diff ==0 ? 'Today': exactJob.day_diff + ' days ago'}}</h6>
                        </div>
                        <div  class="countryInnerFootRight job-alrt-btn-hldr">
                           <a class="apply" href="javascript:void(0)" (click)="saveJob(exactJob._id,'exact_job',i)">Save This Job</a> 
                           <a class="apply" href="javascript:void(0)" (click)="applyJob(exactJob._id,'exact_job',i)">Apply</a>
                        </div>
                     </div>
                  </div>
               </div>


            </div>
               <div class="postedjobInner" *ngIf="exactJobs.length == 0">
                  <h5 style="text-align: center;">No Data Available</h5>
               </div>



         </div>
      </div>
   </div>
</section>