<!-- START REGISTRATION FORM -->
<section class="registrationForm employerInnerSection bg1">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="registrationFormOuter">
               <div class="postedjobOuter">
                  <div class="headingOuter headingOuterThird">
                     <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <div class="hospitalityOuter">
                              <!-- <h4>Find World's Leading Jobs</h4> -->
                              <h1>Get the <span>Right Jobs Anywhere</span> in the W<span class="globehome"></span>rld</h1>
                              <div class="bannerForm">
                                 <div class="bannerInner">
                                    <div style="position: relative;">
                                       <input type="text" name="" [(ngModel)]="job_title_model" id="job_title_search" class="form-control auto_comp_search"  placeholder="Job Title, Keywords" (keyup)="searchAutoComplete('JB_TITLE_WISE',$event)" autocomplete="off">
                                       <div class="state-container-dropdown" *ngIf="show_jb_title_srh">
                                          <div class="state" *ngFor="let data of title_job_data" (click)="autoCompleteSearch(data.id, 'JB_TITLE_WISE')">
                                          <span>{{data.name}}</span>
                                       </div>
                                    </div>
                                    <span class="icon"><img src="assets/images/searchIcon.png" alt="searchIcon"></span>
                                 </div>
                              </div>
                              <div class="bannerInner">
                                 <div style="position: relative;">
                                    <input type="text" name="" [(ngModel)]="insudtry_model" id="industry_search" class="form-control auto_comp_search" placeholder="Industry" (keyup)="searchAutoComplete('INDUSTRY_WISE',$event)"  autocomplete="off">
                                    <div class="state-container-dropdown" *ngIf="show_industry_srh">
                                       <div class="state" *ngFor="let data of industrty_data"  (click)="autoCompleteSearch(data.id, 'INDUSTRY_WISE')">
                                       <span>{{data.name}}</span>
                                    </div>
                                 </div>
                                 <span class="icon"><img src="assets/images/factory.png" alt="locationIcon"></span>
                              </div>
                           </div>
                           <!-- <div class="bannerInner">
                              <div style="position: relative;">
                                 <input type="text" name="" [(ngModel)]="department_model" id="department_search" class="form-control auto_comp_search" placeholder="Department" value="" (keyup)="searchAutoComplete('DEPARTMENT_WISE',$event)"  autocomplete="off">
                                 <div class="state-container-dropdown" *ngIf="show_department_srh">
                                    <div class="state" *ngFor="let data of department_data"  (click)="autoCompleteSearch(data.id, 'DEPARTMENT_WISE')">
                                    <span>{{data.name}}</span>
                                 </div>
                              </div>
                              <span class="icon"><img src="assets/images/searchIcon.png" alt="searchIcon"></span>
                           </div>
                        </div> -->
                        <div class="bannerInner">
                           <div style="position: relative;">
                              <input type="text" name="" [(ngModel)]="country_loc_model" id="country_search" class="form-control auto_comp_search" placeholder="Country, City, Location" (keyup)="searchAutoComplete('COUNTRY_WISE',$event)" autocomplete="nope">
                              <div class="state-container-dropdown" *ngIf="show_city_comp_srh">
                                 <div class="state" *ngFor="let data of city_country_data" (click)="autoCompleteSearch(data.id, 'COUNTRY_WISE')">
                                 <span>{{data.name}}</span>
                              </div>
                           </div>
                           <span class="icon"><img src="assets/images/locationIcon.png" alt="locationIcon"></span>
                        </div>
                     </div>
                     <div class="bannerInner">
                        <input type="submit" name="" value="Search Jobs" (click)="searchFilter()">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
               <div class="moreOptionOuter">
                  <a href="#!" class="moreOptionBtn" data-toggle="modal" data-target="#advModal">Advance Search <img src="assets/images/downArrow2.png" alt="downArrow2"></a>
                  <a href="javascript:void(0);" (click)="showValueService =!showValueService" class="benefit">Get 100 USD Value Added Service<img src="assets/images/downArrow2.png" alt="downArrow2"></a>                  
               </div>
            </div>
         </div>
      </div>
      <div class="row benfitholder" *ngIf='showValueService'>
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="rbOuter">
               <span class="cross" (click)="showValueService=false">
               <i class="fa fa-times" aria-hidden="true"></i>
               </span>
               <div class="dashboardBlock rb">
                  <h4>Reference Benefits</h4>
                  <ol>
                     <ng-container *ngFor="let referral of referrals">
                        <li>
                           <span><span class="highlightRef">{{referral.title}}</span> {{referral.benefit}}</span>
                           <a href="javascript:void(0)" [routerLink]="['/referal-list']"  [queryParams]="{referal_id:referral._id}" class="redBtn">Apply</a>
                        </li>
                     </ng-container>
                  </ol>
               </div>
               <div class="dashboardBlock rb">
                  <h4>Announcement Benefits</h4>
                  <ol>
                     <ng-container *ngFor="let announcement of announcements">
                        <li>
                           <span><span class="highlightRef">{{announcement.title}}</span> {{announcement.benefit}} </span> 
                           <a href="javascript:void(0)" [routerLink]="['/announcement-list']" [queryParams]="{announce_id:announcement._id}" class="redBtn">Apply</a>
                        </li>
                     </ng-container>
                  </ol>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   </div>
   </div>
   </div>
</section>
<!-- START FIND JOB SECTION -->
<section class="findjobSection findjobSection1">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="headerClass"><a [routerLink]="['/job-home']" style="color: #1b2d8f;">Find Jobs by Country</a></h2>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
            <ul class="alphabet">
               <!-- <li *ngFor="let alphabet of alphabets;index as i;"><a href="javascript:void(0)" (click)="allCountryShow(alphabet)">{{alphabet}}</a></li> -->
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'A'}">A </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'B'}">B </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'C'}">C</a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'D'}">D </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'E'}">E </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'F'}">F </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'G'}">G </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'H'}">H </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'I'}">I </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'J'}">J </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'K'}">K </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'L'}">L </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'M'}">M </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'N'}">N </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'O'}">O </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'P'}">P </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'Q'}">Q </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'R'}">R </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'S'}">S </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'T'}">T </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'U'}">U </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'V'}">V </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'W'}">W </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'X'}">X </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'Y'}">Y </a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/job-home']" [queryParams]="{ alpha: 'Z'}">Z </a></li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- END FIND JOB SECTION -->
<section class="registrationForm employerInnerSection bgwhite">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="registrationFormOuter">
               <div class="postedjobOuter">
                  <div class="hospitalityOuter mileouter">
                     <h2 class="headerClass">Jobs Nearby You By Miles</h2>
                     <div class="slidecontainer milelist">
                        <div class="point firstpoint"> 
                           <span class="text">0 miles</span>
                        </div>
                        <span class="movetext" [style.left.px]='milesRange/22.5'>{{milesRange}} miles</span>
                        <input type="range" min="1" max="25000" class="slider-color" id="id1" [(ngModel)]='milesRange' (mouseup)="rangeCall()" (touchend)="rangeCall()">
                        <div class="point lastpoint"> 
                           <span class="text">25000 miles</span>
                        </div>
                     </div>
                     <div class="countryOuter animation-element" >
                        <div class="viewOuter topdiv" *ngIf='rangeJobs.length > 0'>
                           <a class="viewall" href="javascript:void(0)" (click)="rangeViewAll()">  View all</a>
                        </div>
                        <div class="row">
                           <ng-container *ngFor="let jobs of rangeJobs">
                              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                 <div class="countryInner countryInnerSec">
                                    <a href="javascript:void(0)" [routerLink]="['/job-details','range-job',jobs._id]" [queryParams]="{backUrl:'dashboard'}">
                                    <div class="countryImg">
                                    </div>
                                    <div class="countryInnerInfo">
                                       <img src="{{jobs?.employer_logo}}" alt="aloftLogo">
                                       <ul class="jobInfo">
                                          <li>
                                             <span><img src="assets/images/employee1.png" alt="employee"></span> 
                                             <p>{{jobs?.job_title.length > 35 ? jobs?.job_title.slice(0,35) + '...': jobs?.job_title}}</p>
                                          </li>
                                          <li>
                                             <span><img src="assets/images/money1.png" alt="money"></span> 
                                             <p>Min {{jobs.min_monthly_salary}} - Max {{jobs.max_monthly_salary}} {{jobs?.currency_name?.currency_code}}/{{jobs.salary_type}}</p>
                                          </li>
                                          <li>
                                             <span><img src="assets/images//money1.png" alt="money"></span> 
                                             <p>Years of Experience {{jobs?.min_experiance?.name}} - {{jobs?.max_experiance?.name}} Years</p>
                                          </li>
                                          <li>
                                             <span><img src="assets/images/factory1.png" alt="factory"></span> 
                                             <p>{{(jobs.industry_name).toString()}}</p>
                                          </li>
                                          <li>
                                             <span><img src="assets/images/employee1.png" alt="employee"></span> 
                                             <p> {{jobs.employement_for?jobs.employement_for.name:''}}</p>
                                          </li>
                                          <li>
                                             <span><img src="assets/images/employee1.png" alt="employee"></span> 
                                             <p>{{jobs.employment_type?jobs.employment_type.name:''}}</p>
                                          </li>
                                          <li>
                                             <span><img src="assets/images/locationIcon1.png" alt="employee"></span> 
                                             <p>{{jobs?.country_name}}, {{jobs?.city_name}}</p>
                                          </li>
                                       </ul>
                                    </div>
                                    </a>
                                    <div class="countryInnerFoot">
                                       <div class="countryInnerFootLeft">
                                          <h6>Posted {{jobs.day_diff ==0 ? 'Today': jobs.day_diff + ' days ago'}}</h6>
                                       </div>
                                       <div class="countryInnerFootRight">                  
                                          <a href="javascript:void(0)" (click)="applyJob(jobs._id,'range_job',i)" class="apply">Quick Apply</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </ng-container>
                           <!-- <ng-container>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-12">                
                                <div class="countryInner countryInnerSec">
                                  <a href="javascript:void(0)" >
                                    <div class="countryImg">
                                    </div>
                                    <div class="countryInnerInfo">
                                      <img src="https://assets.bsbstaffing.com/upload_files/employer/logo/Only Solution1598204465.png" alt="aloftLogo">
                                      <ul class="jobInfo"> 
                                        <li>
                                          <span><img src="assets/images/employee1.png" alt="employee"></span> 
                                          <p>HRrecruiters</p>
                                        </li>
                                        <li>
                                          <span><img src="assets/images/money1.png" alt="money"></span> 
                                          <p>Min 60000 - Max 100000 INR/monthly</p>
                                        </li>
                                        <li>
                                          <span><img src="assets/images//money1.png" alt="money"></span> 
                                          <p>Years of Experience 1 - 2 Years</p>
                                        </li>
                                        <li>
                                          <span><img src="assets/images/factory1.png" alt="factory"></span> 
                                          <p>IT Industries</p>
                                        </li>
                                        <li>
                                          <span><img src="assets/images/employee1.png" alt="employee"></span> 
                                          <p> Domestic/International Jobs</p>
                                        </li>
                                        <li>
                                          <span><img src="assets/images/employee1.png" alt="employee"></span> 
                                          <p>Full Time</p>
                                        </li>
                                        <li>
                                          <span><img src="assets/images/locationIcon1.png" alt="employee"></span> 
                                          <p>India</p>
                                        </li> 
                                        <li>
                                          <span><img src="assets/images/locationIcon1.png" alt="employee"></span> 
                                          <p>Chandigarh</p>
                                        </li>
                                      </ul>  
                                    </div>
                                  </a>
                                  <div class="countryInnerFoot">
                                      <div class="countryInnerFootLeft">  
                                        <h6>Posted 86 days ago</h6>
                                      </div>
                                      <div class="countryInnerFootRight">                  
                                        <a href="javascript:void(0)" class="apply">Quick Apply</a>
                                      </div>
                                  </div>
                                </div>
                              </div>
                              
                              
                              </ng-container> -->
                        </div>
                     </div>
                  </div>
                  <!-- <div class="dashboardBlock">
                     <div class="row">
                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                         <h4>Jobs for You</h4>
                       </div>
                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                         <div class="viewOuter">
                           <a href="javascript:void(0)" [routerLink]="['/recommend-alert']">View all</a>
                         </div>
                       </div>
                     </div>
                     <div class="recentJob">
                       <ng-container *ngFor="let recomend_job of allData.recomended_jobs_data">
                       <div class="recentJobInner">
                         <h6 class="postDate">Posted {{recomend_job.day_diff ==0 ? 'Today': recomend_job.day_diff + ' days ago'}}</h6>
                         <h4><a href="javascript:void(0)" [routerLink]="['/single-job-details',recomend_job._id]">{{recomend_job.job_title}}</a></h4>
                         <div class="editorview rcmdjob" innerHtml="{{(recomend_job.about_this_job.length>175)? (recomend_job.about_this_job | slice:0:175)+'...':(recomend_job.about_this_job)}}"></div> 
                         <ul>
                           <li><img src="assets/images/brifecaseIcon.png"> Experience  -  {{recomend_job?.min_experiance?.name}}-{{recomend_job?.max_experiance?.name + ' Years'}} </li><br/>
                           <li><img src="assets/images/locationIcon.png"> Location  -  {{recomend_job?.city?.name}}</li>
                         </ul>
                         <div class="savejobOuter">
                           <a href="javascript:void(0)" (click)="applyJob(exactJob._id,'similar_job',i)" class="blueBtn">Apply</a>
                         </div>
                       </div>
                       </ng-container>
                     
                     </div>
                     </div> -->
                  <div class="countryOuter animation-element" >
                     <h4>Jobs for You</h4>
                     <div class="viewOuter topdiv">
                        <a class="viewall" href="javascript:void(0)" [routerLink]="['/recommend-alert']">  View all</a>
                     </div>
                     <div class="row">
                        <ng-container *ngFor="let recomend_job of allData.recomended_jobs_data">
                           <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                              <div class="countryInner countryInnerSec">
                                 <!--  <a href="javascript:void(0)" [routerLink]="['/single-job-details',recomend_job._id]"> -->
                                 <a href="javascript:void(0)" [routerLink]="['/job-details','job-post',recomend_job._id]" [queryParams]="{backUrl:'dashboard'}">
                                 <div class="countryImg">
                                 </div>
                                 <div class="countryInnerInfo">
                                    <img src="{{recomend_job?.employer_logo}}" alt="aloftLogo">
                                    <ul class="jobInfo">
                                       <li>
                                          <span><img src="assets/images/employee1.png" alt="employee"></span> 
                                          <p>{{recomend_job?.job_title.length > 35 ? recomend_job?.job_title.slice(0,35) + '...': recomend_job?.job_title}}</p>
                                       </li>
                                       <li>
                                          <span><img src="assets/images/money1.png" alt="money"></span> 
                                          <p>Min {{recomend_job.min_monthly_salary}} - Max {{recomend_job.max_monthly_salary}} {{recomend_job?.currency_name?.currency_code}}/{{recomend_job.salary_type}}</p>
                                       </li>
                                       <li>
                                          <span><img src="assets/images//money1.png" alt="money"></span> 
                                          <p>Years of Experience {{recomend_job?.min_experiance?.name}} - {{recomend_job?.max_experiance?.name}} Years</p>
                                       </li>
                                       <li>
                                          <span><img src="assets/images/factory1.png" alt="factory"></span> 
                                          <p>{{(recomend_job.industry_name).toString()}}</p>
                                       </li>
                                       <li>
                                          <span><img src="assets/images/employee1.png" alt="employee"></span> 
                                          <p> {{recomend_job.employement_for?recomend_job.employement_for.name:''}}</p>
                                       </li>
                                       <li>
                                          <span><img src="assets/images/employee1.png" alt="employee"></span> 
                                          <p>{{recomend_job.employment_type?recomend_job.employment_type.name:''}}</p>
                                       </li>
                                       <li>
                                          <span><img src="assets/images/locationIcon1.png" alt="employee"></span> 
                                          <p>{{recomend_job?.country_name}}, {{recomend_job?.city_name}}</p>
                                       </li>
                                    </ul>
                                 </div>
                                 </a>
                                 <div class="countryInnerFoot">
                                    <div class="countryInnerFootLeft">
                                       <h6>Posted {{recomend_job.day_diff ==0 ? 'Today': recomend_job.day_diff + ' days ago'}}</h6>
                                    </div>
                                    <div class="countryInnerFootRight">                  
                                       <a href="javascript:void(0)" (click)="applyJob(recomend_job._id,'similar_job',i)" class="apply">Quick Apply</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </ng-container>
                     </div>
                  </div>
                  <div class="dashboardBlock">
                     <div class="countBlockOuter">
                        <a href="javascript:void(0)">
                           <div class="countBlockInner">
                              <h2>{{allData.unread_msg_count}}</h2>
                              <p>Unread Message</p>
                           </div>
                        </a>
                        <a [routerLink]="['/applied-jobs']">
                           <div class="countBlockInner">
                              <h2>{{allData.applied_jobs_count}}</h2>
                              <p>Applied Jobs</p>
                           </div>
                        </a>
                        <a href="javascript:void(0)" [routerLink]="['/job-alerts']">
                           <div class="countBlockInner">
                              <h2>{{allData.alert_jobs_count}}</h2>
                              <p>New Jobs</p>
                           </div>
                        </a>
                        <a [routerLink]="['/saved-jobs']">
                           <div class="countBlockInner">
                              <h2>{{allData.saved_jobs_count}}</h2>
                              <p>Saved Jobs</p>
                           </div>
                        </a>
                        <a href="javascript:void(0)" [routerLink]="['/profile-view']">
                           <div class="countBlockInner">
                              <h2>{{allData.profile_view_count}}</h2>
                              <p>Profile Viewed By Employer</p>
                           </div>
                        </a>
                        <a href="javascript:void(0)" [routerLink]="['/profile']">
                           <div class="countBlockInner">
                              <h2>{{100 - allData.count_profle_strength}} %</h2>
                              <p>Pending Action</p>
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="countryOuter animation-element" >
                     <h4>Job Alert</h4>
                     <div class="viewOuter topdiv">
                        <a class="viewall" href="javascript:void(0)" [routerLink]="['/job-alerts']">  View all</a>
                     </div>
                     <div class="row">
                        <ng-container *ngFor="let alert_job of allData.alert_jobs_data">
                           <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                              <div class="countryInner countryInnerSec">
                                 <a href="javascript:void(0)" [routerLink]="['/job-details','job-alert',alert_job._id]" [queryParams]="{backUrl:'dashboard'}">
                                 <div class="countryImg">
                                 </div>
                                 <div class="countryInnerInfo">
                                    <img src="{{alert_job?.employer_logo}}" alt="aloftLogo">
                                    <ul class="jobInfo">
                                       <li>
                                          <span><img src="assets/images/employee1.png" alt="employee"></span> 
                                          <p>{{alert_job?.job_title.length > 35 ? alert_job?.job_title.slice(0,35) + '...': alert_job?.job_title}}</p>
                                       </li>
                                       <li>
                                          <span><img src="assets/images/money1.png" alt="money"></span> 
                                          <p>Min {{alert_job.min_monthly_salary}} - Max {{alert_job.max_monthly_salary}} {{alert_job?.currency_name?.currency_code}}/{{alert_job.salary_type}}</p>
                                       </li>
                                       <li>
                                          <span><img src="assets/images//money1.png" alt="money"></span> 
                                          <p>Years of Experience {{alert_job?.min_experiance?.name}} - {{alert_job?.max_experiance?.name}} Years</p>
                                       </li>
                                       <li>
                                          <span><img src="assets/images/factory1.png" alt="factory"></span> 
                                          <p>{{(alert_job.industry_name).toString()}}</p>
                                       </li>
                                       <li>
                                          <span><img src="assets/images/employee1.png" alt="employee"></span> 
                                          <p> {{alert_job.employement_for?alert_job.employement_for.name:''}}</p>
                                       </li>
                                       <li>
                                          <span><img src="assets/images/employee1.png" alt="employee"></span> 
                                          <p>{{alert_job.employment_type?alert_job.employment_type.name:''}}</p>
                                       </li>
                                       <li>
                                          <span><img src="assets/images/locationIcon1.png" alt="employee"></span> 
                                          <p>{{alert_job?.country_name}}, {{alert_job?.city_name}}</p>
                                       </li>
                                    </ul>
                                 </div>
                                 </a>
                                 <div class="countryInnerFoot">
                                    <div class="countryInnerFootLeft">
                                       <h6>Posted {{alert_job.day_diff ==0 ? 'Today': alert_job.day_diff + ' days ago'}}</h6>
                                    </div>
                                    <div class="countryInnerFootRight">                  
                                       <a href="javascript:void(0)" (click)="applyJob(alert_job._id,'exact_job',i)" class="apply">Quick Apply</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </ng-container>
                     </div>
                     <div class="jobFooter jobfooter-rearnge">
                        <a href="javascript:void(0)" [routerLink]="['/my-jobalert']">Manage Alert</a>
                        <a  href="javascript:void(0)" [routerLink]="['/my-jobalert']">Create Alert</a>
                     </div>
                  </div>
                  <!-- <div class="dashboardBlock">
                     <div class="row">
                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                         <h4>Job Alert</h4>
                       </div>
                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                         <div class="viewOuter">
                           <a href="javascript:void(0)" [routerLink]="['/job-alerts']">View all</a>
                         </div>
                       </div>
                     </div>
                     
                     <div class="recentJob">
                       <ng-container *ngFor="let alert_job of allData.alert_jobs_data">
                       <div class="recentJobInner">
                         <h6 class="postDate">Posted {{alert_job.day_diff ==0 ? 'Today': alert_job.day_diff + ' days ago'}}</h6>
                         <h4><a href="#">{{alert_job.job_title}}</a></h4>
                         <div class="editorview" innerHtml="{{alert_job.about_this_job}}"></div>
                         <ul>
                           <li><img src="assets/images/brifecaseIcon.png"> Experience  -  {{alert_job.min_experiance.name}}-{{alert_job.max_experiance.name + ' Years'}}</li><br/>
                           <li><img src="assets/images/locationIcon.png"> Location  -  {{alert_job.city.name}}</li>
                         </ul>
                         <div class="savejobOuter">
                           <a href="javascript:void(0)" class="blueBtn"  (click)="applyJob(alert_job._id,'exact_job',i)">Apply</a>
                         </div>
                       </div>
                       </ng-container>
                     </div>
                     <div class="jobFooter">
                       <a href="javascript:void(0)" [routerLink]="['/my-jobalert']">Manage Alert</a>
                       <a  href="javascript:void(0)" [routerLink]="['/my-jobalert']">Create Alert</a>
                     </div>
                     </div> -->
                  <div class="dashboardBlock">
                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                           <h4>Jobs Application Status</h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                           <div class="viewOuter">
                              <a href="javascript:void(0)" [routerLink]="['/application-status']">View all</a>
                           </div>
                        </div>
                     </div>
                     <ng-container *ngFor="let applyJob of allData.applied_jobs">
                        <div class="jobapplicationOuter">
                           <div class="row">
                              <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                 <h4><a href="javascript:void(0)">{{applyJob?.job?.job_title}}</a></h4>
                                 <p>{{applyJob?.job?.employeer?.user_detail?.company_name }}</p>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                 <div class="savejobOuter">
                                    <span>{{applyJob?.applied_status?.phase_name }}</span>
                                 </div>
                                 <h6 class="postDate">Applied {{applyJob.day_diff ==0? 'Today': applyJob.day_diff +' days ago'}} </h6>
                              </div>
                           </div>
                        </div>
                     </ng-container>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- END REGISTRATION FORM -->
<div class="modal cmnsocialmodal" id="createAlert">
   <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title">My Alert</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
         <form [formGroup]="myAlertForm">
            <div class="toppanel">
               <div class="input-field">
                  <div class="chips-placeholder">
                     <div class="chips">
                        <tag-input [(ngModel)]='skill_key'  [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Keyword, skills etc." placeholder="Keyword, skills etc." addOnBlur="addOnBlur">
                        <tag-input-dropdown [autocompleteItems]="skillsData">
                        </tag-input-dropdown>
                        </tag-input>
                     </div>
                  </div>
                  <!--  <span class="icon jobIcon"></span>
                     <input type="text" name="" formControlName="keyword">
                      <label for="jobTitle">Key Skill</label> -->
               </div>
               <div class="input-field">
                  <span class="icon jobIcon"></span>
                  <input type="text" name="" formControlName="salary_type">
                  <label for="jobTitle">Salary Type</label>
               </div>
               <div class="input-field">
                  <select formControlName="currency">
                     <option>select currency</option>
                     <option>select currency</option>
                  </select>
               </div>
               <div class="input-field">
                  <span class="icon jobIcon"></span>
                  <input type="text" name="" formControlName="salary">
                  <label for="jobTitle">Salary</label>
               </div>
               <div class="input-field">
                  <div class="multiselectdropdownOuter">
                     <div class="input-field">
                        <span class="icon industryIcon"></span>
                        <input type="text" readonly="true" class="degree"  autocomplete="off" name="country" placeholder="Select Country" formControlName="countries" (click)="getOnchangeEvent('country')">
                        <app-multi-select *ngIf="countryDiv" 
                        [mainDataArray]="countryArray"
                        [storedValue]="storeMultiSelect.country_value"
                        [storedName]="storeMultiSelect.country_name"  
                        [field_name] ="'country'"
                        (sendDataEvent)="getChange($event)" 
                        (checkOutsideEvent)="checkmultiselect($event)" 
                        (multidataSelect)="multiselectAll($event)">                                 
                        </app-multi-select>
                     </div>
                  </div>
               </div>
               <div class="input-field">
                  <div class="multiselectdropdownOuter">
                     <div class="input-field">
                        <span class="icon industryIcon"></span>
                        <input type="text" readonly="true" class="degree"  autocomplete="off" name="city" placeholder="Select City" formControlName="cities" (click)="getOnchangeEvent('city')">
                        <app-multi-select *ngIf="cityDiv" 
                        [mainDataArray]="cityArray"
                        [storedValue]="storeMultiSelect.city_value"
                        [storedName]="storeMultiSelect.city_name"  
                        [field_name] ="'city'"
                        (sendDataEvent)="getChange($event)" 
                        (checkOutsideEvent)="checkmultiselect($event)" 
                        (multidataSelect)="multiselectAll($event)">                                 
                        </app-multi-select>
                     </div>
                  </div>
               </div>
               <!-- <div class="input-field">
                  <div class="multiselectdropdownOuter">
                     <div class="input-field">
                        <span class="icon industryIcon"></span>
                        <input type="text" readonly="true" class="degree"  autocomplete="off" name="department" placeholder="Select Department" formControlName="departments" (click)="getOnchangeEvent('department')">
                        <app-multi-select *ngIf="departmentDiv" 
                        [mainDataArray]="departments"
                        [storedValue]="storeMultiSelect.department_value"
                        [storedName]="storeMultiSelect.department_name"  
                        [field_name] ="'department'"
                        (sendDataEvent)="getChange($event)" 
                        (checkOutsideEvent)="checkmultiselect($event)" 
                        (multidataSelect)="multiselectAll($event)">                                 
                        </app-multi-select>
                     </div>
                  </div>
               </div> -->
               <div class="input-field">
                  <div class="multiselectdropdownOuter">
                     <div class="input-field">
                        <span class="icon industryIcon"></span>
                        <input type="text" readonly="true" class="degree"  autocomplete="off" name="industries" placeholder="Select Industry" formControlName="industries" (click)="getOnchangeEvent('industries')">
                        <app-multi-select *ngIf="industriesDiv" 
                        [mainDataArray]="industries"
                        [storedValue]="storeMultiSelect.industries_value"
                        [storedName]="storeMultiSelect.industries_name"  
                        [field_name] ="'industries'"
                        (sendDataEvent)="getChange($event)" 
                        (checkOutsideEvent)="checkmultiselect($event)" 
                        (multidataSelect)="multiselectAll($event)">                                 
                        </app-multi-select>
                     </div>
                  </div>
               </div>
               <div class="input-field">
                  <span class="icon jobIcon"></span>
                  <input type="text" name="" formControlName="email_id">
                  <label for="jobTitle">Email Id <span style="color: red">*</span></label>
               </div>
               <div class="input-field">
                  <span class="icon jobIcon"></span>
                  <input type="text" name="" formControlName="name_of_alert">
                  <label for="jobTitle">Alert Name <span style="color: red">*</span></label>
               </div>
            </div>
            <div class="bottompanel">
               <!-- <div>
                  <span *ngIf="(isSubmit && noteSaveForm.get('note').errors) || ((noteSaveForm.get('note').touched || noteSaveForm.get('note').dirty)
                              && noteSaveForm.get('note').errors)">
                  <span *ngIf="noteSaveForm.get('note').errors.required "
                    class="form-error">Please enter note</span>
                  </span>
                  </div> -->
               <div class="form-group">
                  <input type="submit" value="Create my job alert" data-dismiss="modal"/>
               </div>
            </div>
         </form>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
   </div>
</div>
<!-- MOdal -->
<div class="modal modal-fixed-footer" id="advModal">
   <div class="modal-content">
      <h2>Advance Search</h2>
      <form [formGroup]="advSearchForm">
         <div class="modal-body registrationFormInner">
            <div class="part-sec">
               <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                     <div class="input-field">
                        <span class="icon jobIcon"></span>
                        <!-- <input id="jobTitle" type="text" class="validate" formControlName="job_title" > -->
                        <input id="jobTitle" type="text" class="validate auto_comp_search" formControlName="job_title" (keyup)="advancedSearchAutoComplete('JB_TITLE_WISE',$event)" autocomplete="off">
                        <div class="state-container-dropdown" *ngIf="adv_show_jb_title_srh">
                           <div class="state" *ngFor="let data of title_job_data" (click)="advancedAutoCompleteSearch(data.id, 'JB_TITLE_WISE')">
                           <span>{{data.name}}</span>
                        </div>
                     </div>
                     <label for="jobTitle">Job Title</label>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                     <span class="icon employeeIcon"></span>
                     <select formControlName="employement_for">
                        <option value="" selected>Employment for</option>
                        <option value="{{empFor._id}}" *ngFor="let empFor of emplymentFor">{{empFor.name}}</option>
                     </select>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                     <span class="icon locationIcon"></span>
                     <div class="input_text">
                        <ng-container *ngFor="let country of storeMultiSelectSearch.country_name; index as i;">
                           <span class="selected-span">{{country.length > 10 ? country.slice(0,10)+ '...': country }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelectSearch(i, 'country')"></i></span></span>
                        </ng-container>
                        <span class="dropdown-search"> 
                        <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="country" placeholder="Select Country" (click)="getOnchangeEventSearch('country')">
                        <app-multi-select *ngIf="countryDivSearch" 
                        [mainDataArray]="countryArray"
                        [storedValue]="storeMultiSelectSearch.country_value"
                        [storedName]="storeMultiSelectSearch.country_name"  
                        [field_name] ="'country'"
                        (sendDataEvent)="getChangeSearch($event)" 
                        (checkOutsideEvent)="checkmultiselectSearch($event)" 
                        (multidataSelect)="multiselectAllSearch($event)">
                        </app-multi-select>
                        </span>
                     </div>
                     <!-- <select formControlName="country_id">
                        <option value="" selected>job location - country</option>
                        <option value="{{country._id}}" *ngFor="let country of allCountries">{{country.name}}</option>
                        </select> -->
                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                     <span class="icon locationIcon"></span>
                     <div class="input_text">
                        <ng-container *ngFor="let city of storeMultiSelectSearch.city_name; index as i;">
                           <span class="selected-span">{{city.length > 10 ? city.slice(0,10)+ '...': city }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelectSearch(i, 'city')"></i></span></span>
                        </ng-container>
                        <span class="dropdown-search">
                        <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="city" placeholder="Select City" (click)="getOnchangeEventSearch('city')">
                        <app-multi-select *ngIf="cityDivSearch" 
                        [mainDataArray]="citiesData"
                        [storedValue]="storeMultiSelectSearch.city_value"
                        [storedName]="storeMultiSelectSearch.city_name"  
                        [field_name] ="'city'"
                        (sendDataEvent)="getChangeSearch($event)" 
                        (checkOutsideEvent)="checkmultiselectSearch($event)" 
                        (multidataSelect)="multiselectAllSearch($event)">
                        </app-multi-select>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="input-field">
                     <div class="multiselectdropdownOuter">
                        <div class="input-field">
                           <span class="icon industryIcon"></span>
                           <div class="input_text">
                              <ng-container *ngFor="let industry of storeMultiSelectSearch.industries_name; index as i;">
                                 <span class="selected-span">{{industry.length > 10 ? industry.slice(0,10)+ '...': industry}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelectSearch(i, 'industry')"></i></span></span>
                              </ng-container>
                              <span class="dropdown-search">
                              <input type="text" class="degree multiselect-text-input"  autocomplete="off" name="industries" placeholder="Select Industry" (click)="getOnchangeEventSearch('industries')">
                              <app-multi-select *ngIf="industriesDivSearch" 
                              [maxLength]="5"
                              [mainDataArray]="industries"
                              [storedValue]="storeMultiSelectSearch.industries_value"
                              [storedName]="storeMultiSelectSearch.industries_name"  
                              [field_name] ="'industries'"
                              (sendDataEvent)="getChangeSearch($event)" 
                              (checkOutsideEvent)="checkmultiselectSearch($event)" 
                              (multidataSelect)="multiselectAllSearch($event)">                                 
                              </app-multi-select>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                     <div class="multiselectdropdownOuter">
                        <div class="input-field">
                           <span class="icon industryIcon"></span>
                           <div class="input_text">
                              <ng-container *ngFor="let department of storeMultiSelectSearch.department_name; index as i;">
                                 <span class="selected-span">{{department.length > 10 ? department.slice(0,10)+ '...': department}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelectSearch(i, 'departments')"></i></span></span>
                              </ng-container>
                              <span class="dropdown-search">  
                              <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="departments" placeholder="Current Department / Functional area" (click)="getOnchangeEventSearch('departments')" size="100">
                              <app-multi-select *ngIf="departmentDivSearch" 
                              [maxLength]="5"
                              [mainDataArray]="departments" 
                              [storedValue]="storeMultiSelectSearch.department_value"
                              [storedName]="storeMultiSelectSearch.department_name" 
                              [field_name] ="'departments'"
                              (sendDataEvent)="getChangeSearch($event)" 
                              (checkOutsideEvent)="checkmultiselectSearch($event)" 
                              (multidataSelect)="multiselectAllSearch($event)">                                 
                              </app-multi-select>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div> -->
            </div>
         </div>
         <div class="part-sec">
            <h3>Work Experience</h3>
            <div class="row">
               <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                     <span class="icon experienceIcon"></span>
                     <select formControlName="min_experiance">
                        <option value="" selected >Minimum Experience</option>
                        <option value="{{expr._id}}" *ngFor="let expr of experiance">{{expr.name}} Years</option>
                     </select>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                     <span class="icon experienceIcon"></span>
                     <select formControlName="max_experiance">
                        <option value="" selected >Maximum Experience</option>
                        <option value="{{expr._id}}" *ngFor="let expr of experiance">{{expr.name}} Years</option>
                     </select>
                  </div>
               </div>
            </div>
         </div>
         <div class="part-sec">
            <h3>Expected Salary</h3>
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="radioOuterSec">
                     <label>
                     <input name="salary_type" formControlName="salary_type" type="radio" value="hourly" />
                     <span>Hourly</span>
                     </label>
                     <label>
                     <input name="salary_type" formControlName="salary_type" type="radio" value="weekly"/>
                     <span>Weekly</span>
                     </label>
                     <label>
                     <input name="salary_type" formControlName="salary_type" type="radio" value="monthly"/>
                     <span>Monthly</span>
                     </label>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                  <div class="input-field">
                     <span class="icon payDtlAmtIcon"></span>
                     <select formControlName="currency">
                        <option value="" selected>Select Currency</option>
                        <option value="{{currency.value[0]._id}}" *ngFor="let currency of all_currency | keyvalue">{{currency.key}} ({{currency.value[0].currency_code}})</option>
                     </select>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                  <div class="input-field">
                     <span class="icon salaryIcon"></span>
                     <input id="min_monthly_salary" type="number" class="validate" formControlName="min_monthly_salary" min="1">
                     <label for="min_monthly_salary">Min Salary</label>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                  <div class="input-field">
                     <span class="icon salaryIcon"></span>
                     <input id="max_monthly_salary" type="number" class="validate" formControlName="max_monthly_salary" min="1">
                     <label for="max_monthly_salary">Max Salary</label>
                  </div>
               </div>
            </div>
         </div>
         <div class="submitOuter">
            <button (click)="searchJobs()" data-dismiss="modal" type="submit">Search</button>
         </div>
   </div>
   </form>       
</div>
<div class="modal-footer">
   <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalClose()">
   <span aria-hidden="true">&times;</span>
   </button>
</div>
</div>
<!-- 2nd modal -->
<div class="cmnmodal" *ngIf="show_profile_modal">
   <div class="modalholder">
      <div class="modalheader milion-mdl-header milon_header_high">
         <!-- <h1>sign up</h1>
         <h2>Welcome</h2> -->
         <p><strong>Please Fill The Form Below Carefully, Millions of jobs are waiting for you</strong> </p>
         <!-- <a class="cross" href="#"><i class="fa fa-times" aria-hidden="true"></i></a> -->
      </div>
      <div class="modalbody">
         <form [formGroup]="signUp2Form" autocomplete="off">
            <div class="form-inline">
               <div class="form-group">
                  <div class="input-field degree-hlder left_padd_less" [ngClass]="{'multiselect_remove_place_regis':storeMultiSelectRegistration.country_name.length}">
                     <span class="icon locationIcon"></span>
                     <div class="input_text border_less">
                        <span class="dropdown-search"> 
                           <div class="add-slect-wrp">
                        <ng-container *ngFor="let country of storeMultiSelectRegistration.country_name; index as i;">
                           <span class="selected-span">{{country.length > 10 ? country.slice(0,10)+ '...': country }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelectSign2(i, 'country')"></i></span></span>
                        </ng-container>
                        </div>
                        <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="country" placeholder="Select Country" [style.display]="storeMultiSelectRegistration.country_name.length ?'none':''" (click)="getOnchangeEventSign2('country')">
                        <app-multi-select *ngIf="countryDivSign2" 
                        [maxLength] ="1"
                        [mainDataArray]="countryArray"
                        [storedValue]="storeMultiSelectRegistration.country_value"
                        [storedName]="storeMultiSelectRegistration.country_name"  
                        [field_name] ="'country'"
                        (sendDataEvent)="getChangeSign2($event)" 
                        (checkOutsideEvent)="checkmultiselectSign2($event)" 
                        (multidataSelect)="multiselectAllSearch($event)">
                        </app-multi-select>
                        </span>
                     </div>
                  </div>
                  <span *ngIf="(submitted && signUp2Form.get('country_id').errors) || ((signUp2Form.get('country_id').touched || signUp2Form.get('country_id').dirty) && signUp2Form.get('country_id').errors)">
                  <span *ngIf="signUp2Form.get('country_id').errors.required " class="form-error">Please select country</span>
                  </span>
               </div>
               <div class="form-group">
                  <div class="input-field degree-hlder left_padd_less" [ngClass]="{'multiselect_remove_place_regis':storeMultiSelectRegistration.city_name.length}">
                     <span class="icon locationIcon"></span>
                     <div class="input_text border_less">
                        <span class="dropdown-search">
                        <div class="add-slect-wrp">
                        <ng-container *ngFor="let city of storeMultiSelectRegistration.city_name; index as i;">
                           <span class="selected-span">{{city.length > 10 ? city.slice(0,10)+ '...': city }}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelectSign2(i, 'city')"></i></span></span>
                        </ng-container>
                        </div>
                        <input type="text" readonly="true" class="degree multiselect-text-input"  autocomplete="off" name="city" placeholder="Select City" [style.display]="storeMultiSelectRegistration.city_name.length ?'none':''" (click)="getOnchangeEventSign2('city')">
                        <app-multi-select *ngIf="cityDivSign2" 
                        [mainDataArray]="coutryWiseCity"
                        [storedValue]="storeMultiSelectRegistration.city_value"
                        [storedName]="storeMultiSelectRegistration.city_name"  
                        [field_name] ="'city'"
                        [maxLength] ="1"
                        (sendDataEvent)="getChangeSign2($event)" 
                        (checkOutsideEvent)="checkmultiselectSign2($event)" 
                        (multidataSelect)="multiselectAllSearch($event)">
                        </app-multi-select>
                        </span>
                     </div>
                  </div>
                  <span *ngIf="(submitted && signUp2Form.get('city_id').errors) || ((signUp2Form.get('city_id').touched || signUp2Form.get('city_id').dirty) && signUp2Form.get('city_id').errors)">
                  <span *ngIf="signUp2Form.get('city_id').errors.required " class="form-error">Please select city</span>
                  </span>
               </div>
            </div>
            <div class="form-inline">
               <div class="form-group">
                  <input id="desig" type="text" class="validate" [ngClass]="{'error':(submitted && f.designation.errors) || (f.designation.touched && f.designation.errors)}" formControlName="designation" placeholder="Designation">
                  <span *ngIf="(submitted && signUp2Form.get('designation').errors) || ((signUp2Form.get('designation').touched || signUp2Form.get('designation').dirty) && signUp2Form.get('designation').errors)">
                  <span *ngIf="signUp2Form.get('designation').errors.required " class="form-error">Please enter designation</span>
                  </span>
               </div>
               <div class="form-group">
                  <div class="input-field degree-hlder left_padd_less" [ngClass]="{'multiselect_remove_place_regis':storeMultiSelectRegistration.industries_name.length}">
                           <span class="icon industryIcon"></span>
                           <div class="input_text border_less">
                              <span class="dropdown-search">
                              <div class="add-slect-wrp">
                              <ng-container *ngFor="let industry of storeMultiSelectRegistration.industries_name; index as i;">
                                 <span class="selected-span">{{industry.length > 10 ? industry.slice(0,10)+ '...': industry}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelectSign2(i, 'industry')"></i></span></span>
                              </ng-container>
                              </div>
                              <input type="text" class="degree multiselect-text-input"  autocomplete="off" name="industries" placeholder="Select Industry" [style.display]="storeMultiSelectRegistration.industries_name.length ?'none':''" (click)="getOnchangeEventSign2('industries')">
                              <app-multi-select *ngIf="industriesDivSign2" 
                              [mainDataArray]="industries"
                              [storedValue]="storeMultiSelectRegistration.industries_value"
                              [storedName]="storeMultiSelectRegistration.industries_name"  
                              [field_name] ="'industries'"
                              [maxLength] ="1"
                              (sendDataEvent)="getChangeSign2($event)" 
                              (checkOutsideEvent)="checkmultiselectSign2($event)" 
                              (multidataSelect)="multiselectAllSearch($event)">                                 
                              </app-multi-select>
                              </span>
                           </div>
                  </div>

                  <span *ngIf="(submitted && signUp2Form.get('industry_id').errors) || ((signUp2Form.get('industry_id').touched || signUp2Form.get('industry_id').dirty) && signUp2Form.get('industry_id').errors)">
                  <span *ngIf="signUp2Form.get('industry_id').errors.required " class="form-error">Please select Industry</span>
                  </span>
               </div>
            </div>
            <div class="form-inline">
               <div class="form-group">
                  <input id="mobile" type="text" formControlName="mobile" placeholder="Mobile">
                  <span *ngIf="(submitted && signUp2Form.get('mobile').errors) || ((signUp2Form.get('mobile').touched || signUp2Form.get('mobile').dirty) && signUp2Form.get('mobile').errors)">
                  <span *ngIf="signUp2Form.get('mobile').errors.required " class="form-error">Please enter mobile</span>
                  <span *ngIf="signUp2Form.get('mobile').errors.pattern || signUp2Form.get('mobile').errors.minlength || signUp2Form.get('mobile').errors.maxlength" class="form-error">Please enter valid mobile</span>
                  </span>
                  <span *ngIf="serverError && serverError.mobile" class="form-error">{{serverError.mobile[0]}}</span>
               </div>
               <div class="form-group">
                  <input type="text" name="" placeholder="Referral Code (If you have)" [ngClass]="{'error':(submitted && f.user_unique_code.errors) || (f.user_unique_code.touched && f.user_unique_code.errors)}" formControlName="user_unique_code"/> 
               </div>
            </div>
            <div class="form-inline">
               <div class="form-group">  
                  <input type="text" name=""  dateInput format="d/m/Y" mode="single" maxdate={{prevEighteenYearDate}} placeholder="Date of Birth" formControlName="date_of_birth"/>
                  <span *ngIf="(submitted && signUp2Form.get('date_of_birth').errors) || ((signUp2Form.get('date_of_birth').touched || signUp2Form.get('date_of_birth').dirty) && signUp2Form.get('date_of_birth').errors)">
                  <span *ngIf="signUp2Form.get('date_of_birth').errors.required " class="form-error">Please Select date of birth</span>
                  </span>
               </div>
            </div>
            <div class="form-inline3">
               <div class="form-group"> 
                  <input id="Male" type="radio" formControlName="gender" value="male">
                  <label for="Male">Male</label>
               </div>
               <div class="form-group"> 
                  <input id="Female" type="radio" formControlName="gender" value="female">
                  <label for="Female">Female</label>
               </div>
               <div class="form-group"> 
                  <input id="Custom" type="radio" formControlName="gender" value="custom">
                  <label for="Custom">Custom</label>
               </div>
            </div>
            <span class="form-error gnder-error" *ngIf="(submitted && signUp2Form.get('gender').errors) || ((signUp2Form.get('gender').touched || signUp2Form.get('gender').dirty) && signUp2Form.get('gender').errors)">
            <span *ngIf="signUp2Form.get('gender').errors.required " class="form-error">Please select gender</span>
            </span>
            <div class="mbtnholder">
               <button type="submit" [disabled]="showloader" (click)="handleSignUp()">Continue <i class="fa fa-long-arrow-right" aria-hidden="true"></i> &nbsp; <i class="fa fa-refresh fa-spin" style="font-size:24px" *ngIf="showloader"></i></button> 
            </div>
         </form>
      </div>
   </div>
</div>