.state-container-dropdown{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  max-height: 300px;
  background: #F6F6F6;
  overflow-y: auto;
  /*border: 1px solid #000;*/
  z-index: 10;
}

.state{
  padding: 3px 10px;
  font-family: sans-serif;
  color: #1c1c8e;
}
.state a:hover{
  color: #1c1c8e;
}

.state:hover{
  background: #C2C2C2;
  cursor: pointer;
}
.input_text{
  width: 100%;
 /* padding: 12px 20px;
  margin: 8px 0;*/
  box-sizing: border-box;
  /*border: 1px solid #555;*/
  border-bottom: 1px solid #5f6b94;
  outline: none;
}
.dropdown-search {
    display: inline-block;
}

.selected-span{
  padding: 5px 25px 7px 7px;
    position: relative;
    background: #abb3b3;
    border-radius: 50px;
    display: inline-block;
    margin: 0 4px 4px 0;
}

.del{
  cursor: pointer;
    margin: 5px;
}

.multiselect-text-input{
  border-bottom: none !important; 
}


.sub_selection{
    position: absolute;
    right: 0;
    top: 0;
    /* float: right; */
    margin: 0;
    border-radius: 0 50px 50px 0px;
    display: inline-block;
    padding: 6px;
    background: gray;
}

.cross_icon{
    position: absolute;
    right: 0;
    top: 0;
    /* float: right; */
    margin: 0;
    border-radius: 0 50px 50px 0px;
    display: inline-block;
    padding: 4px 0px 5px 0px;
    background: gray;
}

.slidecontainer {
  width: 100%;
}
.rbOuter{
  position: relative;
}
.rbOuter .cross{
  position: absolute;
right: 10px;
top: 5px;
color: #fff;
font-weight: bold;
font-size: 25px;
line-height: 20px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider-color::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width:30px;
  height:30px;
  background: #4CAF50;
  cursor: all-scroll;
  position: relative;
  top: -8px;
  border: 2px solid #ddd;
}

.slider-color::-moz-slider-thumb {
  width:30px;
  height: 30px;
  background: #4CAF50;
  cursor: all-scroll;
  position: relative;
  top: -8px;
  border: 2px solid #ddd;
}
.slidecontainer input{border:none; outline: none;}
.slider-color {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.multiselect_remove_place_regis{
  padding: 0px !important;
}



/*NEW STYLE FOR SLIDER RANGE*/




/*END*/


