<!-- START BANNER SECTION -->
<section class="bannerSection innerBanner">
   <img src="assets/images/registrationBanner.png" alt="registrationBanner">
   <h2>Forgot Password</h2>
</section>
<!-- END BANNER SECTION -->
<!-- START BREADCRUMB SECTION -->
<section class="breadcrumbSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-md-12 col-12">
            <ul>
               <!-- <li><a href="#">Home</a></li> -->
               <li class="current"><span>Forgot Password</span></li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- END BREADCRUMB SECTION -->
<!-- START REGISTRATION FORM -->
<section class="registrationForm ">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="registrationFormOuter">
               <h2 class="pageTitle">Forgot Password</h2>
               <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                     <form [formGroup]="forgotForm">
                        <div class="loginInner">
                           <div class="input-field">
                              <span class="icon nameIocn"></span>
                              <input id="usernamecl" type="email" class="validate" formControlName="email">
                              <label for="usernamecl" [ngClass]="{'active':forgotForm.get('email').value}">User Email</label>
                                 <span *ngIf="(isSubmit && forgotForm.get('email').errors) || ((forgotForm.get('email').touched || forgotForm.get('email').dirty) && forgotForm.get('email').errors)">
                                    <span *ngIf="forgotForm.get('email').errors.required" class="form-error">Please enter email</span>
                                     <span *ngIf="forgotForm.get('email').value && !forgotForm.get('email').valid" class="form-error">Please enter valid email</span>
                                </span>
                           </div>                           
                           <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                 <div class="submitOuter">
                                    <button type="submit" class="blueBtn" (click)="submitForm()">Submit</button>
                                 </div>
                              </div>
                              <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                 <div class="forgotOuter">
                                    <a href="javascript:void(0)" [routerLink]="['/' +otherUserType+'/login']">Login</a>
                                 </div>
                              </div> -->
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                     <div class="notRegistration">
                        <h4>Login Here</h4>
                        <a href="javascript:void(0)" [routerLink]="['/' +otherUserType+'/login']" class="blueBtn">Login</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>