
		<div class="modalholder jobseekerstep1 login">
			<div class="modalheader"> 
				<a class="cross" href="javascript:void(0)" (click)="handleClose()"><i class="fa fa-times" aria-hidden="true"></i></a>
			</div>
			<div class="modalbody"> 
				<div class="modalform">
					<h3>Welcome back, Please login to your account</h3> 
					<form [formGroup]="loginForm">
					<div class="form-group">
						<input type="text" class="email" name="" placeholder="Email Address" formControlName="email">
						 <span *ngIf="(isSubmit && loginForm.get('email').errors) || ((loginForm.get('email').touched || loginForm.get('email').dirty) && loginForm.get('email').errors)">
                                 <span *ngIf="loginForm.get('email').errors.required" class="form-error">Please enter email</span>
                                  <span *ngIf="loginForm.get('email').value && !loginForm.get('email').valid" class="form-error">Please enter valid email</span>
                             </span>
					</div> 
					<div class="form-group">
						<input type="{{showPassword?'text':'password'}}" class="pass" name="" placeholder="Password" formControlName="password">
						<span *ngIf="(isSubmit && loginForm.get('password').errors) || ((loginForm.get('password').touched || loginForm.get('password').dirty) && loginForm.get('password').errors)">
                                    <span *ngIf="loginForm.get('password').errors.required || loginForm.get('password').errors.whitespace" class="form-error">Please enter password</span>

                                </span>
                         <i class="fa fa-eye pss-eye" aria-hidden="true" (click)="showPassword = !showPassword"></i>       
					</div>
					<div class="form-inline">
						<div class="form-group">
							<input type="checkbox" name=""/> <label>Remember me</label>
						</div>
						<div class="form-group forgotdiv">
							<a href="javascript:void(0)" (click)="handleForgot()">Forgot Password</a>
						</div> 
					</div> 
					<div class="form-group">
						<button type="submit" (click)="submitForm()" [disabled]="showloader"><img src="assets/images/lock.png" alt="calender"/> Login <i class="fa fa-refresh fa-spin" style="font-size:24px" *ngIf="showloader"></i></button>
					</div>
					<div class="mbtnholder">
						New member? <a class="" href="javascript:void(0)" (click)="handleRegister()">Please Register Here</a>
					</div>
					</form>
				</div>
			</div>
		</div>
