      <section class="jobByCountrySection jobByCountrySectionThird">
        <div class="container">
          <div class="headingOuter">
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h3>{{collegeData?.name}}</h3>
                <div class="collegeLogoOuter">
                  <img src="{{collegeData.logo_url}}" alt="aloftLogo">
                  <!-- <p>Website: <a href="javascript:void(0)">{{collegeData.website}}</a></p> -->
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="waitingHighlight">
                  <h4><a href="javascript:void(0)" [routerLink]="['/employer/cvsearch-college', collegeId]">{{collegeData.college_student_count}} Students Waiting for Jobs</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END JOB BY COUNTRY SECTION -->    
    <!-- START DESCRIPTION SECTION -->
      <section class="descriptionSection descriptionSectionSec">
        <div class="container">
          <div class="row">
            <ng-container *ngIf="isLoaded">
          	<div class="col-lg-4 col-md-5 col-sm-12 col-12" *ngIf="mySlideImages.length > 0">
            <div class="descriptionImg">
               <div class="gallerySlider">
                  <owl-carousel
                  [options]="myCarouselOptions"
                  [carouselClasses]="['owl-theme', 'sliding']"
                  >
                  <div class="item" *ngFor="let image of mySlideImages;index as i">
                      <div class="">
                        <img src="{{global.imageUrl}}colleges/gallery_images/{{image}}">
                      </div>
                  </div>
	                </owl-carousel>
	               </div>
	            </div>
	         </div> 
           </ng-container> 
            <div class="col-lg-8 col-md-7 col-sm-12 col-12">
              <div class="mapOuter map-size">
                <iframe id="{{checkId()}}" [src]="sanitizeOutSite.bypassSecurityTrustResourceUrl('https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q='+collegeData?.user?.user_location?.coordinates[0]+','+collegeData?.user?.user_location?.coordinates[1]+'&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed')" width="100%" height="100%" frameborder="0" scrolling="no" style="border:0" allowfullscreen></iframe>
              </div>
              <!-- <div class="mapOuter map-size">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d58930.02810210874!2d88.38443822910156!3d22.611741300000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1546599340666" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div> -->
            </div>
          </div>
        </div>
      </section> 
    <!-- END DESCRIPTION SECTION --> 
    <!-- START COLLEGE DETAILS -->
      <section class="collegeDeails">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">             
                  <div class="descriptionInner socialCustom">
                    <h3>Address</h3>
                    <p>{{collegeData.address}}</p>
                    <ol class="location-inline">
                      <li><span>Country:</span> {{collegeData?.country?.name}}</li>
                      <li><span>City:</span> {{collegeData?.city?.name}}</li>
                    </ol>
                    <!-- <p><span>Postal Address:</span> {{collegeData.address}}</p> -->
                    <!-- <ul class="socialShare">
                      <li><span>Social Share</span></li>
                      <li><a href="#"><img src="assets/images/facebook.png" alt="facebook"></a></li>
                      <li><a href="#"><img src="assets/images/twitter.png" alt="twitter"></a></li>
                      <li><a href="#"><img src="assets/images/linkedin.png" alt="linkedin"></a></li>
                      <li><a href="#"><img src="assets/images/email.png" alt="email"></a></li>
                    </ul> -->
                  </div>
                </div>
                <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                  <div class="contactPerOuter">
                    <h3>About Contact Person</h3>
                    <ul>
                      <li>Name: {{collegeData.contact_person_name}}</li>
                      <li>Designation: {{collegeData.contact_person_designation}}</li>
                      <li>Email: <a href="mailto:{{collegeData.contact_person_email}}">{{collegeData.contact_person_email}}</a></li>
                      <li>Phone: <a href="te;:{{collegeData.contact_person_phone}}">{{collegeData.contact_person_phone}}</a></li>
                    </ul>
                  </div>
                </div> -->
                
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="institute_video">
                  <div class="ifvdo">
                    <iframe [src]="institute_video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" width="100%" height="100%" allowfullscreen ></iframe>
                  </div>
                </div>
              </div>
              <div class="descriptionInner">
                <h3>About This College</h3>
                <!-- <p>{{collegeData.about_college}}</p> -->
                <div class="editorview" innerHtml="{{collegeData.about_college}}"></div>
              </div>
              <div class="descriptionInner">
                <h3>Courses Offered</h3>
                <p>{{collegeData.courses_name}}</p>
              </div>                   
              <div class="descriptionInner">
                <h3>Special note for employers</h3>
                <!-- <p>{{collegeData.special_note_employer}}</p>   -->
                <div class="editorview" innerHtml="{{collegeData.special_note_employer}}"></div>
              </div> 
              <div class="descriptionInner">
                <h3>Mission</h3>
                <!-- <p>{{collegeData.special_note_employer}}</p>   -->
                <div class="editorview" innerHtml="{{collegeData.mission}}"></div>
              </div> 
              <div class="descriptionInner">
                <h3>Vision</h3>
                <!-- <p>{{collegeData.special_note_employer}}</p>   -->
                <div class="editorview" innerHtml="{{collegeData.vision}}"></div>
              </div> 
            </div>
          </div>
        </div>
      </section>
