      <section class="bannerSection animation-element">
        <img src="assets/images/student1.jpg" alt="collegeBanner">
        <div class="headingOuter bannerColgInfo">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <h3>Dream Instritute Of Technology</h3>
              <div class="collegeLogoOuter">
                <img src="assets/images/aloftLogo1.png" alt="aloftLogo">
                <p>Website: <a href="#">www.websiteofcollege.com</a></p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="waitingHighlight">
                <!-- <input type="file" name="" id="upcv"> -->
                <a href="javascript:void(0)" [routerLink]="['/college/cv-upload']">Upload Student's CV</a>
                <!-- <label for="upcv">Upload Student's CV</label> -->
              </div>
            </div>
          </div>
        </div>
      </section>

<!-- START BREADCRUMB SECTION -->
<section class="breadcrumbSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-md-12 col-12">
            <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Dream Instritute Of Technology</a></li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- END BREADCRUMB SECTION -->
<!-- START JOB BY COUNTRY SECTION -->
<section class="jobByCountrySection jobByCountrySectionSec">
   <div class="container">
   </div>
</section>
<!-- END JOB BY COUNTRY SECTION -->
<!-- START DESCRIPTION SECTION -->
<section class="descriptionSection">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-5 col-sm-12 col-12">
            <div class="descriptionImg">
               <div class="gallerySlider">
                  <owl-carousel
                  [options]="myCarouselOptions"
                  [carouselClasses]="['owl-theme', 'sliding']"
                  >
                  <div class="item" *ngFor="let image of mySlideImages;index as i">
                      <div class="">
                          <img src={{image}}/>
                      </div>
                  </div>
                </owl-carousel>
               </div>
            </div>
         </div>
         <div class="col-lg-8 col-md-7 col-sm-12 col-12">
            <div class="mapOuter">
               <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d58930.02810210874!2d88.38443822910156!3d22.611741300000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1546599340666" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>
</section>

      <section class="analyticsDeails">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="rbOuter">
                <div class="dashboardBlock rb">
                  <h4>Reference Benefits</h4>
                  <ol>
                    <li>
                      <span><span class="highlightRef">value 200 usd. Now get free!</span> Refer our portal with 10 friend or 10 colleagues get PremiumCV services Free </span>
                      <a href="javascript:void(0)" [routerLink]="['/college/referal-list']" class="redBtn">Apply</a>
                    </li>
                  </ol>
                </div>
                <div class="dashboardBlock rb">
                  <h4>Announcement Benefits</h4>
                  <ol>
                    <li>
                      <span><span class="highlightRef">Lorem ipsum dolor sit amet</span> consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.  </span> 
                      <a href="javascript:void(0)" [routerLink]="['/college/announcement-list']" class="redBtn">Apply</a></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">    
              <div class="sturecordBlock">
                <div class="sturecordBlockOuter">
                  <div class="sturecordBlockInner">
                    <a href="javascript:void(0)" [routerLink]="['/college/analytic','cv-upload']">
                      <h2>100</h2>
                      <p>No. of CV Uploaded</p>
                    </a>
                  </div>
                  <div class="sturecordBlockInner">
                    <a href="javascript:void(0)" [routerLink]="['/college/analytic-map']">
                      <h2>200</h2>
                      <p>No. of CV Viewed By Employer</p>
                    </a>
                  </div>
                  <div class="sturecordBlockInner">
                    <a href="javascript:void(0)" [routerLink]="['/college/analytic','applied-job']">
                      <h2>50</h2>
                      <p>No. of Student Applied for Job</p>
                    </a>
                  </div>
                  <div class="sturecordBlockInner">
                    <a href="javascript:void(0)" [routerLink]="['/college/analytic','student-shortlist']">
                      <h2>20</h2>
                      <p>No. of Student Shortlisted</p>
                    </a>
                  </div>
                  <div class="sturecordBlockInner">
                    <a href="javascript:void(0)" [routerLink]="['/college/analytic','complete-interview']">
                      <h2>15</h2>
                      <p>No. of Student Completed Interview</p>
                    </a>
                  </div>
                  <div class="sturecordBlockInner">
                    <a href="javascript:void(0)" [routerLink]="['/college/analytic','student-placed']">
                      <h2>10</h2>
                      <p>No. of Student Placed</p>
                    </a>
                  </div>
                </div>
              </div>   
            </div>
          </div>
        </div>
      </section>
    <!-- START COLLEGE DETAILS -->
    <!-- START COLLEGE DETAILS -->
      <section class="collegeDeails">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12"> 
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-12">             
                  <div class="descriptionInner">
                    <h3>Address</h3>
                    <ol>
                      <li><span>Country:</span> India</li>
                      <li><span>City:</span> Kolkata</li>
                    </ol>
                    <p><span>Postal Address:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul class="socialShare">
                      <li><span>Social Share</span></li>
                      <li><a href="#"><img src="assets/images/facebook.png" alt="facebook"></a></li>
                      <li><a href="#"><img src="assets/images/twitter.png" alt="twitter"></a></li>
                      <li><a href="#"><img src="assets/images/linkedin.png" alt="linkedin"></a></li>
                      <li><a href="#"><img src="assets/images/email.png" alt="email"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                  <div class="contactPerOuter">
                    <h3>About Contact Person</h3>
                    <ul>
                      <li>Name: John Doe</li>
                      <li>Designation: Training Placement Officer</li>
                      <li>Email: <a href="mailto:demo@abcd.com">demo@abcd.com</a></li>
                      <li>Phone: <a href="te;:1234568767">1234568767</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="descriptionInner">
                <h3>About This College</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</li>
                </ul>
              </div>
              <div class="descriptionInner">
                <h3>Courses Offered</h3>
                <p>Hospitality, Engineering, Nursing, Medical</p>
              </div>                   
              <div class="descriptionInner">
                <h3>Special note for employers</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
              </div>
            </div>
          </div>
        </div>
      </section>