    <!-- START BANNER SECTION -->
      <section class="bannerSection animation-element">
        <!--<div class="bannerSlider">
             <owl-carousel
                [options]="employerHomeSlideOptions"
                [carouselClasses]="['owl-theme', 'sliding']"
                >
                <div class="item" *ngFor="let image of employerHomeSlideImages;index as i">
                    <div class="">
                        <img src={{image}}/>
                    </div>
                </div>
            </owl-carousel> 
        </div>-->
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="bannerContent">
                <h1>CV Search for free</h1>
                <div class="bannerForm">
                  <div class="banSearchTop">
                    <div class="bannerInner">
                      <input type="text" name="" [(ngModel)]="job_title_model" id="job_title_search" class="form-control auto_comp_search" value="{{searchData.title_comp.name}}" placeholder="Job Title, Skills" (keyup)="searchAutoComplete('JB_TITLE_WISE',$event)" autocomplete="off">
                      <div class="state-container-dropdown" *ngIf="show_jb_title_srh">
                        <ng-container *ngFor="let data of title_job_data">
                          <div class="state" (click)="autoCompleteSearch(data.id, 'JB_TITLE_WISE')">
                            <span>{{data.name}}</span>
                          </div>
                        </ng-container>
                      </div>

                      <span class="icon"><img src="assets/images/searchIcon.png" alt="searchIcon"></span>
                    </div>
                    <div class="bannerInner">
                      <input type="text" name="" [(ngModel)]="insudtry_model" class="form-control auto_comp_search" id="insudtry_search" placeholder="Industry" value="{{searchData.industry.name}}" (keyup)="searchAutoComplete('INDUSTRY_WISE',$event)" autocomplete="off">
                      <div class="state-container-dropdown" *ngIf="show_industry_srh">
                        <ng-container *ngFor="let data of industrty_data">
                          <div class="state" (click)="autoCompleteSearch(data.id, 'INDUSTRY_WISE')">
                            <span>{{data.name}}</span>
                          </div>
                        </ng-container>
                      </div>
                      <span class="icon"><img src="assets/images/factory.png" alt="locationIcon"></span>
                    </div>
                    <div class="bannerInner">
                      <input type="text" name="" [(ngModel)]="country_loc_model" class="form-control auto_comp_search" id="country_search"  value="{{searchData.city_country.name}}" placeholder="Country, City" (keyup)="searchAutoComplete('COUNTRY_WISE',$event)" autocomplete="disable">
                      <div class="state-container-dropdown" *ngIf="show_city_comp_srh">
                        <ng-container *ngFor="let data of city_country_data">
                          <div class="state" (click)="autoCompleteSearch(data.id, 'COUNTRY_WISE')">
                            <span>{{data.name}}</span>
                          </div>
                        </ng-container>
                      </div>
                      <span class="icon"><img src="assets/images/locationIcon.png" alt="locationIcon"></span>
                    </div>
                    <div class="bannerInner">
                      <input type="submit" name="" value="Search CV" (click)="searchFilter()"> 
                    </div>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END BANNER SECTION -->
    
    <!-- START POST SECTION -->
        <section class="postSection">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="postInner">
                            <span><img src="assets/images/envelopeIcon.png"></span>
                            <h4>Search Email</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                            <h5><a href="#">View</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="postInner">
                            <span><img src="assets/images/postjobIcon.png"></span>
                            <h4>Post Your Job</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                            <h5><a href="#">View</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="postInner">
                            <span><img src="assets/images/giftIcon.png"></span>
                            <h4>Special Offer</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                            <h5><a href="#">View</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- END POST SECTION -->
    <!-- START PLAN SELECT SECTION -->
        <section class="planSelectSection">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <h2 class="headerClass">Select Your Plan</h2>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                  <h2 class="pageTitle">Premium Job Post</h2>
                  <div class="cvDownloadOuter">
                    <div class="row">
                      <ng-container *ngFor="let package of premium_job_post_packages; let i = index">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="cvDownloadInner">
                            <h4><a href="#" data-toggle="modal" data-target="#packageModal"> {{package.service_name}}</a></h4>
                            <p>valid for {{package.service_life}} month</p>
                            <h2>Cost {{package.fees}} USD</h2>
                            <a href="javascript:void(0)" (click)="buyNow(package._id)" class="redBtn">Buy Now</a>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="(i + 1) % 2 === 0">
                        <div class="customisePackage">
                          <h4>Want to Customise Your Services? <a href="javascript:void(0)"
                            routerLink="/employer/customise-services" >Click Here</a></h4>
                        </div>
                      </div>
                      </ng-container>
                      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="cvDownloadInner">
                          <h4>5 Premium Job Post</h4>
                          <p>valid for two month</p>
                          <h2>Cost 2,00 USD</h2>
                          <a href="#" class="redBtn">Buy Now</a>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="customisePackage">
                          <h4>Want to Customise Your Services? <a href="employer-customise-services.html">Click Here</a></h4>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="cvDownloadInner">
                          <h4>10 Premium Job Post</h4>
                          <p>valid for three month</p>
                          <h2>Cost 3,50 USD</h2>
                          <a href="#" class="redBtn">Buy Now</a>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="cvDownloadInner">
                          <h4>20 Premium Job Post</h4>
                          <p>valid for four month</p>
                          <h2>Cost 6,00 USD</h2>
                          <a href="#" class="redBtn">Buy Now</a>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="customisePackage">
                          <h4>Want to Customise Your Services? <a href="employer-customise-services.html">Click Here</a></h4>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="cvDownloadInner">
                          <h4>50 Premium Job Post</h4>
                          <p>valid for six month</p>
                          <h2>Cost 1,200 USD</h2>
                          <a href="#" class="redBtn">Buy Now</a>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="cvDownloadInner">
                          <h4>100 Premium Job Post</h4>
                          <p>valid for six month</p>
                          <h2>Cost 2,000 USD</h2>
                          <a href="#" class="redBtn">Buy Now</a>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="customisePackage">
                          <h4>Want to Customise Your Services? <a href="employer-customise-services.html">Click Here</a></h4>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="cvDownloadInner">
                          <h4>200 Premium Job Post</h4>
                          <p>valid for nine month</p>
                          <h2>Cost 1,800 USD</h2>
                          <a href="#" class="redBtn">Buy Now</a>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="cvDownloadInner">
                          <h4>400 Premium Job Post</h4>
                          <p>valid for twelve month</p>
                          <h2>Cost 3,400 USD</h2>
                          <a href="#" class="redBtn">Buy Now</a>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="customisePackage">
                          <h4>Want to Customise Your Services? <a href="employer-customise-services.html">Click Here</a></h4>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    
                  <h2 class="pageTitle">Mass Mail Services</h2>
                  <div class="cvDownloadOuter">
                    <div class="row">
                      <ng-container *ngFor="let package of mass_mail_service_packages; let i = index">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="cvDownloadInner">
                            <h4><a href="#" data-toggle="modal" data-target="#packageModal"> {{package.service_name}}</a></h4>
                            <p>valid for {{package.service_life}} month</p>
                            <h2>Cost {{package.fees}} USD</h2>
                            <a href="javascript:void(0)" (click)="buyNow(package._id)" class="redBtn">Buy Now</a>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="(i + 1) % 2 === 0">
                          <div class="customisePackage">
                            <h4>Want to Customise Your Services? <a href="javascript:void(0)"
                              routerLink="/employer/customise-services" >Click Here</a></h4>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                  <h2 class="pageTitle">CV Download / View</h2>
                  <div class="cvDownloadOuter">
                    <div class="row">
                      <ng-container *ngFor="let package of cv_download_view_packages; let i = index">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="cvDownloadInner">
                            <h4><a href="#" data-toggle="modal" data-target="#packageModal"> {{package.service_name}}</a></h4>
                            <p>valid for {{package.service_life}} month</p>
                            <h2>Cost {{package.fees}} USD</h2>
                            <a href="javascript:void(0)" (click)="buyNow(package._id)" class="redBtn">Buy Now</a>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="(i + 1) % 2 === 0">
                          <div class="customisePackage">
                            <h4>Want to Customise Your Services? <a href="javascript:void(0)"
                              routerLink="/employer/customise-services" >Click Here</a></h4>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                  <h2 class="pageTitle">International Walk-In</h2>
                  <div class="cvDownloadOuter">
                    <div class="row">
                      <ng-container *ngFor="let package of international_walk_in_packages; let i = index">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="cvDownloadInner">
                            <h4><a href="#" data-toggle="modal" data-target="#packageModal"> {{package.service_name}}</a></h4>
                            <p>valid for {{package.service_life}} month</p>
                            <h2>Cost {{package.fees}} USD</h2>
                            <a href="javascript:void(0)" (click)="buyNow(package._id)" class="redBtn">Buy Now</a>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="(i + 1) % 2 === 0">
                          <div class="customisePackage">
                            <h4>Want to Customise Your Services? <a href="javascript:void(0)"
                              routerLink="/employer/customise-services" >Click Here</a></h4>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
            </div>
            <!-- <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <h2 class="pageTitle">Today Combo offers</h2>
                <div class="cvDownloadOuter">
                  <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="cvDownloadInner">
                        <h4>100 Mass mail <span>and</span> 100 CV download or View</h4>
                        <p>valid for one month</p>
                        <h2>Cost 100 USD</h2>
                        <a href="#" class="redBtn">Buy Now</a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="cvDownloadInner">
                        <h4>500 Mass mail <span>and</span> 500 CV download or View</h4>
                        <p>valid for two month</p>
                        <h2>Cost 400 USD</h2>
                        <a href="#" class="redBtn">Buy Now</a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="cvDownloadInner">
                        <h4>1000 Mass mail <span>and</span> 1000 CV download or View</h4>
                        <p>valid for three month</p>
                        <h2>Cost 700 USD</h2>
                        <a href="#" class="redBtn">Buy Now</a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="cvDownloadInner">
                        <h4>2000 Mass mail <span>and</span> 2000 CV download or View</h4>
                        <p>valid for four month</p>
                        <h2>Cost 1,200 USD</h2>
                        <a href="#" class="redBtn">Buy Now</a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="cvDownloadInner">
                        <h4>5000 Mass mail <span>and</span> 5000 CV download or View</h4>
                        <p>valid for six month</p>
                        <h2>Cost 2,400 USD</h2>
                        <a href="#" class="redBtn">Buy Now</a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="cvDownloadInner">
                        <h4>10,000 Mass mail <span>and</span> 10,000 CV download or View</h4>
                        <p>valid for six month</p>
                        <h2>Cost 4,000 USD</h2>
                        <a href="#" class="redBtn">Buy Now</a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="cvDownloadInner">
                        <h4>20,000 Mass mail <span>and</span> 20,000 CV download or View</h4>
                        <p>valid for nine month</p>
                        <h2>Cost 5,600 USD</h2>
                        <a href="#" class="redBtn">Buy Now</a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="cvDownloadInner">
                        <h4>40,000 Mass mail <span>and</span> 40,000 CV download or View</h4>
                        <p>valid for twelve month</p>
                        <h2>Cost 6,800 USD</h2>
                        <a href="#" class="redBtn">Buy Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </section>
    <!-- END PLAN SELECT SECTION -->
    <!-- START HOSPITALITY SECTION -->
        <section class="hospitalitySection">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h2 class="headerClass">Why BSB Hospitality Staffing.com?</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="hospitalityInner">
                            <span>34M+</span>
                            <h4>Massive reach</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="hospitalityInner">
                            <span><img src="assets/images/easyIcon.png"></span>
                            <h4>Easy & fast</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="hospitalityInner">
                            <span><img src="assets/images/costIcon.png"></span>
                            <h4>Cost-Effective hiring</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- END HOSPITALITY SECTION -->
    <!-- START CLIENT SECTION -->
      <!-- <section class="clientSection">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h2 class="headerClass">Who's Hiring</h2>
              <div class="clientLogo">
               <owl-carousel
                  [options]="emplorerSlideOptions"
                  [carouselClasses]="['owl-theme', 'sliding']"
                  >
                  <div class="item" *ngFor="let image of emplorerSlideImages;index as i">
                      <div class="">
                          <img src={{image}}/>
                      </div>
                  </div>
                </owl-carousel>
            </div>
            </div>
          </div>
        </div>
      </section> -->
    <!-- END CLIENT SECTION -->