 <!-- START BANNER SEC SECTION -->
      <section class="bannerSecSection innerbanner-sec">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h2>Recruiter <span>Zone</span></h2>
            </div>
          </div>
        </div>
      </section>
    <!-- END BANNER SEC SECTION -->
    <!-- START WELCOME RECRUITER SECTION -->
      <section class="welcomeRecruiterSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <h3 class="recruiterTitle">Welcome to the Recruiter's of <span>bsbstaffing.com.</span></h3>
              <p>We are your one-stop solution for finding, interviewing and hiring the best talent from all over the world.</p>
              <p>With our wide array of services, you will find talented individuals for your company from not only your city or country but from every corner of the world.</p>
              <p>The various services that we offer help you to pinpoint your search, post a job, keep track of the application received and view CVs and download them.bsbstaffing also gives you options to organize prospective candidates, handle your bsbstaffing email box in a hassle-free manner, organize the interview process and more. </p>
              <p>Not only do we help you find the best candidates, but we also have referral programs in place where you can gain value added services by referring bsbstaffing to your friends and co-workers.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="welcomeRecruiterImg">
                <img src="assets/images/recruiterImg1.png" alt="recruiterImg">
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END WELCOME RECRUITER SECTION -->
    <!-- START RECRUITER SERVICE SECTION -->
      <section class="recruiterServices">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
              <h3 class="recruiterTitle">Our <span>Services</span></h3>
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                  <div class="recruiterServicesOuter">
                    <div class="recruiterServicesLeft">
                      <img src="assets/images/cvdownloadIcon.png" alt="cvdownloadIcon">
                    </div>
                    <div class="recruiterServicesRight">
                      <h4>CV Access</h4>
                      <p>Browse through millions of CV uploaded in our database with ease.</p>
                      <p><a href="javascript:void(0)" [routerLink]="['service/more-details']" fragment="cv-access">More...</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                  <div class="recruiterServicesOuter">
                    <div class="recruiterServicesLeft">
                      <img src="assets/images/jobpostIcon.png" alt="jobpostIcon">
                    </div>
                    <div class="recruiterServicesRight">
                      <h4>Unlimited Free Jobs Post</h4>
                      <p>Post your job details under various categories and also keep track of your</p>
                      <p><a href="javascript:void(0)" [routerLink]="['service/more-details']" fragment="free-job-post">More...</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                  <div class="recruiterServicesOuter">
                    <div class="recruiterServicesLeft">
                      <img src="assets/images/massmailIcon.png" alt="massmailIcon">
                    </div>
                    <div class="recruiterServicesRight">
                      <h4>Mass Email Service</h4>
                      <p>Create your own email template and manage it easily with this service. </p>
                      <p><a href="javascript:void(0)" [routerLink]="['service/more-details']" fragment="mass-email-service">More...</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                  <div class="recruiterServicesOuter">
                    <div class="recruiterServicesLeft">
                      <img src="assets/images/mailboxIcon.png" alt="mailboxIcon">
                    </div>
                    <div class="recruiterServicesRight">
                      <h4>Mailbox Service</h4>
                      <p>Not only bsbstaffing.com offers mass email service, we also have email </p>
                      <p><a href="javascript:void(0)" [routerLink]="['service/more-details']" fragment="mail-box-service">More...</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                  <div class="recruiterServicesOuter">
                    <div class="recruiterServicesLeft">
                      <img src="assets/images/applicationIcon.png" alt="applicationIcon">
                    </div>
                    <div class="recruiterServicesRight">
                      <h4>Application Received</h4>
                      <p>This service will help you consolidate all the applications you receive from </p>
                      <p><a href="javascript:void(0)" [routerLink]="['service/more-details']" fragment="applications-receive">More...</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                  <div class="recruiterServicesOuter">
                    <div class="recruiterServicesLeft">
                      <img src="assets/images/cvviewIcon.png" alt="cvviewIcon">
                    </div>
                    <div class="recruiterServicesRight">
                      <h4>CV Download/View</h4>
                      <p>Create your own email template and manage it easily with this service. </p>
                      <p><a href="javascript:void(0)" [routerLink]="['service/more-details']" fragment="cv-download-view">More...</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                  <div class="recruiterServicesOuter">
                    <div class="recruiterServicesLeft">
                      <img src="assets/images/folderIcon.png" alt="folderIcon">
                    </div>
                    <div class="recruiterServicesRight">
                      <h4>Create Folder</h4>
                      <p>Swamped with too many applications? Organize them and categorize them with our </p>
                      <p><a href="javascript:void(0)" [routerLink]="['service/more-details']" fragment="create-folder">More...</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                  <div class="recruiterServicesOuter">
                    <div class="recruiterServicesLeft">
                      <img src="assets/images/careerIcon.png" alt="careerIcon">
                    </div>
                    <div class="recruiterServicesRight">
                      <h4>Create Career Page</h4>
                      <p>Let the prospective candidates know more about your company </p>
                      <p><a href="javascript:void(0)" [routerLink]="['service/more-details']" fragment="career-page">More...</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END RECRUITER SERVICE SECTION -->
    <!-- START GLOBAL SECTION -->
      <section class="globalSection">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
              <h3 class="recruiterTitle">Global Recruitment.... <span>Redefined</span></h3>
              <ul>
                <li>
                  <span><img src="assets/images/registrationIcon.png" alt="registrationIcon"></span>
                  <h4>Register with Us</h4>
                </li>
                <li>
                  <span><img src="assets/images/postUnlimited.png" alt="postUnlimited"></span>
                  <h4>Post Unlimited Jobs Free</h4>
                </li>
                <li>
                  <span><img src="assets/images/talentIcon.png" alt="talentIcon"></span>
                  <h4>Search Talent</h4>
                </li>
                <li>
                  <span><img src="assets/images/talentIcon1.png" alt="talentIcon1"></span>
                  <h4>Get Talent</h4>
                </li>
                <li>
                  <span><img src="assets/images/onboard.png" alt="onboard"></span>
                  <h4>Onboard Talent</h4>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    <!-- END GLOBAL SECTION -->
   <!-- START CLIENT SECTION -->
       <section class="clientSection clientSectionSec" *ngIf="isloaded">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-12">
                <h4 class="hiringCompany">Company Hiring from Us</h4>
                <div class="clientLogo">
                  <owl-carousel
                  [options]="emplorerSlideOptions"
                  [carouselClasses]="['owl-theme', 'sliding']"
                  >
                  <div class="item" *ngFor="let image of emplorerSlideImages;index as i">
                    <a href="javascript:void(0)" [routerLink]="['/']">
                      <div class="clientLogoContainer">
                          <img src={{image.company_logo}}/>
                          <span class="jobCount">{{image.employer_job_count}}</span>
                      </div>
                    </a>  
                      <!-- <div class="clientLogoContainer">
                          <img src={{image}}/>
                          <span class="jobCount">1</span>
                      </div> -->
                  </div>

                </owl-carousel>

                </div>
              </div>
            </div>
            <a class="scrolltotop" href="javascript:void(0)" (click)="scroleToTop()"></a>
          </div>
      </section>
    <!-- END CLIENT SECTION -->


