<section class="registrationForm employerInnerSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h2 class="pageTitle">Premium International Posted Job</h2>
              <div class="postedjobOuter">
                <div class="postedjobTable">
                  <div class="postedjobRow">
                    <div class="postedjobCol postedjobHead">
                      <p>Job<br/> Title</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Created<br/>Date</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Published <br/>Date</p>
                    </div>
                    <div class="postedjobCol postedjobHead" style="width: 10%">
                      <p>Republished<br/> Date</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Expiry<br/> Date</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Republish</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Location</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>CV <br/>Received</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Post Views</p>
                    </div>
                    <div class="postedjobCol postedjobHead">
                      <p>Action</p>
                    </div>
                  </div>
                <ng-container *ngFor="let jobs of job_lists; index as i">
                  <div class="postedjobRow">
                    <div class="postedjobCol">
                      <p><a href="javascript:void(0)" class="jobLink">{{jobs?.job_title}}</a></p>
                    </div>
                    <div class="postedjobCol">
                      <p>{{jobs?.created_at }}</p>
                    </div>
                    <div class="postedjobCol">
                      <p>{{jobs?.published_date}}</p>
                    </div>
                    <div class="postedjobCol">
                      <p>{{jobs?.republished_date}}</p>
                    </div>
                    <div class="postedjobCol">
                      <p>{{jobs?.expiry_at}}</p>
                    </div>
                    <div class="postedjobCol">
                      <p *ngIf="jobs.republish_show"><a href="javascript:void(0)" (click)="republishedJob(jobs._id, i)" class="republish">Republish</a></p>
                      <p *ngIf="jobs.is_published == 0"><a href="javascript:void(0)" (click)="publishedJob(jobs._id, i)" class="republish">Publish</a></p>
                      <p *ngIf="jobs.is_published == 1"><a href="javascript:void(0)" class="republish disabled">Published</a></p>
                    </div>
                    
                    <div class="postedjobCol">
                      <p>{{jobs?.country_location}}</p>
                    </div>
                    <div class="postedjobCol">
                      <p><a href="javascript:void(0)">{{jobs?.applied_job_count}}</a></p>
                    </div>
                    <div class="postedjobCol">
                      <p>{{jobs?.job_views}}</p>
                    </div>
                    <div class="postedjobCol">
                      <a href="javascript:void(0)" [routerLink]="['/employer/premium-international-job/edit', jobs?._id]" title="edit"><img src="assets/images/pencilIcon.png"></a>
                      <a href="javascript:void(0)" (click)="removeJob(jobs?._id, i)" title="remove"><img src="assets/images/cancel.png"></a>
                      <div class="switch">
                        <label>
                          <input type="checkbox" [(ngModel)]="jobs.select" value="{{jobs?._id}}" name="check_active_{{jobs?._id}}" (ngModelChange)="setStatus($event, jobs?._id)">
                          <span class="lever"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  </ng-container>
                  <div class="postedjobRow" *ngIf="pagedItems && pagedItems.length ==0">
                    <div class="postedjobCol">
                      <p style="text-align: center;">No Data Available</p>
                    </div>
                  </div>

                </div>
                <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                  <li [ngClass]="{disabled:pager.currentPage === 1}"><a
                  (click)="setPage(1)"></a></li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}"><a
                            (click)="setPage(pager.currentPage - 1)"></a></li>
                    <li *ngFor="let page of pager.pages"
                            [ngClass]="{active:pager.currentPage === page}"><a
                            (click)="setPage(page)">{{page}}</a></li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.currentPage + 1)"></a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.totalPages)"></a>
                    </li>
                </ul>
                <!-- <ul class="pagination" *ngIf='jobs'>
                  <li [ngClass]="{'current': i== active_page}" *ngFor="let page_no of pagination(); index as i;"><a href="javascript:void(0)"  (click)="paginationCall(i)">{{page_no}}</a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </section>