
		<div class="modalholder recruiterstep1">
			<div class="modalheader"> 
				<a class="cross" href="javascript:void(0)" (click)="handleClose()"><i class="fa fa-times" aria-hidden="true"></i></a>
			</div>
			<div class="modalbody"> 
				<div class="modalform">
					<h3>Trainer Application Form</h3>
					<form [formGroup]="registrationForm">
					<div class="form-inline3">
						<div class="form-group">
							<input type="text" class="name" name="" placeholder="First Name" formControlName="name">
							 <span *ngIf="validation_errors && validation_errors.name"
                              class="form-error">{{validation_errors.name[0]}}
                           </span>
						</div>
						<div class="form-group">
							<input type="text" class="name" name="" placeholder="Midddle Name" formControlName="mid_name">
						</div>
						<div class="form-group">
							<input type="text" class="name" name="" placeholder="Last Name" formControlName="family_name">
							 <span *ngIf="validation_errors && validation_errors.family_name"
                              class="form-error">{{validation_errors.family_name[0]}}
                           </span>
						</div>
					</div>
					<div class="form-inline3">
						<div class="form-group">
							<input type="text" class="mobile" name="" placeholder="Phone" formControlName="phone_no">
							<span *ngIf="validation_errors && validation_errors.phone_no"
                              class="form-error">{{validation_errors.phone_no[0]}}
                           </span>
						</div>
						<div class="form-group">
							<input type="text" class="email" name="" placeholder="Email Address" formControlName="email">
							 <span *ngIf="validation_errors && validation_errors.email"
                              class="form-error">{{validation_errors.email[0]}}
                           </span>
						</div>
						<div class="form-group">
							<input type="text" class="skype" name="" formControlName="skype_id" placeholder="Skype">
							 <span *ngIf="validation_errors && validation_errors.skype_id"
                              class="form-error">{{validation_errors.skype_id[0]}}
                           </span>
						</div>
					</div> 
					<div class="form-inline3">
						<div class="form-group"> 
							<input type="radio" id="Male" name="gender"  value="1" formControlName="gender"/>
							<label for="Male">Male</label>
						</div>
						<div class="form-group"> 
							<input type="radio" id="Female" name="gender" value="2" formControlName="gender"/>
							<label for="Female">Female</label>
						</div>
						<div class="form-group"> 
							<input type="radio" id="Custom" name="gender" value="3" formControlName="gender"/>
							<label for="Custom">Custom</label>
						</div>
					</div> 
					<span *ngIf="validation_errors && validation_errors.gender" class="form-error gnder-error">{{validation_errors.gender[0]}}</span>

					<div class="form-inline3">
						<div class="form-group">
							<input type="text" class="date" name="" placeholder="Date of Birth" dateInput format="d/m/Y" mode="single" formControlName="date_of_birth" maxdate="{{prevEighteenYearDate}}">
							 <span *ngIf="validation_errors && validation_errors.date_of_birth"
                              class="form-error">{{validation_errors.date_of_birth[0]}}
                           </span>
						</div>
						<div class="form-group">
							<select class="country" formControlName="country_id">
								<option value="">Country</option>
                              	<option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
							</select>
							<span *ngIf="validation_errors && validation_errors.country_id"
                              class="form-error">{{validation_errors.country_id[0]}}
                           </span>
						</div> 
						<div class="form-group">
							<select class="country" formControlName="city_id">
							  <option value="">City</option>
                              <option value="{{city._id}}" *ngFor="let city of coutryWiseCity">{{city.name}}</option>
							</select>
							<span *ngIf="validation_errors && validation_errors.city_id"
                               class="form-error">{{validation_errors.city_id[0]}}
                           </span>
						</div>
					</div> 
					<div class="form-inline">
						<div class="form-group"> 
							<input name="trainer_type" id="jbt" value="1" type="radio" formControlName="trainer_type">
							<!-- <input type="radio" id="jbt" name="trainer" value="1" formControlName="trainer_type"/> -->
							<label for="jbt">Job Trainer</label>
						</div>
						<div class="form-group">
							<input name="trainer_type" id="vtr" value="2" type="radio" formControlName="trainer_type"> 
							<!-- <input type="radio" id="vtr" value="2" name="trainer" formControlName="trainer_type"/> -->
							<label for="vtr">Visa Trainer</label>
						</div> 						 
					</div> 
					<span *ngIf="validation_errors && validation_errors.trainer_type"
                              class="form-error gnder-error">{{validation_errors.trainer_type[0]}}
                    </span>

					<div class="form-group">
						<input type="text" class="address" placeholder="Postal Address" formControlName="address">
						 <span *ngIf="validation_errors && validation_errors.address"
                              class="form-error">{{validation_errors.address[0]}}
                        </span>
					</div> 
					<div class="form-inline">
						<div class="form-group"> 
							<select class="industry" formControlName="industry_id">
								<option value="">Select industry</option>
                              	<option value="{{industry._id}}" *ngFor="let industry of industries">{{industry.name}}</option>
							</select>
							<span *ngIf="validation_errors && validation_errors.industry_id"
                              class="form-error">{{validation_errors.industry_id[0]}}
                           </span>
						</div>
						<div class="form-group"> 
							<input type="text" class="name" name="" placeholder="Your Designation" formControlName="current_designation"/>
							<span *ngIf="validation_errors && validation_errors.current_designation"
                              class="form-error">{{validation_errors.current_designation[0]}}
                           </span>
						</div> 
					</div>
					<div class="form-group">
						<!-- <input type="text" class="company" placeholder="Add Skill"> -->
						 <tag-input [(ngModel)]='skill_key'  [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Add skills" placeholder="+ skill" addOnBlur="addOnBlur" class="industry skillinsdustry">
                                        <tag-input-dropdown [autocompleteItems]="skill_data" >
                                        </tag-input-dropdown>
                                     </tag-input>
                       <span *ngIf="validation_errors && validation_errors.skills"
                              class="form-error">{{validation_errors.skills[0]}}
                            </span>
					</div> 
					<div class="form-inline">
						<div class="form-group"> 
							<div class="input-field value degree-hlder">
                            <span class="icon experienceIcon"></span>
                              <div class="input_text">
                                
                                  <span class="dropdown-search">  
									<div class="add-slect-wrp">
										
										<ng-container *ngFor="let educationValue of storeMultiSelect.education_name; index as i;">
											<span class="selected-span" *ngIf="getSubData(educationValue,'education')== ''">{{educationValue.length > 10 ? educationValue.slice(0,10)+ '...': educationValue}}<span class="cross_icon"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'education')"></i></span></span>
			
											<span class="selected-span" (mouseenter)="show_sub_under[i]= true;" (mouseleave)="show_sub_under[i]= false;" *ngIf="getSubData(educationValue,'education')!= ''">{{educationValue}} <span class="sub_selection" *ngIf="!show_sub_under[i]">{{getSubData(educationValue,'education')}}</span><span class="cross_icon" *ngIf="show_sub_under[i]"><i class="fa fa-times del" aria-hidden="true" (click)="removeMultiSelect(i, 'education')"></i></span></span>
											</ng-container>
									</div>
                                    <input type="text" class="degree multiselect-text-input " name="education" autocomplete="off" placeholder="Select your highest education" (click)="getOnchangeEvent('education')">
                                    <app-multi-sub-select *ngIf="educationDiv" 
                                                   [mainDataArray]="degreeData"
                                                   [storedValue]="storeMultiSelect.education_value"
                                                   [storedName]="storeMultiSelect.education_name" 
                                                   [storedSubValue]="storeMultiSelect.education_sub_value"  
                                                   [field_name] ="'education'"
                                                   (sendDataEvent)="getChange($event)" 
                                                   (sendSubDataEvent)="getSubChange($event)"
                                                   (checkOutsideEvent)="checkmultiselect($event)" 
                                                   (multidataSelect)="multiselectAll($event)">                                 
									</app-multi-sub-select>
									
									
                                  </span>
                                </div> 
                                                      
                          </div>
                          <span *ngIf="validation_errors && validation_errors.highest_education"
                              class="form-error">{{validation_errors.highest_education[0]}}
                            </span>
						</div>
						<div class="form-group"> 
							 <select formControlName="year_of_exp" class="name">
                              <option value="">Year of experience</option>
                              <option *ngFor="let ex_year of expYears" value="{{ex_year._id}}">{{ex_year.name}}</option>
                            </select>
                            <span *ngIf="validation_errors && validation_errors.year_of_exp"
                              class="form-error">{{validation_errors.year_of_exp[0]}}
                           </span>
						</div> 
					</div> 
					<div class="form-group"> 
						<textarea placeholder="Few words about your profile" formControlName="about_profile" [ngxSummernote]="aboutconfig"></textarea>
						<span *ngIf="validation_errors && validation_errors.about_profile"
                              class="form-error">{{validation_errors.about_profile[0]}}
                        </span>
					</div>
					<div class="form-inline">
						<div class="form-group">
							<input type="file" class="upload" id="cvtr" name="" (change)="eventUpload($event, 'cv')">
							<span class="filecustom">{{registrationForm.get('cv_path').value?registrationForm.get('cv_path').value.name:'Upload CV'}}<label for="cvtr">Browse</label></span>
							 <span *ngIf="validation_errors && validation_errors.cv_path"
                              class="form-error">{{validation_errors.cv_path[0]}}
                           </span>
						</div>
						<div class="form-group">
							<input type="file" class="upload" id="phototr" name="" (change)="eventUpload($event, 'photo')">
							<span class="filecustom">{{registrationForm.get('profile_image').value?registrationForm.get('profile_image').value.name:'Photo'}}<label for="phototr">Browse</label></span>
							<div class="uploadedImg" *ngIf="registrationForm.get('profile_image').value">
                              <a href="javascript:void(0)"><img src="assets/images/cancel.png" (click)="removelogo('photo')"></a>
                              <img src="{{ trainer_profile_image}}">
                            </div>
						</div>
					</div>    
					<div class="form-group">
						<input type="file" class="upload" id="idtr" name="" (change)="eventUpload($event, 'id_card')">
						<span class="filecustom">{{registrationForm.get('identity_proof').value?registrationForm.get('identity_proof').value.name:'Upload Id'}}<label for="idtr">Browse</label></span>
						
                        <div class="uploadedImg" *ngIf="registrationForm.get('identity_proof').value">
                          <a href="javascript:void(0)"><img src="assets/images/cancel.png" (click)="removelogo('id_card')"></a>
                          <img src="{{ trainer_identity_proof}}">
                        </div>
                        <span *ngIf="validation_errors && validation_errors.identity_proof && !registrationForm.get('identity_proof').value"
                            class="form-error">{{validation_errors.identity_proof[0]}}
                        </span>
					</div> 
					<h4>Bank Dteails</h4>
					<div class="form-inline3">
						<div class="form-group">
							<input type="text" class="bank" name="" placeholder="Name of Account Holder" formControlName="name_account_holder">
							<span *ngIf="validation_errors && validation_errors.name_account_holder"
                              class="form-error">{{validation_errors.name_account_holder[0]}}
                            </span>
						</div>
						<div class="form-group">
							<input type="text" class="bank" name="" placeholder="Bank Name" formControlName="bank_name">
							<span *ngIf="validation_errors && validation_errors.bank_name"
                              class="form-error">{{validation_errors.bank_name[0]}}
                            </span>
						</div>
						<div class="form-group">
							<input type="text" class="bank" name="" placeholder="Account Number" formControlName="account_no">
							<span *ngIf="validation_errors && validation_errors.account_no"
                              class="form-error">{{validation_errors.account_no[0]}}
                            </span>
						</div>
					</div> 
					<div class="form-inline3">
						<div class="form-group">
							<input type="text" class="bank" name="" placeholder="Swift Code" formControlName="swift_code">
							 <span *ngIf="validation_errors && validation_errors.swift_code"
                              class="form-error">{{validation_errors.swift_code[0]}}
                            </span>
						</div>
						<div class="form-group">
							<input type="text" class="bank" name="" placeholder="IFSC Code" formControlName="ifsc_code">
							<span *ngIf="validation_errors && validation_errors.ifsc_code"
                              class="form-error">{{validation_errors.ifsc_code[0]}}
                            </span>
						</div>
						<div class="form-group">
							<input type="text" class="bank" name="" placeholder="Bank Postal Address" formControlName="bank_portal_address">
							<span *ngIf="validation_errors && validation_errors.bank_portal_address"
                              class="form-error">{{validation_errors.bank_portal_address[0]}}
                            </span>
						</div>
					</div> 

					<div class="form-group flx-frm-group">
						<input class="declareCheck" type="checkbox" name="" formControlName="declaration_user">
						<label><span>Declaration by the user</span>  (I hereby declare that the information given in this application is true and correct to the best of my knowledge and belief of the company. In case any information given in this application proves to be false or incorrect, I shall be responsible for the consequences.)</label>
						 <p *ngIf="validation_errors && validation_errors.declaration_user" class="form-error">{{validation_errors.declaration_user[0]}}
                      	</p>
					</div>
					<div class="form-group">
						 <p>By clicking Agree & Join, you agree to the bsbstaffing <a href="legal/user-agreement" target="_blank">User Agreement </a>, <a href="legal/privacy-policy" target="_blank">Privacy Policy</a>, <a href="legal/terms-conditions" target="_blank">Terms And Conditions</a> and <a href="legal/cookie-policy" target="_blank">Cookie Policy</a>.</p>
					</div>
					<div class="form-group">
						<button type="submit" (click)="submit($event)" [disabled]="showloader"><img src="assets/images/calender.png" alt="calender"/> Agree & Join <i class="fa fa-refresh fa-spin" style="font-size:24px" *ngIf="showloader"></i></button>
					</div>
					<div class="mbtnholder">
						Already member? <a class="logout" href="javascript:void(0)" (click)="handleLogin()">login NOW</a>
					</div>
					</form>
				</div>
			</div>
		</div>	