.emailpreview tr{ border: none;}
.emailpreview td{ padding: 0; text-align: initial;}
.emailpreview  table{    border-collapse: initial;}
.emailpreview .submitOuter{ text-align: center;}
.emailpreview .submitOuter .blueBtn{ padding: 8px 20px; margin-right: 5px; font-size: 16px; }