<section class="registrationForm emailpreview employerInnerSection">
  <div class="container">
    <h2 class="pageTitle">Email Template Preview</h2>
    <div style="font-family: 'arial', helvetica ,sans serif ; margin: 0 auto; max-width: 800px;">
      <table cellspacing="0" border="0" align="center" width="800" cellspadding="0" style="font-size: 14px; line-height: 26px; padding: 10px; border: 1px solid #ddd; color: #000;">
        <tr>
          <td style="padding: 0 0 15px;">
            <table cellpadding="0" cellspacing="0" style="width: 100%; font-size: 14px; line-height: 26px;">
              <tr>
                <td align="left" valign="middle" style="width: 50%;">
                  <table cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tr>
                      <td align="left" valign="middle">
                        <h3 style="margin: 0 0 10px; font-weight: bold; text-transform: initial; font-size: 22px; line-height:25px; color: #2a3689;">{{templateData.job_title}}</h3>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle">
                        <p style="margin: 0 0 10px;">{{templateData.comp_name}}</p>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle" style="padding: 0 0 10px;">
                        <!-- <a href="javascript:void(0)" style="display: inline-block; text-transform: uppercase; padding: 5px 15px; color: #fff; border-radius: 4px; background: #e21f26; text-decoration: none; letter-spacing: 1px; margin-right:5px; font-weight: 400;">save job</a> -->
                          <a href="javascript:void(0)" style="display: inline-block; text-transform: uppercase; padding: 5px 15px; color: #fff; border-radius: 4px; background: #e21f26; text-decoration: none; letter-spacing: 1px; font-weight: 400;">apply now</a>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle">
                          <span style="display: inline-block; vertical-align: middle; font-weight: 600; margin: 0 2px; text-transform: uppercase;">Share</span>
                          <a href="javascript:void(0)" style="display: inline-block; vertical-align: middle; font-weight: 600; margin: 0 2px; text-transform: uppercase;">
                            <img src="https://bsbinternational.org.uk/emailer/job/images/facebook.png" alt="facebook"/>
                          </a>
                          <a href="javascript:void(0)" style="display: inline-block; vertical-align: middle; font-weight: 600; margin: 0 2px; text-transform: uppercase;">
                            <img src="https://bsbinternational.org.uk/emailer/job/images/twitter.png" alt="twitter"/>
                          </a>
                          <a href="javascript:void(0)" style="display: inline-block; vertical-align: middle; font-weight: 600; margin: 0 2px; text-transform: uppercase;">
                            <img src="https://bsbinternational.org.uk/emailer/job/images/linkedin.png" alt="linkedin"/>
                          </a>
                          <a href="javascript:void(0)" style="display: inline-block; vertical-align: middle; font-weight: 600; margin: 0 2px; text-transform: uppercase;">
                            <img src="https://bsbinternational.org.uk/emailer/job/images/email.png" alt="email"/>
                          </a>
                      </td>
                    </tr>
                  </table> 
                </td>
                <td align="center" valign="middle" style="width: 50%; text-align: center;">
                  <img style="margin: 0 0 20px;" src="{{userData?.user_detail?.company_logo}}" alt="aloftLogo1"/>
                  <table cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tr>
                      <td align="center" valign="middle" style="display:block; text-align:center;">
                        <span style="display: inline-block; vertical-align: top;"><img src="https://bsbinternational.org.uk/emailer/job/images/quote1.png" alt="quote"/></span>
                        <p style="display: inline-block; vertical-align: top; padding: 0 5px; font-style: italic; text-align: center; max-width: 80%; margin: 0;">{{userData?.user_detail?.company_tagline}}</p>
                        <span style="display: inline-block; vertical-align: bottom;"><img src="https://bsbinternational.org.uk/emailer/job/images/quote2.png" alt="quote"/></span>
                      </td>
                    </tr>
                  </table> 
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="left" valign="middle" style="padding: 10px; background: #f5f5f5;">
            <table style="width: 100%; font-size: 14px; line-height: 26px;">
              <tr>
                <td style="padding: 10px; background: #fff;">
                  <h3 style="margin: 0 0 15px; font-size: 20px; line-height: 22px; font-weight: 600; color: #1b2d8f; text-transform: capitalize;">about this job</h3>
                  
                  <div class="editorview" innerHtml="{{templateData?.about_job}}"></div>
                </td>
              </tr>
              <tr>
                <td style="padding: 0; height:10px; line-height: 0;"></td>
              </tr>
              <tr>
                <td style="margin: 0 0 15px; padding: 10px; background: #fff;"> 
                  
                  <p style="margin: 0 0 10px;"><strong>Salary :</strong> Min {{templateData.min_salary}} - Max {{templateData.max_salary}} {{templateData.currency_type}}/{{templateData.salary_type}}</p>
                  <p style="margin: 0 0 10px;"><strong>Years of Experience :</strong> {{templateData.min_exp}} - {{templateData.max_exp}} years</p>
                  
                  <p style="margin: 0 0 10px;"><strong>Language Preference :</strong> {{templateData.language_pref}}</p>
                </td>
              </tr>
              <tr>
                <td style="padding: 0; height:10px; line-height: 0;"></td>
              </tr>
              <tr>
                <td style="margin: 0 0 15px; padding: 10px; background: #fff;">
                  <h3 style="margin: 0 0 15px; font-size: 20px; line-height: 22px; font-weight: 600; color: #1b2d8f; text-transform: capitalize;">Primary Responsibilities</h3>
                   <ul style="padding: 0 0 0 0; list-style: none;">
                      <div class="editorview" innerHtml="{{templateData?.responsibility}}"></div>
                  </ul> 
                </td>
              </tr>
              <tr>
                <td style="padding: 0; height:10px; line-height: 0;"></td>
              </tr>
              <tr>
                <td style="margin: 0 0 15px; padding: 10px; background: #fff;">
                  <h3 style="margin: 0 0 15px; font-size: 20px; line-height: 22px; font-weight: 600; color: #1b2d8f; text-transform: capitalize;">Benefits</h3>
                   <ul style="padding: 0 0 0 0; list-style: none;">
                      <div class="editorview" innerHtml="{{templateData?.benefit}}"></div>
                  </ul> 
                </td>
              </tr>
              <tr>
                <td style="padding: 0; height:10px; line-height: 0;"></td>
              </tr>
              <tr>
                <td style="margin: 0 0 15px; padding: 10px; background: #fff;">
                  <h3 style="margin: 0 0 15px; font-size: 20px; line-height: 22px; font-weight: 600; color: #1b2d8f; text-transform: capitalize;">Special Note For Employees</h3>
                  <div class="editorview" innerHtml="{{templateData?.special_note}}"></div>
                  <table style="width: 100%;">
                    <tr>
                      
                      <td align="right" valign="middle" style="width: 50%; padding: 0 0 15px;"> 
                        <!-- <a href="javascript:void(0)" style="display: inline-block; text-transform: uppercase; padding: 5px 15px; color: #fff; border-radius: 4px; background: #e21f26; text-decoration: none; letter-spacing: 1px; font-weight: 400; margin-right:5px;">save job</a> -->
                          <a href="javascript:void(0)" style="display: inline-block; text-transform: uppercase; padding:5px 15px; color: #fff; border-radius: 4px; background: #e21f26; text-decoration: none; letter-spacing: 1px; font-weight: 400;">apply now</a>
                      </td>
                    </tr>
                  </table>
                  <table style="width: 100%; line-height: 0;">
                    <tr>
                      <td>
                        <span style="display: inline-block; vertical-align: middle; font-weight: 600; margin: 0 2px; text-transform: uppercase;">Share</span>
                          <a href="javascript:void(0)" style="display: inline-block; vertical-align: middle; font-weight: 600; margin: 0 2px; text-transform: uppercase;">
                            <img src="https://bsbinternational.org.uk/emailer/job/images/facebook.png" alt="facebook"/>
                          </a>
                          <a href="javascript:void(0)" style="display: inline-block; vertical-align: middle; font-weight: 600; margin: 0 2px; text-transform: uppercase;">
                            <img src="https://bsbinternational.org.uk/emailer/job/images/twitter.png" alt="twitter"/>
                          </a>
                          <a href="javascript:void(0)" style="display: inline-block; vertical-align: middle; font-weight: 600; margin: 0 2px; text-transform: uppercase;">
                            <img src="https://bsbinternational.org.uk/emailer/job/images/linkedin.png" alt="linkedin"/>
                          </a>
                          <a href="javascript:void(0)" style="display: inline-block; vertical-align: middle; font-weight: 600; margin: 0 2px; text-transform: uppercase;">
                            <img src="https://bsbinternational.org.uk/emailer/job/images/email.png" alt="email"/>
                          </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding: 0; height:10px; line-height: 0;"></td>
        </tr>
        <tr>
          <td align="left" valign="middle" style="padding: 8px; border: 1px solid #ddd;">
             <table cellpadding="0" cellspacing="0" style=" font-size: 13px; line-height: 18px; width: 100%;">
                <tr>
                  <td style="padding: 0 0 5px; ">
                    <h3 style="font-size: 14px; line-height: 16px; color: #000;
                    font-weight: 600; margin: 0; padding: 0 0 5px; border-bottom: 1px solid #000;">Disclaimer:</h3>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 0 0 10px;">
                    <p style="margin: 0;">
                      The sender of this email is registered with <a style="display: inline-block;" target="_blank" href={{baseUrlPath}}>bsbstaffing.com</a> as B. S. B. International Career Pvt Ltd registered Office address: 8 Abanindra Nath Thakur Sarani, 10th Floor, Suite No 13, KOLKATA, West Bengal - 700017) using <a style="display: inline-block;" target="_blank" href={{baseUrlPath}}>bsbstaffing.com</a> services. The responsibility of checking the authenticity of offers/correspondence lies with you. If you consider the content of this email inappropriate or spam, you may: Forward this email to:  <a style="display: inline-block;" href="mailto:support@bsbstaffing.com">support@bsbstaffing.com</a> or you can Block this Company from searching your resume in the database. 
                    </p>
                    <p style="margin: 0;">
                       <b>Please Note:</b> This mail is a private message from the recruiter. We have enabled auto login for your convenience, you are strongly advised not to forward this email to protect your account from unauthorized access.
                    </p>
                    <p style="margin: 0;"><b>Advisory:</b> Please do not pay any money to anyone who promises to find you a job. This could be in the form of a registration fee or document processing fee or visa charges or any other pretext. The money could be asked for upfront or it could be asked after trust has been built after some correspondence has been exchanged. Also please note that in case you get a job offer or a letter of intent without having been through an interview process it is probably a scam and you should contact <a style="display: inline-block;" href="mailto:support@bsbstaffing.com">support@bsbstaffing.com</a> for advice. </p>
    
                  </td>
                </tr>
                <tr>
                  <td align="center" valign="middle" style="padding:12px 10px; font-size: 16px; line-height: 18px; border-radius: 2px;
                  background: #f4fcff; border: 1px solid #d1f1fe;">
                     <p style="margin: 0;"><a href="javascript:void(0)" style="color: #559be5; display: inline-block; font-weight: 600;">Update Your Resume Now</a> to be on the top of Employer's Resume Search</p>
                  </td>
                </tr>
                  <tr>
                    <td style="padding: 0; height:5px; line-height: 0;"></td>
                  </tr>
                 
                  <tr>
                    <td style="padding: 0; height:5px; line-height: 0;"></td>
                  </tr>
                <tr>
                  <td align="center" valign="middle" style="padding:5px 10px; font-size: 14px; font-weight: 600; line-height: 24px; border-radius: 2px;
                  background: #e9e9e9; border: 1px solid #b7b7b7;">
                     <p style="margin: 0;"><a href="#" data-toggle="modal" data-target="#myModal" style="color: #559be5; display: inline-block;">Third-party payment obligation</a></p>
                  </td>
                </tr>
             </table>
          </td>
        </tr>
      </table>
      <div class="submitOuter">
          <button type="submit" class="blueBtn" (click)="editTemplate()">Edit</button>
          <button type="submit" class="blueBtn" (click)="saveForm()" *ngIf="!previewData.id">Save</button>
          <button type="submit" class="blueBtn" (click)="updateForm()" *ngIf="previewData.id">Update</button>                      
          <!-- <button type="submit" (click)="submitPost()" *ngIf="!job_id">Submit </button> -->
          <!-- <button type="submit" (click)="updateForm()" *ngIf="job_id">Update </button> -->
       </div>
    </div>
    
  </div>

        <div  class="modal profilepageModal compny-prfile-mdl modal-md" tabindex="-1" role="dialog" id="myModal">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Third-party payment obligation</h4>
        </div>
        <div class="modal-body">
          <p><a style="display: inline-block;" target="_blank" href={{baseUrlPath}}>bsbstaffing.com</a> will like to make our users/members aware of possible fraudulent behavior that they may come across while using our services. Though we try our best to make sure we check the information of the users when they open their account with us, it is not 100% possible to avoid malicious accounts. Such scams may happen in the following manner:</p>
          <ul>
            <li>The recruitment company may send the user offer letter on the first round itself without proper interview or any such a screening process or after a basic screening process. After the user has correspondence with them, and a trust has been gained, then they might ask for a fee to further process their job application.</li>
            <li>Some recruiter may promise guaranteed jobs against a payment.</li>
            <li>Fees may be asked as registration fee, visa processing fee, documentation fee, interview arrangement fee, etc.</li>
            <li>Some recruiters/employers may ask for a “training fee” for training the user before offering you any job.</li>
          </ul>
          <p>The user is advised against making any payment to such recruiters/employers. <a style="display: inline-block;" target="_blank" href={{baseUrlPath}}>bsbstaffing.com</a> is not responsible for such a payment made to a third-party even if they have been contacted while using bsbstaffing.com services. We are not responsible in any manner or form for any monetary loss the user/member may incur if they make payment to such third-party. If a user comes across such fraudulent recruiter/employer, they are advised to write to us at <a style="display: inline-block;" href="mailto:complain@bsbstaffing.com">complain@bsbstaffing.com</a> while pursuing other legal options to get back their money. We can’t help regarding such legal options, but we will delete the account of such a recruiter/employer and ban them from our website if the complaint is justified and evidence is provided of their misdeed.</p>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
  </div>

</section>