<!-- START BANNER SECTION -->
<section class="bannerSection innerBanner other1InnerSection">
   <img src="assets/images/agencyBanner1.png" alt="registrationBanner">
    <h2>Schedule</h2>
</section>
<!-- END BANNER SECTION -->
<!-- START BREADCRUMB SECTION -->
<!-- <section class="breadcrumbSection breadcrumbSectionSec">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-md-12 col-12">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/trainer/home']">Home</a></li>
               <li class="current"><span>Trainer Schedule</span></li>
            </ul>
         </div>
      </div>
   </div>
</section> -->
<section class="analyticsDeails">
    <div class="container">
      
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">    
          <div class="sturecordBlock">
            <div class="sturecordBlockOuter">
              <div class="sturecordBlockInner">
                <a href="javascript:void(0)" [routerLink]="['/trainer/schedule-list']">
                  <h2>{{trainingCount}}</h2>
                  <p>My Training Schedule</p>
                </a>
              </div>
              <div class="sturecordBlockInner">
                <a href="javascript:void(0)" [routerLink]="['/trainer/booking-list']">
                  <h2>{{bookingCount}}</h2>
                  <p>No. of Booking</p>
                </a>
              </div>
              <!-- <div class="sturecordBlockInner">
                <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/analytic','prime-cv']">
                  <h2>{{allData ? allData.no_prime_cv:''}}</h2>
                  <p>Slot List</p>
                </a>
              </div> -->
              <div class="sturecordBlockInner">
                <a href="javascript:void(0)" [routerLink]="['/' + use_role +'/analytic','finance-summary']">
                  <h2>{{allData ? allData.finance_summary:''}}</h2>
                  <p>Finance Summary</p>
                </a>
              </div>
              
            </div>
  
          </div>   
        </div>
      </div>
    </div>
</section>
<section class="scheduleForm">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12 col-12">
            <h4>Set Your Training Schedule</h4>
          </div>
      </div>
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12 col-12">
        <div class="scheduleSelectOuter">
          <div class="scheduleSelectHead">                  
            <!-- <h4><a href="javascript:void(0)" class="prevCal" (click)="previousMonth(currentMonth)" *ngIf="currentMonth !=0"><img src="assets/images/leftArrow4.png"></a> <span>{{monthNames[this.currentMonth]}}</span> <a href="javascript:void(0)" class="nxtCal" (click)="nextMonth(currentMonth)" *ngIf="currentMonth !=11"><img src="assets/images/rightArrow7.png"></a></h4> -->
            <h4><a href="javascript:void(0)" class="prevCal" (click)="previousMonth(currentMonth)" *ngIf="allowPrevMonths.indexOf(currentMonth) != -1"></a><span>{{monthNames[currentMonth]}} {{currentYear}}</span> <a href="javascript:void(0)" class="nxtCal" (click)="nextMonth(currentMonth)" *ngIf="allowNxtMonths.indexOf(currentMonth) != -1"></a></h4>
          </div>
          <div class="scheduleSelectBody">
            <div class="scheduleSelectWeek">
              <div class="scheduleSelectWeekCol">
                <p>Sun</p>
              </div>
              <div class="scheduleSelectWeekCol">
                <p>Mon</p>
              </div>
              <div class="scheduleSelectWeekCol">
                <p>Tue</p>
              </div>
              <div class="scheduleSelectWeekCol">
                <p>Wed</p>
              </div>
              <div class="scheduleSelectWeekCol">
                <p>Thr</p>
              </div>
              <div class="scheduleSelectWeekCol">
                <p>Fri</p>
              </div>
              <div class="scheduleSelectWeekCol">
                <p>Sat</p>
              </div>

            </div>
            <ng-container *ngFor="let row of totRows; index as i;">
            <div class="scheduleSelectDay">
              <div class="scheduleSelectDayCol">
                <label [ngClass]="{'checkedSchedule':selected_date == getdateNumber(i, 0), 'savedSchedule':savedScheduleDates.indexOf(getdateNumber(i, 0)) != -1}" [style.border]="getdateNumber(i, 0)? '1px solid #b7b5b5': ''">
                  <input type="checkbox" name="" [(ngModel)]="dateModel[getdateNumber(i, 0)]" *ngIf="getdateNumber(i, 0)" (ngModelChange)="setSchedule($event,getdateNumber(i, 0))">
                  <span>{{getdateNumber(i, 0)}}</span>
                </label>
              </div>
              <div class="scheduleSelectDayCol">
                <label [ngClass]="{'checkedSchedule':selected_date == getdateNumber(i, 1), 'savedSchedule':savedScheduleDates.indexOf(getdateNumber(i, 1)) != -1}" [style.border]="getdateNumber(i, 1)? '1px solid #b7b5b5': ''">
                  <input type="checkbox" name="" [(ngModel)]="dateModel[getdateNumber(i, 1)]" *ngIf="getdateNumber(i, 1)" (ngModelChange)="setSchedule($event,getdateNumber(i, 1))">
                  <span>{{getdateNumber(i, 1)}}</span>
                </label>
              </div>
              <div class="scheduleSelectDayCol">
                <label [ngClass]="{'checkedSchedule':selected_date == getdateNumber(i, 2), 'savedSchedule':savedScheduleDates.indexOf(getdateNumber(i, 2)) != -1}" [style.border]="getdateNumber(i, 2)? '1px solid #b7b5b5': ''">
                  <input type="checkbox" name="" [(ngModel)]="dateModel[getdateNumber(i, 2)]" *ngIf="getdateNumber(i, 2)" (ngModelChange)="setSchedule($event,getdateNumber(i, 2))">
                  <span>{{getdateNumber(i, 2)}}</span>
                </label>
              </div>
              <div class="scheduleSelectDayCol">
                <label [ngClass]="{'checkedSchedule':selected_date == getdateNumber(i, 3), 'savedSchedule':savedScheduleDates.indexOf(getdateNumber(i, 3)) != -1}" [style.border]="getdateNumber(i, 3)? '1px solid #b7b5b5': ''">
                  <input type="checkbox" name="" [(ngModel)]="dateModel[getdateNumber(i, 3)]" *ngIf="getdateNumber(i, 3)" (ngModelChange)="setSchedule($event,getdateNumber(i, 3))">
                  <span>{{getdateNumber(i, 3)}}</span>
                </label>
              </div>
              <div class="scheduleSelectDayCol">
                <label [ngClass]="{'checkedSchedule':selected_date == getdateNumber(i, 4), 'savedSchedule':savedScheduleDates.indexOf(getdateNumber(i, 4)) != -1}" [style.border]="getdateNumber(i, 4)? '1px solid #b7b5b5': ''">
                  <input type="checkbox" name="" [(ngModel)]="dateModel[getdateNumber(i, 4)]" *ngIf="getdateNumber(i, 4)" (ngModelChange)="setSchedule($event,getdateNumber(i, 4))">
                  <span>{{getdateNumber(i, 4)}}</span>
                </label>
              </div>
              <div class="scheduleSelectDayCol">
                <label [ngClass]="{'checkedSchedule':selected_date == getdateNumber(i, 5), 'savedSchedule':savedScheduleDates.indexOf(getdateNumber(i, 5)) != -1}" [style.border]="getdateNumber(i, 5)? '1px solid #b7b5b5': ''">
                  <input type="checkbox" name="" [(ngModel)]="dateModel[getdateNumber(i, 5)]" *ngIf="getdateNumber(i, 5)" (ngModelChange)="setSchedule($event,getdateNumber(i, 5))">
                  <span>{{getdateNumber(i, 5)}}</span>
                </label>
              </div>
              <div class="scheduleSelectDayCol">
                <label [ngClass]="{'checkedSchedule':selected_date == getdateNumber(i, 6), 'savedSchedule':savedScheduleDates.indexOf(getdateNumber(i, 6)) != -1}" [style.border]="getdateNumber(i, 6)? '1px solid #b7b5b5': ''">
                  <input type="checkbox" name="" [(ngModel)]="dateModel[getdateNumber(i, 6)]" *ngIf="getdateNumber(i, 6)" (ngModelChange)="setSchedule($event,getdateNumber(i, 6))">
                  <span>{{getdateNumber(i, 6)}}</span>
                </label>
              </div>

            </div>
            </ng-container>

          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12 col-12">
        <div class="timeSelect" [ngStyle]="{'display':showForm?'block':'none'}">
          <!-- <select multiple class="multipleSelect">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select> -->
          <form [formGroup]="scheduleForm">
            <ng-container formArrayName="scheduleArray" *ngFor="let schedule of formData;let i = index;">
              <div class="row" [formGroupName]="i">            
                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                  <div class="input-field activeIcon">
                    <select formControlName="from_time">
                      <option value="">From Time</option>
                      <option value="01:00">01:00</option>
                      <option value="02:00">02:00</option>
                      <option value="03:00">03:00</option>
                      <option value="04:00">04:00</option>
                      <option value="05:00">05:00</option>
                      <option value="06:00">06:00</option>
                      <option value="07:00">07:00</option>
                      <option value="08:00">08:00</option>
                      <option value="09:00">09:00</option>
                      <option value="10:00">10:00</option>
                      <option value="11:00">11:00</option>
                      <option value="12:00">12:00</option>
                      <option value="13:00">13:00</option>
                      <option value="14:00">14:00</option>
                      <option value="15:00">15:00</option>
                      <option value="16:00">16:00</option>
                      <option value="17:00">17:00</option>
                      <option value="18:00">18:00</option>
                      <option value="19:00">19:00</option>
                      <option value="20:00">20:00</option>
                      <option value="21:00">21:00</option>
                      <option value="22:00">22:00</option>
                      <option value="23:00">23:00</option>
                      <option value="24:00">24:00</option>
                    </select>
                  </div>
                </div>
                <!-- <div class="col-lg-4 col-md-2 col-sm-12 col-12">
                  <div class="input-field">
                    <select formControlName="from_am_pm">
                      <option value="A.M.">A.M.</option>
                      <option value="P.M.">P.M</option>
                    </select>
                  </div>
                </div> -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                  <div class="input-field">
                    <select formControlName="to_time">
                      <option value="">To Time</option>
                      <option value="01:00">01:00</option>
                      <option value="02:00">02:00</option>
                      <option value="03:00">03:00</option>
                      <option value="04:00">04:00</option>
                      <option value="05:00">05:00</option>
                      <option value="06:00">06:00</option>
                      <option value="07:00">07:00</option>
                      <option value="08:00">08:00</option>
                      <option value="09:00">09:00</option>
                      <option value="10:00">10:00</option>
                      <option value="11:00">11:00</option>
                      <option value="12:00">12:00</option>
                      <option value="13:00">13:00</option>
                      <option value="14:00">14:00</option>
                      <option value="15:00">15:00</option>
                      <option value="16:00">16:00</option>
                      <option value="17:00">17:00</option>
                      <option value="18:00">18:00</option>
                      <option value="19:00">19:00</option>
                      <option value="20:00">20:00</option>
                      <option value="21:00">21:00</option>
                      <option value="22:00">22:00</option>
                      <option value="23:00">23:00</option>
                      <option value="24:00">24:00</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                  <div class="plusOuter">
                      <a href="javascript:void(0)" (click)="addScheduleArray()">
                        <!-- <i class="fa fa-plus"></i> -->
                        <img src="assets/images/add.png" alt="add">
                      </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                  <div class="plusOuter">
                    <a href="javascript:void(0)" (click)="deleteScheduleArray(i)" title="Delete" *ngIf="i!==0">
                      <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
                      <img src="assets/images/delete3.png" alt="delete">
                    </a> 
                  </div>
                </div>
                <!-- <div class="col-lg-4 col-md-2 col-sm-12 col-12">
                  <div class="input-field">
                    <select formControlName="to_am_pm">
                        <option value="A.M.">A.M.</option>
                        <option value="P.M.">P.M</option>
                    </select>
                  </div>                   
                </div> -->                  
              </div>
            </ng-container>
          </form>

          <div class="row">
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="input-field">
                <button type="submit" class="blueBtn" *ngIf="!isSaved" (click)="submitSchedule()" [disabled]="scheduleForm.invalid">Submit</button>
                <button type="submit" class="blueBtn" *ngIf="isSaved" (click)="updateSchedule()" [disabled]="scheduleForm.invalid">Update</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>