<section class="registrationForm employerInnerSection otherInnerSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      	<ng-container>
	        <div class="registrationFormOuter" *ngIf="!isEdit">
	          <h2 class="pageTitle">Profile Details</h2>
	          <div class="row">
	            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
	              <div class="profileInfoOuter">
	                <div class="row">
	                  <div class="col-lg-2 col-md-4 col-sm-12 col-12">
	                    <div class="profilePic">
	                      <img [src]="(user && user.user_detail && user.user_detail.profile_image_url)?user.user_detail.profile_image_url: 'assets/images/profilePic.png'">
	                      <div class="profilePicInner">
	                        <input type="file" name="" id="dp" (change)="updateImage($event)">
	                        <label for="dp"><img src="assets/images/changeIcon.png"> Update</label>
	                      </div>
	                    </div>
	                  </div>
	                  <div class="col-lg-10 col-md-8 col-sm-12 col-12">
	                    <div class="row">
	                      <div class="col-lg-10 col-md-6 col-sm-12 col-12">
	                        <div class="profileInfoInner">
	                          <h3>{{(user && user.user_detail)? user.user_detail.name : ''}}</h3>
	                          
	                          <div class="row">
	                      			<div class="col-lg-4 col-md-4 col-sm-12 col-12">
	                      				<p>Website: {{(user && user.user_detail)? user.user_detail.website : ''}}</p>
	                      			</div>
	                      			<div class="col-lg-4 col-md-4 col-sm-12 col-12">
	                      				<p>City : {{(user && user.user_detail && user.user_detail.city)? user.user_detail.city.name : ''}}</p>
	                      			</div>
	                      			<div class="col-lg-4 col-md-4 col-sm-12 col-12">
	                      				<p>Country : {{(user && user.user_detail && user.user_detail.country)? user.user_detail.country.name : ''}}</p>
	                      			</div>
	                      		</div>
	                      		<h5>Complete Address</h5>
	                      		<p>{{(user && user.user_detail)? user.user_detail.address : ''}}</p>
	                        </div>
	                      </div>
	                      <!-- <div class="col-lg-5 col-md-6 col-sm-12 col-12">
	                        <div class="profileInfoInner">
	                        	<h5>Contact Person</h5>
	                          <p><span>Name :</span> 40 yr</p>
	                          <p>Email : 8 years</p>
	                          <p><span>Phone No :</span> Kolkata</p>
	                          <p>Designation : Phd</p>
	                        </div>
	                      </div> -->
	                      <div class="col-lg-2 col-md-2 col-sm-12 col-12">
	                        <div class="profileEditOuter">
	                          <a href="javascript:void(0)" (click)="isEdit=true;"><img src="assets/images/pencilIcon.png" alt="pencilIcon"> Edit </a>
	                        </div>
	                      </div>
	                    </div>
	                  </div>
	                </div>                                                              
	                <!-- <div class="profileInfoInner">
	                  <h5>Attach Resume </h5>
	                  <div class="resumeholder">
	                    <span class="img"><img src="assets/images/resume1.png" alt="resume"></span>
	                    <span class="text">No CV Uploaded</span>
	                  </div>
	                </div>  -->
	                <div class="row">
	                  <div class="col-lg-6 col-md-6 col-sm-12 col-12"> 
	                    <div class="profileInfoInner">
	                      <h5>Contact Person</h5>
	                  		<p>Name: {{(user && user.user_detail)? user.user_detail.contact_person_name + ' '+user.user_detail.contact_person_lastname : ''}}</p>
	                  		<p>Designation: {{(user && user.user_detail)? user.user_detail.contact_person_designation : ''}}</p>
	                  		<p>Email: {{(user && user.user_detail)? user.user_detail.contact_person_email : ''}}</p>
	                  		<p>Phone: {{(user && user.user_detail)? user.user_detail.contact_person_phone : ''}}</p> 	
	                    </div> 
	                  </div>
	                  <div class="col-lg-6 col-md-6 col-sm-12 col-12"> 
	                    <div class="profileInfoInner">
	                      <h5>Bank Details</h5>
	                      <p>Account Holder Name: {{(user && user.user_detail)? user.user_detail.name_account_holder : ''}}</p>
	                      <p>Bank Name: {{(user && user.user_detail)? user.user_detail.bank_name : ''}}</p>
	                      <p>Account No: {{(user && user.user_detail)? user.user_detail.account_no : ''}}</p>
	                      <p>Swift Code: {{(user && user.user_detail)? user.user_detail.swift_code : ''}}</p>
	                      <p>IFSC Code: {{(user && user.user_detail)? user.user_detail.ifsc_code : ''}}</p>
	                      <p>Address: {{(user && user.user_detail)? user.user_detail.bank_portal_address : ''}}</p>
	                    </div>
	                  </div>                  
	                </div>
	                <div class="row">
              			<div class="col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="user.user_detail.registry_certificate_url">
              				<h4>Registration Certificate</h4>
              				
              				<img [src]="user.user_detail ? user.user_detail.registry_certificate_url:''">
              			</div>
              			<div class="col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="user.user_detail.govt_id_url">
              				<h4>Govt. Id</h4>
              				<img [src]="user.user_detail ? user.user_detail.govt_id_url:''">
              			</div>
              		</div>           
	              </div>
	            </div>
	          </div>
	        </div>
      	</ng-container>
        <ng-container *ngIf="isEdit">
        	<div class="registrationFormOuter">
						<form [formGroup]="agencyProfileUpdateForm">
							<div class="profileEditOuter">
                <a (click)="isEdit=false;" href="javascript:void(0)"><img src="assets/images/backIcon.png" alt="pencilIcon"> Back </a>
              </div>
						  <h2 class="pageTitle">Recruitment Agency Details</h2>
						  <div class="registrationFormInner">
						     <div class="part-sec">
						        <div class="row">
						           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
						              <div class="input-field">
						                 <span class="icon companyIcon"></span>
						                 <input id="namecom" type="text" class="validate" formControlName="comp_name">
						                 <label for="namecom" [ngClass]="{'active':agencyProfileUpdateForm.get('comp_name').value}"> Name Of Company</label>
						                 <p *ngIf="validation_error && validation_error.comp_name" class="form-error">{{validation_error.comp_name[0]}}</p>
						              </div>
						           </div>
						           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
						              <div class="input-field">
						                 <span class="icon websiteIcon"></span>
						                 <input id="webcom" type="text" class="validate" formControlName="comp_website">
						                 <label for="webcom" [ngClass]="{'active':agencyProfileUpdateForm.get('comp_website').value}"> Company Website</label>
						              </div>
						           </div>
						        </div>
						        <div class="row">
						           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
						              <div class="input-field">
						                 <span class="icon locationIcon"></span>
						                  <select formControlName="country_id">
						                    <option value="" selected>job location - country</option>
						                    <option value="{{country._id}}" *ngFor="let country of countries">{{country.name}}</option>
						                 </select>
						                  <p *ngIf="validation_error && validation_error.country_id" class="form-error">{{validation_error.country_id[0]}}</p>
						              </div>
						           </div>
						           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
						              <div class="input-field">
						                 <span class="icon locationIcon"></span>
						                 <select formControlName="city_id">
						                    <option value="" selected>job location - city</option>
						                    <option value="{{city._id}}" *ngFor="let city of coutryWiseCity">{{city.name}}</option>
						                 </select>
						                 <p *ngIf="validation_error && validation_error.city_id" class="form-error">{{validation_error.city_id[0]}}</p>
						              </div>
						           </div>
						        </div>
						        <div class="input-field">
						           <span class="icon addressIcon"></span>
						           <textarea rows="4" class="form-control" formControlName="address" placeholder="Postal Address Of Company"></textarea>
						           <p *ngIf="validation_error && validation_error.address" class="form-error">{{validation_error.address[0]}}</p>
						        </div>
						     </div>
						     <div class="part-sec">
						        <h3>Contact Person</h3>
						        <div class="row">
						           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
						              <div class="input-field">
						                 <span class="icon nameIocn"></span>
						                 <input id="namecp" type="text" class="validate" formControlName="contact_person_name">
						                 <label for="namecp" [ngClass]="{'active':agencyProfileUpdateForm.get('contact_person_name').value}">Your First Name</label>
						                  <p *ngIf="validation_error && validation_error.contact_person_name" class="form-error">{{validation_error.contact_person_name[0]}}</p>
						              </div>
						           </div>
						           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
						              <div class="input-field">
						                 <span class="icon nameIocn"></span>
						                 <input id="namecp" type="text" class="validate" formControlName="contact_person_lastname">
						                 <label for="namecp" [ngClass]="{'active':agencyProfileUpdateForm.get('contact_person_lastname').value}">Your Last Name</label>
						                  <p *ngIf="validation_error && validation_error.contact_person_lastname" class="form-error">{{validation_error.contact_person_lastname[0]}}</p>
						              </div>
						           </div>
						           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						              <div class="input-field">
						                 <span class="icon employeeIcon"></span>
						                 <input id="degcp" type="text" class="validate" formControlName="contact_person_designation">
						                 <label for="degcp" [ngClass]="{'active':agencyProfileUpdateForm.get('contact_person_designation').value}">Your Designation</label>
						                 <p *ngIf="validation_error && validation_error.contact_person_designation" class="form-error">{{validation_error.contact_person_designation[0]}}</p>
						              </div>
						           </div>
						           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						              <div class="input-field">
						                 <span class="icon emailIcon"></span>
						                 <input id="emailcp" type="email" class="validate" formControlName="contact_person_email">
						                 <label for="emailcp" [ngClass]="{'active':agencyProfileUpdateForm.get('contact_person_email').value}">Your Email</label>
						                  <p *ngIf="validation_error && validation_error.contact_person_email" class="form-error">{{validation_error.contact_person_email[0]}}</p>
						              </div>
						           </div>
						           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						              <div class="input-field">
						                 <span class="icon phoneIcon"></span>
						                 <input id="phonecp" type="text" class="validate" formControlName="contact_person_phone">
						                 <label for="phonecp" [ngClass]="{'active':agencyProfileUpdateForm.get('contact_person_phone').value}">Your Phone</label>
						                  <p *ngIf="validation_error && validation_error.contact_person_phone" class="form-error">{{validation_error.contact_person_phone[0]}}</p>
						              </div>
						           </div>
						        </div>
						        <div class="row">
				                  <div class="col-md-6 col-sm-12">
				                    <div class="row">
				                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
				                          <span class="emp_date_sapn">Date of Birth</span>
				                        </div>
				                      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
				                        <div class="input-field">
				                          <span class="icon calIcon"></span>
				                            <select formControlName="dob_date">
				                              <option value="">Select Date</option>
				                              <option value="{{date.id}}" *ngFor="let date of dates">{{date.id}}</option>
				                            </select>
				                             <p *ngIf="validation_error && validation_error.dob_date" class="form-error">{{validation_error.dob_date[0]}}</p>  
				                        </div>
				                      </div>
				                      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
				                        <div class="input-field">
				                          <span class="icon calIcon"></span>
				                            <select formControlName="dob_month">
				                              <option value="">Select Month</option>
				                              <option value="{{month.id}}" *ngFor="let month of months">{{month.value}}</option>
				                            </select>
				                             <p *ngIf="validation_error && validation_error.dob_month" class="form-error">{{validation_error.dob_month[0]}}</p>
				                        </div>
				                      </div>
				                      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
				                        <div class="input-field">
				                          <span class="icon calIcon"></span>
				                            <select formControlName="dob_year">
				                              <option value="">Select Year</option>
				                              <option value="{{year.id}}" *ngFor="let year of years">{{year.id}}</option>
				                            </select>
				                             <p *ngIf="validation_error && validation_error.dob_year" class="form-error">{{validation_error.dob_year[0]}}</p>
				                        </div>
				                      </div>
				                    </div>
				                  </div>

				                  <div class="col-md-6 col-sm-12">
				                     <div class="row emp_dateWraap gndr-reslv">
				                      <div class="col-md-12 col-sm-12 col-12">
				                        <span class="emp_date_sapn gndr-spn">Gender</span>
				                      </div>
				                      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
				                        <div class="input-field ">
				                          <label>
				                            <input type="radio" formControlName="gender" value="female">
				                            <span>Female</span>
				                          </label>
				                        </div>
				                      </div>
				                      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
				                        <div class="input-field ">
				                          <label>
				                            <input type="radio" formControlName="gender" value="male">
				                            <span>Male</span>
				                          </label>
				                        </div>
				                      </div>
				                      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
				                        <div class="input-field ">
				                          <label>
				                            <input type="radio" formControlName="gender" value="custom">
				                            <span>Custom</span>
				                          </label>
				                        </div> 
				                      </div>
				                      <p *ngIf="validation_error && validation_error.gender" class="form-error" style="margin:45px 15px;">{{validation_error.gender[0]}}</p>
				                     </div>
				                  </div>
				                </div>
						        <div class="row">
						           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
						              <div class="input-field">
						                 <span class="icon jobDesIcon"></span>
						                 <input type="file" name="" id="lcertificate" (change)="localCertificateUpload($event)">
						                 <label for="lcertificate">
						                    <span class="placeholderTxt">{{agencyProfileUpdateForm.get('registry_certificate').value?(agencyProfileUpdateForm.get('registry_certificate').value.name ? agencyProfileUpdateForm.get('registry_certificate').value.name : agencyProfileUpdateForm.get('registry_certificate').value):'Company Certificate'}}</span>
						                    <span class="browse">Browse</span>
						                    <!-- <span class="uploadedfileName">img1.png</span> -->
						                 </label>
						                 <p *ngIf="validation_error && validation_error.registry_certificate" class="form-error">{{validation_error.registry_certificate[0]}}</p>
						              </div>
						           </div>
						           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
						              <div class="input-field">
						                 <span class="icon jobDesIcon"></span>
						                 <input type="file" name="" id="govcertificate" (change)="govtCertificateUpload($event)">
						                 <label for="govcertificate">
						                    <span class="placeholderTxt">{{agencyProfileUpdateForm.get('govt_id').value?(agencyProfileUpdateForm.get('govt_id').value.name?agencyProfileUpdateForm.get('govt_id').value.name:agencyProfileUpdateForm.get('govt_id').value):'Contact Person Govt. Id'}}</span>
						                    <span class="browse">Browse</span>
						                    <!-- <span class="uploadedfileName">img1.png</span> -->
						                 </label>
						                 <p *ngIf="validation_error && validation_error.govt_id" class="form-error">{{validation_error.govt_id[0]}}</p>
						              </div>
						           </div>
						        </div>
						        <div class="checkboxOuter">
		                  <label>
		                    <input type="checkbox" class="filled-in" [(ngModel)]="password_checked !=password_checked" [ngModelOptions]="{standalone: true}">
		                    <span>Do you want to change your password?</span>
		                  </label>
		                </div>
		                <div class="row" *ngIf="password_checked">
		                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
		                    <div class="input-field">
		                      <span class="icon passwordIcon"></span>
		                      <input id="pass" type="password" class="validate" formControlName="password">
		                      <label for="pass">Password</label>
		                    </div>
		                  </div>
		                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
		                   <div class="input-field">
		                      <span class="icon passwordIcon"></span>
		                      <input id="password_confirmation" type="password" class="validate" formControlName="password_confirmation">
		                      <label for="password_confirmation">Confirm Password</label>
		                    </div>
		                  </div>
		                </div>
						     </div>
						     <div class="part-sec">
						      <h3>Bank Details</h3>                                           
						      <div class="row">
						        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
						          <div class="input-field">
						            <span class="icon payDtlAmtIcon"></span>
						            <input id="nameacc" type="text" class="validate" formControlName="name_account_holder">
						            <label for="nameacc" [ngClass]="{'active':agencyProfileUpdateForm.get('name_account_holder').value}">  Name of Account Holder</label>
						          </div>
						        </div>
						        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
						          <div class="input-field">
						            <span class="icon payDtlAmtIcon"></span>
						            <input id="bankname" type="text" class="validate" formControlName="bank_name">
						            <label for="bankname" [ngClass]="{'active':agencyProfileUpdateForm.get('bank_name').value}"> Bank Name</label>
						          </div>
						        </div>
						        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
						          <div class="input-field">
						            <span class="icon payDtlAmtIcon"></span>
						            <input id="noacc" type="text" class="validate" formControlName="account_no">
						            <label for="noacc" [ngClass]="{'active':agencyProfileUpdateForm.get('account_no').value}"> Account Number </label>
						          </div>
						        </div>
						      </div>
						      <div class="row">
						        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
						          <div class="input-field">
						            <span class="icon payDtlAmtIcon"></span>
						            <input id="swiftcode" type="text" class="validate" formControlName="swift_code">
						            <label for="swiftcode" [ngClass]="{'active':agencyProfileUpdateForm.get('swift_code').value}">  SWIFT CODE</label>
						          </div>
						        </div>
						        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
						          <div class="input-field">
						            <span class="icon payDtlAmtIcon"></span>
						            <input id="ifscCode" type="text" class="validate" formControlName="ifsc_code">
						            <label for="ifscCode" [ngClass]="{'active':agencyProfileUpdateForm.get('ifsc_code').value}"> IFSC CODE </label>
						          </div>
						        </div>
						        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
						          <div class="input-field">
						            <span class="icon payDtlAmtIcon"></span>
						            <input id="bankadd" type="text" class="validate" formControlName="bank_portal_address">
						            <label for="bankadd" [ngClass]="{'active':agencyProfileUpdateForm.get('bank_portal_address').value}"> Bank Postal address  </label>
						          </div>
						        </div>
						      </div>
						    </div>
						     <div class="submitOuter">
						        <button type="submit" (click)="updateProfile()">Update</button>
						     </div>
						  </div>
						</form>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>