
    <!-- START JOB BY COUNTRY SECTION -->
      <div class="legalhold">
        <div class="legaltop">
          <div class="container">
            <div class="legaltopholder">
              <div class="legaltopcol">
                <div class="legaltopleft">
                    <h2>Terms and Conditions Of bsbstaffing.com</h2>
                    <div id="introduction">
                      <h3>Introduction</h3>
                      <p>We here at bsbstaffing.com (hereby known as “bsbstaffing”, “the company”, “the website” or “the platform”) wish to let all our users/visitors/members know about the terms and conditions of accessing/using our website and services. If the user/visitor/member does not agree with our terms and conditions, they are advised not to use or access our website or use our services. If they do, it is implied that they are agreeing to the following terms and conditions of bsbstaffing.com.</p>
                      <p>To start with, bsbstaffing.com is owned by B.S.B International Career Pvt. Ltd. (henceforth known as bsbstaffing.com) operating from Suite No – 31, Ground Floor, 24 Park Street, Park Centre, Kolkata 700016, India. We offer our clients/members/visitors a chance to connect to peers in their field of work, find suitable jobs worldwide and to network with industry leaders. By becoming a member of the website, you are agreeing to a legally binding agreement with B.S.B International Career Pvt. Ltd., Suite No – 31, Ground Floor, 24 Park Street, Park Centre, Kolkata 700016, India. If you have clicked the “Join now” or “Register” button, you agree to the following terms and conditions as well as our privacy and cookie policies. Please read the document carefully before accepting it. Furthermore, the terms and conditions are solely prerogative of the company and can be changed in the future. Users and members will be duly notified of the changes through email, and they can opt-out of it if they are not in agreement with the changes. </p> 
                      <p>Members of the website are required to follow the following site rules while using or accessing the website:</p>
                      <ul>
                        <li>Indulge or involve in the uploading, publication or sending of unlawful, forbidden, malicious, unauthorized and wrongful content.</li>
                        <li>Deliberate attempts to hack the website through sending of virus-infected files or corrupted files to our main site or any portal under bsbstaffing.com.</li>
                        <li>Communicate private or unauthorized personal or account information of another member to a third-party.</li>
                        <li>Violate the legal rights of another member/user/visitor.</li>
                        <li>Indulge in or promote unauthorized or illegal activity in our portal and job search services. </li>
                        <li>Fraudulent creation of multiple accounts.</li>
                        <li>Provide false or impersonate another person’s information as personal information while registering with us</li>
                      </ul>
                      <p>Apart from these site rules, we also have terms and conditions regarding how a visitor/user/member can browse our website.</p>
                      <ul>
                        <li>Our main job is to connect companies and recruiters with potential companies; we are not responsible if the resume or other credentials presented by the user/member does not get selected for the job/company they offered.</li>
                        <li>bsbstaffing.com is not responsible for the loss of data from the bsbstaffing.com job portal nor are we responsible for technical delays arising due to circumstances beyond our control when our members/users/clients apply for a job through us.</li>
                        <li>bsbstaffing.com retains the right to remove, delete or edit any harmful or illegal content posted by our users/members that are contrary to our terms and conditions as well as site rules and company policy. We have the full right to monitor what is posted on our website and will take action accordingly. The account of the violator may be temporarily suspended or banned permanently if found guilty and the company is not liable for consequences arising from the suspension. </li>
                        <li>bsbstaffing.com offers premium services to our members/users/clients who pay the premium charges. The user will be given an option to opt-in or out of such services; once they subscribe, they have to pay the subscription charges. The services will be suspended once the payment is stopped or if the subscription is not renewed.</li>
                        <li>As part of our premium service, we will assist our users with fine-tuning their resume so that they catch the attention of prospective employers/recruiters. However, this may take a little time, and the user is advised to have patience so that we can produce the best result possible.</li>
                        <li>Responding in time to emails sent by prospective employer/recruiter is the sole responsibility of the user/member and our premium service is not responsible if the user misses any chance by not responding in time. </li>
                        <li>Availing our premium service does not entail subscribers to demand contact details of our clients requiring employees and to whom the subscriber’s resume may have been sent. We here are at bsbstaffing.com are not under compulsion to share such information. </li>
                      </ul>
                    </div>
                    <div id="communictaion">
                      <h3>Communications</h3>
                      <p>bsbstaffing.com will contact the user/member from time to time as can any member between themselves. The user can specify what kind of messages they life to receive and how frequently they receive it by using the settings option in their account with bsbstaffing.com. </p>
                      <p>bsbstaffing.com will contact the user/member from time to time as can any member between themselves. The user can specify what kind of messages they life to receive and how frequently they receive it by using the settings option in their account with bsbstaffing.com. </p> 
                      <p>bsbstaffing.com also allows communication between members/users through our services, which can include messages, emails and invitation.</p> 
                    </div>
                    <div id="advertising">
                      <h3>Advertising</h3>
                      <p>bsbstaffing.com offers preferential ads to our users/members both off and on our services. The user will get an option regarding what kind of personalized ads they prefer, but they cannot opt-out of seeing other ads.  </p>
                      <p>We also monitor the performance of the ads shown to our members/users as well as the target both off and on our services and that is done by directly or by partnering with third-party partners by using data collected through these means:</p> 
                      <ul>
                        <li>Data collected from advertising technologies like ad tags, cookies, web beacons, device identifiers, pixels used on and off our services.</li>
                        <li>Information provided by our members/users like their title, phone number, industry they work in, skill information, work experience, educational background, language knowledge, etc.</li>
                        <li>Data collected when members/users use our services like their search history, content read, their social group, page visits, videos watched, groups participated in, ads clicked, etc. </li>
                        <li>Data shared by our advertising publishers and partners</li>
                        <li>Data gleamed from information shared by users/members like using their graduation age to know their age, industry they work in from job title, gender from name or surname, etc.</li>
                      </ul>
                      <p>Some of our content may be sponsored content which will have labels like “ad” or “sponsored” which in tone and look may be like our non-sponsored content. When users/members like or comment or share such a post, their user id is associated with that action and viewable to others, which includes the advertiser. Subjected to the settings used by the user/member, any social action taken on bsbstaffing.com services, may be used or mentioned with related ads.</p>
                    </div>
                    <div id="ad_choice">
                      <h3>Ad Choices</h3>
                      <p>bsbstaffing.comadheres to self-regulatory principals for showing interest-based advertisement and also is a participant in industry opt-outs in regard to such ads. However, this does not makeit possible for the user/member to opt-out of receiving advertisement, they will be receiving other ads that are covered by filters of these self-regulatory tools.</p>
                      <p>The user/member can also opt-out from bsbstaffing.com uses of certain categories of data that helps us to show them more relevant ads. </p>
                    </div>
                    <div id="ad_provider">
                      <h3>Information we provide to Ad providers</h3>
                      <p>No personal data of our user/member is ever shared with any third-party advertisers or ad networks. The data we share with them include (i) device or hashed identifiers, which may be taken as personal data under the laws of some countries; (ii) permission given by the user/member when they submit a lead generation form; (iii) data that is made public by the user when they use our services (e.g. their profile). Another way our advertisers may have information of our user (with help of mechanisms like cookies) is if they click on an ad that is on or off bsbstafffing.com site as it send a signal to the advertiser that someone visited the page displaying the ad. Advertisers can also associate personal data collected by them from our user/member through use of bsbstaffing.com cookies and related technologies. In that scenario, we at bsbstaffing.com make sure that our advertisers obtain our user/member opt-in consent contractually prior to doing so. </p> 
                    </div>
                    <div id="marketing">
                      <h3>Marketing</h3>
                      <p>bsbstaffing.compromotes our services to our user/members and others.</p> 
                      <p>bsbstaffing.com also use data and content of our user/members for communications and invitations that promotes network growth and membership, engagement and our services.</p>
                    </div>
                    <div id="serviceus">
                      <h3>Services provided by us</h3>
                      <p>Any data that a user includes on his or her profile as well as content posted by them or any social action like liking a post, following, commenting and sharingdone on our services will be seen by others and hence public.</p>
                    </div>
                    <div id="profile">
                      <h3>Profile</h3>
                      <p>The profile of a user/member is visible to all other members and customers who avail our services. Depending on the settings, the profile may also be seen by others off or on our services. The availability of the user’s profile and which fields can be viewed will depend on the settings set by the userand how the user is connected to the member viewing the profile, subscription availed, usage of bsbstaffing.com services, search types, and access channels. </p>
                    </div>
                    <div id="community">
                      <h3>Posts, Likes, Comments, Follow and Messages on our community</h3>
                      <p>bsbstaffing.comallows sharing and viewing of information that is included through posts, comments, likes and follows.</p>
                      <ul>
                        <li>When a user shares a post or article publicly, it can be viewed by other members/users and re-shared everywhere depending on the settings set by the user. Their name and photo will be visible to other members/visitors and others who are searching for related information through their publicly shared content.</li>
                        <li>Information shared through companies’ page, or any other organizations’ page on bsbstaffing.com services will be viewable by the organization as well as others who visit the page.</li>
                        <li>If the user visit or follow a page of another user/member or any organization, he or she is visible to the owner of the page as a follower.</li>
                        <li>Bsbtaffing.com lets the senders know when users act on their messages, based on their settings where applicable.</li>
                        <li>Members may know when a user visit their profile, based on the settings used by the user.</li>
                        <li>When a user likes or re-shares or comments on another member’s content (which can include ads), others will be able to see those “social actions” and the user’s name, profile and photo if provided will be associated with that action.</li>
                      </ul>
                    </div>
                    <div id="relatedservice">
                      <h3>Related Services offered by us</h3>
                      <p>bsbstaffing.com share the users’ data across our various Services and bsbstaffing.com-affiliated entities. The personal data of our users will be shared with out affiliates to better our Services. Data gleamed through our various services, all covered by the Privacy Policy, may be combined to produce better result and services to our users/members. bsbstaffing.com personalizes the users’ feed or job recommendation based on their search history as we identify them across many services using cookies and related technologies. </p> 
                    </div>
                    <div id="serviceprovide">
                      <h3>Service Providers</h3>
                      <p>bsbstaffing.com may use others to help us better our Services.</p> 
                      <p>Services like analysis, audit payments, maintenance, marketing and development an fraud detection are often helped by others. In course of this, these service providers will be accessing our user/member’s information as needed on behalf of bsbstaffing.com. They are obligated not to use or disclose such information for any other purposes.</p> 
                    </div>
                    <div id="thirdparty" class="thirdparty">
                      <h3>Third-party payment obligation</h3>
                      <p>bsbstafffing.com will like to make our users/members aware of possible fraudulent behavior that they may come across while using our services. Though we try our best to make sure we check the information of the users when they open their account with us, it is not 100% possible to avoid malicious accounts. Such scams may happen in the following manner:</p> 
                      <ul>
                        <li>The recruitment company may send the user offer letter on the first round itself without proper interview or any such a screening process or after a basic screening process. After the user has correspondence with them, and a trust has been gained, then they might ask for a fee to further process their job application.</li>
                        <li>Some recruiter may promise guaranteed jobs against a payment.</li>
                        <li>Fees may be asked as registration fee, visa processing fee, documentation fee, interview arrangement fee, etc.</li>
                        <li>Some recruiters/employers may ask for a “training fee” for training the user before offering you any job.</li>
                      </ul>
                      <p>The user is advised against making any payment to such recruiters/employers. bsbstaffing.com is not responsible for such a payment made to a third-party even if they have been contacted while using bsbstaffing.com services. We are not responsible in any manner or form for any monetary loss the user/member may incur if they make payment to such third-party. If a user comes across such fraudulent recruiter/employer they are advised to write to us at complain@bsbstaffing.com while pursuing other legal options to get back their money. We can’t help regarding such legal options, but we will delete the account of such a recruiter/employer and ban them from our website if the complaint is justified and evidence is provided of their misdeed. </p> 
                    </div>
                    <div id="businesspartner">
                      <h3>Business Partner User policies</h3>
                      <p>If the user has signed up for bsbstaffing.com services through any of our business partner (like our franchises, recruiters or referral program) the same set of terms and conditions as well as other policies and agreement applies to him or her as it does to a regular user who have signed up of their own. </p>  
                    </div>
                    <div id="indemnity">
                      <h3>Indemnity</h3>
                      <ul>
                        <li>Subscribing to the bsbstaffing.com job portal and availing our premium services does not guarantee confirmed employment with companies they send their resume to. BSBstafffing.com is not responsible for our subscribers not being selected for the jobs they applied for.</li>
                        <li>The service charges paid towards availing our premium services are not refundable. Users are advised to thoroughly read the service agreement before agreeing to subscribe to our premium services.</li>
                        <li>The account created with bsbstaffing.com is not transferrable to another person.</li>
                        <li>The premium service registration is monthly, the subscriber has the option to either opt-out or renew their subscription at the end of the month. The subscription will be automatically renewed on the billing date if not canceled by the user prior 48 hours before the renewal date. </li>
                      </ul>
                    </div>
                    <div id="jurisdiction">
                      <h3>Jurisdiction</h3>
                      <p>The terms and conditions of bsbstaffing.com are governed by relevant laws and regulations as per Indian laws. The terms and conditions provided here must be followed by all users/visitors/members who use our website. Any dispute arising due to the terms and conditions will be dealt with in the Indian court of law and according to Indian laws.  </p>  
                    </div>
                    <div id="ownership">
                      <h3>Services-Ownerships & Restrictions</h3>
                      <p>The users/members/clients have to agree not to recreate, print, copy, change, disseminate, revise, rework on the content laid down by the team here at the bsbstaffing.com job portal in any form or ways. </p>  
                    </div>
                    <div id="disclaimer">
                      <h3>Legal Disclaimer</h3>
                      <p>bsbstaffing.com may share the users/members data when requested by law or to help protect the rights and safety of users, others or us at bsbstaffing.com </p>  
                      <p>It may be possible that bsbstaffing.com will need to disclose information about our user/members when required by law, subpoena or any other legal processes. It may also be disclosed if we at bsbstaffing.com have a good faith belief that such discloser is reasonably required for (1) investigating, preventing, or taking action in regards to suspects or people involved in illegal activities or to help government enforcement agencies; (2) to enforce the agreement between us at bsbstaffing.com and our user/member, (3) investigating and defending bsbstaffing.com against any third-party allegations or claims; (4) protecting the integrity or security of our services; or (5) exercising or protecting the rights and safety of bsbstaffing.com, our Members, personnel or others. If not prohibited by law or court mandated order or when the request is an emergency, we will let our user/member know if any request for their personal information has been made. bsbstaffing.comalso may dispute such demands if we believe, based on our discretion, that the request demanded is vague, overboard or if it lacks proper authority to demand such information. However, not every demand or request will be challenged by us. </p>
                    </div>
                    <div id="contact">
                      <h3>Contact us</h3>
                      <p>Please get in touch with our bsbstaffing.com team for more information about the Terms of Service laid down.</p>  
                    </div>
                </div>
              </div>
              <div class="legaltopcol">
                <div class="legalsidebar">
                  <h3>Quick link of Contents:</h3>
                  <ul>
                    <li><a href="javascript:void(0);" (click)="scroll('introduction')">Introduction</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('communictaion')">Communications</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('advertising')">Advertising</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('ad_choice')">Ad Choices</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('ad_provider')">Information we provide to Ad providers</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('marketing')">Marketing</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('serviceus')">Services provided by us</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('profile')">Profile</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('community')">Posts, Likes, Comments, Follow and Messages on our community</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('relatedservice')">Related Services offered by us</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('serviceprovide')">Service Providers</a></li>
                    <li class="legal-third"><a href="javascript:void(0);" (click)="scroll('thirdparty')">Third-party payment obligation</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('businesspartner')">Business Partner User policies</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('indemnity')">Indemnity</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('jurisdiction')">Jurisdiction</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('ownership')">Services-Ownerships & Restrictions</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('disclaimer')">Legal Disclaimer</a></li>
                    <li><a href="javascript:void(0);" (click)="scroll('contact')">Contact us</a></li> 
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="scrolltotop" href="javascript:void(0)" (click)="scroleToTop()"></a>
      </div>