<div class="legalhold">
        <div class="legaltop">
          <div class="container">
            <div class="legaltopholder">
              <div class="legaltopcol">
                <div class="legaltopleft">
                    <h2>Privacy Policy</h2> 
                    <div id="matters">
                      <h3>Your Privacy matters to us</h3>
                      <p>bsbstaffing.com mission is to bring together the world’s professionals together so that they can be more successful and productive. At the core of our mission is our believe that we need to be transparent to our users/members about how we collect, use and share the data we collect from our users/members.</p>
                      <p>The Privacy Policy is applicable when a user/member uses our services as described below. bsbstaffing.com offers our users choices about the data we collect, share and use as described in this Privacy Policy, Cookie Policy, User Agreement and Terms and Condition. Any visitor to our website is advised to read all these policies/agreement before availing our services. If the user continues further interaction with our website, it will automatically be deemed that he or she has agreed to the said policies/agreements. </p>
                    </div>
                    <div id="introduction">
                      <h3>Introduction to our Privacy Policy</h3>
                      <p>This is the privacy policy of bsbstaffing.com and it applies to all pages and services offered through our website maintained by B.S.B. International Career Pvt. Ltd.</p>
                      <p>It is out mission to help our clients/members/users to reach out to potential recruiters/employers/employees worldwide so that they can realize and fulfil their full potentiality. When visitors/members visit our site we collect, use, retain, and transfer their data collected through our cookies. This privacy policy is to let them know how we do this and also why this is important. First-time visitors should read the privacy policies carefully and proceed only after having read them. Accessing our website thereby grants us permission to collect and use their data. By allowing us to collect this data, the user is also allowing us to share and transfer the personal information to other third-party users who we think match their interested career and job profile. Sharing this information is voluntary; if the user does not wish to share, he or she can still access our website, but it will hamper our ability to provide them with best matched scenario as vital information will be withheld. Also, the services and usage of bsbstaffing.com website are limited only to users who have reached the legal age; users who are below the age of seventeen are considered children and cannot agree to the privacy policy as they are not adult. If a user deliberately hides his age to avail our services, the privacy policy agreement in that case becomes null and void.</p>
                    </div>
                    <div id="collectinfo">
                      <h3>How we collect our information</h3>
                      <ul>
                        <li>When a user first time opens an account with us, we collect information such as their name, email address, mobile number and password. If they opt for premium services, further information like their payment information (credit card or debit card) and their address will be collected. .</li>
                        <li>As a user completes his or her profile on our bsbstaffing.com to facilitate job search worldwide, we collect information like their age, sex, marital status, education, work experience, strengths, place of stay, and area of interest. Users are advised not to add sensitive personal information that they don’t want others to know in their profile. </li>
                        <li>Furthermore, as a user sends application to his/her chosen companies, we gather job information through the covering letter, position applying for, expected salary, present salary, companies worked with and others. If the user has applied for international jobs, we also gather information regarding his passport ID, work authorization, immigration status, social security number and visa. </li>
                        <li>bsbstaffing.com collect personal data from the user when he or she provides them, posts or uploads it to our services, by doing actions like filling out a form (like with demographic data or salary details), responding to a survey, or submitting a resume or filling out a job application on our Services. If he or she opt to import his or her address book, bsbstaffing.com receives their contacts which include contact information that has been added automatically in their address book by their service provider(s) or the app when the user communicated with numbers or addresses that were not there previously in his or her list. </li>
                        <li>The user doesn’t have to upload or post his or her personal data; but if they don’t, it limits his or her ability to engage with their network over our services.</li>
                        <li>bsbstaffing.com logs usage data when a user visit or uses our services, which includes our site, platform technology or app, like when he or she click or view on content or ads, install or update, perform a search, apply for jobs or share articles. We use cookies, logins, device information and internet protocol address to identify the user and log their use. </li>
                        <li>When the user visit or leave bsbstaffing.com services, including cookies and some plugins or similar technology on the sites of others, we receive the URL of bot the site the user came from and the one he or she is going to and the time of the visit. We also get information about his or her network and device like the IP address, operating system, proxy server, add-ons and web browser, cookie IDs and/or ISP, mobile carrier and device features and identifier. If the user uses our services from a mobile device, that device will send bsbstaffing.com data about the location of the user based on his or her phone setting. Before we use the GPS or other tools to pinpoint the location of the user, we will ask the user to opt-in. </li>
                        <li>bsbstaffing.com collect information about when a user sends, receives, or engages with messages in connections with our services; like if he or she gets a bsbstaffing.com connection request, we track whether the user has acted on it and will be sending reminders about that. bsbstaffing.com also uses automatic scanning technology on messages to protect and support our site; like this technology is used for suggesting possible responses to messages and to block or manage content that is in violation to our User Agreement or Professional Community Policies from our services. </li>
                        <li>Bsbstaffing.com allows companies/institutes to open account as well as buy our services on behalf of their employees/recruiters/students. The information that such third-party buyers share with us regarding their employees/recruiters/students are gathered by us without explicit permission/agreement with such employees/recruiters/students. The third-party buyer agrees to our privacy policies and other policies/terms and conditions on behalf of their employees/recruiters/students when they buy our services. If the third-party user allows individual login details and password to their employees/recruiters/students, then such said users also must read all our policies/terms and conditions before opening their account. That way, they give us permission to gather the information shared through their profile/posts/likes/comments/search history and other online activities through bsbstaffing.com. </li>
                      </ul>
                    </div>
                    <div id="serviceprovide">
                      <h3>Service Providers</h3>
                      <p>bsbstaffing.com may use others to help us better our Services.</p> 
                      <p>Services like analysis, audit payments, maintenance, marketing and development an fraud detection are often helped by others. In course of this, these service providers will be accessing our user/member’s information as needed on behalf of bsbstaffing.com. They are obligated not to use or disclose such information for any other purposes.</p> 
                    </div>
                    <div id="manageinfo">
                      <h3>How users can manage their information</h3> 
                      <p>The user has the right to withdraw their consent for bsbstaffing.comin regard to collection and processing of information. They can do so by changing their account settings. However, they should do that keeping in mind that such actions will lead to restricted access to their profile, which in turn will lead to fewer matching of their profile to prospective clients/employers/recruiters. To remove consent to all information shared by the user can be done only by deactivating their account as some information has to be shared to keep their account active in our website. The user is also hereby notified that such withdrawal of consent will make their account permanently closed and if any other user has a copy of their profile in their file, it will not be removed. bsbstaffing.com is not liable for this retention of information and how this information may be used by the third-party in future.</p> 
                    </div>
                    <div id="gatherinfo">
                      <h3>bsbstaffing.com job portal uses the information gathered from their users/clients/members in these following ways:</h3>
                      <ul>
                        <li>First and foremost, the information collected is used for providing the services related to finding the best possible match to their potential employer/recruiter/clients.</li>
                        <li>as per the requirement of the employer/client.</li>
                        <li>To give relevant information about the bsbstaffing.com services as requested by the user/member.</li>
                        <li>To fulfil the payment processing arising out of service agreement between bsbstaffing.com and users who sign up for our services.</li>
                        <li>To fulfil the payment processing arising out of service agreement between bsbstaffing.com and users who sign up for our services.</li>
                        <li>bsbstaffing.com has the sole discretion in deciding if a service requires the information user consented to share and act accordingly. </li>
                        <li>For processing payments related to the services provided in lieu of hiring suitable candidate.</li>
                      </ul>
                    </div>
                    <div id="shareinfo">
                      <h3>How we share our information</h3>
                      <p>bsbstaffing.com share the information that we gather from our user in various ways. </p>
                      <p>The user profile is fully visible to all other members/users and customers of our services. Depending on the settings set by the user, the profile can also be visible to others on or off the site. Our Help Centre has further details on how the availability of users’ profile depends on their settings, subscription they may have, the degree of connection with the viewer, how the use our services, search types and access channels. All these also impacts how much a visitor or other member can view the different fields in a user’s profile. </p>
                      <p>bsbstaffing.com services allow sharing and viewing information through messages, email, posts, follows, likes and comment. This is done when:</p>
                      <ul>
                        <li>Users share a post or an article publicly, it is visible to everyone and can be re-shared anywhere, as specified in the Settings of the user. Visitors, members and others will be able to search and view this publicly shared posts by the user which will include his or her name and photo if provided.</li>
                        <li>Information users share through organization’s or companies’ pages on our services will be visible to visitors to those pages as well as the page administrator.</li>
                        <li>When a user follows another user or organization, his or her data is visible to the “page owner” of those account.</li>
                        <li>If the settings of the user allow it, bsbstaffing.com lets sender know when the receiver acts on the message sent. </li>
                        <li>Similarly, based on settings, we let the member know if a user views their profile. </li>
                        <li>Similarly, based on settings, we let the member know if a user views their profile.</li>
                      </ul>
                    </div>
                    <div id="regardinginfo">
                      <h3>Rights of users regarding their information</h3>
                      <p>The users who have consented by accepting this privacy policy, has these rights regarding the information they shared. </p>  
                      <ul>
                        <li>If a wrong data is saved by our end, the user has the right to ask for a change regarding that information.</li>
                        <li>The user also has the right to access the information about them stored by us.</li>
                        <li>The user also has the right to oppose the future processing of their information.</li>
                      </ul>
                    </div>
                    <div id="security">
                      <h3>Security of the information shared</h3>
                      <p>The user is solely responsible in maintaining the username and password they user to create and operate their account with bsbstaffing.com. We take all steps to make sure no unauthorized access is done from our end; but if the user shares this information and the account is used for unauthorized access of their information, bsbstaffing.com is not responsible for this breach.</p>
                      <p>All the information shared by users are stored on restricted servers and we apply state-of-the-art security measures to make sure the data stays secure. However, there is no guarantee that the information stored will never be accessed, destroyed or used by unauthorized person due to breach in our security measure or by causes beyond our control. To make sure that their information is stored securely, we advise all our users to regularly change their password and not share it with anyone.  </p>  
                    </div>
                    <div id="prsonalinfo">
                      <h3>How to contact regarding user personal information</h3>
                      <p>If the user has any queries or questions regarding this privacy policy or our site in general, please contact us through email at bsbstaffing.com.</p>
                    </div>
                    <div id="chnagepp">
                      <h3>Changes to privacy policy</h3>
                      <p>bsbstaffing.com has the full right to change the privacy policy stated here in future. Any such changes will be communicated to our members/users/clients through email and they are encouraged to read the changes done. </p>  
                    </div>
                </div>
              </div>
              <div class="legaltopcol">
                <div class="legalsidebar">
                  <h3>Quick link of Contents:</h3>
                  <ul>
                    <li><a href="javascript:void(0)" (click)="scroll('matters')">Your Privacy matters to us</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('introduction')">Introduction to our Privacy Policy</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('collectinfo')">How we collect our information</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('manageinfo')">How users can manage their information</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('gatherinfo')">How we use the information gathered</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('regardinginfo')">Rights of users regarding their information</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('security')">Security of the information shared</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('prsonalinfo')">How to contact regarding user personal information</a></li>
                    <li><a href="javascript:void(0)" (click)="scroll('chnagepp')">Changes to privacy policy</a></li> 
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <a class="scrolltotop" href="javascript:void(0)" (click)="scroleToTop()"></a>
      </div>

