    <!-- START BANNER SECTION -->
      <section class="bannerSection animation-element">
        <img src="assets/images/listingBanner.png" alt="listingBanner">
      </section>
    <!-- END BANNER SECTION -->
    <!-- START BREADCRUMB SECTION -->
      <section class="breadcrumbSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-md-12 col-12">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li class="current"><span>Search By Country - {{countryName}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    <!-- START JOB BY COUNTRY SECTION -->
      <section class="jobByCountrySection">
        <div class="container">
          <div class="headingOuter">
            <div class="row">
              <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <h2 class="pageTitleSec">{{countryName}}</h2>
                <p>{{countryJobs.length}} Jobs Posted</p>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hospitalityOuter">
                  <h4>Find World's Top Hospitality Jobs</h4>
                  <div class="bannerForm">
                    <div class="bannerInner">
                      <input type="text" name="" class="form-control" placeholder="Job Title">
                      <span class="icon"><img src="assets/images/searchIcon.png" alt="searchIcon"></span>
                    </div>
                    <div class="bannerInner">
                      <input type="text" name="" class="form-control" placeholder="industry">
                      <span class="icon"><img src="assets/images/searchIcon.png" alt="searchIcon"></span>
                    </div>
                    <div class="bannerInner">
                      <input type="text" name="" class="form-control" placeholder="Department">
                      <span class="icon"><img src="assets/images/searchIcon.png" alt="searchIcon"></span>
                    </div>
                    <div class="bannerInner">
                      <input type="text" name="" class="form-control" placeholder="City">
                      <span class="icon"><img src="assets/images/searchIcon.png" alt="searchIcon"></span>
                    </div>
                    <div class="bannerInner">
                      <input type="submit" name="" value="Search Jobs">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="countryOuter animation-element">
            <div class="row">
            <ng-container *ngFor="let jobs of countryJobs; index as i">
              <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                
                  <div class="countryInner">
                    <a href="javascript:void(0)" [routerLink]="['/job-details',jobs.job_title,jobs.id]">
                    <div class="countryImg">
                      <!-- <img src="{{global.imageUrl}}employer/gallery_images/{{jobs.employeer.gallery_images[0].name}}" alt="aloftImg"> -->
                    </div>
                    <div class="countryInnerInfo">
                      <img src="{{jobs.employeer.user_detail.company_logo}}" alt="aloftLogo">
                      <!-- <p>{{jobs.job_title}}</p>
                      <h6>{{jobs.city.name}}, {{jobs.country.name}}</h6> -->
                      <ul class="jobInfo">
                        <li><img src="assets/images/companyIcon.png" alt="companyIcon"> {{jobs.employeer.user_detail.company_name}}</li>
                        <li><img src="assets/images/employee.png" alt="employee"> {{jobs.job_title}}</li>
                        <li><img src="assets/images/money.png" alt="money"> Rs. 20,000 per month</li>
                        <li><img src="assets/images/factory.png" alt="factory"> {{(jobs.industry_name).toString()}}</li>
                        <li><img src="assets/images/employee.png" alt="employee"> {{jobs.employement_for.name}}</li>
                        <li><img src="assets/images/employee.png" alt="employee"> {{jobs.employment_type.name}}</li>
                        <li><img src="assets/images/locationIcon.png" alt="locationIcon"> {{jobs.country.name}}</li>
                        <li><img src="assets/images/locationIcon.png" alt="locationIcon"> {{jobs.city.name}}</li>
                      </ul>  
                    </div>
                    </a>
                    <div class="countryInnerFoot">
                    <!-- <div class="row"> -->
                      <div class="countryInnerFootLeft">   
                        <a href="#" class="apply">Quick Apply</a>
                      </div>
                      <div class="countryInnerFootRight">                  
                        <h6 *ngIf="jobs.day_diff != '0'">Posted {{jobs.day_diff}} days ago</h6>
                        <h6 *ngIf="jobs.day_diff == '0'">Posted Few Hours Ago</h6>
                      </div>
                    <!-- </div> -->
                  </div>
                  </div>
                
              </div>
            </ng-container>
            </div>
          </div>
          <div class="row" *ngIf="countryJobs.length > 12">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="loadmoreOuter">
                <a href="javascript:void(0)" (click)="addMoreJob()">
                  <img src="assets/images/downArrow-double.png">
                  <span>Load More</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END JOB BY COUNTRY SECTION -->