@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/*font-family: 'Roboto', sans-serif;*/ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

@font-face {
    font-family: 'swis721_btbold';
    src: url('../fonts/swis721_bt_bold-webfont.woff2') format('woff2'),
         url('../fonts/swis721_bt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'swis721_ex_btroman';
    src: url('../fonts/swis721_ex_bt_roman-webfont.woff2') format('woff2'),
         url('../fonts/swis721_ex_bt_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'swis721_lt_btlight';
    src: url('../fonts/swis721_lt_bt_light-webfont.woff2') format('woff2'),
         url('../fonts/swis721_lt_bt_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.clear{
	clear: both;
}
.clear:after{
	clear: both;
	position: relative;
	content: "";
	width: 100%;
	display: table;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	color: #474747;
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	font-size: 16px; 
	line-height:26px; 
	color: #424242;
} 
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
p{ margin: 0 0 25px; }
.container{ max-width: 1230px; margin: 0 auto; padding: 0 15px;  width: 100%; }
.container-fluid{padding: 0 15px;}
a{color: #4b4e59; text-decoration: none;}
a:hover{ color: #e20015; text-decoration: none; }
a,img{ transition: 0.5s; -webkit-transition:0.5s; }
strong{ color: #101010; font-weight: 700; }
button{text-transform: capitalize;}
/*section{padding: 40px 0;}*/
h2.title { 
    font-size: 45px;
    line-height: 50px;
    margin: 0 0 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
} 
.tophd{font-family: 'Raleway', sans-serif; margin: 0 0 40px; text-align: center;}
.tophd h2{position: relative; font-size: 30px; line-height: 35px; margin: 0; padding: 0 0 10px;
	text-transform: uppercase; font-weight: 400;
}  

/**cmnmodal**/
.cmnmodal{position: fixed; width: 100%; height: 100%; left: 0; top: 0;
	 z-index:999;
	 background: rgba(0,0,0,0.5);
	/* transition: 0.3s ease-in-out; */
}



.cmnmodal:before{
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index:-1;
	display: none;

}

.modalholder{
	max-width: 850px; width: 100%; position: absolute;
	background: #fff; left: 50%; top: 50%;
	transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);
	max-height: 90%; overflow: auto;
}
.modalholder::-webkit-scrollbar {
  width: 10px;
}
 
.modalholder::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.modalholder::-webkit-scrollbar-thumb {
  background: #3d5ed6; 
}
.modalheader{background: #3d5ed6; color: #fff; padding: 0 50px 10px; text-align: center;}
.modalheader.milion-mdl-header{
	padding-top: 10px;
}
.modalheader.milion-mdl-header p{
	margin: 0;
}

.modalheader h1{font-weight: 600; color: #fff; text-transform: uppercase;
	font-size: 31px; line-height: 35px; margin: 0; padding: 15px 0;
	border-bottom: 1px solid #fff;
}
.modalheader h2{color: #fff; text-transform: capitalize; font-size: 42px; line-height: 45px;
	margin: 30px 0 15px; font-weight: 400;
}
.modalheader p{ margin: 0 0 15px; }
.modalbody{padding: 15px;}
.modalbody .form-group{margin: 0 0 15px; position: relative;}
.modalbody input,.modalbody textarea,.modalbody select,
.modalbody input[type="file"] + span{
	border: 1px solid #d5d5d5; border-radius: 5px; padding: 10px 15px; height: auto;
	font-size: 14px; line-height: 18px; margin: 0;
	width: 100%;
}
.modalbody input[type="checkbox"]{width: auto; margin-right: 5px; display: inline-block;
	vertical-align:middle;
}
.modalbody input[type="checkbox"] + label{margin: 0; display: inline-block;
	vertical-align: top; font-size: 14px; line-height: 18px;
	width: auto;
}

.modalbody .form-group.flx-frm-group{
	display: flex;
	flex-wrap: wrap;
}
.modalbody input[type="checkbox"] + label span,
.modalbody input[type="checkbox"] + label a{display: inline-block; color: #007bed;}
.modalbody label{display: block; margin: 0 0 5px !important; font-size: 15px; justify-content: left !important; }
.modalbody input[type="submit"]{width: auto; background: #007bed; color: #fff; border-color: #007bed;
	margin: 0 auto; display: table; cursor: pointer; transition: 0.5s;
}
.modalbody input[type="submit"]:hover{background: #ff0000; border-color: #ff0000;}
.modalbody input[type="file"]{display: none;}
.modalbody input[type="file"] + .filecustom{
	border: 1px solid #d5d5d5; border-radius: 5px; padding: 10px 15px; height: auto;
	font-size: 14px; line-height: 18px; margin: 0;
	width: 100%; display: block; position: relative;
}
.modalbody input[type="file"] + .filecustom label{
	display: inline-block; text-transform: uppercase; color: #fff;
	background: #ff0000; border-radius: 5px; position: absolute;
	right: 5px; top:7px; padding: 5px 10px; cursor: pointer;
}

.modalbody .form-inline3,.modalbody .form-inline{display: flex; justify-content: space-between;}
.form-inline3 .form-group{width:32%; }
.form-inline .form-group{width: 49%;}
.mbtnholder{    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: #000;
}
.mbtnholder a{color: #1754ca;}
.mbtnholder a:hover{color: #ff0000;}
.logout{display: inline-block; font-weight: 600; text-transform: uppercase;}
span.small{display: block; font-size: 12px; line-height: 14px; padding: 5px 0 0 0;}
span.small a{display: inline-block; color: #007bed;}
span.small a:hover{color: #f00;}
.mbtnholder button[type="submit"]{
	    width: auto;
    background: #007bed;
    color: #fff;
    border-color: #007bed;
    margin: 0 auto;
    display: table;
    cursor: pointer;
    transition: 0.5s;
    padding: 15px 50px;
    border: none; 
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 16px;
}
.mbtnholder button[type="submit"]:hover{background: #f00;}

.modalholder1{}
.modalholder1 .modalheader{background: #fff; position: relative;}
.modalholder1 .modalheader h1{color: #3d5ed6;}
.modalheader p{}
.modalheader strong{color: #fff; font-size: 20px;}
.modalheader .cross{position: absolute; right: 3px; top: 0; background: #000; color: #fff;
padding: 5px 8px;
}
.modalbody input.email,.modalbody select.subject,
.modalbody input.name,.modalbody input.pass,
.modalbody input.upload + .filecustom,
.modalbody input.companyType,.modalbody input.company,
.modalbody input.address,.modalbody .country,.modalbody .industry,
.modalbody input.companySize,.modalbody input.companyType,
.modalbody input.mobile,.modalbody input[type="date"],
.modalbody input.vacancy,.modalbody input.vacancy,.modalbody input.ytb,.modalbody .value,
.modalbody input.web,.modalbody input.bank,.modalbody input.skype{
	padding: 12px 15px 12px 40px;
}


.modalbody input.email{background: url(../images/email.png)  no-repeat 10px center;}
.modalbody select.subject{background: url(../images/subject.png)  no-repeat 10px center;}
.modalbody input.name{background: url(../images/user.png)  no-repeat 10px center;}
.modalbody select.name{background: url(../images/user.png)  no-repeat 10px center; padding-left:36px;}
.modalbody input.pass{background: url(../images/pass.png)  no-repeat 10px center;}
.modalbody input.companyType{background: url(../images/pass.png)  no-repeat 10px center;}
.modalbody input.company{background: url(../images/company.png)  no-repeat 10px center;}
.modalbody input.address{background: url(../images/address.png)  no-repeat 10px center;}
.modalbody .industry{background: url(../images/company.png)  no-repeat 10px center;}
.modalbody .email{background: url(../images/email.png)  no-repeat 10px center;}
.modalbody .country{background: url(../images/country.png)  no-repeat 10px center;}
.modalbody input.companySize{background: url(../images/companysize.png)  no-repeat 10px center;} 
.modalbody input.mobile{background: url(../images/mobile.png)  no-repeat 10px center;}
.modalbody input.student{background: url(../images/student.png)  no-repeat 10px center; padding-left: 40px;;}
.modalbody input.vacancy{background: url(../images/vacancy.png)  no-repeat 10px center;}
.modalbody input.ytb{background: url(../images/ytb.png)  no-repeat 10px center;}
.modalbody .value{background: url(../images/value.png)  no-repeat 10px center;}
.modalbody input.web{background: url(../images/web.png)  no-repeat 10px center;}
.modalbody input.bank{background: url(../images/bank.png)  no-repeat 10px center;}
.modalbody input.skype{background: url(../images/skype.png)  no-repeat 10px center;}
.modalbody input[type="date"],
.modalbody input.date{background: url(../images/date.png)  no-repeat 10px center; padding-left: 40px;}
.modalbody .address{background: url(../images/address.png)  no-repeat 10px center;}
.modalbody .industry{background: url(../images/company.png)  no-repeat 10px center;}

.modalbody input[type="file"]{
	display: none;
}
.modalbody input.upload + span{
	background: url(../images/upload.png)  no-repeat 10px center;	
}
 
.paragroup{
	background: #fff; padding: 20px; box-shadow: 2px 2px 5px 1px #104ecd; margin: 0 0 15px;
}
.paragroup p:last-child{margin: 0;}

.modalholder1 .modalbody button[type="submit"]{width: auto; background: #fff; 
	color: #3c4043; box-shadow: 1px 1px 5px 1px #d5d5d5; border: 1px solid #d5d5d5;
	margin: 0 auto; display: table; cursor: pointer; transition: 0.5s; border-radius: 25px;
	padding: 14px 50px; font-weight: bold;
}
.modalholder1 .modalbody button[type="submit"]:hover{background: #000; border-color: #000;
	color: #fff;
}

.signmodal .modalheader{padding: 0;}
.signmodal .modalheader h1{border-bottom: none;}
.signmodal .modalbody{display: flex; padding: 0;}
.signmodal .modalbodyleft{width: 50%; padding: 20px;}
.signmodal .modalbodyright{width: 50%; line-height: 0;}
.signmodal .modalbodyright img{width: 100%;}

.jobseekerstep1{}
.jobseekerstep1 .modalheader{padding: 0;}
.jobseekerstep1 .modalbody{display: flex; justify-content: center; padding: 0;}
.jobseekerstep1 .modalbody >div{width: 50%;}
.modalimg{line-height: 0;}
.modalimg img{    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}
.modalform{padding: 35px ;}
.modalform h3{font-size: 22px; line-height: 24px; font-weight: bold; color: #1754ca;
	margin: 0 0 15px;  text-align: center;
}
.modalform h4{font-size: 22px; line-height: 24px; font-weight: bold; color: #3e3e3e;
	margin: 0 0 15px;  text-align: left; background: #f5f5f5; padding: 10px 15px; 
	border-radius: 5px; 
}
.jobseekerstep1 .modalbody input.email,.jobseekerstep1 .modalbody select.subject,
.jobseekerstep1 .modalbody input.name,.jobseekerstep1 .modalbody input.pass,
.jobseekerstep1 .modalbody input.upload + .filecustom{
	box-shadow: 2px 2px 6px 1px #ddd;
}
.jobseekerstep1 .modalbody button[type="submit"],
.recruiterstep1 .modalbody button[type="submit"],
.bsbstaff-mdl .modalbody button[type="submit"]{
	border-radius: 30px; display: table; margin: 0 auto; 
	border: 1px solid #cececf; padding: 12px 40px;
	background: #fff; font-size: 18px; font-weight: bold;
	box-shadow: 0px 1px 5px 0px #cececf; cursor: pointer;
	transition: 0.5s;
}
.jobseekerstep1 .modalbody button[type="submit"]:hover,
.recruiterstep1 .modalbody button[type="submit"]:hover,
.bsbstaff-mdl .modalbody button[type="submit"]:hover{
	background: #1754ca;
    border-color: #1754ca;
    color: #fff;
}

.jobseekerstep1 .modalbody button[type="submit"]:hover:hover img,
.recruiterstep1 .modalbody button[type="submit"]:hover:hover img,
.bsbstaff-mdl .modalbody button[type="submit"]:hover:hover img{
	-webkit-filter: invert(1) brightness(100);
    filter: invert(1) brightness(100);

}


.jobseekerstep1 .modalbody button[type="submit"]:hover img,
.recruiterstep1 .modalbody button[type="submit"]:hover img{
	filter: invert(1) brightness(100);
}
.jobseekerstep1 .modalbody button[type="submit"] img,
.recruiterstep1 .modalbody button[type="submit"] img{display: inline-block;
	vertical-align: middle; width: 22px;
}
.jobseekerstep1 .form-group p,
.recruiterstep1 .form-group p{margin: 0; font-size: 14px; line-height: 18px;
	text-align: center; font-weight: 500; text-align: center;
}
.jobseekerstep1 .form-group p a,
.recruiterstep1 .form-group p a{display: inline-block; color: #1754ca;}
.jobseekerstep1 .form-group p a:hover,
.recruiterstep1 .form-group p a:hover{color: #ff0000;}

.form-group input[type="radio"]{
	display: none;
}
.form-group input[type="radio"] +label{
	    border: 1px solid #d5d5d5;
    border-radius: 5px;
    padding: 10px 15px 10px 40px;
    height: auto;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    width: 100%;
    position: relative;
}
.form-group input[type="radio"] + label:before{
	position: absolute; content: ""; width: 18px; height: 18px;
	border: 1px solid #d5d5d5; top: 50%; left: 10px; 
	transform: translate(0,-50%); 
	-webkit-transform: translate(0,-50%);
	border-radius: 50%;
}
.form-group input[type="radio"]:checked + label:before{
	border: 1px solid #007bed; background: #007bed;
}


.login.modalholder{width: 500px;}
.jobseekerstep1.login .modalbody >div{width: 100%;}
.forgotdiv a{display: inline-block;}
.forgotdiv{text-align: right;}

.modalbody input[type="checkbox"]{}
.modalbody input[type="checkbox"] + label{display: inline-block; margin: 0; vertical-align: middle;
	margin-bottom: 0px !important; padding-top: 2px; width: 91%;}

.modalbody .form-group.flx-frm-group p.form-error{
	margin-left:19px;
}	
.form-error.gnder-error{
	display: block;
	margin-top: -10px;
}

.form-group.forgotdiv{
	text-align: right;
}

.forgotdiv a{
	width: 100%;
}

.form-group input[type="radio"]:hover + label:before{
	border: 1px solid #007bed; background: #007bed;
}

.custm-radio-hlder .form-group{
	position: relative;
} 

.custm-radio-hlder .form-group input[type="radio"]{
	position: absolute;
	top: 0;
	left: 0;
	width: 45px;
	height: 45px;
	display: inline-block;
	opacity: 0;
	z-index: 1234;

}

.form-error.gnder-error2 {
    display: block !important;
    margin-top: -24px;
}

.form-inline .form-group .multiselectdropdownOuter{
	width: 100%;
}

.multiselectdropdown input[type="search"] {
    background: url(/assets/images/searchIcon.png) no-repeat 6px center;
    margin: 0 0 20px 0;
    padding-left: 30px;
    background-size: 16px;
}

.form-group .input-field{
	width: 100%;
}

.modalbody .skillinsdustry{
	border: 1px solid #ddd;
    padding: 2px 5px;
    border-radius: 5px;
    padding-left: 37px;
}

.degree-hlder{
	border: 1px solid #ddd;
    border-radius: 5px;
    height: auto;
    padding: 7px !important;
    padding-left: 40px !important;
}

.degree-hlder input{
	border: none;
	padding:0 !important;
}

.degree-hlder input[type="search"]{
	border: 1px solid #ddd;
    padding: 8px !important;
    padding-left: 28px !important;
}

.degree-hlder input:focus{
	outline: none;
}

.selected-span{
	background: #e5e5e5;
    padding: 2px 8px;
    font-size: 13px;
    border-radius: 15px;
    box-shadow: 0 0 9px -3px rgb(0 0 0 / 20%);
    margin: 4px;
    display: inline-block;
}

.modalbody input[type=checkbox].declareCheck{
	vertical-align: top;
	margin-top:2px;
}

.mail-box{
	border: 1px solid #ddd !important;
    padding: 12px 10px;
    border-radius: 6px !important;
}

.mail-box .fixed-text_data{
	margin-right: 10px;
}

.mail-box input{
	border: none !important;
	outline: none !important;
}

.pss-eye{
	position: absolute;
    top: 12px;
    right: 15px;
    color: #2672fd;
	cursor: pointer;
	font-size: 19px;
}

.form-group.otp-form-group{
	display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.form-group.otp-form-group input{
	width: 42px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
	transition: 0.3s;
	font-size: 18px;
    color: #000;
    font-weight: bold;
}

.form-group.otp-form-group input:focus{
	outline: none;
	border-color:#fc8c14;
}

.form-group.otp-form-group input:last-child{
	margin-right: 0;
}

.form-group.otp-form-group input[type=number]::-webkit-inner-spin-button, 
.form-group.otp-form-group input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-group.flx-frmgroup{
	display: flex;
}
.form-group.flx-frmgroup input{
	margin-top:4px;
}

.modalbody .form-group input[formcontrolname="contact_person_designation"]{
	width: 100%;
}

.modalform .form-group .input_text.border_less,
.input_text.border_less{
	border: none !important;
	border-bottom: none !important;
}

.degree-hlder.left_padd_less{
	padding-left: 15px !important;
}

.modalheader.milion-mdl-header.milon_header_high{
	background: #dc5454;
}

.modalheader.milion-mdl-header.milon_header_high strong{
	font-size: 21px;
	font-weight: bold;
}

.modalheader.milion-mdl-header.milon_header_high p{
	font-size:22px;
}

.question_modal .modal-body{
	padding-top: 25px;
}

.question_modal button.blueBtn{
	background: #12207c;
    padding:8px 20px 10px !important;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.question_modal.profilepageModal .modal-body .registrationFormInner label{
	padding: 0;
}

.question_modal .registrationFormInner textarea{
	border: none !important;
	border-bottom:1px solid #9e9e9e !important;
	padding:0;
}

.question_modal{
	max-height:325px !important;
} 




@media (max-width:1023px){
	.modal-open .modal{
		width: 100% !important;
	}


.modal-open .modal .modalform{
	padding: 0;}


	.modal-open .modal .loginSection{
		padding: 0;
	}	

	.modalbody input[type="checkbox"] + label{
		width: 87%;
	}	

	.modalform button[type="submit"]{
		background: #fff;
		border: none;
		max-width: 270px;
		margin: 0 auto;
		display: table;
		box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);
		padding: 8px 27px;
		border-radius: 25px;

	}

	.modalform button[type="submit"] img{
		padding-right: 6px;
    	width: 26px;
	}

	.loginmodalLeft h4{
		margin-bottom: 0;
	}

	.modalholder.recruiterstep1{
		max-width: 720px;
	}

	.modalholder.recruiterstep1 .cross{
		top:14px;
	}

	
}

@media (max-width: 767px){
	.modalholder.recruiterstep1 {
		max-width: 360px;
	}

	.modalholder.recruiterstep1 .modalform{

		padding: 0;
	}

	.modalbody .form-inline3, .modalbody .form-inline {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.form-inline3 .form-group {
		width: 100%;
	}

	.form-inline .form-group {
		width: 100%;
		margin: 0 0 15px;
	}

	.modalform{
		padding: 35px 0;
	}
	.jobseekerstep1 .modalbody{
		padding:15px;
	}

	.modalform p{
		text-align: justify !important;
		font-size: 15px;
		line-height: 22px;
	}

	.modalheader.milion-mdl-header{
		padding: 10px 15px;
	}

	.modalbody input[type=checkbox]+label{
		width: 94%;
		text-align: justify;
	}

	.modalheader.milion-mdl-header.milon_header_high strong{
		font-size: 18px;
	}

	.modalheader.milion-mdl-header.milon_header_high p{
		font-size: 19px;
	}

}
