.scheduleSelectOuter{
	padding: 10px;
    box-shadow: 1px 0px 5px #c1c1c1;
}
.scheduleSelectHead{
	padding: 5px 5px 0 5px;
	position: relative;
}
.scheduleForm h4{
	font-size: 20px;
    line-height: 24px;
    color: #212121;
    margin: 0 0 20px 0;
}
.scheduleSelectHead h4{
	font-size: 18px;
    line-height: 24px;
    font-family: Roboto;
    margin: 0 0 20px 0;
    color: #212121;
    text-align: center;
}
.scheduleSelectHead h4 span{
	vertical-align: middle;
}
.scheduleSelectBody{
	
}
.scheduleSelectWeek {
	display: table;
	width: 100%;
}
.scheduleSelectWeekCol {
	display: table-cell;
	vertical-align: top;
	padding: 6px;
	width: 14.28%;
	text-align: center;
}
.scheduleSelectWeekCol:last-child{
	border-right: none;
}
.scheduleSelectWeekCol p{
	font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #20219d;
    margin: 0;
    font-family: Raleway;
}
.scheduleSelectDay {
	display: flex;
	width: 100%;
}
.scheduleSelectDayCol {
	display: table-cell;
	vertical-align: top;
	padding: 8px 10px;
	width: 14.28%;
	text-align: center;
}
.scheduleSelectDayCol label span:before,
.scheduleSelectDayCol label span:after{
	display: none;
}
.scheduleSelectDayCol label {
	display: block;
	width: 100%;
	margin: 0;
}
.scheduleSelectDayCol label{
	/*border: 1px solid #b7b5b5;*/
    padding: 5px 5px;
    font-size: 15px;
    line-height: 22px;
    font-family: Roboto;
    color: #757575;
    height: 35px;
    display: inline-block;
    width: 35px;
    text-align: center;
    border-radius: 50%;
}

/* .scheduleSelectDayCol input[type="checkbox"]:checked+span:not(.lever) {
	
} */
.scheduleSelectDayCol input[type="checkbox"] + span{
	padding-left: 0;
}
.scheduleSelectDayCol .savedSchedule{
	background: #16a705;
	color: #fff;
}
.scheduleSelectDayCol label.checkedSchedule{
	background: #1f8263;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.timeSelect {
    padding: 4px 10px;
    display: none;
    box-shadow: 1px 0px 5px #c1c1c1;
    text-align: center;
}
.timeSelect button{
	display: inline-block;
	font-family: Roboto;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	background: #1b2d8f;
	padding: 6px 10px;
	border-radius: 3px;
	background-image: linear-gradient(#e21f26, #ab1318);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
    text-decoration: none;
    border: none;
}
.timeSelect button:hover{
	background-size: 100% 100%;
	text-decoration: none;
	color: #fff;
    text-decoration: none;
}
.timeSelect select {
    display: block !important;
    border: none !important;
    border-bottom: 1px solid #8591b9 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/downArrow1.png) no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    padding-left: 0px;
    font-size: 15px;
    border-radius: 0;
}
.timeSelect select:focus{
	outline: none;
}
.prevCal{
	display: inline-block;
    text-decoration: none;
    width: 20px;
    height: 20px;
    background: url(../images/leftArrow1.png) no-repeat 0px 4px;
    background-size: 8px;
    vertical-align: middle;
}
.nxtCal{
	display: inline-block;
    text-decoration: none;
    width: 20px;
    height: 20px;
    background: url(../images/rightArrow1.png) no-repeat 11px 3px;
    background-size: 8px;
    vertical-align: middle;
}
.registrationForm button{
	font-family: Roboto;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	background: #1b2d8f;
	padding: 6px 10px;
	border-radius: 3px;
	background-image: linear-gradient(#e21f26, #ab1318);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
	border: none;
}
.registrationForm button:hover{
	background-size: 100% 100%;
	color: #fff;
}
.registrationForm button:focus{
	outline: none;
}
.plusOuter{
	padding: 18px 0 0 0;
}
.plusOuter a img{
	width: auto;
}


@media (max-width: 767px){
	.scheduleSelectOuter{
		margin: 0 0 20px 0;
	}
	.scheduleSelectDayCol input[type=checkbox]+span:not(.lever){
		font-size: 13px;
		/*height: 30px;*/
		/*width: 30px;*/
		padding: 0px 5px;
	}
	.checkedSchedule{
		height: 30px;
		width: 30px;
	}
	.plusOuter {
	    padding: 22px 0 0 0;
	}
}
@media (max-width: 479px){
	/* .scheduleSelectBody{
		overflow-x: scroll;
	}
	.scheduleSelectWeek,
	.scheduleSelectDay{
		width: 430px;
		display: inline-block;
	} */
	/* .scheduleSelectWeekCol,
	.scheduleSelectDayCol{
		display: inline-block;
		width: 13.5%;
	}
	.scheduleSelectWeek{
		background: #616362;
	} */
}