/*font-family: 'montserrat';100,200,300,400,500,600,700,900;font-family: 'swis721_btroman';font-family: 'swis721_hv_btheavy';*/

body section.slideshow {
position: relative;
display: block;
width: 100%;
height: 100%; 
margin: 0 auto;
visibility: hidden;
overflow: hidden;
}
body section.slideshow ul.navigation {
position: absolute;
display: block;
width: 445px;
height: 444px;
padding: 0;
margin: 0;
left: 30px;
top: 50%;
margin-top: -222px;
z-index: 10;
}

body section.slideshow ul.navigation li.navigation-item {
position: absolute;
display: inline-block;
overflow:visible;
width: 120px;
height: 64px;
padding: 10px;
text-align: left;
cursor: pointer;
border-radius: 50%;
transition: border 0.6s ease-in-out;
}

body section.slideshow ul.navigation li.navigation-item .rotate-holder {
position: fixed;
display: block;
width: 0;
height: 0;
left: -9999px;
top: -9999px;
}
body section.slideshow ul.navigation li.navigation-item .background-holder,body section.slideshow ul.navigation li.navigation-item .name-holder {
position: absolute;
display: block;
width: 100%;
height: 100%;
top: 0;
right: 0;
bottom: 0;
left: 0;
border-radius: 50%;
background-repeat: no-repeat;
background-position: center center;    
background-size: cover;
opacity: 1;
visibility: visible;overflow:visible;
transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}body section.slideshow ul.navigation li.navigation-item .background-holder span,body section.slideshow ul.navigation li.navigation-item .name-holder span {display:block;min-width:110px;position:relative;transition:all ease-in-out 300ms;}
body section.slideshow ul.navigation li.navigation-item.temp1 .background-holder span,body section.slideshow ul.navigation li.navigation-item.temp1 .name-holder span {padding-top:20px;padding-left:55px;min-width:160px;}
body section.slideshow ul.navigation li.navigation-item.temp2 .background-holder span,body section.slideshow ul.navigation li.navigation-item.temp2 .name-holder span {padding-top:10px;right:70px;text-align:right;}
body section.slideshow ul.navigation li.navigation-item.temp3 .background-holder span,body section.slideshow ul.navigation li.navigation-item.temp3 .name-holder span {padding-top:20px;right:48px;text-align:right;}
body section.slideshow ul.navigation li.navigation-item.temp4 .background-holder span,body section.slideshow ul.navigation li.navigation-item.temp4 .name-holder span {padding-top:10px;right:48px;text-align:right;}
body section.slideshow ul.navigation li.navigation-item.temp5 .background-holder,body section.slideshow ul.navigation li.navigation-item.temp5 .name-holder,body section.slideshow ul.navigation li.navigation-item.temp6 .background-holder,body section.slideshow ul.navigation li.navigation-item.temp6 .name-holder{display:flex;align-content: center;align-items: center;}body section.slideshow ul.navigation li.navigation-item.temp5 .background-holder span,body section.slideshow ul.navigation li.navigation-item.temp5 .name-holder span {padding-bottom:10px;text-align:center;align-self:bottom;left:10px;}
body section.slideshow ul.navigation li.navigation-item.temp6 .background-holder span,body section.slideshow ul.navigation li.navigation-item.temp6 .name-holder span {padding-bottom:10px;left:55px;align-self:bottom;}
body section.slideshow ul.navigation li.navigation-item:after{position:absolute;content:"";left: 50%;bottom: 0;width:14px;height:14px;border-radius:50%;background:#2f2f2f;transition: all 0.6s ease-in-out;margin-left:-7px;}
body section.slideshow ul.navigation li.navigation-item.active:after{position:absolute;content:"";left:0;top:auto;left: 50%;bottom: 0%;right: auto;background:var(--secondary);}
body section.slideshow ul.navigation li.navigation-item:hover .background-holder {
opacity: 0.75;
}
body section.slideshow ul.navigation li.navigation-item.active .background-holder {
opacity: 0;
visibility: hidden;
font-size:14px;
}
body section.slideshow .detail {
position: absolute;
display: block;
width: 100%;
height: 100%;
top: 0;
right: 0;
bottom: 0;
left: 10px;
z-index: 8;
}
body section.slideshow .detail .detail-item {
position: absolute;
display: flex;
justify-content:center;
align-items:left;
flex-direction:column;
width: 100%;
height: 100%;
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: 0;
visibility: hidden;
transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
padding-left:450px;
background:url("../img/bsb_globe.jpg") 75px center no-repeat;
}
body section.slideshow .detail .detail-item .headline {
position: relative;
display: block;
width: 100%;
/* max-width: calc(100% - 480px); */
/* height: 126px; */
/* top: 50%; */
/* left: 50%; */
/* transform: translate(-50%, -50%); */
overflow: visible;
white-space: nowrap;
box-sizing: border-box;
z-index: 2;
}
body section.slideshow .detail .detail-item p{display: block;width: 100%;min-height:144px;}

body section.slideshow .detail .detail-item .headline .letter {
font-family: var(--webFont);
position: relative;
display: inline-block;
opacity: 0;
visibility: hidden;
color: var(--secondary);
font-size: 1.8rem;
line-height: normal;
font-weight: 300;
font-kerning: none;
white-space: nowrap;
box-sizing: border-box;
  text-transform: none;line-height:30px;
}
body section.slideshow .detail .detail-item .headline.subheading{padding:0 0 1.2vh;line-height:20px;}
body section.slideshow .detail .detail-item .headline.subheading .letter {color: #a4abc9;font-size: .8rem;}
body section.slideshow .detail .detail-item .background {
    position: absolute;
    display: block;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    top: 50%;
    /* right: 0; */
    /* bottom: 0; */
    left: 82px;
    overflow: visible;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
    /* transform: translateY(150%); */
    margin-top: -160px;
}
/* body section.slideshow .detail .detail-item .background::before { */
/* content: "";  */
/* background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 90%);    */
/* position: absolute; */
/* display: block; */
/* width: 100%; */
/* height: 100%; */
/* top: 0; */
/* right: 0; */
/* bottom: 0; */
/* left: 0; */
/* z-index: 2; */
  
/* } */
body section.slideshow .detail .detail-item.active {
opacity: 1;
visibility: visible;
}
@media all and (max-width:1600px){
body section.slideshow ul.navigation{width: 360px;height: 360px;margin-top:-180px;}
body section.slideshow .detail .detail-item{padding-left:380px;background:url("../img/bsb_globe.jpg") 75px center no-repeat;background-size:250px 250px;}
body section.slideshow .detail .detail-item .background{width: 230px;height: 230px;margin-top: -115px;left:85px;}
}


/*Testimonial Univercity*/
.testimonial2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.testimonial2 h1,
.testimonial2 h2,
.testimonial2 h3,
.testimonial2 h4,
.testimonial2 h5,
.testimonial2 h6 {
  color: #3e4555;
}

.testimonial2 h5 {
    line-height: 22px;
    font-size: 1rm;
	font-weight: 500;
margin-top:10px;color:#000;
}

.testimonial2 p {
    line-height: 22px;
    font-size: .85rem;
		font-weight: 400;color:#2c2c2c;text-align:justify;
}

.testimonial2 .font-weight-medium {
  font-weight: 500;
}

.testimonial2 .bg-light {
  background-color: #f4f8fa !important;
}

.testimonial2 .subtitle {
  color: #104ecd;
  line-height: 24px;font-weight:300;
}

.testimonial2 .testi2 .image-thumb {
  background: url("../img/jobseeker_testimonial_img_bg.jpg") no-repeat top center;
background-size:100% auto;
  text-align: center;
  padding: 6% 0 16%;
}

.testimonial2 .testi2 .image-thumb img {
  width: 70%;
    margin: 0 auto;
}

.testimonial2 .testi2 .owl-dots {
  display: inline-block;
  position: relative;
  bottom: 30px;
}

.testimonial2 .testi2 .owl-dots .owl-dot {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-size: cover;
  margin-right: 10px;
  opacity: 0.4;
  cursor: pointer;
}

.testimonial2 .testi2 .owl-dots .owl-dot span {
  display: none;
}

.testimonial2 .testi2 .owl-dots .owl-dot.active,
.testimonial2 .testi2 .owl-dots .owl-dot:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  .testimonial2 .testi2 .owl-dots {
    top: 0px;
  }
}

.testimonial2 .btn-md {
    padding: 18px 0px;
    width: 60px;
    height: 60px;
    font-size: 20px;
}

.testimonial2 .quote {
    line-height: 1px;
    font-size: 10rem;margin:0 0 -10px;color:var(--primary);
}

.testimonial2 .btn-danger {
    background: #ff4d7e !important;
    border: 1px solid #ff4d7e !important;
}


.freejob.container{position:relative;padding-bottom:2rem;padding-bottom:3vh;}
.freejob .background_block{background:var(--goden);position:absolute;height:55%;bottom:0;left:0;right:0;}
.freejob_info{align-self:center;padding-top: 32px;max-width:650px;margin:0 auto;}.freejob .text{display:block;overflow:visible;font-size:5rem;font-size:4rem;color:var(--goden);position:absolute;top:46%;transform:translateY(-50%);}
.unlimited{font-weight:900;top: -1%;font-size:150%;z-index:0;line-height:66px;}.freepost{color:#fff;padding-left:14.8%;font-weight:600;padding-top: 3px;z-index:1;line-height:60px;display:block;white-space: nowrap;position:}.freejob .space{display:block;/*height:14rem;*/padding-top: 33vh;}.why_text{color:#fff;font-size:2.2rem;font-size:2.2rem;font-weight:500;padding-bottom:2vh;}.why_text span{font-size:180%;color:#000;font-weight:900;}.button.postJob:before{background-image: url(../img/bsb_add.png);}


.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: Arial;
}
.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 300px;
  justify-content: center;
  perspective: 300px;
}
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 150px;
  height: 250px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.3s ease-in;
  background:#496cbf;
}
.carousel__item[data-pos="0"] {
  z-index: 5;
}
.carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}
.carousel__item[data-pos="-1"] {
  transform: translateX(-13%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="1"] {
  transform: translateX(13%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
  opacity: 0.5;
  filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos="-2"] {
  transform: translateX(-30%) scale(0.8);
  z-index: 3;
}
.carousel__item[data-pos="2"] {
  transform: translateX(30%) scale(0.8);
  z-index: 3;
}
.jobseeker_testi.container{padding-top:35px;padding-bottom:35px;} 
.jobseeker_testi .heading span{display:inline-block}

/*invite*/
.invite_info{align-self:center;}.invite_info .heading{text-transform:none;}.invite_info .subheading{font-weight:300;font-size:1.4rem;font-size:1.3rem;max-width:750px;padding:0 0 32px;}
.button.invite::before{background-image:url("../img/bsb_invite_icon.png");background-size:40px 40px;padding: 3px 24px 3px 8px;}

/*share*/
.share{background:#fbfbfb url("../img/bsb_share_bg.jpg") center bottom repeat-x;padding:24px 2vw 25vh;background-size:auto 25vh;}.share .heading span{display:inline-block;}.share .social{list-style-type:none;margin:0;padding:0;}.share .social li{display:inline-block;margin:8px 8px;text-align:left;}.share .social li a.button span span{display:block;color:#ff1d2b;text-transform:uppercase;font-weight:600;}.share .social li a.button{font-weight:300;font-size:14px;padding:6px 30px 6px 8px;height:60px;border-radius: 30px;}

.login_links{background:#8d8d8d!important;}.beta{font-size:13px;color:#303030;max-width:1560px;margin:0 auto;}.copyright{font-size:13px;color:#fff;}.copyright a{color:#fff;}.copyright a:hover{color:var(--primary);}
.beta a, .promo a{color:#1552e4;text-decoration:underline;}.beta a:hover, .promo a:hover{color:#1552e4;text-decoration:none}.beta p{margin:0;padding:0;}


#carousel {
  position: relative;
height: 600px;
  top: 0%;
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: all 1s;
  opacity: 1;background: rgb(63,175,242);background: -moz-linear-gradient(180deg, rgba(63,175,242,1) 0%, rgba(75,90,220,1) 100%);background: -webkit-linear-gradient(180deg, rgba(63,175,242,1) 0%, rgba(75,90,220,1) 100%);background: linear-gradient(180deg, rgba(63,175,242,1) 0%, rgba(75,90,220,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3faff2",endColorstr="#4b5adc",GradientType=1);padding:4vh 4vw;min-height:400px;border-radius:30px;display:flex;flex-direction:column;justify-content:center;align-content:center;align-items:center;color:#fff;font-weight:400;font-size:1.1rem;text-align:center;max-width:1124px;width:100%;
}
#carousel div p{max-width:700px;margin:0 auto;}
#carousel div img {
  width: 124px;height:124px;object-fit:cover;border-radius:50%;border:4px solid #496cbf;
  transition: all 1s;
}
#carousel div.selected img {
  width: 164px;height:164px;object-fit:cover;border-radius:50%;border:4px solid #496cbf;
  transition: all 1s;
}
#carousel div.hideLeft {
  left: 38%;
  opacity: 0;
  transform: translateY(0) translateX(-50%) scale(0.6);background:#f5f8ff;
}
#carousel div.hideLeft img {
  width: 0px;
}
#carousel div.hideRight {
  left: 64%;
  opacity: 0;
  transform: translateY(0%) translateX(-50%) scale(0.6);background:#f5f8ff;
}
#carousel div.hideRight img {
  width: 0px;
}
#carousel div.prev {
  z-index: 5;
  left: 44%;
  transform: translateY(0px) translateX(-50%) scale(0.9);background:#becae8;
}
/* #carousel div.prev img { */
  /* width: 112px;height:112px; */
/* } */
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 38%;
  transform: translateY(0%) translateX(-50%) scale(0.8);
  opacity: 1;background:#e4eaf9;
}
/* #carousel div.prevLeftSecond img { */
 /* width: 112px;height:112px; */
/* } */
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 56%;
  transform: translateY(0px) translateX(-50%) scale(0.9);background:#becae8;
}
#carousel div.selected img {
  border:12px solid #fff;
}
/* #carousel div.next img { */
  /* width: 300px; */
/* } */
#carousel div.nextRightSecond {
  z-index: 4;
  left: 62%;
  transform: translateY(0%) translateX(-50%) scale(0.8);
  opacity: 1;background:#e4eaf9;
}
/* #carousel div.nextRightSecond img { */
  /* width: 200px; */
/* } */
/* #carousel div.prev img, #carousel div.next img {width: 124px;height:124px;} */
#carousel div p, #carousel div p,#carousel div .name, #carousel div h4{opacity:0;transition: all 1s;}
#carousel div.selected p,#carousel div.selected .name, #carousel div.selected h4{opacity:1;}
#carousel div .thumbnail , #carousel div .thumbnail {bottom:-300px;left:50%;transform:translateX(-50%);position:absolute;opacity:0;transition: all 1s;}#carousel div.prev .thumbnail{left:30%;opacity:1;}#carousel div.next .thumbnail{left:70%;opacity:1;}#carousel div.selected .thumbnail {bottom:-170px;left:50%;transform:translateX(-50%);opacity:1;}
#carousel div.hideLeft .thumbnail {left:0%;}
#carousel div.hideLeft .thumbnail {left:100%;}
#carousel div.prevLeftSecond .thumbnail , #carousel div.nextRightSecond .thumbnail {opacity:0;}
#carousel .thumbnail .name{font-size:1.2rem;font-weight:600;color:#2241b7;margin:30px 0 0;}#carousel .thumbnail h4{font-size:1em;font-weight:400;color:#000;margin:0;}
#carousel  div.nextRightSecond .thumbnail,#carousel  div.prevLeftSecond .thumbnail{visibility:hidden;transition:all ease-in-out 300ms;}#carousel  div .thumbnail .name,#carousel  div .thumbnail h4{visibility:hidden;transition:all ease-in-out 300ms;}#carousel  div.selected .thumbnail .name,#carousel  div.selected .thumbnail h4{visibility:visible;transition:all ease-in-out 300ms;}

.buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
#carousel div .quote{font-size:20rem;color:#fff;font-weight:600;font-style: normal;margin-bottom: -26%;margin-top: -16%;}
#carousel div.selected:before,#carousel div.selected:after{position:absolute;content:"";}#carousel div.selected:before{background:url(../img/dot.png) left top repeat;width:94px;height:94px;z-index:0;left:4vw;top:7vh;}#carousel div.selected:after{bottom:0;right:0;background:url("../img/curcle.png") left bottom no-repeat;width:137px;height:163px;}
.odometer-inside{border:1px solid #bababa;}
.btn-close{position:absolute;top:0px;right:5px;width:32px;height:32px;line-height:32px;text-align:center;color:#fff;font-size:1.1rem;font-weight:200;padding:0px;background:#000;z-index: 9999;}.btn-close:hover{background:#fff;}
.modal .button{min-width:200px;padding: 6px 40px 6px 20px;text-align: center;justify-content: center;}
.btn-show-pass, .icon-wrap {
    font-size: 15px;
    color: #999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 5px;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;z-index: 9;
}
.icon-wrap {right:auto;left:10px;}.f-10{font-size:10px;}.policy{margin:0 -10px;}.policy a, .form-note a{color:#1754ca;font-weight:600;}.dashboard_bg img{width:100%;}.form-note a{font-weight:400;}

/*Step 2 */
.step_header{background:#3d5ed6;padding:0 36px 36px;color:#fff;text-align:center;width:100%;}.step_header .form_heading{text-transform:uppercase;font-weight:600;font-size:1.8rem;border-bottom:1px solid #fff;padding:10px 0;margin-bottom:15px;}.step_header h1{font-size:2.2rem;font-weight:200;}.step_header p{font-size:1.3rem;font-weight:400;}.step_header p b{font-size:120%;font-weight:600;}

.datebirthwrapInner{
    display: flex;margin:0 -8px;
}
.input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.genderWrap .input-field {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
    margin-right: 10px;
}
.datebirthwrapInner .input-field{
    margin: 0 8px 8px;
}

.input-field>label {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: transform .2s ease-out,color .2s ease-out;
    transform-origin: 0 100%;
    text-align: initial;
    transform: translateY(0px);
}
.genderWrap h6, .genderWrap label {
    display: block;
    position: relative;
    font-size: 13px;
    line-height: 20px;
}
.genderWrap label {
    border: 1px solid #d0d0d0;
    padding: 10px 10px;
    margin: 0;border-radius:6px;font-size:14px;font-weight:400;
}
[type=radio]:checked, [type=radio]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
[type=radio]:checked+span, [type=radio]:not(:checked)+span {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size:14px;font-weight:400;color:#000;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.genderWrap label span {
    display: block!important;
}
[type=radio]+span:after, [type=radio]+span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    transition: .28s ease;
}
[type=radio].with-gap:checked+span:after, [type=radio].with-gap:checked+span:before, [type=radio]:checked+span:after, [type=radio]:checked+span:before, [type=radio]:not(:checked)+span:after, [type=radio]:not(:checked)+span:before {
    border-radius: 50%;
}
[type=radio]:not(:checked)+span:after, [type=radio]:not(:checked)+span:before {
    border: 2px solid #5a5a5a;
}
[type=radio]:checked+span:before {
    border: 2px solid transparent;
}
[type=radio].with-gap:checked+span:after, [type=radio].with-gap:checked+span:before, [type=radio]:checked+span:after {
    border: 2px solid #26a69a;
}
[type=radio].with-gap:checked+span:after, [type=radio]:checked+span:after {
    background-color: #26a69a;
}
[type=radio]:checked+span:after {
    transform: scale(1.02);
}

.form_wrapper{padding:36px 36px 20px;}.form_wrapper input, .form_wrapper select{font-size:14px;font-weight:400;height:42px;margin:0;}
::placeholder{font-weight:400;}
.form-control.datepicker:disabled, .form-control.datepicker[readonly] {
    background-color: #fff;
    opacity: 1;
}
.date-icon{background:#fff url(../img/date_icon.png) 97% center no-repeat;}

.modal-forms .input-group, .step-form .custom-file, textarea.form-control{border:1px solid #d5d5d5;border-radius:6px;margin-bottom:12px;overflow:hidden;font-size:14px;}.modal-forms .input-group-text{border:0px;min-width:48px;color:#969696;}
.modal-forms .input-group input.input100,.modal-forms .input-group select{height:45px;padding:4px 12px;text-align:left;font-weight:400;font-size:14px;}
.modal-forms .input-group .has-val {
    height: 45px !important;
}
.modal-forms .input-group .form-control:focus{background:transparent;}
.modal-forms .datebirthwrapInner .input-field {margin: 0 5px 5px;}
#recruiterRegisterStep.modal .modal-dialog{max-width:1280px;}
.step-form .custom-file{height:42px;margin:0;}
.step-form .custom-file-label{padding: 0.515rem .75rem 0.515rem 12px;font-weight:400;}
.form-group label{font-size:13px;line-height:20px;padding-bottom:6px;display:block;font-weight:400;color:#000;}
textarea.form-control{height:80px;font-size:14px;resize:none;}.ss-main .ss-multi-selected{border:0px;min-height: 32px;padding: 5px 0 0 0px;}.register_full .custom-file-input, .ss-main,.register_full .custom-file{height: 45px;}.input-group.multi_select{overflow:visible;}.register_full .wrap-login100{ max-height: 85vh;overflow:auto;}.register_full .login100-form{max-height:none;}textarea.input100:focus {height: 80px;}textarea.form-control.input100{border:0px;padding:12px 10px !important;}
.form-heading{border-radius:6px;margin:15px 0;padding:10px 15px !important;font-size:1rem;font-weight:400;background:#f5f5f5;}.f-13{font-size:13px;}.policy.normal a{font-weight:400;}
.social .button:before{display:none;}.social .button i{width:48px;height:48px;border-radius:50%;line-height:48px;text-align:center;margin-right:14px;font-size: 31px;overflow:hidden;color:#fff;}
.fb i{background: rgb(26,117,240);background: -moz-linear-gradient(145deg, rgba(26,117,240,1) 0%, rgba(29,10,166,1) 100%);background: -webkit-linear-gradient(145deg, rgba(26,117,240,1) 0%, rgba(29,10,166,1) 100%);background: linear-gradient(145deg, rgba(26,117,240,1) 0%, rgba(29,10,166,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a75f0",endColorstr="#1d0aa6",GradientType=1);}
.tweet i{background: rgb(0,201,255);background: -moz-linear-gradient(200deg, rgba(0,201,255,1) 0%, rgba(0,129,254,1) 100%);background: -webkit-linear-gradient(200deg, rgba(0,201,255,1) 0%, rgba(0,129,254,1) 100%);background: linear-gradient(200deg, rgba(0,201,255,1) 0%, rgba(0,129,254,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00c9ff",endColorstr="#0081fe",GradientType=1);}
.insta i{background: rgb(255,214,111);background: -moz-linear-gradient(200deg, rgba(255,214,111,1) 0%, rgba(255,37,121,1) 50%, rgba(104,64,249,1) 100%);background: -webkit-linear-gradient(200deg, rgba(255,214,111,1) 0%, rgba(255,37,121,1) 50%, rgba(104,64,249,1) 100%);background: linear-gradient(200deg, rgba(255,214,111,1) 0%, rgba(255,37,121,1) 50%, rgba(104,64,249,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd66f",endColorstr="#6840f9",GradientType=1);}
.in i{background: rgb(0,153,240);background: -moz-linear-gradient(215deg, rgba(0,153,240,1) 0%, rgba(1,71,231,1) 100%);background: -webkit-linear-gradient(215deg, rgba(0,153,240,1) 0%, rgba(1,71,231,1) 100%);background: linear-gradient(215deg, rgba(0,153,240,1) 0%, rgba(1,71,231,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0099f0",endColorstr="#0147e7",GradientType=1);}
.wapp i{background: rgb(0,249,112);background: -moz-linear-gradient(212deg, rgba(0,249,112,1) 0%, rgba(0,176,88,1) 100%);background: -webkit-linear-gradient(212deg, rgba(0,249,112,1) 0%, rgba(0,176,88,1) 100%);background: linear-gradient(212deg, rgba(0,249,112,1) 0%, rgba(0,176,88,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00f970",endColorstr="#00b058",GradientType=1);}
.snap i{background: rgb(254,251,53);background: -moz-linear-gradient(212deg, rgba(254,251,53,1) 0%, rgba(255,187,42,1) 100%);background: -webkit-linear-gradient(212deg, rgba(254,251,53,1) 0%, rgba(255,187,42,1) 100%);background: linear-gradient(212deg, rgba(254,251,53,1) 0%, rgba(255,187,42,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefb35",endColorstr="#ffbb2a",GradientType=1);}
.fb i.fa-facebook-f:before{position: relative;top: 8px;font-size: 132%;}
.card{position:relative;}.card .remove-item{position:absolute;top:0px;right:0;color:var(--primary);width: 24px;height: 24px;text-align: center;line-height: 24px;}.card .number{position:absolute;top:-8px;left:-8px;background:var(--secondary);color:#fff;width: 24px;height: 24px;border-radius: 50%;text-align: center;line-height: 24px;}
.announce-msg-body{display:block;padding:15px;margin:12px 0;border:1px solid var(--secondary);box-shadow:0px 0px 6px var(--secondary);}.button.noicon:before{display:none;}
.tox-tinymce{width: 94.5%;}


@media all and (max-width:1200px){
	html,body{font-size:15px;}.freejob .text{font-size: 3.5rem;top: 48%;}.unlimited{line-height: 52px;}.sbi-wrapp svg text{font-size: 12rem;}
}
@media all and (max-width:992px){
	html,body{font-size:14px;}
}
@media all and (max-width:768px){
	html,body{font-size:13px;}.sbi-wrapp .content{min-height: 461px;}
}
@media all and (max-width:400px){
	html,body{font-size:12px;}.sbi-wrapp .content{min-height: 400px;}.sbi-wrapp svg text {font-size: 15.5rem;}
}