@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/*font-family: 'Roboto', sans-serif;*/ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

@font-face {
    font-family: 'swis721_btbold';
    src: url('../fonts/swis721_bt_bold-webfont.woff2') format('woff2'),
         url('../fonts/swis721_bt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'swis721_ex_btroman';
    src: url('../fonts/swis721_ex_bt_roman-webfont.woff2') format('woff2'),
         url('../fonts/swis721_ex_bt_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'swis721_lt_btlight';
    src: url('../fonts/swis721_lt_bt_light-webfont.woff2') format('woff2'),
         url('../fonts/swis721_lt_bt_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.clear{
	clear: both;
}
.clear:after{
	clear: both;
	position: relative;
	content: "";
	width: 100%;
	display: table;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	color: #474747;
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	font-size: 16px; 
	line-height:26px; 
	color: #424242;
} 
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
p{ margin: 0 0 25px; }
.container{ max-width: 1230px; margin: 0 auto; padding: 0 15px;  width: 100%; }
.container-fluid{padding: 0 15px;}
a{color: #4b4e59; text-decoration: none;}
a:hover{ color: #e20015; text-decoration: none; }
a,img{ transition: 0.5s; -webkit-transition:0.5s; }
strong{ color: #101010; font-weight: 700; }
button{text-transform: capitalize;}
section{padding: 40px 0;}
h2.title { 
    font-size: 45px;
    line-height: 50px;
    margin: 0 0 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
} 
.tophd{font-family: 'Raleway', sans-serif; margin: 0 0 40px; text-align: center;}
.tophd h2{position: relative; font-size: 30px; line-height: 35px; margin: 0; padding: 0 0 10px;
	text-transform: uppercase; font-weight: 400;
} 
.tophd h2 span{font-weight: bold;}
.tophd p{margin:0 0 10px; }
.cmnbtn{display: inline-block; font-family: 'Raleway', sans-serif; font-weight: 600;
	font-size: 18px; line-height: 20px; text-transform: uppercase; border-radius: 0 10px 0 10px;
	padding: 16px 40px; background: #96ce13; color: #ffffff;
}
.cmnbtn:hover{color: #ffffff; background: #0071c3;}
.btnholder{text-align: center;}

.cmn_lgin_btn{display: inline-block; padding:10px 20px 10px 50px; text-transform: initial;
	box-shadow: 0 3px 3px 0 #d3d4d4; border-radius: 35px; font-weight: 500; font-size: 16px;
	background:#fff; position: relative; line-height: 18px;
	box-shadow: 0 5px 5px 1px rgba(0,0,0,0.2);
	background:#1754ca;
	color: #fff;

	box-shadow: 0px 3px 8px #909090, inset 0px 2px 3px #89aaec;
    border-radius: 35px;
    font-size: 18px;
    background: #fff;
    position: relative;
    line-height: 20px;
    background: #1754ca;
    border-color: #494949;
    color: #fff;
    background-image:	linear-gradient(top, #1754ca, #1754ca);
}
.cmn_lgin_btn:after{
	transition: 0.5s; -webkit-transition: 0.5s;
	background:url(../images/lock.png) no-repeat  0 0; left: 20px; top: 50%;
	transform: translate(0,-50%) rotateY(0deg); -webkit-transform: translate(0,-50%) rotateY(0deg);
	position: absolute; width: 22px; height: 26px; content: "";
	background-size: 22px;
} 
.cmn_lgin_btn:hover {
    background: #fefefe;
    color: #e20015;
    box-shadow: 3px 2px 4px 1px #d3d4d4;
    border-radius: 55px;
	box-shadow: 0 5px 5px 1px rgba(0,0,0,0.2);

	background: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);

}
.cmn_lgin_btn:hover:after{
	background:url(../images/lock.png) no-repeat  0 0;
	transform: translate(0,-50%) rotateY(180deg); 
	-webkit-transform: translate(0,-50%) rotateY(180deg);
	background-size: 22px;
}

/*header*/
 
.site-header{padding: 35px 0; position: fixed; background: rgba(255,255,255,0); left: 0; top: 0;
	width: 100%; z-index: 123;
}
.headerhold{display: flex; justify-content: space-between; align-items: center;}
.logo{display: inline-block; line-height: 0;}
.jobseekerlogin{display: inline-block; 
	/*padding: 16px 20px 16px 45px !important;*/ 
	/* text-transform: initial;
	box-shadow: 0 3px 3px 0 #d3d4d4; border-radius: 35px; font-size: 18px;
	background:#fff; position: relative; line-height: 20px; font-weight: bold;
	color: #000;
	background: #1754ca;
    border-color: #1754ca;
	color:#fff; */

	display: inline-block;
	text-transform: initial;
    box-shadow: 0px 3px 8px #909090, inset 0px 2px 3px #89aaec;
    border-radius: 35px;
    font-size: 18px;
    background: #fff;
    position: relative;
    line-height: 20px;
    color: #000;
    background: #1754ca;
    border-color: #1754ca;
    color: #fff;
    background-image:	linear-gradient(top, #1754ca, #1754ca);
}
.jobseekerlogin:after{
	transition: 0.5s;
	-webkit-transition: 0.5s;
	background:url(../images/lock.png) no-repeat  0 0;
	left: 20px;
	top: 50%;
	transform: translate(0,-50%) rotateY(0deg);
	-webkit-transform: translate(0,-50%) rotateY(0deg);
	position: absolute;
	width: 22px;
	height: 24px;
	background-size:22px;
	content:"";
	filter: invert(1) brightness(100);
	-webkit-filter: invert(1) brightness(100);
} 
.jobseekerlogin.invite:after{
	transition: 0.5s; -webkit-transition: 0.5s;
	background:url(../images/invite.png) no-repeat  0 0; left: 20px; top: 50%;
	transform: translate(0,-50%) rotateY(0deg); -webkit-transform: translate(0,-50%) rotateY(0deg);
	position: absolute; width: 26px; height: 29px; content: "";
} 
.jobseekerlogin.postjob:after{
	transition: 0.5s; -webkit-transition: 0.5s;
	background:url(../images/calender.png) no-repeat  0 0; left: 20px; top: 50%;
	transform: translate(0,-50%) rotateY(0deg); -webkit-transform: translate(0,-50%) rotateY(0deg);
	position: absolute; width: 26px; height: 29px; content: "";
} 
.jobseekerlogin.recruiter1:after{
	transition: 0.5s; -webkit-transition: 0.5s;
	background:url(../images/recruiter.png) no-repeat  0 0; left: 20px; top: 50%;
	transform: translate(0,-50%) rotateY(0deg); -webkit-transform: translate(0,-50%) rotateY(0deg);
	position: absolute; width: 26px; height: 29px; content: "";
} 
.jobseekerlogin:hover {
    background: #fefefe;
    color: #e20015;
    box-shadow: 3px 2px 4px 1px #d3d4d4;
    border-radius: 55px;
	background: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
}
.jobseekerlogin:hover:after{
	background:url(../images/lock.png) no-repeat  0 0;
	transform: translate(0,-50%) rotateY(180deg);
	-webkit-transform: translate(0,-50%) rotateY(180deg);
	width: 22px;
	height: 24px;
	background-position: center;
	filter:inherit;
	-webkit-filter:inherit;
	background-size: 22px;
}
.jobseekerlogin.invite:hover:after{
	background:url(../images/invite.png) no-repeat  0 0;
	transform: translate(0,-50%) rotateY(180deg); -webkit-transform: translate(0,-50%) rotateY(180deg);
	background-size: 22px;
}
.jobseekerlogin.postjob:hover:after{
	background:url(../images/calender.png) no-repeat  0 0;
	transform: translate(0,-50%) rotateY(180deg); -webkit-transform: translate(0,-50%) rotateY(180deg);
	background-size: 21px;
}
.jobseekerlogin.recruiter1:hover:after{
	background:url(../images/recruiter.png) no-repeat  0 0;
	transform: translate(0,-50%) rotateY(180deg); -webkit-transform: translate(0,-50%) rotateY(180deg);
	background-size: 22px;
}
.site-header{transition: 0.5s; -webkit-transition: 0.5s;}
.sticky .site-header{padding:5px 0 0 0 ;  background: rgba(255,255,255,.9);}

/**banner**/
.banner{display: flex; padding: 0; padding-top: 100px; font-family: 'Montserrat', sans-serif;
	background: url(../images/map.png) no-repeat center;  background-size: cover;
	padding-bottom:130px;
}
.bannerleft{width: 45%; font-size: 22px; line-height: 28px; font-weight: 500;}
.bannerleft > p{margin:0; padding: 30px 0;}
.job{position: relative; display: inline-block; font-size: 25px;}
.job span{display: block; text-transform: uppercase; color: #2f2f2f; letter-spacing: 7px;
	position: relative;
}
.job span.line1{left: 120px; top: 60px; color: #05208f; text-transform: initial;
	font-size: 26px; letter-spacing: 8px; 
}
.job span.line3{    
	position: absolute;
    right: -23px;
    bottom: 65px;
    transform: rotate(270deg);
    font-size: 30px;
    font-weight: 300;
}


.job span.line1{left: 200px; transform: rotateX(90deg); transition: all 0.5s ease-in-out 0s;}
.job span.line2{opacity: 0; transition: all 0.5s ease-in-out .5s;}
.job span.line3{bottom: 0; opacity: 0; transition: all 0.5s ease-in-out 1s;}
.job span.line4{left: -300px; opacity: 0; transition: all 0.5s ease-in-out 1.5s;}

 
.in-view .job span.line1{left: 120px; transform: rotateX(0deg);}
.in-view .job span.line2{opacity: 1;}
.in-view .job span.line3{bottom: 65px; opacity: 1;}
.in-view .job span.line4{left: 0; opacity: 1;}

.bannerleft > p{transform: scale(0); transition: all 0.5s ease-in-out 2s;}
.in-view .bannerleft > p{transform: scale(1);}

.anywhere{position: relative; display: inline-block; font-family: 'swis721_ex_btroman';}
.anywhere span{display: inline-block; text-transform: initial; color: #2f2f2f; 
	padding-bottom: 25px;
	position: relative; 
}
.anywhere span.line5{left: 70px; top: 0; color: #05208f; text-transform: initial;
	font-size: 26px;  display: block; position: absolute;
} 
.anywhere span.line6{
	font-size: 50px; color: #e20015; text-transform: capitalize;
	font-weight: bold; line-height: 80px; margin-right: 6px;
}
.anywhere span.line6:first-letter{font-size: 100px;}
.anywhere span.line8{font-weight: bold;}

.anywhere span.line5{left: 200px; transform: rotateX(90deg); transition: all 0.5s ease-in-out 2.5s;}
.anywhere span.line6{opacity: 0; transition: all 0.5s ease-in-out 3s;} 
.anywhere span.line7,.anywhere span.line8{ opacity: 0; transition: all 0.5s ease-in-out 3.5s;
	padding: 0 5px 0 0;
}

 
.in-view .anywhere span.line5{left: 70px; transform: rotateX(0deg);}
.in-view .anywhere span.line6{opacity: 1;} 
.in-view .anywhere span.line7,.in-view .anywhere span.line8{ opacity: 1;}


.bannerhold{display: flex; justify-content: space-between;  align-items: center;}

/**flagslider*by-owl**/
.flagslider{
	/* pointer-events: none; */
	cursor: pointer;
}
.flaglist{
  width: 600px;
  margin: 0 auto ;
  background: #ffffff;
}
.flagslider >h3{
	/* display: table;
    padding: 14px 25px 14px 25px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px #d3d4d4;
    border-radius: 35px;
    font-weight: bold;
    font-size: 22px;
    background:#ff4250;
    position: relative;
    margin: 0 auto 20px;
    color: #fff;

	background: #ff4250;
    color: #fff;
    background-image:	linear-gradient(top, #ff4250, #ff4250);
	box-shadow: 0px 3px 8px #d04242, inset 0px 2px 3px #da3a46; */

	display: table;
    padding: 11px 20px 10px 20px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px #d3d4d4;
    border-radius: 35px;
    font-weight: bold;
    font-size: 22px;
    background: #ff4250;
    position: relative;
    margin: 0 auto 20px;
    color: #fff;
    background: url(../images/industrybg2.jpg) no-repeat 0 0;
    background-size: 372px;
    color: #fff;
    background-image: linear-gradient(top, #ff4250, #ff4250);
    box-shadow: 0px 3px 8px #929292, inset 0px 2px 3px #db5c4b;
    border: 2px solid #1754ca;
}
.flaglist >li{}
.flaglist .slick-slide  >div{padding: 4px; line-height: 0; text-align: center;
	
}
.flaglist .slick-slide  >div >li{
	box-shadow: 0 0 3px 1px #ddd;
}
.flag img{ width: 100%; }

.countno{
	padding: 3px 0; 
	display:flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 3px 0;
    line-height: 18px;
    color: #ffffff;
    font-weight: 500;
}
.splt,
.countno span{display: inline-block; width: 20px; height: 20px; color: #ffffff; background: #000 !important;
	text-align: center !important; padding: 3px; font-size: 12px; line-height: 12px;
	border: 1px solid #ffffff;
	border-left: none;
}

/**search-by-industry**/

.sbi-wrapp{text-align:center;padding:0px; overflow: hidden;
	/*background:url("../img/bsb_search_by_industry.jpg") center center no-repeat;*/
	position:relative;
	/*background-size:cover;;background: rgb(63,175,242);
	background: -moz-linear-gradient(180deg, rgba(63,175,242,1) 0%, rgba(75,90,220,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(63,175,242,1) 0%, rgba(75,90,220,1) 100%);
	background: linear-gradient(180deg, rgba(63,175,242,1) 0%, rgba(75,90,220,1) 100%);*/
	background: url(../images/industrybg2.jpg) no-repeat 0 0;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3faff2",endColorstr="#4b5adc",GradientType=1);}
	.sbi-wrapp h2{font-size:40px;font-weight:600;color:#ffffff;
		text-shadow:3px 3px 0 rgba(0,0,0,.13);position:relative;z-index:12;}
	.sbi-wrapp .content{padding:60px 20px 0;min-height:700px;height:auto}
.sbi-wrapp svg text{font-family:var(--swisH);stroke:#ffffff;font-weight:400;
	stroke-width:2px;text-transform:uppercase;
	text-shadow:3px 0 6px rgba(0,0,0,.58), 0px 0px 10px rgba(255,255,255,.6);
	letter-spacing:.5rem;}.sbi-wrapp svg text{animation:none;
		 
}
.in-view.sbi-wrapp svg text{
	animation:textAnimate 5s;
}
@keyframes textAnimate{
	0%{
		stroke-dasharray:0 50%;
		stroke-dashoffset:20%;
	}
	100%{
		stroke-dasharray:50% 0;
		stroke-dashoffset:-20%;
	}
}

.demo-3 {
	--color-text: #320065;
    --color-bg: #d02d55;
    --color-link: #ffffff;
    --color-link-hover: #000000;
    --color-title: #320065;
    --filter-img: sepia(1) saturate(1) contrast(180%) brightness(80%) hue-rotate(295deg);
}
 
.content {
	height: 300px;
	position: relative;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction:column;
	isolation: isolate;
}

.content__title,  .sbi-wrapp svg{
	font-weight: 700;
	position: relative;
	z-index: 12;
	font-size: 27rem;
	mix-blend-mode: var(--blendmode-title);
	-webkit-text-stroke: 2px var(--color-title);
	text-stroke: 2px var(--color-title);
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
	pointer-events: none;

	margin: 0; font-family: 'swis721_btbold';
	 font-size: 176px; line-height: 200px;  text-transform: uppercase;
}

.content__img {
	max-width: var(--img-maxwidth);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	will-change: transform;
	filter: var(--filter-img);
	z-index:123 !important;
	transition:opacity ease-out 600ms;
	-webkit-transition:opacity ease-out 600ms;
	-moz-transition:opacity ease-out 600ms;
	-ms-transition:opacity ease-out 600ms;
	-o-transition:opacity ease-out 600ms;
}

.content__img--full {
	width: 100%;
	height: 100%;
	background-size: cover;
}



.serach_industry{
	padding: 100px 0; text-align: center;
	background: url(../images/industrybg1.jpg) no-repeat 0 0;
	background-size: cover; 
	position: relative;
} 
.serach_industry h2{margin: 0; font-family: 'swis721_btbold';
	 font-size: 176px; line-height: 200px;  text-transform: uppercase;

	 color: white; 
   background: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #b24220; 
}
/**number_sec**/
.number_sec{text-align: center;} 
.number_sec h2{margin: 0 0 25px;}
.number_holder{display: flex; justify-content: center; position: relative; margin: 0 0 90px;}
.number_holder .number{display: inline-block; position:relative; width: 120px; height: 150px; 
  margin: 0 12px;
}
.number_holder .number .flag{display: inline-block; max-width: 40px;
	position: absolute; left: 0; top: 0; height: 30px;
	/*transition: all 2.5s ease-in-out 0.3s;*/
}
.number_holder .number .flag{

}
.number_holder .number .flag img{width: 100%; height: 100%; position: relative;
transition: all 2.5s ease-in-out 0.3s;
}

.number_holder .number.one .flag:nth-child(1) img,
.number_holder .number.two .flag:nth-child(1) img,
.number_holder .number.three .flag:nth-child(1) img,
.number_holder .number.four .flag:nth-child(1) img,
.number_holder .number.five .flag:nth-child(1) img,
.number_holder .number.six .flag:nth-child(1) img,
.number_holder .number.seven .flag:nth-child(1) img,
.number_holder .number.eight .flag:nth-child(1) img,
.number_holder .number.nine .flag:nth-child(1) img,
.number_holder .number.zero .flag:nth-child(1) img,
.number_holder .number.plus .flag:nth-child(1) img{left: -120px; top: -50px;}
.number_holder .number.one .flag:nth-child(2) img,
.number_holder .number.two .flag:nth-child(2) img,
.number_holder .number.three .flag:nth-child(2) img,
.number_holder .number.four .flag:nth-child(2) img,
.number_holder .number.five .flag:nth-child(2) img,
.number_holder .number.six .flag:nth-child(2) img,
.number_holder .number.seven .flag:nth-child(2) img,
.number_holder .number.eight .flag:nth-child(2) img,
.number_holder .number.nine .flag:nth-child(2) img,
.number_holder .number.zero .flag:nth-child(2) img,
.number_holder .number.plus .flag:nth-child(2) img{left: 40px; top: -60px;}
.number_holder .number.one .flag:nth-child(3) img,
.number_holder .number.two .flag:nth-child(3) img,
.number_holder .number.three .flag:nth-child(3) img,
.number_holder .number.four .flag:nth-child(3) img,
.number_holder .number.five .flag:nth-child(3) img,
.number_holder .number.six .flag:nth-child(3) img,
.number_holder .number.seven .flag:nth-child(3) img,
.number_holder .number.eight .flag:nth-child(3) img,
.number_holder .number.nine .flag:nth-child(3) img,
.number_holder .number.zero .flag:nth-child(3) img,
.number_holder .number.plus .flag:nth-child(3) img{left: 80px; top: -50px;}
.number_holder .number.one .flag:nth-child(4) img,
.number_holder .number.two .flag:nth-child(4) img,
.number_holder .number.three .flag:nth-child(4) img,
.number_holder .number.four .flag:nth-child(4) img,
.number_holder .number.five .flag:nth-child(4) img,
.number_holder .number.six .flag:nth-child(4) img,
.number_holder .number.seven .flag:nth-child(4) img,
.number_holder .number.eight .flag:nth-child(4) img,
.number_holder .number.nine .flag:nth-child(4) img,
.number_holder .number.zero .flag:nth-child(4) img,
.number_holder .number.plus .flag:nth-child(4) img{left: -160px; top: -30px;}
.number_holder .number.one .flag:nth-child(5) img,
.number_holder .number.two .flag:nth-child(5) img,
.number_holder .number.three .flag:nth-child(5) img,
.number_holder .number.four .flag:nth-child(5) img,
.number_holder .number.five .flag:nth-child(5) img,
.number_holder .number.six .flag:nth-child(5) img,
.number_holder .number.seven .flag:nth-child(5) img,
.number_holder .number.eight .flag:nth-child(5) img,
.number_holder .number.nine .flag:nth-child(5) img,
.number_holder .number.zero .flag:nth-child(5) img,
.number_holder .number.plus .flag:nth-child(5) img{left: 80px; top: 200px;}
.number_holder .number.one .flag:nth-child(6) img,
.number_holder .number.two .flag:nth-child(6) img,
.number_holder .number.three .flag:nth-child(6) img,
.number_holder .number.four .flag:nth-child(6) img,
.number_holder .number.five .flag:nth-child(6) img,
.number_holder .number.six .flag:nth-child(6) img,
.number_holder .number.seven .flag:nth-child(6) img,
.number_holder .number.eight .flag:nth-child(6) img,
.number_holder .number.nine .flag:nth-child(6) img,
.number_holder .number.zero .flag:nth-child(6) img,
.number_holder .number.plus .flag:nth-child(6) img{left: 40px; top: 230px;}
.number_holder .number.one .flag:nth-child(7) img,
.number_holder .number.two .flag:nth-child(7) img,
.number_holder .number.three .flag:nth-child(7) img,
.number_holder .number.four .flag:nth-child(7) img,
.number_holder .number.five .flag:nth-child(7) img,
.number_holder .number.six .flag:nth-child(7) img,
.number_holder .number.seven .flag:nth-child(7) img,
.number_holder .number.eight .flag:nth-child(7) img,
.number_holder .number.nine .flag:nth-child(7) img,
.number_holder .number.zero .flag:nth-child(7) img,
.number_holder .number.plus .flag:nth-child(7) img{left: 0px; top: 260px;}
.number_holder .number.one .flag:nth-child(8) img,
.number_holder .number.two .flag:nth-child(8) img,
.number_holder .number.three .flag:nth-child(8) img,
.number_holder .number.four .flag:nth-child(8) img,
.number_holder .number.five .flag:nth-child(8) img,
.number_holder .number.six .flag:nth-child(8) img,
.number_holder .number.seven .flag:nth-child(8) img,
.number_holder .number.eight .flag:nth-child(8) img,
.number_holder .number.nine .flag:nth-child(8) img,
.number_holder .number.zero .flag:nth-child(8) img,
.number_holder .number.plus .flag:nth-child(8) img{left: -120px; top: 120px;}
.number_holder .number.one .flag:nth-child(9) img,
.number_holder .number.two .flag:nth-child(9) img,
.number_holder .number.three .flag:nth-child(9) img,
.number_holder .number.four .flag:nth-child(9) img,
.number_holder .number.five .flag:nth-child(9) img,
.number_holder .number.six .flag:nth-child(9) img,
.number_holder .number.seven .flag:nth-child(9) img,
.number_holder .number.eight .flag:nth-child(9) img,
.number_holder .number.nine .flag:nth-child(9) img,
.number_holder .number.zero .flag:nth-child(9) img,
.number_holder .number.plus .flag:nth-child(9) img{left: -150px; top: 90px;}
.number_holder .number.one .flag:nth-child(10) img,
.number_holder .number.two .flag:nth-child(10) img,
.number_holder .number.three .flag:nth-child(10) img,
.number_holder .number.four .flag:nth-child(10) img,
.number_holder .number.five .flag:nth-child(10) img,
.number_holder .number.six .flag:nth-child(10) img,
.number_holder .number.seven .flag:nth-child(10) img,
.number_holder .number.eight .flag:nth-child(10) img,
.number_holder .number.nine .flag:nth-child(10) img, 
.number_holder .number.zero .flag:nth-child(10) img,
.number_holder .number.plus .flag:nth-child(10) img{left: -190px; top: 60px;}
.number_holder .number.one .flag:nth-child(11) img,
.number_holder .number.two .flag:nth-child(11) img,
.number_holder .number.three .flag:nth-child(11) img,
.number_holder .number.four .flag:nth-child(11) img,
.number_holder .number.five .flag:nth-child(11) img,
.number_holder .number.six .flag:nth-child(11) img,
.number_holder .number.seven .flag:nth-child(11) img,
.number_holder .number.eight .flag:nth-child(11) img,
.number_holder .number.nine .flag:nth-child(11) img,
.number_holder .number.zero .flag:nth-child(11) img,
.number_holder .number.plus .flag:nth-child(11) img{left: -100px; top: 160px;}
.number_holder .number.one .flag:nth-child(12) img,
.number_holder .number.two .flag:nth-child(12) img,
.number_holder .number.three .flag:nth-child(12) img,
.number_holder .number.four .flag:nth-child(12) img,
.number_holder .number.five .flag:nth-child(12) img,
.number_holder .number.six .flag:nth-child(12) img,
.number_holder .number.seven .flag:nth-child(12) img,
.number_holder .number.eight .flag:nth-child(12) img,
.number_holder .number.nine .flag:nth-child(12) img,
.number_holder .number.zero .flag:nth-child(12) img,
.number_holder .number.plus .flag:nth-child(12) img{left: -150px; top: 200px;}


.in-view .number_holder .number.one{} 
.in-view .number_holder .number.one .flag:nth-child(1){left: 34px; top: 8px; transform: rotate(-25deg);}
.in-view .number_holder .number.one .flag:nth-child(2){left: 70px; top: 0;}
.in-view .number_holder .number.one .flag:nth-child(3){left: 70px; top: 0;}
.in-view .number_holder .number.one .flag:nth-child(4){left: 70px; top: 30px;}
.in-view .number_holder .number.one .flag:nth-child(5){left: 70px; top: 60px;}
.in-view .number_holder .number.one .flag:nth-child(6){left: 70px; top: 90px;}
.in-view .number_holder .number.one .flag:nth-child(7){left: 70px; top: 120px;}
.in-view .number_holder .number.one .flag:nth-child(8){left: 70px; top: 150px;}
.in-view .number_holder .number.one .flag:nth-child(8){left: -5px; top: 23px; transform: rotate(-25deg);}

.number_holder .number.two{}  
.in-view .number_holder .number.two .flag:nth-child(1){left: 0; top: 0;}
.in-view .number_holder .number.two .flag:nth-child(2){left: 40px; top: 0;}
.in-view .number_holder .number.two .flag:nth-child(3){left: 80px; top: 0;}
.in-view .number_holder .number.two .flag:nth-child(4){left: 80px; top: 30px;}
.in-view .number_holder .number.two .flag:nth-child(5){left: 80px; top: 60px;}
.in-view .number_holder .number.two .flag:nth-child(6){left: 40px; top: 60px;}
.in-view .number_holder .number.two .flag:nth-child(7){left: 0px; top: 60px;}
.in-view .number_holder .number.two .flag:nth-child(8){left: 0; top: 90px;}
.in-view .number_holder .number.two .flag:nth-child(9){left: 0; top: 120px;}
.in-view .number_holder .number.two .flag:nth-child(10){left: 40px; top: 120px;}
.in-view .number_holder .number.two .flag:nth-child(11){left: 80px; top: 120px;}

.number_holder .number.three{}  
.in-view .number_holder .number.three .flag:nth-child(1){left: 0; top: 0;}
.in-view .number_holder .number.three .flag:nth-child(2){left: 40px; top: 0;}
.in-view .number_holder .number.three .flag:nth-child(3){left: 80px; top: 0;}
.in-view .number_holder .number.three .flag:nth-child(4){left: 80px; top: 30px;}
.in-view .number_holder .number.three .flag:nth-child(5){left: 80px; top: 60px;}
.in-view .number_holder .number.three .flag:nth-child(6){left: 40px; top: 60px;}
.in-view .number_holder .number.three .flag:nth-child(7){left: 80px; top: 90px;}
.in-view .number_holder .number.three .flag:nth-child(8){left: 80px; top: 120px;}
.in-view .number_holder .number.three .flag:nth-child(9){left: 40px; top: 120px;}
.in-view .number_holder .number.three .flag:nth-child(10){left: 0; top: 120px;} 

.number_holder .number.four{}  
.in-view .number_holder .number.four .flag:nth-child(1){left: 65px; top: 0;}
.in-view .number_holder .number.four .flag:nth-child(2){left: 65px; top: 30px;}
.in-view .number_holder .number.four .flag:nth-child(3){left: 65px; top: 60px;}
.in-view .number_holder .number.four .flag:nth-child(4){left: 80px; top: 90px;}
.in-view .number_holder .number.four .flag:nth-child(5){left: 65px; top: 120px;}
.in-view .number_holder .number.four .flag:nth-child(6){left: 38px; top: 8px; transform: rotate(-50deg);}
.in-view .number_holder .number.four .flag:nth-child(7){left: 18px; top: 37px; transform: rotate(-50deg);}
.in-view .number_holder .number.four .flag:nth-child(8){left: 40px; top: 90px;}
.in-view .number_holder .number.four .flag:nth-child(9){left: 0; top: 90px;}
.in-view .number_holder .number.four .flag:nth-child(10){left: 1px; top: 63px;transform: rotate(-55deg); }  

.number_holder .number.five{}  
.in-view .number_holder .number.five .flag:nth-child(1){left: 0; top: 0;}
.in-view .number_holder .number.five .flag:nth-child(2){left: 40px; top: 0;}
.in-view .number_holder .number.five .flag:nth-child(3){left: 80px; top: 0;}
.in-view .number_holder .number.five .flag:nth-child(4){left: 0; top: 30px;}
.in-view .number_holder .number.five .flag:nth-child(5){left: 0; top: 60px;}
.in-view .number_holder .number.five .flag:nth-child(6){left: 40px; top: 60px;}
.in-view .number_holder .number.five .flag:nth-child(7){left: 80px; top: 60px;}
.in-view .number_holder .number.five .flag:nth-child(8){left: 80px; top: 90px;}
.in-view .number_holder .number.five .flag:nth-child(9){left: 80px; top: 120px;}
.in-view .number_holder .number.five .flag:nth-child(10){left: 40px; top: 120px;}
.in-view .number_holder .number.five .flag:nth-child(11){left: 0; top: 120px;}

.number_holder .number.six{}  
.in-view .number_holder .number.six .flag:nth-child(1){left: 40px; top: 0;}
.in-view .number_holder .number.six .flag:nth-child(2){left: 0; top: 0;}
.in-view .number_holder .number.six .flag:nth-child(3){left: 0; top: 30px;}
.in-view .number_holder .number.six .flag:nth-child(4){left: 0; top:60px;}
.in-view .number_holder .number.six .flag:nth-child(5){left: 0; top: 90px;}
.in-view .number_holder .number.six .flag:nth-child(6){left: 0; top: 120px;}
.in-view .number_holder .number.six .flag:nth-child(7){left: 40px; top: 120px;}
.in-view .number_holder .number.six .flag:nth-child(8){left: 80px; top: 120px;}
.in-view .number_holder .number.six .flag:nth-child(9){left: 80px; top: 90px;}
.in-view .number_holder .number.six .flag:nth-child(10){left: 80px; top: 60px;}
.in-view .number_holder .number.six .flag:nth-child(11){left: 40px; top: 60px;}
.in-view .number_holder .number.six .flag:nth-child(12){left:80px; top: 0;} 

.number_holder .number.seven{}  
.in-view .number_holder .number.seven .flag:nth-child(1){left: 0; top: 0;}
.in-view .number_holder .number.seven .flag:nth-child(2){left: 40px; top: 0;}
.in-view .number_holder .number.seven .flag:nth-child(3){left: 80px; top: 0;}
.in-view .number_holder .number.seven .flag:nth-child(4){left: 80px; top:30px;}
.in-view .number_holder .number.seven .flag:nth-child(5){left: 60px; top: 60px;}
.in-view .number_holder .number.seven .flag:nth-child(6){left: 40px; top: 90px;}
.in-view .number_holder .number.seven .flag:nth-child(7){left:20px; top:120px;} 

.number_holder .number.eight{}  
.in-view .number_holder .number.eight .flag:nth-child(1){left: 0; top: 0;}
.in-view .number_holder .number.eight .flag:nth-child(2){left: 40px; top: 0;}
.in-view .number_holder .number.eight .flag:nth-child(3){left: 80px; top: 0;}
.in-view .number_holder .number.eight .flag:nth-child(4){left: 80px; top:30px;}
.in-view .number_holder .number.eight .flag:nth-child(5){left: 80px; top: 60px;}
.in-view .number_holder .number.eight .flag:nth-child(6){left: 80px; top: 90px;}
.in-view .number_holder .number.eight .flag:nth-child(7){left:80px; top:120px;}
.in-view .number_holder .number.eight .flag:nth-child(8){left:40px; top:120px;} 
.in-view .number_holder .number.eight .flag:nth-child(9){left:0px; top:120px;}
.in-view .number_holder .number.eight .flag:nth-child(10){left:0px; top:90px;}
.in-view .number_holder .number.eight .flag:nth-child(11){left:0px; top:60px;}
.in-view .number_holder .number.eight .flag:nth-child(12){left:0px; top:30px;}
.in-view .number_holder .number.eight .flag:nth-child(13){left:40px; top:60px;}

.number_holder .number.nine{}  
.in-view .number_holder .number.nine .flag:nth-child(1){left: 0; top: 0;}
.in-view .number_holder .number.nine .flag:nth-child(2){left: 40px; top: 0;}
.in-view .number_holder .number.nine .flag:nth-child(3){left: 80px; top: 0;}
.in-view .number_holder .number.nine .flag:nth-child(4){left: 80px; top:30px;}
.in-view .number_holder .number.nine .flag:nth-child(5){left: 80px; top: 60px;}
.in-view .number_holder .number.nine .flag:nth-child(6){left: 80px; top: 90px;}
.in-view .number_holder .number.nine .flag:nth-child(7){left:80px; top:120px;}
.in-view .number_holder .number.nine .flag:nth-child(8){left:40px; top:120px;} 
.in-view .number_holder .number.nine .flag:nth-child(9){left:40px; top:60px;}
.in-view .number_holder .number.nine .flag:nth-child(10){left:0px; top:60px;}
.in-view .number_holder .number.nine .flag:nth-child(11){left:0px; top:30px;}
.in-view .number_holder .number.nine .flag:nth-child(12){left:0px; top:120px;}  

.number_holder .number.zero{}  
.in-view .number_holder .number.zero .flag:nth-child(1){left: 0; top: 0;}
.in-view .number_holder .number.zero .flag:nth-child(2){left: 40px; top: 0;}
.in-view .number_holder .number.zero .flag:nth-child(3){left: 80px; top: 0;}
.in-view .number_holder .number.zero .flag:nth-child(4){left: 80px; top:30px;}
.in-view .number_holder .number.zero .flag:nth-child(5){left: 80px; top: 60px;}
.in-view .number_holder .number.zero .flag:nth-child(6){left: 80px; top: 90px;}
.in-view .number_holder .number.zero .flag:nth-child(7){left:80px; top:120px;}
.in-view .number_holder .number.zero .flag:nth-child(8){left:40px; top:120px;} 
.in-view .number_holder .number.zero .flag:nth-child(9){left:0px; top:120px;}
.in-view .number_holder .number.zero .flag:nth-child(10){left:0px; top:90px;}
.in-view .number_holder .number.zero .flag:nth-child(11){left:0px; top:60px;}
.in-view .number_holder .number.zero .flag:nth-child(12){left:0px; top:30px;}

.number_holder .number.plus{}  
.in-view .number_holder .number.plus .flag:nth-child(1){left: 40px; top: 0;}
.in-view .number_holder .number.plus .flag:nth-child(2){left: 40px; top: 30px;}
.in-view .number_holder .number.plus .flag:nth-child(3){left: 40px; top: 60px;}
.in-view .number_holder .number.plus .flag:nth-child(4){left: 40px; top:90px;}
.in-view .number_holder .number.plus .flag:nth-child(5){left: 40px; top: 120px;}
.in-view .number_holder .number.plus .flag:nth-child(6){left: 0; top: 60px;}
.in-view .number_holder .number.plus .flag:nth-child(7){left:80px; top:60px;} 


.in-view .number_holder .number .flag  img{left:0 !important; top: 0 !important;}

/**range_bar**/
.rangebar{}
.rangeslider{
	-webkit-appearance:none;
	width: 100%; height: 10px;
	background: linear-gradient(90deg, rgb(252,0,0) 2%, rgb(232,232,232) 2%); 
	-webkit-transition: 0.5s;
	transition: 0.5s;
	border-radius: 12px; 
} 
.rangeslider:focus{ outline: none; }
.rangeslider::-webkit-slider-thumb{
	-webkit-appearance:none;
	appearance:none;
	width: 40px; height: 40px;
	background: url(../images/sliderangearr.png) no-repeat 0 0;
	border-radius: 50%;
	cursor: pointer;
}
.rangeslider::-moz-slider-thumb{
	-webkit-appearance:none;
	appearance:none;
	width: 40px; height: 40px;
	background: url(../images/sliderangearr.png) no-repeat 0 0;
	border-radius: 50%;
	cursor: pointer;
}

.rangebar{position: relative; margin: 0 0 20px;} 
.rangebar .miletext,
.rangebar .miletext1{
	text-align: left;
    display: inline-block;
    margin: 0;
    position: absolute;
    left: 0;
    top: -43px;
    padding: 2px 12px;
    background: #ffffff;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 2px 3px 6px 2px #ddd;
    transform: translate(-50%,0);
    min-width: 90px;
}
.miletext:after,.miletext1:after{
	position: absolute; content: ""; 
	border-top:15px solid #fff ; border-left:15px solid transparent ; 
	border-right:15px solid transparent ; border-bottom:15px solid transparent; 
	left: 50%; bottom: -25px; transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	pointer-events: none;
}

/**jobsmile_main**/
.jobs_mile_sec{
	padding: 60px 0;
	 padding-top: 150px;
	 padding-bottom: 90px;
	}
.jobsmile_main{
	display: flex; justify-content: space-between; align-items:flex-start;
	padding-top:90px;
}
.jobsmile_left{width: 45%}
.jobsmile_right{width: 52%;}
.jobsmile_main .tophd h2{text-align: left; color: #000;}
.jobsmile_main .tophd h2 span{display: inline-block;}

.jobsmile_left h4{font-size: 20px; font-weight: 600; color: #000; margin: 0 0 30px;}
.jobsmile_left h4 a{display: inline-block; color: #e9192c;}
.jobsmilelist{list-style: none; margin: 0; padding: 0; max-width: 75%;}
.jobsmilelist li{display: flex; margin: 0 0 30px;}
.jobsmilelist li .no{width: 35px; height: 35px; background: #0098ff; color: #ffffff;
	border-radius: 50%; margin-right: 10px; font-weight: bold; text-align: center;
	font-size: 20px; padding: 5px 2px;
}
.jobsmilelist li .text{width: 70%; color: #606060; font-size: 18px; line-height: 24px;
	font-family: 'Montserrat', sans-serif; padding:0;
}
.jobsmilelist li .text strong{color: #000; font-weight: bold; display: inline-block;}
.jobsmile_left h3{text-transform: uppercase; font-size: 26px; font-weight: 400; 
	line-height: 30px; margin: 0 0 20px;
}
.jobsmile_left h3 span{ font-weight: 900; color: #2f48a8; display: inline-block;}
.jobsmile_left h3{
	color: #2f48a8;
}
.jobsmile_left h3 span{
	color: #474747;
}

.mileholder{display: flex; align-items: center;}
.mileholder .imgdiv{margin-right:75px;}
.mileholder .miletestdiv{width: 50%;}
.miletestdiv{}
.miletestdiv span{display: block;}
.recruiter_holder{
	position: relative;
}
.recruiter .img{
	width: 220px;
    height: 220px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-52%,-54%);
}
.recruiter .img img{ width: 100%; height: 100%; border-radius: 50%; }
.miletestdiv span.name{text-transform: capitalize; font-size: 30px; line-height: 32px;
	color: #2f48a8; margin: 0 0 10px;
}
.miletestdiv span.desig{font-size: 14px; line-height: 16px; color: #a4abc9; padding: 0 0  15px;}
.miletestdiv p{text-align: justify; font-weight: 500;}


.imgdiv{
	width: 245px; height: 245px; border-radius: 50%; background: url(../images/globe111.png) no-repeat 0 0;
	position: relative; background-size: 230px;
}
.rotate-holder {
    position: fixed;
    display: block;
    width: 0;
    height: 0;
    /* left: -9999px;
    top: -9999px; */
	display: none !important;
    }

 .roundlist li.abc{
 	position: absolute;
    display: inline-block;
    overflow: visible;
    width: 120px;
    height: 64px;
    padding: 6px;
    text-align: left;
    cursor: pointer;
    border-radius: 50%;
    transition: border 0.6s ease-in-out;
 }
.roundlist{
	position: absolute;
    display: block;
    width: 345px;
    height: 344px;
    padding: 0;
    margin: 0;
    left: -54px;
    top: 68%;
    margin-top: -227px;
    z-index: 10;
	
}
.roundlist li{
	position: absolute;
    display: inline-block;
    overflow: visible;
    width: 120px;
    height: 64px;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    border-radius: 50%;
    transition: border 0.6s ease-in-out;
	left: 109px !important;
}

.roundlist li:after{
	position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #052194;
    transition: all 0.6s ease-in-out;
    margin-left: -7px;
}

/*.roundlist li:nth-child(1){left: 46%; top: -8px;}
.roundlist li:nth-child(2){right: 22px; top: 14%;}
.roundlist li:nth-child(3){right: -7px; top: 54%;}
.roundlist li:nth-child(4){right: 46px; top: 90%;}
.roundlist li:nth-child(5){right: 169px; top: 93%;}
.roundlist li:nth-child(6){left: 0px; top: 63%; }
.roundlist li:nth-child(7){left: 17px; top: 17%;}*/

.roundlist li span{display: inline-block; line-height: 18px;}
/*.roundlist li:nth-child(1) span{ transform: translate(-25px,-30px) rotate(0deg);}
.roundlist li:nth-child(2) span{transform:translate(0px,-22px) rotate(48deg);}
.roundlist li:nth-child(3) span{transform: translate(3px,-5px) rotate(98deg);}
.roundlist li:nth-child(4) span{transform:translate(0px,18px) rotate(-19deg);}
.roundlist li:nth-child(5) span{transform:translate(-16px,18px) rotate(5deg);}
.roundlist li:nth-child(6) span{transform:translate(-40px,2px) rotate(-4deg);}
.roundlist li:nth-child(7) span{transform:translate(-76px,-9px) rotate(-4deg);}*/

.recruiter_holder{}
.recruiter{display: none;}
.recruiter:first-child{display: block;}

/**rotate**/
/*.roundlist.roundrecruiter1{
	transform:translate(-50%,-50%) rotate(0deg);
}
.roundlist.roundrecruiter2{
	transform:translate(-50%,-50%) rotate(53deg);
}
.roundlist.roundrecruiter3{
	transform:translate(-50%,-50%) rotate(103deg);
}
.roundlist.roundrecruiter4{
	transform:translate(-50%,-50%) rotate(160deg);
}
.roundlist.roundrecruiter5{
	transform:translate(-50%,-50%) rotate(213deg);
}
.roundlist.roundrecruiter6{
	transform:translate(-50%,-50%) rotate(257deg);
}
.roundlist.roundrecruiter7{
	transform:translate(-50%,-50%) rotate(305deg);
}
*/

/*.roundlist.roundrecruiter1 li:nth-child(1) span{ transform: translate(-25px,-30px) rotate(0deg);}
.roundlist.roundrecruiter1 li:nth-child(2) span{transform:translate(0px,-22px) rotate(48deg);}
.roundlist.roundrecruiter1 li:nth-child(3) span{transform: translate(3px,-5px) rotate(98deg);}
.roundlist.roundrecruiter1 li:nth-child(4) span{transform:translate(0px,18px) rotate(-19deg);}
.roundlist.roundrecruiter1 li:nth-child(5) span{transform:translate(-16px,18px) rotate(5deg);}
.roundlist.roundrecruiter1 li:nth-child(6) span{transform:translate(-40px,2px) rotate(-4deg);}
.roundlist.roundrecruiter1 li:nth-child(7) span{transform:translate(-76px,-9px) rotate(-4deg);}

.roundlist.roundrecruiter2 li:nth-child(2) span{ transform:translate(-7px,-30px) rotate(38deg);}
.roundlist.roundrecruiter2 li:nth-child(3) span{transform:translate(14px,-20px) rotate(-73deg);}
.roundlist.roundrecruiter2 li:nth-child(4) span{transform:translate(3px,6px) rotate(-46deg);}
.roundlist.roundrecruiter2 li:nth-child(5) span{transform:translate(-11px,18px) rotate(0deg);}
.roundlist.roundrecruiter2 li:nth-child(6) span{transform:translate(-34px,6px) rotate(-42deg);}
.roundlist.roundrecruiter2 li:nth-child(7) span{transform:translate(-42px,-50px) rotate(-37deg);}
.roundlist.roundrecruiter2 li:nth-child(1) span{transform:translate(-25px,-25px) rotate(-4deg);}

.roundlist.roundrecruiter3 li:nth-child(3) span{ transform:translate(8px,-26px) rotate(-88deg);}
.roundlist.roundrecruiter3 li:nth-child(4) span{transform:translate(-3px,9px) rotate(156deg);}
.roundlist.roundrecruiter3 li:nth-child(5) span{transform:translate(-12px,15px) rotate(185deg);}
.roundlist.roundrecruiter3 li:nth-child(6) span{transform:translate(-28px,4px) rotate(-113deg);}
.roundlist.roundrecruiter3 li:nth-child(7) span{transform:translate(-42px,-44px) rotate(-40deg);}
.roundlist.roundrecruiter3 li:nth-child(1) span{transform:translate(-26px,-28px) rotate(-4deg);}
.roundlist.roundrecruiter3 li:nth-child(2) span{transform:translate(0px,-22px) rotate(-131deg);}

.roundlist.roundrecruiter4 li:nth-child(4) span{ transform:translate(7px,7px) rotate(129deg);}
.roundlist.roundrecruiter4 li:nth-child(5) span{transform:translate(-14px,13px) rotate(191deg);}
.roundlist.roundrecruiter4 li:nth-child(6) span{transform:translate(-29px,-1px) rotate(241deg);}
.roundlist.roundrecruiter4 li:nth-child(7) span{transform:translate(-27px,-62px) rotate(176deg);}
.roundlist.roundrecruiter4 li:nth-child(1) span{transform:translate(-23px,-25px) rotate(178deg);}
.roundlist.roundrecruiter4 li:nth-child(2) span{transform:translate(6px,-13px) rotate(-128deg);}
.roundlist.roundrecruiter4 li:nth-child(3) span{transform:translate(14px,-16px) rotate(193deg);}

.roundlist.roundrecruiter5 li:nth-child(5) span{ transform:translate(-33px,10px) rotate(205deg);}
.roundlist.roundrecruiter5 li:nth-child(6) span{transform:translate(-25px,1px) rotate(218deg);}
.roundlist.roundrecruiter5 li:nth-child(7) span{transform:translate(-59px,-29px) rotate(93deg);}
.roundlist.roundrecruiter5 li:nth-child(1) span{transform:translate(-14px,-25px) rotate(-172deg);}
.roundlist.roundrecruiter5 li:nth-child(2) span{transform:translate(-3px,-18px) rotate(223deg);}
.roundlist.roundrecruiter5 li:nth-child(3) span{transform:translate(5px,-10px) rotate(101deg);}
.roundlist.roundrecruiter5 li:nth-child(4) span{transform:translate(-3px,11px) rotate(147deg);}

.roundlist.roundrecruiter6 li:nth-child(6) span{ transform:translate(-33px,5px) rotate(76deg);}
.roundlist.roundrecruiter6 li:nth-child(7) span{transform:translate(-50px,-48px) rotate(137deg);}
.roundlist.roundrecruiter6 li:nth-child(1) span{transform:translate(-20px,-33px) rotate(13deg);}
.roundlist.roundrecruiter6 li:nth-child(2) span{transform:translate(3px,-5px) rotate(69deg);}
.roundlist.roundrecruiter6 li:nth-child(3) span{transform:translate(9px,0px) rotate(108deg);}
.roundlist.roundrecruiter6 li:nth-child(4) span{transform:translate(-6px,18px) rotate(147deg);}
.roundlist.roundrecruiter6 li:nth-child(5) span{transform:translate(-31px,7px) rotate(22deg);}

.roundlist.roundrecruiter7 li:nth-child(7) span{ transform:translate(-65px,-30px) rotate(14deg);}
.roundlist.roundrecruiter7 li:nth-child(1) span{transform:translate(0px,-22px) rotate(14deg);}
.roundlist.roundrecruiter7 li:nth-child(2) span{transform:translate(3px,-5px) rotate(64deg);}
.roundlist.roundrecruiter7 li:nth-child(3) span{transform:translate(9px,8px) rotate(46deg);}
.roundlist.roundrecruiter7 li:nth-child(4) span{transform:translate(-10px,18px) rotate(-5deg);}
.roundlist.roundrecruiter7 li:nth-child(5) span{transform:translate(-25px,11px) rotate(27deg);}
.roundlist.roundrecruiter7 li:nth-child(6) span{transform:translate(-43px,-9px) rotate(-7deg);}*/

/* .roundlist li[data-id="recruiter7"] span{
	display: inline-block;
    margin-left: 46px;
    margin-top: 4px;
} */
 

/**jobseeker_main**/
.jobseeker_mile_sec{padding: 50px 0;
	padding-bottom: 145px;}
.jobseeker_main{
	display: flex; justify-content: space-between;
	padding-top: 90px;
}
.jobseeker_left{width: 45%}
.jobseeker_right{width: 52%;}
.jobseeker_main .tophd,.jobsmile_main .tophd{margin: 0 0 20px;}
.jobseeker_main .tophd h2{text-align: left; color: #000;}

.placement{position: relative; display: inline-block; font-family: 'swis721_ex_btroman';}
.placement span{display: inline-block; text-transform: initial; color: #2f2f2f; 
	position: relative; 
}
.placement span.line9{left: 100px; top: 50px; color: #104ecd; text-transform: initial;
	font-size: 24px;  display: block; position: absolute; z-index: 1;
	 background:none; font-weight: 900;
	 padding: 6px; letter-spacing: 1px;
} 
.placement span.line10{
	font-size: 50px; color: #e20015; text-transform: capitalize;
	font-weight: bold; line-height: 80px;
} 
.placement span.line11{
	font-weight: 900;
    display: block;
    text-transform: uppercase;
    position: absolute;
    bottom:60px;
    right: 0;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}

.jobseeker_left h3{font-weight: 500; text-transform: uppercase;
	font-size: 22px; color: #000000; margin: 5px 0 45px;
}
.jobseeker_left h3 span{display: inline-block; font-weight: 900;}
.jobseeker_left >span{display: block; font-size: 20px; line-height: 28px;}
.jobseeker_left >span.red{color: #fc0000; font-weight: 600; margin: 0 0 38px;}

.placement span.line9{left: 200px; opacity: 0; transition: all 0.3s ease-in-out 1.7s;}
.placement span.line10{opacity: 0; transition: all 0.3s ease-in-out 2.3s;} 
.placement span.line11{ opacity: 0; transition: all 0.3s ease-in-out 2.6s;}

 
.in-view .placement span.line9{left: 100px; opacity: 1;}
.in-view .placement span.line10{opacity: 1;} 
.in-view .placement span.line11{ opacity: 1;}

.jobseeker_testmonial{ position: relative; }
.jobseekertestdiv{display: flex; padding: 32px 50px 35px 0;}
.testpara{    
	text-align: justify;
    padding: 45px 0 0 0;
    background: url(../images/invert1.png) no-repeat 0 0;
    width: 52%;
    margin-right: 70px;
}
.testimg{
	width: 265px;
    height: 280px;
    border-radius: 50%;
    padding: 0;
    position: relative;
}
.testimg:before{
	width: 324px;
    height: 307px;
    position: absolute;
    content: "";
    left: -3px;
    top: 44px;
    background: url(../images/red-shape.png) no-repeat 0 0;
    background-size: 282px;
    transition: 0.3s;
}
.testimg:after{
	width: 270px;
    height: 332px;
    position: absolute;
    content: "";
    right: 8px;
    top: -33px;
    background: url(../images/blue-shape.png) no-repeat 0 0;
    background-size: 270px;
    transition: 0.3s;
}
.slick-current .testimg:before{
	left: -56px;
    top: 44px;
}
.slick-current .testimg:after{
	right: -49px;
    top: -33px;
}
.testimg img{width: 100%; height: 100%; border-radius: 50%; position: relative;z-index: 1;
	object-fit: cover;
}

.jobseeker_testmonial .slider-nav{width: 220px; position: absolute; left: 0; bottom: -30px;}
.jobseeker_testmonial .slider-nav .slick-slide  img{
	width: 60px; height: 60px; border-radius: 50%;
	border: 2px solid transparent;
}
.jobseeker_testmonial .slider-nav .slick-slide.slick-current  img{
	border: 2px solid #ff3a48;
	border-top-color:#2945ba ;
	border-bottom-color:#ff3a48 ;
	border-left-color: #ff3a48 ;
	border-right-color:#2945ba;
}
.jobseeker_testmonial .slider-nav .slick-slide{opacity: .5; 
	pointer-events: none;
}
.jobseeker_testmonial .slider-nav .slick-slide.slick-current{opacity: 1;}

.slick-slide:focus,.slick-slide:focus >div{
	outline: none;
}

/**unlimited_main**/
.unlimited_main{padding: 20px 0;
	padding-top: 90px;	 
	position: relative; 
	background: linear-gradient(to bottom, #fff 42%,#d99a57 42.1%,#d99a57 100%); 
	background: #ffffff;
}
.unlimited_main:after{
	position: absolute; content: ""; left: 0; bottom: 0; width: 100%;
	height: 50%; background: url(../images/industrybg2.jpg) no-repeat 0 0;
	background-size: 100%;
}

.unlimited_hold{display: flex; align-items: flex-end; position: relative; z-index: 1;}
.unlimited_img{width: 45%; line-height: 0;}
.unlimited_img img{ width: 100%; }
.unlimited_right{width:55%; padding-left: 100px; padding-bottom: 75px;}
.unlimited_right h2{
	font-size: 110px;
    font-weight: 900;
    color: #db564f;
    line-height: 75px;
    margin: 0 0 35px;
}
.unlimited_right h2 span{
	display: block;
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 55px;
}
.unlimited_right h3{font-size: 40px; color: #ffffff; line-height: 60px; margin: 0 0 25px;}
.unlimited_right h3 span{display: inline-block; text-transform: uppercase;
	font-weight: bold;  font-size: 85px; color: #000;
}
/**testimonial**/
.testimonial_sec{  padding: 160px 0 120px;}
.slider-for1 .slick-slide >div >div{
	max-width: 80%; margin: 0 auto; width: auto !important; display: table  !important;
	position: relative;
}
.slider-for1 .slick-slide >div >div:before{
	position: absolute; content: ""; width: 110%;
	height: 80%; background: #e4eaf9; left: 50%; top: 50%;
	transform: translate(-50%,-50%) rotateX(180deg); border-radius: 20px;
	z-index:1; transition: .5s;            
}
.slider-for1 .slick-slide >div >div:after{
	position: absolute; content: ""; width: 105%;
	height: 70%; left: 50%; top: 50%; background: #becae8;
	transform: translate(-50%,-50%) rotateX(-180deg); border-radius: 20px;
	z-index:9; transition: 1s;  
}

.slider-for1 .slick-slide.slick-current >div >div:before{
	 /* left: 50%; top: 50%;
	transform: translate(-50%,-50%) rotateX(0deg);  
	z-index: 12; width: 105%; */
	transform: translate(-50%,-50%) rotateX(0deg); 
	
}
.slider-for1 .slick-slide.slick-current >div >div:after{
	 /* left: 50%; top: 50%; width: 110%;
	transform: translate(-50%,-50%) rotateX(0deg); 
	z-index: 0; */
	transform: translate(-50%,-50%) rotateX(0deg);
}


.testdiv{background:#496cbf url(../images/testbg1.png) no-repeat right bottom; 
	border-radius: 20px; padding:80px 50px 120px;
	text-align: center; color: #ffffff; position: relative; z-index:999;
	transform: scale(.9); transition: 0.5s; opacity: 0;
	z-index: 999;
}
.slider-for1 .slick-slide.slick-current .testdiv{transform: scale(1); opacity: 1;}
.testdiv:before{
	position: absolute; content: ""; left: 50px; top: 50px; width: 98px; height: 98px;
	background: url(../images/multidot.png) no-repeat 0 0;
}

.testdiv .invert{display: inline-block;}
.testdiv p{max-width: 70%; margin: 0 auto;}
.testdiv .thumbail{
	display: inline-block;
	position: absolute;
	bottom: -200px;
}
.thumbail .img{
	display: inline-block; width: 100px; height: 100px;
	border-radius: 50%; border: 5px solid #ffffff;
}
.thumbail .img img{
	width: 100%; height: 100%; border-radius: 50%;
}
.thumbail .name{display: block; text-transform: capitalize; font-weight: 600;
	color: #2241b7;
}
.thumbail .desig{text-transform: capitalize; color: #000; display: block;}
 
 .slider-nav1 {max-width: 70%; margin: 0 auto;}
 .slider-nav1 .slick-slide{top: 0; transition: 0.5s; text-align: center;
 	position: relative; left: 0;
} 
.slider-nav1 .slick-current{position: relative; top: -125px;}
.slider-nav1.slick-slider .slick-list {
    padding-top: 125px !important;
    top: -90px;
    position: relative;
}
.slider-nav1 .slick-slide .thumbail{opacity: 1; transition: 0.8s;}
.slider-nav1 .slick-slide.slick-current .thumbail{transform: scale(1);}
.slider-nav1 .slick-slide .thumbail{transform: scale(.9);}
.slider-nav1 .slick-slide.slick-active .thumbail .name,
.slider-nav1 .slick-slide.slick-active .thumbail .desig{opacity: 0;}
.slider-nav1 .slick-slide.slick-current .thumbail .name,
.slider-nav1 .slick-slide.slick-current .thumbail .desig{opacity: 1;}

.thumbail .img{    border: 5px solid #496cbf;}
.slider-nav1 .slick-slide.slick-current .thumbail .img{    border: 8px solid #ffffff;}
/*.slider-nav1 .slick-slide[data-slick-index="-2"]{left: 15%;}
.slider-nav1 .slick-slide[data-slick-index="2"]{left: -25%;}*/
/**lastseven_main**/
.lastseven_main{    margin-top: -90px;}
.last_seven_holder{display: flex; align-items: center;}
.last_seven_left{width: 38%; margin-right: 2%;}
.last_seven_left img{width: 100%;}
.last_seven_right{font-size: 20px; line-height: 30px; width: 60%}
.last_seven_right h3{font-size:32px; line-height: 40px; margin: 0 0 5px;
	font-weight: 400;
}
.last_seven_right h4{font-size:32px; line-height: 40px; font-weight: bold;
	margin: 0 0 15px;
}
.last_seven_right p{ margin: 0 0 20px; }

/**footer**/
.footershare {
    background: #fbfbfb; padding:150px 0 0 0; 

}
.footershareimg{line-height: 0; display: flex;      white-space: nowrap;
    overflow: hidden; }
.footershare img{ width: 100%; animation: bannermove 40s linear infinite;}
@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-50%, 0);
  }
}
.social{text-align: center; margin: 0 0 40px;}
.social li{display: inline-block; vertical-align: top; margin: 10px;}
.social li a{display: block; padding: 5px 15px 5px 5px; background: #ffffff; box-shadow: 0 3px 3px 1px #d0d1d2;
	border-radius: 35px;

	background: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;


}
.social li a:hover{
	box-shadow:1px 1px 5px 1px #d0d1d2;
}
.social li a span{display: inline-block; vertical-align: middle; margin-right: 15px;}
.social li a span.ico{width: 35px; height: 35px; background: #0073c0; color: #ffffff; 
	position: relative; border-radius: 50%; font-size: 20px; 
	transition: 1s; -webkit-transition: 1s; transform: rotateY(0deg);
}

.social li a.fb span.ico{background: linear-gradient(to right bottom,#1e6ee9 40%, #2c2aac 100%);}
.social li a.tweet span.ico{background: linear-gradient(to left bottom,#00baff 40%, #0086ff 100%);}
.social li a.insta span.ico{background: linear-gradient(to right top,#8443e1 20%,#ff4483 50%,#ffd974 75%, #ffd974 100%);}
.social li a.in span.ico{background: linear-gradient(to right bottom,#0073c1 40%, #0073c1 100%);}
.social li a.wapp span.ico{background: linear-gradient(to left bottom,#00f370 40%, #00bb5e 100%);}
.social li a.snap span.ico{background: linear-gradient(to left bottom,#fff900 40%, #ffc22b 100%);}
.social li a.tel span.ico{background: linear-gradient(to left bottom,#1e6ee9 40%, #0073c1 100%);}
.social li a.signal span.ico{background: linear-gradient(to left bottom,#d2d2d2 40%, #ffffff 100%);}
.social li a.skype span.ico{background:linear-gradient(to left bottom,#388df7 40%, #0c68f3 100%);}
.social li a.viber span.ico{background:linear-gradient(to left bottom,#ab448b 40%, #7b2e63 100%);}
.social li a.pinterest span.ico{background:linear-gradient(to left bottom,#e21b1b 40%, #ff1717 100%);}
.social li a.weibo span.ico{background:linear-gradient(to left bottom,#b32020 40%, #921212 100%);}
.social li a.line span.ico{background:linear-gradient(to left bottom,#1cc107 40%, #209810 100%);}
.social li a.reddit span.ico{background:linear-gradient(to left bottom,#ec6301 40%, #e4460a 100%);}
.social li a.vk span.ico{background:linear-gradient(to left bottom,#08609c 40%, #08609c 100%);}
.social li a.renren span.ico{background:linear-gradient(to left bottom,#2154e2 40%, #2154e2 100%);}
.social li a.xing span.ico{background:linear-gradient(to left bottom,#0f7951 40%, #0f7951 100%);}

.social li a span.ico i {position: absolute; content: ""; left: 50%; top: 50%; 
	transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);
}
.social li a span.ico img{
	width: 20px;
}
.social li a span.ico img{position: absolute; content: ""; 
 left:7px; top: 10px;  
}
.social li a.signal span.ico img{
	    width: 30px;
    top: 2px;
    left: 6px;
}

.social li a span.ico.bg-remove{


}

.social li a >span:last-child{text-align: left; color: #888888;
		font-family: 'Montserrat', sans-serif; line-height: 22px;
		margin-right: 0;
}
.social li a >span:last-child .sc_name{display: none; color: #ff1d2b; font-weight: bold;
		text-transform: uppercase;
}
.social li a:hover span.ico{transform: rotateY(360deg);}

.footertop{background: #8d8d8d; padding: 10px 0; text-align: center;}
.footertop .cmn_lgin_btn{margin: 0 7px;}

.footertop .cmn_lgin_btn:after{
	filter: invert(1) brightness(100);
	-webkit-filter: invert(1) brightness(100);
}

.footertop .cmn_lgin_btn:hover:after{
	filter:inherit;
	-webkit-filter:inherit;
}

.footermiddle{font-size: 14px; line-height: 18px; text-align: center; padding: 15px 0;}
.footermiddle p{margin: 0;}
.footermiddle a{display: inline-block; color:#424242;}
.footermiddle a:hover{color: #00f;}

.footerbottom{font-size: 13px; line-height: 18px; text-align: center; padding: 10px 0;
	background: #111111; color: #ffffff;
}
.footerbottomhold{display: flex; justify-content: space-between; align-items: center;}
.footerbottom p{margin: 0;}
.footerbottom a{display: inline-block; color: #ffffff;}
.footerbottom a:hover{color: #e20015;}
.ftr_btm_list{list-style: none; margin: 0; padding: 0; display: flex; align-items: center;
	line-height: 16px;
}
.ftr_btm_list li{  border-right: 1px solid #ffffff;}
.ftr_btm_list li:last-child{border-right: none;}
.ftr_btm_list li a{display: block; color: #ffffff; padding: 0 10px;}
.signup.jobseekerlogin:after{
	background-size: 22px;
}

.inner-ftr-mdl p{
	font-size: 14px;
    line-height: 18px;
    text-align: center;
	color: #424242;
}

.inner-ftr-mdl p a{
	display: inline-block;
    color: #424242;
}

.inner-ftr-mdl p a:hover{
	color: #00f;
	text-decoration: none;
}

.bsbstaff-mdl .modalbody button[type=submit]:hover, .jobseekerstep1 .modalbody button[type=submit]:hover, .recruiterstep1 .modalbody button[type=submit]:hover{
	background: #1754ca;
    border-color: #1754ca;
    color: #fff;
}

.bsbstaff-mdl .modalbody button[type=submit]:hover img, .jobseekerstep1 .modalbody button[type=submit]:hover img, .recruiterstep1 .modalbody button[type=submit]:hover img{
	-webkit-filter: invert(1) brightness(100);
    filter: invert(1) brightness(100);

}

.jobseekerlogin.postjob{
	box-shadow: 0 5px 10px 1px rgb(193 78 59);
	box-shadow: 0px 3px 8px #dd644f, inset 0px 2px 3px #0e3480;
}
.jobseekerlogin.postjob:hover{
	box-shadow: 0px 3px 8px #dd644f, inset 0px 2px 3px #b1afaf;
}
.jobsmile_left.jobsmile_heading_text{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 7px;
}

.jobsmile_left.jobsmile_heading_text h3{
	margin:0;
}
.cmnmodal  button[type=submit]:hover{
	background:#1754ca !important;
	border-color: #1754ca !important;
}

.jobsmile_left h3{
	font-weight: bold;
}
.modalform.areyoujbskrmodall h3 span{
	background:#f33647;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
    color: #fff;
	border-radius:5px;
}

.jobsmile_left .tophd h2,
.jobseeker_left .tophd h2,
.slider_jobseeker_right .tophd h2{
	color: #1754ca;
}

/* .jobsmile_right .tophd.formb{
	display: none;
} */

.multiselect_remove_place{
	/*display: none;*/
	padding: 2px !important;
}
.tophd.mb-hidden{
	display: none;
}
.jobsmile_right .tophd.formb{
	margin-bottom: 62px;
}

.jobsmile_right .tophd.formb h2{
	color: #1754ca;
}







@media (max-width: 1700px){
	.unlimited_main:after{height: 50%;}
}
@media (max-width: 1550px){
	.unlimited_main:after{height: 55%;}
}

@media (max-width: 1400px){
	.social li a span{margin-right: 10px;}
	.social li a{font-size: 15px;}
	.social li{margin: 5px;}
	.unlimited_right h2{    
		font-size: 85px;    
		line-height: 90px;
	    margin: 0 0;
	}
	.unlimited_right h3{font-size: 30px; line-height: 60px; margin: 0 0 15px;}
	.unlimited_right h3 span{font-size: 65px;}
	.unlimited_right{padding-bottom: 65px;}
	.unlimited_right h2 span{padding-left: 40px; font-size: 75px;}
	.unlimited_main:after{height: 68%;}

}
@media (max-width: 1250px){
	.number_holder .number{width: 100px; height: 125px; 
		    margin: 0 12px; transform: scale(.7);
	}
	.number_holder .number .flag{max-width: 30px; height: 25px; width: 100%;}
	
}

@media (max-width: 1199px){ 
	.bannerleft{margin-right: 30px; font-size: 18px; line-height: 22px;}
	.bannerleft > p{padding: 20px 0;}
	.sbi-wrapp h2{line-height: 48px;}
	.rangebar{
		margin: 0 auto 20px;
    	max-width: 90%;
	}
	.recruiter .img{left: 121px;}
	.tophd h2{font-size: 25px; line-height: 30px;}
	.unlimited_right h2{    font-size: 60px;
    line-height: 60px;
    color: #f9cfa3;}
	.unlimited_right h2 span{font-size: 50px;}
	.unlimited_right h3{font-size: 30px; line-height: 40px;}
	.unlimited_right h3 span{font-size: 45px;}
	.mileholder .imgdiv {
		margin-right: 0;
		position: relative;
		right: 98px;
	}

	.jobseekerlogin{
		font-size:15px;
	}

	.slider-for1 .slick-slide >div >div:before{
		position: absolute; content: ""; width: 110%;
		height: 80%; background: #e4eaf9; left: 50%; top: 50%;
		transform: translate(-50%,-50%) rotateX(180deg); border-radius: 20px;
		z-index:1; transition: .5s;            
	}
	.slider-for1 .slick-slide >div >div:after{
		position: absolute; content: ""; width: 105%;
		height: 70%; left: 50%; top: 50%; background: #becae8;
		transform: translate(-50%,-50%) rotateX(-180deg); border-radius: 20px;
		z-index:9; transition: 1s;  
	}
	
	.slider-for1 .slick-slide.slick-current >div >div:before{
		position: absolute; content: ""; width: 110%;
		height: 80%; background: #e4eaf9; left: 50%; top: 50%;
		transform: translate(-50%,-50%) rotateX(180deg); border-radius: 20px;
		z-index:1; transition: .5s;  
		
	}
	.slider-for1 .slick-slide.slick-current >div >div:after{
		position: absolute; content: ""; width: 105%;
		height: 70%; left: 50%; top: 50%; background: #becae8;
		transform: translate(-50%,-50%) rotateX(-180deg); border-radius: 20px;
		z-index:9; transition: 1s;  
	}

	.anywhere span.line6{
		font-size: 35px;
	}

	.jobsmile_left.jobsmile_heading_text h3 {
		width: 80%;
		font-size: 24px;
	}
	
}

@media (max-width:1023px){ 
	.bannerhold{flex-wrap: wrap;}
	.bannerleft{width: 100%; margin: 0 0 20px;}
	.flagslider{ width: 100%; }
	.sbi-wrapp .content{min-height: inherit;}
	.number_holder{  justify-content: center;}
	.rangebar .miletext, .rangebar .miletext1{left: 20px;}
	.jobsmile_main{flex-wrap: wrap;}
	.jobsmile_left{width: 100%; margin-bottom: 25px;}
	.jobsmile_right{width: 100%; padding-left:0px;}
	.recruiter .img{left: 118px;}
	.number_holder .number{margin: 0 7px 20px;}
	.jobseeker_main{flex-wrap: wrap;}
	.jobseeker_left{width: 100%; margin: 0 0 45px;}
	.jobseeker_right{width: 100%;}
	.unlimited_right{padding-left: 30px;}
	.unlimited_right h3 {
	    font-size: 25px;
	    line-height: 35px;
	}
	.unlimited_right h2 {
	    font-size: 50px;
	    line-height: 40px;
	}
	.unlimited_right h3 span {
	    font-size: 35px;
	}
	.jobseekerlogin,.cmn_lgin_btn{padding: 12px 18px 12px 45px; 
		font-size: 15px; line-height: 20px;
	}
	.jobseekerlogin:after,
	.cmn_lgin_btn:after{
		width: 18px;
	    height: 20px;
	    background-size: 18px;
	}
	.unlimited_right h2 span{font-size: 40px;}
	.unlimited_right h2 {
	    font-size: 42px;
	    line-height: 35px; margin: 0 0 10px;
	}
	.unlimited_right h3{margin: 0 0 10px;}
	.unlimited_main{background: url(../images/industrybg2.jpg) no-repeat 0 0;}
	.unlimited_main:after{
		display: none;
	}
	.jobseeker_testmonial .slider-nav{bottom: 10px;}
	.last_seven_right h3{font-size: 25px; }
	.last_seven_right h4{font-size: 28px; line-height: 35px;}
	.tophd{margin: 0 0 20px;}
	.footertop .cmn_lgin_btn {
	    margin: 0 3px 8px;
	}
	.footerbottomhold{flex-wrap: wrap; text-align: center;}
	.ftr_btm_list{    
		width: 100%;
	    justify-content: center;
	    margin: 0 0 7px;
	}
	.footerbottom p{width: 100%;}

	.number_holder .number{width: 100px; height: 125px; 
		    margin: 0 12px; transform: scale(.6);
    		transform-origin: 0 center;
	}
	.number_holder .number .flag{max-width: 30px; height: 25px; width: 100%;}
	.mileholder .imgdiv {
		right: -50%;
		margin: 60px 0;
		transform: translate(-50%,0);
	}

	.mileholder{
		display: block;
	}

	.mileholder .miletestdiv{
		width: 100%;
		text-align: center;
	}

	.anywhere{
		margin-right: 20px;
	}
	.jobsmile_left.jobsmile_heading_text h3 {
		width: 65%;
		font-size: 24px;
	}
	.jobs_mile_sec{
		padding-top: 65px;
	}
	.jobsmile_main{
		padding-top: 45px;
	}
	.banner{
		padding-bottom: 70px;
	}
	.bannerleft > p{
		padding:35px 0;
	}
	.jobs_mile_sec{
		padding-bottom: 0;
	}
	.jobseeker_mile_sec{
		padding-bottom: 85px;
	}

	.testimonial_sec {
		padding: 80px 0 18px;
	}

	.jobsmilelist{
		max-width: 100%;
	}

	.footershare{
		padding-top: 90px;
	}

}

@media (max-width:767px){
	.banner{
		background: url(../images/map.png) no-repeat center 0;
	    background-size: 200%;
	    padding-bottom: 50px;
	}
	.jobsmile_right{padding-left: 0;}
	.mileholder{flex-wrap: wrap;}
	.mileholder .miletestdiv{width: 100%;}
	.mileholder .imgdiv{margin: 30px auto 40px;}
	.jobseekertestdiv{flex-wrap: wrap;}
	.testpara{width: 100%; margin: 0 0 30px;}
	.unlimited_hold{flex-wrap: wrap;}
	.unlimited_img{width: 100%; margin: 0 0 30px;}
	.unlimited_right{width: 100%; padding: 0; text-align: center;}
	.last_seven_holder{flex-wrap: wrap;}
	.last_seven_left{width: 100%;  margin: 0 0 30px;}
	.last_seven_right{width: 100%;}
	.testdiv{padding: 35px 20px 90px;}
	.jobseekertestdiv{padding: 30px;}
	.jobseeker_testmonial .slider-nav{
		position: relative; left: 50%; transform: translate(-50%,0);
		-webkit-transform: translate(-50%,0);
	}
	.testimg{margin: 0 auto;}
	.testimonial_sec{padding: 40px 0 0;}
	.flagslider{overflow: hidden; padding-top: 28px;}
	.sbi-wrapp h2{font-size: 30px; line-height: 35px;}
	h2.title{font-size: 28px; line-height: 40px;}
	.jobsmilelist li{margin: 0 0 20px;}
	.jobsmilelist{max-width: 100%;}
	.jobsmile_left h3 span{font-size: 24px;}

	.jobseeker_mile_sec{padding: 0;}
	.number_holder .number{width: 80px; height: 110px; 
		    margin: 0 10px; transform: scale(.4);
    		transform-origin: 0 center;
	}
	.number_holder .number .flag{max-width: 30px; height: 25px; width: 100%;}
	.sbi-wrapp .content{padding: 50px 0;}
	.content__img{top: -330px; max-width: 200px;}
	.slider-nav1.slick-slider .slick-list{top: -40px;}

	.jobseekerlogin{
		display: table; margin:  0 auto;
	}
	.testdiv:before{left: 20px; height: 20px; width: 40px; height: 40px;}
	.jobseekerlogin.invite:after,
	.jobseekerlogin.postjob:after,
	.jobseekerlogin:hover:after{background-size: 18px; background-position:center;}
	.footershare img{
		animation: bannermove 20s linear infinite;
	}
	.lastseven_main{padding-bottom: 20px;}


.slider-for1 .slick-slide >div >div:before{
	position: absolute; content: ""; width: 110%;
	height: 80%; background: #becae8; left: 50%; top: 50%;
	transform: translate(-50%,-50%) rotateX(0deg); border-radius: 20px;
	z-index: 1; transition: .5s;
}
.slider-for1 .slick-slide >div >div:after{
	position: absolute; content: ""; width: 105%;
	height: 70%; background: #e4eaf9; left: 50%; top: 50%;
	transform: translate(-50%,-50%) rotateX(0deg); border-radius: 20px;
	z-index:0; transition: 1s;
}

.slider-for1 .slick-slide.slick-current >div >div:before{
	 left: 50%; top: 50%;
	transform: translate(-50%,-50%) rotateX(0deg);  
	z-index: 1; width: 105%;
}
.slider-for1 .slick-slide.slick-current >div >div:after{
	 left: 50%; top: 50%; width: 110%;
	transform: translate(-50%,-50%) rotateX(0deg); 
	z-index: 0;
}

.logo{
	margin-bottom: 15px;
}

.sticky .logo{
	margin-bottom: 10px;
}

.bannerleft{
	margin-top: 28px;
	text-align: center;
}

.placement span.line11{
	bottom: 50px;
	right: 58px;
	font-size: 26px;
}

.mileholder .imgdiv{
	right: 0;
}

.jobsmile_main .tophd h2{
	text-align: center;
}

.jobseekerlogin{
	font-size: 12px;
	padding-top: 16px;
}

.jobseekerlogin.recruiter1:after {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    background: url(../images/recruiter.png) no-repeat 0 0;
    left: 15px;
    top: 55%;
    transform: translate(0,-50%) rotateY(0deg);
    -webkit-transform: translate(0,-50%) rotateY(0deg);
    position: absolute;
    width: 30px;
    height: 29px;
    content: "";
    background-size: 20px;
}

.jobseekerlogin.recruiter1:hover:after{
	background-size: 20px;
    background-position: center;
	left: 2px !important;
}

.jobseekerlogin:after, .cmn_lgin_btn:after{
    background-size: 16px !important;
    left: 8px !important;
}

.footertop .cmn_lgin_btn,.cmn_lgin_btn{
		padding-left: 30px;
	}

.jobs_mile_sec{
	padding-top:35px;
}	
.jobsmile_main {
    padding-top: 20px;
}

.jobsmile_left.jobsmile_heading_text{
	flex-wrap:wrap;
}
.jobsmile_left.jobsmile_heading_text h3{
	font-size:22px;
	width:100%;
	margin-bottom:25px;
}
.jobsmile_left h3 span {
    font-size: 20px;
}
.jobseeker_right.slider_jobseeker_right{
	padding-bottom: 50px;
}

.footershare{
	padding:58px 0 0 0;
}

.site-header a.jobseekerlogin{
	font-size: 12px !important;
    padding: 10px 14px 10px 30px!important;
}

.social li {
    margin: 5px;
    width: auto;
	text-align: left;
}

.unlimited_main{
	padding-top: 15px;
}
.jobseeker_main{
	padding-top: 35px;
	text-align: center;
}
.jobsmilelist{
	padding-left:35px;
}
.jobseeker_main .tophd h2,
.jobsmile_left.jobsmile_heading_text h3{
	text-align: center;
}
.anywhere{
	display: table;
	margin: 0 auto;
}
.job{
	margin-left: -40px;
}
.jobseekerlogin.invite{
	padding: 12px 40px !important;
    font-size: 16px !important;
    font-weight: 500;
}

.jobseekerlogin.invite:after{
	background-size: 22px !important;
}

.slider-for1 .slick-prev,
.slider-for1 .slick-next{
	position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    border: none;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background: #4c6ec0;
    top: 50%;
    z-index:9;
    transform: translate(0,-50%);
}

.slider-for1 .slick-next{
	left: auto;
	right: 0;
}
.slider-for1 .slick-prev:after,
.slider-for1 .slick-next:after{
    content: "";
    width: 13px;
    height: 13px;
    border: 2px solid #fff;
    top: 8px;
    left: 10px;
    position: absolute;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.slider-for1 .slick-next:after{
	transform: rotate(128deg);
	left: auto;
	right: 10px;
	-webkit-transform: rotate(128deg);
	-moz-transform: rotate(128deg);
	-ms-transform: rotate(128deg);
	-o-transform: rotate(128deg);
}

.jobsmile_right .tophd.formb{
	display: block;
	margin-bottom: 35px;
}
.jobsmile_right .tophd.formb .title{
	color: #1754ca;
}
.tophd.mb-hidden{
	display: none;
}
	

}


@media (max-width:479px){
	.headerhold{flex-wrap: wrap; justify-content: center;}
	.job span.line2{width: 250px;}
	.job span.line2 img{ width: 100%; }
	.in-view .job span.line1 {
		left: 51px;
		top: 50px;
	}
	.job span.line1{letter-spacing: 5px;}
	.job{font-size: 20px;}
	.job span{letter-spacing: 6px;}
	.job span.line3{font-size: 25px; right: -22px;}
	.anywhere span.line6{font-size: 30px;}
	.anywhere span.line6:first-letter{font-size:75px;}
	.anywhere span.line5{font-size:24px;}
	.in-view .anywhere span.line5{left: 58px;}
	.anywhere span.line5{top: 15px;}
	.flagslider >h3{padding: 12px 20px; font-size: 18px;}
	.sbi-wrapp h2{font-size: 22px; line-height: 26px;}
	.jobsmile_left h4{font-size: 18px; margin: 0 0 25px;}
	.jobseeker_main .tophd, .jobsmile_main .tophd {
	    margin: 0 0 12px;
	}
	.jobsmile_main .tophd h2{padding: 0;}
	.jobsmilelist li .text{font-size: 16px; line-height: 22px; width: 75%;}
	.jobsmile_left h3{font-size: 22px;}
	.mileholder .imgdiv{
		    transform: scale(.8);
	}
	h2.title{font-size: 22px; line-height: 30px;}
	.placement span.line10{width: 290px;}
	.placement span.line10 img{width: 100%;}
	.placement span.line9{font-size: 15px; letter-spacing: 0;}
	.in-view .placement span.line9{left: 70px; top: 10px;}
	.placement span.line11{font-size: 26px; bottom: 50px;}
	.testimg{transform: scale(.8); -webkit-transform: scale(.8);}
	.unlimited_right h2{color: #ffffff;}
	.unlimited_right h2 span{padding: 0;}
	body{font-size: 14px; line-height: 22px;}
	.testdiv p{max-width: inherit;}
	.wrapper{overflow: hidden;}

	.number_holder{margin: 0 0 60px;}
	.number_holder .number{    width: 80px;
    height: 70px;
    margin: 0 2px;
    transform: scale(.2);
    transform-origin: 0 center;
	}
	.number_holder .number .flag{max-width: 30px; height: 25px; width: 100%;}
	.anywhere span.line7, .anywhere span.line8{
		font-size: 22px;
	}
}



